/*стили для селекта*/
@import url("chosen.css");
/*******************/

.wrap-div {width:975px; margin:0 auto; position:relative; z-index:1;}
.wrap-div ul {margin: 0px; padding: 0px;}
.wrap-div li{vertical-align:bottom; list-style:none;}
.wrap-div h2 {font:24px Georgia, "Times New Roman", Times, serif; color:#1a1a1a; margin-bottom:22px; position:relative;}
.gray-block {background:#f2f2f2; padding:20px 28px; font:12px/18px Georgia; color:#1a1a1a; margin-bottom:30px;}
.al-right {text-align:right; overflow:hidden; font:Italic 12px/36px Georgia; color:#1a1a1a;}
.submit-blue-plus {float:none; background:url(images/blue-plus.png) 12px 50% no-repeat #24a6cf; width:auto !important; border:0; padding:10px 18px 10px 28px; color:#fff; font:12px Georgia; text-transform:uppercase; float:right; margin-left:12px;}
.pane .menu-horizontal-sub {margin-bottom:36px;}
.pane .menu-horizontal-sub li {display:inline; margin-right:24px; color:#1a1a1a; font:12px Georgia; text-transform:uppercase;line-height: 16px;}
.pane .menu-horizontal-sub a {color:#1a1a1a; font:12px Georgia; text-transform:uppercase;line-height: 16px;}

.pane .menu-horizontal-sub .active a{text-decoration: none;cursor: default;}


.my_rest ul strong {float:left; width:164px; padding-top:9px; font:14px Georgia; color:#1a1a1a;}
.my_rest ul p.inpwrap {position: relative;}

.inpwrap b{position: absolute;background: url('arrow.png') no-repeat 0px 0px;width:7px;height:6px;display: block;right:17px;top:20px;}

.my_rest li.item-row:after {content:''; clear:both; display:block; overflow:hidden}
.my_rest li.item-row {margin-bottom:0px}
.my_rest ul input {width:785px; padding:11px; border:1px solid #f2f2f2;background: url(images/input_bg.png) 0px 0px repeat-x;outline: none;font-size: 14px;}
.my_rest ul input.checkbox {width:auto; margin-top:5px; border:1px solid #aaa;}

.my_rest ul li.ir2 input{width:200px;}
.my_rest ul li.ir2 p.inpwrap{float:left;}
.my_rest ul li.ir2 p.marg2{margin-right:200px;}
.my_rest ul li.ir2 strong.nw{width: 50px;} 

.my_rest ul input.submit { border:0; background:#f2f2f2; padding:10px 18px; color:#1a1a1a; font:12px Georgia; text-transform:uppercase; float:right;width:auto;margin-top:-5px;margin-bottom: 20px;cursor:pointer; }

.new_prod{border-bottom: 0px solid #AAA;padding-bottom: 10px;margin-bottom: 15px;}


.my_rest ul textarea {width:793px; padding:8px; border:1px solid #aaa; height:132px; font:12px Georgia}
.my_rest ul .fl-right {float:right}

.my_rest li.item-row.flr input {width:470px}
.my_rest li.item-row.flr .fl-right input {width:100px; margin-left:12px}
.search-choice span {font:12px Georgia !important; color:#1a1a1a; padding:0 4px 0 0}
.my_rest .default {top:3px; position:relative;}
input.submit-blue {width:auto !important; border:0; background:#24a6cf; padding:10px 18px; color:#fff; font:12px Georgia; text-transform:uppercase; float:right; margin-top:10px; margin-bottom:12px;}
input.submit-gray {width:auto; border:0; background:#3b414e; padding:10px 18px; color:#fff; font:12px Georgia; text-transform:uppercase; float:right; margin-top:10px; margin-bottom:12px; position:relative; right:-106px;}

a.gray-link {padding:11px 18px; color:#1a1a1a; font:12px Georgia; text-transform:uppercase; float:left; margin-top:10px; margin-bottom:12px; text-decoration:none; margin-left:-18px;}
.mail-actions {overflow:hidden;}


.my_rest input.submit-blue { background:#24a6cf !important; padding:10px 18px; color:#fff; font:12px Georgia; text-transform:uppercase; float:right; margin-top:10px; margin-bottom:12px;cursor: pointer;border:0px ;}
.my_rest input.submit-gray {width:auto; border:0; background:#3b414e; padding:10px 18px; color:#fff; font:12px Georgia; text-transform:uppercase; float:right; margin-top:10px; margin-bottom:12px; position:relative; right:-106px;}
.my_rest .niceCheck {
    width: 33px;
    height: 33px;
    display: inline-block;
    cursor: pointer;
    background: url(/tpl/images/checkbox-sprite.png);
}

.wrap-div .panes div.pane {
    padding-top: 0px;
}
.one_file {
    margin-bottom: 3px;
}
/*custom upload elements*/
.my_rest .customfile-input { position: absolute; height: 32px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999;  }

.my_rest .customfile {cursor: pointer; overflow: hidden; position: relative; }
.my_rest .customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.my_rest .customfile-feedback { display: block;overflow:hidden;}

.my_rest .customfile-button {background-color:#F2F2F2;width:85px;height:34px;color:#1A1A1A;display: block;margin:0 auto;line-height: 34px;text-transform: uppercase;text-align: center;font-size: 12px;font-family: Georgia;  }
.my_rest .customfile-hover .customfile-button, .customfile-focus .customfile-button  { }
.my_rest .customfile-focus .customfile-button {outline: 1px dotted #ccc;}

.my_rest .customfile-button{float:right;}
.my_rest .customfile-feedback{background-color: #fff;height: 32px;line-height: 32px;padding-left: 13px;font-size: 14px;font-family: Georgia;color:#1A1A1A;margin-right: 10px;border:1px solid #AAA;}



.buts{position: relative;padding-top: 25px;overflow: hidden;padding-bottom: 25px;}
.buts .lb{float:left;width:50%;}
.buts .lb a{float:right;display: block;height:33px;line-height: 33px;color:#1a1a1a;background-color:#f2f2f2;font-size: 16px;font-family: Georgia;text-decoration: none;padding-left:23px;padding-right: 23px;margin-right: 5px; }
.buts .rb{float:right;width:50%;}
.buts .rb a{float:left;display: block;height:33px;line-height: 33px;color:#fff;background-color:#24a6cf;font-size: 16px;font-family: Georgia;text-decoration: none;padding-left:23px;padding-right: 23px;margin-left: 5px; }
.buts .sbut{float:right;display: block;height:33px;line-height: 33px;color:#fff;background-color:#24a6cf;font-size: 16px;font-family: Georgia;text-decoration: none;padding-left:23px;padding-right: 23px;margin-left: 5px;}

.buts2{position: relative;overflow: hidden;padding-bottom: 15px;}
.buts2 a{float:right;display: block;height:33px;line-height: 33px;color:#fff !important;background-color:#24a6cf;font-size: 16px;font-family: Georgia;text-decoration: none;padding-left:23px;padding-right: 23px;margin-left: 5px;}

li.blfirst{border-top:1px dotted #000;padding-top:13px;}
li.bllast{border-bottom:1px dotted #000;}
.name {
    width: 200px;
    position: relative;
    float: left;
    height: 50px;
    text-align: left;
    padding-right: 20px;
    line-height: 50px;
    font-size:14px;
}
.dname {
    margin-top: 5px;
}
input.pole { width: 730px !important;}
.chzn-choices { width: 730px !important;}
.chzn-container { width: 740px !important;}