.portion {
position: absolute;
border-radius: 64px;
width: 128px;
height: 108px;
background: #ffe826;
right: 15px;
top: 15px;
font-family: "appetite";
font-size: 18px;
text-align: center;
padding-top: 20px;
}
.portion div {
font-size: 48px;
line-height: 48px;
}