.mail-autor a{outline:none; color:#30c5f0!important;}
.mail-text a {outline:none; color:#30c5f0!important;}
.mail-autor a:hover {text-decoration:none}
.mail input, button{vertical-align:middle; overflow:visible;}
.mail textarea{vertical-align:top;}
.mail label{float:left; text-align:right; margin-right:15px; width:100px;}
.mail hr, img, object{border:0;}
.mail hr{color:#ccc; background:#ccc; height:1px; margin:7px 0;}
.wrap-div {width:975px; margin:0 auto;}
a.gray-link {padding:11px 18px; color:#1a1a1a; font-size:12px; text-transform:uppercase; float:left; margin-top:10px; margin-bottom:12px; text-decoration:none; margin-left:-18px;}
input.submit-blue {width:auto !important; border:0; background:#24a6cf; padding:10px 18px; color:#fff; font:12px Georgia; text-transform:uppercase; float:right; margin-top:10px; margin-bottom:12px;}
input.submit-gray {width:auto; border:0; background:#3b414e; padding:10px 18px; color:#fff; font:12px Georgia; text-transform:uppercase; float:right; margin-top:10px; margin-bottom:12px; position:relative; right:-106px;}

.mail-actions {overflow:hidden;}
table.mail {border-collapse:collapse; border-spacing:0; empty-cells:show;}
.mail {width:100%; font-size:12px; line-height:19px; color:#1a1a1a;}
.mail td {padding:14px;}
.mail tr.active {background:#f5f5f5;}
.mail tr.active .mail-avatar {background:#f5f5f5;}
.mail tr.active .mail-who {background:#f5f5f5;}

.mail .mail-avatar {background:#fff;}
.mail .mail-who {white-space:nowrap; background:#fff; padding-right:28px;}
.mail .mail-text {padding-left:0}

.mail .mail-autor {}
.mail .mail-del {width:64px; text-align:right;}
.mail .mail-del p{background:url(images/icon-delete.gif) no-repeat 0 0;padding-left: 30px; line-height:15px;}
.mail .mail-del a {color:#1a1a1a; }
.mail .mail-text textarea {width:100%; height:136px; border:1px solid #d7d7d7; margin-top:24px}

tr.dotted {background:url(images/border-1px.gif) 0 100% repeat-x;}
tr.solid {border-bottom:1px solid #000;}