.rest_list th
{
    border-bottom:1px solid #1a1a1a;    
    text-align:left;
    font-size:12px;
    line-height:16px;   
}
.rest_list td
{
    background:url(/tpl/images/dot.png) left bottom repeat-x;
    font-size:14px;
}
.rest_list .help_ico
{
    height: 16px;
    width:16px;
    float:right;
    background:url(/bitrix/js/main/core/images/hint.gif) left top no-repeat;
}
.rest_list .menu_button
{
    height: 16px;
    width:16px;
    float:left;
    background:url(images/menu2.png) left top no-repeat;
}
.rest_list .edit_button
{
    height: 16px;
    width:16px;
    float:left;
    background:url(images/edit.png) left top no-repeat;
    margin-right:10px;
}