#auth {
    position:relative;
    width:400px;
}
#auth .title {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #000;
    font-weight: 800;
    margin-bottom: 15px;
    
}
#auth .forget {
    position: absolute;
    top: 15px;
    right: 0px;
}
#auth .form-control {
    height: 38px;
    border-radius: 0px;
    border-color: #dde4e6;
    height: 40px;
}