/*
* jQuery Mobile Framework Git Build: SHA1: c2d61e2e592c67519d9a9ed0ba796fa44787e136 <> Date: Tue Sep 25 10:38:12 2012 -0700
* http://jquerymobile.com
*
* Copyright 2012 jQuery Foundation and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
*/
@font-face{font-family:'appetite';src:url('/tpl/fonts/appetite-italic-webfont.eot');src:url('/tpl/fonts/appetite-italic-webfont.eot?#iefix') format('embedded-opentype'),
               url('/tpl/fonts/appetite-italic-webfont.woff') format('woff'),
               url('/tpl/fonts/appetite-italic-webfont.ttf') format('truetype'),
               url('/tpl/fonts/appetite-italic-webfont.svg#appetite') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'appetite_n';src:url('/tpl/fonts/appetite-webfont.eot');src:url('/tpl/fonts/appetite-webfont.eot?#iefix') format('embedded-opentype'),
                                                                                                                         url('/tpl/fonts/appetite-webfont.woff') format('woff'),
                                                                                                                         url('/tpl/fonts/appetite-webfont.ttf') format('truetype'),
                                                                                                                         url('/tpl/fonts/appetite-webfont.svg#appetite_n') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'rouble';src:url('/tpl/fonts/rouble-webfont.eot');src:url('/tpl/fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
                                                                                                                    url('/tpl/fonts/rouble-webfont.woff') format('woff'),
                                                                                                                    url('/tpl/fonts/rouble-webfont.ttf') format('truetype'),
                                                                                                                    url('/tpl/fonts/rouble-webfont.svg#rouble') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'tenge';src:url('/tpl/fonts/tenge-webfont.eot');src:url('/tpl/fonts/tenge-webfont.eot?#iefix') format('embedded-opentype'),
                                                                                                              url('/tpl/fonts/tenge-webfont.woff') format('woff'),
                                                                                                              url('/tpl/fonts/tenge-webfont.ttf') format('truetype'),
                                                                                                              url('/tpl/fonts/tenge-webfont.svg#tengeregular') format('svg');font-weight:normal;font-style:normal}

/* Swatches */

/* A
-----------------------------------------------------------------------------------------------------------*/
html,body
{    
    background:white!important;
}
/*#header
{

    border:0px!important;
    max-width: 1024px!important;        
    box-shadow: 0px 0px 10px #1a1a1a;
    background: white;
}*/
#header
{

    border:0px!important;
    max-width: 1024px!important;        
    box-shadow: 0px 0px 10px #1a1a1a;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #414858 /*{a-bar-background-start}*/), to( #2d323a /*{a-bar-background-end}*/))!important;
    background-image: -webkit-linear-gradient( #414858 /*{a-bar-background-start}*/, #2d323a /*{a-bar-background-end}*/)!important; 
    background-image:    -moz-linear-gradient( #414858 /*{a-bar-background-start}*/, #2d323a /*{a-bar-background-end}*/)!important; 
    background-image:     -ms-linear-gradient( #414858 /*{a-bar-background-start}*/, #2d323a /*{a-bar-background-end}*/)!important; 
    background-image:      -o-linear-gradient( #414858 /*{a-bar-background-start}*/, #2d323a /*{a-bar-background-end}*/)!important; 
    background-image:         linear-gradient( #414858 /*{a-bar-background-start}*/, #2d323a /*{a-bar-background-end}*/)!important;
}
#content
{
    position: relative;
    overflow: hidden;
}
#page
{    
    max-width: 1024px!important;        
    box-shadow:0px 0px 5px #1a1a1a;
}
#page .ui-panel-content-wrap
{
    background: white !important;    
}
#page .ui-panel
{
    background-image: -webkit-gradient(linear, left top, left bottom, from( #414858 /*{a-bar-background-start}*/), to( #2d323a /*{a-bar-background-end}*/))!important;
    background-image: -webkit-linear-gradient( #414858 /*{a-bar-background-start}*/, #2d323a /*{a-bar-background-end}*/)!important; 
    background-image:    -moz-linear-gradient( #414858 /*{a-bar-background-start}*/, #2d323a /*{a-bar-background-end}*/)!important; 
    background-image:     -ms-linear-gradient( #414858 /*{a-bar-background-start}*/, #2d323a /*{a-bar-background-end}*/)!important; 
    background-image:      -o-linear-gradient( #414858 /*{a-bar-background-start}*/, #2d323a /*{a-bar-background-end}*/)!important; 
    background-image:         linear-gradient( #414858 /*{a-bar-background-start}*/, #2d323a /*{a-bar-background-end}*/)!important;  
}

.ui-loader-verbose {
    margin-top: 0px !important;
}
.ui-loader {
    opacity: 0.9;
    margin-top: 0px !important;
    border:0px!important;
    box-shadow: none !important;
}

.find-rest .ui-btn-text {
    font-size: 30px !important; 
}
.find-rest {
    margin-bottom: 0px; 
}
.-rest .ui-btn-text {
    font-size: 30px !important; 
}

.new-loader {
    opacity: 0.8;
    padding: 15px; 
    border-radius: 5px; 
    text-align: center; 
    color: white; 
    font-size: 14px; 
    font-family: Arial; 
    font-weight: bold; 
    border: 0 !important;
    box-shadow: 0 !important;
    background: black!important;
}
.ui-btn-inner {
    /*padding: 0.3em 11px 0.5em !important;*/
}


.ui-btn-hover-a {
    font-weight: normal !important;
}
.ui-btn-hover-b {
    font-weight: normal !important;
}
.ui-btn-hover-c {
    font-weight: normal !important;
}
.ui-btn-hover-d {
    font-weight: normal !important;
}
.ui-btn-hover-e {
    font-weight: normal !important;
}
.ui-btn {
    font-weight: normal !important;
}
.ui-btn-up-b {
    color: #FFFFFF;
    font-weight: normal !important;
    text-shadow: 0 0 0 #194B7E;
    border: 0px solid #cccccc /*{c-bup-border}*/;
    background: rgb(44,206,228); /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, from( #0093d0 /*{global-active-background-start}*/), to( #2095ba /*{global-active-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #0093d0 /*{global-active-background-start}*/, #2095ba /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #0093d0 /*{global-active-background-start}*/, #2095ba /*{global-active-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #0093d0 /*{global-active-background-start}*/, #2095ba /*{global-active-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #0093d0 /*{global-active-background-start}*/, #2095ba /*{global-active-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #0093d0 /*{global-active-background-start}*/, #2095ba /*{global-active-background-end}*/);


}

.ui-shadow {
    -webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.35) !important;
    -moz-box-shadow:    0px 2px 2px rgba(50, 50, 50, 0.35) !important;
    box-shadow:         0px 2px 2px rgba(50, 50, 50, 0.35) !important;
}

.ui-btn-hover-b {
    border: 0px solid #cccccc /*{c-bup-border}*/;
    background: rgb(44,206,228); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjY2VlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzFlOTljNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyY2NlZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgb(44,206,228) 0%, rgb(30,153,199) 96%, rgb(44,206,228) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(44,206,228)), color-stop(96%,rgb(30,153,199)), color-stop(100%,rgb(44,206,228))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(44,206,228) 0%,rgb(30,153,199) 96%,rgb(44,206,228) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(44,206,228) 0%,rgb(30,153,199) 96%,rgb(44,206,228) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(44,206,228) 0%,rgb(30,153,199) 96%,rgb(44,206,228) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgb(44,206,228) 0%,rgb(30,153,199) 96%,rgb(44,206,228) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ccee4', endColorstr='#2ccee4',GradientType=0 ); /* IE6-8 */




}
.ui-bar-a {
    /*border: 1px solid #b3b3b3 ;*/
    background: #2d323a /*{a-bar-background-color}*/;
    color: black /*{a-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{a-bar-shadow-x}*/ 0px /*{a-bar-shadow-y}*/ 0px /*{a-bar-shadow-radius}*/ grey /*{a-bar-shadow-color}*/;
    background: rgb(45,208,229); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(45,208,229,1) 0%, rgba(30,152,199,1) 92%, rgba(57,179,215,1) 93%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,208,229,1)), color-stop(92%,rgba(30,152,199,1)), color-stop(93%,rgba(57,179,215,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(45,208,229,1) 0%,rgba(30,152,199,1) 92%,rgba(57,179,215,1) 93%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(45,208,229,1) 0%,rgba(30,152,199,1) 92%,rgba(57,179,215,1) 93%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(45,208,229,1) 0%,rgba(30,152,199,1) 92%,rgba(57,179,215,1) 93%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(45,208,229,1) 0%,rgba(30,152,199,1) 92%,rgba(57,179,215,1) 93%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2dd0e5', endColorstr='#39b3d7',GradientType=0 ); /* IE6-9 */


}
.ui-bar-a .ui-link-inherit {
    color: #ffffff /*{a-bar-color}*/;
}

.ui-bar-a a.ui-link {
    color: #7cc4e7 /*{a-bar-link-color}*/;
    font-weight: bold;
}

.ui-bar-a a.ui-link:visited {
    color: #FFF /*{a-bar-link-visited}*/;
}

.ui-bar-a a.ui-link:hover {
    color: #2489ce /*{a-bar-link-hover}*/;
}

.ui-bar-a a.ui-link:active {
    color: #2489ce /*{a-bar-link-active}*/;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
    font-family: Arial, sans-serif /*{global-font-family}*/;
}

.ui-btn-text {
    /*font-family: appetite !important;*/    
    font-size: 100% !important;
    font-weight:bold!important;    
}

.ui-body-a,
.ui-overlay-a {

    color: black /*{a-body-color}*/;
    text-shadow: 0 /*{a-body-shadow-x}*/ 0px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ grey /*{a-body-shadow-color}*/;
    background: white !important;
}
.ui-body-a, .ui-overlay-a {
    background-image: none!important;        
    background: none!important;        
    border-width: 0;
}
.ui-content {
    background-image: none!important;        
    background: none!important;        
    border-width: 0;
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
    font-family: Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-a .ui-link-inherit {
    color: #acb3bf /*{a-body-color}*/;
}

.ui-body-a .ui-link {
    color: #2489CE /*{a-body-link-color}*/;
    font-weight: bold;
}

.ui-body-a .ui-link:visited {
    color: #2489CE /*{a-body-link-visited}*/;
}

.ui-body-a .ui-link:hover {
    color: #24a6cf /*{a-body-link-hover}*/;
}

.ui-body-a .ui-link:active {
    color: #24a6cf /*{a-body-link-active}*/;
}

.ui-btn-up-a {
    border: 1px solid #cccccc /*{a-bup-border}*/;
    background: #eeeeee /*{a-bup-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{a-bup-color}*/;
    text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #ffffff /*{a-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #eeeeee /*{a-bup-background-start}*/), to( #eeeeee /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #eeeeee /*{a-bup-background-start}*/, #eeeeee /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #eeeeee /*{a-bup-background-start}*/, #eeeeee /*{a-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #eeeeee /*{a-bup-background-start}*/, #eeeeee /*{a-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #eeeeee /*{a-bup-background-start}*/, #eeeeee /*{a-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #eeeeee /*{a-bup-background-start}*/, #eeeeee /*{a-bup-background-end}*/);
}
.ui-btn-up-a:visited,
.ui-btn-up-a a.ui-link-inherit {
    color: #2f3e46 /*{a-bup-color}*/;
}
.ui-btn-hover-a {
    border: 1px solid #bbbbbb /*{a-bhover-border}*/;
    background: #dfdfdf /*{a-bhover-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{a-bhover-color}*/;
    text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #ffffff /*{a-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{a-bhover-background-start}*/), to( #e0e0e0 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
    color: #2f3e46 /*{a-bhover-color}*/;
}
.ui-btn-down-a {
    border: 1px solid #bbbbbb /*{a-bdown-border}*/;
    background: #d6d6d6 /*{a-bdown-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{a-bdown-color}*/;
    text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #ffffff /*{a-bdown-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{a-bdown-background-start}*/), to( #dfdfdf /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #d0d0d0 /*{a-bdown-background-start}*/, #dfdfdf /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #d0d0d0 /*{a-bdown-background-start}*/, #dfdfdf /*{a-bdown-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #d0d0d0 /*{a-bdown-background-start}*/, #dfdfdf /*{a-bdown-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #d0d0d0 /*{a-bdown-background-start}*/, #dfdfdf /*{a-bdown-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #d0d0d0 /*{a-bdown-background-start}*/, #dfdfdf /*{a-bdown-background-end}*/);
}
.ui-btn-down-a:visited,
.ui-btn-down-a:hover,
.ui-btn-down-a a.ui-link-inherit {
    color: #2f3e46 /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
    font-family: Arial, sans-serif /*{global-font-family}*/;
    text-decoration: none;
}


/* B
-----------------------------------------------------------------------------------------------------------*/


/* C
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-c {
    border: 1px solid #b3b3b3 /*{c-bar-border}*/;
    background: #eeeeee /*{c-bar-background-color}*/;
    color: #3e3e3e /*{c-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{c-bar-shadow-x}*/ 1px /*{c-bar-shadow-y}*/ 1px /*{c-bar-shadow-radius}*/ #ffffff /*{c-bar-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f0f0f0 /*{c-bar-background-start}*/), to( #dddddd /*{c-bar-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/);
}
.ui-bar-c .ui-link-inherit {
    color: #3e3e3e /*{c-bar-color}*/;
}

.ui-bar-c a.ui-link {
    color: #7cc4e7 /*{c-bar-link-color}*/;
    font-weight: bold;
}

.ui-bar-c a.ui-link:visited {
    color: #2489ce /*{c-bar-link-visited}*/;
}

.ui-bar-c a.ui-link:hover {
    color: #2489ce /*{c-bar-link-hover}*/;
}

.ui-bar-c a.ui-link:active {
    color: #2489ce /*{c-bar-link-active}*/;
}

.ui-bar-c,
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button {
    font-family: Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-c,
.ui-overlay-c {
    border: 1px solid #aaaaaa /*{c-body-border}*/;
    color: #333333 /*{c-body-color}*/;
    text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #ffffff /*{c-body-shadow-color}*/;
    background: #f9f9f9 /*{c-body-background-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{c-body-background-start}*/), to( #eeeeee /*{c-body-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/);
}
.ui-overlay-c {
    background-image: none;
    border-width: 0;
}
.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
    font-family: Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-c .ui-link-inherit {
    color: #333333 /*{c-body-color}*/;
}

.ui-body-c .ui-link {
    color: #2489ce /*{c-body-link-color}*/;
    font-weight: bold;
}

.ui-body-c .ui-link:visited {
    color: #2489ce /*{c-body-link-visited}*/;
}

.ui-body-c .ui-link:hover {
    color: #2489ce /*{c-body-link-hover}*/;
}

.ui-body-c .ui-link:active {
    color: #2489ce /*{c-body-link-active}*/;
}

.ui-btn-up-c {
    border: 1px solid #cccccc /*{c-bup-border}*/;
    background: #eeeeee /*{c-bup-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{c-bup-color}*/;
    text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #ffffff /*{c-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
.ui-btn-up-c:visited,
.ui-btn-up-c a.ui-link-inherit {
    color: #2f3e46 /*{c-bup-color}*/;
}
.ui-btn-hover-c {
    border: 1px solid #bbbbbb /*{c-bhover-border}*/;
    background: #dfdfdf /*{c-bhover-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{c-bhover-color}*/;
    text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #ffffff /*{c-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{c-bhover-background-start}*/), to( #e0e0e0 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/);
}
.ui-btn-hover-c:visited,
.ui-btn-hover-c:hover,
.ui-btn-hover-c a.ui-link-inherit {
    color: #2f3e46 /*{c-bhover-color}*/;
}
.ui-btn-down-c {
    border: 1px solid #bbbbbb /*{c-bdown-border}*/;
    background: #d6d6d6 /*{c-bdown-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{c-bdown-color}*/;
    text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #ffffff /*{c-bdown-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{c-bdown-background-start}*/), to( #dfdfdf /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/);
}
.ui-btn-down-c:visited,
.ui-btn-down-c:hover,
.ui-btn-down-c a.ui-link-inherit {
    color: #2f3e46 /*{c-bdown-color}*/;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
    font-family: Arial, sans-serif /*{global-font-family}*/;
    text-decoration: none;
}




/* Structure */

/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
    text-decoration: none !important;
}


/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active {
    border: 1px solid #0093d0 /*{global-active-border}*/;
    border-left:0px;
    border-right:0px;
    background: #0093d0 /*{global-active-background-color}*/;
    font-weight: normal;
    color: #ffffff /*{global-active-color}*/;
    cursor: pointer;
    text-shadow: 0px 0px 0px #444444;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #0093d0 /*{global-active-background-start}*/), to( #2095ba /*{global-active-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #0093d0 /*{global-active-background-start}*/, #2095ba /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #0093d0 /*{global-active-background-start}*/, #2095ba /*{global-active-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #0093d0 /*{global-active-background-start}*/, #2095ba /*{global-active-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #0093d0 /*{global-active-background-start}*/, #2095ba /*{global-active-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #0093d0 /*{global-active-background-start}*/, #2095ba /*{global-active-background-end}*/);
    font-family: Arial, sans-serif /*{global-font-family}*/;
}
.ui-btn-active:visited,
.ui-btn-active:hover,
.ui-btn-active a.ui-link-inherit {
    color: #ffffff /*{global-active-color}*/;
}


/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
    border-top: 1px solid 	#fff;
    border-color: 			rgba(255,255,255,.3);
}


/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
    -moz-border-radius-topleft: .4em /*{global-radii-blocks}*/;
    -webkit-border-top-left-radius: .4em /*{global-radii-blocks}*/;
    border-top-left-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-tr {
    -moz-border-radius-topright: .4em /*{global-radii-blocks}*/;
    -webkit-border-top-right-radius: .4em /*{global-radii-blocks}*/;
    border-top-right-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-bl {
    -moz-border-radius-bottomleft: .4em /*{global-radii-blocks}*/;
    -webkit-border-bottom-left-radius: .4em /*{global-radii-blocks}*/;
    border-bottom-left-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-br {
    -moz-border-radius-bottomright: .4em /*{global-radii-blocks}*/;
    -webkit-border-bottom-right-radius: .4em /*{global-radii-blocks}*/;
    border-bottom-right-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-top {
    -moz-border-radius-topleft: .4em /*{global-radii-blocks}*/;
    -webkit-border-top-left-radius: .4em /*{global-radii-blocks}*/;
    border-top-left-radius: .4em /*{global-radii-blocks}*/;
    -moz-border-radius-topright: .4em /*{global-radii-blocks}*/;
    -webkit-border-top-right-radius: .4em /*{global-radii-blocks}*/;
    border-top-right-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
    -moz-border-radius-bottomleft: .4em /*{global-radii-blocks}*/;
    -webkit-border-bottom-left-radius: .4em /*{global-radii-blocks}*/;
    border-bottom-left-radius: .4em /*{global-radii-blocks}*/;
    -moz-border-radius-bottomright: .4em /*{global-radii-blocks}*/;
    -webkit-border-bottom-right-radius: .4em /*{global-radii-blocks}*/;
    border-bottom-right-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-right {
    -moz-border-radius-topright: .4em /*{global-radii-blocks}*/;
    -webkit-border-top-right-radius: .4em /*{global-radii-blocks}*/;
    border-top-right-radius: .4em /*{global-radii-blocks}*/;
    -moz-border-radius-bottomright: .4em /*{global-radii-blocks}*/;
    -webkit-border-bottom-right-radius: .4em /*{global-radii-blocks}*/;
    border-bottom-right-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-left {
    -moz-border-radius-topleft: .4em /*{global-radii-blocks}*/;
    -webkit-border-top-left-radius: .4em /*{global-radii-blocks}*/;
    border-top-left-radius: .4em /*{global-radii-blocks}*/;
    -moz-border-radius-bottomleft: .4em /*{global-radii-blocks}*/;
    -webkit-border-bottom-left-radius: .4em /*{global-radii-blocks}*/;
    border-bottom-left-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-all {
    -moz-border-radius: .4em /*{global-radii-blocks}*/;
    -webkit-border-radius: .4em /*{global-radii-blocks}*/;
    border-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-none {
    -moz-border-radius: 				   0;
    -webkit-border-radius: 				   0;
    border-radius: 						   0;
}

/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
    border-bottom: rgb(130,130,130);
    border-bottom: rgba(130,130,130,.3);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
    filter: Alpha(Opacity=30);
    opacity: .3;
    zoom: 1;
}
.ui-disabled,
.ui-disabled a {
    cursor: default !important;
    pointer-events: none;
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/

/*.ui-icon,
.ui-icon-searchfield:after {
        background: #000000 ;
        background: rgba(0,0,0,0.4) ;
        background-image: url(images/icons-18-white.png) ;
        background-repeat: no-repeat;
        -moz-border-radius: 				9px;
        -webkit-border-radius: 				9px;
        border-radius: 						9px;
}
*/

/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt {
    background: 						#fff;
    background: 						rgba(255,255,255,.3);
    background-image: url(images/icons-18-black.png);
    background-repeat: no-repeat;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {

    .ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
    .ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
    .ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
    .ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after, 
    .ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
        background-image: url(images/icons-36-white.png);
        -moz-background-size: 776px 18px;
        -o-background-size: 776px 18px;
        -webkit-background-size: 776px 18px;
        background-size: 776px 18px;
    }
    .ui-icon-alt {
        background-image: url(images/icons-36-black.png);
    }
}



/* checks,radios */
.ui-checkbox .ui-icon,
.ui-selectmenu-list .ui-icon {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
    background-color: transparent;	
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
    background-color: #24a6cf /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}

/* loading icon */
.ui-icon-loading {
    background: url(images/ajax-loader.gif);
    background-size: 46px 46px;
}


/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-corner-tl {
    -moz-border-radius-topleft: .4em /*{global-radii-buttons}*/;
    -webkit-border-top-left-radius: .4em /*{global-radii-buttons}*/;
    border-top-left-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-tr {
    -moz-border-radius-topright: .4em /*{global-radii-buttons}*/;
    -webkit-border-top-right-radius: .4em /*{global-radii-buttons}*/;
    border-top-right-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bl {
    -moz-border-radius-bottomleft: .4em /*{global-radii-buttons}*/;
    -webkit-border-bottom-left-radius: .4em /*{global-radii-buttons}*/;
    border-bottom-left-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-br {
    -moz-border-radius-bottomright: .4em /*{global-radii-buttons}*/;
    -webkit-border-bottom-right-radius: .4em /*{global-radii-buttons}*/;
    border-bottom-right-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-top {
    -moz-border-radius-topleft: .4em /*{global-radii-buttons}*/;
    -webkit-border-top-left-radius: .4em /*{global-radii-buttons}*/;
    border-top-left-radius: .4em /*{global-radii-buttons}*/;
    -moz-border-radius-topright: .4em /*{global-radii-buttons}*/;
    -webkit-border-top-right-radius: .4em /*{global-radii-buttons}*/;
    border-top-right-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bottom {
    -moz-border-radius-bottomleft: .4em /*{global-radii-buttons}*/;
    -webkit-border-bottom-left-radius: .4em /*{global-radii-buttons}*/;
    border-bottom-left-radius: .4em /*{global-radii-buttons}*/;
    -moz-border-radius-bottomright: .4em /*{global-radii-buttons}*/;
    -webkit-border-bottom-right-radius: .4em /*{global-radii-buttons}*/;
    border-bottom-right-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-right {
    -moz-border-radius-topright: .4em /*{global-radii-buttons}*/;
    -webkit-border-top-right-radius: .4em /*{global-radii-buttons}*/;
    border-top-right-radius: .4em /*{global-radii-buttons}*/;
    -moz-border-radius-bottomright: .4em /*{global-radii-buttons}*/;
    -webkit-border-bottom-right-radius: .4em /*{global-radii-buttons}*/;
    border-bottom-right-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-left {
    -moz-border-radius-topleft: .4em /*{global-radii-buttons}*/;
    -webkit-border-top-left-radius: .4em /*{global-radii-buttons}*/;
    border-top-left-radius: .4em /*{global-radii-buttons}*/;
    -moz-border-radius-bottomleft: .4em /*{global-radii-buttons}*/;
    -webkit-border-bottom-left-radius: .4em /*{global-radii-buttons}*/;
    border-bottom-left-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-all {
    -moz-border-radius: .4em /*{global-radii-buttons}*/;
    -webkit-border-radius: .4em /*{global-radii-buttons}*/;
    border-radius: .4em /*{global-radii-buttons}*/;
}

/* radius clip workaround for cleaning up corner trapping */
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl,
.ui-corner-br,
.ui-corner-top,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-left,
.ui-corner-all,
.ui-btn-corner-tl,
.ui-btn-corner-tr,
.ui-btn-corner-bl,
.ui-btn-corner-br,
.ui-btn-corner-top,
.ui-btn-corner-bottom,
.ui-btn-corner-right,
.ui-btn-corner-left,
.ui-btn-corner-all {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
    background: #666;
    filter: Alpha(Opacity=50);
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
}
.ui-overlay-shadow {
    -moz-box-shadow: 0px 0px 12px 			rgba(0,0,0,.6);
    -webkit-box-shadow: 0px 0px 12px 		rgba(0,0,0,.6);
    box-shadow: 0px 0px 12px 				rgba(0,0,0,.6);
}
.ui-shadow {
    -moz-box-shadow: 0px 2px 5px /*{global-box-shadow-size}*/ rgba(0,0,0,0.6) /*{global-box-shadow-color}*/;
    -webkit-box-shadow: 0px 2px 5px /*{global-box-shadow-size}*/ rgba(0,0,0,0.6) /*{global-box-shadow-color}*/;
    box-shadow: 0px 2px 5px /*{global-box-shadow-size}*/ rgba(0,0,0,0.6) /*{global-box-shadow-color}*/;
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
    -moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.3);
    -webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.3);
    box-shadow: 0px 1px 0 					rgba(255,255,255,.3);
}
.ui-shadow-inset {
    -moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.2);
    box-shadow: inset 0px 1px 4px 			rgba(0,0,0,.2);
}
.ui-icon-shadow {
    -moz-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
    -webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
    box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
}

/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/

.ui-btn:focus, .ui-link-inherit:focus {
    outline: 0;
}
.ui-btn.ui-focus {
    z-index: 1;
}
.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: inset 0px 0px 3px #24a6cf /*{global-active-background-color}*/, 0px 0px 9px #24a6cf /*{global-active-background-color}*/;
    -webkit-box-shadow: inset 0px 0px 3px #24a6cf /*{global-active-background-color}*/, 0px 0px 9px #24a6cf /*{global-active-background-color}*/;
    box-shadow: inset 0px 0px 3px #24a6cf /*{global-active-background-color}*/, 0px 0px 9px #24a6cf /*{global-active-background-color}*/;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
    -moz-box-shadow: 0px 0px 12px #24a6cf /*{global-active-background-color}*/;
    -webkit-box-shadow: 0px 0px 12px #24a6cf /*{global-active-background-color}*/;
    box-shadow: 0px 0px 12px #24a6cf /*{global-active-background-color}*/;	
}

/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile-nosupport-boxshadow * {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus,
.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus {
    outline-width: 1px;
    outline-style: auto;
}

.right
{
    float:right;
}
.left
{
    float:left;
}
.clear
{
    clear:both;
}
/*.ui-footer .ui-btn {
    float: left;
    width: 20%;
    height: 55px;
    border-width: 0 0 0 0;
    border-style: solid;
    border-color: #7c7c67;
    background:#313740;
    margin: 0;
    font-size: 0.75em;
    color: #fff;
    text-shadow: 0px -1px 0px #3d3d32;
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-weight:normal;
}*/

.ui-footer .ui-btn span.ui-btn-inner {
    background: none;
    height: 56px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    /*border-right: 1px solid #474d55;
    border-left: 1px solid #282d34;*/
    display: block;
    -moz-box-shadow: inset -1px 0 0 #49493d;
    -webkit-box-shadow: inset -1px 0 0 #49493d;
    box-shadow: inset -1px 0 0 #49493d;
}
.ui-footer .ui-btn span.ui-btn-text {
    padding: 11px 0 0 0;
    display: block;
}
.ui-footer{
    font-family: Arial;
}
.ui-footer .ui-btn#btn-menu {
    background: url(images/icon_list_bullets.png) no-repeat center 1px;
}
.ui-footer .ui-btn span.ui-btn-text {
    padding: 18px 0 0 0;
    display: block;
    font-size:12px;
}

.ui-btn-up-a {
    border: 1px solid #222;
    background: #333;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #000;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#555),to(#333));
    background-image: -webkit-linear-gradient(#555,#333);
    background-image: -moz-linear-gradient(#555,#333);
    background-image: -ms-linear-gradient(#555,#333);
    background-image: -o-linear-gradient(#555,#333);
    background-image: linear-gradient(#555,#333);
}
.ui-btn-up-a:hover {
    border: 1px solid #222;
    background: #333;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #000;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#555),to(#333));
    background-image: -webkit-linear-gradient(#555,#333);
    background-image: -moz-linear-gradient(#555,#333);
    background-image: -ms-linear-gradient(#555,#333);
    background-image: -o-linear-gradient(#555,#333);
    background-image: linear-gradient(#555,#333);
}

.map_ballon {position:absolute; z-index:99999; color:#FFF; cursor:pointer;}
.map_ballon a {text-decoration: none; border: none;}
.map_ballon .balloon_content { background: #3B414E;padding:10px; z-index:99999; color:#FFF; cursor:pointer;}
.map_ballon .balloon_tail { background: url(/tpl/images/map/g_c.png) center top no-repeat; height:24px;}
.map_ballon:hover {z-index:100000}
.map_ballon:hover .balloon_content { background: #24A6CF;padding:10px; z-index:99999; color:#FFF;}
.map_ballon:hover .balloon_tail { background: url(/tpl/images/map/b_c.png) center top no-repeat; height:24px;}

.gallery-page {
    background: linear-gradient(#424958, #424958) repeat scroll 0 0 transparent;
}

.opinions-page a {
    text-decoration: none;
}
.opinions-page .rating-container {
    float: left;
}

#comments a {
    /*color: white;*/
    font-weight: bold;
}
.title-container a {
    color:#268BD0;
}
.restaurant-block {
    position: relative;
}

.search-page {
    width: 100%;
}
.filter-page {
    width: 100%;
}
#search
{
    height:22px;
    width:50%;

}
#menu
{    
    border:none!important;
    width:47px;
    height:28px;
    background-color: none!important;
    background-image: url("images/menu.png");
}
.ui-icon-myapp-menu {
    background-image: url("images/menu.png");
}

.active-panel {
    background: linear-gradient(#555555, #333333) repeat scroll 0 0 #333333 !important;
    border: 0px solid #222222 !important;
    color: #FFFFFF !important;
    font-weight: bold !important;
    text-shadow: 0 -1px 1px #000000 !important;
}
.active-panel .ui-link-inherit {
    color:white !important;
}













.loading2 {
    height:95px;
    position:relative;
    width:95px;
    float: left;
    margin-left: -47px;
    left: 50%;
    /* css3 transform - scale */
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    -o-transform:scale(0.6);

}
.loading2 > div {
    background-color:#FFFFFF;
    height:20px;
    position:absolute;
    width:20px;

    /* css3 radius */
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;

    /* css3 animation */
    -webkit-animation-name:loading2;
    -webkit-animation-duration:1.04s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -moz-animation-name:loading2;
    -moz-animation-duration:1.04s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -o-animation-name:loading2;
    -o-animation-duration:1.04s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
}
.loading2 > div:nth-child(1) {
    left:0;
    top:40px;

    /* css3 animation */
    -webkit-animation-delay:0.39s;
    -moz-animation-delay:0.39s;
    -o-animation-delay:0.39s;
}
.loading2 > div:nth-child(2) {
    left:10px;
    top:10px;

    /* css3 animation */
    -webkit-animation-delay:0.52s;
    -moz-animation-delay:0.52s;
    -o-animation-delay:0.52s;
}
.loading2 > div:nth-child(3) {
    left:40px;
    top:0;

    /* css3 animation */
    -webkit-animation-delay:0.65s;
    -moz-animation-delay:0.65s;
    -o-animation-delay:0.65s;
}
.loading2 > div:nth-child(4) {
    right:10px;
    top:10px;

    /* css3 animation */
    -webkit-animation-delay:0.78s;
    -moz-animation-delay:0.78s;
    -o-animation-delay:0.78s;
}
.loading2 > div:nth-child(5) {
    right:0;
    top:40px;

    /* css3 animation */
    -webkit-animation-delay:0.91s;
    -moz-animation-delay:0.91s;
    -o-animation-delay:0.91s;
}
.loading2 > div:nth-child(6) {
    right:10px;
    bottom:10px;

    /* css3 animation */
    -webkit-animation-delay:1.04s;
    -moz-animation-delay:1.04s;
    -o-animation-delay:1.04s;
}
.loading2 > div:nth-child(7) {
    left:40px;
    bottom:0;

    /* css3 animation */
    -webkit-animation-delay:1.10s;
    -moz-animation-delay:1.10s;
    -o-animation-delay:1.10s;
}
.loading2 > div:nth-child(8) {
    left:10px;
    bottom:10px;

    /* css3 animation */
    -webkit-animation-delay:1.3s;
    -moz-animation-delay:1.3s;
    -o-animation-delay:1.3s;
}

/* css3 keyframes - loading2 */
@-webkit-keyframes loading2 {
    0%{ background-color:#000000 }
100%{ background-color:#FFFFFF }
}
@-moz-keyframes loading2 {
    0%{ background-color:#000000 }
100%{ background-color:#FFFFFF }
}
@-o-keyframes loading2 {
    0%{ background-color:#000000 }
100%{ background-color:#FFFFFF }
}

.center-text {
    text-align: left;
    color: #FFFFFF;
    font-family: Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    text-shadow: 0 -1px 1px #000000;
}

.review-photo {
    width: 80px;
    float: left;
    margin: 10px 10px 10px 0px;
}