.boxshadow (@x, @y, @z, @c) {
    -webkit-box-shadow: @x @y @z @c;
    -moz-box-shadow: @x @y @z @c;
    box-shadow: @x @y @z @c;		
}
.textshadow (@x, @y, @z, @c) {
    -webkit-text-shadow: @x @y @z @c;
    -moz-text-shadow: @x @y @z @c;
    text-shadow: @x @y @z @c;		
}
.bradius (@r)
{
    -webkit-border-radius: @r;
    -moz-border-radius: @r;
    border-radius: @r;
}

@font-face {
    font-family: 'futurafuturiscregular';
    src: url('fonts/futurafuturisc-1-webfont.eot');
    src: url('fonts/futurafuturisc-1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurafuturisc-1-webfont.woff') format('woff'),
         url('fonts/futurafuturisc-1-webfont.ttf') format('truetype'),
         url('fonts/futurafuturisc-1-webfont.svg#futurafuturiscregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futurafuturislightc';
    src: url('fonts/futurafuturislightc-webfont.eot');
    src: url('fonts/futurafuturislightc-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurafuturislightc-webfont.woff') format('woff'),
         url('fonts/futurafuturislightc-webfont.ttf') format('truetype'),
         url('fonts/futurafuturislightc-webfont.svg#futurafuturislightc') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'futurafuturiscbold';
    src: url('fonts/futurafuturisc-bold-1-webfont.eot');
    src: url('fonts/futurafuturisc-bold-1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurafuturisc-bold-1-webfont.woff') format('woff'),
         url('fonts/futurafuturisc-bold-1-webfont.ttf') format('truetype'),
         url('fonts/futurafuturisc-bold-1-webfont.svg#futurafuturiscbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futurafuturislightcregular';
    src: url('fonts/futurafuturislightc-webfont.eot');
    src: url('fonts/futurafuturislightc-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurafuturislightc-webfont.woff') format('woff'),
         url('fonts/futurafuturislightc-webfont.ttf') format('truetype'),
         url('fonts/futurafuturislightc-webfont.svg#futurafuturislightcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}