* { margin: 0; padding: 0; } 

div#filter_bg {
	background: #24abed url(/globo/bg.jpg) center center no-repeat;
	height:776px;
	padding-top:1px;
	margin-bottom:-71px;
}
.filter {
	display:none;
}
.globo-drink,div#content {
	margin-top:-776px !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	padding-bottom: 726px;
}
.globo-logo {
	margin-top:0px;
	float:left;
	
}
.globo-title {
	float:right;
	font-family: 'pf_din_text_cond_probold';
	font-size: 50px;
	color:#fff;
	margin-top:70px;
}
.globo-text {
	float:right;
	font-family: 'pf_din_text_cond_proregular';
	font-size: 26px;
	color:#fff;
	margin-top:129px;
	text-align: right;
	letter-spacing:1px;
	line-height:30px;
}
.globo-qr {
	float: right;
	margin-top: 410px;
	position: absolute;
	right: 0;
}
.qr-code img {
	border-radius:6px;
}
.qr-text {
	width:570px;
	height:144px;
	background: url(/globo/qr-text.png) top left no-repeat;
	position:absolute;
	margin-left:-422px;
	margin-top: 13px;
}