@import url("jquery-ui-1.8.18.custom.css");
HTML,BODY{margin:0px;padding:0px;height:100%;width:100%;}

BODY{font-family: Georgia;font-size:12px;color:#1a1a1a;line-height: 18px;background-color: #fff;}

a{color:#24a6cf;text-decoration: underline;}
a:hover{text-decoration: none;}
a:focus, input:focus, textarea:focus{outline: 0px none;}
button{outline:0px none;}

a img{border:0px;}

#conteiner {
	position:relative;
	height:auto !important;
	height:100%;
	min-height:100%;
	width: 100%;
	min-width: 1000px;
	width: expression(document.documentElement.clientWidth < 1000 ? "1000px" : "auto");
}

.center{
	width:980px;
	margin:0 auto;
	position: relative;
	height:100%;
}

#ajax_loader{display:none;width:16px;height:11px;position: absolute;background: url(images/ajax-loader.gif) 0% 0% no-repeat; z-index: 9999;}

.ui-icon-gripsmall-diagonal-se{width: 11px;height: 11px;background: url(images/sprite.png) -461px -81px no-repeat;position: absolute;right:5px;bottom:5px; }

.logo{display: block;z-index: 1;position: absolute;left:-12px;top:22px;background: url(images/sprite.png) 0px 0px no-repeat;width:408px;height:132px;}
.user{display: block;z-index: 1;position: absolute;right:0px;font-size: 12px;top:65px;font-style: italic;}
.user a{color:#1a1a1a;text-decoration: underline;margin-left:7px;;}
.user a:hover{text-decoration: none;}

.new_user{display: block;z-index: 1;position: absolute;left:-29px;top:-54px;background: url(images/sprite.png) -407px 0px no-repeat;width:80px;height:81px;}
.but_work{display: block;width:108px;height:28px;background: url(images/sprite.png) -407px -104px no-repeat;}
.save_but{display: block;text-decoration: none;float:left;height:22px;line-height: 22px;color:#fff;background: url(images/grad.gif) 0px 0px;padding-left: 13px;padding-right: 13px;font-size: 16px;margin-left:15px;margin-top: 4px;}

#city_pos{position: absolute;border:1px solid #24A6CF;width:150px;right:200px;top:22px;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter: alpha(opacity=20);-moz-opacity: 0.2;-khtml-opacity: 0.2;opacity: 0.2;
}

#new_sms{float:left;display: block;background: url(images/new_sms.png) 0px 8px no-repeat;margin-left:20px;padding-left: 16px;display: none;}
#new_sms i{font-style: normal;font-size: 20px;text-decoration:blink;color:#f3f016;}
#new_order{float:left;display: block;background: url(images/new_order.gif) 0px 8px no-repeat;margin-left:20px;padding-left: 20px;display: none;cursor:pointer;}
#new_order i{font-style: normal;font-size: 20px;text-decoration:blink;color:#f3f016;}

#new_bonus{float:left;display: block;background: url(images/bonus_icon.png) 0px 8px no-repeat;margin-left:20px;padding-left: 16px;display: none;cursor:pointer;}
#new_bonus i{font-style: normal;font-size: 20px;text-decoration:blink;color:#f3f016;}

.new_order{display: block;background: url(images/new_order.png) 0px 0px no-repeat;width:16px;height:16px;position: absolute;right:7px;top:3px;}

.drag_icon{display: block;position: absolute;right:7px;top:7px;background: url(images/sprite.png) -430px -81px no-repeat;width:16px;height:16px;}
.window{background-color: #f2f2f2;position: absolute;z-index: 10;}
.window .head{background-color: #3b414e;height: 30px;line-height: 30px;font-size: 17px;color:#fff;position: relative;cursor: move;}
.window .head .menu{padding-left: 17px;float:left;}
.window .head .menu a{text-decoration: none;color:#24a6cf;}
.window .head .menu a:hover{text-decoration: underline;}
.window .head .menu a.active{color:#fff;cursor: default;text-decoration: none;}

.window .content{padding:20px;padding-bottom: 10px;}
.window .content .ln{height:20px;line-height: 20px;position: relative;margin-bottom: 5px;}
.window .content .ln .zg{width:105px;text-transform: uppercase;font-size: 9px;position: absolute;left:0px;}
.window .content .ln .zg2{line-height: 11px;top:1px;}
.window .content .ln .pole{padding:0px;line-height: 20px;height:20px;border:0px;font-size: 12px;font-family: Georgia;padding-left: 13px;width:100%;position: relative;z-index: 5;}


.window .content .ln .ugolok{background:#fff url(images/select_off.png) 97% 9px no-repeat;}
.window .content .ln .inpc{margin-left: 105px;margin-right: 13px;position: relative;}
.window .content .ln_sel .inpc{margin-right:0px; }

.window .content .ln .alert{position: absolute;background: url(images/alert.png) 0px 0px no-repeat;width:16px;height:16px;display: block;right:-8px;top:2px;}


.window .content .ln3{line-height: 22px;height:22px;margin-bottom: 0px;}
.window .content .ln4{margin-bottom: 5px;}
.window .content .ln5{line-height: 22px;height:22px;margin-bottom: 10px;margin-top: 5px;}
.window .content .ln2{margin-right: 13px;margin-bottom: 6px;}
.window .content .ln2 .pole{line-height: 18px;height:54px;border:0px;font-size: 12px;font-family: Georgia;padding-left: 13px;width:100%;}

.window .content .dcontrol{text-align: right;margin-bottom: 10px;}
.window .content .dcontrol a{text-decoration: none;color:#1a1a1a;padding-right: 15px;background: url(images/select_off.png) 100% 5px no-repeat;font-size: 12px;}
.window .content .dcontrol a.select_on{background: url(images/select_on.png) 100% 5px no-repeat}
.window .content .dcontrol a i{font-style: normal;border-bottom: 1px dashed #1a1a1a;}
.window .content .dcontrol a:hover i{border:0px;}

.window .content .ln .bl_l{float:left;width:165px;position: relative;}
.window .content .ln .bl_r{float:right;width:165px;position: relative;}

.variants {
    position: absolute;
    background-color: #fff;
    /*width: 100%;*/
    width: 324px;
    max-height: 300px;
    overflow: auto;
    padding-left: 14px;
    display: none;
    z-index: 8000;
}
.variants a{display: block;color:#000000;text-decoration: none;padding-left:13px;height:20px;line-height:20px;font-size: 12px;margin-left: -14px;overflow: hidden;}
.variants a:hover{background-color:#c0cad1;color:#fff;}



.window .content .rinfo{background-color: #fff;padding: 10px;margin-bottom: 10px;overflow: auto;height:115px;}
.window .content .rinfo .il{margin-bottom: 0px;font-size: 11px;}
.window .content .rinfo .metro{height:15px;padding-left: 20px;line-height: 15px;position: relative;}
.window .content .rinfo .metro span{display: block;position: absolute;left:0px;top:0px;background: url(images/sprite.png) -446px -81px no-repeat;width:15px;height:15px;}


.window .content .rinfo .spec_color{color:red;}
.window .content .rinfo .spec_color b{color:#000;}

.flu:first-letter{text-transform: uppercase;} 

.window .paginator{height:22px;line-height: 22px;font-size: 14px;margin-bottom: 0px;margin-top: 5px;}
.window .paginator .sort{float:left;}
.window .paginator .sort a{font-style: italic;text-decoration: none;border-bottom: 1px dotted #24a6cf;}
.window .paginator .sort a:hover{border:0px;}
.window .paginator .sort a.active{font-weight: bold;cursor: default;color:#1a1a1a;border: 0px;font-style: normal;}

.paginator .get_oprator_otchet{display: block;text-decoration: none;float: left;height: 20px;line-height: 20px;color: white;background: url(images/grad.gif) 0px 0px;font-size: 14px;text-align: center;padding-left:20px;padding-right:20px;}
.paginator .print_orders{display: block;text-decoration: none;float: left;height: 20px;line-height: 20px;color: white;background: url(images/grad.gif) 0px 0px;font-size: 14px;text-align: center;padding-left:20px;padding-right:20px;margin-right: 20px;}
.paginator .pay_orders{display: block;text-decoration: none;float: left;height: 20px;line-height: 20px;color: white;background: url(images/grad.gif) 0px 0px;font-size: 14px;text-align: center;padding-left:20px;padding-right:20px;margin-right: 20px;}
.paginator .arch_orders{display: block;text-decoration: none;float: left;height: 20px;line-height: 20px;color: white;background: url(images/grad.gif) 0px 0px;font-size: 14px;text-align: center;padding-left:20px;padding-right:20px;margin-right: 20px;}

.paginator .xls_orders{display: block;text-decoration: none;float: left;height: 20px;line-height: 20px;color: white;background: url(images/grad.gif) 0px 0px;font-size: 14px;text-align: center;padding-left:20px;padding-right:20px;margin-right: 20px;}


.window .paginator .pager{float:right;line-height: 21px;}
.window .paginator .pager a{float:left;margin-left: 8px;}
.window .paginator .pager a:hover{text-decoration: none;}
.window .paginator .pager span{width:22px;height:22px;background: url(images/sprite.png) -408px -81px no-repeat;display: block;float:left;color:#fff;text-align: center;margin-left:8px;}

.window .tbl{}
.window .tbl .c1 div{padding-left: 16px;}
.window .tbl .c2{}
.window .tbl .c3{}


.window .tbl .c00{}
.window .tbl .c11{width:;}
.window .tbl .c22{width:50px;}
.window .tbl .c33{width:;}
.window .tbl .c44{width:;}

.window .tbl .c00 div{padding-left: 16px;}
.window .tbl .c000 div{padding-left: 16px;}
.window .tbl .c0000 div{padding-left: 16px;}

.window .tbl .c44 div{padding-right: 3px;}

.window .tbl .xls_icon{width:16px;height:18px;background: url(images/sprite.png) -538px -105px no-repeat;display: block;}


.window .tbl table{width:100%;}
.window .tbl table tr.hidden{display: none;}
.window .tbl table tr td{padding-bottom: 6px;}

.window .tbl table tr.rabotaem td div{background-color: #b3e8f9;}

.window .tbl table tr td div{padding-top: 2px;padding-bottom: 2px;font-size: 12px;background-color: #dde1e4;cursor: pointer;}
.window .tbl table tr th{text-align: left;font-weight: normal;padding-bottom: 6px;font-size: 9px;text-transform: uppercase;} 
.window .tbl table tr .c11 div{padding-left: 16px;}

.window .tbl .tr_hover td div{background-color: #c0cad1 !important;}
.window .tbl .tr_selected td div{background-color: #24a6cf !important ;color:#000;}

.window .tbl table tr td.date div{background:none;cursor: pointer;padding:0px;padding-left: 16px;}


/*НОВЫЕ ОТЧЕТЫ*/
.window .rep_tbl {padding-right:10px;}
.window .rep_tbl table{}
.window .rep_tbl table th{}
.window .rep_tbl table tr th{text-align: left;font-weight: normal;padding-bottom: 6px;font-size: 9px;text-transform: uppercase;line-height: 10px;padding-left: 16px;} 
.window .rep_tbl table tr td{line-height: 13px;padding-top: 2px;padding-bottom: 2px;font-size: 12px;background-color: #dde1e4;padding-left: 16px;vertical-align: middle;}
.window .rep_tbl table tr td input.pole{padding: 0px;line-height: 20px;height: 20px;border: 0px;font-size: 12px;font-family: Georgia;padding-left:5px;width: 100%;position: relative;z-index: 5;}
.window .rep_tbl table tr.spacer td{background: none;height:5px;padding: 0px;line-height: 0px;font-size: 0px;}
.window .rep_tbl .tr_hover td{background-color: #c0cad1 !important;}
/*************/


/*ЦВЕТА*/
.window .tbl table tr.yello td div{background-color:#fbfb61;}
.window .tbl table tr.sv_zel td div{background-color:#b5f562;}
.window .tbl table tr.zel td div{background-color:#71c207;}

.window .tbl table tr.grey td div{background-color:#c7c7c7;}

.window .tbl table tr.red td div{background-color:#fe5262;}
.window .tbl table tr.black td div{background-color:#252424;color:#fff;}
.window .tbl table tr.blue td div{background-color:#48c7ef;}


.window .tbl table tr.new_sms td div{background-color:#48c7ef;}

.remove_report{display: block;width:16px;height:16px;background: url(images/delete_icon.png) 0px 0px no-repeat;margin:0 auto;margin-top: 1px;margin-bottom: 1px;}
.otvet_sms{display: block;width:16px;height:16px;background: url(images/otvet.png) 0px 0px no-repeat;margin:0 auto;margin-top: 1px;margin-bottom: 1px;}

#position{position: absolute;top:22px;right:0px;}
#position a.clear{display: block;height:20px;line-height: 20px;text-align:center;text-decoration: none;color:#fff;background-color: #24a6cf;padding-left:10px;padding-right: 10px;font-style: italic;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter: alpha(opacity=20);-moz-opacity: 0.2;-khtml-opacity: 0.2;opacity: 0.2;}



.pos1{left:0px;top:99px;}
.pos1 .head .menu{padding-left: 62px;}
.pos2{right:0px;top:99px;}
.pos3{left:0px;top:445px;}
.pos4{right:0px;}
.pos5{right:0px;display: none;height:375px;}

.pos6{right:0px;display: none;}


.left_col{width:395px;}
.right_col{width:563px;}




.select{line-height: 20px;height:20px;border:0px;font-size: 12px;font-family: Georgia;cursor: pointer;position: relative;}
.select_off{background:#ffffff url(images/select_off.png) 97% 9px no-repeat;}
.select_on{background:#ffffff url(images/select_on.png) 97% 9px no-repeat;}
.select .selected_element{line-height: 20px;padding-left:10px;margin-right:0%;position: relative;font-size: 12px;height:20px;}
.select .all_variants{position: absolute;background-color: #ffffff;width:100%;padding:0px;margin-left:0px;display: none;z-index: 1999;max-height:150px;overflow:auto;}
.select .all_variants a{display: block;color:#000000;text-decoration: none;padding-left:10px;height:20px;line-height:20px;font-size: 12px;white-space: nowrap;overflow: hidden;}
.select .all_variants a:hover{background-color:#c0cad1;color:#fff;}
* html .select .all_variants{height:150px;}

.select .all_variants a.bld{font-weight: bold;}

.select .yello{background-color:#fbfb61;}
.select .sv_zel{background-color:#b5f562;}
.select .zel{background-color:#71c207;}

.select .red{background-color:#fe5262;}
.select .black{background-color:#252424;color:#fff !important;}
.select .blue{background-color:#48c7ef;}

.select .grey{background-color:#c7c7c7;}

#footter_push{height:60px;}
#footter{position: absolute;bottom:0px;left:0px;width:100%;height:40px;color:#a1a1a1;font-size: 12px;}
#footter .copy{position: absolute;left:0px;}
#footter .made{position: absolute;right:0px;}


.auth_frm_cont{position: absolute;top:50%;left:50%;margin-left:-204px;margin-top:-103px;width:408px;}
.auth_frm_logo{display: block;z-index: 1;position: absolute;left:0px;top:-170px;background: url(images/sprite.png) 0px 0px no-repeat;width:408px;height:132px;}

#auth_form{padding: 0px;margin: 0px;background-color: #f2f2f1;overflow: hidden;position: relative;z-index: 20;}
#auth_form .c{margin:23px;}
#auth_form .ln{height:30px;line-height: 30px;position: relative;margin-bottom: 10px;}
#auth_form .ln .pole{line-height: 30px;height:30px;border:0px;font-size: 12px;font-family: Georgia;padding-left: 13px;width:100%;color:#1a1a1a;}
#auth_form .ln .zag{width:65px;text-transform: uppercase;font-size: 9px;position: absolute;left:0px;line-height: 30px;}
#auth_form .ln .inpc{margin-left: 65px;margin-right: 13px;}
#auth_form .but{height:56px;padding-top: 5px;}
#auth_form .but input{padding:0px;float:right;height:56px;line-height: 56px;display: block;text-decoration: none;color:#fff;background: url(images/grad2.gif) 0px 0px repeat-x;padding-left: 34px;padding-right: 34px;font-size: 24px;font-family: Georgia;font-weight: normal;border:0px;cursor: pointer;}

.auth_frm_cont .otvet{text-align: center;font-size: 24px;padding-top: 35px;font-style: italic;font-family: Georgia;color:#3b414e;}


/*MODAL*/

.ui-widget-overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: #3b414e;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter: alpha(opacity=80);-moz-opacity: 0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.ui-dialog{position: absolute;width: 310px;overflow: hidden;border: 0px solid #A6C9E2;background-color: #fff;color: #222;}

.ui-dialog {font-family: Georgia;}
.ui-dialog .ui-widget-header{border: 0px solid #4297D7;background:none;background-color: #fff;color: #24a6cf;font-weight: normal;font-size: 15px;margin-left:11px;margin-right: 11px;margin-top:11px;position: relative;margin-bottom: 20px;}
.ui-dialog .ui-widget-header .ui-dialog-titlebar-close{position: absolute;right:0px;top:0px;background: url(images/sprite.png) -516px -105px no-repeat;width:22px;height:23px;}
.ui-dialog .ui-widget-header .ui-dialog-titlebar-close span{display: none;}
.ui-dialog .ui-widget-header ui-state-hover{}
.ui-dialog-content{margin-left:11px;margin-right: 11px;font-size: 12px;color:#3b414e;position: relative;padding-left: 70px;}
.ui-dialog-content .alert_icon{background: url(images/sprite.png) -488px -66px no-repeat;width:39px;height:38px;position: absolute;display: block;left:17px;}
.ui-dialog-content .quest_icon{background: url(images/sprite.png) -487px -28px no-repeat;width:39px;height:38px;position: absolute;display: block;left:17px;}
.ui-dialog-buttonset{margin-left: 11px;margin-right: 11px;margin-bottom: 11px;text-align: right;}
.ui-dialog-buttonset .ui-button{background-color: #24a6cf;color:#fff;border:0px;font-family: Georgia;line-height: 21px;height:21px;font-size: 13px;padding:0px;padding-left: 10px;padding-right: 10px;cursor: pointer;margin-left:10px;}



/*
.ui-widget-overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: #3b414e;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter: alpha(opacity=90);-moz-opacity: 0.9;-khtml-opacity: 0.9;opacity: 0.9;}
.ui-dialog{position: absolute;width: 320px;overflow: visible;background:none;color: #fff;}

.ui-dialog {font-family: Georgia;}
.ui-dialog .ui-widget-header{background:none;font-weight: normal;font-size: 23px;margin-left:11px;margin-right: 11px;margin-top:11px;position: relative;margin-bottom: 23px;color:#fff;border:0px;line-height: 27px;}
.ui-dialog .ui-widget-header .ui-dialog-titlebar-close{position: absolute;right:-25px;top:-25px;background: url(images/sprite.png) -527px -93px no-repeat;width:11px;height:11px;}
.ui-dialog .ui-widget-header .ui-dialog-titlebar-close span{display: none;}
.ui-dialog .ui-widget-header ui-state-hover{}
.ui-dialog-content{margin-left:11px;margin-right: 11px;font-size: 14px;color:#fff;position: relative;padding-left: 0px;margin-bottom: 10px;}
.ui-dialog-content .alert_icon{background: url(images/sprite.png) -488px -66px no-repeat;width:39px;height:38px;position: absolute;display: block;left:17px;}
.ui-dialog-content .quest_icon{background: url(images/sprite.png) -487px -28px no-repeat;width:39px;height:38px;position: absolute;display: block;left:17px;}
.ui-dialog-buttonset{margin-left: 11px;margin-right: 11px;margin-bottom: 11px;text-align: left;}
.ui-dialog-buttonset .ui-button{background-color: #24a6cf;color:#fff;border:0px;font-family: Georgia;line-height: 28px;height:28px;font-size: 13px;text-transform:uppercase;padding:0px;padding-left: 30px;padding-right: 30px;cursor: pointer;}
*/



#reports_filter{margin-bottom: 10px;}
#reports_filter .param{float:left;width:160px;height:20px;line-height: 20px;margin-bottom: 10px;position: relative;}
#reports_filter .param .pole{padding:0px;line-height: 20px;height:20px;border:0px;font-size: 12px;font-family: Georgia;padding-left: 10px;width:150px;}
#reports_filter .pwz{}
#reports_filter .pwz .zg{float:left;width:25px;}
#reports_filter .pwz .pole{width:125px;}
#reports_filter .mr{margin-right: 18px;}
#reports_filter .ugolok{background:#fff url(images/select_off.png) 94% 8px no-repeat;}
#reports_filter .but a{display: block;text-decoration: none;float:left;height:20px;line-height: 20px;color:#fff;background: url(images/grad.gif) 0px 0px;font-size: 14px;width:160px;text-align: center;}

#reports_filter .alert{position: absolute;background: url(images/alert.png) 0px 0px no-repeat;width:16px;height:16px;display: block;right:4px;top:2px;}

#reports_filter .pwz2 .zg{float:left;width:55px;}
#reports_filter .pwz2 .pole{width:95px;}




#orders_filter{margin-bottom: 10px;}
#orders_filter .param{float:left;width:160px;height:20px;line-height: 20px;margin-bottom: 10px;position: relative;}
#orders_filter .param .pole{padding:0px;line-height: 20px;height:20px;border:0px;font-size: 12px;font-family: Georgia;padding-left: 10px;width:150px;}
#orders_filter .pwz{}
#orders_filter .pwz .zg{float:left;width:25px;}
#orders_filter .pwz2 .zg{float:left;width:55px;}
#orders_filter .pwz .pole{width:125px;}
#orders_filter .pwz2 .pole{width:95px;}
#orders_filter .mr{margin-right: 18px;}
#orders_filter .ugolok{background:#fff url(images/select_off.png) 94% 8px no-repeat;}
#orders_filter .but a{display: block;text-decoration: none;float:left;height:20px;line-height: 20px;color:#fff;background: url(images/grad.gif) 0px 0px;font-size: 14px;width:160px;text-align: center;}

#orders_filter .alert{position: absolute;background: url(images/alert.png) 0px 0px no-repeat;width:16px;height:16px;display: block;right:4px;top:2px;}


.clear{clear:both;}



#file_uploader{height:20px;}
#file_uploader .but{float:right;width:120px;}
#file_uploader .but input{height:20px;line-height: 20px;border:0px;color:#fff;font-size: 14px;font-family: Georgia;background-color:#c0cad1;display: block;padding:0px;width:100%;text-align: center;}
#file_uploader .but .on{background-color:#24a6cf;cursor: pointer;}
#file_uploader .fl{width:100%;float:left;margin-right: -130px}
#file_uploader .alert{position: absolute;background: url(images/alert.png) 0px 0px no-repeat;width:16px;height:16px;display: block;right:106px;top:2px;}

#file_uploader .files{}

.customfile-input { position: absolute; height: 20px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999;  }

.customfile {cursor: pointer; overflow: hidden; position: relative; margin-right: 130px;}
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback { display: block;}

.customfile-button {background-color:#24a6cf;width:90px;height:20px;color:#fff;display: block;margin:0 auto;line-height: 20px;text-align: center;font-family: Georgia;font-size: 14px;  }
.customfile-hover .customfile-button, .customfile-focus .customfile-button  { }
.customfile-focus .customfile-button {outline: 1px dotted #ccc;}

.customfile-button{float:right;}
.customfile-feedback{background-color: #fff;height: 20px;line-height: 20px;border: 0px;padding-left: 13px;font-size: 14px;font-family: Georgia;color:#1A1A1A;margin-right: 100px;}



#restorans_filter{margin-bottom: 10px;}
#restorans_filter a{height:26px;position: relative;display: block;float:left;margin-right: 10px;text-decoration: none;}
#restorans_filter a span{display: block;background-color: #25a8d2;color:#fff;display: block;height:20px;line-height: 20px;padding-left:13px;padding-right: 13px;font-size: 14px;font-family: Georgia;}
#restorans_filter a i{display: block;position: absolute;bottom:0px;left:50%;margin-left:-3px;width:7px;height:6px;background: url(images/rest_fltr_arrow.png) 0px 0px no-repeat;}

#restorans_filter a.active{}
#restorans_filter a.active span{background-color: #3b4148;}
#restorans_filter a.active i{background: url(images/rest_fltr_arrow.png) -7px 0px no-repeat;}
#restorans_filter .pole{}

#restorans_filter .add_new_rest{position: relative;float:right;background-color: #25a8d2;color:#fff;display: block;height:20px;line-height: 20px;padding-left:13px;padding-right: 13px;font-size: 14px;font-family: Georgia;margin-right: 0px;}

#restorans_filter .ln{margin-right: 13px;}


#restorans_filter a.but_search{display: block;text-decoration: none;height:22px;line-height: 22px;color:#fff;background: url(images/grad.gif) 0px 0px;font-size: 16px;margin:0 auto;margin-top: 4px;width:85px;text-align: center;float:none;}

#restorans_filter .fltrs{background-color:#dde1e4;display: none;padding:10px;height:280px;}

.rest_details{}
.rest_details .il{margin-bottom: 1px;font-size: 11px;}
.rest_details .metro{height:15px;padding-left: 20px;line-height: 15px;position: relative;}
.rest_details .metro span{display: block;position: absolute;left:0px;top:0px;background: url(images/sprite.png) -446px -81px no-repeat;width:15px;height:15px;}

#clear_rest_filter{height:16px;position: relative;display: block;float:left;margin-right: 10px;width:16px;background: url(images/clear.png) 0px 0px no-repeat;margin-top: 3px;}
#clear_orders_filter{height:16px;position: relative;display: block;float:left;margin-right: 10px;width:16px;background: url(images/clear.png) 0px 0px no-repeat;margin-top: 3px;margin-left: 5px;}

.rest_details .cpec_color{color:red;}
.rest_details .cpec_color b{color:#000;}

.fparams{height:280px;overflow: auto;}
.fparams .ttl{font-size: 10px;text-transform: uppercase;margin-bottom: 5px;}
.fparams .lst{overflow: hidden;margin-bottom: 0px;}
.fparams .chbl{float:left;width:50%;font-size: 12px;}
.fparams .chbl input{margin-right:10px;}






.dater a{display: block;width:10px;height:10px;float:left;margin-right: 6px;margin-top: 4px;}
.open a{background: url(images/minus_plus.png) 0px 0px no-repeat;}
.closed a{background: url(images/minus_plus.png) -10px 0px no-repeat;}
.dater div{font-weight: bold;padding-left: 2px !important;}
.window .tbl table tr.dater td{padding-bottom: 2px;}

.rests tr td{overflow: hidden;position: relative;}
.rests tr td div{overflow: hidden;height:18px;}
.rests tr td div p{margin: 0px;}

.rests tr td div .pen{width:16px;height: 16px;background: url(images/pen.png) 0px 0px no-repeat;display: block;visibility: hidden;margin-right: 5px;float: right;}
.rests tr.tr_hover td div .pen{visibility: visible;}


.rests tr td div .www{width:16px;height: 16px;background: url(images/world.png) 0px 0px no-repeat;display: block;visibility: hidden;margin-right: 5px;float: right;}
.rests tr.tr_hover td div .www{visibility: visible;}

.c3333 div{min-width: 50px;}

#add_rest_form{width:278px;}
#add_rest_form .ln{height: 20px;line-height: 20px;position: relative;margin-bottom: 5px;}
#add_rest_form .ln .zg{width:100px;text-transform: uppercase;font-size: 9px;position: absolute;}
#add_rest_form .ln .zg2{line-height: 11px;top:1px;}
#add_rest_form .ln .pole{padding:0px;line-height: 20px;height:20px;border:0px;font-size: 12px;font-family: Georgia;padding-left: 13px;width:100%;border: 1px solid #979797;}
#add_rest_form .ln textarea.pole{height:80px;}
#add_rest_form select{height:80px;width:180px;border: 1px solid #979797;outline: none;margin: 0px;}

#add_rest_form .inpc{margin-left: 100px;margin-right: 13px;position: relative;}


#sms_otvet_form{width:278px;}
#sms_otvet_form .ln{height: 20px;line-height: 20px;position: relative;margin-bottom: 5px;}
#sms_otvet_form .ln .zg{width:100px;text-transform: uppercase;font-size: 9px;position: absolute;}
#sms_otvet_form .ln .zg2{line-height: 11px;top:1px;}
#sms_otvet_form .ln .pole{padding:0px;line-height: 20px;height:20px;border:0px;font-size: 12px;font-family: Georgia;padding-left: 13px;width:100%;border: 1px solid #979797;}
#sms_otvet_form .ln textarea.pole{height:80px;}
#sms_otvet_form select{height:80px;width:180px;border: 1px solid #979797;outline: none;margin: 0px;}

#sms_otvet_form .inpc{margin-left: 100px;margin-right: 17px;position: relative;}



#incoming_call{height:76px;position: fixed;right:32px;top:0px;background-color: #000;width:325px;z-index: 300;display: none;color:#fff;background: #3b414e url(images/incoming_ring_icon.png) 20px 7px no-repeat;
-webkit-box-shadow: 0px 0px 27px rgba(9, 9, 9, 0.4);
-moz-box-shadow:    0px 0px 27px rgba(9, 9, 9, 0.4);
box-shadow:         0px 0px 27px rgba(9, 9, 9, 0.4);
}
#incoming_call .client_name{font-weight: bold;font-size: 18px;margin-left: 102px;margin-top:15px;;}
#incoming_call .client_phone{font-size: 20px;font-family: Georgia;margin-left: 102px;margin-top:4px;;}





#bonus{padding-top:200px;}
#bonus table{width: 100%;}
#bonus table .c0{padding-left: 20px;text-align: left;}
#bonus table .c1{width:300px;padding-left: 20px;text-align: left;}
#bonus table .c2{width:150px;padding-left: 20px;text-align: left;}
#bonus table .c3{width:90px;padding-left: 20px;text-align: center;}
#bonus table .c4{width:360px;padding-left: 20px;text-align: left;}

#bonus table td{vertical-align: top;padding-top:12px;padding-bottom: 12px;background-color: #dbdee3;font-size: 14px;line-height: 18px;}
#bonus table tr{margin-bottom: 5px;display: block; }
#bonus table th{height:20px;vertical-align: middle;font-weight: normal;font-size: 12px;text-transform: uppercase;text-align: left;}

#bonus .manage{margin-bottom: 20px;margin-left: 20px;}
#bonus .manage a{margin-right: 20px;font-size: 12px;line-height: 12px;text-decoration: none;border-bottom: 1px dashed #24a6cf;text-transform: uppercase;}
#bonus .manage a:hover{border: 0px;}
#bonus .manage a.active{cursor: default;color:#000;border-bottom: 0px;}




#bonus .pays{display: none;padding-top: 20px;}

#bonus .show_pays{text-decoration: none;border-bottom: 1px dashed #24a6cf;float:left;}
#bonus .show_pays:hover{border:0px;padding-bottom: 1px;}
#bonus .dopay{display: block;background-color: #fff;height:26px;line-height: 26px;text-decoration: none;float:right;padding-left: 15px;padding-right: 15px;
	-webkit-border-radius: 13px;
-moz-border-radius: 13px;
border-radius: 13px;
font-size: 12px;
margin-right: 20px;
}


#bonus table .c4 span{float:left;}

#bonus .print_bonus{display: block;background-color: #24a6cf;height:26px;line-height: 26px;text-decoration: none;float:left;padding-left: 15px;padding-right: 15px;
	-webkit-border-radius: 13px;-moz-border-radius: 13px;border-radius: 13px;font-size: 12px;margin-right: 20px;color: #fff;margin-top: 20px;margin-bottom: 20px;}




#confirm {display:none;}

/* Overlay */
#confirm-overlay {background-color:#dbe9fa;}

/* Container */
#confirm-container {height:130px; width:420px;
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  background-color: #FFFFFF;
  border: 1px solid #EAEEFA;
  border: 1px solid rgba(234, 238, 250, 0.6);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  z-index: 99999;
	
	
}
#confirm-container .header {height:30px; line-height:30px; width:100%;border-bottom: 1px solid #EEEEEE;
	
	color: #404040;
font-size: 16px;
font-weight: bold;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}
#confirm-container .header span {padding-left:8px;}
#confirm-container .message {color:#333; font-size:13px; margin:0; padding:12px 4px 12px 8px;height:20px;}
#confirm-container .buttons {
	
	
	display: block;
background-color: #F5F5F5;
padding: 14px 15px 15px;
border-top: 1px solid #EEEEEE;
-webkit-border-radius: 0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
-webkit-box-shadow: inset 0 1px 0 #FFF;
-moz-box-shadow: inset 0 1px 0 #FFF;
box-shadow: inset 0 1px 0 #FFF;
zoom: 1;
margin-bottom: 0;
text-align: center;
height: 25px;
	
	
} 
#confirm-container .buttons div {
	text-decoration: none;
cursor: pointer;
display: inline-block;
background-repeat: no-repeat;
padding: 5px 14px 6px;
color: #333;
font-size: 13px;
line-height: normal;
border: 1px solid transparent;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-transition: 0.2s linear all;
-moz-transition: 0.2s linear all;
transition: 0.2s linear all;
float:right;
	
	
} 

#confirm-container .buttons div.yes{
	color: #FFF;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
background-color: #999;
background-repeat: repeat-x;
margin-right: 15px;
	
}

#confirm-container a.modal-close,
#confirm-container a.modal-close:link,
#confirm-container a.modal-close:active,
#confirm-container a.modal-close:visited {text-decoration:none; font-weight:bold; position:absolute; right:10px; top:10px; color:#fff;
	color: #999;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: normal;
	line-height: 10px;
	text-decoration: none;
}
#confirm-container a.modal-close:hover {color:#ccc;}




#modal {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#dbe9fa;}

/* Container */
#simplemodal-container {height:130px; width:420px;
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  background-color: #FFFFFF;
  border: 1px solid #EAEEFA;
  border: 1px solid rgba(234, 238, 250, 0.6);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  z-index: 99999;
	
	
}
#simplemodal-container .header {height:30px; line-height:30px; width:100%;border-bottom: 1px solid #EEEEEE;
	
	color: #404040;
font-size: 16px;
font-weight: bold;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}
#simplemodal-container .header span {padding-left:8px;}
#simplemodal-container .message {color:#333; font-size:13px; margin:0; padding:12px 4px 12px 8px;height:20px;}

#simplemodal-container a.modal-close,
#simplemodal-container a.modal-close:link,
#simplemodal-container a.modal-close:active,
#simplemodal-container a.modal-close:visited {text-decoration:none; font-weight:bold; position:absolute; right:10px; top:10px; color:#fff;
	color: #999;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: normal;
	line-height: 10px;
	text-decoration: none;
}
#simplemodal-container a.modal-close:hover {color:#ccc;}



#simplemodal-container .buttons {
	
	
	display: block;
background-color: #F5F5F5;
padding: 14px 15px 15px;
border-top: 1px solid #EEEEEE;
-webkit-border-radius: 0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
-webkit-box-shadow: inset 0 1px 0 #FFF;
-moz-box-shadow: inset 0 1px 0 #FFF;
box-shadow: inset 0 1px 0 #FFF;
zoom: 1;
margin-bottom: 0;
text-align: center;
height: 25px;
	
	
} 
#simplemodal-container .buttons div {
	text-decoration: none;
cursor: pointer;
display: inline-block;
background-repeat: no-repeat;
padding: 5px 14px 6px;
color: #333;
font-size: 13px;
line-height: normal;
border: 1px solid transparent;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-transition: 0.2s linear all;
-moz-transition: 0.2s linear all;
transition: 0.2s linear all;
float:right;
	
	
} 

#simplemodal-container .buttons div.no{
	color: #FFF;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
background-color: #999;
background-repeat: repeat-x;

	
}
#system_loading {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    z-index: 99999;
    /*background: #fff;*/
    border: 1px solid #333;
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    /*border-radius: 10px;*/
    /*opacity: 0.8;*/
    padding: 10px;
    line-height: 32px;
    /*font-family: "futurafuturiscbold";*/
    font-size: 30px;
    color: #000;
    text-indent: 15px;
    height: 100%;
    width: 100%;
    text-align: center;
}
#system_loading>span {
    position: absolute;
    top: 5%;
    /* margin-top: -16px; */
    right: 5%;
    /* margin-left: -82px; */
    background: rgba(1, 1, 1, 0.8);
    /* opacity: 0.8; */
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
}
textarea[name="sms_client_text"]{
    width: 100%;
    height: 40px;
    /*padding-bottom: 20px;*/
}
.submit-client-sms {
    font-size: 20px;
    /* padding-bottom: 20px; */
    overflow: hidden;
    /* text-align: right; */
    cursor: pointer;
    height: 23px;
    /* float: left; */
    border: 1px solid;
    padding: 2px;
    border-radius: 5px;
    line-height: 20px;
    width: 162px;
    text-align: center;
    margin: 0 auto;
}