.profile-data {margin-left:229px; width:495px; margin-left:-36px;}
	.profile-data td {padding-left:36px; padding-bottom:18px; color:#1a1a1a; font-size:14px;}
	.profile-data td em {font-size:12px;}
.profile-stat {color:#c0c0c0;}

.profile-activity {width:100%; font:12px Georgia; border-bottom:1px solid #1a1a1a; margin-bottom:12px; margin-top:-18px;}
.profile-activity tr {background:url(/tpl/images/border-1px.gif) 0 100% repeat-x;}
.profile-activity td {padding:18px 0;}
.profile-activity th {background:#f2f2f2; font:italic 12px Georgia, "Times New Roman", Times, serif; padding:12px 0;}
.profile-activity th.first {padding-left:16px; width:180px}
.profile-activity a {text-decoration:none;}
.profile-activity img {float:left; margin-right:18px;}
	td.profile-activity-col1 {width:108px; color:#c0c0c0; font:italic 12px Georgia, "Times New Roman", Times, serif; white-space:nowrap;}
		td.profile-activity-col1 a {color:#c0c0c0; text-decoration:underline; margin-right:20px;}
		td.profile-activity-col1 p {background:#fff; position:relative; top:-19px; padding-top:19px;}
	td.profile-activity-col2 {padding-right:14px; width:374px;  padding-right:24px;}
	td.profile-activity-col3 {padding-left:12px;}

.profile-activity.w100 th {padding:18px 14px; white-space:nowrap;}
.profile-activity.w100 td {padding:12px 14px;}

.more-activity {text-align:right;}
	.more-activity a {text-transform:uppercase; text-decoration:none; color:#1a1a1a;}
	.activity-actions {position:relative; width:185px}
		.activity-actions div { right:0; top:0; margin-right:-14px;}
		.activity-actions a {display:block; font:italic 12px Georgia, "Times New Roman", Times, serif; color:#1a1a1a; text-decoration:underline; padding-left:24px; margin-bottom:6px; width:80px;}
		.activity-actions a:hover {text-decoration:none;}
.profile-activity-rating img {float:none;}
.user-friends {}
.user-friends ul {overflow:hidden; width:100%; margin:0px; padding:0px;}
.user-friends li {position:relative; margin-bottom:18px; list-style-type: none}
.user-friends img {float:left;}
.user-friend {line-height:18px; position:relative !important; overflow:hidden; padding:6px 12px; width:230px; padding-bottom:0px}
.profile-activity .user-friends.nofloat {width:200px; background-color:transparent !important; /* padding-bottom:28px !important */}
.profile-activity .nofloat .user-friend {overflow:hidden; position:relative;}
.profile-activity .nofloat ul {}
.profile-activity .nofloat li {width:auto; float:none; overflow:hidden; position:relative; background:url(/tpl/images/border-1px.gif) 0 100% repeat-x; padding-bottom: 6px;}
.profile-activity .nofloat .user-friend-mail {margin-bottom:0;}
.profile-activity .nofloat p {}
.profile-activity .nopic {cbackground:none !important;}
.profile-activity .nobg {background:none !important;}
.profile-activity .nopic .user-friend p {margin-bottom:0;}
a.icon-delete {background:url(/tpl/images/icon-delete.gif) no-repeat 0 0;color:#1a1a1a!important;}
a.razmes {color:#1a1a1a!important;padding:8px 12px; background:#f2f2f2; font:11px Georgia, "Times New Roman", Times, serif;text-align:center; text-decoration:none; text-transform:uppercase; margin-top:14px; margin-bottom:12px}
.profile-activity a.name
{
    color:#24A6CF;
    text-decoration:none;
    font-size: 14px;
    line-height:18px;
}
.profile-activity a.name:hover
{
    text-decoration:none;    
}
.profile-activity a.icon-delete_f2 {background:url(images/icon-delete_f2.png) no-repeat 0 0;margin-left: 30px; height:15px; width:17px; display: block}
.profile-activity a.icon-delete {background:url(images/icon-delete.gif) no-repeat 0 0; padding-left: 20px; font-style: italic; color:#1a1a1a; height:15px; width:17px; margin:5px 0px;display: block}
.profile-activity a.icon-delete:hover {font-style: italic; color:#1a1a1a; text-decoration: none;}
.profile-activity a.icon-continue {background:url(images/icon-continue.gif) no-repeat 0 0; padding-left: 20px; font-style: italic; color:#1a1a1a;height:15px; width:17px; margin:5px 0px; display: block}
.profile-activity a.icon-continue:hover {text-decoration: none;}