.friendlist table{border-collapse:collapse; border-spacing:0; empty-cells:show;}
.friendlist th, .friendlist tr, .friendlist td{text-align:left; vertical-align:top}
.friendlist a{outline:none; color:#24a6cf;}
.friendlist a:hover {text-decoration:none}
.friendlist .hr, .friendlist img,.friendlist object{border:0;}

.friendlist {width:100%}
.friendlist tr {background:url(images/border-1px.gif) 0 100% repeat-x;}
.friendlist td {vertical-align: middle}

.friendlist .fleft {float:left; font:14px Georgia, "Times New Roman", Times, serif; text-align:center; margin-right:20px;}
.friendlist .fleft a {text-decoration:none; color:#1a1a1a; font:9px Georgia, "Times New Roman", Times, serif; text-transform:uppercase; line-height: 25px;}
.friendlist .fleft img {display:block; margin-bottom:20px}

.friendlist .fright {overflow:hidden; position:relative; font-size:12px;}
.friendlist .fright p {line-height:18px; font-size:12px;}
.friendlist .fright em {line-height:20px}

.friendlist p {font:14px Georgia, "Times New Roman", Times, serif; margin-bottom:5px; padding-bottom:0px;}
.friendlist a {font:14px Georgia, "Times New Roman", Times, serif;}
.friendlist .user-mail {background:url(images/user-friend-mail.gif) 0 3px no-repeat;}
.friendlist .user-mail a{color:#1a1a1a; text-decoration:underline; margin-left:24px; font:12px/16px Georgia, "Times New Roman", Times, serif;}
.friendlist .user-delete {background:url(images/icon-delete.gif) 0 0px no-repeat;}
.friendlist .user-delete a{color:#1a1a1a; text-decoration:underline; margin-left:24px; font:12px/16px Georgia, "Times New Roman", Times, serif;}
.friendlist .user-edit {background:url(images/icon-continue.gif) 0 0px no-repeat;}
.friendlist .user-edit a{color:#1a1a1a; text-decoration:underline; margin-left:24px; font:12px/16px Georgia, "Times New Roman", Times, serif;}


.friendlist .user-invitation {white-space:nowrap; margin-bottom:0;}
.friendlist .user-invitation a {color:#1a1a1a; text-decoration:underline; font:12px Georgia, "Times New Roman", Times, serif;}

.small_avatar
{
    border-radius: 16px;
    behavior: url('/tpl/PIE.php'); 
    height: 32px; 
    width: 32px; 
    overflow: hidden; 
    margin: 0 auto; 
}

.profile-activity td p{color:#FFF;}
.profile-activity tr
{    
    background:url(/tpl/images/dot2.png) left bottom repeat-x;
}
.activity_details_box
{
    overflow:auto;
    height:460px;
}