.wrap-div {width:975px; margin:0 auto; position:relative; z-index:1;}
.wrap-div ul {margin: 0px; padding: 0px;}
.wrap-div li{vertical-align:bottom; list-style:none;}
.wrap-div h2 {font:24px Georgia, "Times New Roman", Times, serif; color:#1a1a1a; margin-bottom:22px; position:relative;}
.gray-block {background:#f2f2f2; padding:20px 28px; font:12px/18px Georgia; color:#1a1a1a; margin-bottom:30px;}
.al-right {text-align:right; overflow:hidden; font:Italic 12px/36px Georgia; color:#1a1a1a;}
.submit-blue-plus {float:none; background:url(images/blue-plus.png) 12px 50% no-repeat #24a6cf; width:auto !important; border:0; padding:10px 18px 10px 28px; color:#fff; font:12px Georgia; text-transform:uppercase; float:right; margin-left:12px;}

.wrap-div ul.menu-horizontal-sub {float:right;position: relative;z-index: 2000;margin-top: 5px;}
.menu-horizontal-sub li {display:inline;  color:#1a1a1a; font:12px Georgia; text-transform:uppercase;line-height: 16px;}
.menu-horizontal-sub a {color:#1a1a1a; font:12px Georgia; text-transform:uppercase;line-height: 16px;}

.menu-horizontal-sub .active a{text-decoration: none;cursor: default;}


.my_rest ul strong {float:left; width:164px; padding-top:8px; font:14px Georgia; color:#1a1a1a;}
.my_rest ul p.inpwrap {}
.my_rest li.item-row:after {content:''; clear:both; display:block; overflow:hidden}
.my_rest li.item-row {margin-bottom:0px;position: relative;}
.my_rest ul input {width:770px; padding:8px; border:1px solid #aaa;}
.my_rest ul input.checkbox {width:auto; margin-top:5px; border:1px solid #aaa;}

.my_rest ul li.ir2 input{width:200px;}
.my_rest ul li.ir2 p.inpwrap{float:left;}
.my_rest ul li.ir2 p.marg2{margin-right:200px;}
.my_rest ul li.ir2 strong.nw{width: 50px;} 

.my_rest ul input.submit { border:0; background:#f2f2f2; padding:10px 18px; color:#1a1a1a; font:12px Georgia; text-transform:uppercase; float:right;width:auto;margin-top:-5px;margin-bottom: 20px;cursor:pointer; }

.new_prod{border-bottom: 0px solid #AAA;padding-bottom: 10px;margin-bottom: 15px;}


.my_rest ul textarea {width:793px; padding:8px; border:1px solid #aaa; height:132px; font:12px Georgia}
.my_rest ul .fl-right {float:right}
.my_rest ul.chzn-choices {width:809px}
.my_rest li.item-row.flr input {width:470px}
.my_rest li.item-row.flr .fl-right input {width:100px; margin-left:12px}
.search-choice span {font:12px Georgia !important; color:#1a1a1a; padding:0 4px 0 0}
.my_rest .default {top:3px; position:relative;}
input.submit-blue {width:auto !important; border:0; background:#24a6cf; padding:10px 18px; color:#fff; font:12px Georgia; text-transform:uppercase; float:right; margin-top:10px; margin-bottom:12px;}
input.submit-gray {width:auto; border:0; background:#3b414e; padding:10px 18px; color:#fff; font:12px Georgia; text-transform:uppercase; float:right; margin-top:10px; margin-bottom:12px; position:relative; right:-106px;}

a.gray-link {padding:11px 18px; color:#1a1a1a; font:12px Georgia; text-transform:uppercase; float:left; margin-top:10px; margin-bottom:12px; text-decoration:none; margin-left:-18px;}
.mail-actions {overflow:hidden;}


.my_rest input.submit-blue { background:#24a6cf !important; padding:10px 18px; color:#fff; font:12px Georgia; text-transform:uppercase; float:right; margin-top:10px; margin-bottom:12px;cursor: pointer;border:0px ;}
.my_rest input.submit-gray {width:auto; border:0; background:#3b414e; padding:10px 18px; color:#fff; font:12px Georgia; text-transform:uppercase; float:right; margin-top:10px; margin-bottom:12px; position:relative; right:-106px;}
.my_rest .niceCheck {
    width: 33px;
    height: 33px;
    display: inline-block;
    cursor: pointer;
    background: url(/tpl/images/checkbox-sprite.png);
}

.wrap-div .panes div.pane {
    padding-top: 0px;
}

/*custom upload elements*/
.my_rest .customfile-input { position: absolute; height: 32px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999;  }

.my_rest .customfile {cursor: pointer; overflow: hidden; position: relative; }
.my_rest .customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.my_rest .customfile-feedback { display: block;overflow:hidden;}

.my_rest .customfile-button {background-color:#F2F2F2;width:85px;height:34px;color:#1A1A1A;display: block;margin:0 auto;line-height: 34px;text-transform: uppercase;text-align: center;font-size: 12px;font-family: Georgia;  }
.my_rest .customfile-hover .customfile-button, .customfile-focus .customfile-button  { }
.my_rest .customfile-focus .customfile-button {outline: 1px dotted #ccc;}

.my_rest .customfile-button{float:right;}
.my_rest .customfile-feedback{background-color: #fff;height: 32px;line-height: 32px;padding-left: 13px;font-size: 14px;font-family: Georgia;color:#1A1A1A;margin-right: 10px;border:1px solid #AAA;}


.my_rest .chzn-container{height: auto !important;}
.my_rest .chzn-container-multi .chzn-choices{height: auto !important;line-height: normal !important;}


#rest_photos{position: relative;overflow: hidden;margin-top: 50px;}
#rest_photos .main_photo{float:left;width:232px;}
#rest_photos .main_photo .ph{height:125px;margin-bottom: 20px;}
#rest_photos .other_photos{float:right;width:728px;}
#rest_photos .zg{font-size: 20px;line-height: 24px;font-family: Georgia;color:#1a1a1a;height:73px;}
#rest_photos .photos{overflow: hidden;margin-left: -18px;}
#rest_photos .photos .pho{position:relative;float:left;width:230px;height:160px;margin-left:18px;margin-bottom: 18px;}
#rest_photos .photos .pho .del_pho{display: block;position: absolute;top:0px;right:0px;width:17px;height:17px;background: url(images/closeicon.png) 0px 0px no-repeat;}
#rest_photos .loader{margin-bottom: 20px;}
#rest_photos .photos .pho .inp input{width:212px;}


#rest_photos2{position: relative;overflow: hidden;margin-top: 50px;}
#rest_photos2 .other_photos{}
#rest_photos2 .zg{font-size: 20px;line-height: 24px;font-family: Georgia;color:#1a1a1a;margin-bottom: 5px;}
#rest_photos2 .photos{overflow: hidden;margin-left: -18px;}
#rest_photos2 .photos .pho{position:relative;float:left;width:230px;height:125px;margin-left:18px;margin-bottom: 18px;}
#rest_photos2 .photos .pho .del_pho{display: block;position: absolute;top:0px;right:0px;width:17px;height:17px;background: url(images/closeicon.png) 0px 0px no-repeat;}
#rest_photos2 .loader{margin-bottom: 20px;}
#rest_photos2 .photos .pho .inp input{width:85px;}

#rest_photos2 .photos .pho label{width: auto;}
#rest_photos2 .photos .pho .radio{margin-top: 5px;overflow: hidden;}


.krt{font-size: 20px;line-height: 24px;font-family: Georgia;color:#1a1a1a;margin-bottom: 5px;}



.wrap-div .add_new_rest_li{height: 28px;text-align: center;background: #24A6CF;padding: 0px 20px;line-height: 28px;letter-spacing: 2px;color: white;border: 0px;text-transform: uppercase;cursor: pointer;font-size: 1em;position: relative;
display: block;text-decoration: none;position: absolute;right: 0px;top: 0px;color:#fff;}




#move_pho{list-style: none;padding: 0px;margin: 0px;}
#move_pho > li{cursor: move;}
#move_pho .ui-state-highlight { }
#move_pho > li.ui-state-disabled{cursor: default;}

.ui-draggable-dragging{width:230px;z-index: 999;height:125px;}


i.star{font-size: 16px;color:red;font-weight: bold;position: absolute;left:-10px;top:7px;}

#error_li{text-align: right;color:red;font-size: 14px;}

#map_search{margin-bottom: 20px;}
#map_search input.mpole{}

.my_rest ul .redactor_editor strong{width:auto;font-weight: bold;padding: 0px;float:none;font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; }





