@charset "utf-8";
/*
	styles for select
*/
.cusel,
.cuselFrameRight,
.jScrollPaneDrag,
.jScrollArrowUp,
.jScrollArrowDown {
	background: url(/tpl/images/selects-2.png) no-repeat;
        outline: none;
}
.cusel { /* общий вид селекта включая стрелку справа */
        margin-top:2px;
	height: 26px;
	background-position: left top;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	z-index: 1;        
}
.cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	height: 100%;
	width: 24px;
	background-position: right top;
}

.cuselText { /* контейнер для отображенного текста селект */
	height: 14px;
	padding: 6px 0 0 7px; /* подбираем отступы и высоту для видимого текста в селекте */
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 1;
	font-size: 12px;
	position: absolute;
	top: 0;
	right: 33px;
}
* html .cuselText { /* высота блока для текста для ие6 */
	height: 22px;
}
.cusel span { /* оформление оптиона */
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 2px 15px 2px 5px; /* паддинг справа - это отступ текста от ползунка */
	zoom: 1;
        line-height:20px;
}
.cusel span:hover,
.cusel .cuselOptHover { /* реакция оптиона на наведение */
	background: #24a6cf;
	color: #fff;
}
.cusel .cuselActive { /* оформление активного оптиона в списке */
	background: #3B414E;
	color: #fff;
	cursor: default;
}

/*
	styles for focus and hover
*/
.cusel:hover,
.cusel:hover .cuselFrameRight,
.cusel:focus,
.cusel:focus .cuselFrameRight,
.cuselFocus,
.cuselFocus .cuselFrameRight {
	/*background-image: url(../images/selects-2.png);*/
}

.cuselOpen {
	z-index: 999;
}

/*
	styles for disabled select
*/
.classDisCusel,
.classDisCusel .cuselFrameRight {
	/*background-image: url(../images/selects-2.png) !important;*/
	cursor: default;
	color: #ccc;
}
.classDisCusel .cuselText {
	cursor: default;
}


/*
	styles for scrollbar
*/
.cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 100%;
	background: #fff; /* фон выпадающего списка */
	min-width: 100%;
	width: auto;
}
.cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	border: 1px solid #999; /* границы выпадающего спиcка */
                box-shadow: 3px 3px 10px #000;
        -webkit-box-shadow: 3px 3px 10px #000;
        -moz-box-shadow: 3px 3px 10px #000;
        behavior: url(/bitrix/templates/main/PIE.htc);
}

.cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 7px !important;
	background: #fff;
	position: absolute;
	top: 0;
	right: 4px;
    width: 0px !important;
}
.cusel .jScrollPaneDrag { /* ползунок */
	position: absolute;
	background-position: -40px -26px;
	cursor: pointer;
	width: 15px !important;
	height: 27px !important;
	right: -4px;
    display: none;
	
}

.cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
.cusel .jScrollArrowDown { /* стрелка вниз */
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
}

#cuselFrame-search_in {
    width: 145px !important;
    z-index: 9999 !important;
    right:-10px;
}
#cusel-scroll-search_in {
    width: 145px !important;
    padding-right: 0px !important;
}
#cuselFrame-type {
    width: 135px !important;
    z-index: 9999 !important;
}
#cusel-scroll-type {
    width: 135px !important;
    padding-right: 0px !important;
}
#cuselFrame-type
{    
    border:1px solid #e3e3e3; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; behavior: url(PIE.htc); background:#FFF;  box-shadow:none; font-size:12px; margin-right:20px;
    height:22px;
    padding:0px;
    text-align: left;
}
#cuselFrame-type .cuselText
{
    padding:0px 5px;
    line-height:23px;
    height:22px;
    right:none;
    left:0px;
}
#cuselFrame-type  .cuselFrameRight {
    background-position: right -2px;
    right:-4px;
}

#cuselFrame-by_name {
    width: 160px !important;
    z-index: 9999 !important;
    right:0px;
    z-index:100000;
    position:relative;  
    margin-top:9px;
    background: none;
    border-right:1px solid #dddddd;
    height:24px;
}
#cuselFrame-by_name .cusel-scroll-wrap{
    background: none;
}
#cuselFrame-by_name .cuselText
{
    text-transform:uppercase;
    font-size:12px;
    font-weight:bold;
    right:32px;
}
#cuselFrame-by_name .cuselText:hover
{
    text-shadow: 1px 1px #ddd;
}
#cuselFrame-by_name .cuselFrameRight
{
    background-position: right -2px;
}
#cusel-scroll-by_name {
    width: 160px !important;
    padding-right: 0px !important;
    
    
}
#cusel-scroll-by_name span {
    font-size:12px;
    text-transform:uppercase;
    font-weight:bold;
    text-align:left;
    line-height:24px;
     display: block;
    cursor: pointer;
    white-space: nowrap;
    padding: 2px 15px 2px 20px;
    zoom: 1;
    line-height: 20px;
}
#cuselFrame-by_name .jScrollPaneContainer {
    box-shadow: 0px 0px 5px black;
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-box-shadow: 0px 0px 5px #000;
    margin-top:10px;    
    background:#FFF;
}