div#filter #search_input
{
    width:500px!important;
    height:38px;
    border:none;
    background: none;
    padding:0px 20px;
    outline: none;
    font-family: Arial;
    font-size:14px;
    font-style:italic;
    padding-top:2px;
}
#search_submit_new
{
    background:url(/tpl/images/search_icon.png) 15px center no-repeat #f2f2f2;
    text-transform: uppercase;
    font-weight:bold;
    border:none;
    padding-left:35px;
    height:39px;    
    width:96px;
    margin-top:1px;
    margin-bottom:1px;
    margin-right:1px;
    border-top:1px solid #d7d8da;
    font-family:Arial;
    padding-top:4px;
    cursor: pointer;
}
#search_submit_new:hover
{
    background:url(/tpl/images/search_icon.png) 15px center no-repeat #f6f6f6;
}
#search_submit_new:active
{
    background:url(/tpl/images/search_icon.png) 15px center no-repeat #f2f2f2; 
}


div#filter .search_block_new {
    font-family: Arial;
    border: 1px solid #d8d8d8;
    height: 40px;
    background: white;
    box-shadow: inset 0px 1px 3px #898d95;
    -webkit-box-shadow: inset 0px 1px 3px #898d95;
    -moz-box-shadow: inset 0px 1px 3px #898d95;
    behavior: url(/tpl/PIE.php);
    position: relative;
    width: 978px!important;
    margin-bottom: 10px;
}
div#filter a.near_you{
    font-family: Arial;
    background:#24A6CF;
    width:100px;
    height:32px;
    display:block;
    text-transform: uppercase;
    font-size:12px;
    text-decoration:none;
    color:#FFF;
    padding:5px 20px;
    text-align:left;
    font-weight:bold;
    line-height:16px;
}
div#filter a.near_you:hover{
    background:#1a1a1a;    
}