#firms_block
{
    padding:0px;
    margin:0px;
}
#firms_block li
{
    list-style-type:none;
    line-height:24px;
    float:left;
    width:220px;
    margin-right:20px;
}
#firms_block li a.selected
{
    color:#000;
}
#sver
{
    position:absolute;
    right:10px;
    top:-8px;
}
.sver_a
{
    background: url('/bitrix_personal/templates/main/images/city_arrow.png') left center no-repeat;
    padding-left: 15px;
    margin-top: 10px;
}
.sver
{
    background: url('/bitrix_personal/templates/main/images/city_arrow_a.png') left center no-repeat;
        padding-left: 15px;
    margin-top: 10px;
}