iframe.waitwindowlocal {position:absolute; border:0px; z-index:9999;}
div.waitwindowlocal {position:absolute; width:32px; height: 32px; padding:0px; z-index:10000; border:0px; background-image:url(images/ajax-loader.gif); background-position:right center; background-repeat:no-repeat;}
div.waitwindowlocalshadow {position:absolute; z-index:9998; background-image:url(images/shadow.png); border:1px dashed #F2F2F2;}