.niceCheck 
{
    width: 19px;
    height: 19px;
    display: inline-block;
    cursor: pointer;
    background: url(/tpl/images/checkbox.png) left top no-repeat;
}
.niceCheck input 
{
    display: none;
}
.extended_filter
{
    position:relative;
}
.extended_filter .select_all
{
    position:absolute;
    right:0px;
    top:-42px;
}
.extended_filter .option
{
    line-height:16px;
    padding:0px; 
    width:132px;   
    padding-top:1px;
}
.extended_filter .option2
{
    line-height:16px;
    padding:0px; 
    width:148px;   
    padding-top:1px;
}
.sort_metro
{
    position:absolute;
    left:250px;
    top:-38px;   
}