html, body {margin: 0;  padding: 0;  height: 100%;  min-height: 100%;}
body {font-family: "Georgia"; font-size:12px;  color:#272727;}
@font-face {
    font-family: 'appetite';
    src: url('fonts/appetite-italic-webfont.eot');
    src: url('fonts/appetite-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/appetite-italic-webfont.woff') format('woff'),
         url('fonts/appetite-italic-webfont.ttf') format('truetype'),
         url('fonts/appetite-italic-webfont.svg#appetite') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rouble';
    src: url('fonts/rouble-webfont.eot');
    src: url('fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rouble-webfont.woff') format('woff'),
         url('fonts/rouble-webfont.ttf') format('truetype'),
         url('fonts/rouble-webfont.svg#rouble') format('svg');
    font-weight: normal;
    font-style: normal;
}


#wrapper
{
	width: 100%;
	height: 100%;
	position: relative;
}

#slider-data
{

	width: 100%;
	height: 100%;
	overflow: hidden;
}
#slider-div
{
	position: relative;

	width: 3663px;
	height: 1275px;
}