#spec_news
{
    margin-top:70px;
    margin-left:120px;
    width:700px;
    position:relative;
}
#spec_news .date_p span
{
    font-style: italic;
    font-size: 30px;
    line-height: 36px;
}
#spec_news .date_p
{
    text-transform: lowercase;    
    line-height: 18px;
    margin-right:35px;
    color:#FFF;
}
#spec_news p 
{
    color:#1a1a1a;
    font-size:14px;
}
#spec_news .title
{
    margin-bottom:10px;
}
#spec_news .title a
{
    color:#24A6CF;
    font-size:20px;
    text-decoration:none;
    line-height:27px;    
}
#spec_news .galery_news
{
    position:absolute;
    left:0px;
    top:0px;
    display:none;
}
#spec_news .scroll_arrows
{
    padding-top:100px;    
    line-height:38px;
    float:left;
    margin-left:-8px;
}
#spec_news .scroll_arrows .prev
{
    margin-right:5px;
}
#spec_news .scroll_arrows .next
{
    margin-left:5px;
}

