/* 
        Resets defualt browser settings
        reset.css
*/

ol,ul { list-style:none; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

/*
        Page style
*/

#container {
    position:absolute;
    top:50px;
    left:20%;
    right:20%;
    z-index:0;
}

#slides .slidesNext,#slides .slidesPrevious {
    position:absolute;
    top:50%;
    left:-40px;
    width:24px;
    height:0;
    margin-top:-32px;
    padding-top:32px;
    display:block;
    z-index:101;
    overflow:hidden;
    background:url(image/navigation-previous.png) no-repeat 0 0;
}

#slides .slidesNext {
    left:798px;
    background:url(image/navigation-next.png) no-repeat 0 0;
    
}

/*
        Pagination
*/

.slidesPagination {
    margin:-5px 0 0;
    float:right;
}

.slidesPagination li {
    float:left;
    margin:0 1px;
    list-style:none;
}

.slidesPagination li a {
    display:block;
    width:10px;
    height:0;
    padding-top:10px;
    background-image:url(image/pagination.png);
    background-position:0 0;
    overflow:hidden;
}

.slidesPagination li.slidesCurrent a {
    background-position:0 -10px;
}


#slides .slidesNext {
    right:-35px;
    left:auto;
}
#slides .slidesPrevious {
    left:-35px;
}
.slides_container {
    width:100%;
}
.slides_container .restaurant-block {
    width:100%;        
    display:block;    
}  
.swipe-block {
    position: absolute;
    width:96%;
    height: 65px;
    z-index: 9999;
    display: block;
    /*background: green;*/
}
.slidesNext {
    display: none;
}
.slidesPrevious {
    display: none;
}

.ad-rest-block {
    background: rgb(84,85,86); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(84,85,86,1) 0%, rgba(52,56,58,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(84,85,86,1)), color-stop(100%,rgba(52,56,58,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(84,85,86,1) 0%,rgba(52,56,58,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(84,85,86,1) 0%,rgba(52,56,58,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(84,85,86,1) 0%,rgba(52,56,58,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(84,85,86,1) 0%,rgba(52,56,58,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545556', endColorstr='#34383a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border-radius: 5px;
    padding: 15px 15px;
    height: 75px;
    text-shadow: none !important;
    color: #969696 !important;
    margin-top: 10px;
}

.ad-rest-block a {
    color: white !important;
}
.ad-rest-block .address {
    font-size: 0.7em;
}
.ad-rest-block .title-container a {
    font-size: 12px;
    line-height: 0px;
}

.ad-rest-block .ad-text {
    left:50%;
    position: absolute;
    width: 50px;
    margin-left: -50px;
    margin-top: -15px;
    background: #272727;
    font-size: 10px;
    color: #969696;
    font-weight: bold;
    padding: 0px 12px 1px 12px;
    border-radius: 0 0 5px 5px;
}

.slidesPagination {
    position: relative;
    z-index: 10;
}
