@font-face {
    font-family: 'appetite';
    src: url('/tpl/fonts/appetite-italic-webfont.eot');
    src: url('/tpl/fonts/appetite-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('/tpl/fonts/appetite-italic-webfont.woff') format('woff'),
        url('/tpl/fonts/appetite-italic-webfont.ttf') format('truetype'),
        url('/tpl/fonts/appetite-italic-webfont.svg#appetite') format('svg');
    font-weight: normal;
    font-style: normal;
}
BODY{margin:0px;padding:0px;	-webkit-user-select:none;
     -webkit-text-size-adjust:none;
     /*background-color:#414858;*/
     background:white;
}
body {}
.ui-body-a, .ui-body-a input, .ui-body-a select, .ui-body-a textarea, .ui-body-a button {
    font: normal 15px Arial, Tahoma, Verdana, sans-serif !important;
}
.bg{
    margin:0px;padding:0px;background: url(images/bg.jpg) 0px 0px no-repeat;background-position:fixed;
    position:fixed;top:0px;z-index:-1;width:100%;height:100%;left:0px;
}

@font-face {
    font-family: 'appetite';
    src: url('fonts/appetite-italic-webfont.eot');
    src: url('fonts/appetite-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/appetite-italic-webfont.woff') format('woff'),
        url('fonts/appetite-italic-webfont.ttf') format('truetype'),
        url('fonts/appetite-italic-webfont.svg#appetite') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*СПИСОК РЕСТОРАНОВ*/
#rest_list{list-style:none;padding:0px;margin:0px;font-family:Arial;}
#rest_list li{padding-left:5px;padding-right:5px;border-bottom:1px solid #515866;border-top:1px solid #3f4551;}
#rest_list li a{color:#fff;display:block;position:relative;height:41px;text-decoration:none;padding-top:11px;padding-bottom:11px;}
#rest_list li .rest_pic{position:absolute;display:block;left:0px;top:11px;width:47px;height:40px;-webkit-border-radius: 8px;-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);overflow:hidden;}
#rest_list li .rest_pic img{display:block;-webkit-border-radius: 8px;}
#rest_list li .rest_name{margin-left:57px;display:block;font-size:16px;font-weight:bold;text-shadow:0px 2px 0px #3f4654;margin-right:80px;overflow:hidden;white-space:nowrap;
}
#rest_list li .rest_address{margin-left:57px;display:block;color:#acb3bf;font-size:12px;overflow:hidden;margin-right:45px;white-space:nowrap;margin-top:6px;}
#rest_list li .rest_stars{position:absolute;top:13px;right:0px;width:74px;background: url(images/stars.png) 0px -15px no-repeat;height:15px;}
#rest_list li .rest_stars i{display:block;height:15px;background: url(images/stars.png) 0px 0px no-repeat;}
#rest_list li .rest_stars i.w1{width:15px;}
#rest_list li .rest_stars i.w2{width:30px;}
#rest_list li .rest_stars i.w3{width:45px;}
#rest_list li .rest_stars i.w4{width:60px;}
#rest_list li .rest_stars i.w5{width:74px;}
#rest_list li .rest_dist{position:absolute;right:0px;bottom:11px;color:#acb3bf;font-size:12px;}


.button-font13 .ui-btn-text {
    font-size: 13px !important;
    line-height: 22px;
}
.star_a {
    position: relative;
    float: left;
    width: 24px;
    height: 22px;
    background: url(image/star_small.png) 0 0 repeat-x;
}
.star {
    position: relative;
    float: left;
    width: 24px;
    height: 22px;
    background: url(image/star_small_u.png) 0 0 repeat-x;
}

#tab_bar{height:53px;position:fixed;background:url(images/tab_panel_bg.png) 0px 100% repeat-x;width:100%;z-index:100;bottom:0px;}

.logo{width:50px;height:17px;background:url(images/logo.png) 0px 0px no-repeat;}

#restoran_detail{position:relative;font-family:Arial;padding-top:10px;}
#restoran_detail .name{color:#fff;font-size:18px;font-weight:bold;margin-right:110px;overflow:hidden;white-space:nowrap;padding-left:10px;text-shadow:0px 1px 0px #2b2f38;}
#restoran_detail .stars{position:absolute;top:13px;right:10px;width:74px;background: url(images/stars.png) 0px -15px no-repeat;height:15px;}
#restoran_detail .stars i{display:block;height:15px;background: url(images/stars.png) 0px 0px no-repeat;}
#restoran_detail .stars i.w1{width:15px;}
#restoran_detail .stars i.w2{width:30px;}
#restoran_detail .stars i.w3{width:45px;}
#restoran_detail .stars i.w4{width:60px;}
#restoran_detail .stars i.w5{width:74px;}
#restoran_detail .stars span{color:#acb3bf;font-size:12px;position:absolute;margin-left:-22px;line-height:15px;}

#restoran_detail .photo{position:absolute;display:block;left:10px;top:40px;width:137px;height:90px;-webkit-border-radius: 8px;-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);overflow:hidden;}
#restoran_detail .photo img{display:block;-webkit-border-radius: 8px;}

#restoran_detail .anons{font-size:12px;color:#acb3bf;line-height:16px;margin-left:158px;width:130px;margin-top:5px;}
#restoran_detail .tel{color:#fff;font-size:12px;padding-left:10px;position:relative;padding-right:10px;padding-top:9px;padding-bottom:9px;background:url(images/line_bg.png) 0px 0px repeat-x, url(images/line_bg.png) 0px 100% repeat-x;margin-top:15px;overflow:hidden;line-height:28px;}
#restoran_detail .addres{color:#fff;font-size:12px;line-height:16px;padding-left:10px;padding-top:9px;padding-bottom:9px;background:url(images/line_bg.png) 0px 100% repeat-x;padding-right:10px;position:relative;}

#restoran_detail .gallery{position:relative;clear:both;overflow:hidden;padding-left:10px;padding-top:9px;padding-bottom:9px;background:url(images/line_bg.png) 0px 100% repeat-x;padding-right:10px;}
#restoran_detail .gallery ul{float:left;list-style:none;margin:0px;padding:0px;}
#restoran_detail .gallery ul li{display:block;width:47px;height:40px;-webkit-border-radius: 8px;-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);overflow:hidden;background-color:#fff;float:left;margin-right:10px;}


#restoran_detail .last_otz{padding-left:10px;padding-top:9px;padding-right:10px;padding-bottom:10px;}
#restoran_detail .last_otz .autor{color:12px;font-family:Arial;color:#fff;}
#restoran_detail .last_otz .autor b{font-size:14px;}
#restoran_detail .last_otz span{color:#acb3bf;font-size:12px;line-height:16px;}
#restoran_detail .last_otz .buts{height:31px;margin-top:9px;}
#restoran_detail .last_otz .buts .but{float:left;}

#restoran_detail .but{}
#restoran_detail .but_call{float:right;}
#restoran_detail .but_call i{top:6px;width:16px;height:16px;background:url(images/icons.png) 0px 0px no-repeat;}

#restoran_detail .but_onmap{right:10px;position:absolute;top:10px;}
#restoran_detail .but_onmap i{top:6px;width:15px;height:17px;background:url(images/icons.png) -16px 0px no-repeat;}

#restoran_detail .but_allph{float:right;height:38px;line-height:38px;padding-right:8px;padding-left:8px;}

#restoran_detail .but_newotz{float:left;margin-right:12px;}
#restoran_detail .but_newotz i{top:6px;width:18px;height:17px;background:url(images/icons.png) -31px 0px no-repeat;}
#restoran_detail .but_allotz{padding-right:14px;padding-left:14px;}

#restoran_detail .podr_info{top:40px;width:18px;height:94px;right:10px;position:absolute;}
#restoran_detail .podr_info i{display:block;position:absolute;width:11px;height:17px;background:url(images/icons.png) -50px 0px no-repeat;top:50%;right:0px;margin-top:-9px;}


.but{border:1px solid #2b323b;height:26px;line-height:26px;-webkit-border-radius: 4px;-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.21), inset 0px 1px 2px rgba(255, 255, 255, 0.31);background-image: -webkit-linear-gradient(bottom, rgb(54,62,73) 0%, rgb(73,83,98) 100%);color:#fff;font-size:12px;text-decoration:none;display:block;position:relative;padding-right:14px;padding-left:33px;text-shadow:0px 1px 0px #000;}
.but i{display:block;position:absolute;left:7px;}
.but u{text-decoration:none;}

/*переделать бг на градиент*/
/*background:url(images/nav_panel_bg.png) 0px 0px repeat-x;*/
#nav_bar{height:45px;position:absolute;width:100%;z-index:100;top:0px;left:0px;background-image: -webkit-linear-gradient(bottom, rgb(37,41,48) 0%, rgb(52,59,68) 100%)}

#nav_bar h1{color:#fff;font-size:20px;line-height:43px;font-style:italic;margin:0px;text-shadow:0px 1px 0px #24292f;font-family:appetite;position:relative;text-align:center; -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(255,255,255,0.95)), color-stop(100%,rgba(0,0,0,0.1)));}

#nav_bar .rs{position:absolute;right:13px;top:15px;}
#nav_bar .back{left:7px;top:8px;float:left;font-family:Arial;position:absolute;}

#map { width: 100%; height: 100%; z-index:1; }

#preloader{position:absolute;top:50%;z-index:9000;width:50px;height:50px;margin-left:-25px;margin-top:-25px;opacity:1;background-color: rgba(0,0,0, 0.4);-webkit-border-radius: 8px;left:50%;display:none;}
#preloader i{display:block;width:32px;margin:0 auto;margin-top:9px;height:32px;
             background: url(images/preloader.png);
             -webkit-animation-name: spinnerRotate;
             -webkit-animation-duration: 2s;
             -webkit-animation-iteration-count: infinite;
             -webkit-animation-timing-function: linear;position:absolute;margin-left:9px;}

@-webkit-keyframes spinnerRotate {
    from {
    -webkit-transform:rotate(0deg);
}
to {
    -webkit-transform:rotate(360deg);
}
}



#wrapper {
    position:absolute; z-index:1;
    top:45px; bottom:48px; left:-9999px;
    width:100%;
    overflow:auto;
}

#scroller {
    position:absolute; z-index:1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding:0;
}



#myFrame {
    position:absolute;
    top:0; left:0;
}



/**
 *
 * Pull down styles
 *
*/
#pullDown, #pullUp {
    background:#fff;
    height:40px;
    line-height:40px;
    padding:5px 10px;
    border-bottom:1px solid #ccc;
    font-weight:bold;
    font-size:14px;
    color:#888;
}



/* Bordered Button Styles */
.button.bordered {
    cursor: pointer;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 26px;
    height: 26px;
    background-image: -webkit-linear-gradient(bottom, rgb(40,175,212) 0%, rgb(35,164,206) 100%);
    color: #fff;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.21), inset 0px 1px 2px rgba(255, 255, 255, 0.31);
    text-shadow:0px 1px 0px #1a7591;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;

}
.button.bordered:hover, .button.bordered.touched {
    background-image: -webkit-linear-gradient(bottom, rgb(54,62,73) 0%, rgb(73,83,98) 100%);
    -webkit-tap-highlight-color: transparent;
}
/* End Bordered Button Styles */


/* Back Bordered Button Styles */
.button.bordered.back {
    padding: 0px 7px 0px 3px;
    margin-left: 10px;
    position: relative;
}
.button.bordered.back > span {
    position: relative;
    z-index: 1;
}
.button.bordered.back > span.pointer {
    z-index: 0;
    background-image: -webkit-linear-gradient(bottom, rgb(40,175,212) 0%, rgb(35,164,206) 100%);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 4px;
    height: 22px;
    width: 22px;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -webkit-mask-image: 
        -webkit-gradient(linear, left bottom, right top, 
        from(#000000), 
        color-stop(0.5,#000000), 
        color-stop(0.5, transparent), 
        to(transparent));
    position: absolute;
    left: -9px;
    top: 2.5px;
    -webkit-background-clip: content;
}
.button.bordered.back:hover > span.pointer, .button.bordered.back.touched > span.pointer {
    background-image: 
        -webkit-gradient(linear, left top, right bottom, 
        from(#7d88a5), 
        color-stop(0.3, #58698c),
        color-stop(0.51, #3a4e78), 
        color-stop(0.51, #253c6a), 
        color-stop(0.75, #273f6d),
        to(#273f6d)); 
}

/* priorities */
.image-container {
    position: relative;
    float: left;
    width: 110px;
}

.image-container img {
    width: 100px;
    border: 1px solid #4e5565!important;
    height:73px;
    overflow:hidden;
    border-radius: 5px;
}

.special .image-container {
    position: relative;
    float: left;
    width: 120px;
}

.special .image-container img {
    width: 110px;
}

.title-container {
    text-align: left;
    vertical-align: top;        
}
.title-container a {
    line-height:75%;
    font-size:85%;    
}
.h80
{
    overflow:hidden;
    height:82px;
}
.title-container a {
    color: white;
    font-weight: bold;  
}

.ui-body-a {
    /*padding-bottom: 3px !important;*/
}

.rating-container {
    position: relative;
    float: right;
}

.star-good {
    position: relative;
    float: left;
    width: 24px;
    height: 22px;
    background: url(image/star_big.png) 0 0 repeat-x;
    background-size: 24px auto;
    margin-right:1px;
}

.star-good-small {
    position: relative;
    float: left;
    width: 13px;
    height: 12px;
    background: url(image/star_big.png) 0 0 repeat-x;
    background-size:13px auto;
    margin-right:1px;    
}

.star-bad-small {
    position: relative;
    float: left;
    width: 13px;
    height: 12px;
    background: url(image/star_big_u.png) 0 0 repeat-x;
    background-size:13px auto;
    margin-right:1px;
}

.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-mini .ui-btn-inner {
    /*padding: 5px !important;*/
}

.ui-content {
    padding: 7px 7px 0 7px !important;
}

.table-title {
    height: 55px;
}
body {
    width: 100%;
    margin: 0;
}
.star-bad {
    position: relative;
    float: left;
    width: 24px;
    height: 22px;
    background: url(image/star_big_u.png) 0 0 repeat-x;
    background-size: 24px auto;
    margin-right:1px;
}

.title {
    position: relative;
    float: left;
    width: 140px;
    margin-left: 10px;
}

.title-container a {
    text-decoration: none;
}

.block-link {
    width: 100%;
    position: absolute;
    height: 73px;
}

.block-link70 {
    width: 100%;
    position: absolute;
    height: 70px;
}

.new-line {
    position: relative;
    float: left;
    width: 100%;
    height: 2px;
    border-top:1px solid #74777F;
    border-bottom:1px solid #F4F4F4;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rest-phone-box {
    position: relative;
    float: left;
    width: 100%;
    height: 22px;
    background: url(image/rest-phone-bg.png) 0 0 repeat-x;
    font-family: appetite !important;
    font-size: 18px !important;
    font-weight: normal;
    color: #3b414e;
    text-align: center;
    line-height: 20px;
}
.footer-right a {
    color:black !important;
}
.line {
    position: relative;
    float: left;
    width: 100%;
    height: 2px;
    background: url(image/line_bg.png) 0 0 repeat-x;
    margin-top: 3px;
    margin-bottom: 7px;
}

.address {
    width: 100%;
    font-size:75%;
}

.priorities table {
    float: left;
}

.priorities-ajax table {
    float: left;
}

.special {
    width: 100%;
}
/*.menu
{
    background-image: url('image/m_menu_new.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:30px auto;
    width:30px;
    height:28px;
    position:absolute;
    top:8px;
    left:8px;
    cursor:pointer;
    border-radius: 5px;
}*/
.menu
{
    background-image: url('image/m_menu_new.png');
    background-position: center center;
    background-size: auto 22px;
    background-repeat: no-repeat;
    width:38px;
    height:30px;
    position:absolute;
    top:7px;
    left:4px;
    cursor:pointer;
}
/*.search_ico
{
    background-image: url('image/search.png');
    background-position: center center;
    background-repeat: no-repeat;   
    background-size:30px auto;
    height:28px;
    width:30px;
    cursor:pointer;
    position:absolute;
    right:8px;
    top:8px;
    border-radius: 5px;
}*/
.search_ico
{
    background-image: url('image/search.png');
    background-position: -24px 0px;
    background-size: cover;
    background-repeat: no-repeat;    
    height:24px;
    width:24px;
    cursor:pointer;
    position:absolute;
    right:10px;
    top:10px;
}

.phone-icon
{
    background-image: url('image/phone-icon.png');
    background-repeat: no-repeat;   
    background-size:13px auto;
    height:13px;
    width:13px;
    position: relative;
    display: inline-table;
    top:1px;
    left: 5px;
}



.menu:active
{
    background-color:#2d323a;
    border-radius: 5px;
}
.logo_box
{
    /*margin-left:10%;
    margin-right:10%;*/
}
.left-logo {
    /*float: left;*/
    margin:0 auto;
    margin-top:5px;
    background-image: url(image/logo_m2_2.png);
    background-size:92px auto;
    background-repeat: no-repeat;    
    width: 92px;
    height: 32px;
    /*margin: 10px 0 13px 5px;*/    
    margin-bottom:5px;
    cursor:pointer;
}
.search_input
{
    height:28px!important;
    margin:0px!important;
    padding:0px!important;
}
/*.search_box
{    
    display: none;   
    background:white;
    position:fixed;
    top:42px;
    width:100%;    
    z-index:100;
    padding: 0 0px;
}*/

.search_box
{    
    display: none;   
    background:#2d323a;
    position:fixed;
    top:48px;
    width:100%;    
    z-index:100;
    height:29px;
}
/*.search_button
{
    position:absolute;
    right:5px;
    top:11px;
    background-image: url('image/search.png');
    background-position: 0px 0px;
    background-size: auto 31px;
    background-repeat: no-repeat;
    width:33px;
    height:30px;
    cursor:pointer;
    border-radius: 5px;
}*/

/*.search_button2
{
    position:absolute;
    right:0px;
    top:8px;
    background-image: url('image/search.png');
    background-position: 0px 0px;
    background-size: auto 31px;
    background-repeat: no-repeat;
    width:33px;
    height:30px;
    cursor:pointer;
    border-radius: 5px;
}*/

.search_button
{
    position:absolute;
    right:9px;
    top:16px;
    background-image: url('image/search.png');
    background-position: 0px 0px;
    background-size: auto 19px;
    background-repeat: no-repeat;
    width:22px;
    height:22px;
    cursor:pointer;
    border-radius: 5px;
}

.search_button2
{
    position:absolute;
    right:4px;
    top:13px;
    background-image: url('image/search.png');
    background-position: 0px 0px;
    background-size: auto 19px;
    background-repeat: no-repeat;
    width:22px;
    height:22px;
    cursor:pointer;
    border-radius: 5px;
}

.search_button:active
{    
    background-position: -36px 0px;    
}
.search_cancel
{
    position:absolute;
    right:5px;
    top:3px;
    cursor:pointer;
    display:none;
    
}
.search_cancel .ui-btn-inner {
    padding: 0.35em 11px 0.3em !important;
}

.search_options
{
    background-image: url('image/m_options.png');    
    background-size: cover;
    background-repeat: no-repeat;    
    height:24px;
    width:24px;
    cursor:pointer;
    position:absolute;
    right:10px;
    top:10px;
}
.rest-container
{
    padding-top:5px;
}
.left-full
{
    float:left;
    font-size:1em;
    padding-left:20px;
    padding-top:20px;

}
.ajax-loader {
    float: left;
    position: relative;
    background: url(image/ajax_loader.gif) 0 0 repeat-x;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    left: 50%;
    opacity: 0.3;
}

.ajax-container {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    /*display: none;*/
    color: #5DACEC;
}

.search_ico-container {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80px;
    height: 43px;
}

.search_button-container {
    height: 45px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80px;
}

.hidden {display: none;}


/* detail-page */

.detail-page .rating-container {

}

.detail-page img {
    width: 70px;
    float: left;
    margin-right: 0px;
    margin-bottom: 0px;
}

.detail-page .main-image-block {
    position: relative;
    float: left;
    width: 100%;
}

.detail-page .main-image {
    width: 100%;
    border-radius: 10px;
    float: left;
    box-shadow: 1px 1px 3px #1a1a1a;
}

.name-block {
    width: 100%;
    float: left;
    margin-bottom: 2px;
}

.description-block {
    float: left;
    margin-top: 0px;
    margin-left: 10px;
}

.middle-block {

}

.button-right {
    float: right;
    text-decoration: none;
}

on-map-link {

}

.button-left {
    float: left;
    margin-right: 15px;
}

.comment-count-block {
    position: relative;
    float: right;
    color: white;
    margin: 9px 12px 0px 0;
    font-size: 13px;
    z-index: 11;
}

.rating-block-background {
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.7;
    z-index: 1;
    height: 38px;
    border-radius: 10px 10px 0 0;
}

.images-background a {
    width: 95%;
    z-index: 10;
    height: 47px;
    margin-left: 10px;
}


.images-background {
    position: absolute;
    width: 100%;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.01) 32%, rgba(0,0,0,0.7) 65%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(32%,rgba(0,0,0,0.01)), color-stop(65%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.01) 32%,rgba(0,0,0,0.7) 65%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0.01) 32%,rgba(0,0,0,0.7) 65%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.01) 32%,rgba(0,0,0,0.7) 65%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0.01) 32%,rgba(0,0,0,0.7) 65%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03000000', endColorstr='#b3000000',GradientType=1 ); /* IE6-9 */


    opacity: 0.7;
    z-index: 1;
    height: 47px;
    border-radius: 10px;    
}

.comment-count{
    color: black;
    text-align: center;
    width: 20px;
    line-height: 20px;
    font-size: 13px;
}

.comment-count-text {
    float: right;
    color: white;
    margin-left: 5px;
    /*margin: 11px 12px 0px 0;*/
    line-height: 20px;
    font-size: 13px;
}

.comment-block {
    position: relative;
    margin-bottom: 30px;
}

.circle {
    width: 20px;
    height: 20px;
    background: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float: left;
}

.images-container {
    position: relative;
    float: left;
    width: 8000px;
}

.all-photos-link {
    float: left;
    color: white;
    z-index: 10;
    position: relative;
}

.all-photos-link-block {
    right: 0;
    line-height: 47px;
    text-align: left;
    position: absolute;
    width: 150px;
    height: 30px;
}

.restaurant-name {
    color: black;
    float: left;
    width: 200px;
    font-size: 130%;
    line-height:100%;
    font-weight: bold;
    margin-top: -6px;
}

.phone-block {
    width: 50%;
    float: right;
    position: relative;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.opening-hours-block {
    width: 50%;
    float: left;
    position: relative;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.phone-block a {
    text-decoration: none;
    margin-right: 15px;
}

.rating-block {
    position: absolute;
    width: 100%;

}

.address-block {
    color: #a5b9e5;
    font-size: 14px;
    float: left;
}

.title-block {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.on-map-right-block {
    position: relative;
    margin: 12px 0 0 10px;
    font-size:75%;
}

.subway-block {
    color: #a5b9e5;
    font-size: 14px;
    float: left;
}

.no-margin-top {
    margin-top: 0 !important;
}

.detail-page .image-block {
    width: 100%;
    margin-top: 6px;
    border-radius: 10px;
    position: relative;
    float: left;
    height: 47px;
    overflow: hidden;
    box-shadow: 1px 1px 3px #1a1a1a;
}

.detail-page a {
    text-decoration: none;   
}

.detail-page p {
    width: 100%;
}
.one-opinion p {
    margin: 2px 0;
}
.detail-page .end-page {
    /*margin-bottom: 150px;*
    margin-top: 50px;  */
}
.detail-page .rating-container {
    float: left;
    margin: 8px 0 7px 10px;
    z-index: 10;
}
.all-photos-page img {
    width: 48%; margin: 1%;
    float: left; 
}
.gallery-prev {
    background: red;
    width: 30px;
    float: left;
    height: 200px;
}

.bill-icon
{
    background-image: url('image/average_bill.png');    
    background-size: cover;
    background-repeat: no-repeat;    
    height:15px;
    width:15px;
    position:relative;
    margin-right: 0px;
    top:7px;
    float: left;
}

.bill-icon-opacity
{
    background-image: url('image/average_bill.png');    
    background-size: cover;
    background-repeat: no-repeat;    
    height:15px;
    width:15px;
    position:relative;
    margin-right: 0px;
    top:7px;
    float: left;
    opacity: 0.2;
}

.block-value {
    font-weight: normal !important;
    color: #444!important;
}

.gallery-next {
    background: red;
    width: 30px;
    float: right;
    height: 200px;
}
.gallery-page .image-container {
    /*width: 100%;
    min-height: 100px;*/
}
.gallery-page .image {
    float: left;
}
.gallery-pagedddddd img {
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed !important;
    z-index: 1;
}
.gallery-page-imgd {
    top: 50%; 
    left: 50%;
    position: relative;
    z-index: 1;
}
.gallery-page {
    top: 0; 
    left: 0;
    height: 100%;
    position: fixed !important; 
    overflow: hidden;
    width: 100%;
}
.swipe {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed !important; 
    top: 0; 
    left: 0;
}
#header {
    height: 42px;
}
/* End Back Bordered Button Styles */

#jq_ez_bg
{
    text-align:right;
}

.right-imp {
    float: right !important;
}
.comment_date {
    float: left;
    margin-top: 0px;
    color: #44B1FF;
    font-size: 12px;
}

.no-margin {
    margin: 0 !important;
}

.razvernut {
    position: relative;
    float: left;
    width: 30px;
    height: 31px;
    background: url(image/razv.png) 0 0 repeat;
    background-size: 30px auto;
}

.svernut {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    background: url(image/razv2.png) 0 0 repeat;
    background-size: 30px auto;    
}

.answer {
    position: relative;
    float: left;
    width: 38px;
    height: 28px;
    background: url(image/otvet.png) 0 0 no-repeat;
    background-size:30px auto;
    margin-top: 10px;
    padding-left: 40px;
        line-height: 28px;
        font-weight: normal !important;
}

.font18-container .ui-btn-text{
    font-size: 18px !important;
}

.active-answer {
    position: relative;
    float: left;
    width: 38px;
    height: 28px;
    background: url(image/otvet2.png) 0 0 no-repeat;
    background-size:30px auto;
    margin-top: 10px;
    display: none;
    padding-left: 40px;
    line-height: 28px;
    font-weight: normal !important;
    color: #0093d0 !important;
}

.detail-page .restaurant-name {
    text-align: left;
    width: 100%;
    margin-bottom: 6px;
    text-shadow: 1px 1px 1px #BABABA;
}

.razver-background {
    /*background: #2c3343 !important;*/
}

.one-opinion {
    /*padding: 15px 10px;*/
    position: relative;
}

.end-page .ui-btn-inner {
    padding: 10px 12px !important;
}
.restaurant-block .rating-container {
    margin-top: 3px;
}
.active-panel {
    background: linear-gradient(#555555, #333333) repeat scroll 0 0 #333333 !important;
    border: 0px solid #222222 !important;
    color: #FFFFFF !important;
    font-weight: bold !important;
    text-shadow: 0 -1px 1px #000000 !important;
}
.active-panel .ui-link-inherit {
    color:white !important;
}

.ui-btn-up-f {
    color:white;
}

.ui-btn-up-f, .ui-btn-hover-f, .ui-btn-down-f {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
    font-weight: bold;
    background: #353b42 !important;
}

.ui-btn-up-f .ui-btn-inner {    
    border: 1px solid #353b42 !important;
    padding: 5px !important;
    line-height: 14px !important;
}

.ui-btn-up-g {
    color:white;
}

.ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-g {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
    font-weight: bold;
    background: rgb(65,72,88); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(65,72,88,1) 0%, rgba(78,85,100,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(65,72,88,1)), color-stop(100%,rgba(78,85,100,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(65,72,88,1) 0%,rgba(78,85,100,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(65,72,88,1) 0%,rgba(78,85,100,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(65,72,88,1) 0%,rgba(78,85,100,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(65,72,88,1) 0%,rgba(78,85,100,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414858', endColorstr='#4e5564',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.ui-btn-up-g .ui-btn-inner {    
    border: 1px solid #353b42 !important;
    padding: 5px !important;
    line-height: 14px !important;
}

.fieldset-container {
    padding: 10px 0;
    margin-bottom: 10px;
    float:right;
}
.online-order-radio .ui-radio-off {
    height: 29px;
}
.fieldset-container .ui-btn-up-d {
    height: 28px;
}

.fieldset-container .ui-btn-hover-d {
    height: 28px;
}

.autocomplete-question {
    width: 100%;
    margin: 0 auto;
    position: relative;
    float: left;
}
.autocomplete-question .ui-listview-filter {
    margin: 0 auto !important;
}
.autocomplete-question .ui-listview {
    margin: 0 !important;
}


.to-top-link {
    font-size: 27px;
    color: #5dacec;
    float: left;
    position: relative;
    width: 114px;
    background: url(image/to_top.png) 0 0 no-repeat;
    height: 31px;
    margin-left: -67px;
    left: 50%;
    padding-left: 40px;
}

.to-top-link-container {
    float: left;
    position: relative;
    width: 100%;
    height: 46px;
    padding-bottom: 20px;  
    display: none;
}

.ui-loader {
    border: 0 !important;
}

#map
{
    position: absolute;
    width:100%;
    top:0px;
    left:0px;
}
#map_overlay
{
    position: absolute;
    width:100%;
    top:0px;
    left:0px;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 1%, rgba(255,255,255,0.02) 97%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.5)), color-stop(1%,rgba(0,0,0,0.5)), color-stop(97%,rgba(255,255,255,0.02)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 1%,rgba(255,255,255,0.02) 97%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 1%,rgba(255,255,255,0.02) 97%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 1%,rgba(255,255,255,0.02) 97%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 1%,rgba(255,255,255,0.02) 97%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00ffffff',GradientType=1 );



    z-index:98;
    cursor:pointer;
}
#mysearch
{
    position:relative;
    margin-left:-5px; 
    margin-right:-5px;
    margin-top:-5px;
    padding:5px;
    padding-top:18px;
    padding-bottom:1px;
    height:27px;
    
     box-shadow: 0px 3px 10px #1a1a1a;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #414858 /*{a-bar-background-start}*/), to( #414858#2d323a /*{a-bar-background-end}*/))!important;
    background-image: -webkit-linear-gradient( #414858 /*{a-bar-background-start}*/, #2d323a /*{a-bar-background-end}*/)!important; 
    background-image:    -moz-linear-gradient( #414858 /*{a-bar-background-start}*/, #2d323a /*{a-bar-background-end}*/)!important; 
    background-image:     -ms-linear-gradient( #414858 /*{a-bar-background-start}*/, #2d323a /*{a-bar-background-end}*/)!important; 
    background-image:      -o-linear-gradient( #414858 /*{a-bar-background-start}*/, #2d323a /*{a-bar-background-end}*/)!important; 
    background-image:         linear-gradient( #414858 /*{a-bar-background-start}*/, #2d323a /*{a-bar-background-end}*/)!important;
    z-index:98;
}
/*#mysearch
{
    position:relative;
    margin-left:-5px; 
    margin-right:-5px;
    margin-top:-5px;
    padding:5px;
    padding-top:3px;
    padding-bottom:1px;
    height:43px;
    overflow: hidden;
    box-shadow: 0 0 10px #1A1A1A;
    z-index:98;
}*/
#onmap
{
    position:relative;margin-left:-5px; margin-right:-5px;height:59px;
}
#map_link
{
    position: absolute;
    width:100%;
    top:24px;    
    z-index:99;
    cursor:pointer;
}
#map_link2
{
    position: absolute;
    width:100%;
    top:0px;    
    z-index:99;
    cursor:pointer;
}
#map2
{
    position: absolute;
    width:100%;
    height:59px;
    top:0px;
    left:0px;
    background:url(image/map.png) top left no-repeat;
    background-size:300px auto;
}
#map_link div
{
    width:240px;
    margin:0 auto;
    cursor:pointer;
}
a{text-shadow: none!important}

.detail-page
{
    padding-top:10px;
}

.new {
    font-family: appetite;        
    font-size: 15px;
    line-height: 28px;
}
.advert
{
    position:absolute;
    bottom:0px;
    right:0px;
}
/*#filterform
{
    background:#414858!important;
    opacity:.95;
    
}
#filterform .ui-panel-inner
{
    padding:10px!important;    
}*/
#defaultpanel .ui-panel-inner
{
    padding:5px!important;    
    padding-top:0px!important;
}
.white
{
    color:#FFF;
}
.font18 
{
    font-size:18px;
}
.center
{
    text-align:center;
}
.line2
{
    border-top:1px solid #d2d2d2;
    border-bottom:1px solid #f2f2f2;
    margin:2px -15px 5px -15px;
}
#filterform .line2
{
    border-top:1px solid #444;
    border-bottom:1px solid #74777F;
    margin:10px -15px;
}
.another
{
    color:#009bdc!important;
}
.block-value
{
    line-height: 18px!important;
}
.block-name
{
    line-height: 18px!important;
}
.review_text
{
    font-size:0.85em!important;
    margin-top:5px;
}

.footer-left {
    float:left;
    line-height: 35px;
    margin-left: 10px;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
}

.footer-right {
    float:right;
    line-height: 32px;
    margin-right: 10px;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
}

.footer-right a {
    font-weight: normal !important;
    font-size: 13px;
}

#footer {
    position:absolute; z-index:2;
    bottom:0; left:0;
    width:100%;
    height:35px;
    background: none !important;
    border: none !important;
    /*background-color:#222;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
    background-image:-moz-linear-gradient(top, #999, #666 2%, #222);
    background-image:-o-linear-gradient(top, #999, #666 2%, #222);*/
    padding:0;
    /*border-top:1px solid #444;*/
}

.distance {
    margin-top: 4px;
    font-size: 0.85em;
    text-align:right;
}

#reviews-index {
    position: relative;
    display: block;
    margin-top: 265px;
}

.title-container a
{
    line-height:50%!important;
}