#content a
{
    color:#de1a22;
}
#content span.red
{
    color:#de1a22;
}
.wrap
{   
    padding-bottom: 75px;
    min-height:670px;
}
#header
{
    background: url(images/pir_bg.jpg) top center no-repeat #de1a22;
    height:183px;   
    padding-top:458px;
    position:relative;
}
#header2
{
    background: url(images/pir_others.jpg) top center no-repeat #de1a22;
    height:55px;   
    padding-top:181px;
    position:relative;
}
#icons_block
{
    width:980px;
    margin:0 auto;
    position: relative;
}
.icons
{
    position:absolute;  
    padding-top:80px;
    width:142px;
    height:140px;
    font-family: appetite;
    font-size:20px;
    color:#FFF;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    display: block;    
}
.icons:hover
{    
    color:#000;
}
#header .icon1
{
    background: url(images/pir_icon1.png) top center no-repeat;
    left:90px;
}
#header .icon2
{
    background: url(images/pir_icon2.png) top center no-repeat;
    left:320px;
}
#header .icon3
{
    background: url(images/pir_icon3.png) top center no-repeat;
    left:530px;
    padding-top:90px;
}
#header .icon4
{
    background: url(images/pir_icon4.png) 50% 10px no-repeat;
    padding-top:90px;
    left:755px;
}

#header2 .icons
{
    background-image:url(images/pir_icons_sprite.png);
    background-repeat: no-repeat;
    padding-top:0px;
    padding-left:44px;   
    height:34px;
    font-size:14px;
    line-height:18px;
    text-align: left;
}
#header2 .icons:hover
{
    background-position-y: -34px;
}
#header2 .icon1
{
    background: url(images/pir_icons_sprite1.png) top left no-repeat;
    left:90px;
}
#header2 .icon2
{
    background: url(images/pir_icons_sprite2.png) top left no-repeat;
    left:330px;
    line-height:34px;
}
#header2 .icon3
{
    background: url(images/pir_icons_sprite3.png) top left no-repeat;
    left:560px;   
    line-height:34px;
}
#header2 .icon4
{
    background: url(images/pir_icons_sprite4.png) top left no-repeat;
    left:765px;
    line-height:34px;
}
#header2 #time
{
    color:#FFF;
    position: absolute;
    top:-99px;
    left:440px;
    font-family: Arial;
    font-size:14px;
    line-height: 20px;
    text-align: right;
}
#time
{
    color:#FFF;
    position: absolute;
    top:-118px;
    left:110px;
    font-family: Arial;
    font-size:14px;
    line-height: 20px;
    text-align: right;
}
#time a
{
    color:#FFF;    
}
#content
{
    width:980px;
    margin:0 auto;
    font-size: 14px;
    line-height: 18px;
    padding-top: 20px;
}
#content h1
{
    font-style: italic;
}
#footer .footer_content
{
    width:980px;
    margin:0 auto;
}
#footer .to_top {
    position: absolute;
    z-index: 1000;
    margin: 0 auto;
    background: url(/tpl/images/to_top.png) left top no-repeat;
    width: 96px;
    height: 96px;
    margin-left: 440px;
    margin-top: -66px!important;
    letter-spacing: 1px;
    color: #FFF;
    line-height: 125px;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    text-transform: uppercase;
}
#to_main
{
    background: url(images/foot_bg.png) left top repeat-x;
    height:90px;
    padding-top: 50px;
    margin-bottom:-50px;
}
#to_main div
{
    width:980px;
    margin:0 auto;
    text-align: center;
}