/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
		
}

a {
	text-decoration: none;
}


body {
	position: relative;
	font-family: 'Open Sans', 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
	background-color: #FFFFFF;
	box-sizing: border-box;
	//overflow: hidden;
	min-height: 100%;
}

label {
	color: #a3a19b;
}

.app-bar {
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #f5f3f4;
	overflow: hidden;
	z-index: 1;
	border-bottom: 1px solid #c1c1c1;
}

.app-bar-container {
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 92px;
	position: relative;
	-webkit-flex-direction: row;
	flex-direction: row;
	margin: 0 auto;
}



.app-bar.open,
.app-bar.open ~ main {
	-webkit-transform: translate(250px, 0);
	transform: translate(250px, 0);
}

.app-bar .logo {
	//-webkit-flex: 1;
	//flex: 1;
	font-size: 2em;
	line-height: 60px;
	margin: 0 auto;
	padding: 0;
	color: #555;
	float: none;
	max-width: none;
	font-family: 'Open Sans' , 'Roboto Condensed', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
	padding-top: 5px;
	text-align: center;
}

.app-bar .logo a {
	text-decoration: none;
	color: inherit;
	font-weight: normal;

}

.app-bar .logo img {
	//height: 36px;

}

.app-bar .logo h1 {
	font-size: 40px;
	font-weight: 300;
	padding-top:13px;
}
.app-bar .logo h4 {
	font-size: 24px;
	line-height: 1em;
	padding-top: 0px;
	padding-bottom: 0;
	font-weight: 100;
}

.app-bar-actions {
	display: -webkit-flex;
	position: absolute;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	z-index: 103;
	right: 12px;
	line-height: 77px;
}

.app-bar-actions a{
	text-decoration: none;
	color:#555555;
	font-size: 26px !important;
	vertical-align: middle;
}

.app-bar button {
	width: 60px;
	height: 60px;
	background-image: none;
	background-color: transparent;
	border: none;
	padding: 0;
	position: absolute;
	transition: background-color 0.2s ease-out;
	margin-top: 11px;
	-webkit-tap-highlight-color: transparent;
}

.app-bar button img {
	width: 60px;
	height: 60px;
}

.app-bar button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
	background-color: rgba(255, 255, 255, 0.2);
	outline: 0;
}

.app-bar button:active {
	background-color: rgba(255, 255, 255, 0.4);
}

button.menu img {
	height:20px;
	width: 24px;
}

.btn.filter {
		position: fixed;
		bottom: 40px;
		margin: 0 auto;
		display: block;
		width: 35%;
		line-height: 80px;
		background-color: rgba(255,255,255,0.8);
		border-radius: 42px;
		text-align: center;
		text-decoration: none;
		font-size: 30px;
		border: 2px solid rgba(0,0,0,0.2);
		color: #1e1e1e;
		font-weight: 400;
		left:33%;
}

.promote-layer {
	/*
	This may promote the layer to a composited
	layer.

	Replace with will-change when available

	#perfmatters
	*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.base, p, ul, ol {
	font-size: 19px;
}

.navdrawer-container {
	z-index: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url(../images/menu-bg.jpg);
	background-size: auto 130%;
	color: #fefefe;
	-webkit-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	overflow-y: scroll;
}

.search {
	height: 70px;
	margin-bottom:20px;
}

.search form {
	padding-top: 8px;
	padding-left: 4%;
}
form input, form select{
	height: 66px;
	vertical-align: top;
	font-size: 28px;
	border-radius: 10px;
}
form textarea{
	height: 120px;
	padding-left: 8px !important;
	padding-top: 8px;
	border-radius: 5px 5px 0 0 !important;
	border-bottom: 0;
}
.line.text {
	height: 150px;
}
form input[type=text],form input[type=email], form textarea  {
	width: 67%;
	border: 1px solid #e3e0d6;
	border-radius: 5px;
}

.search form input[type=text] {
	padding-left: 10px;
	margin-right: 8px;
}

form input[type="submit"] {
	background-color: #3bc6ee;
	border: 0;
	border-radius: 10px;
	color: white;
	font-weight: 600;
	width: 28%;
}
.line {
	width: 90%;
	margin: 0 auto;
	height: 50px;
	margin-bottom: 34px;
}
.line label {
	min-width: 33%;
	display: inline-block;
	float: left;
	line-height:50px;
	font-size: 30px;
}
.line input[type="text"],.line input[type="email"], .line textarea   {
	float: right;
	margin-right:  0;
	padding-left: 0;
	width: 66%;
}
.line input[type="email"], .line textarea {
width: 100%;

}

.line select {
	border: 1px solid #e3e0d6;
    	border-radius: 5px;
    	float: right;
    	height: 100%;
    	background-color: white;
    	padding: 0 20px !important;
    	width: 50%;
}

.booking {
	padding-top: 18px;
}

.booking input[type=submit] {
	width:100%;

}

ul.stars {
	display: inline-block;
	vertical-align: top;
	line-height: 0px;
	padding-top: 17px;
	float: right;
}

.stars li {
	list-style-type: none;
	background: url(../images/star.png) no-repeat;
	display: inline-block;
	position: initial;
	width: 17px;
	height: 17px;
	background-size: cover;
}

.file_upload button {
	width: 100%;
	background: url(../images/image.jpg) no-repeat 2% 50% / 17px #FFFFFF;
	border-bottom: 1px solid #e3e0d6;
	border-left: 1px solid #e3e0d6;
	border-right: 1px solid #e3e0d6;
	border-top: none;
	font-size: 60%;
	text-align: left;
	padding-left:9%;
}
.file_upload input[type='file'] {
	display: none;
}

.map {
	padding:0!important;
	margin:0!important;
	width: 100%;
	height: 100%;
}

.map  a.locate {
	background: url(../images/map_locate.png) no-repeat 50% 50% / cover transparent;
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 50px;
	right: 30px;
	z-index: 1000; 
}

.navdrawer-container .app-bar-container a img {
	height: 75px;
	margin-top: 10px;
	margin-left: 10px;
}

.navdrawer-container .app-bar-container a span {
	color: #666666;
	vertical-align: sub;
}

.navdrawer-container.open {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.app-bar, .navdrawer-container, main {
	transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
	height: 60px;
	padding: 0 20px;
	line-height: 60px;
}

.navdrawer-container h4 {
	background-color: white;
	color: #3367D6;
}

.navdrawer-container ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	top: 20%;
	left: 4%;
	position: relative;
}

div.item {
	height: 420px;
	width: 100%;
		position: relative;
		background-size: cover !important;
		margin-bottom: 11px;
		border-radius: 0 0 5px 5px;
}

.items .item .info {
	background: url(../images/items-bg.png) repeat-x 100% 100%;
	bottom: 0;
	height: 155px;
	border-radius: 0 0 5px 5px;
	position: absolute;
	width: 100%;

	background-size: contain;
}

.items .item .info h2 {
	font-weight: 600;
	//font-family: "Open Sans";
	color: #ffffff;
	padding-top: 44px;
	padding-left: 24px;
	font-size: 32px;
}
.items .item .info h3 {
	font-weight: 300;
	//font-family: "Open Sans";
	color: #e1e1e1;
	padding-top: 10px;
	padding-left: 24px;
	font-size: 28px;
	background: url(../images/marker.png) no-repeat 0% 65%;
	display:inline-block;
	margin-left: 24px;
}

.items .item .info .time {
	float: right;
	padding-right: 7px;
	padding-top: 14px;
	color: #e1e1e1;
	background: url(../images/time.png) no-repeat 0% 65%;
	background-size: 14px;
	padding-left: 20px;
	font-size: 28px;
}

.navdrawer-container ul li a {
	display: block;
	text-decoration: none;
	color: #666666;
	font-weight:100;
	height: 50px;
	//transition: background-color 0.2s ease-out;
}

.navdrawer-container ul li {
	//border-bottom-style: solid;
	//border-width: 1px;
   // border-color: white;
	padding: 0;
}

.navdrawer-container ul li:before {
	content: none;
}

.booking .rest {
	width:100%;
	background-size: cover;
	height: 110px;
	margin-bottom: 10px;
	background-position: 50% 50%;
}

.booking .rest h2 {
	font-size:  20px;
	font-weight: 500;
	color: #ffffff;
	margin-left: 7%;
	padding-top: 16%;
}

.booking .rest h3 {
	padding-top: 3px;
	font-size: 16px;
	color: #ffffff;
	margin-left: 7%;
}

main.inner {
	padding: 0;
}
.items-detail .head {
	width: 100%;
	height: 420px;
	background-position: 50% 50%;
	background-size: cover;
	border-bottom: 4px solid #cdcdcd;
	float: left;
}

main.inner .row {
	padding:0 44px;
	width: 100%;
	float: left;
}

.items-detail .body p {
	font-size: 24px;
	padding:0;
}

.items-detail .body p.type {
	font-size: 24px;
	padding-top: 2.5em;
	font-weight: 600;
}

.items-detail .body h2 {
	font-size: 48px;
}
.items-detail .body .rating {
	padding-top: 1.25em;
	position: relative;
}
.items-detail .body .rating img {
	max-width: 96px;
	max-height: 96px;
	border: 6px solid white;
	border-radius: 48px;
	float: left;
}

.items-detail .body .rating p.type {
	padding-top: 0.35em;
	vertical-align: top;
	display: inline-block;
	float: left;
	padding-left: 10px;
	width: 80%;
}


ul.stars{
	float: left;
	top: 5px;
	margin-left: -30px;
	width: 20%;

}

.items-detail .body{
	display: inline-block;
}
.items-detail .body .rating p.description {
	padding-top: 7px;
	float: left;
	position: relative;
}
.items-detail .body .reviews {
	margin-bottom:20px;
}

.items-detail .body .review {
	background-color: #ffffff;
	padding: 20px;
	width: 100%;
	border-radius: 5px;
	margin-top: 60px;
	box-shadow: 0px 3px 2px rgba(0,0,0,0.5);
}

.items-detail .body .reviews h2 {
	text-align: center;
}
.items-detail .body .reviews .review-head {
	display: inline-block;
	width: 100%;
	height: 30px;
}
.items-detail .body .reviews .review-head span {
	font-size: 12px;
}

.items-detail .body .reviews .review-head span.name {
	float:left;
	width: 33%;
}
.items-detail .body .reviews .review-head span.date {
	float:right;
}
.items-detail .body .reviews .review-head .user {
	min-width: 33%;
	float: left;
	min-height: 80px;
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 40px;
	border: 3px solid #FFFFFF;
	top: -57px;
	position: relative;
}
.items-detail .body .reviews .review-body p.text{
	font-weight:600;
}
.items-detail .body .reviews a.link {
	font-size:26px;
	font-weight:600;
	width: 100%;
	text-align: center;
	display: block;
	margin-top:10px;
}
.items-detail .body .reviews  p.text{
	padding-top:20px;
	text-align: justify;
}

.list .list-item {
	border-bottom: 1px solid #cccccc;
}
.list .list-item div {
	display: inline-block;
  	font-size: 24px;
  	line-height: 1em;
  	padding: 1.3em 0;
  	
}
.list .list-item .title {
	float: left;
  	
}
.list .list-item .desc {
	float: right;
  	font-weight: 900;
}

.items-detail .map {
	width:100%;
	height: 426px;
  	float: left;
  	position: relative;
  	margin-bottom: 106px !important;
}

.items-detail .map #map {
	height: 100%;
	width: 100%;
}

.items-detail .map .address {
	height: 30%;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	width: 100%;
	z-index: 100;
}

.items-detail .map .address address {
	font-size: 24px;
  	font-weight: 900;
  	line-height: 1.2em;
  	padding: 1em 1em 0 1em;
	font-style: normal;
}
.items-detail .map .address p {
	font-size: 24px;
  	font-weight: 100;
  	line-height: 1.5em;
  	padding: 0em 1em 1em 1em !important;
	font-style: normal;
}

.rest-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #55b6d4;
}
.rest-buttons .button {
  width: 33%;
  float:left;
  background-color: #55b6d4;
  border-left:none;
  border-right:1px solid #3faed0;
  border-top:none;
  border-bottom:none;
  font-size: 22px;
  font-weight:900;
  line-height:1.25em;
  height:92px;
  margin-top:16px;
  vertical-align: top;
  color: #FFFFFF; 
  padding: 0;
  padding-top:1em;
}


.grad {
	height:100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 15%, rgba(0,0,0,0.15) 55%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,rgba(0,0,0,0)), color-stop(55%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 15%,rgba(0,0,0,0.15) 55%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 15%,rgba(0,0,0,0.15) 55%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 15%,rgba(0,0,0,0.15) 55%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 15%,rgba(0,0,0,0.15) 55%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=0 ); /* IE6-9 */
	padding-top: 0 !important;
}
.inner.grad a.logo {
  	width: 100%;
  	text-align: center;
  	display: inherit;
  	margin-bottom:20%;
  	padding-top: 30%;
}
.inner.grad .logo img {
	width: 33%;
}
.inner.grad .line {
	width: 76%;
	margin-bottom: 2px;
	line-height: 4.25em;
	font-size: 24px;
	height: 4.25em;
}
.inner.grad .line a {
	color: #23a2ca;
}
.inner.grad input[type=text],
.inner.grad input[type=password]{
	border: none;
	border-bottom: 1px solid #cccccc;
  	border-radius: 0;
  	width: 82%;
  	float: right;
  	background: transparent;
  	font-size: 30px;
}

.inner.grad input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
.inner.grad input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
    opacity:  1;
}
.inner.grad input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
    opacity:  1;
}
.inner.grad input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}
.inner.grad input[type="submit"]{
	width:100%;
  	background-color:#23a2ca;
  	height:2.75em;
  	margin-top: 1em;
  	font-size: 30px;
  	font-weight: 900;
}
.inner.grad button.social {
	width: 40%;
	line-height: 2.65em;
	height: 3.65em;
	font-size: 22px;
	background-color: #5678b4;
	border: 0;
	border-radius: 0.5em;
	color: #FFFFFF;
	padding-left: 2.5em;
}

.inner.grad button.social.fb {
	float:left;
  	background: url(../images/fb.jpg) 50% 50% / cover #5678b4;
}
.inner.grad button.social.vk {
	float:right;
  	background: url(../images/vk.jpg) 50% 50% / cover #5678b4;
}

.inner.grad .pass {
	background: url(../images/pass.png) no-repeat 2% 50% / 8%;
}
.inner.grad .login {
	background: url(../images/mail.png) no-repeat 2% 50% / 8%;
}
.inner.grad .footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	height: 40px;
  	width:100%;
}
.inner.grad .footer p{
  	line-height:1em;
  	padding: 1em;
  	font-size: 12px;
  	text-align: center;
  	color: #a2a2a2;
}
/*
.navdrawer-container ul li a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
	background-color: rgba(255, 255, 255, 0.3);
	outline: 0;
}

.navdrawer-container ul li a:active {
	background-color: rgba(255, 255, 255, 0.4);
}
*/
main {
	margin: 0 auto;
	/* Height of the header */
	padding: 100px 8px 8px 8px;
	min-height: 100%;
	background: url(../images/all-bg.jpg);
}

body {
	//background: url(../images/all-bg.jpg);
}

/** Larger Screens - desktops and tablets **/
@media all and (min-device-width: 1200px) {
	.app-bar {
		position: relative;
	}

	.app-bar-container {
		display: block;
		height: 92px;
		max-width: 864px;
		padding: 0 16px;
		box-sizing: border-box;
		background-color: #f5f3f4;
	}

	.app-bar .logo {
		float: left;
		margin: 0;
		padding: 0;
		line-height: 92px;
		font-size: 15px;
	}

	.app-bar-actions {
		float: right;
	}

	.app-bar:after {
		content: ' ';
		display: block;
		height: 0;
		overflow: hidden;
		clear: both;
	}

	button.menu {
		display: none;
	}

	nav {
		display: block;
		margin-top: 130px;
	}

	.navdrawer-container {
		position: relative;
		width: 100%;
		height: auto;
		margin-top: 130px;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		transition: none;
		overflow-y: auto;
		display: none;
	}

	.navdrawer-container h4 {
		display: none;
	}

	.navdrawer-container ul {
		display: -webkit-flex;
		display: flex;
		max-width: 864px;
		margin: 0 auto;
		-webkit-flex-direction: row;
		flex-direction: row;
	}

	.navdrawer-container ul li {
		border: none;
	}

	main {
		max-width: 864px;
		padding-top: 0;
		min-height: initial;
	}

	body {
		overflow-y: scroll;
	}

	.navdrawer-container {
		position: relative;
		margin-top: 0;
	}
}

@media all and (min-device-width: 1200px) and (max-width: 800px) {
	.app-bar .logo {
		float: none;
		width: 100%;
		line-height: normal;
		text-align: center;
		padding-top: 36px;
	}

	.app-bar-container {
		height: auto;
	}

	.app-bar-actions {
		width: 100%;
	}

	.navdrawer-container {
		padding: 0 16px;
		overflow-y: auto;
	}

	.navdrawer-container li {
		-webkit-flex: 1;
		flex: 1;
		text-align: center;
	}
}