@media  (max-device-width: 1920px)  and (-webkit-min-device-pixel-ratio: 2) {


	.app-bar-container { height: 46px; }
	.app-bar .logo { line-height: 23px; }
	.app-bar .logo img {height: 36px;}
	.app-bar .logo h1 {
		font-size: 20px;
		padding-top:0px;
	}
	.app-bar .logo h4 {
		font-size: 12px;
	}
	.app-bar button {width: 45px; height: 45px;margin-top: 0; }
	main {padding-top: 55px;}
	button.menu img {height:11px;width: 13px;}
	.items .item {height: 240px;}
	.items .item .info {height: 95px;}
	.items .item .info h2 {font-size: 22px;padding-top: 28px;padding-left: 12px;}
	.items .item .info h3 {font-size: 18px;padding-top: 7px;padding-left: 16px; margin-left: 12px; background-size: 12px 15px;}
	.items .item .info .time {font-size: 18px; padding-top: 6px;}
	.app-bar-actions {
		line-height: 48px;
	}
	.app-bar-actions a{
		font-size: 14px !important;
		line-height: 47px;
		
	}
	.btn.filter {
		bottom: 40px;
		font-weight: 400;
		line-height: 40px;
		border-radius: 42px;
		font-size: 15px;
		border: 1px solid rgba(0,0,0,0.2);
	}
	.navdrawer-container .app-bar-container a img {
	    	height:35px;
	    	margin-top: 5px;
		margin-left: 5px
	}
	.search {
		height: 70px;

	}
	.search form {
	    	padding-top: 20px;
		padding-left: 4%;
	}
	form input, form select{
		height: 50px;
		font-size: 15px;
		border-radius: 6px;
		font-size: 16px;
		padding-left:7px!important;
	}
	form input[type=text],form input[type=email] {
	    padding-left: 10px;
	    margin-right: 8px;
	}
	form input[type="submit"] {
		border-radius: 5px;
		//width: 74px;
	}
	.line {
		height: 50px;
		margin-bottom: 17px;
	}
	.line label {
		font-size: 16px;

	}
	.line select {
		float: right;
	}
	

	main.inner {
		padding-top: 45px;
	}
	.items-detail .head {
		height: 210px;
		border-bottom: 2px solid #cdcdcd;
	}
	main.inner .row {
		padding:0 22px;
	}
	.items-detail .body p,
	.items-detail .body p.type  {
		font-size: 12px;
	}
	.items-detail .body h2 {
		font-size: 24px;
	}
	
	.items-detail .body .rating img {
		max-width: 48px;
		min-width: 48px;
		border: 3px solid white;
		border-radius: 24px;
	}
	ul.stars {
		float: left;
		top: 5px;
		margin-left: 10px;
		width: 45%;
		padding-top: 0px;
	}
	.items-detail .body .rating p.description {
		padding-top:3px;
	}
	.list .list-item div {
		font-size: 12px;
	}
	.items-detail .body .reviews a.link {
		font-size:13px;
	}

	.items-detail .map {
		height: 213px;
		margin-bottom: 53px !important;
	}

	.items-detail .map .address address {
		font-size: 12px;
	}
	.items-detail .map .address p {
		font-size: 12px;
	}
	.rest-buttons {
	  	height: 60px;
	}
	.rest-buttons .button {
	  	font-size: 11px;
	  	height:46px;
	  	margin-top:8px;
	}
	.inner.grad .line {
		width: 76%;
		margin-bottom: 2px;
		line-height: 4.25em;
		font-size: 12px;
	}
	.inner.grad input[type=text],
	.inner.grad input[type=password],
	.inner.grad input[type="submit"]{
	  	font-size: 15px;
	}
	button.social {
		font-size: 11px;
	}
	.inner.grad button.social {
		font-size: 11px;
	}

}

@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
	.line label,.app-bar-actions a,form input, form select {
		font-size: 18px;
	}
	.app-bar-container {
		height: 46px;
	}
	.app-bar button {
		margin-top: 0px; 
		height: 46px;
		width: 46px;

	}
	.app-bar-actions {
		line-height: 46px;
	}
	.app-bar .logo {
		padding-top: 0px;
		line-height: 44px;
		font-size: 20px;
	}
	.app-bar .logo img{
		max-width: 100%;
	}
}