    /* === Premium === */
.block-premium {width:100%; background:url(/content/personal/restaurateur/images/premium.png) center 0 no-repeat #3b414e; height:182px; padding-top:32px; text-align:center; color:#fff; font-size:14px;}
.block-premium-bottom {width:100%; background:#3b414e; height:133px; padding-top:32px; text-align:center; color:#fff; font-size:14px;}
.block-premium-bottom .colorize {font-size:16px;}
.block-premium-bottom .colorize big {font-size:36px;}
.block-premium-bottom .colorize span {font-size:36px; color:#24a6cf;}
.block-premium .upcase {font-size:11px; color:#fff;}
.block-premium-bottom .upcase {font-size:11px; color:#fff;}
.block-premium h3.upcase {font:36px Georgia, "Times New Roman", Times, serif}
.block-premium h3.upcase:first-letter {font-size:47px;}
.upcase-premium {font:14px Georgia, "Times New Roman", Times, serif; text-transform:uppercase;}
.upcase-premium:first-letter {font:20px Georgia, "Times New Roman", Times, serif; text-transform:uppercase;}

.w-new {padding-right:0 !important;}
.w-auto {width:auto !important; padding-left:0 !important; padding-right:0 !important;}
.w-auto div {width:auto;}
.lh24 {font:14px/24px Georgia, "Times New Roman", Times, serif}
.lh24 img {margin-top:7px}
.nowrap {white-space:nowrap; font-size:20px;}

.plan-1, .plan-2, .plan-3, .plan-4 {float:left; width:210px; padding-right:27px;}
.plans2 {overflow:hidden;margin-top: -20px;}
.plans2 .upcase-premium {font:16px Georgia, "Times New Roman", Times, serif; text-transform:uppercase; letter-spacing: 1px; position: relative; padding-top:5px;margin-bottom: 0px;margin-top: 0px;}
.plans2 .upcase-premium:first-letter {font:23px Georgia, "Times New Roman", Times, serif; text-transform:uppercase;}
.plan-desc {font:30px Georgia, "Times New Roman", Times, serif}
.plans2 p.plan-desc {font:15px Georgia, "Times New Roman", Times, serif;margin-bottom: 14px;}
.plans2 p.plan-desc b{font-size: 32px;font-weight: normal;}
.plans2 p { font-size:14px;line-height: 18px;margin-bottom: 0px;margin-top: 16px;}
.plans2 li {font-style:italic; margin-bottom:0px;}
p.plan-desc i {font:italic 12px Georgia, "Times New Roman", Times, serif}
p.plan-desc {overflow:hidden}
.plans2 p.plan-desc i {font:italic 12px Georgia, "Times New Roman", Times, serif}
.plans2 p.plan-desc {overflow:hidden}
.plan-desc form .submit-blue {float:none; background:url(/content/personal/restaurateur/images/blue-plus.png) 12px 50% no-repeat #24a6cf; padding-left:28px}
.plan-desc-ul {font-size:12px;}
.plan-desc-ul strong {font:20px Georgia, "Times New Roman", Times, serif}
.plan-desc-ul em {}
.plan {margin-bottom:60px;}
.plans ul {margin:0px; padding:0px; text-align: center; margin-bottom: 20px;}

.bg-gray {background:#f2f2f2; padding-top:90px;margin-bottom: -50px;padding-bottom: 50px;}