/* 
    Document   : style
    Created on : 21.01.2013, 14:43:47
    Author     : Igor
    Description:
        Purpose of the stylesheet follows.
*/

/* service-type styles */
.clear {line-height: 0; width: 100%; clear: both; font-size: 1px; height: 0; overflow: hidden;}
.hidden {display: none;}
.one-new {margin-bottom: 30px;}
