@charset "utf-8";
@font-face {
    font-family: Agora; 
    src: url(../fonts/PFAgoraSlabPro-Bold_0.ttf);
}
@font-face {
    font-family: Agora100; 
    src: url(../fonts/PFAgoraSlabPro-XThin.ttf);
}
@font-face {
    font-family: Agora300; 
    src: url(../fonts/PFAgoraSlabPro-Medium_0.ttf);
}


/* <reset> */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}body{line-height:1}blockquote,q{quotes:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
/* </reset> */
.clear {
    clear:both;
}
* {
	margin:0;
	padding:0;
}
html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;        
}
body {
	background:#fff;
	color:#1c1d17;
	font:12px 'Agora',Tahoma, Helvetica, Arial, Verdana;
        overflow-x:hidden;
}
h1 {
	font-size: 100px;
	padding-top: 0.5em;
	padding-bottom: 0.2em;
}
a {
	color:blue;
	font:12px 'Agora',Tahoma, Helvetica, Arial, Verdana;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}

i {
	font: 100 14px Georgia;
	font-style: italic;
}
nav menu li {
    display: inline-block;
    margin-top: 2.3em;
    padding: 0 2em;
    border-right: 1px solid #e95e66;
}
nav menu li:first-child {
    padding-left: 0;
}
nav menu li:last-child {
    border-right: 0 none;
    padding-right: 0;
}
nav menu li a {
	font: 100 20px "Agora" ;
	text-decoration: none;
	color: white;
}
p{
	font-family: Myriad Pro;
	line-height: 1.2em;
	font-height:12px;
	color: #404042;
}
.left {
	float: left;
	width: 50%;
}
.right{
	float:right;
	width: 50%;
}
a.button {
    background-color: #db2f3e;
    border-radius: 0.4em;
    color: white;
    font-size: 40px;
    margin-left: 261px;
    padding: 0.5em 1.2em;
    position: relative;
    text-decoration: none;
    top: 25px;
}

ul.slider li {
	display: inline-block;
}

.row {
	height:100%;
	width: 979px;
	margin:0 auto;
}
.row .inner-row {
    margin: 0 auto;
    width: 979px;
}

.wrap {
	height:auto !important;
	height:100%;
	min-height:100%;
	position:relative;
}

.wrap #about {
	height: 570px;
	background:#fff;
}
.wrap #about p.left{
	font: 14px Georgia;
	color: #404042;
	line-height: 1.5em;
}
.wrap #about div.left p{
	font: 16px Georgia;
	color: #404042;
	line-height: 1.5em;
        margin-bottom:10px;
}
.wrap #about .right{	
	width: 395px;
	padding-left: 40px;
	border-left: 1px solid #e3e6e8;
}

.wrap #about .right p{
	font: 20px Agora300;
	color: #404042;
} 
.wrap #about .right a.button {
    border-radius: 2em;
    display: inline-block;
    float: left;
    font-size: 16px;
    margin: 0 15px 0 0;
    padding: 1.1em 2.4em;
}
.wrap #about .right a.za {        
    margin:0 auto;
    margin-top:20px;
    float:none;
}
.wrap #terms {
	background: #1c1d17;
	height: 820px;
}

.wrap #terms .row {
	background: url("../images/terms.jpg") no-repeat scroll -50px 100% #1c1d17;
	width: 1300px;
}
.wrap #terms .row h1,  .wrap #jury .row h1,.wrap #video .row h1{
	color: #FFF;
}

.wrap #terms .left {
	width:45%;
}
.wrap #terms .right {
	width:53%;
        margin-top:-108px;
}

.wrap #terms .right  p{
    font-size:1.4em;
    line-height: 1.4em;
    margin-bottom:7px;
/*    font-family:Georgia;*/
}

.wrap #terms .right h3 {
    font: 30px Agora;
    padding-bottom: 0.2em;
    padding-top: 0.7em;
}

.wrap #terms .right  h2{
	font: 20px Agora300;
}

.wrap #terms p.left{
	font: 300 20px/1.3em Agora300;
	color: white;
	width: 375px;
} 
.wrap #terms a.button {
    border-radius: 2em;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 18px;
    padding: 1.1em 2.4em;
}
.wrap #terms .right p,.wrap #terms .right h2,.wrap #terms .right h3{
	color: white;
} 
.wrap #request {
	background:  #fff;
    	height: 425px;
}
.wrap #request .row {
	background: url("../images/request.png") no-repeat scroll 50% center #fff;
}

.wrap #request .row> h1,.wrap #jury .row> h1 {
    line-height: 0.75em;
    padding-top: 60px;
    text-align: center;
    width: 100%;
}

.wrap #request .row> h1 {
    padding-bottom: 0;
}


.wrap #request p {
    color: #404042;
    font-size: 18px;
    font-weight: 100;
    padding-top: 1em;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}

.wrap #jury p {
    color: #fff;
    font: 19.2px Agora300;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

.wrap #jury {
	background:  #1c1d17;
	height: 785px;
	color: white;
}
.wrap #jury ul.slider {
	margin-top: 54px;
	height:440px;
}
.wrap #jury ul.slider li {
	width: 220px;
	vertical-align: top;
	padding: 0 14px;
	height:440px;
}

.wrap #jury ul.slider li:first-child {
	padding-left: 0;
}

.wrap #jury ul.slider li:last-child {
	padding-right: 0;
}

.wrap #jury ul.slider li .img {
	height: 300px;
	background-position: 50% 50%;
	width: 220px;
	background-size: cover;
}
.wrap #jury ul.slider li h4 {
	font:  20px Agora;
	padding-top: 1em;
	padding-bottom: 0.3em;
}
.wrap #jury ul.slider li span{
	font:  12px Georgia;
	line-height: 1.6em;
}
.wrap #jury ul.slider li h4, .wrap #jury ul.slider li span{
	color: #ed1a36;
}

.wrap #party{
	background:  #fff;
	height: 360px;
}



.wrap #party .row{
	background: url("../images/party.png") no-repeat scroll 100% 100% #fff;
}

.wrap #party .row h1{
	padding-top: 0.3em;
}

.wrap #party p.left{
	font: 300 19.4px Agora300;
	color: #404042;
	line-height: 1.2em;
} 

.wrap #parts{
	background:  #ed1a36;
	height: 300px;
}
.wrap #parts ul.slider {
	padding-top: 30px;
	height: 280px;
}
.wrap #parts ul.slider li {
	width: 230px;
	vertical-align: top;
	padding: 0 7px;
	height: 280px;
}

.wrap #parts ul.slider li:first-child {
	padding-left: 0;
}

.wrap #parts ul.slider li:last-child {
	padding-right: 0;
}

.wrap #parts ul.slider li .img {
	height: 114px;
	background-position: 50% 50%;
	width: 230px;
	background-size: cover;
}
.wrap #parts ul.slider li h4 {
	font:  20px Agora;
	padding-top: 1em;
	padding-bottom: 0.3em;
	color: white;
}
.wrap #parts ul.slider li span{
	font:  12px Georgia;
	color: white;
	line-height: 1.6em;
}

.wrap #video{
	background:  #1c1d17;
	height: 450px;
}

.wrap #video p.right{
	font: 20px Agora300;
	color: white;
	padding-top: 85px;
}
.wrap #video a.button {
    border-radius: 2em;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 18px;
    padding: 1.1em 2.4em;
    right: 25px;
    float: right;
}
.wrap #video ul{
	width: 100%;
	float: left;
}

.wrap #video ul li{
	display: inline-block;
	width: 228px;
	padding: 0 5px;
}

.wrap #video ul li h4{
	font: 14px Agora300;
	color: white;
	padding-top: 10px;
}

.wrap #video ul .img{
	display: inline-block;
	width: 100%;
	height: 124px;
}
.wrap #video ul .img a {
	width: 100%;
	height: 100%;
	display: block;
	background: url(../images/play.png) no-repeat rgba(0,0,0,0.6);
	background-position: 50% 50%;
}

.wrap #video ul li:first-child {
	padding-left: 0;
}

.wrap #video ul li:last-child {
	padding-right: 0;
}

.wrap #contacts{
	background:  #ffffff;
	height: 420px;
}
.wrap #contacts b {
	font: 18px Agora;
	display:block;
	padding-bottom: 10px;
	height: 1em;
}
.wrap #contacts p, .wrap #contacts a{
	font-size: 18px;
	line-height: 1.3em;
}
.wrap #contacts p:nth-child(3n) {
	padding-bottom:7px;
}
.wrap #contacts a{
	text-decoration: none;
	color: #ed1a36;
	font-weight: 100;
	font-family: Georgia;
}
.wrap #contacts .col{
	height: 138px;
	display: inline-block;
	float: left;
	width: 301px;
	padding-left: 37px;
}
.wrap #contacts .col.first{
	padding-left: 0;
	border-right: 1px solid #e3e6e8;
}
.empty {
	height:100px; 
}

/*  <header>  */
header {
	height:235px;
	background: url("../images/header.jpg") repeat scroll 0 0 #d43841;
}
header h2 {
	font: 30px Agora;
}
header img {
	padding-top: 51px;
	padding-right: 100px;
}
header div.right {
	width: 250px;
	text-align: center;
	padding-top: 51px;
	color: white;
}
/*  </header>  */

/*  <nav>  */
nav {
	height:83px;
	background: #ed1a36;
}
/*  </nav>  */

/*  <footer>   */
footer {
	width:100%;
	height:19px;
	background:url(../images/footer.jpg) no-repeat 50% 50% #090907;
}
/*  </footer>   */



.nocontent {
    font-size:48px;
    padding-top:100px;
    color:#FFF;
    text-align:center;
}