#new_filter
{
    background:#232323;
    height:30px;
    font-family:Arial;    
    box-shadow: 0px 1px 10px black;
    position: relative;
}
#new_filter  .fil
{
    background:#232323;
    height:30px;
}
#new_filter .filter_block
{
    margin-right: 15px;
    padding: 0px 10px;
    height:30px;
    background:none;
}
#new_filter .filter_block_active
{
    background:#24A6CF;
}
#new_filter .filter_block_active a.filter_arrow
{
    background:#24A6CF;
    background: url(/tpl/images/filter_arrow_new2.png) right center no-repeat!important;
}
#new_filter .filter_block .name
{
    line-height:30px;
}
#new_filter .filter_block a.filter_arrow
{
    font-size:11px;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: url(/tpl/images/filter_arrow_new1.png) right center no-repeat;
    padding-right:15px;
}
#new_filter .filter_block a.filter_arrow:hover
{
    color:#FFF;
    background: url(/tpl/images/filter_arrow_new2.png) right center no-repeat;
}
#new_filter  input.light_button
{
    /*background: url(/tpl/images/filter_button_bg.png) left top repeat-x;*/
    line-height:30px;
    height:30px;
    margin:0px;
    width:130px;
    padding:0px;
    text-align: center;
    /*font-family: appetite;
    text-transform: none;*/
}
/*#new_filter  input.light_button:hover
{
    background: #000;
}*/
#new_filter .links_and_search
{
    padding-left:15px;    
    font-family:georgia;    
}
#new_filter .links_and_search a
{
    text-decoration: underline;   
}
#new_filter #top_search_input
{
    width:200px;
    height:22px;
    box-shadow:inset 1px 1px 3px #666;
    -webkit-box-shadow: inset 1px 1px 3px #666;
    -moz-box-shadow: inset 1px 1px 3px #666;
    behavior: url(PIE.htc);
    background: #FFF;
    border:0px;
    margin-top:4px;
    padding: 0px 5px;
}
#new_filter_results
{
    background:#f5f5f5;
    height:auto;
    padding:0px 10px;
    line-height: 30px;
    display:none;
    margin-bottom: 1px;
}
#new_filter_results ul
{
    margin:0px;
    padding:0px;
    display:none;
}
#new_filter_results ul li.end
{
    margin:0px;
    height:30px;
    width:15px;
    background: url(/tpl/images/filter_border.png) left center no-repeat;
}
#new_filter_results ul li
{
    float:left;
    padding-right: 15px;
    margin-right:5px;
    list-style-type: none;
}
#new_filter_results ul li a
{
    margin-left:10px;
}
.subway-map
{
    position:relative;
}
.subway_station
{
    display: block;
    position: absolute;
    z-index: 100001;
    border-radius: 5px;
}
.subway_station:hover
{
    display: block;
    position: absolute;
    z-index: 100001;
    background: #24A6CF;
    opacity:.5
}
.subway_station.selected
{
    display: block;
    position: absolute;
    z-index: 100001;
    background: #24A6CF;
    opacity:.5
}