/* 
    Document   : style
    Created on : 11.07.2013, 10:03:25
    Author     : km
    Description:
        Purpose of the stylesheet follows.
*/

.chzn-container-single .chzn-single {
    width:298px!important;
}
.chzn-container .chzn-results li{
    color:#000!important;
}
.menu_edit{
    margin:0px;
    padding:0px;
    width:100%;
}
.menu_edit th 
{
    text-align:left;
    font-size:12px;
    line-heigth:22px;   
    height:22px;
    border-top: 1px solid #dddddd;           
}
.menu_edit th:first-child
{    
    border-left: 1px dotted #dddddd;       
}
.menu_edit th:last-child
{    
    border-right: 1px dotted #dddddd;       
}
.menu_edit td {
    font-size:14px;
    line-heigth:26px;   
    height:26px;
    border-top: 1px solid #dddddd;
}
.menu_edit li
{
    display:block;    
    padding:10px;    
}
.menu_edit li .right a
{
    font-size:12px;
    font-style: italic;
}
.menu_edit tr.bg2
{
    background:#f5f5f5;
}
.menu_edit li:hover
{
    background:#bde4f1;
}
.menu_edit li a
{
    font-size:16px;    
}
/*.menu_edit tr:hover{
    background:#eefbff;
}*/
.menu_edit tr.th
{
    background:#eefbff;
}
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          font-style:normal;
          text-decoration:none;
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);  
  text-decoration:none;  
}
.btn-info:hover
{
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.razd_icon
{    
    background: url("/bitrix/panel/main/images/icons-sprite-3.png") no-repeat center -1512px;
    background-position: center -118px;
    display: block;
    float: left;
    height: 15px;    
    width:33px;
    margin-top:6px
}
.razd_icon_up {
    background: url("/bitrix/panel/main/images/icons-sprite-3.png") no-repeat center -1512px;
    background-position: center -1573px;
    width: 33px;
    height: 16px;
    display: inline-block;
    margin-top:6px
}