#date {
    width:250px;
    background: url(images/calendar_1.png) right center no-repeat #fff;
    padding-left:10px;
    cursor:pointer;
}
#name {
    width:250px;
}
.phone1 {
    width:150px;
}
.datepicker {
    width:250px;
}
#company {
    width:150px;
    background: url(images/arrows.png) right center no-repeat #fff;   
}
.up-down {
    position:absolute;
    top:23px;
    right:0px;
    width: 33px;
    height: 40px;
}
.up {
    width:33px;
    height:20px;
    display:block;
}
.down {
    width:33px;
    height:20px;
    display:block;
}
.errors {
    color:red;    
}
a:hover {
    text-decoration: none;
}

@font-face {
    font-family: 'futurafuturiscbold';
    src: url("/bitrix/templates/main_2014/fonts/futurafuturisc-bold-1-webfont.eot");
    src: url("/bitrix/templates/main_2014/fonts/futurafuturisc-bold-1-webfont.eot?#iefix") format("embedded-opentype"), url("/bitrix/templates/main_2014/fonts/futurafuturisc-bold-1-webfont.woff") format("woff"), url("/bitrix/templates/main_2014/fonts/futurafuturisc-bold-1-webfont.ttf") format("truetype"), url("/bitrix/templates/main_2014/fonts/futurafuturisc-bold-1-webfont.svg#futurafuturiscbold") format("svg");
    font-weight: normal;
    font-style: normal; }

.btn-nb {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #fff;
    font-family: "futurafuturiscbold";
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 0.5px;
    font-weight: 900;
}

.btn-nb-empty {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #000;
    font-family: "futurafuturiscbold";
    font-size: 10px;
    text-transform: uppercase;
    background: none;
    border-width: 3px;
    line-height: 18px;
    letter-spacing: 0.5px; }

.btn-light {
    background: transparent;
    border-color: #30c5f0;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    height: 26px;
    font-family: "futurafuturiscbold";
    line-height: 26px;
    padding-top: 0px;
    padding: 0px 20px;
    outline: none;
    text-transform: uppercase;
    font-size: 10px; }

.btn-light:hover {
    background: #fff;
    outline: none;
    color: #30c5f0; }

.btn-light:active {
    outline: none;
    background: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.175); }

.gis-form .modal {
    overflow-y: auto; }

.modal-dialog {
    width: 1000px;
    margin: 120px auto; }
.modal-dialog.small {
    width: 480px; }
.modal-dialog.small .ajax_form {
    padding: 0 20px;
    margin: 0 20px;
    margin-top: 20px;
    position: relative; }
.modal-dialog.small .ajax_form .reg {
    margin: 0 -60px;
    background: #fff;
    padding: 10px 60px 20px;
    margin-bottom: -20px; }
.modal-dialog.small .ajax_form a {
    color: #000; }
.modal-dialog.small .ajax_form .forget {
    position: absolute;
    top: 15px;
    right: 20px; }
.modal-dialog.small .ajax_form .form-group {
    margin-bottom: 32px; }
.modal-dialog.small .ajax_form .form-group.end {
    margin-bottom: 12px; }
.modal-dialog.small .ajax_form .form-group:last-child {
    margin-bottom: 12px; }
.modal-dialog.small .ajax_form .dots {
    height: 1px;
    margin-top: 32px; }
.modal-dialog.small .ajax_form .orr {
    position: absolute;
    margin-top: -10px;
    font-size: 14px;
    left: 180px;
    font-family: "PT Serif", serif;
    font-style: italic;
    background: #f3f6f7;
    display: block;
    padding: 0 10px; }
.modal-dialog.small .ajax_form .italic {
    font-size: 14px;
    font-family: "PT Serif", serif;
    font-style: italic;
    text-align: center;
    margin-top: 8px; }
.modal-dialog.small .modal-content .modal-close {
    right: 20px; }
.modal-dialog.small .modal-content .form-control {
    border-radius: 0;
    border-color: #e3e3e3;
    height: 40px; }
.modal-dialog .modal-content {
    background: #f3f6f7;
    border-radius: 0; }
.modal-dialog .modal-content .modal-close {
    position: absolute;
    top: 20px;
    right: 36px;
    z-index: 10;
    outline: none; }
.modal-dialog .modal-content .modal-close .close {
    color: #000;
    font-size: 22px;
    line-height: 42px;
    opacity: .95;
    outline: none; }
.modal-dialog .title {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #000;
    font-weight: 800;
    margin-bottom: 15px; }
.modal-dialog #order_online {
    padding: 0 20px; }
.modal-dialog #order_online .super_title {
    background: #000;
    position: absolute;
    top: -40px;
    left: 0;
    padding: 0 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    font-family: "futurafuturiscbold";
    font-size: 12px;
    letter-spacing: .5px; }
.modal-dialog #order_online .super_title span {
    color: #30c5f0; }
.modal-dialog #order_online .title {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #000;
    font-weight: 800;
    margin-bottom: 15px; }
.modal-dialog #order_online .form-group {
    margin-bottom: 10px; }
.modal-dialog #order_online .form-group.end {
    margin-bottom: 0; }
.modal-dialog #order_online .service_free {
    font-size: 15px;
    color: #94a0a5;
    margin-top: -28px;
    margin-left: -110px;
    position: absolute;
    left: 50%; }
.modal-dialog #order_online .service_free b {
    color: #000;
    text-transform: uppercase; }
.modal-dialog #order_online .left_column {
    width: 480px;
    padding-right: 20px;
    border-right: 1px solid #e3e3e3;
    vertical-align: top; }
.modal-dialog #order_online .left_column .time {
    float: left;
    background: linear-gradient(to bottom, #fff 0, #f0f4f5 100%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$white', endcolorstr='$color_porcelain_approx', gradienttype=0);
    padding: 0;
    border: 1px solid #e3e3e3;
    font-size: 14px;
    width: 50px;
    height: 39px;
    text-align: center;
    line-height: 39px;
    cursor: pointer;
    text-transform: uppercase; }
.modal-dialog #order_online .left_column .time.end {
    border-left: 0; }
.modal-dialog #order_online .left_column .time.active {
    background: #30c5f0;
    color: #fff;
    border: 1px solid #30c5f0; }
.modal-dialog #order_online .right_column {
    width: 480px;
    padding-left: 20px;
    vertical-align: top; }
.modal-dialog #order_online .right_column .times {
    margin-right: -40px; }
.modal-dialog #order_online .right_column .times .time {
    float: left;
    margin-right: 13px;
    margin-bottom: 19px;
    background: linear-gradient(to bottom, #fff 0, #f0f4f5 100%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$white', endcolorstr='$color_porcelain_approx', gradienttype=0);
    padding: 0;
    border: 1px solid #e3e3e3;
    font-size: 14px;
    width: 61px;
    height: 34px;
    text-align: center;
    line-height: 33px;
    cursor: pointer; }
.modal-dialog #order_online .right_column .times .time.end {
    margin-bottom: 0; }
.modal-dialog #order_online .right_column .times .time.active {
    background: #30c5f0;
    color: #fff;
    border: 1px solid #30c5f0; }
.modal-dialog #order_online label {
    font-family: "futurafuturiscbold";
    text-transform: uppercase;
    font-size: 11px; }
.modal-dialog #order_online input {
    border-radius: 0;
    border-color: #e3e3e3;
    height: 40px; }
.modal-dialog #order_online .phone1 {
    width: 125px; }
.modal-dialog #order_online .phone-code-wrapper {
    position: relative;
    padding-left: 19px; }
.modal-dialog #order_online .phone-code-wrapper:before {
    content: ' ';
    background: url("/bitrix/templates/main_2014/img/top-order-form-phone-bg.png") no-repeat;
    width: 13px;
    height: 20px;
    display: inline-block;
    margin-top: 11px;
    /* float: left; */
    position: absolute;
    left: 0;
    background-size: 13px; }
.modal-dialog #order_online .no-checkbox.phone-code-wrapper:before {
    margin-top: 1px; }
.modal-dialog #order_online.banket-order-form .phone1 {
    width: 110px;
    padding-right: 0;
    padding-left: 5px; }
.modal-dialog #order_online #date {
    text-indent: -999px; }
.modal-dialog #order_online .today-tomorrow-wrapper {
    position: relative; }
.modal-dialog #order_online .today-tomorrow-wrapper .today-tomorrow {
    position: absolute;
    font-size: 19px;
    top: 25px;
    left: 2px;
    line-height: 36px; }
.modal-dialog #order_online .today-tomorrow-wrapper .today-tomorrow ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    padding-left: 20px;
    border: 1px solid;
    border-top: 0; }
.modal-dialog #order_online .today-tomorrow-wrapper .today-tomorrow ul li {
    cursor: pointer; }
.modal-dialog #order_online .today-tomorrow-wrapper .today-tomorrow .today-tomorrow-select {
    border: none;
    width: 204px;
    height: 37px;
    background: #FFF url("/bitrix/templates/main_2014/img/select-arrow1.png") 183px 10px no-repeat;
    border-radius: 0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: button;
    padding-left: 10px;
    font-family: "Pt Sans", Helvetica, Arial, sans-serif;
    font-size: 19px;
}
.modal-dialog #order_online .today-tomorrow-wrapper .today-tomorrow .today-tomorrow-select:focus {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0; }
.modal-dialog #order_online .today-tomorrow-trigger {
    background: #F00;
    width: 20px;
    height: 20px; }
.modal-dialog #order_online .wishes-input-trigger {
    position: relative; }
.modal-dialog #order_online .wishes-input-trigger .wishes-list-wrapper {
    position: absolute;
    background: #FFF;
    right: 0;
    z-index: 2;
    padding: 5px 10px;
    text-align: right;
    width: 445px;
    border: 1px solid #E3E3E3;
    border-top: none;
    display: none; }
.modal-dialog #order_online .wishes-input-trigger .wishes-list-wrapper.active {
    display: block; }
.modal-dialog #order_online .wishes-input-trigger .wishes-list-wrapper span {
    font-size: 22px;
    margin-bottom: 10px;
    display: block;
    font-weight: 100; }
.modal-dialog #order_online .wishes-input-trigger .wishes-list-wrapper ul {
    list-style: none;
    padding: 0; }
.modal-dialog #order_online .wishes-input-trigger .wishes-list-wrapper ul li {
    font-size: 16px;
    cursor: pointer;
    padding-right: 5px; }
.modal-dialog #order_online .wishes-input-trigger .wishes-list-wrapper ul li:hover {
    background: #C0C0C0; }
.modal-dialog #order_online .wish-list-new-trigger {
    position: relative;
    float: right; }
.modal-dialog #order_online .wish-list-new-trigger:before {
    content: ' ';
    background: url("/tpl/images/order-form/iconmonstr-menu-2-icon-16-1.png") center center no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: 1px;
    cursor: pointer; }

body.gis-form {
    margin: 0;
    overflow: hidden; }


.datepicker {
    font-family: "futurafuturiscregular";
    font-size: 14px; }
.datepicker .table-condensed > tbody > tr > td {
    padding: 3px; }


body {
    background:#F3F6F7;
}
.modal.in .modal-dialog {
    margin: 0;
    overflow: hidden;
}
.gis-widget.modal-dialog .modal-content {
    border: none;
    box-shadow: none;
}
.gis-widget.modal-dialog #order_online {
    padding: 0;
    /*width: 918px;*/
    margin: 0 auto;
}
.inv_cph {
    display: none;
}
table {
    margin: 0;
}
table tbody {
    background: inherit;
}
label {
    color: inherit;
}
form input[type=text], form input[type=email], form input[type=date], form input[type=time], form input[type=number], form textarea {
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    form input[type=text], form input[type=email] {
        padding: 6px 12px;
        margin-right: 0;
    }
    table td {
        padding: 0;
    }
    .app-bar .logo h1 {
        margin: 0;
    }
}

body .modal-dialog.gis-widget {
    margin: 0 auto;
}





.company-select.form-control {
    border-radius: 0;
    border-color: #E3E3E3;
    height: 40px;
}
.modal-dialog .modal-content {
    background: none;
}
.panel {
    margin:0;
    border: none;
}
@media (max-width: 768px){
    .modal-dialog.gis-widget #order_online .today-tomorrow-select {
        width: 124px !important;
    }
    .gis-widget.modal-dialog {
        width: 720px;
        /*height: 520px;*/
    }
    .gis-widget #date {
        width: 170px;
        margin-top: 0;
    }
    .gis-widget #name {
        width: 150px;
    }
    .urm .gis-widget #name, .rga .gis-widget #name {
        width: 110px !important;
    }
    body {
        background:#F3F6F7;
    }
    .modal.in .modal-dialog {
        margin: 0;
        overflow: hidden;
    }
    .gis-widget.modal-dialog .modal-content {
        border: none;
        box-shadow: none;
    }
    .gis-widget.modal-dialog #order_online .right_column .times .time {
        margin-right: 5px;
        width: 58px;
        margin-bottom: 8px;
    }
    .gis-widget.modal-dialog #order_online {
        padding: 0;
    }
    .gis-widget.modal-dialog #order_online .left_column {
        width: 428px;
    }
    .gis-widget.modal-dialog #order_online .right_column .times .time.end {
        margin-bottom: 8px;
    }
    .modal-dialog #order_online .today-tomorrow-wrapper .today-tomorrow .today-tomorrow-select {
        background-position: 103px 10px;
    }
}