/* 
    Document   : style
    Created on : 09.06.2012, 16:49:08
    Author     : km
    Description:
        Purpose of the stylesheet follows.
*/

#spec_block_image img 
{
    position:absolute;
    left:0px; 
    top:0px; 
    width:728px;
    z-index:100;
    display:none;
}
#spec_block_image img.active
{
    
}
.spec_block_cookery p {
	color:#fff;
}
