#minus_plus_buts{margin-left: 48px;float:left;}
#minus_plus_buts .plus_but{display: block;float:left;position: relative;padding-left:42px;line-height: 31px;font-family: Georgia;position: relative;height:31px;margin-right: 17px;font-size: 12px; }
#minus_plus_buts .plus_but a, #minus_plus_buts .plus_but span{background: url(/tpl/images/plus_minus_icons.png) 0px 0px no-repeat;height:31px;width:36px;position: absolute;left:0px;top:0px;}

#minus_plus_buts .minus_but{display: block;float:left;position: relative;padding-left:42px;line-height: 31px;font-family: Georgia; position: relative;height:31px;}
#minus_plus_buts .minus_but a, #minus_plus_buts .minus_but span{background: url(/tpl/images/plus_minus_icons.png) -36px 0px no-repeat;height:31px;width:36px;position: absolute;left:0px;top:0px;}

#order .question {
    text-align: center;
    font-size:14px;
    margin-bottom: 10px;
    line-height:24px;
}
#order .cusel,
#order .cuselFrameRight,
#order .jScrollPaneDrag,
#order .jScrollArrowUp,
#order .jScrollArrowDown {
	/*background: url(../images/selects-2.png) no-repeat;*/
        background:none;
        outline: none;
}
#order .cusel { /* общий вид селекта включая стрелку справа */
        margin-top:0px;
	height: 20px;
	background-position: left top;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 18px;
	z-index: 1000!important;    
        margin-right:8px;
}
#order .cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	height: 100%;
	width: 12px;
        background:url(/tpl/images/blue_arrow_down.png) center 11px no-repeat;
	/*background-position: right top;*/
}

#order .cuselText { /* контейнер для отображенного текста селект */
	height: 18px;
	padding: 0px 0px 6px 0px; /* подбираем отступы и высоту для видимого текста в селекте */
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 1;
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 16px;
        color:#24a6cf;
        border-bottom:1px dashed #24a6cf;
}
* html #order .cuselText { /* высота блока для текста для ие6 */
	height: 22px;
        color:#24a6cf;
        text-decoration: none;
        border-bottom:1px dashed #24a6cf;
}
#order .cusel span { /* оформление оптиона */
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 2px 15px 2px 5px; /* паддинг справа - это отступ текста от ползунка */
	zoom: 1;
        line-height:20px;
        text-align:left;
        color:#000;
        font-size:14px;
}
#order .cusel span:hover,
#order .cusel .cuselOptHover { /* реакция оптиона на наведение */
	background: #24a6cf;
	color: #fff;
}
#order .cusel .cuselActive { /* оформление активного оптиона в списке */
	background: #3B414E;
	color: #fff;
	cursor: default;
}

/*
	styles for focus and hover
*/
#order .cusel:hover,
#order .cusel:hover .cuselFrameRight,
#order .cusel:focus,
#order .cusel:focus .cuselFrameRight,
#order .cuselFocus,
#order .cuselFocus .cuselFrameRight {
	/*background-image: url(../images/selects-2.png);*/
}

#order .cuselOpen {
	z-index: 999;
}

/*
	styles for disabled select
*/
#order .classDisCusel,
#order .classDisCusel .cuselFrameRight {
	/*background-image: url(../images/selects-2.png) !important;*/
	cursor: default;
	color: #ccc;
}
#order .classDisCusel .cuselText {
	cursor: default;
}


/*
	styles for scrollbar
*/
#order .cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 24px;
	background: #fff; /* фон выпадающего списка */
	min-width: 100%;
	width: auto;
}
#order .cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	border: 1px solid #999; /* границы выпадающего спиcка */
                box-shadow: 3px 3px 10px #000;
        -webkit-box-shadow: 3px 3px 10px #000;
        -moz-box-shadow: 3px 3px 10px #000;
        behavior: url(/bitrix/templates/main/PIE.htc);
}

#order .cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 7px !important;
	background: #fff;
	position: absolute;
	top: 0;
	right: 4px;
    width: 0px !important;
}
#order .cusel .jScrollPaneDrag { /* ползунок */
	position: absolute;
	background-position: -40px -26px;
	cursor: pointer;
	width: 15px !important;
	height: 27px !important;
	right: -4px;
    display: none;
	
}

#order .cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
#order .cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
#order .cusel .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
#order .cusel .jScrollArrowDown { /* стрелка вниз */
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
}
#cuselFrame-what_question {
    width: 220px !important;
    z-index: 9999 !important;
}
#cusel-scroll-what_question {
    width: 220px !important;
    padding-right: 0px !important;
}

#order .search_rest
{
    border:none;
    border-bottom:1px solid #616876;
    background:none;
    position: relative;
    height: 28px;
    line-height: 28px;
    padding: 0px 10px;
    font-size:18px;
    color:#24a6cf;
    width:100%;
    -webkit-box-sizing: border-box; /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    behavior: url(/bitrix/templates/main/PIE.htc);
    text-align: center;
    outline:none;
    
}
#order .whose_date
{
    color:#24a6cf;
    border:none;
    border-bottom: 1px dashed #24a6cf;
    background:none;
    height:16px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-size:18px;
    outline:none;
    width:95px;
    margin:0px 5px;
}
#order .time
{
    border:none;
    background:none;
    font-size:18px;
    color:#24a6cf;
    outline:none;
    margin:0px 5px;
    width:62px;
    background: url(/tpl/images/time.png) left bottom no-repeat;
    letter-spacing:1px;
    padding-left:2px;
}
#order .text
{
    background:none;
    border:none;
    border-bottom:1px solid #616876;
    text-align:center;
    height:18px;
    font-size:18px;
    color:#24a6cf;
    outline:none;
}
#order .phone1
{
    border:none;
    background:none;
    font-size:18px;
    color:#24a6cf;
    outline:none;
    margin:0px 5px;
    width:174px;
    background: url(/tpl/images/phone.png) left bottom no-repeat;
    letter-spacing:1px;
    padding-left:14px;
}
#cusel-scroll-order_what
{
    width:206px!important;
}
#calroot
{
    z-index:999999!important;
}
.articles_photo .scroll_arrows {width:116px; text-align: center; line-height:38px; margin-bottom: 10px; font-size: 12px;}
.articles_photo .img {width:720px; overflow:hidden}
.special_scroll {display:none;}
.special .scroll_arrows {width:116px; line-height:38px; text-align: center}
a.prev { background: url(images/scroll.png) 0px 0px no-repeat; display: block; width:38px; height:38px; cursor:pointer;}
a.next { background: url(images/scroll.png) -39px 0px no-repeat; display: block; width:38px; height:38px; cursor:pointer;}
a.prev:hover { background: url(images/scroll.png) 0px -39px no-repeat; }
a.next:hover { background: url(images/scroll.png) -39px -39px no-repeat; }
.articles_photo .images {
text-align: center;
}
