div.fb_login_button {
    background: url(/bitrix/templates/mobile_new/images/fb.jpg) no-repeat;
    width: 114px;
    height: 22px;
    cursor: pointer;
}

.modal_fb {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
    z-index: 10000;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}


.modal_fb h2 {
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
}

