.vb
{
    margin-left: 18px;
}
.vb-first
{
    margin-left: 0 !important;
}


.content-wrapper
{
/*    font-family: Georgia,Times New Roman,Times,sans-serif;*/
}
.content-content
{
    width: 728px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.content-vacancies
{
    font-size: 1em;
}
.content-vrb-row
{
    vertical-align: top;
    margin-bottom: 1em;
}
.content-vrb-block
{
    /*font-size: 0.75em;*/
    vertical-align: top;
    position: relative;
    width: 228px;
    min-height: 220px;
    display: inline-block;
    *display: inline;
    *height: 220px;
    zoom: 1;

}
.content-vrb-content
{
    padding-bottom: 45px;
}
.content-vrb-content-title
{
    padding-bottom: 0.65em;

}
.content-vrb-content-title a
{
    font-size: 1.5em;
    text-decoration: none;
    color: #24a6cf;
}
.content-vrb-content-image
{
    padding-bottom: 0.5em;/**/
}

.block-param
{
    padding-bottom: 0.5em;
}

.block-param-title
{
    font-weight: bold;
}
.block-param-content
{
}


.content-vrb-links a
{
    color: #24a6cf;

}
.content-vrb-links
{
    bottom: 0;
    left: 0;
    position: absolute;
    width: 228px;
    height: 1.85em;
}
.block-info-comments
{
    width: 150px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.block-info-next
{
    display: inline-block;
    width: 70px;
    text-align: right;
    *display: inline;
    zoom: 1;
}
.content-vrb-show-all
{
    text-align: right;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.content-vrb-show-all span
{
}

.content-vrb-show-all span a
{
    color: #000000;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    /*font-size: 0.75em;*/
}

.block-param-metro
{
/*    padding-left: 20px;
    background-image: url("images/pic_metro.png");
    background-repeat: no-repeat;*/
}
.block-param-metro-content
{
}

.block-param-url
{
    /*font-style: italic;*/
    margin-top: 0.5em;
}


.content-vrb-content-personal
{

}
.resume-personal-image
{
    display: inline-block;
    vertical-align: top;
}

.resume-personal-content-wrapper
{
    display: inline-block;
    padding-left: 1em;
    padding-top: 0.4em;
}

.resume-personal-name
{

}
.resume-personal-place
{
    font-style: oblique;
}


.info-detail-wrapper-resume
{
    margin-bottom: 4em;
}

/* SEPARATORS */
hr.content-row-separator
{

    border: none;
    border-top: 1px dotted #000000;
    margin: 0;
    margin-top: 1.3em;
    margin-bottom: 1.3em;

}
hr.content-separator
{
    background-color: #000000;
    border: medium none;
    height: 0.2em;
    margin: 0;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}


/* DIFFERENT */

.em0_75
{
    font-size: 0.75em;
}

.em0_83
{
    font-size: 0.83em;
}

.roubledash
{

    position: relative;
    top: 0.07em;
    font-size: 0.9em;
    margin-left:  -0.66em;
}
.nowrapping
{

}
.nopadding
{
    padding: 0;
}
.nopadding-bottom
{
    padding-bottom: 0 !important;
}

.italic
{
    font-style: oblique;
}
br.block-param-break
{
    display: block;
    margin-top: 1.3em;
}
br.br-content-blocks
{
    display: block;
    margin-top: 3em;
}

.content-resumes .content-vrb-block
{
    min-height: 260px;
    *height: 260px;
    zoom: 1;
}