#date {
    width:250px;
    background: url(images/calendar_1.png) right center no-repeat #fff;
    padding-left:10px;
    cursor:pointer;
}
#name {
    width:250px;
}
.phone1 {
    width:150px;
}
.datepicker {
    width:250px;
}
#company {
    width:150px;
    background: url(images/arrows.png) right center no-repeat #fff;   
}
.up-down {
    position:absolute;
    top:23px;
    right:0px;
    width: 33px;
    height: 40px;
}
.up {
    width:33px;
    height:20px;
    display:block;
}
.down {
    width:33px;
    height:20px;
    display:block;
}
.errors {
    color:red;    
}