.popup_baner
{
    position: fixed;
    top:50px;
    left:0px;
    z-index:10000;
    width:100%;
    display: none;
}
.popup_baner div
{
    width:455px;
    margin:0 auto;
    text-align:center;
    position: relative;
}
.popup_baner .close_baner
{
    background:url("/tpl/images/close_round2.png") left top no-repeat;
    width:34px;
    height:34px;
    position:absolute;
    margin-top:115px;
    right:0px;
    cursor:pointer;
}