.clear{clear:both;}

#p_user_page{position: relative;margin:0 auto;width:975px;margin-top: 20px;}
#p_user_page .round_border{-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;behavior: url(java/PIE.htc);}


#p_user_page .left_side{float:left;width:729px;}
#p_user_page .left_side .bnr{height:236px;overflow: hidden;width:100%;background: url(/shop/p_user_banner_bg.jpg) 0px 0px no-repeat;margin-bottom: 20px;position: relative;}
#p_user_page .left_side .bnr a.podr{display: block;position: absolute;bottom:33px;right:28px;height:27px;line-height: 29px;color:#fff;text-decoration: none;font-size: 12px;text-transform: uppercase;background-color: #465660;font-family: Georgia;padding-left: 26px;padding-right: 26px;}
#p_user_page .left_side .bnr .txt1{color:#fff;font-size: 14px;line-height: 24px;position: absolute;left:89px;top:143px;font-family: Georgia;}

#p_user_page .left_side .bnr .zg1{color:#fff;font-size: 46px;line-height: 40px;position: absolute;left:54px;top:40px;font-family: Georgia;}
#p_user_page .left_side .bnr .zg2{color:#fff;font-size: 46px;line-height: 40px;position: absolute;left:168px;top:77px;font-family: Georgia;}


#p_user_page .left_side .tlist{}
#p_user_page .left_side .tlist .bl{padding-bottom: 27px;margin-bottom: 27px;border-bottom: 1px solid #cacaca;}
#p_user_page .left_side .tlist .bl .name{overflow: hidden;margin-bottom: 17px;line-height: 22px;}
#p_user_page .left_side .tlist .bl .name a{float:left;font-family:Georgia;font-size: 18px;text-decoration: none;color:#24a6cf;line-height: 22px;}
#p_user_page .left_side .tlist .bl .pic{float:left;width:232px;height:169px;position: relative;}

#p_user_page .left_side .tlist .bl .pic .restics_bg{position: absolute;z-index: 20;width:153px;height:91px;background: url(images/restics_bg.png) 0px 0px no-repeat;bottom:-21px;right:5px;}
#p_user_page .left_side .tlist .bl .pic .restics_bg span{display: block;text-align: center;width:58px;height:58px;color:#fff;line-height: 58px;font-style: italic;font-size: 20px;left:55px;top:5px;position: absolute;}


#p_user_page .left_side .tlist .bl .anons{float:right;width:455px;height:169px;position: relative;margin-right: 18px;position: relative;font-family: Georgia;line-height: 21px;font-size: 12px;}
#p_user_page .left_side .tlist .bl .detail_link{text-align: right;}
#p_user_page .left_side .tlist .bl .detail_link a{color: #1a1a1a;}
#p_user_page .left_side .tlist .bl .detail_link a:hover{text-decoration: none;}

#p_user_page .left_side .tlist .bl a.buy_lnk{display: block;position: absolute;bottom:0px;left:0px;height:27px;line-height: 29px;color:#fff;text-decoration: none;font-size: 12px;text-transform: uppercase;background-color: #3d434e;font-family: Georgia;padding-left: 26px;padding-right: 26px;}

#p_user_page .left_side .tlist .bl span.buy_lnk{display: block;position: absolute;bottom:0px;left:0px;height:27px;line-height: 23px;color:#1a1a1a;text-decoration: none;font-size: 12px;background-color: #f2f2f2;font-family: Georgia;padding-left: 26px;padding-right: 26px;}
#p_user_page .left_side .tlist .bl span.buy_lnk i{font-size: 18px;}

#p_user_page .left_side .tlist .last{border-bottom: 0px;}
