/* 
    Document   : style
    Created on : 21.01.2013, 14:43:47
    Author     : Igor
    Description:
        Purpose of the stylesheet follows.
*/

/* service-type styles */
.clear {line-height: 0; width: 100%; clear: both; font-size: 1px; height: 0; overflow: hidden;}
.hidden {display: none;}
.img-container {background:#f2f2f2;}
.img-container .image-block {float:left; margin-right:10px; display: block; height:80px; position: relative; margin-bottom:10px;word-break: break-all; max-width:100px; line-height:12px; font-size:10px;}
#img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#img-list li {
    margin: 10px;
    /*float: left;*/
    width: 152px;
    /*height: 90px;*/
    text-align: center;
    /*border: 1px solid #888888;*/
    display: inline-block;
}

#img-list div.progress {
    width: 150px;
    border: 1px solid #888888;
    height: 18px;
    text-align: center;
    background-image: url('../img/pbar_bgr.png');
    background-repeat: no-repeat;
    background-position: -150px center;
}
/* dropdown */
.dropdown {position: relative; display: inline-block;}
.dropdown-values {display: none; position: absolute; top: -10px; right: -4px; background: #fff; border: #999 1px solid; text-align: left; z-index: 10; width: 100px; -moz-box-shadow: 0 2px 6px #999; -ms-box-shadow: 0 2px 6px #999; -0-box-shadow: 0 2px 6px #999; -webkit-box-shadow: 0 2px 6px #999; box-shadow: 0 2px 6px #999;}
.dropdown-item {text-decoration: none; display: block; padding: 5px 10px;}
.dropdown-item:hover {background: #e9edf3; text-decoration: none;}
.dropdown-trigger {text-decoration: none; display: inline-block; padding: 0px 5px; }
.dropdown-trigger:hover {text-decoration: none;}
.dropdown-trigger span.icon {background-position:center center; padding:0px 5px;}
.dropdown-head {position: absolute; top: -37px; right: -5px; height: 33px; overflow: hidden; padding: 4px; padding-bottom: 0;}
.dropdown_text {color:#0084ff; border-bottom:dotted 1px #0084ff;}
.dropdown_text:hover {border-bottom:none;}
.dropdown-head-content {display: inline-block; height: 25px; background: #fff; border: #999 1px solid; padding: 8px; -moz-box-shadow: 0 2px 6px #999; -ms-box-shadow: 0 2px 6px #999; -0-box-shadow: 0 2px 6px #999; -webkit-box-shadow: 0 2px 6px #999; box-shadow: 0 2px 6px #999; }
.dropdown-blind {position: fixed !important; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 9; display: none;}

.remove-link {width: 16px; height: 16px; background: url(images/close.png) center center no-repeat; right: 0px; position: absolute;}
.file-inputs {opacity: 100%; height: 10px; position: absolute; left: 0px; z-index:0; top: 300px;}
.image-input {filter: alpha(opacity=0); opacity: 0; height: 28px; position: absolute; left: 0px; z-index:0; top: 0px; width: 90px;}
.video-input {filter: alpha(opacity=0); opacity: 0; height: 28px; position: absolute; left: 0px; z-index:0; top: 28px; width: 90px;}

.img-container .image-block {float:left; margin-right:10px; display: block; height:80px; position: relative; margin-bottom:10px;word-break: break-all; max-width:100px; line-height:12px; font-size:10px;}
#img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#img-list li {
    margin: 10px;
    /*float: left;*/
    width: 152px;
    /*height: 90px;*/
    text-align: center;
    /*border: 1px solid #888888;*/
    display: inline-block;
}
.remove-link {width: 16px; height: 16px; background: url(images/close.png) center center no-repeat; right: 0px; position: absolute;}
#img-list div.progress {
    width: 150px;
    border: 1px solid #888888;
    height: 18px;
    text-align: center;
    background-image: url('../img/pbar_bgr.png');
    background-repeat: no-repeat;
    background-position: -150px center;
}
.container a.terms
{
    color:#94a0a5;
    text-decoration: underline;
}
.container a.terms:hover
{    
    text-decoration: none;
}
#attach_photo, #attach_video {    
    display: inline-block;    
    height: 22px;    
}
.qq-uploader {
    display: inline-block;
    height: 22px;
    overflow: hidden;
}
.attach_f {
    display: inline-block;
    height: 22px;
}