@font-face {
    font-family: 'bodoni';
    src: url('fonts/bodoni72osc-italic-webfont.eot');
    src: url('fonts/bodoni72osc-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bodoni72osc-italic-webfont.woff') format('woff'),
         url('fonts/bodoni72osc-italic-webfont.ttf') format('truetype'),
         url('fonts/bodoni72osc-italic-webfont.svg#bodoni72oscitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
::selection { background: #ca171e; color:#FFF; } 
::-moz-selection { background: #ca171e; color:#FFF; }

.light_button {
  background: url("/tpl/images/buttons/button_new_bg.png") repeat-x scroll left top transparent;
  border-radius: 5px 5px 5px 5px;
  font-size: 16px;
  height: 45px;
  letter-spacing: 0;
  line-height: 45px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 0px;
  text-transform: none;
  color: white;
  text-decoration: none;
}
.light_button:hover {
  color: white;
  text-decoration: none;
}

.blue_button_gradient {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: linear-gradient(to bottom, #50C3DF 0%, #1D96C6 60%) repeat scroll 0 0 transparent;
  border-color: #83D6E9 #83D6E9 #1D96C6;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  text-shadow: 1px 1px 1px #12739A;
  color: white;
  text-decoration: none;
  border-radius: 5px 5px 5px 5px;
}
#cupid {position:absolute;display:none;right:0px;top:400px; width:152px; height:275; z-index:10000; }
#slogan {font-family:bodoni; font-size:18px; position:absolute; margin-top:30px; margin-left:324px; color:#3b414e; line-height:46px; height:46px; width:250px}
#slogan p {margin:0px;}
#slogan .s2 {padding-left:45px;}
#slogan .s3 { font-size:40px; line-height:4px; padding-top:5px; font-family: appetite; padding-left:45px;height:46px;}
#slogan .s3 span{ font-size:16px; line-height:16px; padding-top:5px; font-family: appetite; margin-left:-45px;}
#logo {position:absolute; top: 120px;}
#header {height:470px ;padding-top: 35px 0 0 0 !important; position: relative;      }
#logo_spec1 {position:absolute; z-index:1000; top:256px; left:115px;}
#logo_spec1 a { height:100px; width:300px;  display: block; font-style: italic; font-size:38px; color:#FFF; text-decoration: none; line-height: 60px;}
#logo_spec1 a div { font-size:44px; font-family: appetite_n;}
#logo_spec2 {position:absolute; z-index:1000; top:256px; left:543px; font-style: italic; font-size:38px; color:#FFF; text-decoration: none; line-height: 60px;}
#logo_spec2 a {padding-left:60px; height:100px; width:240px;  display: block; font-style: italic; font-size:38px; color:#FFF; text-decoration: none; line-height: 60px;}
#logo_spec2 a:hover {text-shadow: 1px 1px 1px #1a1a1a; filter: dropshadow(color=#1a1a1a, offx=1, offy=1);}
#logo_spec1 a:hover {text-shadow: 1px 1px 1px #1a1a1a; filter: dropshadow(color=#1a1a1a, offx=1, offy=1);}
.georgia {font-family: georgia; padding-left:20px; font-size:40px; font-style:italic; line-height:36px;}
#content .rating_rest {
    width:100px;
    font-family: appetite;
    font-size:40px;    
    line-height:36px;
}
#content .title_rest {
    /*width:700px;*/
    font-family: appetite;
    font-size:40px;    
    line-height:40px;
}
#content .title_rest .georgia {font-family: georgia; padding-left:165px; font-size:40px; font-style:italic}
#content .popular_m {
    position:absolute;
    left:315px;
    top:62px;
}
#content .top_blocks
{
    padding-top:0px;
    position:absolute;
}
#ny_gifts
{
    position:absolute;
    right:107px;
    top:-53px;
    z-index:10000;
}
#content .popular_m a{
    font-size:16px;
    line-height:36px;
    text-decoration: none;
    color:#24a6cf;
    border-bottom:1px dotted #24a6cf;
    font-style:italic;
}
#content .popular_m a:hover{
    border:none;
    text-decoration: none;
}
#content .popular_m a.active{
    font-size:16px;
    line-height:24px;
    font-family: appetite;
    color:#1a1a1a;
    text-decoration:none;
    font-style:normal;
    border:none;
}
/*==================NEWS_BLOCK==================*/
div#news { margin-top:20px;}
li a {text-decoration: none;}
li a div.tab_left {width:14px; height:54px;}
li a div.tab_right {width:14px; height:54px;}
li a div.name {font-size:16px; line-height:46px; padding:0px 15px; color:#24a6cf;  text-decoration: none;}
li a.current div.tab_left {background:url(images/tab_left.png) left top no-repeat; width:14px; height:44px;  position:relative}
li a.current div.tab_right {background:url(images/tab_right.png) right top no-repeat; width:14px; height:44px; position:relative}
li a.current div.name {border-top:1px solid #000; font-size:16px; line-height:46px;background:#FFF; color:#1a1a1a; text-decoration: none; height:43px; position:relative}


ul.tabs { margin:0 !important; padding:0; height:41px; width:728px;border-bottom:3px solid #000;}
ul.big {width:978px}
ul.tabs li { float:left; padding:0; margin:0; list-style-type:none;}
ul.tabs a.current { color:#000;	cursor:default;}

ul.history_tabs { margin:0 !important; padding:0; height:51px; width:728px;border-bottom:3px solid #000;}
ul.history_tabs li { float:left; padding:0; margin:0; list-style-type:none;}
ul.history_tabs a.current { color:#000;	cursor:default;}
/* tab pane */
.panes div.big {width:978px!important}
.panes div.pane { display:none; min-height:150px; padding:15px 0px;margin-top:-3px; width:728px; line-height: 20px}
.panes div span.dates{ font-size: 1.6em}
.panes div img{ margin-right:10px;margin-bottom:10px;}
.panes div a { color:#24a6cf; text-decoration: underline;}
.panes div a:hover { color:#000; text-decoration: none;}
.panes div a.uppercase { color:#1a1a1a; letter-spacing: 1px; text-decoration: none; }
.panes div a.uppercase:hover { color:#24a6cf; text-decoration: none; }
.news_img { width:490px; }
.news_text { width:236px }
.comment { width:360px; font-style: italic;}
.comment_more { width:360px; text-align: right }
/*==================END_NEWS_BLOCK==================*/

/*==================POSTER_PANE==================*/
ul#poster_tabs { margin:0 !important; padding:0; height:55px; width:725px;/*border-bottom:3px solid #000;*/}
ul#poster_tabs li { float:left; padding:0; margin:0; list-style-type:none;}
ul#poster_tabs a { display:block; height:55px; padding:0px 20px; line-height:55px; color:#fff; background:#3b414e; width:105px; text-align: center; text-decoration: none;}
#afisha_box ul#poster_tabs a { display:block; height:55px; padding:0px 20px; line-height:55px; color:#fff; background:#3b414e; width:120px; text-align: center; text-decoration: none;}
ul#poster_tabs a.long { display:block; height:43px; padding:0px 20px; padding-top: 12px; line-height:16px; color:#fff; background:#3b414e; width:105px; text-align: center;}
#afisha_box ul#poster_tabs a.long { display:block; height:43px; padding:0px 10px; padding-top: 12px; line-height:16px; color:#fff; background:#3b414e; width:140px; text-align: center;}
ul#poster_tabs a.current { background:#24a6cf;color:#FFF; font-size: 1.4em!important;}
#afisha_box  ul#poster_tabs a.current { background:#24a6cf;color:#FFF; font-size: 1.2em!important;}
ul#poster_tabs a.big { width:140px; font-size: 1.2em; height: 30px; line-height: 30px}


.overflow{overflow:hidden}
.panes div.pane { display:none; min-height:150px; padding:15px 0px;  margin-top:-3px; width:728px; line-height: 20px}
.panes div span.date_size{ font-size: 1.6em}
.panes div img{ margin-right:10px;margin-bottom:10px;}
.poster_panes div img{ margin-right:10px;margin-bottom:10px;}
.panes div a { color:#24a6cf; text-decoration: underline;}
.panes div a:hover { color:#000; text-decoration: none;}
.panes div a.uppercase { color:#1a1a1a; letter-spacing: 1px; text-decoration: none; }
.panes div a.uppercase:hover { color:#24a6cf; text-decoration: none; }
table.poster {width:100%;}
table.poster tr { background: url(images/dot.png) left bottom repeat-x; }
table.poster tr.end { background: none; }
table.poster tr.end td { border-bottom:1px solid #1a1a1a; }
table.poster td { height:50px; }
table.poster td.name { font-size: 1.6em; width:300px;}
table.poster td.type { color: #cccccc; }
/*==================POSTER_PANE==================*/

.rest_news_cont { position:relative; }
.rest_news_cont  .special_scroll {display: block; margin-top:10px; width: 100%; overflow: hidden; height:175px; position: relative}
.rest_news_cont  .special_scroll .scroll_container{width:5000em; position:relative;}
.rest_news_cont  .special_scroll .item {float:left; margin-right:20px; overflow:hidden; cursor: pointer; position: relative; height:160px;}
.rest_news_cont  .special_scroll .active { width:241px;}
.rest_news_cont  .special_scroll .item div.border { background: #fff; width:241px; height:25px; position: absolute; z-index: 1000}
.rest_news_cont  .special_scroll div.active div.border { background: url(images/rest_news_active.png) left top no-repeat; width:241px; height:165px; position: absolute;}
.rest_news_cont  .special_scroll .item div.title { background: #000; opacity: .8; width:241px; height:40px; position: absolute; bottom:0px; color:#FFF; font-size:1.4em; text-align: center; padding-top:10px; padding-bottom: 5px;}

.scrollable { position:relative; overflow:hidden; /*width: 660px;*/ height:165px; /*max-width:1902px;*/ margin:0 auto;}
.scrollable .items { width:20000em; position:absolute; height:165px; clear:both}
.items div.item { float:left; margin-left:10px; padding:5px; cursor:pointer; position:relative; height:165px;}
.items div.active div.border { background: url(images/rest_news_active.png) left top no-repeat; width:241px; height:165px; position: absolute;}
.items div div.border { background: #fff; width:241px; height:25px; position: absolute; z-index: 1000}
.items div div.title { background: #000; opacity: .8; width:241px; height:40px; position: absolute; bottom:10px; color:#FFF; font-size:1.6em; text-align: center; padding-top:10px; left:5px;}
div.scroll { margin-top:10px; margin-bottom:10px;}
a.prev { background: url(images/scroll_arrow_left.png) left top no-repeat; display: block; width:36px; height:36px; cursor:pointer;}
a.next { background: url(images/scroll_arrow_right.png) left top no-repeat; display: block; width:36px; height:36px; cursor:pointer;}
.poster_pane {
    margin-top: 1px;
}

/*==================RANGE==================*/
.slider { background:#1a1a1a; height:2px; position:relative; cursor:pointer; width:885px; float:left; clear:right; margin-top:17px; -moz-box-shadow:inset 0 0 8px #000; margin-left:10px; margin-right:10px;}
.progress { height:9px; background-color:#C5FF00; display:none;	opacity:0.6;}
.handle { background:#3b414e; height:12px; width:70px; top:-6px; position:absolute; display:block; margin-top:1px; cursor:move;}
.range { display:none;}
/*==================END_RANGE==================*/

div.new_restoraunt {width:232px;margin-right:16px; margin-bottom:20px; margin-top:10px;}
div.new_restoraunt .title {color: #24A6CF; margin-bottom: 10px; line-height:24px; margin-top:10px;}
div.new_restoraunt .title a {color: #24A6CF; font-size: 18px; text-decoration: none}
div.new_restoraunt .title a:hover {color: #1A1A1A;}
.end {margin-right:0px!important;}
div.rating {  height:18px}
div.star_a { float: left;  background: url('images/stars.png') top left no-repeat; background-position: 0px 0px; height: 18px; width: 22px; }
div.star { float: left;  background: url('images/stars.png') top left no-repeat; background-position: 0px -19px; height: 18px; width: 22px; }
.active_rating .star,.active_rating .star_a {cursor:pointer;}
div.small_star_a { float: left;  background: url('images/small_stars.png') top left no-repeat; background-position: 0px 0px; height: 11px; width: 13px; }
div.small_star { float: left;  background: url('images/small_stars.png') top left no-repeat; background-position: 0px -11px; height: 11px; width: 13px; }

/*==================TOP_BLOCK==================*/
div.top_block {margin:0 auto; background:url(images/top_block.png) left top no-repeat; width:232px; height:51px; text-align:center; line-height:48px; font-size:1.6em; margin-bottom:10px;}
div.top_restoraunt {padding:15px 0px; width:232px;}
div.top_restoraunt  div.position {-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background:#3b414e; width:50px; height:35px; behavior: url(PIE.htc); color:#FFF; font-size: 2.6em; text-align: center; padding-top: 15px; margin-left:10px; margin-right:10px; margin-bottom:10px; position:relative; font-family:sans}
div.top_restoraunt .title {color:#24a6cf; font-size:18px; line-height:20px;}
div.top_restoraunt a { color:#24a6cf; text-decoration: underline;}
div.top_restoraunt a:hover { color:#000; text-decoration: none;}
div.top_restoraunt_end {padding-bottom:30px;}
div.top_restoraunt .rating {margin-top:10px; margin-bottom: 5px;}
div.top_restoraunt .image {margin-bottom: 10px;}
/*==================END_TOP_BLOCK==================*/

div#content {margin-top:20px;margin-bottom:20px;position:relative; line-height:18px;}
div.phone_block2 { background: url(images/phone_block2.png) center top no-repeat; color:#FFF; font-family: appetite; width:240px; height:165px; text-align: center; font-size:2.5em; padding-top:50px;}
div.phone_block2 div { color:#1a1a1a; font-size:0.5em; margin-bottom:20px;}
div.phone_block2 span { color:#fff; font-size:0.5em}

div.recept {width:240px; text-align: center; margin-top:20px; border-bottom: 1px solid #000;}
p.columns {
	-webkit-column-count: 2;
	-webkit-column-width: 400px;
	-webkit-column-gap: 35px;
	-webkit-column-rule: none;
	-moz-column-count: 2;
	-moz-column-width: 400px;
	-moz-column-gap: 35px;
	-o-column-rule: none;
	-o-column-count: 2;
	-o-column-width: 400px;
	-o-column-gap: 35px;
	-o-column-rule: none;
	column-count: 2;
	column-width: 400px;
	column-gap: 35px;
	column-rule: none;
}

#footer { width:100%; margin:0 auto;  background: #3b414e; height:294px; margin-top:50px; padding-top:70px;}
#footer  .footer_content {position:relative; background:url(images/dot2.png) left top repeat-x; color:#FFF;}
#footer  .footer_content p{margin-top:0px; padding:0px;}
#footer  .footer_content .left {margin-right:50px;}
#footer  .footer_content ul {margin:0px auto; padding:30px 0px; margin-left:120px; height:38px;}
#footer  .footer_content ul li {float:left; margin-left:50px; width:120px; list-style-type: none; padding:0px; line-height:22px; height:22px}
#footer  .footer_content ul li a { color:#FFF}
#footer  .footer_content ul li a:hover { color:#24a6cf}
#footer .to_top {position:absolute; margin:0 auto; background: url(images/to_top.png) left top no-repeat; width:96px; height:96px; margin-left: 440px; *margin-left: 340px; margin-top: -118px; letter-spacing: 1px; color: #FFF; line-height:125px; text-align: center; font-size:1.2em; cursor:pointer}

#system_loading{position:fixed;display:none;right:10px;top:10px;z-index:99999;background:#0d0d0d;border:1px solid #333;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; opacity:0.8; padding:10px; behavior: url(PIE.htc); line-height:32px; font-family: appetite; font-size: 1.4em; color:#FFF; text-indent:15px;}

/*POPUP*/
.popup {behavior: url(PIE.htc); padding:15px; width:auto; color:#FFF; z-index: 99999}
.popup .title {font-size:1.6em; padding-bottom: 5px; border-bottom:1px dotted #FFF; color:#FFF; text-align: left; margin-bottom:5px; white-space: nowrap}
.popup ul {padding:0px;margin:0px;}
.popup ul li{padding:0px;margin:0px;list-style-type:none; line-height:20px;}
.popup ul li a{color:#FFF; text-decoration: none; white-space: nowrap}
.popup ul li a:hover{color:#24a6cf; text-decoration: none}
/*END_POPUP*/

/*AJAX_FORM*/
input.inputtext {background:#FFF; border:0px; box-shadow:inset 0px 1px 3px #666; -webkit-box-shadow: inset 0px 1px 3px #666; -moz-box-shadow: inset 0px 1px 3px #666;behavior: url(PIE.htc); position:relative; height:28px; line-height:28px; padding: 0px 10px}
textarea.inputtext {background:#FFF; border:0px; box-shadow:inset 0px 1px 3px #666; -webkit-box-shadow: inset 0px 1px 3px #666; -moz-box-shadow: inset 0px 1px 3px #666;behavior: url(PIE.htc); position:relative; padding: 5px 10px}
.ajax_form {text-align:left;position:relative; *width:450px}
.ajax_form .question {  color:#FFF; line-height:30px; margin-bottom:10px; font-size: 1.2em; position:relative;}
.ajax_form .errortext {color:#24a6cf;}
.ajax_form .ok {color:#24a6cf;}
.ajax_form input.invalid {background:url(images/warning.png) 98% center no-repeat #FFC1C1; }
.ajax_form .error_text_maessage {display:none}
.right_block {width:240px;}
.error_text_message {display:none!important; visibility: hidden!important;}

/*==================CATALOG_LIST_BLOCK==================*/
#catalog { width:978px; margin:0 auto; position:relative;}
#catalog .sort {position:absolute; right:0px; top:5px;}
#catalog .sort a {color:#24a6cf;}
#catalog .title {float:left; color: #24a6cf; font-size:1.8em; margin-bottom: 10px;}
#catalog .title a {color: #24a6cf; font-size:1em; text-decoration:none}
#catalog .title a:hover {color: #000;}
#catalog .img {margin-right:10px; margin-bottom:10px;}
.metro {background: url(images/catalog/metro_icon.png) left 2px no-repeat; padding-left:20px;}
.metro_msk {background: url(images/catalog/metro_icon.png) left 2px no-repeat; padding-left:20px; line-height:17px;}
.metro_spb {background: url(images/catalog/metro_icon_spb.png) left 2px no-repeat; padding-left:20px; line-height:17px;}

#catalog .rating {float:left; margin-top:5px;margin-left:30px;}
#catalog p {margin-bottom: 4px; margin-top:0px;}
.restoraunt,.restoraunt_end  {width:484px; margin-right:10px; margin-bottom:10px; margin-top:10px;}
.restoraunt_end {margin-right:0px;}
#catalog .small_rating{float:left; margin-top:8px;margin-left:60px;}
.restoraunt .img,.restoraunt_end .img { width: 225px; overflow: hidden}
#catalog .restoraunt .title, #catalog .restoraunt_end .title {float:left; color: #24a6cf; font-size:1.6em; margin-bottom: 10px;}
.restoraunt .new,.restoraunt_end .new { font-family: appetite; float:left; margin-left: 20px; font-size: 1.2em; line-height: 28px;}

#rest_news { position:relative; }
.special_scroll {display:none;}
.special .scroll_arrows {width:116px; line-height:38px; text-align: center}
a.prev { background: url(/tpl/images/scroll2.png) 0px 0px no-repeat; display: block; width:38px; height:38px; cursor:pointer;}
a.next { background: url(/tpl/images/scroll2.png) -39px 0px no-repeat; display: block; width:38px; height:38px; cursor:pointer;}
a.prev:hover { background: url(/tpl/images/scroll2.png) 0px -39px no-repeat; }
a.next:hover { background: url(/tpl/images/scroll2.png) -39px -39px no-repeat; }

hr.bold { border-bottom:2px solid #1a1a1a; }
hr.black { border-bottom:1px solid #1a1a1a; margin:15px 0px;}
hr.dotted { border-bottom:1px dotted #1a1a1a; margin:20px 0px; margin-right:10px;}
a.another {color:#24a6cf;}
/*a.another:hover {color:#FFF;}*/
a.no_border {text-decoration: none;}
a.no_border:hover {text-decoration: underline;}
a.nav {display: inline-block; height:34px; width:34px; line-height: 34px; text-align:center; font-size:14px; text-decoration: none; }
a.nav:hover {border:1px solid #24a6cf; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; height:32px; width:32px; line-height: 32px;  text-decoration: none}
span.num {border:1px solid #000; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: inline-block; height:32px; width:32px; line-height: 32px; text-align:center; font-size:14px;}

/*==================END_CATALOG_LIST_BLOCK==================*/


#order .date {visibility:hidden; width:100px}
.caltrigger {position:absolute; top:-3px;left:0px;}
/*==================END_CATALOG_DETAIL========================*/
.cols2 .videonews {float:left; margin-right:25px; width:350px}
.cols2 .videonews span.data{font-size:1.6em; font-style: italic;}
.cols2 a.myPlayer {display:block; width: 350px; height:260px;  text-align:center; margin:0 0 15px 0; border:1px solid #999;}

.cols3 .videonews {float:left; margin-right:25px; width:308px}
.cols3 .videonews span.data{font-size:1.6em; font-style: italic;}
.cols3 a.myPlayer {display:block; width: 308px; height:230px;  text-align:center; margin:0 0 15px 0; border:1px solid #999;}

table td {font-size: 12px;}
#asd_share_buttons {display:none}


/*=============================TAGS======================*/
.tags {width:240px; font-style: italic;}
.tags .title {font-size: 1.5em; width: 230px; margin-bottom: 10px;}
/*a.big {font-size:24px; font-style: italic}
a.medium {font-size:18px;  font-style: italic}
a.small {font-size:14px;  font-style: italic}
a.xsmall {font-size:12px;  font-style: italic}*/
/*=============================END_TAGS======================*/

#additional_info_interview { background:#3b414e; color:#FFF;}
#additional_info_interview .block {width:994px; margin:0 auto; padding-left:18px}
#additional_info_interview .block p {color:#FFF}
div.interview_add {width:232px;padding-bottom:20px; padding:20px 0px;padding-right:14px; }
div.interview_add_kupon { width:232px; padding-bottom:20px; padding:20px 0px; background: #1a1a1a; padding-left:8px; padding-right:8px;}

span.rouble {font-family: "rouble"}
div.border_line {border-top:1px solid #e6e6e6;margin-bottom:22px}
div.kupon_long_baner {margin:0 auto; margin-bottom:22px;width:960px; overflow:hidden;}
div.kupons .kupon_image .new {background:#9dcf24; line-height:24px; opacity:.9; color:#FFF; font-family: appetite; padding:0px 10px; position:absolute; left:0px; top:12px;} 
#content .sorting {position:absolute; top:10px; left:300px; width:430px;}
#content .sorting span.z {background: url(/tpl/images/sort_arrow_z.png) bottom center no-repeat; display:inline-block; height:32px;}
#content .sorting span.a {background: url(/tpl/images/sort_arrow_a.png) top center no-repeat; display:inline-block; height:32px;}
.read_more {border-bottom:1px dotted #000;padding-bottom:20px; padding-top: 30px;}
.statya_nav {position:absolute; top:0px; right:0px; line-height: 20px; width:280px;}
img.indent {margin-bottom:10px;}
.articles_photo .scroll_arrows {width:116px; text-align: center; line-height:38px; margin-bottom: 10px;}
.articles_photo .img {width:715px;}
.direct_speech {border-top:1px dotted #1a1a1a; border-bottom:1px dotted #1a1a1a}
.direct_speech .author {border-radius:75px; width:150px; height:150px; overflow: hidden; margin:20px 0px; behavior: url(PIE.htc);}
.font16 {font-size:16px; line-height:24px;}
.uppercase {text-transform: uppercase; letter-spacing: 2px}
.line24 {line-height: 24px;}
.statya_section_name{position:relative}
a.white {text-decoration: none; color:#FFF;}
div.staya_likes{background: #f2f2f2; padding:10px 15px;line-height: 26px;}
#comments ul {margin:0px; padding:0px;}
#comments ul li {list-style-type:none; padding-top:20px; background: url('/bitrix_personal/templates/main/images/dot.png') left bottom repeat-x;}
#comments ul li table{padding-bottom:20px;}
#comments ul ul {margin-left:80px;}
#comments ul ul li {border-top:1px dotted #1a1a1a; border-bottom:none}
#comments .ava { width: 64px; height:64px; overflow:hidden; background:#f2f2f2; border-radius:32px;}
#comments td .name {color:#24a6cf; display:block; margin-bottom:10px;}
#comments td .comment_date {font-size:18px; color:#000;}
#comments td {padding-right:20px;}
#comments .review {width:320px}
#comments .review .data{color:#CCC;}
#comments .add_review{border:6px solid #f2f2f2; box-shadow:inset 0px 1px 3px #666; -webkit-box-shadow: inset 0px 1px 3px #666;
                           -moz-box-shadow: inset 0px 1px 3px #666;behavior: url(PIE.htc); position:relative; width:490px; height:110px; padding:5px;}
#comments .figure_link { background:url(images/add_block.png) left top no-repeat; padding:4px 0px; height:20px; text-align: center; margin-left:-10px; margin-top:28px; width:203px; }
#comments .figure_link a { color:#000; font-size: 1.3em; text-decoration: none;}
#comments .figure_link input { color:#000; font-size: 1.3em; text-decoration: none; background:none;border:none; height: 20px;cursor:pointer;}
#comments textarea.invalid {border:6px solid #FFC1C1; }
.grey {color:#b6b5b5;}
.grey a {color:#b6b5b5!important;}
.grey a:hover {color:#b6b5b5!important;text-decoration: none!important}
.statya_date {font-size:18px; color:#000;}
.statya_left_arrow {background:url(/tpl/images/post_arrow_left.png) left center no-repeat; padding-left:15px;}
.statya_right_arrow {background:url(/tpl/images/post_arrow_right.png) right center no-repeat; padding-right:15px;}
.interview_answer {}
.interview_answer p {padding-left: 25px; margin-bottom:25px;}

.bx-core-waitwindow {
    
    position:absolute!important;
    z-index: 99999;
    background-color: #0D0D0D!important;
    background-image:url(/bitrix/templates/main/images/144.gif); 
    background-position:10px center; 
    border: 1px solid #333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.8;
    padding: 10px;
    behavior: url('/bitrix_personal/templates/main/PIE.htc');
    line-height: 32px;
    font-family: appetite;
    font-size: 1.4em;
    right:10px;    
    color: white;
    text-indent: 15px;
    width:134px;
    right:10px!important;    
}
div.black_hr {border-top:1px solid #000; height:1px; margin-bottom:10px;}
div.white_2hr {border-top:2px solid #FFF; height:1px; margin-bottom:10px;}
div.dotted { background:url(/tpl/images/dot.png) left top repeat-x; margin:10px 0px; height:1px}
div.light_hr {border-top:1px solid #CCC;  margin-bottom:10px; height:1px}
div.white_dotted {background:url(images/dot2.png) left top repeat-x; margin:10px 0px; height:1px}
ul.metro_list
{
    padding:0px;
    margin:0px;
    list-style-type: none;
}
ul.metro_list li
{
    list-style-type: none;
    padding-left:15px!important;
    width:225px;
}
ul.metro_list li.line
{
    font-size:16px;
    color:#FFF;
    line-height:24px;    
    padding:10px 0px!important;
    color:#24A6CF!important;
}
ul.metro_list li a span
{
    color:#FFF;
    font-style: italic;
    font-weight:bold;
    font-size:14px;
}
ul.metro_list a.active
{
    color:#24a6cf;
}
ul.metro_list li a.active span
{
    color:#24a6cf;
}
ul.metro_list li a:hover span
{
    color:#24a6cf;
}
.baner2
{
    /*background:#FFF;*/
    -webkit-border-radius: 8px; 
    -moz-border-radius: 8px; 
    border-radius: 8px;
    /*border:1px solid #ebebeb;*/
    position:relative;
    overflow:hidden;
    behavior: url(/tpl/PIE.htc);
    text-align: center;
}

.sort_metro
{
    position:absolute;
    left:250px;
    top:-38px;   
}
.avatar { width: 64px; height:64px; overflow:hidden; background:#f2f2f2; border-radius:32px;}
.sms_text {font-family: "appetite"; font-size:12px; color:#000; line-height:12px;}
.sms_text span { font-size:20px}
.sms_phone {font-family: "appetite"; font-size:24px; color:#24a6cf}
.niceCheck 
{
    width: 19px;
    height: 19px;
    display: inline-block;
    cursor: pointer;
    background: url(images/checkbox.png) left top no-repeat;
}
.niceCheck input 
{
    display: none;
}
#new_year_logo
{    
    position: absolute;
    top: 383px;
    left: 355px;
    height: 83px;
    width: 275px;
    display: block;
}