.clear {line-height: 0; width: 100%; clear: both; font-size: 1px; height: 0; overflow: hidden;}
.hidden {display: none;}
.img-container {padding:10px;}
.img-container .image-block {float:left; margin-right:10px; display: block; height:80px; position: relative; margin-bottom:10px;word-break: break-all; max-width:100px; line-height:12px; font-size:10px;}
#img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#img-list li {
    margin: 10px;
    /*float: left;*/
    width: 152px;
    /*height: 90px;*/
    text-align: center;
    /*border: 1px solid #888888;*/
    display: inline-block;
}
.remove-link {width: 16px; height: 16px; background: url(images/close.png) center center no-repeat; right: 0px; position: absolute;}
#img-list div.progress {
    width: 150px;
    border: 1px solid #888888;
    height: 18px;
    text-align: center;
    background-image: url('../img/pbar_bgr.png');
    background-repeat: no-repeat;
    background-position: -150px center;
}
#write_com .another
{
    border-color: #24A6CF;
    font-style: italic;
    font-size:14px;
    text-decoration: none;
}
#write_com .another:hover
{
    border:0px;
}
#reviews .grey_block
{
    padding:10px;
}
#reviews .uppercase
{
    margin-bottom:10px;
}
#reviews #comment_form .add_review
{
    border: 0px solid #F2F2F2;
    margin-bottom:10px;
}
#reviews #comment_form .inputtext-with_border
{
    border: 0px solid #F2F2F2;    
}
#write_com .button
{
    height: 22px;
    text-align: center;
    background: #1a1a1a;
    padding: 0px 10px;
    line-height: 22px;
    letter-spacing: 1px;
    color: black;
    border: 0px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 11px;
    position: relative;
    display: block;
    text-decoration: none;
    margin-left:15px;
    margin-top:-3px;
}
#write_com .button:hover
{
    background: #24A6CF;    
}
#write_com .for_buttons
{
    overflow:hidden;
}
#reviews #plus_minus
{
    display:none;    
}
#reviews #add_photos
{
    display:none;
    margin-bottom:10px;
}
#reviews #add_videos
{
    display:none;
    margin-bottom:10px;
}
/*custom upload elements*/
.customfile-input { position: absolute; height: 38px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999;  }

.customfile {cursor: pointer; overflow: hidden; position: relative; margin-bottom:5px; margin-top:5px; border-left:6px solid #f2f2f2;}
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback { display: block;}

.customfile-button {background-color:#3b414e;width:85px;height:38px;color:#fff;display: block;margin:0 auto;line-height: 38px;text-transform: uppercase;text-align: center;font-size: 11px;font-family: Georgia;  }
.customfile-hover .customfile-button, .customfile-focus .customfile-button  { }
.customfile-focus .customfile-button {outline: 1px dotted #ccc;}

.customfile-button{float:right;}
.customfile-feedback{background-color: #fff;height: 38px;line-height: 38px;border: 0px;padding-left: 13px;font-size: 14px;font-family: Georgia;color:#1A1A1A;margin-right: 100px;
                     box-shadow: inset 0px 1px 3px #666;
                     -webkit-box-shadow: inset 0px 1px 3px #666;
                     -moz-box-shadow: inset 0px 1px 3px #666;
                     behavior: url(/tpl/PIE.php);
                     position: relative;
}


.ph_gals .customfile-button{float:right;}
.ph_gals .customfile-feedback{background-color: #fff;height: 38px;line-height: 38px;border: 0px;padding-left: 13px;font-size: 14px;font-family: Georgia;color:#1A1A1A;margin-right: 100px;}

.photo_icon
{
    margin-right:10px;
    background: url(images/m_add_re.png) left top no-repeat;
    height:26px;
    width:28px;
    cursor:pointer;
}
.video_icon
{
    margin-right:10px;
    background: url(images/m_add_re.png) -32px no-repeat;
    height:26px;
    width:28px;
    cursor:pointer;
}
.attach
{
    line-height:24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right:10px;
}

.TxtStatus {
    color: black !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    margin-left: 0px !important;
}

.QapTcha .bgSlider {
    width: 100% !important;
}