div#filter #search_input
{
    width:360px;
    height:32px;
    border:none;
    background: none;
    padding-left:20px;
    outline: none;
    font-family: Georgia;
    font-size:14px;
    font-style:italic;
    padding-top:2px;
}
#search_submit_new
{
    background:url(/tpl/images/search_icon.png) 15px center no-repeat;
  
text-indent: -9999px;
border: none;
float: left;
height: 32px;
width: 32px;
margin-top: 10px;
margin-bottom: 1px;
margin-left: -45px;
border-top: 0px;
font-family: Arial;
padding-top: 4px;
cursor: pointer;
}



div#filter .search_block_new {
    font-family: Arial;
    border: 1px solid #d8d8d8;
    height: 40px;
    background: white;
    box-shadow: inset 0px 1px 3px #898d95;
    -webkit-box-shadow: inset 0px 1px 3px #898d95;
    -moz-box-shadow: inset 0px 1px 3px #898d95;
    behavior: url(/tpl/PIE.php);
    position: relative;
    width: 828px;
    margin-bottom: 10px;
}
div#filter a.near_you{
    font-family: Arial;
    background:#24A6CF;
    width:100px;
    height:32px;
    display:block;
    text-transform: uppercase;
    font-size:12px;
    text-decoration:none;
    color:#FFF;
    padding:5px 20px;
    text-align:left;
    font-weight:bold;
    line-height:16px;
}
div#filter a.near_you:hover{
    background:#1a1a1a;    
}
#title-search input {
	width:360px;
	height:32px;
	padding-left:20px;
	font-family: Georgia;
	font-size:16px;
	font-style: italic;
	background:#eef3f6;
	border:0px !important;
	border-radius:20px;
	outline: none;
	float:left;
	margin-left:92px;
	margin-top:10px;
}