#more_cities_box {
    position:absolute;
    top:61px;
    right:0px;
}
#more_cities_box a.js
{
    font-size:18px;
    color:#24A6CF;
    text-decoration: none;
    border-color: #24A6CF;
    font-family: 'futurafuturiscregular';
}
#more_cities_box a.js:hover
{
    border: none;
}
#more_cities 
{
    position:absolute;
    top:50px;
    right:-78px;
    display:none;
    background-color: #2D323B;
    z-index: 10000;
    opacity: 0.97;
    width:160px;
    padding:10px;
    color:#fff;
}
#more_cities a
{
    display:block;
    margin-bottom:5px;
}
.contact_user p
{
    margin:7px 0px;
}
.contact_user h3
{
    margin-top:0px;
}
.contact_user td
{
    padding-top:20px;
    vertical-align: top;
}
.contact_user td.ma
{
    padding-top:20px;
}
.contact_user p.big
{
    font-size:16px;
    margin-bottom:10px;
}
.contact_user .big_avatar {
    border-radius:75px;
    overflow: hidden;
width: 150px;
height: 150px;
}

.contact_description
{
    background: #3B414E;
    height: 115px;   
    margin-bottom: 15px;
    padding: 10px;
    padding-top:25px;
    padding-left:25px;
    font-size: 1.4em;
    color: white;
    line-height: 18px;
}
.contact_description p
{
    margin:0px;
}
.contact_description .left {
    float:left;
}
.contact_description .right {
    float:right;
}
.contact_description i
{
    font-size:12px;
}
.contact_description a
{
    text-decoration:none!important;
}
