/* Layout */
body {background-color:#36393D; color:#DCDCDC;}

#title a, #title a:hover { color:#EFEFEF; }

#top-menu { background-color: #777;}
#top-menu li a { color:#CBCBCB; }
#top-menu b { border-color: #36393D; }
#top-menu li.selected a, #top-menu li.selected a:hover { background: #36393D; color: #FFEEAC;}

#rss-link, #rss-link:hover { color: #d6d6d6;}

#search div.rounded-box b.r1 { background-color: #DEDEDE; }
#search div.search-inner-box { border-color: #bbb; background: #f0f0f0; padding-left:3px;}
#search div.search-inner-box input { background: #f0f0f0; width:122px;}

#search-button div.search-button-box b.top { background-color: #E4C374; }
#search-button div.search-button-box b.bottom { background-color: #CCA139; }
#search-button input { 	background:#D9AB3D; color: white; }

#footer { border-color: #5f6165; }
#footer-row .r1 { background: #5f6165;}
#footer-links a { color: #DCDCDC;}

div.sidebar-rounded-box, div.sidebar-rounded-box b.r2 { background-color: #494C4E; }
div.sidebar-rounded-box b { border-color: #36393D; }

span.nav-current-page { background-color:#7E7E7E; }
div.navigation span.disabled { color:#7E7E7E;}
div.navigation span.arrow { color:#7E7E7E; }
div.navigation span.ctrl { color:#7E7E7E; }
div.navigation-arrows a { color: #b4b5b6;}

dl.block-list dt { color: #afa680; }
dl.block-list a, div.search-cloud a { color: #b9b9b9; }
dl.block-list a:hover, div.search-cloud a:hover { color: #cacaca; }

#user-menu { background-color: #36393D; }
#user-menu li { border-color: #4A4D51; }
#user-menu li.last-item { border-color: #4A4D51;}
#user-menu li.selected a { color: #FFEEAD;}

/* Text */
a:link {color:#E8E8E8;}
a:visited {color:#E8E8E8;}
a:hover {color:#FFEEAD;}
a:active {color:#E8E8E8;}

h1, h2, h3, h4, h5, h6 { color:#E8E8E8; }

hr, .hr { border-color: #46494c;}

/* Blog */
h2.blog-post-title a, h2.blog-post-title a:hover, div.blog-list-title a { color: #E8E8E8 !important; }

div.blog-post, div.blog-comment-cont, div.blog-add-comment-top, div.blog-list-item, div.blog-edit-buttons { border-color: #46494c}

div.blog-post-date, div.blog-comment-date, div.blog-register-date { color:#afa680; }

div.blog-post-meta-util a, div.blog-post-tag, div.blog-post-tag a, div.blog-comment-author-ip a, div.blog-comment-meta a { color:#b3b0a3 !important; }

div.blog-comment-preview div.blog-comment-cont { border-color: red;}

div.bbcode-line a:hover, div.bbcode-line a:hover img { background-color: #D7D7D7;}

div.blog-note-box {	background:#FFFEEB; border-color: #FFD482;}
div.blog-code-box, table.blog-quote td { background: #f7f7f7; border-color: #dedede; color: #4C4C4C; }

div.blog-edit-field-title input, div.blog-edit-field-post-date input, div.blog-edit-field-slug input,
div.blog-edit-field-tags input, div.blog-edit-field-text textarea,	
div.blog-edit-field-desc textarea, div.blog-edit-field-syndication-rss-feed-url input,
div.blog-comment-field-user input, div.blog-comment-field-content textarea, div.blog-comment-field-captcha input
 { background: #f0f0f0; border-color: #bbb;}

.lha-iframe { background: #f0f0f0; }
.lha-html-div  { border-color: #bbb !important;}
.lhe-button-normal {border: 1px solid #E1E1E2;}
.lhe-button-over { background-color: transparent; border:1px solid #aaa;}
.lhe-stat-toolbar-cont { background-color: #E1E1E2; overflow:hidden; width:auto !important; padding-left: 5px; }

div.blog-edit-field-title label, div.blog-edit-field-desc label, label.blog-edit-field-caption,
div.blog-comment-field-user label, div.blog-comment-field-captcha label {color:#f6ecc4;}

.blog-required-field { color: #ffb32f;}

div.blog-note-box { color: Black;}

/* Pop-ups*/
div.bx-dialog-container-wrapper  { background-color: #DCDCDC;}
div.bx-dialog-container { border-color: #5D5D5D; }
div.bx-dialog-titlebar { background-color: #EDEDED;}

/*Common Elements */
div.content-form div.form-input input, div.content-form div.form-input textarea, div.content-form div.form-input select
{
	background: #f0f0f0;
	border-color: #bbb;
}
div.content-form div.field-error div.form-input input, 
div.content-form div.field-error div.form-input textarea, 
div.content-form div.field-error div.form-input select
{
	color: red;
	background:	#fff8d3;
}
div.content-form div.field label.field-title { color:#f6ecc4; }

/* Search results*/
div.search-item, table.search-filter td { border-color: #46494c;}
div.search-page input.search-query, table.search-filter input.input-field, table.search-filter select.select-field { background: #f0f0f0; border-color: #bbb; }
div.search-advanced, div.search-item-meta, div.search-item-meta a { color: #8a8a8a !important;}
div.search-sorting b { background: #7E7E7E; }

/* Photo Gallery*/
div.photo-item-cover-block-inner, div.photo-item-cover-block-outer, div.photo-item-cover-block-container { background: none !important;}
li.photo-album-item div.photo-album-photos {color:#E8E8E8 !important;}
tr.settings {background-color:#494C4E !important;}
div.photo-shows a { color: #4F69B7 !important; }
div.bbcode-line  { background:#E1E1E2 !important;}
/*Error & OK messages*/
.starrequired { color: orange;}

.errortext, .notetext { background:#FFFEEB; border-color: #ff8686; color: #000;} 
.errortext a, .notetext a {color: #000;}

div.blog-post div.blog-post-info, div.blog-comment-cont-white, div.blog-post-edit-form, div.blog-comment-fields {background: transparent;}
div.blog-comment-field-bbcode {background-color:#F0F0F0;width:99.9%;border:1px solid #BBBBBB;border-bottom:0;}
div.blog-comment-field-bbcode div.blog-bbcode-line,
div.blog-comment-field-bbcode div.blog-smiles-line
{margin-left:5px;}
.body-blog a:link, .body-blog a:visited, .body-blog a:active, .blog-navigation-box li a  {color:#E8E8E8;}

div.photo-page-upload,
div.photo-page-upload a,
div.photo-page-upload td,
div.photo-info-box{color:#36393D}
div.photo-info-box ul.photo-controls span{color:#DCDCDC}

/* Auth */
div.bx-auth-services a { color: #DCDCDC; }
div.bx-auth-services a.bx-ss-selected { color: #646464; }
