.navdrawer-container {	
	-webkit-transform: none;
	transform: none;	
        left:-1000%;
}
.navdrawer-container.open {
	left:0px;
}
.app-bar.open {
    -webkit-transform: none;
    transform: none;
    left:280px;
}
.app-bar.open,
.app-bar.open ~ main {
	-webkit-transform: none;
	transform: none;   
        left:100%;
        position:absolute;
        z-index:1000;
}
.app-bar.open ~ main .filter
{
    display:none;
}
#overflow {
    visibility: hidden;
}
.app-bar.open {
    left:0px;
}
.navdrawer-container ul {
    font-size:16px;
}
.navdrawer-container ul li a{
    height:40px;
}
.app-bar .logo {
    margin-left: 48px;
/*    max-width:200px;
    width:200px;
    margin:0 auto;
    display: block;*/
}
.app-bar .logo img{    
    margin-left:150px;
}

main .items-detail .row {
    float:none;
    padding:0px 5%;
    width:90%;
    margin:0 auto;
}
.items-detail .body .review {    
    padding: 5% 5%;
    width: 90%;    
    margin:0 auto;
}
.rest-buttons .boo {    
    line-height: 14px!important;    
    text-align: center;
    padding:0px;
    margin-top:10px;
}
.rest-buttons .button {
    font-size: 11px;
    height: 46px;
    margin-top: 8px;
    line-height: 46px;
}


.item .item_back a:first-child {
    padding-top: 10%;
    height: 18%;
    margin-top: 15px;
}
.items .info .right {
    width: 26% !important;
    padding-top: 50px !important;
    padding-right: 10px !important;
}