@media  (max-device-width: 1920px)  and (-webkit-min-device-pixel-ratio: 1.1 ){
    .app-bar {
        height: 53px;
    }
	.app-bar-container { height: 46px; }
	.app-bar .logo { line-height: 23px; }
	.app-bar .logo img {height: 36px;}
	.app-bar .logo h1 {
		font-size: 20px;
		padding-top:0px;
	}
	.app-bar .logo h4 {
		font-size: 12px;
	}
	.app-bar button {width: 74px; height: 74px;margin-top: 0; }
	main {padding-top: 47px;}
        .search-page h2 {font-size:12px;}
	button.menu img {height:11px;width: 13px;}
	.items .item {height: 240px;}
	.items .item .pic{height: 240px;}
	.items .item .item_back{width: 140px;}
	.items .item .info {height: 95px;}
	.items .item .info h2 {font-size: 14px;padding-top: 0px;padding-left: 12px;}
	.items .item .info h3 {float: left; font-size: 12px;padding-top: 3px;padding-left: 16px; margin-left: 12px; background-size: 12px 15px;}
	.items .item .info .time {font-size: 12px; margin-bottom: 5px; padding-top: 6px; line-height: 1em;width: 58px; padding-right: 0 !important; /*background-position:18% 65% !important */}
    .items .info .left {
        width: 70% !important;
    }
    .items .info .right {
        width: 29% !important;
        padding-top: 50px !important;
        padding-right:10px !important;
    }
    .items .item .info .average_bill {
        padding-right: 7px;        
        padding-left: 9px;
        font-size: 12px;
        line-height: 1em;
        margin-top: -3px;
        display: block;
    }
    .items .item .info .average_bill:before {
        font-size: 12px;
        margin-right: 10px;
    }
    .item .item_back {
        font-size:11px;
    }
    .restoran_suggest {
        top:55px;
    }
    .item .item_back a {
        font-size:13px;
        height:12%;
        padding-top:10px;
        border-radius: 5px;
        margin:10px auto;
    }
     .item .item_back a:first-child {
        padding-top:23px;
        height:22%;
        margin-top:15px;
    }
    .item .item_back a:first-child:before {
        content: '\2706';
        display:block;
        font-size:46px;
        height:36px;
        width:100%;
        text-align: center;
        padding:0px;
    }
     .item .item_back a:last-child {
        padding-top:17px;
    }
	.app-bar-actions {
		line-height: 48px;
	}
	.app-bar-actions a{
		font-size: 14px !important;
		line-height: 47px;

	}
        .restoran_suggest ul li a {            
            font-size: 18px;
            line-height: 24px;
        }
	.btn.filter {
		bottom: 20px;
		font-weight: 400;
		line-height: 40px;
		border-radius: 42px;
		font-size: 15px;
		border: 1px solid rgba(0,0,0,0.2);
	}
	.navdrawer-container .app-bar-container a img {
	    	height:35px;
	    	margin-top: 5px;
		margin-left: 5px
	}
	.search {
		height: 70px;

	}
	.search form {
	    	padding-top: 20px;
		padding-left: 4%;
	}
	form input, form select{
		height: 50px;
		font-size: 15px;
		border-radius: 6px;
		font-size: 16px;
		padding-left:7px!important;
	}
	form input[type=text],form input[type=email] {
	    padding-left: 10px;
	    margin-right: 8px;
	}
	form input[type="submit"] {
		border-radius: 5px;
		//width: 74px;
        position: relative;
        padding:0px!important;
	}
	.line {
		height: 50px;
		margin-bottom: 17px;
	}
	.line label {
		font-size: 16px;
	}
	.line select {
		float: right;
	}
    div#comments span.name {
        width: 55%;
    }

	main.inner {
		padding-left: 0px;
		padding-right: 0px;
	}

	.items-detail .head {
		height: 210px;
		border-bottom: 2px solid #cdcdcd;
	}
	main .items-detail .row {
		padding:0 22px;
	}
	.items-detail .body p,
        .items-detail .body .text,
	.items-detail .body p.type  {
		font-size: 13px;
	}
	.items-detail .body h2 {
		font-size: 24px;
	}
	.items-detail .stars_new, .items-detail .stars_new_n {
            float:none;
            padding-top:4px;
            margin-top:10px;
            margin-left:-20px;
        }
	.items-detail .body .rating img {
		max-width: 48px;
		min-width: 48px;
		border: 3px solid white;
		border-radius: 24px;
	}
        .items-detail .body .reviews .review-head .user {
                width: 64px;
                float: left;
                height: 64px;
                background-size: cover;
                background-position: 50% 50%;
                border-radius: 32px;
                border: 3px solid #FFFFFF;
                top: -32px;
                left:50%;
                margin-left:-32px;
                position: absolute;
        }
        .items-detail .body .reviews .review-head span {
                font-size: 10px;
        }
        .items-detail #average_bill {
            position:absolute;
            bottom:10px;
            right:20px;
            font-size:26px;
            text-align: right;
            line-height:18px;
            text-shadow: 1px 1px 1px #444;
        }
        .items-detail #average_bill div{
            color:#fff;
            font-weight: bold;
            font-size:10px;
        }
        .items-detail #average_bill:before {
            content: 'a';
            display:inline-block;
            font-size:18px;
            font-family: "rouble";
            margin-right:5px;
        }
	ul.stars {
		float: left;
		top: 5px;
		margin-left: 10px;
		width: 45%;
		padding-top: 0px;
	}
	.items-detail .body .rating p.description {
		padding-top:3px;
	}
	.list .list-item div {
		font-size: 12px;
	}
	.items-detail .body .reviews a.link {
		font-size:13px;
	}
	.items-detail .map {
		height: 213px;
		margin-bottom: 53px !important;
	}
	.items-detail .map .address address {
		font-size: 12px;
	}
	.items-detail .map .address p {
		font-size: 12px;
	}
	.rest-buttons {
	  	height: 60px;
	}
	.rest-buttons .button {
	  	font-size: 11px;
	  	height:46px;
	  	margin-top:8px;
                line-height: 46px;
	}
	.rest-buttons .boo {
	  	font-size: 11px;
	  	height:46px;
	  	margin-top:8px;
                line-height: 14px;
                padding:10px;
                text-align: left;
	}
	.grad .line {
		width: 76%;
		margin-bottom: 2px;
		line-height: 4.25em;
		font-size: 12px;
	}
	.grad input[type=text],
    .grad input[type=email],
	.grad input[type=password],
	.grad input[type="submit"]{
	  	font-size: 15px;
	}
	button.social {
		font-size: 11px;
	}
	.grad button.social {
		font-size: 11px;
	}
    .popup.review .inner .head h2{
        font-size: 18px;
    }
    .popup.review .inner .body {
        font-size: 18px;
    }

    .one-opinion:first-child {
        padding-top: 35px;
    }
    .question .input {
        margin-top: -32px;
        margin-left: 2px !important;
        height: 45px;
        font-size: 12px !important;
    }
    .question .input input {
        font-size: 12px  !important;
        padding-top: 20px;
        color: #3bc6ee;
        margin: 0;
        font-weight: 600 !important;
    }
    .question {
        padding:5px;
        paddin-bottom:0px   !important;
        background-position:  95% 50% !important;

        background-size: 7px 12px  !important;
    }
    .question label {
        font-size: 18px  !important;
        font-weight: 100  !important;
        padding-left: 8px;
        color:#434343;
        padding-top:10px;
        display:block;
        line-height:23px;
    }
    .arrow_r {
        display:block;
    }
    .arrow_r img{    
        width:24px!important;
        height:20px!important;
    }
    .booking .rest h2 {
        font-size:16px;        
    }
    .booking .rest h3 {
        font-size:12px;        
    }
    .booking .small p{
        font-size:12px;
        line-height: 18px;
    }
    .booking input[type=email]{
        padding-left:20px!important;
    }
    #attach_photo {
        background: url(../images/image.jpg) no-repeat 8% 93% / 17px #FFFFFF;
    }
    div#comments p, div#comments div, div#comments span {
        font-size: 12px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px)  {
	.line label,.app-bar-actions a,form input, form select {
		font-size: 18px;
	}
	.app-bar-container {
		height: 46px;
	}
	.app-bar button {
		margin-top: 0px;
		height: 46px;
		width: 46px;

	}
	.app-bar-actions {
		line-height: 46px;
	}
	.app-bar .logo {
		padding-top: 0px;
		line-height: 44px;
		font-size: 20px;
	}
	.app-bar .logo img{
		max-width: 100%;
	}
    ul.stars_new, ul.stars_new_n {
        padding-left:10px;
    }
    .review textarea {
/*            padding:10px!important;*/
    }
    .small p {
        font-size:12px;
    }
}

@media screen and (orientation:landscape) {
    .grad form {
        top: 10px;
    }
    .grad {
        height: 100%;
        min-height: 100%;
    }
    .footer {
       height:11%;
    }
}

@media (min-device-width: 600px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.3){
    .items .item,.items .item .pic {
        height: 480px;
    }
    .items .item .info {
        height: 180px;
    }
    .items .item .info h2 {
        font-size: 28px;
        padding-left: 24px;
    }
    .items .item .info h3 {
        float: left;
        font-size: 24px;
        padding-top: 6px;
        padding-left: 32px;
        margin-left: 24px;
        background-size: 24px 30px;
    }
    .items .item .info .time {
        font-size: 24px;
        margin-bottom: 10px;
        padding-top: 6px;
        width: 116px;

        /* background-position: 18% 65% !important; */
    }
    .items .info .right {
        width: 29% !important;
        padding-top: 70px !important;
        padding-right: 20px !important;
    }
    .items .item .info .average_bill {
        padding-right: 0;
        padding-left: 18px;
        font-size: 24px;
        margin-top: 10px;
    }
    .items .item .info .average_bill:before {
        font-size: 24px;
        margin-right: 20px;
    }
    .app-bar {
        height: 80px;
    }
    main {
        padding-top: 80px;
    }
    .app-bar .logo img {
        height: 60px;
    }
    .app-bar button {
        margin-left: 15px;
        margin-top: 17px
    }
    button.menu img {
        height: 18px;
        width: 24px;
    }
    .rlist {
        padding-left: 30px;
        padding-right: 30px;
    }
    .app-bar-actions {
        right: 30px;
    }

    .app-bar {
        height: 106px;
    }
    .app-bar-container { height: 92px; }
    .app-bar .logo { line-height: 88px; width: 80%;}
    .app-bar .logo img {height: 72px;}
    .app-bar .logo h1 {
        font-size: 40px;
        padding-top:0px;
        text-align: center;
    }
    .app-bar .logo h4 {
        font-size: 24px;
        text-align: center;
    }

    .item .item_back {
        font-size:22px;
    }
    .restoran_suggest {
        top:110px;
    }
    .item .item_back a {
        font-size:26px;
        height:24%;
        padding-top:20px;
        border-radius: 10px;
        margin:20px auto;
    }
    .item .item_back a:first-child {
        padding-top:46px;
        height:44%;
        margin-top:30px;
    }
    .item .item_back a:first-child:before {
        content: '\2706';
        display:block;
        font-size:92px;
        height:72px;
        width:100%;
        text-align: center;
        padding:0px;
    }
    .item .item_back a:last-child {
        padding-top:34px;
    }
    .app-bar-actions {
        line-height: 96px;
    }
    .app-bar-actions a{
        font-size: 28px !important;
        line-height: 94px;

    }
    .restoran_suggest ul li a {
        font-size: 36px;
        line-height: 48px;
    }
    .btn.filter {
        bottom: 40px;
        font-weight: 400;
        line-height: 80px;
        border-radius: 82px;
        font-size: 30px;
        border: 1px solid rgba(0,0,0,0.2);
    }
    .navdrawer-container .app-bar-container a img {
        height:70px;
        margin-top: 10px;
        margin-left: 10px
    }
    .search {
        height: 140px;

    }
    .search form {
        padding-top: 40px;
        padding-left: 8%;
    }
    form input, form select{
        height: 70px;
        font-size: 30px;
        border-radius: 12px;
        font-size: 32px;
        padding-left:14px!important;
    }
    form input[type=text],form input[type=email] {
        padding-left: 20px;
        margin-right: 16px;
    }
    form input[type="submit"] {
        border-radius: 10px;
    //width: 74px;
        position: relative;
        padding:0px!important;
    }
    .line {
        height: 100px;
        margin-bottom: 34px;
    }
    .line label {
        font-size: 32px;
    }
    .line select {
        float: right;
    }
    div#comments span.name {
        width: 55%;
    }

    main.inner {
        padding-left: 0px;
        padding-right: 0px;
    }

    .items-detail .head {
        height: 420px;
        border-bottom: 2px solid #cdcdcd;
    }
    main .items-detail .row {
        padding:0 44px;
    }
    .items-detail .body p,
    .items-detail .body .text,
    .items-detail .body p.type  {
        font-size: 24px;
    }
    .items-detail .body h2 {
        font-size: 48px;
    }
    .items-detail .stars_new, .items-detail .stars_new_n {
        float:none;
        padding-top:0px;
        margin-top:2px;
        margin-left:-40px;
        width: 100%;
    }
    .items-detail .body .rating img {
        max-width: 96px;
        min-width: 96px;
        border: 3px solid white;
        border-radius: 48px;
    }
    .items-detail .body .reviews .review-head .user {
        width: 128px;
        float: left;
        height: 128px;
        background-size: cover;
        background-position: 50% 50%;
        border-radius: 64px;
        border: 3px solid #FFFFFF;
        top: -64px;
        left:50%;
        margin-left:-64px;
        position: absolute;
    }
    .items-detail .body .reviews .review-head span {
        font-size: 20px;
    }
    .items-detail #average_bill {
        position:absolute;
        bottom:20px;
        right:40px;
        font-size:52px;
        text-align: right;
        line-height:36px;
        text-shadow: 1px 1px 1px #444;
    }
    .items-detail #average_bill div{
        color:#fff;
        font-weight: bold;
        font-size:20px;
    }
    .items-detail #average_bill:before {
        content: 'a';
        display:inline-block;
        font-size:36px;
        font-family: "rouble";
        margin-right:10px;
    }
    ul.stars {
        float: left;
        top: 10px;
        margin-left: 20px;
        width: 45%;
        padding-top: 0px;
    }
    .items-detail .body .rating p.description {
        padding-top:6px;
    }
    .list .list-item div {
        font-size: 20px;
    }
    .items-detail .body .reviews a.link {
        font-size:26px;
    }
    .items-detail .map {
        height: 426px;
        margin-bottom: 106px !important;
    }
    .items-detail .map .address address {
        font-size: 24px;
    }



    .items-detail .map .address p {
        font-size: 24px;
    }
    .rest-buttons {
        height: 120px;
    }
    .rest-buttons .button {
        font-size: 22px;
        height:92px;
        margin-top:16px;
        line-height: 92px;
    }
    .rest-buttons .boo {
        font-size: 22px;
        height:92px;
        margin-top:16px;
        //line-height: 28px;
        padding:20px;
        line-height: 26px;
        text-align: center !important;
    }
    .grad .line {
        width: 76%;
        margin-bottom: 4px;
        line-height: 4.25em;
        font-size: 24px;
    }
    .grad input[type=text],
    .grad input[type=email],
    .grad input[type=password],
    .grad input[type="submit"]{
        font-size: 30px;
    }
    button.social {
        font-size: 22px;
    }
    .grad button.social {
        font-size: 22px;
    }
    .popup.review .inner .head h2{
        font-size: 36px;
    }
    .popup.review .inner .body {
        font-size: 36px;
    }

    .one-opinion:first-child {
        padding-top: 70px;
    }
    .question .input {
        margin-top: -64px;
        margin-left: 2px !important;
        height: 90px;
        font-size: 24px !important;
    }
    .question .input input {
        font-size: 24px  !important;
        padding-top: 40px;
        color: #3bc6ee;
        margin: 0;
        font-weight: 600 !important;
    }
    .question {
        padding:10px;
        paddin-bottom:0px   !important;
        background-position:  95% 50% !important;

        background-size: 14px 24px  !important;
    }
    .question label {
        font-size: 36px  !important;
        font-weight: 100  !important;
        padding-left: 16px;
        color:#434343;
        padding-top:20px;
        display:block;
        line-height:46px;
    }
    .arrow_r {
        display:block;
    }
    .arrow_r img{
        width:100% !important;
        height:100% !important;
    }
    .booking .rest h2 {
        font-size:32px;
    }
    .booking .rest h3 {
        font-size:24px;
    }
    .booking .small p{
        font-size:24px;
        line-height: 36px;
    }
    .booking input[type=email]{
        padding-left:20px!important;
        font-size: 24px !important;
    }

    #attach_photo {
        background: url(../images/image.jpg) no-repeat 3% 92%  / 17px #FFFFFF;
    }
    div#comments p, div#comments div, div#comments span {
        font-size: 24px;
    }
    .booking .rest {
        height: 220px;
    }
    .booking .rest .info {
        margin-top: 59px;
        position: relative;
        padding-bottom: 133px;

    }
    .line {
        height: 78px;

    }
    .booking.review .line {
        margin-bottom: 0;
    }
    .swiper-slide .inner {
        height: 420px;
    }
    .items-detail #average_bill {
        bottom: 52px;
    }
    .items-detail #average_bill:before {
        font-size: 25px;
    }
    .items-detail .body .reviews h2 {
        padding-bottom: 30px;
    }
    .review textarea {
        font-size: 24px;
    }
    .navdrawer-container {
        width: 50%;
        z-index: 100;
    }
    .navdrawer-container .app-bar {
        width: 100%;
        box-shadow: inset -13px 1px 17px -12px #000;
    }
    .app-bar.open, .app-bar.open ~ main {
        -webkit-transform: translate(50%, 0);
        transform: translate(50%, 0);

    }
    .navdrawer-container.open {
        box-shadow: inset -13px -2px 24px -12px #000;
    }
    .items .item, .items .item .pic {
        height: 480px;
    }
    .items .item .item_back {
        width: 280px;
        height: 480px;
    }
    .item .item_back a:first-child {
        height: 33%;
    }
    .item .item_back a:first-child:before {
        font-size: 66px;
        height: 51px;
    }
    .item .item_back a {
        padding-top: 24px;
    }
    .item .item_back a:last-child {
        padding-top: 41px;
    }
    .navdrawer-container .app-bar-container a img {
        height: 70px;
        margin-top: 10px;
        margin-left: 10px;
        width: 70px;
        border-radius: 50%;
    }
    .app-bar-actions a {
        font-size: 20px !important;
        line-height: 1em;
        padding-top: 32px;
    }
}
