.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li>label.multiselect-group{margin:0;padding:3px 20px;height:100%;font-weight:700}.multiselect-container>li>a{padding:0}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}
.multiselect-container>li>a:hover {
    background: #8bec0d;
    color:#FFF!important;
    font-size:14px;
}
.multiselect-container>li>a:hover label{
    background: #8bec0d;
    color:#FFF!important;
    font-size:14px;
}
.multiselect-container>li>a label{    
    font-size:14px!important;
}
input[type="checkbox"] {
    visibility: hidden;
}

.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
  padding: 5px 20px 5px 20px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #8bec0d!important;
}
.input[value="delete"] {
    font-weight: bold;
    visibility: visible;
}