#date {
    width:250px;
    background: url(images/calendar_1.png) right center no-repeat #fff;
    padding-left:10px;
    cursor:pointer;
}
#name {
    width:129px;
    margin-right:10px;
}
#email {
    width:129px;    
}
#budget {
    width:90px;
    margin-right:20px;
}
#wish {
    width:210px;
}
.phone1 {
    width:129px;
    margin-right:10px;
}
.datepicker {
    width:250px;
}
#company {
    width:150px;
    background: url(images/arrows.png) right center no-repeat #fff;   
}
.up-down {
    position:absolute;
    top:23px;
    right:0px;
    width: 33px;
    height: 40px;
}
.up {
    width:33px;
    height:20px;
    display:block;
}
.down {
    width:33px;
    height:20px;
    display:block;
}
.errors {
    color:red;    
}
.modal-dialog #order_online .form-group {
    margin-bottom:16px;
}