#spec_news
{
    margin-top:485px;
    margin-left:190px;
    width:500px;
    position:relative;
    z-index:10000;
}
#spec_news .date_p span
{
    font-style: italic;
    font-size: 30px;
    line-height: 36px;
}
#spec_news .date_p
{
    text-transform: lowercase;    
    line-height: 18px;
    margin-right:35px;
}
#spec_news .title
{
    margin-bottom:10px;
}
#spec_news .title a
{
    color:#24A6CF;
    font-size:18px;
    text-decoration:none;
    line-height:27px;
}
#spec_news .galery_news
{
    position:absolute;
    left:0px;
    top:0px;
    display:none;
}
#spec_news .scroll_arrows
{
    padding-top:120px;
    padding-left:52px;
    line-height:38px;
    float:left;
}
#spec_news .scroll_arrows .prev
{
    margin-right:5px;
}
#spec_news .scroll_arrows .next
{
    margin-left:5px;
}
#spec_news a.prev {
    background: url(images/scroll2.png) 0px 0px no-repeat;
    display: block;
    width: 38px;
    height: 38px;
    cursor: pointer;
}
#spec_news a.prev:hover {
    background: url(images/scroll2.png) 0px -39px no-repeat;
    display: block;
    width: 38px;
    height: 38px;
    cursor: pointer;
}
#spec_news a.next {
    background: url(images/scroll2.png) -39px 0px no-repeat;
    display: block;
    width: 38px;
    height: 38px;
    cursor: pointer;
}
#spec_news a.next:hover {
    background: url(images/scroll2.png) -39px -39px no-repeat;
    display: block;
    width: 38px;
    height: 38px;
    cursor: pointer;
}