table.sale_order_full
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
}
#order_form_content {
    #display: none;
}
/*Table head*/
table.sale_order_full th
{
	/*background-image:url(images/table_head.gif);
	background-repeat:repeat-x;*/
	text-align: left;
	color:#25639A;
}

/* Table cells and heads*/
table.sale_order_full th, table.sale_order_full td
{
	border:1px solid #ADC3D5;
	padding: 3px 5px;
	vertical-align:top;
}
table.sale_order_full_table
{
	width:100%;
	background-color:#FFFFFF;
	border-collapse:collapse;
	font-size:12px;
	border:1px solid #ADC3D5;
}
table.sale_order_full_table label {
	cursor: pointer;
}
/* Table cells and heads*/
table.sale_order_full_table td
{
	padding: 3px 5px;
	vertical-align:top;
}

table.sale_order_full_table td.radio {
	vertical-align:middle;
}

table.sale_order_full_table td table td {
	padding:0;
	vertical-align:middle;
}

table.sale_order_full_table td img {
	margin-right:5px;
}
.sof-req{color:red;}
.sof-ok{color:green; font-weight:bold;}