.os-font {
  font-family: 'Open Sans', sans-serif;
}
.modal-dialog {
  color: #000;
  font-family: "Pt Sans", Helvetica, Arial, sans-serif;
}
.modal-dialog.floating-bron-form {
  width: 316px;
  max-height: 600px;
  margin-top: 0;
  margin-bottom: 30px;
  z-index: 2;
}
.modal-dialog.floating-bron-form .modal-content {
  box-shadow: none;
  border: none;
  background: #ffffff;
}
.modal-dialog.floating-bron-form .modal-content .modal-body {
  background: url("../img/form/form-free-bg.png") top left no-repeat;
}
.modal-dialog.floating-bron-form .modal-content .modal-body * {
  color: #000000;
}
.modal-dialog.floating-bron-form .modal-content .modal-body .phone {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 26px;
  overflow: hidden;
}
.modal-dialog.floating-bron-form .modal-content .modal-body .phone .online-or-by-phone {
  font-family: 'futurafuturislightc';
  font-weight: 700;
  color: #636272;
  font-size: 14px;
  float: right;
}
.modal-dialog.floating-bron-form .modal-content .modal-body .phone .header-phone-wrap {
  float: right;
  position: relative;
  height: 35px;
  padding-left: 35px;
  line-height: 35px;
  color: #636272;
}
.modal-dialog.floating-bron-form .modal-content .modal-body .phone .header-phone-wrap:before {
  content: ' ';
  background: url("../img/form/form-phone.png") bottom left no-repeat;
  width: 33px;
  height: 31px;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online {
  padding: 0;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .title {
  font-family: 'futurafuturiscbold';
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  color: #636272;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online label {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: none;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .form-rest-name-wrap {
  text-align: center;
  margin-bottom: 20px;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .form-rest-name-wrap .form-rest-name {
  font-family: 'futurafuturiscregular';
  border-bottom: 1px dashed;
  font-size: 20px;
  display: inline;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online input {
  height: 48px;
  border: none;
  display: inline-block;
  border-radius: 3px;
  width: 100%;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online input:-moz-placeholder {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online input::-moz-placeholder {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online input:-ms-input-placeholder {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online input::-webkit-input-placeholder {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .form-group {
  width: 100%;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .form-group .phone1 {
  width: 200px;
  padding-left: 20px;
  letter-spacing: 1px;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .form-group #date {
  width: 100%;
  margin: 0;
  box-shadow: none;
  background: url(../img/form/calendar-bg.png) 96% center no-repeat #fff;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .form-group .phone-label {
  margin-right: 8px;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .form-group .half-part-form-fields {
  float: left;
  width: 50%;
  background: #f1eeeb;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .form-group .half-part-form-fields label {
  width: 58px;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .form-group .half-part-form-fields #time {
  text-align: center;
  letter-spacing: 1px;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .form-group .half-part-form-fields #company {
  background: #fff;
  text-align: center;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .form-group .half-part-form-fields .up-down {
  top: 0;
  right: 0;
  width: 76px;
  height: 48px;
  background: url("../img/form/plus-minus.png") center center no-repeat;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .form-group .half-part-form-fields .up-down .up {
  width: 50%;
  height: 100%;
  float: right;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .form-group .half-part-form-fields .up-down .down {
  width: 50%;
  height: 100%;
  float: left;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .today-tomorrow-wrapper .today-tomorrow {
  top: 0;
  left: 0;
  border-right: 1px solid #f1eeeb;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .today-tomorrow-wrapper .today-tomorrow .today-tomorrow-select {
  height: 48px;
  width: 230px;
  background: #ffffff url("/bitrix/templates/main_2014/img/select-arrow1.png") 204px 16px no-repeat;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
  border-radius: 3px;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .wish-list-new-trigger {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  border-left: 1px solid #f1eeeb;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .wish-list-new-trigger:before {
  background: url("../img/form/wishes-icon.png") center center no-repeat;
  top: 5px;
  right: 0;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .wishes-input-trigger .wishes-list-wrapper {
  width: 100%;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .we-will-get-you {
  font-family: 'futurafuturislightc';
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .btn-nb {
  color: #ffffff;
  font-family: 'futurafuturiscbold';
  font-size: 14px;
  background: #79a94e;
  border: none;
  border-radius: 3px;
  padding: 12px 10px;
  letter-spacing: 1px;
}
.modal-dialog.floating-bron-form .modal-content .modal-body #order_online .btn-nb:hover {
  background: #79a94e;
}
.datepicker td.active {
  background-color: #79a94e !important;
}
.datepicker td.active:hover {
  background-color: #79a94e !important;
}
.datepicker td.old,
.datepicker td.new {
  opacity: 0.6;
}
#system_loading {
  position: fixed;
  display: none;
  right: 10px;
  top: 10px;
  z-index: 99999;
  background: #0d0d0d;
  border: 1px solid #333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.8;
  padding: 10px;
  line-height: 32px;
  font-family: 'futurafuturiscbold';
  font-size: 18px;
  color: #ffffff;
  text-indent: 15px;
}
