
#p_user_page .right_side{float:right;width:234px;}
#p_user_page .right_side .my_schet{height:108px;border:1px dashed #1a1a1a;width:100%;margin-bottom: 25px;position: relative;}
#p_user_page .right_side .my_schet .restics_bg{position: absolute;z-index: 20;width:153px;height:91px;background: url(images/restics_bg.png) 0px 0px no-repeat;bottom:7px;left:40px;}
#p_user_page .right_side .my_schet .restics_bg span{display: block;text-align: center;width:58px;height:58px;color:#fff;line-height: 60px;font-style: italic;font-size: 20px;left:55px;top:5px;position: absolute;}
#p_user_page .right_side .my_schet .mstxt{position: absolute;left:17px;top:17px;font-size: 14px;font-family: Georgia;color:#1a1a1a;}

#p_user_page .right_side .ttl{background: url(images/p_user_zag.png) 0px 0px no-repeat;width:231px;height:51px;margin-bottom:19px;line-height: 51px;text-align: center;font-size:18px;font-family: Georgia;color:#1a1a1a;  }

#p_user_page .right_side ul.tbs{height:32px;list-style: none;padding: 0px;margin: 0px;margin-bottom: 12px;}
#p_user_page .right_side ul.tbs li{float:left;line-height: 32px;padding-left: 11px;padding-right: 11px;margin-right: 0px;}
#p_user_page .right_side ul.tbs li a{color:#24a6cf;font-size: 16px;font-family: Georgia;text-decoration: none;border-bottom: 1px dashed #24a6cf;}
#p_user_page .right_side ul.tbs li a:hover{border:0px;}
#p_user_page .right_side ul.tbs li.active{background-color: #f2f2f2;}
#p_user_page .right_side ul.tbs li.active a{cursor: default;color:#1a1a1a;border: 0px;}

#p_user_page .right_side .tabs_cont{border-bottom: 5px solid #000;padding-bottom: 5px;}
#p_user_page .right_side .tabs_cont ul{list-style: none;padding: 0px;margin: 0px;}
#p_user_page .right_side .tabs_cont ul li{border-bottom:1px dotted #8b8b8b;padding-bottom: 8px;padding-top: 8px;font-family: Georgia;font-size: 12px;font-style: italic;color: #1a1a1a;overflow: hidden;}
#p_user_page .right_side .tabs_cont ul li .nm{float:left;width:170px;}
#p_user_page .right_side .tabs_cont ul li .bl{float:right;}

#p_user_page .right_side .tabs_cont ul li.last{border-bottom: 0px;}