#comments .comment_ava
{
    width: 36px;
    height: 36px;
    overflow: hidden;
    background: #F2F2F2;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    behavior:url(/tpl/PIE.htc)
}
.commentt div.commentt
{
    margin-left:60px;
}
.grey_block
{
    padding:10px!important;
    padding-bottom: 0px!important;
    margin-bottom:10px;
}
.review_comment_add
{
    margin-top:10px;
}