div#filter #search_input
{
    width:370px;
    height:23px;
    border:none;
    background: none;
    padding:0px 20px;
    outline: none;
    font-family: Georgia;
    font-size:13px;
    font-style:italic;
    padding-top:2px;
}
#search_submit_new
{
    background:url(/tpl/images/spec/new_year_corp/lupa.png) center center no-repeat #9c141b;
    text-transform: uppercase;
    font-weight:bold;
    border:none;
    padding-left:35px;
    height:28px;    
    width:96px;
    margin-top:-1px;    
    font-family:Arial;
    padding-top:4px;
    cursor: pointer;
    box-shadow: inset 0px 1px 3px #1A1A1A;
    -webkit-box-shadow: inset 0px 1px 3px #1A1A1A;
    -moz-box-shadow: inset 0px 1px 3px #1A1A1A;
    behavior: url(/tpl/PIE.php);
}
#search_submit_new:hover
{
    background:url(/tpl/images/spec/new_year_corp/lupa.png) center center no-repeat #9c141b;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    behavior: url(/tpl/PIE.php);
}
#search_submit_new:active
{
    background:url(/tpl/images/spec/new_year_corp/lupa.png) center center no-repeat #9c141b; 
    box-shadow: inset 0px 1px 3px #1A1A1A;
    -webkit-box-shadow: inset 0px 1px 3px #1A1A1A;
    -moz-box-shadow: inset 0px 1px 3px #1A1A1A;
    behavior: url(/tpl/PIE.php);
}


div#filter .search_block_new {
    font-family: Arial;
    border: 1px solid #d8d8d8;
    border-right:0px;
    height: 25px;
    background: white;
    box-shadow: inset 0px 1px 3px #898d95;
    -webkit-box-shadow: inset 0px 1px 3px #898d95;
    -moz-box-shadow: inset 0px 1px 3px #898d95;
    behavior: url(/tpl/PIE.php);
    position: relative;
    width: 680px;
    margin-bottom: 10px;
}
div#filter a.near_you{
    font-family: Arial;
    background: #9c141b;
    width:210px;
    height:27px;
    display:block;
    text-transform: uppercase;
    font-size:12px;
    text-decoration:none;
    color:#FFF;
    padding:0px 10px;
    text-align:left;
    font-weight:bold;
    line-height:27px;
}
div#filter a.near_you:hover{
    background:#1a1a1a;    
}
#search_by
{
    font-size:12px;
    text-transform: uppercase;
    font-weight:bold;    
    line-height:18px;
    border-right:1px solid #CCC;
    padding-left:20px;
    padding-right:10px;
    margin-top:3px;
    padding-top:2px;
}