.article_rest
{
    width:155px;
}
.article_rest_text
{
    width:555px;
}
.statya_section_name h4
{
    margin-left:90px;
    background: #2ca9cd;
   -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display:inline-block;
    height:15px;
    padding:10px 15px;
    text-align: center;
    color:#FFF;
}
.statya_section_name h4 a
{
    color:#FFF;
    text-decoration: none;    
}
.statya_nav
{
    margin-top:7px;
}
.statya_nav a
{
    color:#FFF;
    text-decoration: underline!important;
}