#minus_plus_buts{margin-left: 48px;float:left;}
#minus_plus_buts .plus_but{display: block;float:left;position: relative;padding-left:42px;line-height: 31px;font-family: Georgia;position: relative;height:31px;margin-right: 17px;font-size: 12px; }
#minus_plus_buts .plus_but a, #minus_plus_buts .plus_but span{background: url(/tpl/images/plus_minus_icons.png) 0px 0px no-repeat;height:31px;width:36px;position: absolute;left:0px;top:0px;}

#minus_plus_buts .minus_but{display: block;float:left;position: relative;padding-left:42px;line-height: 31px;font-family: Georgia; position: relative;height:31px;}
#minus_plus_buts .minus_but a, #minus_plus_buts .minus_but span{background: url(/tpl/images/plus_minus_icons.png) -36px 0px no-repeat;height:31px;width:36px;position: absolute;left:0px;top:0px;}