div.subscribe-edit .red {
	color:red;
}
div.subscribe-edit .green {
	color:green;
}
div.subscribe-edit .errorcolor {
	color:red;
}
div.subscribe-edit .successcolor {
	color:green;
}
.subscribe-edit .inputtext
{
    height:26px;
    margin:5px 0px;
    line-height:26px;
    font-size:14px;
}