div#header, div#content, div#main_menu, div#news, div#filter .filter, /*div.ajax_forms_menu,*/ div.scroll, .footer_content, #block960 {width:978px; margin:0 auto; position:relative}
.left_block {width:720px;}
/*#block960 div.ajax_forms_menu {position:absolute; top:20px; z-index: 99}*/
/*div#header {height:200px;}*/
#search_where {width:155px; position:relative; z-index:10000}
#filter .filter {z-index: 9999999; position:relative;}
#block960 .left {margin-bottom:10px;}
#new_filter .fil {z-index:100; position:relative;}
div.ajax_forms_menu { text-align:right; /*margin-bottom:10px*/}
div.ajax_forms_menu a {color:#24a6cf; margin-left:30px; text-decoration: none}


div#filter .search_block_new {
    font-family: Arial;
    border: 1px solid #D8D8D8;
    height: 40px;
    background: white;
    box-shadow: inset 0px 1px 3px #898D95;
    -webkit-box-shadow: inset 0px 1px 3px #898D95;
    -moz-box-shadow: inset 0px 1px 3px #898d95;
    behavior: url(/tpl/PIE.php);
    position: relative;
    width: 823px;
    margin-bottom: 10px;
}
div#filter .search_block_new {
    font-family: Arial;
    border: 1px solid #D8D8D8;
    height: 40px;
    background: white;
    box-shadow: inset 0px 1px 3px #898D95;
    -webkit-box-shadow: inset 0px 1px 3px #898D95;
    -moz-box-shadow: inset 0px 1px 3px #898d95;
    behavior: url(/tpl/PIE.php);
    position: relative;
    width: 823px;
    margin-bottom: 10px;
}
div#filter #search_input {
    width: 520px;
    height: 38px;
    border: none;
    background: none;
    padding: 0px 20px;
    outline: none;
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    padding-top: 2px;
    line-height:38px;
}
/*
div#filter {  height:auto; margin:0 auto; margin-bottom: 20px; width:100%}
div#filter .filter { }
.title_main { color:#FFF; font-size:2em; margin-bottom: 10px}
div#filter .search_block { border:5px solid #f2f2f2;height:28px; background: #FFF;box-shadow:inset 0px 1px 3px #666; -webkit-box-shadow: inset 0px 1px 3px #666;
                           -moz-box-shadow: inset 0px 1px 3px #666;behavior: url(/tpl/PIE.php); position:relative; width:800px; margin-bottom: 5px}
div#filter .search_block .left, div#filter .search_block .right{ height:28px; }
div#filter .search_block input { border:0px; background:none; height:28px;padding:0px 10px; font-size:14px; outline: none; font-style: italic; width:586px}
div#filter .search_block input.placeholder { color:#cccccc;}
div#filter .search_block input#search_submit { width:28px; height:28px; padding:0px;}
div#filter .search_button {background:#2D323B; width:168px; padding:5px; padding-left:30px; height:28px; margin-top:10px;}
div#filter .search_button input { width:168px; }
div#filter .search { margin-left:25px;}
div#filter .button { width:178px; margin-top:15px; }
div#filter .button input.filter_button{ background:#1a1a1a; height:28px; border:0px; color:#FFF; font-weight: bold; text-align: center; width:168px; letter-spacing: 1px}
div#filter .button input.filter_button:active{ height:28px; padding-top:4px;}
div#filter .button ul{ padding:0px; margin:0px; margin-top:20px}
div#filter .button ul li { list-style-type:none; height:30px;}
div#filter .button ul li a{ color: #FFF; text-decoration: none; text-shadow:1px 1px #2d323b;}
div#filter .button ul li a:hover { color: #24a6cf;}
div#filter .button .add_rest { background:url(images/add_block.png) left top no-repeat; padding:4px 0px; height:20px; text-align: center; margin-left:-10px; margin-top:15px;}
div#filter .button .add_rest a{ color:#FFF; font-size: 1.3em; text-decoration: none;}
div#filter .filter_box {padding:0px; margin:0px; width:575px; text-align: justify;text-justify: newspaper; zoom:1; text-align-last: justify; margin-right:20px;}
div#filter .filter_box:after {width: 100%; height: 0px; visibility: hidden;  overflow: hidden;   content: ''; display: inline-block;}
div#filter #chec {width:158px!important}
div#filter .filter_block { } 


div#filter .filter_block ul {list-style-type: none; margin:0px; padding:0px;}
div#filter .filter_block ul li {list-style-type: none; margin:0px; padding:0px; color:#FFF; line-height:24px;}
div#filter .title {color:#FFF; font-size:18px; line-height:34px; white-space: nowrap}
div#filter .title a {color:#FFF; font-size:16px; line-height:24px; white-space: nowrap; border: none; background: url(/tpl/images/fil_arrow.png) right 8px no-repeat; padding-right:20px;}
div#filter .title a:hover {color:#24A6CF }
div#filter .buttons {padding-top: 60px; width:150px;} 
div#filter .buttons .add_rest2 { background:url(images/add_block2.png) left top no-repeat; padding:4px 0px; height:20px; text-align: center; margin-left:-2px; margin-top:15px; margin-bottom: 10px;}
div#filter .buttons .add_rest2 a{ color:#FFF; font-size: 1.2em; text-decoration: none; text-shadow:1px 1px 1px #000; behavior: url(/tpl/PIE.php);}
div#filter .buttons .filter_button {background:#24a6cf; height:28px; border:0px; color:#FFF; font-weight: bold; text-align: center; width:148px; letter-spacing: 1px; cursor:pointer}
div#filter .buttons input.filter_button:active{background:#1a1a1a; height:28px; padding-top:4px;}
div#filter .filter_arrow  {border-color:#24a6cf;}
div#filter .filter_arrow:hover {border:none}
div#filter .filter_popup {padding:5px 10px 10px 10px; width:644px;}
div#filter .filter_popup .title {color:#FFF; line-height:30px; text-shadow:none; margin-bottom:0px;}
div#filter .filter_popup .filter_button {background:#24a6cf; height:28px; border:0px; color:#FFF; font-weight: bold; text-align: center; width:148px; letter-spacing: 1px; cursor:pointer}
*/
.top_baner {background:#f5f5f5; margin-top:-20px;}
.top_baner_block {padding:20px 0px}

/*==================SUBSCRIBE_BLOCK==================*/
div.subscribe {width:230px;}
div#subscribe .title {font-size: 1.5em; width:240px; margin-bottom:10px}
div#subscribe .subscribe_block {border:5px solid #e6e6e6;height:28px; background: #FFF;box-shadow:inset 0px 1px 3px #666; -webkit-box-shadow: inset 0px 1px 3px #666;
                                -moz-box-shadow: inset 0px 1px 3px #666;behavior: url(/tpl/PIE.php); position:relative; margin-top:5px;}
div#subscribe .subscribe_block input { border:0px; background:none; height:26px;padding:0px 10px; font-size:1.5em; outline: none; font-style: italic; width:165px}
div#subscribe .subscribe_block input.placeholder { color:#cccccc;}
div#subscribe input.subscribe {margin-top:9px;}
/*==================END_SUBSCRIBE_BLOCK==================*/

/*==================NEWS_BLOCK==================*/
div#news { margin-top:20px!important;}
li a {text-decoration: none;}
li a div.tab_left {width:14px; height:54px;}
li a div.tab_right {width:14px; height:54px;}
li a div.name {font-size:16px; line-height:46px; padding:0px 15px; color:#24a6cf;  text-decoration: none;}
li a.current div.tab_left {background:url(images/tab_left.png) left top no-repeat; width:14px; height:44px;  position:relative}
li a.current div.tab_right {background:url(images/tab_right.png) right top no-repeat; width:14px; height:44px; position:relative}
li a.current div.name {border-top:1px solid #000; font-size:16px; line-height:46px;background:#FFF; color:#1a1a1a; text-decoration: none; height:46px; position:relative}


ul.tabs { margin:0 !important; padding:0; height:41px; width:720px;border-bottom:3px solid #000;}
ul.big {width:978px}
ul.tabs li { float:left; padding:0; margin:0; list-style-type:none;}
ul.tabs a.current { color:#000;	cursor:default;}

ul.history_tabs { margin:0 !important; padding:0; height:51px; width:728px;border-bottom:3px solid #000;}
ul.history_tabs li { float:left; padding:0; margin:0; list-style-type:none;}
ul.history_tabs a.current { color:#000;	cursor:default;}
/* tab pane */
.panes div.big {width:978px!important}
.panes div.pane { display:none; min-height:150px; padding:15px 0px;margin-top:-3px; width:720px; line-height: 20px}
.panes div span.dates{ font-size: 1.6em}
.panes div img{ margin-right:10px;margin-bottom:10px;}
.panes div a { color:#24a6cf; text-decoration: underline;}
.panes div a:hover { color:#000; text-decoration: none;}
.panes div a.uppercase { color:#1a1a1a; letter-spacing: 1px; text-decoration: none; }
.panes div a.uppercase:hover { color:#24a6cf; text-decoration: none; }
.news_img { width:470px; overflow:hidden; margin-right:10px;}
.news_text { width:240px }
.news_text .title {color: #24A6CF; margin-bottom: 10px; line-height:24px; margin-top:2px;}
.news_text .title a {color: #24A6CF; font-size: 18px; text-decoration: none}
.news_text .title a:hover {color: #1A1A1A;}
.comment { width:360px; font-style: italic;}
.comment_more { width:360px; text-align: right }
/*==================END_NEWS_BLOCK==================*/

/*==================POSTER_PANE==================*/
ul#poster_tabs { margin:0 !important; padding:0; height:55px; width:725px;/*border-bottom:3px solid #000;*/}
ul#poster_tabs li { float:left; padding:0; margin:0; list-style-type:none;}
ul#poster_tabs a { display:block; height:55px; padding:0px 20px; line-height:55px; color:#fff; background:#3b414e; width:105px; text-align: center; text-decoration: none;}
#afisha_box ul#poster_tabs a { display:block; height:55px; padding:0px 20px; line-height:55px; color:#fff; background:#3b414e; width:120px; text-align: center; text-decoration: none;}
ul#poster_tabs a.long { display:block; height:43px; padding:0px 20px; padding-top: 12px; line-height:16px; color:#fff; background:#3b414e; width:105px; text-align: center;}
#afisha_box ul#poster_tabs a.long { display:block; height:43px; padding:0px 10px; padding-top: 12px; line-height:16px; color:#fff; background:#3b414e; width:140px; text-align: center;}
ul#poster_tabs a.current { background:#24a6cf;color:#FFF; font-size: 12px!important; }
#afisha_box  ul#poster_tabs a.current { background:#24a6cf;color:#FFF; font-size: 12px!important; }
ul#poster_tabs a.big { width:140px; font-size: 1.2em; height: 30px; line-height: 30px}
ul#poster_tabs a:hover { background: #24A6CF }


.overflow{overflow:hidden}
.panes div.pane { display:none; min-height:150px; padding:15px 0px;  margin-top:3px; width:720px; line-height: 20px}
.panes div span.date_size{ font-size: 1.6em}
.panes div img{ margin-right:10px;margin-bottom:10px;}
.poster_panes div img{ margin-right:10px;margin-bottom:10px;}
.panes div a { color:#24a6cf; text-decoration: underline;}
.panes div a:hover { color:#000; text-decoration: none;}
.panes div a.uppercase { color:#1a1a1a; letter-spacing: 1px; text-decoration: none; }
.panes div a.uppercase:hover { color:#24a6cf; text-decoration: none; }
table.poster {width:100%;}
table.poster tr { background: url(images/dot.png) left bottom repeat-x; }
table.poster tr.end { background: none; }
table.poster tr.end td { border-bottom:1px solid #1a1a1a; }
table.poster td { height:50px; }
table.poster td.name { font-size: 16px; width:300px;}
table.poster td.type { color: #cccccc; }
/*==================POSTER_PANE==================*/

.rest_news_cont { position:relative; }
.rest_news_cont  .special_scroll {display: block; /*padding-top:15px;*/ width: 100%; overflow: hidden; height:175px; position: relative;}
.rest_news_cont  .special_scroll .scroll_container{width:5000em; position:relative;}
.rest_news_cont  .special_scroll .item {float:left; margin-right:20px; overflow:hidden; cursor: pointer; position: relative; height:160px; width:241px}
.rest_news_cont  .special_scroll .active { width:241px;}
.rest_news_cont  .special_scroll .item div.border { width:241px; height:25px; position: absolute; z-index: 1000; background:#FFF;}
.rest_news_cont  .special_scroll div.active div.border { background: url(images/rest_news_active.png) left top no-repeat; width:241px; height:160px; position: absolute;}
.rest_news_cont  .special_scroll .item div.title { background: #000; opacity: .8; width:241px; height:55px; position: absolute; bottom:0px; color:#FFF; font-size:1.4em; text-align: center;}
.rest_news_cont  .special_scroll .item div.title td {font-size:14px; text-align: center; height:55px; padding:0px 10px;}
.scrollable { position:relative; overflow:hidden; /*width: 660px;*/ height:165px; /*max-width:1902px;*/ margin:0 auto;}
.scrollable .items { width:20000em; position:absolute; height:165px; clear:both}
.items div.item { float:left; margin-left:10px; padding:5px; cursor:pointer; position:relative; height:165px;}
.items div.active div.border { /*background: url(images/rest_news_active.png) left top no-repeat;*/ width:241px; height:165px; position: absolute;}
.items div div.border { background: #fff; width:241px; height:25px; position: absolute; z-index: 1000}
.items div div.title { background: #000; opacity: .8; width:241px; height:40px; position: absolute; bottom:10px; color:#FFF; font-size:1.6em; text-align: center; padding-top:10px; left:5px;}
div.scroll { margin-top:10px; margin-bottom:10px;}
a.prev { background: url(images/scroll_arrow_left.png) left top no-repeat; display: block; width:36px; height:36px; cursor:pointer;}
a.next { background: url(images/scroll_arrow_right.png) left top no-repeat; display: block; width:36px; height:36px; cursor:pointer;}
.poster_pane {
    margin-top: 1px;
}

/*==================RANGE==================*/
.slider { background:#1a1a1a; height:2px; position:relative; cursor:pointer; width:885px; float:left; clear:right; margin-top:17px; -moz-box-shadow:inset 0 0 8px #000; margin-left:10px; margin-right:10px;}
.progress { height:9px; background-color:#C5FF00; display:none;	opacity:0.6;}
.handle { background:#3b414e; height:12px; width:70px; top:-6px; position:absolute; display:block; margin-top:1px; cursor:move;}
.range { display:none;}
/*==================END_RANGE==================*/

div.new_restoraunt {width:232px;margin-right:12px; margin-bottom:10px; margin-top:10px;}
div.position {-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background:#3b414e; width:50px; height:35px; behavior: url(/tpl/PIE.php); color:#FFF; font-size: 2.6em; text-align: center; padding-top: 15px; margin-left:10px; margin-right:10px; margin-bottom:10px; position:relative; font-family:sans}
 
div.pane .title {color: #24A6CF; margin-bottom: 10px; line-height:24px; margin-top:2px;}
div.pane .title a {color: #24A6CF; font-size: 18px; text-decoration: none}
div.pane .title a:hover {color: #1A1A1A;}
div.new_restoraunt .title {color: #24A6CF; margin-bottom: 10px; line-height:24px; margin-top:2px;}
div.new_restoraunt .title a {color: #24A6CF; font-size: 18px; text-decoration: none}
div.new_restoraunt .title a:hover {color: #1A1A1A;}
.end {margin-right:0px!important; padding-right:0px!important}
div.rating {  height:18px}
div.star_a { float: left;  background: url('images/stars.png') top left no-repeat; background-position: 0px 0px; height: 18px; width: 22px; }
div.star { float: left;  background: url('images/stars.png') top left no-repeat; background-position: 0px -19px; height: 18px; width: 22px; }
.active_rating .star,.active_rating .star_a {cursor:pointer;}
div.small_star_a { float: left;  background: url('images/small_stars.png') top left no-repeat; background-position: 0px 0px; height: 11px; width: 13px; }
div.small_star { float: left;  background: url('images/small_stars.png') top left no-repeat; background-position: 0px -11px; height: 11px; width: 13px; }
div.new_restoraunt .price {margin:0px 0px 15px 0px;}
div.new_restoraunt .price span {font-size: 1.8em}
div.new_restoraunt .price span.rouble {font-family: "rouble"}
div.new_restoraunt .kupon_image .kupon_of_day {background:url(/bitrix/templates/kupon/images/kupon_of_day.png) right top no-repeat; width:110px; height:166px; position:absolute; top:-45px; right:-10px; font-family: "appetite"; color:#FFF; font-size:1.4em; padding-top:44px; text-align:center}
div.new_restoraunt .kupon_image .new {background:#9dcf24; line-height:24px; opacity:.9; color:#FFF; font-family: appetite; padding:0px 10px; position:absolute; left:0px; top:12px;} 

/*==================TOP_BLOCK==================*/
div.top_block {margin:0 auto; background:url(images/top_block.png) left top no-repeat; width:232px; height:51px; text-align:center; line-height:48px; font-size:1.6em; margin-bottom:20px;}
div.top_restoraunt {padding:15px 0px; width:232px;}
div.top_restoraunt  div.position {-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background:#3b414e; width:50px; height:35px; behavior: url(/tpl/PIE.php); color:#FFF; font-size: 2.6em; text-align: center; padding-top: 15px; margin-left:10px; margin-right:10px; margin-bottom:10px; position:relative; font-family:sans}
div.top_restoraunt .title {color:#24a6cf; font-size:18px; line-height:20px;}
div.top_restoraunt a { color:#24a6cf; text-decoration: underline;}
div.top_restoraunt a:hover { color:#000; text-decoration: none;}
div.top_restoraunt_end {padding-bottom:30px;}
div.top_restoraunt .rating {margin-top:10px; margin-bottom: 5px;}
div.top_restoraunt .image {margin-bottom: 10px;}
/*==================END_TOP_BLOCK==================*/

div#content {margin-top:20px!important;margin-bottom:20px!important;position:relative; line-height:18px;}
div.phone_block2 { background: url(images/phone_block2.png) center top no-repeat; color:#FFF; font-family: appetite; width:240px; height:165px; text-align: center; font-size:2.5em; padding-top:50px;}
div.phone_block2 div { color:#1a1a1a; font-size:0.5em; margin-bottom:20px;}
div.phone_block2 span { color:#fff; font-size:0.5em}

div.recept {width:240px; text-align: center; margin-top:20px; border-bottom: 1px solid #000;}
p.columns {
	-webkit-column-count: 2;
	-webkit-column-width: 400px;
	-webkit-column-gap: 35px;
	-webkit-column-rule: none;
	-moz-column-count: 2;
	-moz-column-width: 400px;
	-moz-column-gap: 35px;
	-o-column-rule: none;
	-o-column-count: 2;
	-o-column-width: 400px;
	-o-column-gap: 35px;
	-o-column-rule: none;
	column-count: 2;
	column-width: 400px;
	column-gap: 35px;
	column-rule: none;
}

#system_loading{position:fixed;display:none;right:10px;top:10px;z-index:99999;background:#0d0d0d!important;border:1px solid #333;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; opacity:0.8; padding:10px; /*behavior: url(/tpl/PIE.php);*/ line-height:32px; font-family: appetite; font-size: 1.4em; color:#FFF; text-indent:15px;}

/*POPUP*/
.popup {behavior: url(/tpl/PIE.php); padding:15px; width:auto; color:#FFF; z-index: 99999}
.popup .title {font-size:18px; padding-bottom: 5px; border-bottom:1px dotted #FFF; color:#FFF; text-align: left; margin-bottom:5px; white-space: nowrap}
.popup ul {padding:0px;margin:0px;}
.popup ul li{padding:0px;margin:0px;list-style-type:none; line-height:20px;}
.popup ul li a{color:#FFF; text-decoration: none; white-space: nowrap}
.popup ul li a:hover{color:#24a6cf; text-decoration: none}
/*END_POPUP*/

/*AJAX_FORM*/
input.inputtext {background:#FFF; border:0px; box-shadow:inset 0px 1px 3px #666; -webkit-box-shadow: inset 0px 1px 3px #666; -moz-box-shadow: inset 0px 1px 3px #666;behavior: url(/tpl/PIE.php); position:relative; height:28px; line-height:28px; padding: 0px 10px}
textarea.inputtext {background:#FFF; border:0px; box-shadow:inset 0px 1px 3px #666; -webkit-box-shadow: inset 0px 1px 3px #666; -moz-box-shadow: inset 0px 1px 3px #666;behavior: url(/tpl/PIE.php); position:relative; padding: 5px 10px}
.ajax_form {text-align:left;position:relative; *width:450px}
.ajax_form .question {  color:#FFF; line-height:30px; margin-bottom:10px; font-size: 1.2em; position:relative;}
.ajax_form .errortext {color:#24a6cf;}
.ajax_form .ok {color:#24a6cf;}
.ajax_form input.invalid {background:url(images/warning.png) 98% center no-repeat #FFC1C1; }
.ajax_form .error_text_maessage {display:none}
.right_block {width:240px;}
.left_block {width:720px;}
.error_text_message {display:none!important; visibility: hidden!important;}

/*==================CATALOG_LIST_BLOCK==================*/
#catalog { width:978px; margin:0 auto; position:relative;}
#catalog .sort {position:absolute; right:0px; top:-5px;}
#catalog .sort a {color:#24a6cf;}
#catalog .title {float:left; color: #24a6cf; font-size:1.8em; margin-bottom: 10px;}
#catalog .title a {color: #24a6cf; font-size:1em; text-decoration:none}
#catalog .title a:hover {color: #000;}
#catalog .img {margin-right:10px; margin-bottom:10px;}
.metro {background: url(/tpl/images/metro_icon.png) left 2px no-repeat; padding-left:20px;}
.metro_msk {background: url(/tpl/images/metro_icon.png) left 2px no-repeat; padding-left:20px; line-height:18px;}
.metro_spb {background: url(/tpl/images/metro_icon_spb.png) left 2px no-repeat; padding-left:20px; line-height:18px;}

#catalog .rating {float:left; margin-top:5px;margin-left:30px;}
#catalog p {margin-bottom: 4px; margin-top:0px;}
.restoraunt,.restoraunt_end  {width:484px; margin-right:10px; margin-bottom:10px; margin-top:10px;}
.restoraunt_end {margin-right:0px;}
#catalog .small_rating{float:left; margin-top:8px;margin-left:60px;}
.restoraunt .img,.restoraunt_end .img { width: 225px; overflow: hidden}
#catalog .restoraunt .title, #catalog .restoraunt_end .title {float:left; color: #24a6cf; font-size:1.6em; margin-bottom: 10px;}
.restoraunt .new,.restoraunt_end .new { font-family: appetite; float:left; margin-left: 20px; font-size: 1.2em; line-height: 28px;}

#rest_news { position:relative; }
.special_scroll {display:none;}
.special .scroll_arrows {width:116px; line-height:38px; text-align: center}
a.prev { background: url(images/catalog/scroll.png) 0px 0px no-repeat; display: block; width:38px; height:38px; cursor:pointer;}
a.next { background: url(images/catalog/scroll.png) -39px 0px no-repeat; display: block; width:38px; height:38px; cursor:pointer;}
a.prev:hover { background: url(images/catalog/scroll.png) 0px -39px no-repeat; }
a.next:hover { background: url(images/catalog/scroll.png) -39px -39px no-repeat; }

hr.bold { border-bottom:2px solid #1a1a1a; }
hr.black { border-bottom:1px solid #1a1a1a; margin:15px 0px;}
hr.dotted { border-bottom:1px dotted #1a1a1a; margin:20px 0px; margin-right:10px;}
a.another {color:#24a6cf;}
/*a.another:hover {color:#FFF;}*/
a.no_border {text-decoration: none;}
a.no_border:hover {text-decoration: underline;}
a.border {text-decoration: underline}
a.border:hover {text-decoration: none}

a.nav {display: inline-block; height:34px; width:34px; line-height: 34px; text-align:center; font-size:14px; text-decoration: none; }
a.nav:hover {border:1px solid #24a6cf; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; height:32px; width:32px; line-height: 32px;  text-decoration: none}
span.num {border:1px solid #000; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: inline-block; height:32px; width:32px; line-height: 32px; text-align:center; font-size:14px;}

/*==================END_CATALOG_LIST_BLOCK==================*/

/*==================CATALOG_DETAIL========================*/
#order {background:#3b414e; height:115px; width:695px; margin-bottom:15px; padding:10px; font-size:18px; color:#fff; line-height:28px}
#order a {color:#FFF; text-decoration:none; border-bottom:1px dashed #FFF;}
/*#order .time {background: none; border:none; font-size: 1em; color:#FFF; border-bottom:1px dashed #FFF; outline: none; height: 27px;}*/
#order a:hover {color:#FFF; text-decoration:none; border-bottom:1px dashed #FFF;}
#order sub {font-size:16px; line-height:24px;}
#order .right {width:220px; padding-top:5px;}
#order .coupon {border:1px dashed #FFF; border-bottom:0px; border-radius:10px 10px 0px 0px; width:184px; height:57px;margin-top:25px;font-size:1.6em; text-align:center;line-height: 24px;padding-top: 8px; margin-left:18px;}
#order .coupon span {font-size:0.5em}
#order .coupon a {color:#24a6cf; font-size:0.5em; border: 0px; text-decoration: underline}
#order .coupon a:hover {text-decoration: none}
#order .properties {font-size:12px}


#order .phone {line-height:28px;padding-top:10px}
#contacts {/*height:140px;*/}
.catalog_detail { width:978px; margin:0 auto; position:relative; line-height:18px;}
.catalog_detail .detail {width:728px;}
.catalog_detail h1 {color:#1a1a1a; float:left; margin-top:10px;}
/*.catalog_detail .rating {float:left; margin-top:15px;margin-left:30px;}*/
.catalog_detail p {margin-bottom: 4px; margin-top:0px;}
.catalog_detail .special_scroll, .photogalery .special_scroll {display: block; margin-top:10px; width: 397px; overflow: hidden; height:56px;}
.catalog_detail .special_scroll .scroll_container, .photogalery .special_scroll .scroll_container {width:2000em}
.catalog_detail .special_scroll .item, .photogalery .special_scroll .item {float:left; margin-right:18px; width:65px; overflow:hidden; margin-top: 3px; cursor: pointer; height:49px}
.catalog_detail .special_scroll .active, .photogalery .special_scroll .active {border:3px solid #24a6cf; margin-top: 0px; width:59px; height:49px; overflow:hidden}
.catalog_detail .scroll_arrows, .photogalery .scroll_arrows {width:116px; line-height:38px;margin-top:10px; margin-bottom:0px; clear:both}
.photogalery .scroll_container .item img {margin:0px;}
.img {overflow: hidden; width:397px; }
.img2 {overflow: hidden; width:395px; height:298px; border:1px solid #bdbdbd; text-align:center; position:relative}
.img3 {overflow: hidden; width:315px; height:210px; border:1px solid #bdbdbd; text-align:center; position:relative}
.catalog_detail .properties .name {font-weight: bold; background: #FFF;}
.catalog_detail .properties .dotted_td {background: url(images/catalog/properties_dot.png) left 12px repeat-x;}
.catalog_detail .more_properties {background: url(images/city_arrow.png) left center no-repeat; padding-left: 15px; text-align: right; float:left; margin-top:10px;}
.catalog_detail .more_properties_a {background: url(images/city_arrow_a.png) left center no-repeat; padding-left: 15px; text-align: right; float:right; margin-top:10px;}
.preview_text {line-height:20px;}
.preview_text p {text-align:justify}
#reviews .review {width:320px}
#reviews .review .data{color:#CCC;}
#reviews .add_review{border:6px solid #f2f2f2; box-shadow:inset 0px 1px 3px #666; -webkit-box-shadow: inset 0px 1px 3px #666;
                           -moz-box-shadow: inset 0px 1px 3px #666;behavior: url(/tpl/PIE.php); position:relative; width:490px; height:110px; padding:5px;}
#reviews .figure_link { background:url(images/add_block.png) left top no-repeat; padding:4px 0px; height:20px; text-align: center; margin-left:-10px; margin-top:55px; width:203px; }
#reviews .figure_link a { color:#000; font-size: 1.3em; text-decoration: none;}
#reviews .figure_link input { color:#000; font-size: 1.3em; text-decoration: none; background:none;border:none; height: 20px;cursor:pointer;}
#reviews textarea.invalid {border:6px solid #FFC1C1; }

.tabs {margin-bottom:20px;}
.figure_border { text-align:center; width:232px; position: relative; padding-top:21px; padding-bottom:21px; margin:0 auto; margin-top: 20px}
.figure_border .center { border-left:1px solid #000; border-right:1px solid #000; text-align:center; width:229px; position: relative; }
.figure_border .top { background:url(images/top_block.png) left top no-repeat; background-position: 0px 0px; width:232px; height:21px; position:absolute; left:0px; top:0px;}
.figure_border span { font-size: 1.6em; line-height:34px;}
.figure_border .bottom { background:url(images/top_block.png) left top no-repeat; background-position: 0px -30px; width:232px; height:21px; position:absolute; left:0px; bottom:0px;}
.partners {width:232px;}
.partners .site {margin:20px 0px;}
.partners .site a {font-size:2em; color:#24a6cf; letter-spacing: 1px; text-decoration: none}
.same {width:232px;background: #FFF; text-align: center}
.same .resto {border:1px solid #FFF; height:114px; -webkit-border-radius: 58px; -moz-border-radius: 58px; border-radius: 58px; width:114px; margin:0 auto; background: url("images/catalog/rs.jpg") left top no-repeat}
.same  a {font-size: 16px; color:#24a6cf; font-weight: normal; line-height: 24px; margin:10px 0px; text-decoration: none}
.same  a:hover {text-decoration: underline}
.catalog_detail .blog {width: 320px; }

div.in_menu {padding:15px 0px; border-bottom:1px dotted #1a1a1a; width:232px; margin-left:5px; text-align: center}
div.in_menu div.position {-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background:#3b414e; width:50px; height:48px; behavior: url(/tpl/PIE.php); color:#FFF; font-size: 2.6em; text-align: center; padding-top: 2px; margin-right:10px;}
div.in_menu a { color:#24a6cf; text-decoration: none;}
div.in_menu a:hover { color:#24a6cf; text-decoration: underline;}
div.in_menu p {margin-top:5px;}
div.in_menu_end {border-bottom:1px solid #1a1a1a; padding-bottom:20px;}

.rest_news {width:480px; margin-right:18px;}
.rest_news .title {color:#24a6cf; font-size:1.6em; margin-bottom: 10px; line-height:24px;}
.rest_news .data span {font-size:1.4em}

.scrollable_contacts { position:relative; overflow:hidden; height:90px; width:860px; margin-left:20px; margin-right:20px;margin-bottom:30px;}
.scrollable_contacts .items { width:20000em; position:absolute; height:165px}
.scrollable_contacts .items div.item { float:left; margin-left:10px; padding:5px; cursor:pointer;}
.scrollable_contacts .items div.active div.border { background: url(images/rest_news_active.png) left top no-repeat; width:241px; height:165px; position: absolute;}
.scrollable_contacts .items div div.border { background: #fff; width:241px; height:25px; position: absolute; z-index: 1000}
.scrollable_contacts .items div div.title { background: #000; opacity: .8; width:241px; height:40px; position: absolute; bottom:0px; color:#FFF; font-size:1.6em; text-align: center; padding-top:10px;}
div.scroll { margin-top:10px; margin-bottom:10px;}
#contacts a.prev {margin-top:25px;}
#contacts a.next {margin-top:25px;}
#contacts .items .left{margin:0px 50px 0px 10px;}




/*#cuselFrame-order_what {background:none; margin-top:0px; height:24px; margin-right:10px;}
#cuselFrame-order_what .cuselText { height:26px; right:20px; border-bottom: 1px dashed #FFF; padding: 3px 0 0 0px;}
#cuselFrame-order_what .cuselFrameRight{background:url(images/catalog/order_scoll.png) right bottom no-repeat}
#cuselFrame-order_what .cusel-scroll-wrap{z-index:1000; margin-top: 10px; box-shadow: 1px 1px 5px #666; -webkit-box-shadow: 1px 1px 5px  #666;
                           -moz-box-shadow: 1px 1px 5px  #666;behavior: url(/tpl/PIE.php);}
#cuselFrame-order_what span {font-size:14px;line-height:20px; color: #1a1a1a;}

#cuselFrame-order_many {background:none; margin-top:0px; height:24px; margin-right:10px; width:40px!important}
#cuselFrame-order_many .cuselText { height:26px; right:20px; border-bottom: 1px dashed #FFF; padding: 3px 0 0 0px;}
#cuselFrame-order_many .cuselFrameRight{background:url(images/catalog/order_scoll.png) right bottom no-repeat}
#cuselFrame-order_many .cusel-scroll-wrap{z-index:1000; margin-top: 10px; box-shadow: 1px 1px 5px #666; -webkit-box-shadow: 1px 1px 5px #666;
                           -moz-box-shadow: 1px 1px 5px #666;behavior: url(/tpl/PIE.php);}
#cuselFrame-order_many span {font-size:14px;line-height:20px; color: #1a1a1a; text-align: center;}

#order .date {visibility:hidden; width:100px}*/
.caltrigger {position:absolute; top:-3px;left:0px;}
/*==================END_CATALOG_DETAIL========================*/
.cols2 .videonews {float:left; margin-right:25px; width:350px}
.cols2 .videonews span.data{font-size:1.6em; font-style: italic;}
.cols2 a.myPlayer {display:block; width: 350px; height:260px;  text-align:center; margin:0 0 15px 0; border:1px solid #999;}
.new_restoraunt a.myPlayer {display:block; width: 232px; height:127px;  text-align:center; margin:0 0 15px 0; border:1px solid #999;}
.cols3 .videonews {float:left; margin-right:25px; width:308px}
.cols3 .videonews span.data{font-size:1.6em; font-style: italic;}
.cols3 a.myPlayer {display:block; width: 308px; height:230px;  text-align:center; margin:0 0 15px 0; border:1px solid #999;}
.video  a.myPlayer {display:block; width: 720px; height:537px;  text-align:center; margin:0 0 15px 0; border:1px solid #999;}

table td {font-size: 12px;}
#asd_share_buttons {display:none}

/*=============================INTERVIEW======================*/
.interview_name {height:80px; overflow: hidden; padding-bottom:10px;}
.interview_text {height:120px; overflow: hidden; padding-bottom:20px;}
div.border_line {border-top:1px solid #e6e6e6;margin-bottom:40px;margin-top:20px}
/*=============================END_INTERVIEW======================*/

/*=============================SEARCH_ARTICLE======================*/
div#search_article {margin-top:10px; margin-bottom:20px;}
div#search_article .title {font-size: 1.5em; width:230px; margin-bottom:10px}
div#search_article .subscribe_block {border:5px solid #e6e6e6;height:28px; background: #FFF;box-shadow:inset 0px 1px 3px #666; -webkit-box-shadow: inset 0px 1px 3px #666;
                                -moz-box-shadow: inset 0px 1px 3px #666;behavior: url(/tpl/PIE.php); position:relative; margin-top:5px;}
div#search_article .subscribe_block input { border:0px; background:none; height:26px;padding:0px 10px; font-size:1.5em; outline: none; font-style: italic; width:165px}
div#search_article .subscribe_block input.placeholder { color:#cccccc;}
div#search_article input.subscribe {margin-top:9px;}
/*=============================END_SEARCH_ARTICLE======================*/

/*=============================TAGS======================*/
.tags {width:240px; font-style: italic;}
.tags .title {font-size: 1.5em; width: 230px; margin-bottom: 10px;}
/*a.big {font-size:24px; font-style: italic}
a.medium {font-size:18px;  font-style: italic}
a.small {font-size:14px;  font-style: italic}
a.xsmall {font-size:12px;  font-style: italic}*/
/*=============================END_TAGS======================*/

#additional_info_interview { background:#3b414e; color:#FFF;}
#additional_info_interview .block {width:994px; margin:0 auto; padding-left:18px}
#additional_info_interview .block p {color:#FFF}
div.interview_add {width:232px;padding-bottom:20px; padding:20px 0px;padding-right:14px; }
div.interview_add_kupon { width:232px; padding-bottom:20px; padding:20px 0px; background: #1a1a1a; padding-left:8px; padding-right:8px;}

div.kupons .kupon_name {overflow:hidden; margin-bottom:22px; height:80px;}
div.kupons .kupon_name a { font-size: 16px; color:#24a6cf; line-height: 24px; margin:10px 0px; text-decoration: none; display: block}
div.kupons .kupon_name a:hover {text-decoration: underline;}
div.kupons .kupon_image_block {position:relative}
div.kupons .kupon_image {width:232px; height:127px; overflow:hidden; margin-bottom:22px; }
div.kupons .kupon_image img{width:295px;}
div.kupons .grey {color:#b6b5b5; margin-top:16px}
div.kupons .grey span{font-size: 1.2em}
div.kupons .favorites {margin:10px 0px 5px 0px;}
div.kupons .favorites .rating {margin-top:15px;}
div.kupons .price {margin:0px 0px 15px 0px;}
div.kupons .price span {font-size: 1.8em}
span.rouble {font-family: "rouble"}
div.border_line {border-top:1px solid #e6e6e6;margin-bottom:10px; margin-top:10px;}
div.kupon_long_baner {margin:0 auto; margin-bottom:22px;width:960px; overflow:hidden;}
div.kupons .kupon_image .new {background:#9dcf24; line-height:24px; opacity:.9; color:#FFF; font-family: appetite; padding:0px 10px; position:absolute; left:0px; top:12px;} 
#content .sorting {position:absolute; top:0px; left:400px; width:300px;}
#content .sorting span.z {background: url(/tpl/images/sort_arrow_z.png) bottom center no-repeat; display:inline-block; height:40px; line-height: 40px;}
#content .sorting span.a {background: url(/tpl/images/sort_arrow_a.png) top center no-repeat; display:inline-block; height:40px; line-height: 40px;}
#catalog .sort span.z {background: url(/tpl/images/sort_arrow_z.png) bottom center no-repeat; display:inline-block; height:40px; line-height: 40px;}
#catalog .sort span.a {background: url(/tpl/images/sort_arrow_a.png) top center no-repeat; display:inline-block; height:40px; line-height: 40px;}
.read_more {border-bottom:1px dotted #000;padding-bottom:20px; padding-top: 30px;}
.statya_nav {position:absolute; top:0px; right:0px; line-height: 20px; width:280px;}
img.indent {margin-bottom:10px;}
.articles_photo .scroll_arrows {width:116px; text-align: center; line-height:38px; margin-bottom: 10px;}
.articles_photo .img {width:720px; overflow:hidden}
.direct_speech {}
.direct_speech .author {border-radius:75px; width:150px; height:150px; overflow: hidden; margin:20px 0px; behavior: url(/tpl/PIE.php);}
.font16 {font-size:16px; line-height:24px;}
.uppercase {text-transform: uppercase; letter-spacing: 2px}
.line24 {line-height: 24px;}
.statya_section_name{position:relative}
a.white {text-decoration: none; color:#FFF;}
div.staya_likes{background: #f2f2f2; padding:10px 15px;line-height: 26px;}
#comments ul {margin:0px; padding:0px;}
#comments ul li {list-style-type:none; padding-top:20px;}
#comments ul li table{padding-bottom:0px;}
#comments ul ul {margin-left:80px;}
#comments ul ul li {border-top:1px dotted #1a1a1a; border-bottom:none}
#comments .ava { width: 64px; height:64px; overflow:hidden; background:#f2f2f2; border-radius:32px;}
#comments td .name {color:#24a6cf; display:block; margin-bottom:10px;}
#comments td .comment_date {font-size:18px; color:#000;}
#comments td {padding-right:20px;}
#comments .review {width:320px}
#comments .review .data{color:#CCC;}
#comments .add_review{border:6px solid #f2f2f2; box-shadow:inset 0px 1px 3px #666; -webkit-box-shadow: inset 0px 1px 3px #666;
                           -moz-box-shadow: inset 0px 1px 3px #666;behavior: url(/tpl/PIE.php); position:relative; width:490px; height:110px; padding:5px;}
#comments .figure_link { background:url(images/add_block.png) left top no-repeat; padding:4px 0px; height:20px; text-align: center; margin-left:-10px; margin-top:28px; width:203px; }
#comments .figure_link a { color:#000; font-size: 1.3em; text-decoration: none;}
#comments .figure_link input { color:#000; font-size: 1.3em; text-decoration: none; background:none;border:none; height: 20px;cursor:pointer;}
#comments textarea.invalid {border:6px solid #FFC1C1; }
.grey {color:#b6b5b5;}
.grey a {color:#b6b5b5!important;}
.grey a:hover {color:#b6b5b5!important;text-decoration: none!important}
.statya_date {font-size:18px; color:#000;}
.statya_left_arrow {background:url(/tpl/images/post_arrow_left.png) left center no-repeat; padding-left:15px;}
.statya_right_arrow {background:url(/tpl/images/post_arrow_right.png) right center no-repeat; padding-right:15px;}
.interview_answer {}
.interview_answer p {padding-left: 25px; margin-bottom:25px;}

#user_info {width:728px;}
#user_info div.userpic {width:150px; height:150px; border-radius: 75px; overflow:hidden; behavior: url(/tpl/PIE.php); margin-bottom:20px;}
#user_info div.userpic img {margin-left:-5px;}
#user_info .user_params td {font-size:14px;}
#user_info .user_params td.name {width:107px; vertical-align: top}
#user_info .user_params td.value {padding-left:40px; vertical-align: top}
#user_info .scores {/*border:1px dashed #000; border-radius:15px; width:120px; padding:5px; margin:0 auto; line-height:14px*/background:url(/tpl/images/dotted_border.png) left top no-repeat; margin:0 auto; width:130px;}
#user_info .scores span {font-size:24px; line-height: 32px;}
#user_info .subscr {padding:0px;margin:0px;margin-left:52px; margin-bottom:20px;}
#user_info .subscr li{display: inline-block; width:325px; line-height:32px; list-style-type:none}
#user_info .subscr li .del{background:url(/tpl/images/del.png) left center no-repeat; width:17px; height:28px; float:left; padding-right:10px; cursor: pointer;}
#user_info .my_bron th {background: #f2f2f2; height:35px;}
#user_info .actions {padding:0px;margin:0px;}
#user_info .actions li {list-style-type: none; line-height:28px;}
#user_info .actions li.del{background:url(/tpl/images/del.png) left center no-repeat; height:26px;  padding-left:22px; cursor: pointer;}
#user_info .actions li.retry{background:url(/tpl/images/retry.png) left center no-repeat; height:26px; padding-left:22px; cursor: pointer;}
font.notetext { color: #24a6cf!important;}
.datepicker {width:150px!important;}
.filter_text {border:1px solid #e3e3e3; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; behavior: url(/tpl/PIE.php); background:#FFF; line-height:23px; padding:0px 5px; box-shadow:none; font-size:12px; margin-right:15px; outline:none}
#afisha_filter {margin-bottom:10px; position:relative;}
#afisha_filter .date { text-align: left; width:80px; border:1px solid #e3e3e3; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; behavior: url(/tpl/PIE.php); background:#FFF; line-height:22px; padding:0px 5px; box-shadow:none; font-size:12px; outline:none}
.italic{ font-style: italic}
.afisha_arrow_left {background:url(/tpl/images/afisha_arrow_white_left.png) center center no-repeat #3B414E; height:55px; width:45px; cursor:pointer}
.afisha_arrow_right {background:url(/tpl/images/afisha_arrow_white_right.png) center center no-repeat #3B414E; height:55px; width:45px; cursor:pointer}
.afisha_table td {padding:15px 15px 15px 0px; vertical-align: top; }
.afisha_table {width:730px!important;}
.niceRadio {
	width: 18px;
	height: 18px;
	display: inline-block;
	cursor: pointer;
	background: url(/tpl/images/radio.png);
	overflow:hidden;
        background-position: 0 -18px;
        margin-right:10px;
        margin-top:4px;
}
.radioChecked {
	background-position: 0 0px;
}
.niceRadio input {
	margin-left: -17px;
}
.radio_box
{
    margin-bottom:15px;    
}
.menu_menu
{
    list-style-type: none;
    margin:0px;
    padding:0px;
    margin-left:-10px;
}
.menu_menu li
{
    list-style-type: none;
    margin:0px;
    padding:0px;
    line-height:24px;
    width:200px;
    margin-bottom:4px;
    padding-left:10px;
}
.menu_menu li a
{
    text-decoration: underline;
}
.menu_menu li:hover
{
    background:url(/tpl/images/menu_li.png) right top no-repeat #f2f2f2;
}
.menu_menu li.active
{
    background:url(/tpl/images/menu_li.png) right top no-repeat #f2f2f2;
}
#menu_dostavka
{
    position:relative;
}
.bx-core-waitwindow {
    
    position:absolute!important;
    z-index: 99999;
    background-color: #0D0D0D!important;
    background-image:url(/bitrix/templates/main/images/144.gif); 
    background-position:10px center; 
    border: 1px solid #333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.8;
    padding: 10px;
    behavior: url('/tpl/PIE.php');
    line-height: 32px;
    font-family: appetite;
    font-size: 1.4em;
    right:10px;    
    color: white;
    text-indent: 15px;
    width:119px;
    right:10px!important;  
    padding-left:25px;
}
div.black_hr {border-top:1px solid #000; height:1px; margin-bottom:10px;}
div.black_2hr {border-top:2px solid #000; height:1px; margin-bottom:10px;}
div.white_2hr {border-top:2px solid #FFF; height:1px; margin-bottom:10px;}
div.dotted { background:url(/tpl/images/dot.png) left bottom repeat-x; margin:10px 0px; height:1px}
div.dotted2 { background:url(/tpl/images/dot.png) left bottom repeat-x; margin: 0px; height:1px}
div.light_hr {border-top:1px solid #CCC;  margin-bottom:10px; height:1px}
td.light_hr {border-bottom:1px solid #CCC;  padding-top:20px; }
div.white_dotted {background:url(images/dot2.png) left top repeat-x; margin:10px 0px; height:1px}
.dostavka_popup {position: absolute; background: #2D323B; position: absolute; z-index: 10000; opacity: 0.97; behavior: url('/tpl/PIE.php'); width:390px; padding:15px; color:#FFF;}
div.radius64 {border-radius: 32px; height:64px; width:64px; overflow: hidden; margin:0 auto; }
div.dostavka_del{background:url(/tpl/images/del.png) left center no-repeat; width:17px; height:28px; float:left; padding-right:10px; cursor: pointer;}

.baner2
{
    text-align: center;
    background: #FFF;
}
.del { background:url(/tpl/images/del.png) left center no-repeat; height:28px; float:left; padding-right:10px; cursor: pointer; padding-left: 25px; line-height:28px; cursor:default}
.del a { color:#1a1a1a!important; font-style: italic}
.niceCheck 
{
    width: 19px;
    height: 19px;
    display: inline-block;
    cursor: pointer;
    background: url(/tpl/images/checkbox.png) left top no-repeat;
}
.niceCheck input 
{
    display: none;
}
.extended_filter
{
    position:relative;
}
.extended_filter .select_all
{
    position:absolute;
    right:0px;
    top:-42px;
}
.extended_filter .option
{
    line-height:16px;
    padding:0px; 
    width:132px;   
    padding-top:1px;
}
.extended_filter .option2
{
    line-height:16px;
    padding:0px; 
    width:148px;   
    padding-top:1px;
}
.sort_metro
{
    position:absolute;
    left:250px;
    top:-38px;   
}
.avatar { width: 64px; height:64px; overflow:hidden; background:#f2f2f2; border-radius:32px;}
.avatar_small {border-radius: 24px; height: 46px; width: 46px; overflow: hidden; margin: 0 auto; }
.avatar_small img {margin-left:-10px;}
.big_avatar {width: 150px; height: 150px;  border-radius: 75px;
            overflow: hidden;
            behavior: url('/tpl/PIE.php');
            margin-bottom: 20px;
}
.sms_text {font-family: "appetite"; font-size:12px; color:#000; line-height:12px; text-align:right}
.sms_text span { font-size:24px}
.sms_phone {font-family: "appetite"; font-size:26px; color:#24a6cf}
.image_overflow {width:234px; height:129px; overflow:hidden;}
.map_ballon {position:absolute; z-index:99999; color:#FFF; cursor:pointer;}
.map_ballon a {text-decoration: none; border: none;}
.map_ballon .balloon_content { background: #3B414E;padding:10px; z-index:99999; color:#FFF; cursor:pointer;}
.map_ballon .balloon_tail { background: url(/tpl/images/map/g_c.png) center top no-repeat; height:24px;}
.map_ballon:hover {z-index:100000}
.map_ballon:hover .balloon_content { background: #24A6CF;padding:10px; z-index:99999; color:#FFF;}
.map_ballon:hover .balloon_tail { background: url(/tpl/images/map/b_c.png) center top no-repeat; height:24px;}
#how_much {font-family: "appetite"; font-size:24px; color:#fff; line-height:24px;}
#how_much span {font-family: "appetite"; font-size:70px; color:#fff; line-height:60px;}



/*FOR USER PROFILE*/
div.menu-horizontal-long {height:26px; width:975px; background:#3b414e; margin-bottom:20px}
div.menu-horizontal-long ul {position:relative; margin:0px 6px 24px 6px; padding:0px;
        font: 12px Georgia;
        text-align: justify;
        line-height: 0;
        text-justify: newspaper;
        zoom:1;
        text-align-last: justify;	
}
div.menu-horizontal-long ul:after {
        width: 100%; 
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;

}
div.menu-horizontal-long ul li  {
        position:relative;
        height:26px;
        display: inline-block;
        text-align: left;
        line-height: normal;		
        font-size: 12px;
        vertical-align: top; 
        /*display : inline;
        zoom : 1;*/
        padding:0 6px;
}
div.menu-horizontal-long li:hover  {background:#24a6cf;}
div.menu-horizontal-long li:hover em {background:url(/tpl/images/user/menu-arrow-blue.png) #fff no-repeat 0 50%;}
div.menu-horizontal-long li.active  {background:#24a6cf;}
div.menu-horizontal-long a {color:#fff; text-decoration:none; position:relative; top:5px;}
div.menu-horizontal-long em {background:url(/tpl/images/user/menu-arrow-white.png) #fff no-repeat 0 50%; color:#3b414e; text-transform:uppercase; font:9px Georgia; height:10px; position:relative; top:5px; padding:2px 4px 2px 7px; margin-left:-1px;}
div.menu-horizontal-long strong {position:relative; top:-1px;}
div.menu-horizontal-long li.active  em {background:url(/tpl/images/user/menu-arrow-blue.png) #fff no-repeat 0 50%;}

ul.left_menu_tabs {padding:0px;margin:0px;}
ul.left_menu_tabs li {padding:0px;margin:0px; list-style-type: none}
ul.left_menu_tabs li a { color:#24A6CF; font-size:14px; text-decoration:none }
ul.left_menu_tabs li a:hover { color:#000;}
.scores {background:url(/tpl/images/dotted_border.png) left top no-repeat; margin:0 auto; width:130px;padding-top:10px; height:80px;}
.scores span {font-size:24px;}
.user-mail {
    line-height:28px;
    background: url('/bitrix_personal/templates/main/components/bitrix/socialnetwork.user_friends/user_friends_list/images/user-friend-mail.gif') 0 3px no-repeat;
}
.user-mail a {
    color: #1A1A1A!important;
    text-decoration: underline;
    margin-left: 24px;
    font: 12px Georgia, "Times New Roman", Times, serif;
}

/*MODAL VK FACEBOOK*/
.modal_vk {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
    z-index: 10000;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}


.modal_vk h2 {
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
}

.error {
	/* supply height to ensure consistent positioning for every browser */
	height:15px;
	background-color:#FFFE36;
	border:1px solid #E1E16D;
	font-size:11px;
	color:#000;
	padding:3px 10px;
	margin-left:-2px;
    z-index: 10000;
    white-space: nowrap;


	/* CSS3 spicing for mozilla and webkit */
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;

	-moz-box-shadow:0 0 6px #ddd;
	-webkit-box-shadow:0 0 6px #ddd;
}

.error p {
    margin: 0;
    padding: 0;
}
div.fb_login_button {
    background: url(images/facebook_login.png) no-repeat;
    width: 114px;
    height: 22px;
    cursor: pointer;
}

.modal_fb {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
    z-index: 10000;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}


.modal_fb h2 {
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
}
.popup_modal
{
    background: #2D323B!important;
    background-color: #2D323B!important;
    position: fixed!important;
}
/*.popup_modal
{
    background-color: #2D323B;
    position: relative!important;
    z-index: 10000;
    opacity: 0.97;
    display:none;
    width:300px;
    min-height:100px;
    font-size:14px;
    box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
}*/
.popup_modal .question
{
    line-height:32px;
}
.popup_modal .center
{
    text-align:center;
    color:#24A6CF;
}
.popup_modal ul
{
    margin:10px 15px;
}
.popup_modal ul li
{
    list-style-type: disc;
    margin-left:20px;
}
#system_overflow
{
    background:url(/tpl/images/popup_bg.png) left top;
    opacity:.97;
    display:none;
    height:100%;
    width:100%;
    position:absolute;
    left:0px;
    top:0px;
    z-index:9999;
    behavior: url(/bitrix/templates/main/PIE.htc);
    filter: alpha(opacity=50);
}
.grey_block
{
    background:#f2f2f2;
    padding:20px;
}
.black_block
{
    background:#3b414e;
    position:relative;
}

.black_block td
{
    text-align:center;
    vertical-align: middle;
    height:60px;
    padding:0px 10px;
}
.black_block td.active
{
    background:#f2f2f2;
}
.black_block td.new
{
    background:url(/tpl/images/new_icon.png) 95% center no-repeat;
    padding-right:30px;
}
.black_block td.new_active
{
    background:url(/tpl/images/new_icon.png) 95% center no-repeat #f2f2f2;
    padding-right:30px;
}
.black_block td a
{
    font-size:16px;
    color:#24A6CF;
    border-bottom:1px dashed #24A6CF;
    text-decoration: none;
}
.black_block td a:hover
{
    font-size:16px;
    color:#24A6CF;
    border-bottom:none;
    text-decoration: none;
}
.vsp
{
    display:none;
    position:absolute;
    left:0px;
    top:60px;
    width:938px;
    height:auto;
    opacity:.97;
    behavior: url('/tpl/PIE.php');
    z-index: 9999;
}

.big_modal
{
    position:fixed;
    display:none;
    width:0px;
    height:0px;
    box-shadow: 0px 0px 20px #000;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    behavior: url(/tpl/PIE.php);
    left:0px;
    top:0px;
    z-index:100000;
    overflow:hidden;
    background:#FFF;
}
.modal_close {
    background: url(/tpl/images/close.png) left top no-repeat;
    width:11px;
    height:11px;
    display:block;
    margin-bottom:10px;
}
.article_rest
{
    width:155px;
}
.article_rest_text
{
    width:555px;
}
.errortext {color:#1a1a1a;}
#content #my_bron td {background:url(/tpl/images/border-1px.gif) 0 100% repeat-x;}
.payment .el {background: url(/tpl/images/payment/el.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .el:hover {background: url(/tpl/images/payment/el_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .el {background: url(/tpl/images/payment/el_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .sms {background: url(/tpl/images/payment/sms.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .sms:hover {background: url(/tpl/images/payment/sms_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .sms {background: url(/tpl/images/payment/sms_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .bk {background: url(/tpl/images/payment/bk.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .bk:hover {background: url(/tpl/images/payment/bk_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .bk {background: url(/tpl/images/payment/bk_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .alfa {background: url(/tpl/images/payment/alfa.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .alfa:hover {background: url(/tpl/images/payment/alfa_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .alfa {background: url(/tpl/images/payment/alfa_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .ball {background: url(/tpl/images/payment/ball.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .ball:hover {background: url(/tpl/images/payment/ball_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .ball {background: url(/tpl/images/payment/ball_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.write_message
{
    position: absolute;
    right:0px;
    top:0px;
}
#restorator_menu
{
    padding:0px;
    margin:0px;
    height:40px;
}
#restorator_menu li
{
    display: inline;
    margin-right:30px;
}
#restorator_menu li.active a
{
    color:#000;
    text-decoration: none;
    font-size:16px;
}
#restorator_menu li a
{
    color:#24A6CF;
    text-decoration: none;
    font-size:16px;
}
.big-bg-premium {
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    top: 0px;
    font: 240px/240px Georgia;
    height: 240px;
    color: 
    #3E4452;
    z-index: 0;
}
.toptop_menu ul li {
    padding: 0px;
    margin: 0px;
    margin-right: 25px;
    float: left;
    list-style-type: none;
    line-height: 26px;
}
div#main_menu {
    border-top: 1px solid black;
    border-bottom: 3px solid black;
    margin-bottom: 10px;
    margin-top: -10px;
}

#bron_round .appetite_bron_15
{
    
    opacity:1;
}