.popup_modal_white
{
    background-color: #FFF;
    color:#000;
    position: fixed;
}
.popup_modal_white .question {
    color: #000;
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
}
.popup_modal_white .modal_close
{
    background:none;
    color:#1a1a1a;
    font-style: italic;
    height:auto;
    width:auto;    
}
.popup_modal_white .modal_close:hover
{
    color:#24a6cf;
}

