.ac_results{padding:0px;border:1px
solid #CCC;background-color:white;overflow:hidden;z-index:99999;padding:3px
0px;width:568px!important}.ac_results
ul{width:100%;list-style-position:outside;list-style:none;padding:0;margin:0}.ac_results
li{margin:0px;padding:5px
5px;cursor:pointer;display:block;font-size:12px;line-height:16px;overflow:hidden}.ac_loading{background:white url('/tpl/images/indicator.gif') right center no-repeat}.ac_odd{}.ac_over{background-color:#24a6cf;color:white}.cusel,.cuselFrameRight,.jScrollPaneDrag,.jScrollArrowUp,.jScrollArrowDown{background:url(/bitrix/templates/main/images/selects-2.png) no-repeat;outline:none}.cusel{height:26px;background-position:left top;display:inline-block;position:relative;cursor:pointer;font-size:14px;z-index:1 !important;}.cuselFrameRight{position:absolute;z-index:2;top:0;right:0;height:100%;width:24px;background-position:right top}.cuselText{height:14px;padding:6px
0 0 7px;cursor:pointer;overflow:hidden;position:relative;z-index:1;font-size:12px;position:absolute;top:0;right:33px}* html
.cuselText{height:22px}.cusel
span{display:block;cursor:pointer;white-space:nowrap;padding:2px
15px 2px 5px;zoom:1;line-height:20px}.cusel span:hover,
.cusel
.cuselOptHover{background:#24a6cf;color:#fff}.cusel
.cuselActive{background:#3B414E;color:#fff;cursor:default}.cusel:hover,
.cusel:hover .cuselFrameRight,
.cusel:focus,
.cusel:focus .cuselFrameRight,
.cuselFocus,
.cuselFocus
.cuselFrameRight{}.cuselOpen{z-index:9999999}.classDisCusel,
.classDisCusel
.cuselFrameRight{cursor:default;color:#ccc}.classDisCusel
.cuselText{cursor:default}.cusel .cusel-scroll-wrap{display:block;visibility:hidden;position:absolute;left:0;top:100%;background:#fff;min-width:100%;width:auto;z-index:9999999}.cusel
.jScrollPaneContainer{position:relative;overflow:hidden;z-index:5;border:1px
solid #999;box-shadow:3px 3px 10px #000;-webkit-box-shadow:3px 3px 10px #000;-moz-box-shadow:3px 3px 10px #000;background:#FFF;behavior:url(/bitrix/templates/main/PIE.htc);z-index:9999999}.cusel
.jScrollPaneTrack{height:100%;width:7px !important;background:#fff;position:absolute;top:0;right:4px;width:0px !important}.cusel
.jScrollPaneDrag{position:absolute;background-position:-40px -26px;cursor:pointer;width:15px !important;height:27px !important;right:-4px;display:none}.cusel
.jScrollPaneDragTop{position:absolute;top:0;left:0;overflow:hidden}.cusel
.jScrollPaneDragBottom{position:absolute;bottom:0;left:0;overflow:hidden}.cusel
.jScrollArrowUp{position:absolute;top:0;right:2px;width:26px;height:12px;cursor:pointer;background-position:-2px -26px;overflow:hidden}.cusel
.jScrollArrowDown{width:25px;height:12px;position:absolute;top:auto;bottom:0;right:3px;cursor:pointer;background-position:-21px -26px;overflow:hidden}#cuselFrame-by_name{width:160px !important;z-index:9999 !important;right:0px;z-index:100000;position:relative;margin-top:9px;background:none;border-right:1px solid #ddd;height:24px}#cuselFrame-by_name .cusel-scroll-wrap{background:none}#cuselFrame-by_name
.cuselText{text-transform:uppercase;font-size:12px;font-weight:bold;right:32px}#cuselFrame-by_name .cuselText:hover{text-shadow:1px 1px #ddd}#cuselFrame-by_name
.cuselFrameRight{background-position:right -2px}#cusel-scroll-by_name{width:160px !important;padding-right:0px !important}#cusel-scroll-by_name
span{font-size:12px;text-transform:uppercase;font-weight:bold;text-align:left;line-height:24px;display:block;cursor:pointer;white-space:nowrap;padding:2px
15px 2px 20px;zoom:1;line-height:20px}#cuselFrame-by_name
.jScrollPaneContainer{box-shadow:0px 0px 5px black;-webkit-box-shadow:0px 0px 5px black;-moz-box-shadow:0px 0px 5px #000;margin-top:10px}#cuselFrame-search_in{width:155px !important;z-index:9999 !important;right:0px;z-index:100000;position:relative}#cusel-scroll-search_in{width:155px !important;padding-right:0px !important}#cuselFrame-type{width:145px !important;z-index:9999 !important}#cusel-scroll-type{width:145px !important;padding-right:0px !important}#cuselFrame-type{border:1px
solid #e3e3e3;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior:url(/bitrix/templates/main/css/PIE.htc);background:#FFF;box-shadow:none;font-size:12px;margin-right:20px;height:22px;padding:0px;text-align:left}#cuselFrame-type
.cuselText{padding:0px
5px;line-height:23px;height:22px;right:none;left:0px}#cuselFrame-type
.cuselFrameRight{background-position:right -2px;right:-4px}.cuselMultipleContent,
.cuselMultipleTop,
.cuselMultipleBottom,
.cuselMultiple .jScrollPaneDrag,
.cuselMultiple .jScrollArrowUp,
.cuselMultiple
.jScrollArrowDown{font-family:georgia}#cuselFrame-multi3,#cuselFrame-multi1,#cuselFrame-multi11,#cuselFrame-multi21,#cuselFrame-multi6,#cuselFrame-multi7{width:345px}#cuselFrame-multi2{width:345px}#cuselFrame-multi12{width:296px}#cuselFrame-multi4,#cuselFrame-multi4
.jScrollPaneContainer{width:784px!important}#cuselFrame-multi5,#cuselFrame-multi5
.jScrollPaneContainer{width:560px!important}#cuselMultiple-scroll-multi3 span, #cuselMultiple-scroll-multi1 span, #cuselMultiple-scroll-multi4 span , #cuselMultiple-scroll-multi2 span, #cuselMultiple-scroll-multi11 span, #cuselMultiple-scroll-multi21 span, #cuselMultiple-scroll-multi6 span,#cuselMultiple-scroll-multi7
span{float:left;margin-right:20px;width:143px;line-height:24px}#cuselMultiple-scroll-multi12
span{float:left;margin-right:20px;width:126px;line-height:24px}#cuselMultiple-scroll-multi4
span{width:240px}#cuselMultiple-scroll-multi5
span{width:136px;display:block;cursor:pointer;white-space:nowrap;zoom:1;overflow:hidden;height:24px;color:#1a1a1a;float:left}#cuselMultiple-scroll-multi5
span.cuselMultipleActive{color:#24a6cf}#cuselMultiple-scroll-multi3, #cuselMultiple-scroll-multi1, #cuselMultiple-scroll-multi3 .jScrollPaneContainer, #cuselMultiple-scroll-multi1 .jScrollPaneContainer, #cuselMultiple-scroll-multi11 .jScrollPaneContainer, #cuselMultiple-scroll-multi21 .jScrollPaneContainer, #cuselMultiple-scroll-multi6,#cuselMultiple-scroll-multi7,#cuselFrame-multi6 .jScrollPaneContainer,#cuselFrame-multi6
.jScrollPaneContainer{width:345px}#cuselMultiple-scroll-multi2, #cuselMultiple-scroll-multi2
.jScrollPaneContainer{width:345px}#cuselMultiple-scroll-multi4, #cuselMultiple-scroll-multi4
.jScrollPaneContainer{width:830px!important}.cuselMultiple{display:inline-block;font-size:12px;position:relative;outline:none}.cuselMultipleContent{background-position:-200px 0;background-repeat:repeat-y;overflow:hidden;padding:2px
0px}.cuselMultipleTop{height:4px;width:100%;position:absolute;top:0;left:0;z-index:2;overflow:hidden}.cuselMultipleBottom{height:4px;width:100%;position:absolute;bottom:0;left:0;background-position:0 -5px;z-index:2;overflow:hidden}.cuselMultiple
span{display:block;cursor:pointer;white-space:nowrap;zoom:1;overflow:hidden;height:24px;color:#FFF}.cuselMultiple span:hover,
.cuselMultiple
.cuselMultipleOptHover{}.cuselMultiple
.cuselMultipleActive{color:#24a6cf}.cuselMultiple
.cuselMultipleCur{}.cuselMultiple:hover .cuselMultipleContent,
.cuselMultiple:focus .cuselMultipleContent,
.cuselMultiple:hover .cuselMultipleTop,
.cuselMultiple:focus .cuselMultipleTop,
.cuselMultiple:hover .cuselMultipleBottom,
.cuselMultiple:focus
.cuselMultipleBottom{}.cuselMultiple-scroll-wrap{display:block;overflow:hidden}.cuselMultiple
.jScrollPaneContainer{position:relative;overflow:hidden;z-index:5}.cuselMultiple
.jScrollPaneTrack{height:100%;width:2px !important;background:#1a1a1a;position:absolute;top:0;right:5px}#cuselFrame-multi5
.jScrollPaneDrag{background:#1a1a1a}.cuselMultiple
.jScrollPaneDrag{position:absolute;cursor:pointer;width:10px !important;height:65px !important;right:-4px;background:#24a6cf}.cuselMultiple
.jScrollPaneDragTop{position:absolute;top:0;left:0;overflow:hidden}.cuselMultiple
.jScrollPaneDragBottom{position:absolute;bottom:0;left:0;overflow:hidden}.cuselMultiple
.jScrollArrowUp{position:absolute;top:0;right:2px;width:26px;height:12px;cursor:pointer;background-position:-2px -12px;overflow:hidden}.cuselMultiple
.jScrollArrowDown{width:25px;height:12px;position:absolute;top:auto;bottom:0;right:3px;cursor:pointer;background-position:-21px -12px;overflow:hidden}.cuselMultiple.classDisCusel,
.cuselMultiple.classDisCusel
span{cursor:default;color:#ccc !important}.cuselMultiple.classDisCusel .cuselMultipleContent,
.cuselMultiple.classDisCusel .cuselMultipleTop,
.cuselMultiple.classDisCusel .cuselMultipleBottom,
.cuselMultiple.classDisCusel .jScrollArrowUp,
.cuselMultiple.classDisCusel .jScrollArrowDown,
.cuselMultiple.classDisCusel
.jScrollPaneDrag{cursor:default}.cuselMultiple.classDisCusel span:hover{background:#fff}.cuselMultiple.classDisCusel
.cuselMultipleActive{background:#666 !important}*:first-child+html .cuselMultiple,
*:first-child+html
label{float:left;zoom:1;height:auto}*:first-child+html
.lineForm{clear:both}*:first-child+html
.cuselMultipleContent{float:left;width:100%}html,body{margin:0;padding:0;height:100%;min-height:100%}
@media only screen and (max-device-width: 1023px) and (orientation: landscape) {body {width: 1024px;}}
@media screen and (max-width: 980px) and (orientation: portrait) {body {width: 1010px;}}
body{font-family:"Georgia";font-size:12px;color:#272727}@font-face{font-family:'appetite';src:url('/tpl/fonts/appetite-italic-webfont.eot');src:url('/tpl/fonts/appetite-italic-webfont.eot?#iefix') format('embedded-opentype'),
url('/tpl/fonts/appetite-italic-webfont.woff') format('woff'),
url('/tpl/fonts/appetite-italic-webfont.ttf') format('truetype'),
url('/tpl/fonts/appetite-italic-webfont.svg#appetite') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'appetite_n';src:url('/tpl/fonts/appetite-webfont.eot');src:url('/tpl/fonts/appetite-webfont.eot?#iefix') format('embedded-opentype'),
url('/tpl/fonts/appetite-webfont.woff') format('woff'),
url('/tpl/fonts/appetite-webfont.ttf') format('truetype'),
url('/tpl/fonts/appetite-webfont.svg#appetite_n') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'rouble';src:url('/tpl/fonts/rouble-webfont.eot');src:url('/tpl/fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
url('/tpl/fonts/rouble-webfont.woff') format('woff'),
url('/tpl/fonts/rouble-webfont.ttf') format('truetype'),
url('/tpl/fonts/rouble-webfont.svg#rouble') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'tenge';src:url('/tpl/fonts/tenge-webfont.eot');src:url('/tpl/fonts/tenge-webfont.eot?#iefix') format('embedded-opentype'),
url('/tpl/fonts/tenge-webfont.woff') format('woff'),
url('/tpl/fonts/tenge-webfont.ttf') format('truetype'),
url('/tpl/fonts/tenge-webfont.svg#tengeregular') format('svg');font-weight:normal;font-style:normal}a{color:#1a1a1a;text-decoration:underline;font-size:1em;cursor:pointer}a:hover{color:#24a6cf;text-decoration:none}a.js{border-bottom:1px dashed #1a1a1a;text-decoration:none}a.js:hover{border-bottom:1px dashed #24a6cf;text-decoration:none}a.jsanother{border-bottom:1px dashed #24a6cf;text-decoration:none;color:#24a6cf}a.jsanother:hover{border-bottom:1px dashed #1a1a1a;text-decoration:none;color:#1a1a1a}a.uppercase{color:#1a1a1a;letter-spacing:1px;text-decoration:none}a.uppercase:hover{color:#24a6cf;text-decoration:none}a.active{color:#24a6cf}.font12{color:#1a1a1a;font-size:12px!important;line-height:18px}.font14{color:#1a1a1a;font-size:14px;line-height:20px}.font18{color:#1a1a1a;font-size:18px;line-height:27px}.font16{color:#1a1a1a;font-size:16px;line-height:24px}.font24{color:#1a1a1a;font-size:24px;line-height:27px}.another_color{color:#24a6cf}.blue_border{border-color:#24a6cf}.add_block_blue{background:url(/tpl/images/add_block_blue.png) left top no-repeat;padding:0px;font-size:14px;line-height:26px;height:26px;text-align:center;display:block;width:165px;text-decoration:none;padding-left:2px}.add_block_blue:hover{text-decoration:none;border:none}.add_block_blue:hover
span{color:#24A6CF}.shadow_bron1{background:url(/tpl/images/buttons/button_bg_bron1_shadow.png) bottom center no-repeat;padding-left:10px;float:left;height:42px;overflow:hidden;margin-bottom:5px}.shadow_bron2{background:url(/tpl/images/buttons/button_bg_bron2_shadow.png) bottom center no-repeat;padding-left:10px;float:left;height:42px;overflow:hidden;margin-bottom:5px}a.bron_button_gradient1,a.bron_button_gradient2{width:120px;text-align:center;height:41px;color:#FFF;border:0px;cursor:pointer;font-family:appetite;font-size:14px;margin:0px;text-decoration:none;display:block;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;behavior:url(/tpl/PIE.php);padding-top:4px;position:relative}a.bron_button_gradient1{background:#696f7b;background:-moz-linear-gradient(top,  #696f7b 0%, #30353f 60%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#696f7b), color-stop(60%,#30353f));background:-webkit-linear-gradient(top,  #696f7b 0%,#30353f 60%);background:-o-linear-gradient(top,  #696f7b 0%,#30353f 60%);background:-ms-linear-gradient(top,  #696f7b 0%,#30353f 60%);background:linear-gradient(to bottom,  #696f7b 0%,#30353f 60%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#696f7b', endColorstr='#30353f',GradientType=0 );border:1px
solid #8a8f99;border-bottom:1px solid #30353f;text-shadow:1px 1px 1px #314152}a.bron_button_gradient1:hover{background:#696f7b;background:-moz-linear-gradient(top,  #696f7b 0%, #30353f 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#696f7b), color-stop(100%,#30353f));background:-webkit-linear-gradient(top,  #696f7b 0%,#30353f 100%);background:-o-linear-gradient(top,  #696f7b 0%,#30353f 100%);background:-ms-linear-gradient(top,  #696f7b 0%,#30353f 100%);background:linear-gradient(to bottom,  #696f7b 0%,#30353f 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#696f7b', endColorstr='#30353f',GradientType=0 )}a.bron_button_gradient2{background:#50c3df;background:-moz-linear-gradient(top,  #50c3df 0%, #1d96c6 60%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#50c3df), color-stop(60%,#1d96c6));background:-webkit-linear-gradient(top,  #50c3df 0%,#1d96c6 60%);background:-o-linear-gradient(top,  #50c3df 0%,#1d96c6 60%);background:-ms-linear-gradient(top,  #50c3df 0%,#1d96c6 60%);background:linear-gradient(to bottom,  #50c3df 0%,#1d96c6 60%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#50c3df', endColorstr='#1d96c6',GradientType=0 );border:1px
solid #83d6e9;border-bottom:1px solid #1d96c6;text-shadow:1px 1px 1px #12739a}a.bron_button_gradient2:hover{background:#50c3df;background:-moz-linear-gradient(top,  #50c3df 0%, #1d96c6 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#50c3df), color-stop(100%,#1d96c6));background:-webkit-linear-gradient(top,  #50c3df 0%,#1d96c6 100%);background:-o-linear-gradient(top,  #50c3df 0%,#1d96c6 100%);background:-ms-linear-gradient(top,  #50c3df 0%,#1d96c6 100%);background:linear-gradient(to bottom,  #50c3df 0%,#1d96c6 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#50c3df', endColorstr='#1d96c6',GradientType=0 )}.banket_shadow{background:url(/tpl/images/banket_shadow.png) bottom center no-repeat;float:left;padding-left:10px;height:54px}.stolik_shadow{background:url(/tpl/images/stolik_shadow.png) bottom center no-repeat;float:left;padding-left:10px;height:54px}a.bron_button1{width:116px;text-align:center;background:url(/tpl/images/buttons/button_zakaz_bg.png) 0px 0px no-repeat;line-height:29px;height:30px;color:#FFF;border:0px;cursor:pointer;font-family:appetite;font-size:13px;margin:0px;text-decoration:none;display:block;margin-top:1px}a.bron_button1:hover{background:url(/tpl/images/buttons/button_zakaz_bg2.png) 0px 0px no-repeat}a.bron_button1:active{background:url(/tpl/images/buttons/button_zakaz_bg.png) 0px 0px no-repeat;margin-top:1px}a.bron_button2{width:154px;height:30px;text-align:center;background:url(/tpl/images/buttons/button_bron_bg.png) 0px 0px no-repeat;line-height:29px;color:#FFF;border:0px;cursor:pointer;font-family:appetite;font-size:13px;margin:0px;text-decoration:none;display:block}a.bron_button2:hover{background:url(/tpl/images/buttons/button_bron_bg2.png) 0px 0px no-repeat}a.bron_button2:active{background:url(/tpl/images/buttons/button_bron_bg.png) 0px 0px no-repeat;margin-top:1px}input.button{height:28px;-webkit-appearance: none;text-align:center;background:#3b414e;padding:0px
20px;line-height:28px;letter-spacing:2px;color:#FFF;border:0px;text-transform:uppercase;cursor:pointer}input.button:hover{background:#24a6cf;color:#FFF}input.button:active{background:#3b414e;color:#24a6cf}input.light_button{height:22px;-webkit-appearance: none;text-align:center;background:#24a6cf;padding:0px
10px;line-height:22px;letter-spacing:1px;color:#FFF;border:0px;text-transform:uppercase;cursor:pointer;font-size:11px;position:relative}input.light_button:hover{background:#000;color:#FFF}input.light_button:active{background:#24a6cf;color:#FFF}input.grey_button{height:19px;-webkit-appearance: none;text-align:center;background:#f2f2f2;padding:0px
20px;line-height:20px;letter-spacing:1px;color:#373737;border:0px;text-transform:uppercase;cursor:pointer;font-size:11px;position:relative}input.grey_button:hover{background:#24a6cf;color:#FFF}input.grey_button:active{background:#000;color:#FFF}input.dark_button{height:22px;text-align:center;background:#000;padding:0px
10px;line-height:22px;letter-spacing:1px;color:#FFF;border:0px;text-transform:uppercase;cursor:pointer;font-size:11px}input.dark_button:hover{background:#3b414e;color:#FFF}input.dark_button:active{background:#24a6cf;color:#FFF}input.light{height:24px;text-align:center;background:#24a6cf;padding:0px
10px;line-height:24px;color:#FFF;border:0px;cursor:pointer;font-size:12px;position:relative;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;behavior:url(/tpl/PIE.php)}input.light:hover{background:#000;color:#FFF}input.light:active{background:#24a6cf;color:#FFF}input.greyb{height:24px;text-align:center;background:#f2f2f2;padding:0px
10px;line-height:24px;color:#1a1a1a;border:0px;cursor:pointer;font-size:12px;position:relative;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;behavior:url(/tpl/PIE.php)}input.greyb:hover{background:#000;color:#FFF}input.greyb:active{background:#24a6cf;color:#FFF}p{line-height:20px;margin-top:0px;padding-top:0px}small{color:#848484;font-style:italic}img{border:0px}img.border{border:1px
solid #bdbdbd}div.imgborder{border:1px
solid #bdbdbd;overflow:hidden;margin-bottom:10px}input{font-family:"Georgia"}hr{border:none;border-bottom:1px solid #cacaca;margin-top:20px}h1{font-size:28px;margin:0px;padding:0px;margin-bottom:20px;font-weight:normal;color:#1a1a1a;line-height:36px}h2{font-size:2em;color:#1a1a1a;font-weight:normal;line-height:28px}h3{font-size:16px;color:#24a6cf;font-weight:normal;line-height:24px;margin:10px
0px}h4{font-size:14px;margin:0px;padding:0px;color:#1a1a1a;line-height:18px;font-weight:normal;text-transform:uppercase;letter-spacing:1px}h5{font-size:18px;font-weight:normal;margin:0px;padding:0px;line-height:24px;margin-bottom:10px}.clear{clear:both}div#container{margin:0
auto;height:auto !important;height:100%;_height:100%;min-height:100%;z-index:1;position:relative}.left{float:left}.right{float:right}div.baner{margin-bottom:20px;text-align:center}div#header{padding:20px
0px}.appetite{font-family:appetite;line-height:14px}div#logo{margin-top:0px;margin-right:30px}div.city_select{width:135px}ul.header_menu{padding:0px;margin:0px;margin-bottom:13px;height:14px}ul.header_menu
li{float:left;margin-right:30px;list-style-type:none}ul.header_menu li
a{text-decoration:none;text-transform:uppercase;letter-spacing:1px;font-size:11px}ul.header_menu li.active
a{color:#24A6CF}ul.header_menu li a:hover{text-decoration:none}ul.city_select{padding:0px;margin:0px}ul.city_select
li{float:left;list-style-type:none;padding:2px
0px;background:url(/tpl/images/city_arrow.png) right center no-repeat;padding-right:15px}ul.city_select
li.active{background:#24a6cf}ul.city_select li
a{text-decoration:none;border-bottom:1px dotted #24a6cf}ul.city_select li.active
a{color:#FFF;text-decoration:none}ul.language_select{padding:0px;margin:0px;margin-bottom:13px;height:18px}ul.language_select
li{float:left;list-style-type:none;padding:2px
5px;color:#FFF}ul.language_select
li.active{background:#24a6cf}ul.language_select li.active
a{color:#FFF;text-decoration:none}div.top_middle_menu{margin-right:45px}div.top_middle_menu
ul{float:left;padding:0px;margin:0px;margin-left:0px}div.top_middle_menu
ul.small{}div.top_middle_menu
ul.small2{}div.top_middle_menu
div.radius{border-radius:24px;height:46px;width:46px;overflow:hidden;margin:0
auto;margin-top:-22px;behavior:url(/tpl/PIE.htc)}div.top_middle_menu div.radius
a{width:46px;height:46px;display:block}div.top_middle_menu
.unread{position:absolute;display:block;width:16px;height:16px;border-radius:8px;text-align:center;line-height:16px;color:#fff;background-color:#24A6CF;left:0px;top:0px;font-family:Arial;font-size:11px}div.top_middle_menu ul
li{list-style-type:none;line-height:24px;padding-bottom:4px;position:relative}div.top_middle_menu ul li
a{text-decoration:underline}div.top_middle_menu ul
li.big{padding-bottom:5px;line-height:21px}div.top_middle_menu ul li.big
a{font-size:16px;color:#24a6cf}.toptop_menu
ul{padding:0px;margin:0px}.toptop_menu ul
li{padding:0px;margin:0px;margin-right:25px;float:left;list-style-type:none;line-height:26px}.toptop_menu ul li
a{font-style:italic;text-decoration:underline}.toptop_menu ul li.active
a{font-style:italic;color:#24A6CF}.toptop_menu ul li a:hover{text-decoration:none}.toptop_menu{}div.phone_block{background:url(/tpl/images/phone_block.png) left top no-repeat;height:58px;width:94px;margin-top:-8px;color:#fff;padding:17px
0px;text-align:center;margin-left:0px;font-family:appetite;font-size:12px;line-height:14px}div.phones{/*background:url(/tpl/images/phone_min.png) left top no-repeat;*/ line-height:24px;font-size:24px;font-family:appetite;margin-top:-4px}div.phones
span{font-size:16px; padding-left:20px}div.phones
a{text-decoration:none;cursor:default;color:#272727}div.phones a:hover{color:#272727}div#call_me
a{font-family:appetite;font-size:14px;color:#24a6cf;text-decoration:none;border-bottom:1px dotted #24a6cf}div#call_me a:hover{font-family:appetite;font-size:14px;color:#24a6cf;text-decoration:none;border-bottom:none}div#header, div#content, div#news, div#filter .filter,div.scroll,.footer_content,#block960{width:980px;margin:0
auto;position:relative}div#filter_bg{background:url(/tpl/images/filter_bg.png) left top repeat-x;padding-top:15px}div#main_menu ul
li.bull{background:url(/tpl/images/menu_bull.png) center center no-repeat;width:5px;height:25px;margin:0px}div#main_menu ul li:first-letter {font-size:22px}div#main_menu ul li
a{text-decoration:none;text-transform:uppercase;letter-spacing:1px;font-size:16px}div#main_menu ul li:first-letter {font-size:22px}div#main_menu ul li a
span{font-size:22px}div#main_menu{border-top:1px solid #000;border-bottom:3px solid #000;margin-bottom:10px;margin-top:-10px}div#main_menu
ul{position:relative;padding:0px;margin:0px;font:12px Georgia;text-align:justify;line-height:0;text-justify:newspaper;zoom:1;text-align-last:justify}div#main_menu ul:after{width:100%;height:0px;visibility:hidden;overflow:hidden;content:'';display:inline-block}div#main_menu ul
li{position:relative;display:inline-block;text-align:left;line-height:normal;font-size:12px;vertical-align:top;*display:inline;zoom:1;padding:6px
0px}#block960
.left{margin-bottom:10px}div.ajax_forms_menu{text-align:right}div.ajax_forms_menu
a{color:#24a6cf;margin-left:30px;text-decoration:none}.sms_text{font-family:"appetite";font-size:12px;color:#000;line-height:12px;text-align:right}.sms_text
span{font-size:24px}.sms_phone{font-family:"appetite";font-size:26px;color:#24a6cf}#system_overflow{background-image:url(/tpl/images/popup_bg2.png);display:none;height:100%;width:100%;position:absolute;left:0px;top:0px;z-index:9999;overflow:auto}.popup_modal{background-color:#2D323B;position:fixed;z-index:10000;opacity:1;display:none;width:300px;min-height:100px;font-size:14px;box-shadow:0px 0px 10px #000;-webkit-box-shadow:0px 0px 10px #000;-moz-box-shadow:0px 0px 10px #000;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}.popup_modal
.question{line-height:32px}.popup_modal
.ln{line-height:20px;margin-bottom:7px}.popup_modal
.center{text-align:center;color:#24A6CF}.popup_modal
ul{margin:10px
15px}.popup_modal ul
li{list-style-type:disc;margin-left:20px}.modal_close{background:url(/tpl/images/close.png) left top no-repeat;width:11px;height:11px;display:block;margin-bottom:10px}ul.metro_list{padding:0px;margin:0px;list-style-type:none}ul.metro_list
li{list-style-type:none;padding-left:15px!important;width:225px}ul.metro_list
li.line{font-size:16px;color:#FFF;line-height:24px;padding:10px
0px!important;color:#24A6CF!important}ul.metro_list li a
span{color:#FFF;font-style:italic;font-weight:bold;font-size:14px}ul.metro_list
a.active{color:#24a6cf}ul.metro_list li a.active
span{color:#24a6cf}ul.metro_list li a:hover
span{color:#24a6cf}.wrap-div
table{border-collapse:collapse;border-spacing:0;empty-cells:show}.wrap-div th, .wrap-div  tr, .wrap-div
td{text-align:left;vertical-align:top}.wrap-div sub,.wrap-div
sup{position:relative;font-size:11px}.wrap-div
sub{top:5px}.wrap-div
sup{top:-5px}.wrap-div
a{outline:none;color:#24a6cf}.wrap-div a:hover{text-decoration:none}.wrap-div input,.wrap-div
button{vertical-align:middle;overflow:visible}.wrap-div
select{vertical-align:middle}.wrap-div
textarea{vertical-align:top}.wrap-div
label{float:left;text-align:right;margin-right:15px;width:100px}.wrap-div hr,.wrap-div  img,.wrap-div
object{border:0}.wrap-div
hr{color:#ccc;background:#ccc;height:1px;margin:7px
0}.wrap-div
li{vertical-align:bottom;list-style:none}.layout{width:975px;margin:0
auto}.layout
.col1{width:728px}.layout
.col2{width:227px}.layout
.empt{width:20px}.block-premium{width:100%;background:#3b414e;height:182px;padding-top:32px;text-align:center;color:#fff;font-size:14px;position:relative}.block-premium-bottom{width:100%;background:#3b414e;height:133px;padding-top:32px;text-align:center;color:#fff;font-size:14px}.block-premium-bottom
.colorize{font-size:16px}.block-premium-bottom .colorize
big{font-size:36px}.block-premium-bottom .colorize
span{font-size:36px;color:#24a6cf}.block-premium
.upcase{font-size:11px;color:#fff}.block-premium-bottom
.upcase{font-size:11px;color:#fff}.block-premium
h3.upcase{font:36px Georgia, "Times New Roman", Times, serif}.block-premium h3.upcase:first-letter {font-size:47px}.upcase-premium{font:14px Georgia, "Times New Roman",Times,serif;text-transform:uppercase}.upcase-premium:first-letter {font:20px Georgia, "Times New Roman",Times,serif;text-transform:uppercase}.w-new{padding-right:0 !important}.w-auto{width:auto !important;padding-left:0 !important;padding-right:0 !important}.w-auto
div{width:auto}.lh24{font:14px/24px Georgia, "Times New Roman", Times, serif}.lh24
img{margin-top:7px}.nowrap{white-space:nowrap;font-size:20px}.plan-1,.plan-2,.plan-3,.plan-4{float:left;width:210px;padding-right:20px}.plans{overflow:hidden}.plans .upcase-premium{font:28px Georgia, "Times New Roman", Times, serif;text-transform:uppercase;letter-spacing:1px;position:relative;background:url(/tpl/images/mini_logo.png) center top no-repeat;padding-top:10px}.plans .upcase-premium:first-letter {font:48px Georgia, "Times New Roman",Times,serif;text-transform:uppercase}.plan-desc{font:30px Georgia, "Times New Roman", Times, serif}.plans p.plan-desc{font:30px Georgia, "Times New Roman", Times, serif}.plans
p{font-size:16px}.plans
li{font-style:italic;margin-bottom:0px}p.plan-desc
i{font:italic 12px Georgia, "Times New Roman",Times,serif}p.plan-desc{overflow:hidden}.plans p.plan-desc
i{font:italic 12px Georgia, "Times New Roman", Times, serif}.plans p.plan-desc{overflow:hidden}.plan-desc form .submit-blue{float:none;background:url(/content/personal/restaurateur/images/blue-plus.png) 12px 50% no-repeat #24a6cf;padding-left:28px}.plan-desc-ul{font-size:12px}.plan-desc-ul
strong{font:20px Georgia, "Times New Roman", Times, serif}.plan-desc-ul
em{}.plan{margin-bottom:60px}.plans
ul{margin:0px;padding:0px;text-align:center;margin-bottom:20px}.social-icons{background:#f5f5f5;height:54px;font:14px/54px Georgia, "Times New Roman",Times,serif;color:#1a1a1a}.wrap-div{width:975px;margin:0
auto;position:relative}.upcase{color:#1a1a1a;font-size:9px;text-transform:uppercase}big{font-size:18px;line-height:12px;;vertical-align:baseline}.profile-activity td ul
li{margin-bottom:6px}.bg-gray{background:#f2f2f2;padding-top:90px}.w-small{width:116px !important}td.status{width:80px}th.status{text-indent:30px}.status .w-small{width:auto !important}.wrap-div .profile-activity
p{line-height:12px}.stars_div{margin-bottom:33px}.wrap-div
ul{margin:0;padding:0}#footer{width:100%;margin:-290px auto 0;background:#3b414e;height:315px;padding-top:70px;position:relative;z-index:1000}#footer
.footer_content{position:relative;background:url(/tpl/images/dot2.png) left top repeat-x;color:#FFF}#footer  .footer_content
p{margin-top:0px;padding:0px}#footer  .footer_content
.left{margin-right:25px}

#footer .footer_content ul {
    margin: 0px auto;
    padding: 30px 0px;
    margin-left: 120px;
    min-height: 65px
}
#footer  .footer_content ul
li{float:left;margin-left:50px;width:120px;list-style-type:none;padding:0px;line-height:22px;height:22px}#footer  .footer_content ul li
a{color:#FFF;text-decoration:underline}#footer  .footer_content ul li a:hover{color:#FFF;text-decoration:none}#footer
.to_top{position:absolute;z-index:1000;margin:0
auto;background:url(/tpl/images/to_top.png) left top no-repeat;width:96px;height:96px;margin-left:440px;*margin-left:340px;margin-top:-118px;letter-spacing:1px;color:#FFF;line-height:125px;text-align:center;font-size:1.2em;cursor:pointer}#footer
#l16{width:50px;margin-right:25px}#footer
#l16_d{padding-top:12px;width:100px}.title_main ul li
a{font-size:12px;color:#FFF}.title_main
ul{list-style-type:none;margin:0px;padding:0px}.title_main ul
li{list-style-type:none}#wrapp{padding-bottom:320px}.ac_results a:hover{color:#FFF}.modal_vk{background-color:#fff;display:none;width:350px;padding:15px;text-align:left;border:2px
solid #333;z-index:10000;-moz-border-radius:6px;-webkit-border-radius:6px;-moz-box-shadow:0 0 50px #ccc;-webkit-box-shadow:0 0 50px #ccc}.modal_vk
h2{margin:0px;padding:10px
0 10px 45px;border-bottom:1px solid #333;font-size:20px}.error{height:15px;background-color:#FFFE36;border:1px
solid #E1E16D;font-size:11px;color:#000;padding:3px
10px;margin-left:-2px;z-index:10000;white-space:nowrap;-moz-border-radius:4px;-webkit-border-radius:4px;-moz-border-radius-bottomleft:0;-moz-border-radius-topleft:0;-webkit-border-bottom-left-radius:0;-webkit-border-top-left-radius:0;-moz-box-shadow:0 0 6px #ddd;-webkit-box-shadow:0 0 6px #ddd}.error
p{margin:0;padding:0}div.fb_login_button{background:url(/tpl/images/facebook_login.png) no-repeat;width:114px;height:22px;cursor:pointer}.modal_fb{background-color:#fff;display:none;width:350px;padding:15px;text-align:left;border:2px
solid #333;z-index:10000;-moz-border-radius:6px;-webkit-border-radius:6px;-moz-box-shadow:0 0 50px #ccc;-webkit-box-shadow:0 0 50px #ccc}.modal_fb
h2{margin:0px;padding:10px
0 10px 45px;border-bottom:1px solid #333;font-size:20px}.big_modal
.modal_close_galery{position:absolute;top:-50px;right:-50px;background:url(/tpl/images/galery_close2.png) left top no-repeat;width:40px;height:40px;cursor:pointer}.big_modal,#detail_galery_modal{position:fixed;display:none;width:0px;height:0px;box-shadow:0px 0px 20px #000;-webkit-box-shadow:0px 0px 20px #000;-moz-box-shadow:0px 0px 20px #000;behavior:url(/tpl/PIE.php);left:0px;top:0px;z-index:100000;background:#FFF}.big_modal .slider_left, #detail_galery_modal
.slider_left1{position:absolute;height:100%;left:0px;top:0px;width:50px;background:url(/tpl/images/slider-arrow-left.gif) center center no-repeat #FFF;opacity:0.6;z-index:1000;display:none;cursor:pointer}.big_modal
img{cursor:pointer}.big_modal
p{position:absolute;opacity:0.8;background:#000;color:#FFF;line-height:36px;text-align:center;width:100%;z-index:1001;top:0px;left:0px;font-size:14px}.big_modal .slider_right, #detail_galery_modal
.slider_right1{position:absolute;height:100%;right:0px;top:0px;width:50px;background:url(/tpl/images/slider-arrow-right.gif) center center no-repeat #FFF;opacity:0.6;z-index:1000;display:none;cursor:pointer}.phone_block{cursor:pointer}.phone_block2{cursor:pointer}.img2{cursor:pointer}#edit_link{background:url(/tpl/images/edit.png) left center no-repeat;padding-left:20px;line-height:26px}.articles_photo
.images{width:718px;overflow:hidden;border:1px
solid #CCC;text-align:center}.articles_photo img {/*max-height:479px;*/}.restoran_text{margin-top:20px}#system_loading{position:fixed;display:none;right:10px;top:10px;z-index:99999;background:#0d0d0d;border:1px
solid #333;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;opacity:0.8;padding:10px;line-height:32px;font-family:appetite;font-size:1.4em;color:#FFF;text-indent:15px;behavior:url(/tpl/PIE.php)}a.greyb{height:18px;text-align:center;background:#F2F2F2;padding:0px
10px;line-height:18px;color:#1A1A1A;border:0px;cursor:pointer;font-size:10px;position:relative;display:block;text-transform:uppercase;text-decoration:none!important}a.greyb:hover{color:#FFF;background:#1a1a1a}a.blueb{height:18px;text-align:center;background:#24A6CF;padding:0px
10px;line-height:18px;color:#FFF;border:0px;cursor:pointer;font-size:10px;position:relative;display:block;text-transform:uppercase;text-decoration:none!important}a.blueb:hover{background:#1a1a1a}h1.with_link
a{color:#24A6CF;text-decoration:none}h1.with_link a:hover{color:#000;text-decoration:none}#comments
.answers_arrow{background:url(/tpl/images/answer_arrow.png) 10px bottom no-repeat;height:6px;margin-top:-2px}#comments
.answers{border:1px
solid #24a6cf;height:16px;padding:0px
10px;line-height:16px}#comments
.razver{font-size:11px;text-transform:uppercase;letter-spacing:1px;background:url(/tpl/images/filter_arrow_new1.png) right center no-repeat;padding-right:15px;cursor:pointer;line-height:22px}#ontop{position:fixed;height:100%;width:100px;background:none;color:#24a6cf;text-transform:uppercase;letter-spacing:1px;display:none;top:0px;left:0px;font-size:10px;line-height:40px;z-index:999;cursor:pointer}#ontop:hover{background:#f2f2f2}#ontop:hover
.ontop_arrow{color:#232323}#ontop
.ontop_arrow{background:url("/tpl/images/ontop.png") 15px 17px no-repeat;padding-left:30px}#system_message{background:url(/tpl/images/popup_bg.png);height:60px;width:100%;position:fixed;bottom:0px;left:0px;z-index:999;color:#FFF;font-size:30px;line-height:60px;display:none}#system_message
a{color:#FFF;text-decoration:none}#system_message a:hover{color:#24a6cf;text-decoration:none}#system_message
.appetite{line-height:60px}#system_message
#sys_mes_close{padding-top:15px;cursor:pointer}.restics_bg_small{position:relative;z-index:1000;width:83px;height:50px;background:url(/tpl/images/restics_bg_small.png) center center no-repeat;margin:5px
auto}.restics_bg_small
span{display:block;text-align:center;width:30px;height:30px;color:white;line-height:58px;font-style:italic;font-size:18px;left:31px;top:-11px;position:absolute}.articles_photo{margin-top:10px}#yandex_direct{margin-bottom:20px;font-size:14px}#footer
a{color:white;text-decoration:none}#footer a:hover{color:white;text-decoration:underline}#baner_inv_block{display:none}#err
p{line-height:normal}.inv_cph{display:none}#bron_round
.bron_round_orange{-webkit-animation:cssAnimation2 8s infinite linear;-moz-animation:cssAnimation2 8s infinite linear;-o-animation:cssAnimation2 8s infinite linear;background:url(/tpl/images/bron/bron_rbg_orange.png) left top no-repeat;width:102px;height:102px;position:absolute;left:49px;top:-6px;z-index:900}#bron_round
.bron_round_red{-webkit-animation:cssAnimation2 8s infinite linear;-moz-animation:cssAnimation2 8s infinite linear;-o-animation:cssAnimation2 8s infinite linear;background:url(/tpl/images/bron/bron_rbg_red.png) left top no-repeat;width:102px;height:102px;position:absolute;left:49px;top:-6px;z-index:900;display:none}#bron_round
.bron_round_blue{-webkit-animation:cssAnimation2 8s infinite linear;-moz-animation:cssAnimation2 8s infinite linear;-o-animation:cssAnimation2 8s infinite linear;background:url(/tpl/images/bron/bron_rbg_blue.png) left top no-repeat;width:102px;height:102px;position:absolute;left:49px;top:-6px;z-index:900;display:none}
/*@-webkit-keyframes
cssAnimation2{from{-webkit-transform:rotate(0deg) scale(0.9) skew(0deg) translate(0px)}50%{-webkit-transform:rotate(180deg) scale(0.9) skew(0deg) translate(0px)}to{-webkit-transform:rotate(360deg) scale(0.9) skew(0deg) translate(0px)}}
@-moz-keyframes
cssAnimation2{from{-webkit-transform:rotate(0deg) scale(0.9) skew(0deg) translate(0px)}to{-webkit-transform:rotate(360deg) scale(0.9) skew(0deg) translate(0px)}}@-o-keyframes
cssAnimation2{from{-webkit-transform:rotate(0deg) scale(0.9) skew(0deg) translate(0px)}to{-webkit-transform:rotate(360deg) scale(0.9) skew(0deg) translate(0px)}}*/#bron_round_phone{background:url(/tpl/images/bron/bron_rbg.png) left top no-repeat;width:157px;height:116px;position:absolute;left:0px;top:-14px;z-index:990}#bron_round
.appetite_bron_15{font-size:15px;color:#FFF;position:absolute;left:74px;top:25px;width:50px;text-align:center;z-index:1001;line-height:15px;text-shadow:1px 1px 2px #8e5400}#bron_round
.appetite_bron_15_2{font-size:15px;color:#FFF;position:absolute;left:69px;top:25px;width:64px;text-align:center;z-index:1001;line-height:20px;text-shadow:1px 1px 2px #000;display:none}#ny_ded
.ny_round{-webkit-animation:cssAnimation 4s infinite linear;-moz-animation:cssAnimation 4s infinite linear;-o-animation:cssAnimation 4s infinite linear;background:url(/tpl/images/new_year/ny_round.png) left top no-repeat;width:78px;height:79px;position:absolute;left:10px;top:26px;z-index:1000}#ny_ded
.ny_round_64{-webkit-animation:cssAnimation 4s infinite linear;-moz-animation:cssAnimation 4s infinite linear;-o-animation:cssAnimation 4s infinite linear;background:url(/tpl/images/new_year/ny_round_64.png) left top no-repeat;width:65px;height:64px;position:absolute;left:10px;top:26px;z-index:1000}
/*@-webkit-keyframes
cssAnimation{from{-webkit-transform:rotate(0deg) scale(0.9) skew(0deg) translate(0px)}50%{-webkit-transform:rotate(180deg) scale(1) skew(0deg) translate(0px)}to{-webkit-transform:rotate(360deg) scale(0.9) skew(0deg) translate(0px)}}@-moz-keyframes
cssAnimation{from{-webkit-transform:rotate(0deg) scale(1) skew(0deg) translate(0px)}to{-webkit-transform:rotate(360deg) scale(1) skew(0deg) translate(0px)}}@-o-keyframes
cssAnimation{from{-webkit-transform:rotate(0deg) scale(1) skew(0deg) translate(0px)}to{-webkit-transform:rotate(360deg) scale(1) skew(0deg) translate(0px)}}*/#ny_ded
.appetite_ny{font-size:18px;color:#FFF;position:absolute;left:9px;top:48px;width:80px;text-align:center;z-index:1001;line-height:18px}#ny_ded
.appetite_ny_15{font-size:15px;color:#FFF;position:absolute;left:18px;top:44px;width:50px;text-align:center;z-index:1001;line-height:15px}#ny_ded
#ny_dm{-webkit-animation:cssAnimation1 1.5s infinite ease-out;-moz-animation:cssAnimation1 1.5s infinite ease-out;-o-animation:cssAnimation1 1.5s infinite ease-out;background:url(/tpl/images/new_year/ny_dm.png) left top no-repeat;width:129px;height:107px;position:absolute;left:0px;top:0px;z-index:990}#ny_ded
#ny_dm_92{-webkit-animation:cssAnimation1 1.5s infinite ease-out;-moz-animation:cssAnimation1 1.5s infinite ease-out;-o-animation:cssAnimation1 1.5s infinite ease-out;background:url(/tpl/images/new_year/ny_dm_92.png) left top no-repeat;width:111px;height:92px;position:absolute;left:0px;top:0px;z-index:990}#ny_ded
.cur{background:url(/tpl/images/new_year/cur.png) left top no-repeat;position:absolute;top:70px;left:70px;height:20px;width:18px;z-index:1005}#ny_ded
.cur_s{background:url(/tpl/images/new_year/cur.png) left top no-repeat;position:absolute;top:60px;left:60px;height:20px;width:18px;z-index:1005}
/*@-webkit-keyframes
cssAnimation1{from{-webkit-transform:scale(1) skew(0deg) translate(0px,0px)}10%{-webkit-transform:scale(1) skew(0deg) translate(0px,-10px)}20%{-webkit-transform:scale(1) skew(0deg) translate(0px,0px)}40%{-webkit-transform:scale(1) skew(0deg) translate(0px,-5px)}50%{-webkit-transform:scale(1) skew(0deg) translate(0px,0px)}60%{-webkit-transform:scale(1) skew(0deg) translate(0px,-2px)}70%{-webkit-transform:scale(1) skew(0deg) translate(0px,0px)}90%{-webkit-transform:scale(1) skew(0deg) translate(0px,0px)}to{-webkit-transform:scale(1) skew(0deg) translate(0px)}}@-moz-keyframes
cssAnimation1{from{-webkit-transform:rotate(0deg) scale(1) skew(0deg) translate(0px)}to{-webkit-transform:rotate(360deg) scale(1) skew(0deg) translate(0px)}}@-o-keyframes
cssAnimation1{from{-webkit-transform:rotate(0deg) scale(1) skew(0deg) translate(0px)}to{-webkit-transform:rotate(360deg) scale(1) skew(0deg) translate(0px)}}*/div#main_menu_new{width:980px;margin:0
auto;text-align:right;margin-bottom:10px;margin-top:-20px}div#main_menu_new
ul{position:relative;padding:0px;margin:0px;font:12px Georgia;text-align:right;width:665px}div#main_menu_new ul li
a{text-decoration:none;text-transform:uppercase;letter-spacing:1px;font-size:16px}div#main_menu_new ul li a
span{font-size:22px}div#main_menu_new ul
li{position:relative;display:inline-block;text-align:right;line-height:normal;font-size:12px;vertical-align:top;*display:inline;zoom:1;margin-right:25px}div#toptop_menu_new ul
li.bull{background:url(/tpl/images/menu_bull.png) center center no-repeat;width:5px;height:18px;margin:0px}div#toptop_menu_new ul li
a{text-decoration:none;text-transform:uppercase;letter-spacing:0px;font-size:11px}div#toptop_menu_new ul li a
span{font-size:1.3em}div#toptop_menu_new{margin:0
auto;width:980px;margin-bottom:7px}div#toptop_menu_new
ul{position:relative;padding:0px;margin:0px;font:12px Georgia;text-align:justify;line-height:0;text-justify:newspaper;zoom:1;text-align-last:justify}div#toptop_menu_new ul:after{width:100%;height:0px;visibility:hidden;overflow:hidden;content:'';display:inline-block}div#toptop_menu_new ul
li{position:relative;display:inline-block;text-align:left;line-height:normal;font-size:12px;vertical-align:top;*display:inline;zoom:1;padding:8px
0px}.articles_photo
img{cursor:pointer}.priority_img{width:380px}.priority_img
.img{border:1px
solid #DDD}.priority_left{float:left;width:250px}.priority_left
.uppercase{margin-bottom:10px;line-height:14px}.priority_right{width:325px;float:right;word-wrap:break-word}.priority_right
.new{font-family:appetite;float:right;font-size:14px;margin-bottom:10px}.priorities
.light_hr{margin-top:5px;margin-bottom:15px}.date{border:1px
solid #ccc;font-size:18px;padding:4px;text-align:center;width:80px;-moz-box-shadow:0 0 10px #eee inset;-webkit-box-shadow:0 0 10px #eee inset}#calroot{z-index:10000;margin-top:-1px;width:198px;padding:2px;background-color:#fff;font-size:11px;border:1px
solid #ccc;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow:0 0 15px #666;-webkit-box-shadow:0 0 15px #666}#calhead{padding:2px
0;height:22px}#caltitle{font-size:14px;color:#24a6cf;float:left;text-align:center;width:155px;line-height:20px;font-weight:bold}#calnext,#calprev{display:block;width:20px;height:20px;background:transparent url(/tpl/images/prev.gif) no-repeat scroll center center;float:left;cursor:pointer}#calnext{background-image:url(/tpl/images/next.gif);float:right}#calprev.caldisabled,#calnext.caldisabled{visibility:hidden}#caltitle
select{font-size:10px}#caldays{height:14px;border-bottom:1px solid #ddd}#caldays
span{display:block;float:left;width:28px;text-align:center}#calweeks{background-color:#fff;margin-top:4px}.calweek{clear:left;height:22px}.calweek
a{display:block;float:left;width:27px;height:20px;text-decoration:none;font-size:11px;margin-left:1px;text-align:center;line-height:20px;color:#666;-moz-border-radius:3px;-webkit-border-radius:3px}.calweek a:hover,.calfocus{background-color:#ddd}a.calsun{color:red}a.caloff{color:#ccc}a.caloff:hover{background-color:rgb(245,245,250)}a.caldisabled{background-color:#efefef !important;color:#ccc	!important;cursor:default}#calcurrent{background-color:#24a6cf;color:#fff}#caltoday{background-color:#3B414E;color:#fff}
.for_n_bu
{    
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color:#FFF;
    cursor: pointer;
    background:#23a2ca;
    display:block;
    background: url(/tpl/images/for_n_bu_1.png) left top no-repeat;   
    width:347px;
    height:112px;
    position:absolute;    
    margin-top: -30px;
    left: 400px;
    opacity:0.8
}
.for_n_bu:hover
{    
    opacity:1;
}