div.top_block {margin:0 auto; background:url(/bitrix/templates/main/images/top_block.png) left top no-repeat; width:232px; height:51px; text-align:center; line-height:48px; font-size:1.6em; margin-bottom:20px;}