/*=================================================================BUTTONS==================================================*/

.adm-workarea .adm-btn:hover,
.adm-workarea input[type="button"]:hover,
.adm-workarea input[type="reset"]:hover,
.adm-workarea input[type="submit"]:hover {
	text-decoration: none;
	background:#f3f6f7!important;
	background-image: -webkit-linear-gradient(top, #f8f8f9, #f2f6f8)!important;
	background-image: -moz-linear-gradient(top, #f8f8f9, #f2f6f8)!important;
	background-image: -ms-linear-gradient(top, #f8f8f9, #f2f6f8)!important;
	background-image: -o-linear-gradient(top, #f8f8f9, #f2f6f8)!important;
	background-image: linear-gradient(top, #f8f8f9, #f2f6f8)!important;
}

.adm-workarea .adm-btn,
.adm-workarea input[type="button"],
.adm-workarea input[type="reset"],
.adm-workarea input[type="submit"] {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border:none;
	border-top:1px solid #fff;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.3), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5);
	box-shadow: 0 0 1px rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.3), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5);
	background-color: #e0e9ec;
	background-image: -webkit-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: -moz-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: -ms-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: -o-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: linear-gradient(bottom, #d7e3e7, #fff)!important;
	color:#3f4b54;
	cursor:pointer;
	display:inline-block;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	/*line-height:18px;*/
	height: 29px;
	text-shadow:0 1px rgba(255,255,255,0.7);
	text-decoration:none;
	position:relative;
	vertical-align:middle;
	-webkit-font-smoothing: antialiased;
}

.adm-workarea .adm-detail-content input[disabled][type="button"],
.adm-workarea .adm-detail-content input[type="button"],
.adm-workarea .adm-detail-content input[type="reset"],
.adm-workarea .adm-detail-content input[type="submit"] { height: 29px; }

/*#btn {background:url("images/bx-admin-mainmenu-items-bg.png") no-repeat 0 0;}*/

.adm-workarea a.adm-btn,
.adm-workarea span.adm-btn {
	height:18px;
	line-height:16px;
	padding:5px 15px 5px;
}

.adm-workarea a.adm-btn-green,
.adm-workarea span.adm-btn-green,
.adm-workarea a.adm-btn-save,
.adm-workarea span.adm-btn-save
 {
	height:17px;
	padding-top:5px;
}

.adm-workarea input[type="submit"],
.adm-workarea input[type="button"],
.adm-workarea input[type="reset"] {padding:0 13px 3px;}

.adm-workarea input.adm-btn-big {
	margin-bottom:15px;
	width:250px;
}

.adm-workarea .adm-btn:active,
.adm-workarea .adm-btn.adm-btn-active,
.adm-workarea input[type="submit"]:active,
.adm-workarea input[type="button"]:active {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #b7c4c9!important;
	-webkit-box-shadow: inset 0 1px 1px 1px rgba(103,109,123,.78);
	box-shadow: inset 0 1px 1px 1px rgba(103,109,123,.78);
	background-image: -webkit-linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96))!important;
	background-image: -moz-linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96))!important;
	background-image: -ms-linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96))!important;
	background-image: -o-linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96))!important;
	background-image: linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96))!important;
	border-top:transparent;
	height: 29px;
	outline:none;
	padding:2px 13px 1px;
}


.adm-workarea .adm-detail-content input[type="submit"]:active,
.adm-workarea .adm-detail-content input[type="reset"]:active,
.adm-workarea .adm-detail-content input[type="button"]:active { height: 25px; }

.adm-workarea span.adm-btn:active,
.adm-workarea a.adm-btn:active,
.adm-workarea span.adm-btn-active,
.adm-workarea a.adm-btn-active {height:18px!important; padding:7px 15px 4px !important;}




.adm-workarea input.adm-btn-add {
	background:url("images/bx-admin-sprite-small-1.png") no-repeat 10px -2421px, -webkit-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background:url("images/bx-admin-sprite-small-1.png") no-repeat 10px -2421px, -moz-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background:url("images/bx-admin-sprite-small-1.png") no-repeat 10px -2421px, -ms-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background:url("images/bx-admin-sprite-small-1.png") no-repeat 10px -2421px, -o-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background:url("images/bx-admin-sprite-small-1.png") no-repeat 10px -2421px, linear-gradient(bottom, #d7e3e7, #fff)!important;
	padding-left:28px !important;
}

.adm-workarea input.adm-btn-add:hover {
	background:#f3f6f7!important;
	background: url("images/bx-admin-sprite-small-1.png") no-repeat 10px -2421px, -webkit-linear-gradient(top, #f8f8f9, #f2f6f8) !important;
	background: url("images/bx-admin-sprite-small-1.png") no-repeat 10px -2421px, -moz-linear-gradient(top, #f8f8f9, #f2f6f8) !important;
	background: url("images/bx-admin-sprite-small-1.png") no-repeat 10px -2421px, -ms-linear-gradient(top, #f8f8f9, #f2f6f8) !important;
	background: url("images/bx-admin-sprite-small-1.png") no-repeat 10px -2421px, -o-linear-gradient(top, #f8f8f9, #f2f6f8) !important;
	background: url("images/bx-admin-sprite-small-1.png") no-repeat 10px -2421px, linear-gradient(top, #f8f8f9, #f2f6f8) !important;
}

.adm-workarea input.adm-btn-add:active {
	background:#f3f6f7!important;
	background: url("images/bx-admin-sprite-small-1.png") no-repeat 10px -2419px, -webkit-linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96)) !important;
	background: url("images/bx-admin-sprite-small-1.png") no-repeat 10px -2419px, -moz-linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96)) !important;
	background: url("images/bx-admin-sprite-small-1.png") no-repeat 10px -2419px, -ms-linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96)) !important;
	background: url("images/bx-admin-sprite-small-1.png") no-repeat 10px -2419px, -o-linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96)) !important;
	background: url("images/bx-admin-sprite-small-1.png") no-repeat 10px -2419px, linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96)) !important;
}

.bx-ie8 .adm-workarea input.adm-btn-add,
.bx-ie9 .adm-workarea input.adm-btn-add {padding-left:13px!important;}


.adm-workarea input.adm-btn-green,
.adm-workarea .adm-btn-green,
.adm-workarea input.adm-btn-save,
.adm-workarea .adm-btn-save
 {
	background-color: #86ad00!important;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.25), inset 0 1px 0 #cbdc00;
	box-shadow: 0 1px 1px rgba(0,0,0,.25), inset 0 1px 0 #cbdc00;
	border: solid 1px;
	border-color:#97c004 #7ea502 #648900;
	background-image: -webkit-linear-gradient(bottom, #729e00, #97ba00)!important;
	background-image: -moz-linear-gradient(bottom, #729e00, #97ba00)!important;
	background-image: -ms-linear-gradient(bottom, #729e00, #97ba00)!important;
	background-image: -o-linear-gradient(bottom, #729e00, #97ba00)!important;
	background-image: linear-gradient(bottom, #729e00, #97ba00)!important;
	color:#fff;
	text-shadow:0 1px rgba(0,0,0,0.1);
	-webkit-font-smoothing: antialiased;
	padding:1px 13px 2px;
}

.adm-workarea input[type="button"].adm-btn-add.adm-btn-green,
.adm-workarea input[type="button"].adm-btn-add.adm-btn-save
{
	background-image:url("images/bx-admin-sprite-small-1.png"), -webkit-linear-gradient(bottom, #729e00, #97ba00)!important;
	background-image:url("images/bx-admin-sprite-small-1.png"), -moz-linear-gradient(bottom, #729e00, #97ba00)!important;
	background-image:url("images/bx-admin-sprite-small-1.png"), -ms-linear-gradient(bottom, #729e00, #97ba00)!important;
	background-image:url("images/bx-admin-sprite-small-1.png"), -o-linear-gradient(bottom, #729e00, #97ba00)!important;
	background-image:url("images/bx-admin-sprite-small-1.png"), linear-gradient(bottom, #729e00, #97ba00)!important;
	background-position:10px -665px, 0 0 !important;
	background-repeat:no-repeat, repeat!important;
	padding-left:28px!important;
}

.bx-ie8 .adm-workarea input[type="button"].adm-btn-add.adm-btn-green,
.bx-ie9 .adm-workarea input[type="button"].adm-btn-add.adm-btn-green,
.bx-ie8 .adm-workarea input[type="button"].adm-btn-add.adm-btn-save,
.bx-ie9 .adm-workarea input[type="button"].adm-btn-add.adm-btn-save {
	padding-left:13px!important;
	background:url("images/bx-admin-sprite-small-1.png") repeat-x 0 -3658px !important;
}

.bx-ie8 .adm-workarea input[type="button"].adm-btn-add.adm-btn-green:hover,
.bx-ie9 .adm-workarea input[type="button"].adm-btn-add.adm-btn-green:hover,
.bx-ie8 .adm-workarea input[type="button"].adm-btn-add.adm-btn-save:hover,
.bx-ie9 .adm-workarea input[type="button"].adm-btn-add.adm-btn-save:hover {
	background-position:0 -3692px !important;
}
.bx-ie8 .adm-workarea input[type="button"].adm-btn-add.adm-btn-green:active,
.bx-ie9 .adm-workarea input[type="button"].adm-btn-add.adm-btn-green:active,
.bx-ie8 .adm-workarea input[type="button"].adm-btn-add.adm-btn-save:active,
.bx-ie9 .adm-workarea input[type="button"].adm-btn-add.adm-btn-save:active {
	background:url("images/bx-admin-sprite-small-1.png") repeat-x 0 -3692px !important;
}

.adm-workarea input.adm-btn-green:hover,
.adm-workarea .adm-btn.adm-btn-green:hover,
.adm-workarea input.adm-btn-save:hover,
.adm-workarea .adm-btn.adm-btn-save:hover
{
	background-color:#9ec710!important;
	background-image: -webkit-linear-gradient(top, #acce11, #8abb0d)!important;
	background-image: -moz-linear-gradient(top, #acce11, #8abb0d)!important;
	background-image: -ms-linear-gradient(top, #acce11, #8abb0d)!important;
	background-image: -o-linear-gradient(top, #acce11, #8abb0d)!important;
	background-image: linear-gradient(top, #acce11, #8abb0d)!important;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 #d5e71a inset;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 #d5e71a inset;
	border-color:#97c004 #7ea502 #648900;
	text-decoration:none;
}

.adm-workarea input[type="button"].adm-btn-add.adm-btn-green:hover,
.adm-workarea input[type="button"].adm-btn-add.adm-btn-save:hover
{
	background-image:url("images/bx-admin-sprite-small-1.png"), -webkit-linear-gradient(top, #acce11, #8abb0d)!important;
	background-image:url("images/bx-admin-sprite-small-1.png"), -moz-linear-gradient(top, #acce11, #8abb0d)!important;
	background-image:url("images/bx-admin-sprite-small-1.png"), -ms-linear-gradient(top, #acce11, #8abb0d)!important;
	background-image:url("images/bx-admin-sprite-small-1.png"), -o-linear-gradient(top, #acce11, #8abb0d)!important;
	background-image:url("images/bx-admin-sprite-small-1.png"), linear-gradient(top, #acce11, #8abb0d)!important;
}

.adm-workarea input.adm-btn-green:active,
.adm-workarea .adm-btn.adm-btn-green:active,
.adm-workarea .adm-btn.adm-btn-green-active,
.adm-workarea input.adm-btn-save:active,
.adm-workarea .adm-btn.adm-btn-save:active,
.adm-workarea .adm-btn.adm-btn-save-active
{
	background:#698f00!important;
	-webkit-box-shadow: inset 0 2px 1px rgba(66,84,17,.71)!important;
	box-shadow: inset 0 2px 1px rgba(66,84,17,.71) !important;
	border-color:transparent #698f00 #698f00 !important;
	border-top:none;
	height:16px!important;
	padding:7px 15px 5px !important;
}

.adm-workarea input[type="button"].adm-btn-add.adm-btn-green:active,
.adm-workarea input[type="button"].adm-btn-add.adm-btn-save:active
{
	background:url("images/bx-admin-sprite-small-1.png") no-repeat 10px -663px, #698f00!important;
}

.adm-workarea .adm-btn.adm-btn-green-active:hover,
.adm-workarea .adm-btn.adm-btn-save-active:hover
{
	background:#698f00!important;
	-webkit-box-shadow: inset 0 2px 1px rgba(66,84,17,.71)!important;
	box-shadow: inset 0 2px 1px rgba(66,84,17,.71) !important;
	border-color:transparent #698f00 #698f00 !important;
	border-top:none;
	height:16px!important;
	padding:7px 15px 5px !important;
}

.adm-workarea input.adm-btn-green:active,
.adm-workarea input.adm-btn-save:active
{
	height:29px!important;
	padding:7px 13px 5px!important;
}

.adm-workarea .adm-btn-menu.adm-btn:after {
	background:url("images/bx-admin-sprite-small-1.png") no-repeat -11px -1501px;
	content:"";
	display:inline-block;
	height:5px;
	margin:6px -4px 0 15px;
	vertical-align:top;
	width:7px;
}

.adm-workarea .adm-btn-menu.adm-btn-green:after,
.adm-workarea .adm-btn-menu.adm-btn-save:after
{background-position: -9px -527px;}

.adm-workarea .adm-btn-add.adm-btn:before,
.adm-workarea .adm-btn-copy.adm-btn:before,
.adm-workarea .adm-btn-delete.adm-btn:before {
	background:url("images/bx-admin-sprite-small-1.png") 0 -2428px;
	content:"";
	display:inline-block;
	height:17px;
	margin:2px 10px 0 -5px;
	vertical-align:top;
	width:13px;
}

.adm-workarea .adm-btn-add.adm-btn-green:before,
.adm-workarea .adm-btn-add.adm-btn-save:before
{background-position:0 -672px;}

.adm-workarea .adm-btn-copy.adm-btn:before {background-position:0 -2403px; margin-top:1px; width:15px;}
.adm-workarea .adm-btn-delete.adm-btn:before {background-position:0 -2451px;}

.adm-workarea .adm-btn-green:active .adm-btn:after,
.adm-workarea .adm-btn-wrap.adm-btn-active.adm-btn-green .adm-btn:after,
.adm-workarea .adm-btn-save:active .adm-btn:after,
.adm-workarea .adm-btn-wrap.adm-btn-active.adm-btn-save .adm-btn:after
{background-position: 9px -538px;}



/* File input control*/

#bx-admin-prefix .add-file-popup-btn {
	height:18px;
	width:15px;
}

#bx-admin-prefix .add-file-popup-btn:before {
	background:url("images/bx-admin-sprite-big.png") no-repeat 0 -1548px;
	content:"";
	left:10px;
	top:9px;
	height:11px;
	position:absolute;
	width:28px;
}

#bx-admin-prefix .add-file-popup-btn:active:before,
#bx-admin-prefix .add-file-popup-btn.adm-btn-active:before {top:11px;}

.bx-ie8 #bx-admin-prefix .add-file-popup-btn:active:before,
.bx-ie8 #bx-admin-prefix .add-file-popup-btn.adm-btn-active:before,
.bx-ie9 #bx-admin-prefix .add-file-popup-btn:active:before,
.bx-ie9 #bx-admin-prefix .add-file-popup-btn.adm-btn-active:before {top:9px;}

/* File input control - body */
#bx-admin-prefix .adm-input-file-top-shift{position: relative; top: -1px;}
#bx-admin-prefix .adm-input-file-ext-class{position: relative; overflow: hidden; cursor: pointer !important;}
#bx-admin-prefix .adm-input-file-ext-class input[type="file"]{font-size: 300px;opacity: 0;position: absolute;right: 0;top: 0; cursor: pointer !important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}

#bx-admin-prefix .adm-input-file-control .adm-input-file {max-width: 450px;}
#bx-admin-prefix .adm-input-file-control .adm-input-file input[type="file"]{font-size: 300px;}
#bx-admin-prefix .adm-input-file-control .adm-input-file-none{display: none !important;}

#bx-admin-prefix .adm-input-file-desc{display: block; margin-top: 2px;}
#bx-admin-prefix .adm-input-file-desc-link{display: inline-block !important;color: #3f4b54!important;font-size: 11px !important;text-decoration: none !important;border-bottom: 1px dotted #3f4b54;cursor: pointer !important;margin-top:7px;}
#bx-admin-prefix .adm-input-file-desc input[type="text"]{display: none;}
#bx-admin-prefix .adm-input-file-show-desc .adm-input-file-desc-link{display: none !important;}
#bx-admin-prefix .adm-input-file-show-desc input[type="text"]{display: inline!important; margin-top: 10px !important;}
#bx-admin-prefix .adm-input-file-exist-cont{display: block;vertical-align: top !important;}
#bx-admin-prefix .adm-input-file-exist-cont .adm-input-file-preview{vertical-align: top !important;display: inline-block !important; text-align: center !important;position: relative;border: 1px solid #F5F9F9;}
#bx-admin-prefix .adm-input-file-hint-row{display: block; padding: 3px 0; word-wrap: break-word; }
/*#bx-admin-prefix .adm-input-file-hint-row a{white-space: nowrap !important;}*/
#bx-admin-prefix .adm-input-file-exist-cont img{border: 1px solid #e4e6e6;}
#bx-admin-prefix .adm-input-file-name{color: #2d3e4a !important; display: inline-block; vertical-align: top;font-weight:bold;}
#bx-admin-prefix .adm-input-file-exist-cont .adm-input-file-img-wrap {border: 1px solid #cacdcd;}
#bx-admin-prefix .adm-input-file-deleted img {opacity: 0.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";}
#bx-admin-prefix .adm-input-file-deleted .adm-input-file-name{}
#bx-admin-prefix .adm-input-file-del-lbl {position: absolute; top: 50%; left: 50%; font-size: 12px; color: #4f5d67; text-shadow:1px 1px #fff;text-align: center !important; display: none;}
#bx-admin-prefix .adm-input-file-deleted .adm-input-file-del-lbl{display: block !important;}
#bx-admin-prefix .adm-input-file-ex-wrap {margin: 0 0 12px 0;}
#bx-admin-prefix .adm-input-file-desc-inp-cont{margin: 8px 0 0 0;}
#bx-admin-prefix .adm-input-file-deleted .adm-input-file-desc-inp-cont{display: none;}
#bx-admin-prefix .adm-input-file-deleted .add-file-popup-btn{display: none;}
#bx-admin-prefix .adm-input-file-deleted .adm-input-file-name{text-decoration: line-through!important; color: #959da1 !important; text-shadow:1px 1px #fff;}
#bx-admin-prefix .adm-input-file-bordered,
#bx-admin-prefix .adm-input-file-deleted .adm-input-file-preview{border: 1px solid #CACDCD !important;}
#bx-admin-prefix .add-file-popup-btn {margin: 0 0 0 10px!important;}
#bx-admin-prefix .adm-input-file-new {/*margin: 0 0 14px 0!important;*/}
#bx-admin-prefix .adm-input-cont-bordered {border-bottom: 2px solid #edefef; padding: 0 0 14px 0; margin: 0 0 14px 0!important;}
#bx-admin-prefix .adm-input-file-not-found{color: #2D3E4A !important;display: inline-block;vertical-align:top;margin-top: 7px;}

#bx-admin-prefix .adm-btn-load {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border:none;
	border-top:1px solid transparent!important;
	background-color:#B7C4C9!important;
	background-image: -webkit-linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96))!important;
	background-image: -moz-linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96))!important;
	background-image: -ms-linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96))!important;
	background-image: -o-linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96))!important;
	background-image: linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96))!important;
	-webkit-box-shadow: 0 1px 1px 1px rgba(103, 109, 123, 0.78) inset !important;
	box-shadow: 0 1px 1px 1px rgba(103, 109, 123, 0.78) inset !important;
	color:#b1bec2!important;
	cursor:default;
	height:29px!important;
	text-shadow:none !important;
	padding:5px 13px!important;
}
#bx-admin-prefix .adm-btn-green.adm-btn-load,
#bx-admin-prefix .adm-btn-save.adm-btn-load
{
	background: #698F00 !important;
	-webkit-box-shadow: 0 2px 1px rgba(66, 84, 17, 0.71) inset !important;
	box-shadow: 0 2px 1px rgba(66, 84, 17, 0.71) inset !important;
	border: solid 1px;
	border-color:transparent #698F00 #698F00 !important;
	color:#7a9d1e !important;
	cursor:default;
	height:29px !important;
	padding:6px 13px !important;
	text-shadow:none;
}

#bx-admin-prefix .adm-btn-load-img {
	background:url("images/waiter-button-light.gif") no-repeat 0 0;
	height:20px;
	position:absolute;
	width:20px;
}

#bx-admin-prefix .adm-btn-load-img-green {
	background:url("images/waiter-button-green.gif") no-repeat 0 0;
	height:20px;
	position:absolute;
	width:20px;
}

/*===========================================================IE BUTTONS========================================================================*/


.bx-ie8 .adm-workarea .adm-btn,
.bx-ie8 .adm-workarea input[type="button"],
.bx-ie8 .adm-workarea input[type="reset"],
.bx-ie8 .adm-workarea input[type="submit"],
.bx-ie9 .adm-workarea .adm-btn,
.bx-ie9 .adm-workarea input[type="button"],
.bx-ie9 .adm-workarea input[type="reset"],
.bx-ie9 .adm-workarea input[type="submit"] {
	border-radius:4px;
	background:url("images/bx-admin-sprite-small-1.png") repeat-x 0 -3554px;
	box-shadow:0 0 0 1px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0 #FFFFFF inset, 0 0 1px rgba(255, 255, 255, 0.5) inset !important;
}

.bx-ie8 .adm-workarea .adm-btn,
.bx-ie8 .adm-workarea input[type="button"],
.bx-ie8 .adm-workarea input[type="reset"],
.bx-ie8 .adm-workarea input[type="submit"] {border:1px solid #959c9d !important;}

.bx-ie8 .adm-workarea input[type="button"],
.bx-ie8 .adm-workarea input[type="reset"],
.bx-ie8 .adm-workarea input[type="submit"],
.bx-ie9 .adm-workarea input[type="button"],
.bx-ie9 .adm-workarea input[type="reset"],
.bx-ie9 .adm-workarea input[type="submit"] {
	line-height:16px;
	height:31px!important;
	padding-top:6px!important;
	padding-bottom:6px!important;
}

.bx-ie8 .adm-workarea .adm-btn:hover,
.bx-ie8 .adm-workarea input[type="button"]:hover,
.bx-ie8 .adm-workarea input[type="reset"]:hover,
.bx-ie8 .adm-workarea input[type="submit"]:hover {background:#f5f5f5!important; }

.bx-ie8 .adm-workarea .adm-detail-content input[type="button"],
.bx-ie8 .adm-workarea .adm-detail-content input[type="reset"],
.bx-ie8 .adm-workarea .adm-detail-content input[type="submit"],
.bx-ie9 .adm-workarea .adm-detail-content input[type="button"],
.bx-ie9 .adm-workarea .adm-detail-content input[type="reset"],
.bx-ie9 .adm-workarea .adm-detail-content input[type="submit"] { height: 27px !important; }

.bx-ie8 .adm-workarea .adm-btn,
.bx-ie9 .adm-workarea .adm-btn,
.bx-ie8 .adm-workarea .adm-btn:active,
.bx-ie9 .adm-workarea .adm-btn:active {height:19px!important;}

.bx-ie8 .adm-workarea input[type="button"].adm-inp-active,
.bx-ie8 .adm-workarea input[type="reset"].adm-inp-active,
.bx-ie8 .adm-workarea input[type="submit"].adm-inp-active,
.bx-ie8 .adm-workarea a.adm-inp-active,
.bx-ie8 .adm-workarea span.adm-inp-active,
.bx-ie9 .adm-workarea input[type="button"].adm-inp-active,
.bx-ie9 .adm-workarea input[type="reset"].adm-inp-active,
.bx-ie9 .adm-workarea input[type="submit"].adm-inp-active,
.bx-ie9 .adm-workarea a.adm-inp-active,
.bx-ie9 .adm-workarea span.adm-inp-active
{
	border-radius: 2px;
	background: #b8c6cb!important;
	box-shadow: inset 0 1px 2px 0 #848d98 !important;
	background: -ms-linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96))!important;
	background: linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96))!important;
	border-color: #767e8a #89929c #b0bcc1 !important;
	height: 29px;
	outline:none;
	padding:5px 13px 5px;
	color:#3f4b54;
}

.bx-ie8 .adm-workarea a.adm-inp-active,
.bx-ie8 .adm-workarea span.adm-inp-active,
.bx-ie9 .adm-workarea a.adm-inp-active,
.bx-ie9 .adm-workarea span.adm-inp-active {
	height:19px!important;
}

.bx-ie8 .adm-workarea .adm-btn,
.bx-ie8 .adm-workarea .adm-btn:active {padding-top:6px!important; padding-bottom:4px!important;}

.bx-ie9 .adm-workarea .adm-btn,
.bx-ie9 .adm-workarea .adm-btn:active { padding-top:7px!important; padding-bottom:3px !important;}

.bx-ie8 .adm-workarea input.adm-btn-green,
.bx-ie8 .adm-workarea .adm-btn-green,
.bx-ie8 .adm-workarea input.adm-btn-save,
.bx-ie8 .adm-workarea .adm-btn-save,
.bx-ie9 .adm-workarea input.adm-btn-green,
.bx-ie9 .adm-workarea .adm-btn-green,
.bx-ie9 .adm-workarea input.adm-btn-save,
.bx-ie9 .adm-workarea .adm-btn-save
{
	background:url("images/bx-admin-sprite-small-1.png") repeat-x 0 -3658px!important;
	border-top:1px solid #a4c926 !important;
	border-bottom:1px solid #73991a !important;
	border-left:1px solid #74991a !important;
	border-right:1px solid #74991a !important;
	box-shadow:none!important;
}

.bx-ie8 .adm-workarea .adm-btn-green,
.bx-ie8 .adm-workarea .adm-btn-save,
.bx-ie9 .adm-workarea .adm-btn-green,
.bx-ie9 .adm-workarea .adm-btn-save
{height:18px!important; padding-top:5px!important; padding-bottom:5px!important;}

.bx-ie8 .adm-workarea input.adm-btn-green,
.bx-ie8 .adm-workarea input.adm-btn-save,
.bx-ie9 .adm-workarea input.adm-btn-green,
.bx-ie9 .adm-workarea input.adm-btn-save
{height:31px !important; }

.bx-ie8 .adm-workarea input.adm-btn-green:hover,
.bx-ie8 .adm-workarea .adm-btn-green:hover,
.bx-ie8 .adm-workarea input.adm-btn-save:hover,
.bx-ie8 .adm-workarea .adm-btn-save:hover,
.bx-ie9 .adm-workarea input.adm-btn-green:hover,
.bx-ie9 .adm-workarea .adm-btn-green:hover,
.bx-ie9 .adm-workarea input.adm-btn-save:hover,
.bx-ie9 .adm-workarea .adm-btn-save:hover
{
	background:url("images/bx-admin-sprite-small-1.png") repeat-x 0 -3692px !important;
	box-shadow: none!important;
	border-top:1px solid #97c004 !important;
	border-bottom:1px solid #648900 !important;
	border-left:1px solid #74991a !important;
	border-right:1px solid #74991a !important;
	text-decoration:none;
}

.bx-ie8 .adm-workarea span.adm-btn-green:hover,
.bx-ie8 .adm-workarea a.adm-btn-green:hover,
.bx-ie8 .adm-workarea span.adm-btn-save:hover,
.bx-ie8 .adm-workarea a.adm-btn-save:hover,
.bx-ie9 .adm-workarea span.adm-btn-green:hover,
.bx-ie9 .adm-workarea a.adm-btn-green:hover,
.bx-ie9 .adm-workarea span.adm-btn-save:hover,
.bx-ie9 .adm-workarea a.adm-btn-save:hover
{
	height:18px!important;
	padding-top:5px!important;
	padding-bottom:5px!important;
}

.bx-ie8 .adm-workarea span.adm-btn-green:active,
.bx-ie8 .adm-workarea a.adm-btn-green:active,
.bx-ie8 .adm-workarea .adm-btn-green:active,
.bx-ie8 .adm-workarea .adm-btn-green-active,
.bx-ie8 .adm-workarea span.adm-btn-save:active,
.bx-ie8 .adm-workarea a.adm-btn-save:active,
.bx-ie8 .adm-workarea .adm-btn-save:active,
.bx-ie8 .adm-workarea .adm-btn-save-active,
.bx-ie9 .adm-workarea span.adm-btn-green:active,
.bx-ie9 .adm-workarea a.adm-btn-green:active,
.bx-ie9 .adm-workarea .adm-btn-green:active,
.bx-ie9 .adm-workarea .adm-btn-green-active,
.bx-ie9 .adm-workarea span.adm-btn-save:active,
.bx-ie9 .adm-workarea a.adm-btn-save:active,
.bx-ie9 .adm-workarea .adm-btn-save:active,
.bx-ie9 .adm-workarea .adm-btn-save-active
{
	background:url("images/bx-admin-sprite-small-1.png") repeat-x 0 -3692px !important;
	box-shadow: none!important;
	border-top:1px solid #97c004 !important;
	border-bottom:1px solid #648900 !important;
	border-left:1px solid #74991a !important;
	border-right:1px solid #74991a !important;
	height:18px!important;
	padding-top:5px!important;
	padding-bottom:5px!important;
	text-decoration:none;
}

.bx-ie8 .adm-workarea .adm-btn-green:active,
.bx-ie8 .adm-workarea .adm-btn-green-active,
.bx-ie8 .adm-workarea .adm-btn-save:active,
.bx-ie8 .adm-workarea .adm-btn-save-active
{padding-top:6px!important;}

.bx-ie8 .adm-workarea input.adm-btn-green:active,
.bx-ie8 .adm-workarea input.adm-btn-save:active,
.bx-ie9 .adm-workarea input.adm-btn-green:active,
.bx-ie9 .adm-workarea input.adm-btn-save:active
{
	height:31px !important;
	box-shadow:none!important;
}

/*===========================================================END IE BUTTON========================================================================*/

#bx-admin-prefix .adm-designed-checkbox {
	display: none !important;
}

#bx-admin-prefix .adm-designed-checkbox-label {
	background:url("images/bx-admin-sprite-small-1.png") no-repeat 0 -983px;
	cursor: pointer;
	display: inline-block;
	height: 15px;
	float:none;
	width: 16px;
	vertical-align: text-top;
}

.bx-opera #bx-admin-prefix .adm-designed-checkbox {
	display: inline-block !important;
	visibility: hidden !important;
	width: 0 !important;
	height: 0 !important;
	padding: 0!important;
	margin: 0!important;
	font-size: 1px !important;
	line-height: 1px !important;
}

#bx-admin-prefix .adm-designed-checkbox:checked + .adm-designed-checkbox-label {background-position:0 -1006px;}
#bx-admin-prefix .adm-designed-checkbox:disabled + .adm-designed-checkbox-label {background-position:0 -1350px;}
#bx-admin-prefix .adm-designed-checkbox:disabled:checked + .adm-designed-checkbox-label {background-position:0 -3459px;}

.bx-ie8 #bx-admin-prefix .adm-designed-checkbox {display: inline-block !important;}
.bx-ie8 #bx-admin-prefix .adm-designed-checkbox-label {display: none;}

.adm-workarea .adm-input,
.adm-workarea input[type="text"],
.adm-workarea input[type="password"],
.adm-workarea input[type="email"] {
	background:#fff;
	border:1px solid;
	border-color:#87919c #959ea9 #9ea7b1 #959ea9;
	border-radius:4px;
	color:#000;
	-webkit-box-shadow:0 1px 0 0 rgba(255,255,255,0.3), inset 0 2px 2px -1px rgba(180,188,191,0.7);
	box-shadow:0 1px 0 0 rgba(255,255,255,0.3), inset 0 2px 2px -1px rgba(180,188,191,0.7);
	display:inline-block;
	outline:none;
	vertical-align:middle;
	-webkit-font-smoothing: antialiased;
}

.adm-workarea .adm-input,
.adm-workarea input[type="text"],
.adm-workarea input[type="password"],
.adm-workarea input[type="email"] {font-size:13px; height:25px; padding:0 5px; margin: 0; }

.adm-workarea .adm-input::-ms-clear,
.adm-workarea input[type="text"]::-ms-clear,
.adm-workarea input[type="password"]::-ms-clear,
.adm-workarea input[type="email"]::-ms-clear { display: none; }

.bx-ie8 .adm-workarea .adm-input,
.bx-ie8 .adm-workarea input[type="text"],
.bx-ie8 .adm-workarea input[type="email"] { line-height: 25px; }
.bx-ie8 .adm-workarea input[type="password"] { line-height: normal; }

.adm-workarea select {
	background: #fff;
	border-radius:4px;
	border:1px solid #a3a5a5;
	color:#000;
	-webkit-box-shadow:0 1px 0 0 rgba(255,255,255,0.3), inset 0 2px 2px -1px rgba(180,188,191,0.7);
	box-shadow:0 1px 0 0 rgba(255,255,255,0.3), inset 0 2px 2px -1px rgba(180,188,191,0.7);
	font-size:13px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	height:27px;
	margin:0;
	vertical-align:middle;
	padding:4px;
	-webkit-font-smoothing: antialiased;
}

.adm-workarea select[multiple],
.adm-workarea select[size] {height:auto; min-height:27px;}

.adm-workarea .adm-list-table-footer select[size] {height:29px;}

.adm-workarea select[disabled],
.adm-workarea input[disabled],
.adm-workarea input[readonly] {opacity:0.4;}

.bx-quirks .adm-workarea select {height: auto;}

.adm-workarea .typeselect { width: 200px; }

.adm-workarea input[disabled][type="button"],
.adm-workarea input[disabled][type="submit"],
.adm-workarea span.adm-btn-disabled,
.adm-workarea a.adm-btn-disabled
{
	border:none !important;
	border-radius: 4px;
	background-color: #eaf1f3!important;
	border:none;
	border-top:1px solid #fff;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.3), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5) !important;
	box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.3), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5) !important;
	background-image: -webkit-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: -moz-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: -ms-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: -o-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: linear-gradient(bottom, #d7e3e7, #fff)!important;
	color:#aaafb3;
	cursor:default;
	display:inline-block;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	height: 29px;
	text-shadow:0 1px rgba(255,255,255,0.7);
	text-decoration:none;
	vertical-align:middle;
	opacity:1;
	padding: 0 13px 2px;
}

.adm-workarea span.adm-btn-disabled,
.adm-workarea a.adm-btn-disabled {
	height: 18px;
	line-height: 16px;
	margin-right: 12px;
	padding: 6px 15px 5px;
}

.bx-ie8 .adm-workarea input[disabled][type="button"],
.bx-ie8 .adm-workarea input[disabled][type="submit"],
.bx-ie9 .adm-workarea input[disabled][type="button"],
.bx-ie9 .adm-workarea input[disabled][type="submit"] {
	background:url("images/bx-admin-sprite-small-1.png") repeat-x 0 -3554px !important;
	border: 1px solid #959c9d !important;
	height:31px!important;
}


.bx-ie8 .adm-workarea span.adm-btn-disabled,
.bx-ie8 .adm-workarea a.adm-btn-disabled,
.bx-ie9 .adm-workarea span.adm-btn-disabled,
.bx-ie9 .adm-workarea a.adm-btn-disabled {
	background:url("images/bx-admin-sprite-small-1.png") repeat-x 0 -3554px !important;
	border: 1px solid #959c9d !important;
	height: 18px !important;
}

.bx-ie8 .adm-workarea input[disabled][type="button"]:hover,
.bx-ie8 .adm-workarea input[disabled][type="submit"]:hover,
.bx-ie9 .adm-workarea input[disabled][type="button"]:hover,
.bx-ie9 .adm-workarea input[disabled][type="submit"]:hover
{height:31px;}

.adm-workarea option {background: #fff; vertical-align:middle; padding:3px 5px 3px 3px;}

.adm-workarea textarea {
	background:#fff;
	border:1px solid;
	border-color:#87919c #959ea9 #9ea7b1 #959ea9;
	border-radius:3px;
	color:#3f4b54;
	-ms-border-radius:3px;
	-webkit-box-shadow:0 1px 0 0 rgba(255,255,255,0.3), inset 0 2px 2px -1px rgba(180,188,191,0.7);
	box-shadow:0 1px 0 0 rgba(255,255,255,0.3), inset 0 2px 2px -1px rgba(180,188,191,0.7);
	font-size:13px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:5px;
}

.adm-workarea .adm-input-file {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border:none;
	border-radius: 4px;
	background-color: #eaf1f3!important;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px #FFFFFF inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px #FFFFFF inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;
	background-image: -webkit-linear-gradient(bottom, #d7e3e7, #fff);
	background-image: -moz-linear-gradient(bottom, #d7e3e7, #fff);
	background-image: -ms-linear-gradient(bottom, #d7e3e7, #fff);
	background-image: -o-linear-gradient(bottom, #d7e3e7, #fff);
	background-image: linear-gradient(bottom, #d7e3e7, #fff);
	color:#3f4b54;
	cursor:pointer;
	display:inline-block;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	height: 19px;
	text-shadow:0 1px #fff;
	text-decoration:none;
	vertical-align:top;
	padding:5px 15px 5px 29px;
	position:relative;
	overflow: hidden;
	white-space: nowrap;
}

.bx-ie9 .adm-workarea .adm-input-file {
	background:url("images/bx-admin-sprite-small-1.png") repeat-x 0 -3554px;
	/*border:1px solid #959c9d;*/
	box-shadow:0 0 0 1px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0 #FFFFFF inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;
}
.bx-ie8 .adm-workarea .adm-input-file { background:url("images/bx-admin-sprite-small-1.png") repeat-x 0 -3554px; border:1px solid #959c9d; padding-top:5px;}
.bx-ie8 .adm-workarea .adm-input-file:hover { background:#f5f5f5!important;}


.adm-workarea .adm-input-file:before {
	background:url("images/bx-admin-sprite-small-1.png") no-repeat 0 -3361px;
	content:"";
	height:16px;
	top:6px;
	left:11px;
	position:absolute;
	width:10px;
}

.adm-workarea .adm-input-file:hover {
	background :#F3F6F7;
	background: -moz-linear-gradient(top ,  #F8F8F9, #F2F6F8);
	background: -webkit-linear-gradient(top , #F8F8F9, #F2F6F8);
	background: -o-linear-gradient(top , #F8F8F9, #F2F6F8);
	background: -ms-linear-gradient(top , #F8F8F9, #F2F6F8);
	background: linear-gradient(top , #F8F8F9, #F2F6F8);
}

.adm-workarea .adm-input-file:hover {}

.bx-ie9 .adm-workarea .adm-input-file:hover { 	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImczNzgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGOEY4RjkiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkY2RjgiIG9mZnNldD0iMTAwIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzM3OCkiIC8+Cjwvc3ZnPg==); }

.adm-workarea .adm-input-file:active {
	background :#F3F6F7;
	background: -moz-linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96));
	background: -webkit-linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96));
	background: -o-linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96));
	background: -ms-linear-gradient(top, rgba(179, 194, 200, 0.96)9, rgba(202, 215, 219, 0.96));
	background: linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96));
	-webkit-box-shadow:0 1px 1px 1px rgba(103, 109, 123, 0.78) inset;
	box-shadow:0 1px 1px 1px rgba(103, 109, 123, 0.78) inset;
	padding:6px 15px 4px 29px;
}

.bx-ie9 .adm-workarea .adm-input-file:active { 	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzYzJjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYWQ3ZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }

.adm-workarea .adm-input-file:active:before {top:7px;}

.adm-workarea .adm-input-file input[type="file"]{
	font-size:40px;
	right:0;
	top:0;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	position:absolute;
}

/*=================================================================END BUTTONS==================================================*/


#bx-admin-prefix .bx-core-popup-menu, #bx-admin-prefix.bx-core-popup-menu {
	border: solid 1px #d5e1e4;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 18px 20px rgba(72, 93, 99, 0.3);
	box-shadow: 0 18px 20px rgba(72, 93, 99, 0.3);
	padding: 8px 0;
}

#bx-admin-prefix .bx-core-popup-menu-single-item, #bx-admin-prefix.bx-core-popup-menu-single-item {
	padding: 3px 0;
}

#bx-admin-prefix .bx-core-popup-menu-level0, #bx-admin-prefix.bx-core-popup-menu-level0
{
	background-color: #fff;
}

#bx-admin-prefix .bx-core-popup-menu-angle {
	top: -9px;
	background: url("images/popup_menu_sprite_1.png") no-repeat left -1480px;
}

#bx-admin-prefix .bx-core-popup-menu-angle-bottom {
	bottom: -9px;
	background: url("images/popup_menu_sprite_1.png") no-repeat left -1460px;
}

#bx-admin-prefix .bx-core-popup-menu-item
{
	border: none;
	border-top: solid 1px transparent;
	color: #2a2a2a !important;
}

#bx-admin-prefix .bx-core-popup-menu-item:hover,
#bx-admin-prefix .bx-core-popup-menu-item-opened
{
	background: #ebf2f4 !important;
	border-top: solid 1px #e3eaec;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
}

#bx-admin-prefix .bx-core-popup-menu-item-icon {
	width: 46px;
	background: url("images/popup_menu_sprite_1.png") no-repeat 6px -1080px;
}


#bx-admin-prefix .bx-core-popup-menu-item-text
{
	font-size: 13px;
	font-weight: normal;
	text-shadow: 0 1px white;
	padding: 0 20px 0 46px;
	height: 30px;
	line-height: 27px;
}

#bx-admin-prefix .bx-core-popup-menu-item-default .bx-core-popup-menu-item-text
{
	/*font-weight: bold;*/
}

#bx-admin-prefix .bx-core-popup-menu-no-icons .bx-core-popup-menu-item-text
{
	padding-left: 21px;
}

#bx-admin-prefix .bx-core-popup-menu-item-opener .bx-core-popup-menu-item-text
{
	padding-right: 30px;
}

#bx-admin-prefix .bx-core-popup-menu-item-opener:hover .bx-core-popup-menu-item-text,
#bx-admin-prefix .bx-core-popup-menu-item-opened .bx-core-popup-menu-item-text
{
	background: url("images/popup_menu_sprite_1.png") no-repeat right -270px;
}

#bx-admin-prefix .bx-core-popup-menu-item-checked .bx-core-popup-menu-item-text
{
	background: url("images/popup_menu_sprite_1.png") no-repeat left -600px;
}

#bx-admin-prefix .adm-menu-edit{background-position: 6px -630px;}
#bx-admin-prefix .adm-menu-view{background-position: 6px -660px;}
#bx-admin-prefix .adm-menu-copy{background-position: 6px -690px;}
#bx-admin-prefix .adm-menu-move{background-position: 6px -720px;}
#bx-admin-prefix .adm-menu-rename{background-position: 6px -750px;}
#bx-admin-prefix .adm-menu-delete{background-position: 6px -780px;}
#bx-admin-prefix .adm-menu-edit-htm{background-position: 6px -810px;}
#bx-admin-prefix .adm-menu-edit-php{background-position: 6px -840px;}
#bx-admin-prefix .adm-menu-edit-txt{background-position: 6px -870px;}
#bx-admin-prefix .adm-menu-edit-wf{background-position: 6px -900px;}
#bx-admin-prefix .adm-menu-download{background-position: 6px -930px;}
#bx-admin-prefix .adm-menu-pack{background-position:6px -960px;}
#bx-admin-prefix .adm-menu-unpack{background-position: 6px -990px;}
#bx-admin-prefix .adm-menu-access{background-position: 6px -1020px;}
#bx-admin-prefix .adm-menu-folder-props{background-position: 6px -1050px;}
#bx-admin-prefix .adm-menu-upload-pc {background-position:6px -1110px}
#bx-admin-prefix .adm-menu-upload-medialib {background-position:6px -1140px}
#bx-admin-prefix .adm-menu-upload-site {background-position:6px -1170px}
#bx-admin-prefix .adm-menu-upload-cloud {background-position:6px -1200px}
#bx-admin-prefix .adm-menu-add-desc {background-position:6px -1230px}
#bx-admin-prefix .adm-menu-setting {background-position:6px -1260px}
#bx-admin-prefix .adm-menu-excel {background-position:6px -1290px}


#bx-admin-prefix .bx-core-popup-menu-separator {
	background: #ebebeb;
	display:block;
	font-size:1px;
	height:1px;
	line-height:1px;
	margin: 7px 10px;
	overflow:hidden;
	padding:0;
}

#bx-admin-prefix .bx-core-popup-menu-item-disabled .bx-core-popup-menu-item-text {
	color: #A0A0A0;
}

.adm-detail-content-table > tbody > .heading td {
	padding:8px 70px 10px!important;
}

.adm-workarea .heading td {
	background-color:#e0e8ea;
	border-top:11px solid #F5F9F9;
	border-bottom:11px solid #F5F9F9;
	color:#4b6267;
	font-size:14px;
	font-weight:bold;
	text-align:center!important;
	text-shadow:0 1px #fff;
	padding:8px 4px 10px!important;
}

/************ info message *****************/

#bx-admin-prefix .adm-warning-block {
	background:-webkit-linear-gradient(top, #a5b557 0%, #c3d467 25%, #b7ca5e 100%);
	background:-moz-linear-gradient(top, #a5b557 0%, #c3d467 25%, #b7ca5e 100%);
	background:-ms-linear-gradient(top, #a5b557 0%, #c3d467 25%, #b7ca5e 100%);
	background:-o-linear-gradient(top, #a5b557 0%, #c3d467 25%, #b7ca5e 100%);
	background:linear-gradient(top, #a5b557 0%, #c3d467 25%, #b7ca5e 100%);

	text-align:left;
	overflow:hidden;
	position:relative;
	padding-right:40px;
}

.bx-ie8 #bx-admin-prefix .adm-warning-block,
.bx-ie9 #bx-admin-prefix .adm-warning-block
{
	background-color: #c3d467;
}

#bx-admin-prefix.bx-core-adm-dialog .adm-warning-block
{
	top: 51px;
}

.bx-ie8 #bx-admin-prefix.bx-core-adm-dialog .adm-warning-block
{
	top: 49px;
}

#bx-admin-prefix .adm-warning-block-red {
	background:-webkit-linear-gradient(top, #bf94a0 0%, #dcacb8 25%, #d4a6ab 100%);
	background:-moz-linear-gradient(top, #bf94a0 0%, #dcacb8 25%, #d4a6ab 100%);
	background:-ms-linear-gradient(top, #bf94a0 0%, #dcacb8 25%, #d4a6ab 100%);
	background:-o-linear-gradient(top, #bf94a0 0%, #dcacb8 25%, #d4a6ab 100%);
	background:linear-gradient(top, #bf94a0 0%, #dcacb8 25%, #d4a6ab 100%);
}

.bx-ie8 #bx-admin-prefix .adm-warning-block-red,
.bx-ie9 #bx-admin-prefix .adm-warning-block-red {
	background-color: #dcacb8;
}

#bx-admin-prefix .adm-warning-icon
{
	position: absolute;
	left: 15px;
	background:url("images/bx-admin-sprite-small-1.png") no-repeat 0 -2865px;
	height: 36px;
	width: 20px;
}

.bx-quirks #bx-admin-prefix .adm-warning-icon
{
	left: 0;
}

#bx-admin-prefix .adm-warning-text {
	display:inline-block;
	color:#2b4e0c;
	font-size:14px;
	font-weight:bold;
	margin-left:-6px;
	text-shadow:0 1px rgba(255,255,255,0.4);
	padding:10px 15px 10px 44px;
}

#bx-admin-prefix .adm-warning-block-red .adm-warning-icon
{
	background-position:0 -2894px;
}

#bx-admin-prefix .adm-warning-block-red .adm-warning-text
{
	color:#710819;
}

#bx-admin-prefix .adm-warning-text a {color:#134889; font-weight:normal; margin-left:8px; text-decoration: none;}

#bx-admin-prefix .adm-warning-close {
	background:url("images/bx-admin-sprite-small-1.png") no-repeat 9px -2924px;
	cursor:pointer;
	height:36px;
	right:0;
	top:0;
	position:absolute;
	width:40px;
}

#bx-admin-prefix .adm-warning-close:hover {background-position: 9px -2951px;}

#bx-admin-prefix .adm-warning-block-red .adm-warning-close {background-position: 9px -2980px;}
#bx-admin-prefix .adm-warning-block-red .adm-warning-close:hover {background-position: 9px -3007px;}

#bx-admin-prefix .adm-warning-animate {
	-webkit-transition:height 0.3s ease-in, opacity 0.3s ease-in;
	-moz-transition:height 0.3s ease-in, opacity 0.3s ease-in;
	-ms-transition:height 0.3s ease-in, opacity 0.3s ease-in;
	-o-transition:height 0.3s ease-in, opacity 0.3s ease-in;
	transition:height 0.3s ease-in, opacity 0.3s ease-in;
	height:0 !important;
	opacity:0.3 !important;
}

.bx-quirks #bx-admin-prefix .adm-warning-block
{
	height: auto;
}

.bx-quirks #bx-admin-prefix .adm-warning-text
{
	display: inline !important;
	line-height: 22px;
}

.bx-quirks #bx-admin-prefix .adm-warning-animate {display: none;}

/********************** subtabs *****************************/


#bx-admin-prefix .adm-detail-content-item-block-view-tab {
	background:#fff;
	border:1px solid #c5cecf;
	padding:17px 22px 22px;
}

#bx-admin-prefix .adm-detail-content-item-block-view-tab .adm-detail-content-item-block-view-tab {
	background:#f5f9f9;
	border:1px solid #dce7ed;
	margin-bottom:15px;
}

#bx-admin-prefix .adm-detail-subtabs-block {
	text-align:left;
	white-space:nowrap;
}

#bx-admin-prefix .adm-detail-subtabs {
	background:url("images/bx-admin-sprite-small-1.png") repeat-x 0 -2728px;
	border-radius:2px 2px 0 0;
	display:inline-block;
	cursor:pointer;
	color:#1c53a2;
	font-size:13px;
	font-weight:bold;
	text-shadow:0 1px #fff;
	height:25px;
	margin-right:7px;
	padding:10px 15px 0;
	vertical-align:top;
}

#bx-admin-prefix .adm-detail-subtab-active {
	background:#fff;
	border:1px solid #c6cfd0;
	border-bottom:none;
	color:#000;
	margin-bottom:-1px;
	padding:10px 14px 0;
}

#bx-admin-prefix .adm-detail-content-item-block-view-tab .adm-detail-subtab-active {
	background:#f5f9f9;
	border:1px solid #dce7ed;
	border-bottom:none;
}

#bx-admin-prefix .adm-detail-content-item-block table {
	border:none;
	font-size:13px;
	margin:0;
}

#bx-admin-prefix .adm-detail-content-item-block-view-tab > table {margin-bottom:15px; border-spacing: 0;}

#bx-admin-prefix .adm-detail-content-item-block-view-tab > table > tbody > tr > td:first-child {text-align:right;}
#bx-admin-prefix .adm-detail-content-item-block-view-tab > table > tbody > tr > td:last-child {text-align:left;}

#bx-admin-prefix .adm-detail-content-item-block-view-tab > table > tbody > tr > td {padding:5px 4px 7px;}

#bx-admin-prefix .adm-detail-title-view-tab {
	border-bottom:1px solid #DDD;
	font-size:18px;
	margin-bottom:14px;
	text-align:left;
	padding:0 0 15px;
}

/*=================================================================INFORMER POPUP=============================================*/
.adm-informer, .adm-informer a, .adm-informer span, .adm-informer div
{
	/* Protection from user styles */
	letter-spacing:normal !important;
	list-style:none !important;
	text-align: left !important;
	text-indent:0 !important;
	text-transform: none !important;
	visibility:visible !important;
	white-space: normal !important;
	word-spacing:normal !important;
	vertical-align:baseline !important;
	background:scroll transparent none repeat-x 0 0 !important;
	margin:0 !important;
	padding:0 !important;
	border: none !important;
	float: none !important;
	position:static !important;
	text-decoration: none !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}


.adm-informer {
	background:#ebf0f2 !important;
	border: 1px solid #b2bec8 !important;
	border-radius:4px !important;
	-webkit-box-shadow:0 19px 18px 0 rgba(72, 93, 99, 0.45) !important;
	box-shadow:0 19px 18px 0 rgba(72, 93, 99, 0.45) !important;
	position:absolute !important;
	width: 249px !important;
	z-index:1000 !important;
	opacity: 0;
	-webkit-transition:opacity 0.3s ease-out;
	-ms-transition:opacity 0.3s ease-out;
	-moz-transition:opacity 0.3s ease-out;
	-o-transition:opacity 0.3s ease-out;
	transition:opacity 0.3s ease-out;
	display: none !important;
	-webkit-font-smoothing: antialiased;
}

.adm-informer-active {
	display: block !important;
}

.adm-informer-animate {
	opacity: 1;
	-webkit-transition:opacity 0.2s ease-out;
	-ms-transition:opacity 0.2s ease-out;
	-moz-transition:opacity 0.2s ease-out;
	-o-transition:opacity 0.2s ease-out;
	transition:opacity 0.2s ease-out;
}

.adm-informer .adm-informer-arrow {
	background:url("/bitrix/panel/main/images/informer-popup/bx-informer-popup-sprite.png") no-repeat 0 -25px !important;
	content:"" !important;
	left:16px !important;
	top:-9px !important;
	height:9px !important;
	position:absolute !important;
	width:17px !important;
}

.adm-informer .adm-informer-header {
	border-bottom: 1px solid #fff !important;
	-webkit-box-shadow:inset 0 -1px 0 0 #d1dadf !important;
	box-shadow:inset 0 -1px 0 0 #d1dadf !important;
	color:#4a515d !important;
	font: normal normal bold 12px/normal "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	margin-bottom:8px !important;
	text-shadow:0 1px rgba(255,255,255,0.5) !important;
	padding:10px 0 11px 17px !important;
}

.adm-informer .adm-informer-item {padding:0 8px 9px !important; zoom: 1;}

.adm-informer .adm-informer-item-title {
	border-radius:4px 4px 0 0 !important;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.4) !important;
	box-shadow:0 1px 0 rgba(255,255,255,0.4) !important;
	color: white !important;
	font: normal normal bold 12px/normal "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	min-height:15px !important;
	padding: 6px 0 7px 10px !important;
	position:relative !important;
}

.adm-informer .adm-informer-item-close {
	background:url("/bitrix/panel/main/images/informer-popup/bx-informer-popup-sprite.png") no-repeat 100px !important;
	cursor:pointer !important;
	right:0 !important;
	top:0 !important;
	height:29px !important;
	position:absolute !important;
	width:27px !important;
}

.adm-informer .adm-informer-item-blue .adm-informer-item-close {background-position:center -119px !important;}
.adm-informer .adm-informer-item-blue .adm-informer-item-close:hover {background-position:center -179px !important;}

.adm-informer .adm-informer-item-green .adm-informer-item-close {background-position:center -139px !important;}
.adm-informer .adm-informer-item-green .adm-informer-item-close:hover {background-position:center -199px !important;}

.adm-informer .adm-informer-item-gray .adm-informer-item-close {background-position:center -160px !important;}
.adm-informer .adm-informer-item-gray .adm-informer-item-close:hover {background-position:center -220px !important;}

.adm-informer .adm-informer-item-body {
	border-radius:0 0 4px 4px !important;
	-webkit-box-shadow:0 1px 0 #fff !important;
	box-shadow:0 1px 0 #fff !important;
}
.adm-informer .adm-informer-item-html {
	font: normal normal normal 12px/17px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	min-height:37px !important;
	text-shadow:0 1px rgba(255,255,255, 0.7) !important;
	overflow:hidden !important;
	padding: 10px 10px 10px 55px !important;
	position:relative !important;
	zoom:1;
}

.adm-informer .adm-informer-item-html a, .adm-informer .adm-informer-item-footer a {
	color: #394C5B !important;
	text-decoration: underline !important;
	text-shadow: 0 1px rgba(255, 255, 255, 0.7) !important;
	font: normal normal normal 12px/normal "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.adm-informer-item-red .adm-informer-item-html a, .adm-informer-item-red .adm-informer-item-footer a {
	color: #6a4c41 !important;
}

.adm-informer .adm-informer-item-l {float:left !important;}

.adm-informer .adm-informer-item-r {float:right !important;}

.adm-informer .adm-informer-status-bar-block {
	background-color:#9fb25a !important;
	border:1px solid !important;
	border-color:#91a454 #97a957 #8c9c55 !important;
	-webkit-box-shadow:0 1px 1px rgba(22, 50, 93, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.4) !important;
	box-shadow:0 1px 1px rgba(22, 50, 93, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.4) !important;
	border-radius:3px !important;
	height:18px !important;
	margin:2px 0 12px !important;
	clear:both !important;
	position:relative !important;
}

.adm-informer .adm-informer-item-section {overflow:hidden !important; margin-bottom:5px !important;}

.adm-informer .adm-informer-status-bar-indicator {
	background:url("/bitrix/panel/main/images/informer-popup/bx-informer-popup-sprite.png") repeat-x 0 0 !important;
	height:19px !important;
	left:0 !important;
	top:0 !important;
	position:absolute !important;
}

.adm-informer .adm-informer-status-bar-text {
	text-align:center !important;
	color:#fff !important;
	text-shadow:0 1px #33495a !important;
	position:relative !important;
	z-index:5 !important;
}

.adm-informer .adm-informer-item-footer {
	color:#394c5b !important;
	font: normal normal normal 12px/normal "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	min-height:18px !important;
	text-shadow:0 1px rgba(255,255,255,0.7) !important;
	padding:7px 10px !important;
}
.adm-informer .adm-informer-strong-text {font-weight:bold !important;}

.adm-informer .adm-informer-item-blue .adm-informer-item-title{
	background:#7a9ec0 url("/bitrix/panel/main/images/informer-popup/informer-title-blue.gif") repeat !important;
	border:1px solid !important;
	border-color:#5a7a9e #6a8cae #7690a8 !important;
	-webkit-box-shadow:inset 0 1px 1px rgba(22,50,93,0.3), 0 1px 0 rgba(255, 255, 255, 0.4) !important;
	box-shadow:inset 0 1px 1px rgba(22,50,93,0.3), 0 1px 0 rgba(255, 255, 255, 0.4) !important;
	text-shadow:0 1px #345677 !important;
}

.adm-informer .adm-informer-item-blue .adm-informer-item-html  {color:#195187 !important;}
.adm-informer .adm-informer-item-blue .adm-informer-icon {
	background:url("/bitrix/panel/main/images/informer-popup/bx-informer-popup-sprite.png") no-repeat 0 -44px !important;
	left:17px !important;
	top:11px !important;
	height:33px !important;
	position:absolute !important;
	width:24px !important;
}

.adm-informer .adm-informer-item-blue .adm-informer-item-body {
	background:#bfd5e9 !important;
	border: 1px solid !important;
	border-color:#a8bfd6 #a8bfd6 #b7cee3 !important;
	border-top:none !important;
	border-bottom:none !important;
	-webkit-box-shadow:0 0 1px rgba(22, 50, 93, 0.3) inset, 0 1px 0 #fff !important;
	box-shadow:0 0 1px rgba(22, 50, 93, 0.3) inset, 0 1px 0 #fff !important;
}

.bx-quirks .adm-informer .adm-informer-item-blue .adm-informer-item-body { border-bottom: 1px solid #95A8BC !important; }

.adm-informer .adm-informer-item-blue .adm-informer-item-footer {border-top:1px solid #9db9d2 !important;}


.adm-informer .adm-informer-item-green .adm-informer-item-title{
	background:#96aa49 url("/bitrix/panel/main/images/informer-popup/informer-title-green.gif") repeat !important;
	border:1px solid !important;
	border-color:#70843b #829742 #87984c !important;
	-webkit-box-shadow:inset 0 1px 1px rgba(22,50,93,0.3), 0 1px 0 rgba(255, 255, 255, 0.4) !important;
	box-shadow:inset 0 1px 1px rgba(22,50,93,0.3), 0 1px 0 rgba(255, 255, 255, 0.4) !important;
	text-shadow:0 1px #566a08 !important;
}

.adm-informer .adm-informer-item-green .adm-informer-item-html  {
	color:#3b4a00 !important;
	padding:10px 8px 10px !important;
}


.adm-informer .adm-informer-item-green .adm-informer-item-body {
	background:#c7dd72 !important;
	border: 1px solid !important;
	border-color:#a8bfd6 #afc669 #b7cee3 !important;
	border-top:none !important;
	border-bottom:none !important;
	-webkit-box-shadow:0 0 1px rgba(22, 50, 93, 0.3) inset, 0 1px 0 #fff !important;
	box-shadow:0 0 1px rgba(22, 50, 93, 0.3) inset, 0 1px 0 #fff !important;
}

.bx-quirks .adm-informer .adm-informer-item-green .adm-informer-item-body { border-bottom: 1px solid #AFC669 !important;}

.adm-informer .adm-informer-item-green .adm-informer-item-footer {border-top:1px solid #b1c665 !important;}


.adm-informer .adm-informer-item-gray .adm-informer-item-title{
	background: #90a0a9 url("/bitrix/panel/main/images/informer-popup/informer-title-grey.gif") repeat !important;
	border:1px solid !important;
	border-color:#6b7c8a #7c8d98 #859198 !important;
	-webkit-box-shadow:inset 0 1px 1px rgba(22,50,93,0.3), 0 1px 0 rgba(255, 255, 255, 0.4) !important;
	box-shadow:inset 0 1px 1px rgba(22,50,93,0.3), 0 1px 0 rgba(255, 255, 255, 0.4) !important;
	text-shadow:0 1px #345677 !important;
}

.adm-informer .adm-informer-item-gray .adm-informer-icon {
	background: url("/bitrix/panel/main/images/informer-popup/bx-informer-popup-sprite.png") no-repeat 0 -86px !important;
	height: 33px !important;
	left: 14px !important;
	position: absolute !important;
	top: 13px !important;
	width: 30px !important;
}

.adm-informer .adm-informer-item-gray .adm-informer-item-body {
	background-color:#ccd7d9 !important;
	color:#394c5b !important;
	border: 1px solid !important;
	border-color:#b4c1c7 #b4c1c7 #b7cee3 !important;
	border-top:none !important;
	border-bottom:none !important;
	-webkit-box-shadow:0 0 1px rgba(22, 50, 93, 0.3) inset, 0 1px 0 #fff !important;
	box-shadow:0 0 1px rgba(22, 50, 93, 0.3) inset, 0 1px 0 #fff !important;
}

.bx-quirks .adm-informer .adm-informer-item-gray .adm-informer-item-body { border-bottom: 1px solid #9EB1C1 !important;}

.adm-informer .adm-informer-item-gray .adm-informer-item-footer {
	border-top:1px solid #b0bdc1 !important;
}

.adm-informer .adm-informer-item-peach .adm-informer-item-title {
	background: #90a0a9 url("/bitrix/panel/main/images/informer-popup/informer-title-peach.gif") repeat !important;
	border:1px solid !important;
	border-color:#8b894a #a09b53 #a29b5b !important;
	-webkit-box-shadow:inset 0 1px 1px rgba(22,50,93,0.3), 0 1px 0 rgba(255, 255, 255, 0.4) !important;
	box-shadow:inset 0 1px 1px rgba(22,50,93,0.3), 0 1px 0 rgba(255, 255, 255, 0.4) !important;
	text-shadow:0 1px rgba(89,79,8,.8) !important;
}

.adm-informer .adm-informer-item-peach .adm-informer-item-body {
	background-color:#e4db8b !important;
	color:#675d19 !important;
	border: 1px solid !important;
	border-color:#c9c480 #c9c480 #dbd387 !important;
	border-top:none !important;
	border-bottom:none !important;
	-webkit-box-shadow:0 0 1px rgba(22, 50, 93, 0.3) inset, 0 1px 0 #fff !important;
	box-shadow:0 0 1px rgba(22, 50, 93, 0.3) inset, 0 1px 0 #fff !important;

}

.bx-quirks .adm-informer .adm-informer-item-peach .adm-informer-item-body { border-bottom: 1px solid #B2AD72 !important;}

.adm-informer .adm-informer-item-peach .adm-informer-item-html {
	padding:10px 8px !important;
}

.adm-informer .adm-informer-item-peach .adm-informer-status-bar-block {
	background:#b6b169 !important;
}
.adm-informer .adm-informer-item-peach .adm-informer-status-bar-indicator {
	background:url("/bitrix/panel/main/images/informer-popup/bx-informer-popup-sprite.png") repeat-x 0 -376px !important;
}

.adm-informer .adm-informer-item-peach .adm-informer-item-close {
	background-position: center -283px !important;
}
.adm-informer .adm-informer-item-peach .adm-informer-item-close:hover {
	background-position: center -241px !important;
}

.adm-informer .adm-informer-item-red .adm-informer-item-title {
	background: #90a0a9 url("/bitrix/panel/main/images/informer-popup/informer-title-red.gif") repeat !important;
	border:1px solid !important;
	border-color:#977165 #af806f #ac8374 !important;
	-webkit-box-shadow:inset 0 1px 1px rgba(22,50,93,0.3), 0 1px 0 rgba(255, 255, 255, 0.4) !important;
	box-shadow:inset 0 1px 1px rgba(22,50,93,0.3), 0 1px 0 rgba(255, 255, 255, 0.4) !important;
	text-shadow:0 1px rgba(121,53,26,.8) !important;

}

.adm-informer .adm-informer-item-red .adm-informer-item-close {
	background-position: center -304px !important;
}
.adm-informer .adm-informer-item-red .adm-informer-item-close:hover {
	background-position: center -262px !important;
}

.adm-informer .adm-informer-item-red .adm-informer-item-footer {
	color:#6a4c40 !important;
	border-top:1px solid #d5a28f !important;
}

.adm-informer .adm-informer-item-red .adm-informer-item-body {
	background-color:#ebbcab !important;
	color:#7e3b21 !important;
	border: 1px solid !important;
	border-color:#cfa89d #cfa89d #cfa89d !important;
	border-top:none !important;
	border-bottom:none !important;
	-webkit-box-shadow:0 0 1px rgba(22, 50, 93, 0.3) inset, 0 1px 0 #fff !important;
	box-shadow:0 0 1px rgba(22, 50, 93, 0.3) inset, 0 1px 0 #fff !important;

}

.bx-quirks .adm-informer .adm-informer-item-red .adm-informer-item-body { border-bottom: 1px solid #BC998F !important;}

.adm-informer .adm-informer-item-red .adm-informer-icon {
	background: url("/bitrix/panel/main/images/informer-popup/bx-informer-popup-sprite.png") no-repeat 0 -336px !important;
	height: 29px !important;
	left: 14px !important;
	position: absolute !important;
	top: 13px !important;
	width: 28px !important;
}

.adm-informer .adm-informer-footer {
	border-top:1px solid #d1dadf !important;
	-webkit-box-shadow: inset 0 1px #fff !important;
	box-shadow:inset 0 1px #fff !important;
	display:block;
	font: normal normal bold 12px/normal "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color:#1c53a2 !important;
	text-shadow:0 1px rgba(255,255,255,0.5) !important;
	text-decoration:none !important;
	padding:10px 10px 12px 17px !important;
}

.adm-informer .adm-informer-footer:hover {text-decoration:none; !important}

/*=================================================================END INFORMER POPUP=============================================*/
/*=======================================================================INFO MESSAGES=========================================================*/

#bx-admin-prefix .adm-info-message-wrap{
	overflow:hidden;
}

#bx-admin-prefix .adm-info-message-animate {
	-webkit-transition:height 0.3s ease-in, opacity 0.3s ease-in;
	-moz-transition:height 0.3s ease-in, opacity 0.3s ease-in;
	-ms-transition:height 0.3s ease-in, opacity 0.3s ease-in;
	-o-transition:height 0.3s ease-in, opacity 0.3s ease-in;
	transition:height 0.3s ease-in, opacity 0.3s ease-in;
}

#bx-admin-prefix .adm-info-message {
	background:#e6e5be;
	background:-webkit-linear-gradient(top, rgba(244,233,141,.3), rgba(232,209,62,.3), rgba(225,194,40,.3));
	background:-moz-linear-gradient(top, rgba(244,233,141,.3), rgba(232,209,62,.3), rgba(225,194,40,.3));
	background:-ms-linear-gradient(top, rgba(244,233,141,.3), rgba(232,209,62,.3), rgba(225,194,40,.3));
	background:-o-linear-gradient(top, rgba(244,233,141,.3), rgba(232,209,62,.3), rgba(225,194,40,.3));
	background:linear-gradient(top, rgba(244,233,141,.3), rgba(232,209,62,.3), rgba(225,194,40,.3));
	border-radius:5px;
	border:1px solid;
	border-color:#d3c6a3 #cabc90 #c1b37f #c9bc8f;
	-webkit-box-shadow:inset 0 1px 0 #fff;
	box-shadow:inset 0 1px 0 #fff;
	color:#716536;
	display:inline-block;
	margin:16px 0;
	font-size:13px;
	line-height:18px;
	text-shadow:0 1px 0 rgba(255,255,255, 0.7);
	padding:15px 30px 15px 18px;
	position:relative;
}


#bx-admin-prefix .adm-info-message-title {
	color:#000;
	font-size:13px;
	font-weight:bold;
	text-shadow:0 1px #fff;
}

#bx-admin-prefix .adm-info-message-close {
	background:url("images/bx-admin-sprite-small-1.png") no-repeat center -3168px;
	cursor:pointer;
	height:30px;
	right:0;
	top:0;
	position:absolute;
	width:30px;
}

#bx-admin-prefix .adm-info-message-close:hover {background-position: center -3192px;}
#bx-admin-prefix .adm-info-message-green .adm-info-message-close {background-position: center -3214px;}
#bx-admin-prefix .adm-info-message-green .adm-info-message-close:hover {background-position: center -3237px;}
#bx-admin-prefix .adm-info-message-red .adm-info-message-close {background-position: center -3259px;}
#bx-admin-prefix .adm-info-message-red .adm-info-message-close:hover {background-position: center -3280px;}

#bx-admin-prefix .adm-info-message-green .adm-info-message {
	border-color:#bfd3a3 #b5c990 #acc17f #b5c990;
	background:#dbe7c4;
	background:-webkit-linear-gradient(top, rgba(219,231,128,.3), rgba(197,216,93,.3), rgba(177,203,59,.3));
	background:-moz-linear-gradient(top, rgba(219,231,128,.3), rgba(197,216,93,.3), rgba(177,203,59,.3));
	background:-ms-linear-gradient(top, rgba(219,231,128,.3), rgba(197,216,93,.3), rgba(177,203,59,.3));
	background:-o-linear-gradient(top, rgba(219,231,128,.3), rgba(197,216,93,.3), rgba(177,203,59,.3));
	background:linear-gradient(top, rgba(219,231,128,.3), rgba(197,216,93,.3), rgba(177,203,59,.3));
	color:#32520f;
	padding-left:84px;
	position:relative;
}


#bx-admin-prefix .adm-info-message-red .adm-info-message {
	border-color:#dcbec7 #caabb2 #ba9a9f #cbacb3;
	background:#e5d6dc;
	background:-webkit-linear-gradient(top, rgba(241,195,206,.3), rgba(232,162,178,.3), rgba(223,126,148,.3));
	background:-moz-linear-gradient(top, rgba(241,195,206,.3), rgba(232,162,178,.3), rgba(223,126,148,.3));
	background:-ms-linear-gradient(top, rgba(241,195,206,.3), rgba(232,162,178,.3), rgba(223,126,148,.3));
	background:-o-linear-gradient(top, rgba(241,195,206,.3), rgba(232,162,178,.3), rgba(223,126,148,.3));
	background:linear-gradient(top, rgba(241,195,206,.3), rgba(232,162,178,.3), rgba(223,126,148,.3));
	color:#822f3b;
	padding-left:84px;
	position:relative;
}

#bx-admin-prefix .adm-info-message-gray .adm-info-message {
	border-color:#dce4e6 #c6cdcf #9a9fa0 #c6cdcf;
	background-image:-webkit-linear-gradient(top, #d7e1e3, #e3ecef);
	background-image:-moz-linear-gradient(top, #d7e1e3, #e3ecef);
	background-image:-ms-linear-gradient(top, #d7e1e3, #e3ecef);
	background-image:-o-linear-gradient(top, #d7e1e3, #e3ecef);
	background-image:linear-gradient(top, #d7e1e3, #e3ecef);
	color:#505d67;
	font-size: 14px;
	position:relative;
}

#bx-admin-prefix .adm-info-message-gray .adm-info-message-title
{
	color: #6a808e;
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 20px;
}

#bx-admin-prefix .adm-info-message-icon-progress {
	float: left;
	background: url("images/bx-admin-sprite-big.png") no-repeat scroll 0 -1394px transparent;
	height: 35px;
	width: 40px;
}

#bx-admin-prefix .adm-progress-bar-outer {
	height: 32px;
	border:1px solid;
	border-color:#9ba6a8 #b1bbbe #bbc5c9 #b1bbbe;
	-webkit-box-shadow: 1px 1px 0 #fff, inset 0 2px 2px #c0cbce;
	box-shadow: 1px 1px 0 #fff, inset 0 2px 2px #c0cbce;
	background-image:-webkit-linear-gradient(top, #cdd8da, #c3ced1);
	background-image:-moz-linear-gradient(top, #cdd8da, #c3ced1);
	background-image:-ms-linear-gradient(top, #cdd8da, #c3ced1);
	background-image:-o-linear-gradient(top, #cdd8da, #c3ced1);
	background-image:linear-gradient(top, #ced9db, #c3ced1);
	border-radius: 2px;
	text-align: center;
	color: #6a808e;
	text-shadow: 0 1px rgba(255,255,255,0.85);
	font-size: 18px;
	line-height: 35px;
	font-weight: bold;
	position: relative;
}

#bx-admin-prefix .adm-progress-bar-inner {
	height: 28px;
	border-radius: 2px;
	border-top: solid 1px #52b9df;
	background-image:-webkit-linear-gradient(top, #27a8d7, #2396ce, #1c79c0);
	background-image:-moz-linear-gradient(top, #27a8d7, #2396ce, #1c79c0);
	background-image:-ms-linear-gradient(top, #27a8d7, #2396ce, #1c79c0);
	background-image:-o-linear-gradient(top, #27a8d7, #2396ce, #1c79c0);
	background-image:linear-gradient(top, #27a8d7, #2396ce, #1c79c0);
	position: absolute;
	overflow: hidden;
	top: 2px;
	left: 2px;
}

.bx-ie8 #bx-admin-prefix .adm-progress-bar-outer,
.bx-ie9 #bx-admin-prefix .adm-progress-bar-outer {background-color:#cdd8da;}

.bx-ie8 #bx-admin-prefix .adm-progress-bar-inner,
.bx-ie9 #bx-admin-prefix .adm-progress-bar-inner {background-color:#2396ce;}

#bx-admin-prefix .adm-progress-bar-inner-text {
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.2);
	font-size: 18px;
	line-height: 32px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	left: -2px;
	top: -2px;
}

#bx-admin-prefix .adm-info-message-gray .adm-info-message-buttons {padding-top: 15px;}

.bx-ie8 #bx-admin-prefix .adm-info-message-green .adm-info-message,
.bx-ie9 #bx-admin-prefix .adm-info-message-green .adm-info-message {
	background-color:#d4e1bc;
}

.bx-ie8 #bx-admin-prefix .adm-info-message-gray .adm-info-message,
.bx-ie9 #bx-admin-prefix .adm-info-message-gray .adm-info-message {
	background-color:#dde7ea;
}

#bx-admin-prefix .adm-info-message-icon {
	left:0;
	top:0;
	height:100%;
	position:absolute;
	width:68px;
}

#bx-admin-prefix .adm-info-message-icon:before {
	background:url("images/bx-admin-sprite-big.png") no-repeat 0 -1394px;
	content:"";
	height:33px;
	margin-top:-16px;
	left:15px;
	top:50%;
	position:absolute;
	width:32px;
}

#bx-admin-prefix .adm-info-message-icon:after {
	background:url("images/info-mes-border.png") repeat-y 0 0;
	content:"";
	right:0;
	top:4px;
	bottom:3px;
	position:absolute;
	width:5px;
}

#bx-admin-prefix .adm-info-message-red .adm-info-message-icon:before {background-position: 0 -1445px;}
#bx-admin-prefix .adm-info-message-red .adm-info-message-icon:after {background-position:-6px 0;}
/*=======================================================================END INFO MESSAGES=========================================================*/


/*=================================================================TABLE PROPERTIES==================================================*/

#bx-admin-prefix table.internal,
#bx-admin-prefix table.list-table {
	border-radius:4px 4px 0 0;
	border-spacing:0;
	border:1px solid!important;
	border-color:#f1f1f1 #ccd5d7 #cfd8d9 #cfd8da!important;
	border-color:rgba(0,0,0,0.05) rgba(204,213,215,1) rgba(207,216,217,1) rgba(207,216,218,1);
	padding:0;
	border-spacing:0;
}

.bx-ie8 #bx-admin-prefix table.internal,
.bx-ie9 #bx-admin-prefix table.internal,
.bx-ie10 #bx-admin-prefix table.internal { text-align: left; }

#bx-admin-prefix table.list-table { width:100%; }

#bx-admin-prefix table .heading:first-child td {border-top:none;}


#bx-admin-prefix .adm-detail-content-item-block-view-tab > table > tbody > tr.heading  td {
	border-color:#fff;
	text-shadow:0 1px #fff;
	padding-left:22px!important;
}

#bx-admin-prefix .internal .heading td,
#bx-admin-prefix .list-table .heading td
#bx-admin-prefix .adm-workarea-page > .internal .heading td,
#bx-admin-prefix .adm-workarea-page > .list-table .heading td {
	background-color:#e3ebee;
	background-image:-webkit-linear-gradient(top, #e0eaec, #e5ecef);
	background-image:-moz-linear-gradient(top, #e0eaec, #e5ecef);
	background-image:-ms-linear-gradient(top, #e0eaec, #e5ecef);
	background-image:-o-linear-gradient(top, #e0eaec, #e5ecef);
	background-image:linear-gradient(top, #e0eaec, #e5ecef);
	border:none;
	border-bottom:1px solid #e5e5e5!important;
	-webkit-box-shadow:inset 0 -1px 0 #a9a9a9, inset 0 1px 0 #fff, inset 0 -2px 0 rgba(255,255,255,0.3);
	box-shadow:inset 0 -1px 0 #a9a9a9, inset 0 1px 0 #fff, inset 0 -2px 0 rgba(255,255,255,0.3);
	color:#586d7c;
	font-weight:bold;
	font-size:13px;
	height:43px;
	text-shadow:0 1px #fff;
	vertical-align:middle;
}

#bx-admin-prefix .internal .heading:first-child td:first-child,
#bx-admin-prefix .list-table .heading:first-child td:first-child {border-top-left-radius:4px; padding-left:15px!important;}

#bx-admin-prefix .internal .heading:first-child td:last-child,
#bx-admin-prefix .list-table .heading:first-child td:last-child {border-top-right-radius:4px; padding-right:15px !important;}


#bx-admin-prefix .list-table td,
#bx-admin-prefix .internal td {
	background: #fafcfc;
	border-bottom:1px solid #d0d7d8!important;
	color:#3f4b54!important;
	font-size:13px;
	height:15px!important;
	text-shadow:0 1px #fff;
	padding:12px 10px 12px 10px!important;
}

#bx-admin-prefix .adm-workarea-page > .list-table td,
#bx-admin-prefix .adm-workarea-page > .internal td {  background: #fff; }
#bx-admin-prefix .list-table-white td,
#bx-admin-prefix .internal-white td { background: #fff; }

#bx-admin-prefix .list-table td { vertical-align:top; }

#bx-admin-prefix .list-table td:first-child {text-align:left!important;}

#bx-admin-prefix .internal tr:last-child td,
#bx-admin-prefix .list-table tr:last-child td {border:none!important;}

#bx-admin-prefix td.bx-digit-cell {text-align: right;}
/*=================================================================END TABLE PROPERTIES==================================================*/


/*================================================================= FIELDS==================================================*/

.adm-workarea .adm-input-wrap {display:block; -ms-border-radius:3px; position:relative; vertical-align:top; padding-top:1px;}
.adm-workarea .adm-input-wrap .adm-input {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; height:27px;  width:100%;}
.adm-workarea .adm-input-wrap .adm-input::-ms-clear { display: none;}
.adm-workarea .adm-filter-box-sizing .adm-select { height: 26px;  padding-top: 4px;}
.adm-filter-box-sizing .adm-select-wrap:after { top: 9px; }

.bx-ie8 .adm-workarea .adm-input-wrap .adm-input { line-height: 26px; }
.bx-ie8 .adm-workarea .adm-input-wrap .adm-input[type="password"] { line-height: normal; }

.adm-workarea .adm-detail-content-cell-r .adm-input-wrap {min-width:200px;}


.adm-workarea .adm-calendar-block .adm-input-wrap {max-width:250px;}
.bx-ie9 .adm-workarea .adm-calendar-block .adm-input-wrap,
.bx-ie8 .adm-workarea .adm-calendar-block .adm-input-wrap
{
	max-width:150px;
}

#bx-admin-prefix .adm-input-wrap-calendar {
	display:inline-block;
	position: relative;
}

.bx-opera #bx-admin-prefix .adm-input-wrap-calendar,
.bx-ie8 #bx-admin-prefix .adm-input-wrap-calendar,
.bx-ie9 #bx-admin-prefix .adm-input-wrap-calendar
 {
	display:inline-block;
	min-width:170px;
 }


#bx-admin-prefix .adm-calendar-icon {
	background:url("images/bx-admin-sprite-small-1.png") no-repeat 0 -1934px;
	border:none!important;
	cursor:pointer;
	height:15px;
	right:10px;
	top:6px;
	outline:none;
	position:absolute;
	width:16px;
}

#bx-admin-prefix .adm-calendar-icon:hover {background-position:-1px -3487px;}

#bx-admin-prefix .adm-detail-required-field .adm-detail-content-cell-l { font-weight: bold; }
#bx-admin-prefix .adm-required-field { font-weight: bold;}

/*================================================================= END FIELDS==================================================*/

/*================Checkbox and Radiobutton lists==================*/
.adm-list {}
.adm-list-item { overflow: hidden; margin: 6px 0 0 0; }
.adm-list-item:first-child, .adm-list-radio .adm-list-item { margin-top: 0;}
.adm-list-control { float: left; }
.adm-list-label { display: block; overflow: hidden; padding: 0 0 0 4px; margin: 0; }
.adm-list-radio .adm-list-label { padding-top: 2px;}