/*стили для селекта*/
@import url("/bitrix/templates/.default/components/restoran/editor/editor/chosen.css");
/*******************/



#p_editor{} 
#p_editor .left{width:147px;margin-right: 18px;position: relative;height:550px;}
#p_editor .right{float:right;width:150px;position: relative;height:550px;}
#p_editor .cntr{float: left;width:645px;}
#p_editor .ttl{font-size: 18px;font-family: Georgia;margin-bottom: 10px;}

#add_modules{position: absolute;}
#add_modules .ttl{font-size: 18px;font-family: Georgia;margin-bottom: 10px;}
#add_modules .help{color:#a3abac;font-size: 11px;font-style: italic;line-height: 16px;font-family: Georgia;padding-top:16px;}
#add_modules ul{list-style: none;padding: 0px;margin: 0px;}
#add_modules ul .block{display: block;margin-bottom: 10px; text-align: center;}
#add_modules ul .block a{display: block;line-height: 14px;color:#1a1a1a;padding-bottom: 9px;padding-top: 9px;background-color:#f2f2f2;text-decoration: none;font-size: 10px;font-family: Georgia;text-transform: uppercase;}
#add_modules .block a:hover{background-color: #24a6cf;color:#fff;}
#add_modules .ui-sortable-helper a:hover{background-color:#f2f2f2;}

#req_inp{list-style: none;padding: 0px;margin: 0px;}
#req_inp > li{margin-bottom: 10px;background-color: #f2f2f2;padding: 15px;border:1px solid #c2c4c7;}
#req_inp > li.ui-state-disabled{cursor: default;}



#block_list{list-style: none;padding: 0px;margin: 0px;padding-top:30px;}
#block_list > li{margin-bottom: 10px;background-color: #f2f2f2;padding: 15px;cursor: move;}
#block_list .ui-state-highlight {background-color: #fff;border:1px dashed #24a6cf; }
#block_list > li.ui-state-disabled{cursor: default;}

.ui-draggable-dragging{width:147px;z-index: 999;}

.content_block{position: relative;}

.content_block .name{position: relative;font-size: 10px;text-transform: uppercase;font-family: Georgia;color:#1a1a1a;margin-bottom: 5px;}
.content_block a.remove_block{position: absolute;font-size: 11px;line-height: 12px;font-style: italic;text-decoration: underline;color:#3b414e;right:0px;text-transform: none;bottom:3px;}
.content_block a.remove_block:hover{text-decoration: none;}
.content_block .iln{height:38px;line-height: 38px;}
.content_block input.pole, .content_block input.date{height:38px;line-height: 38px;border:0px !important;padding:0px !important;width:601px;padding-left:13px !important;font-size: 14px;font-family: Georgia;color:#1a1a1a;outline: none;text-align: left;-webkit-box-shadow:none;}
.content_block textarea.pole{height:160px;line-height: 24px;border:0px;width:601px;padding-left:13px;font-size: 14px;font-family: Georgia;color:#1a1a1a;outline: none;}
.content_block .simbol_co{text-align: right;font-style: italic;font-size: 11px;color:#a3abac;margin-top:5px;}
.content_block .iln2{padding-top: 12px;}



.content_block .short{width:480px;}
.content_block .short input.pole{width:467px;}
.content_block .short textarea.pole{width:467px;}

.content_block .autor_photo{width:113px;position: absolute;top:85px;right: 0px;}
.content_block .autor_photo .image{height:111px;width:111px;overflow: hidden;-webkit-border-radius: 55px;-moz-border-radius: 55px;border-radius: 55px;}
.content_block .autor_photo .lnk{text-align: center;margin-top: 5px;position: relative;cursor: pointer;}
.content_block .autor_photo .lnk a{background-color:#3b414e;width:85px;height:38px;color:#fff;display: block;margin:0 auto;line-height: 38px;text-transform: uppercase;text-align: center;font-size: 11px;font-family: Georgia;text-decoration: none;}


.content_block .autor_photo .file_field{background-color: #000;position: absolute;height:35px;width:113px;z-index: 5;top:0px;opacity: 0;left:0px;cursor: pointer;display: block;}

.pic_added{}
.pic_added .pic{float:left;width:130px;overflow: hidden;-webkit-border-radius: 65px;-moz-border-radius: 65px;border-radius: 65px;height:130px;overflow: hidden;}
.pic_added .pic img{margin: 0px;}
.pic_added .lnk{float:left;width:465px;margin-left: 15px;}



#p_editor .buts{position: relative;padding-top: 27px;overflow: hidden;}
#p_editor .buts .lb{float:left;width:50%;}
#p_editor .buts .lb a{float:right;display: block;height:33px;line-height: 33px;color:#1a1a1a;background-color:#f2f2f2;font-size: 16px;font-family: Georgia;text-decoration: none;padding-left:23px;padding-right: 23px;margin-right: 5px; }
#p_editor .buts .rb{float:right;width:50%;}
#p_editor .buts .rb a{float:left;display: block;height:33px;line-height: 33px;color:#fff;background-color:#24a6cf;font-size: 16px;font-family: Georgia;text-decoration: none;padding-left:23px;padding-right: 23px;margin-left: 5px; }

#p_editor .comments{color:#a3abac;font-style: italic;font-size: 11px;line-height: 18px;font-family: Georgia;text-align: center;padding-top: 30px;padding-bottom: 10px;}

.ui-sortable-helper{background-color: #c2c4c7 !important;}


#choose_tags{position: absolute;}
#choose_tags .ln{background-color: #f2f2f2;padding:5px;position: relative;}
#choose_tags .ln .pole{height:23px;padding: 0px;line-height: 23px;border:0px;width:132px;padding-left: 8px;outline: none;}
#choose_tags .sub_t{font-size: 11px;text-transform: uppercase;color:#1a1a1a;margin-bottom: 5px;margin-top: 20px;}

#choose_tags .tag_list{margin-top:12px;}
#choose_tags .tag_list a{display: block;margin-bottom: 9px;text-decoration: none;color:#3b414e;font-size: 12px;line-height: 12px;padding-left: 20px;background: url(tag_del.gif) 0px 3px no-repeat;}
#choose_tags .tag_list a:hover{color:#24a6cf;}
#choose_tags .pop{}
#choose_tags .pop a{font-style: italic;color:#24a6cf;font-family: Georgia;font-size: 12px;line-height: 24px;margin-right: 6px;}

#choose_tags .all_tags{text-align: right;margin-top:10px;}
#choose_tags .all_tags a{font-size: 11px;text-transform: uppercase;color:#1a1a1a;text-decoration: none;}
#choose_tags .all_tags a:hover{text-decoration: underline;}

#choose_tags .all_tags_lis{position: absolute;width:140px;background-color: #fff;border:1px solid #f2f2f2;border-top:0px;margin-left: -1px;display: none;}
#choose_tags .all_tags_lis a{display: block;padding-left: 8px;text-decoration: none;line-height: 20px;}
#choose_tags .all_tags_lis a:hover{color:#fff;background-color:#24A6CF;}

#choose_tags .add_new_tag{display: block;position: absolute;right:10px;background: url(tag_plus.png) 0px 0px no-repeat;width:9px;height:9px;top:12px;display: none;}


/*стили от Стасона*/
#img-container {background:#f2f2f2; padding:20px; min-height:200px; margin-bottom:12px;}
.imu_content {position:relative; height:200px; background:#fff; border:1px dotted #000;}
.console {background:#000; color:#fff; text-align:left;}
.upl-description {color:#1a1a1a; font:Italic 12px/18px Georgia; text-align:center; position:absolute; width:100%; top:50%; margin-top:-40px}
.upl-description p {position:relative; width:240px; margin:0 auto; margin-top:6px;}
.upl-description .file-field {position:absolute; z-index:2; left:0; top:0; height:35px; width:100%; opacity:0; cursor:pointer;}
.upl-description em {background:#24a6cf; color:#fff; font:18px/35px Georgia; position:absolute; z-index:1; left:0; top:0; width:100%; height:35px; cursor:pointer;}
#workfield {position:relative;}
.upl-imgs {padding-top:20px; margin-bottom:12px;}
.img-list{list-style: none;padding: 0px;margin: 0px;}
.img-list li {margin-bottom:15px; overflow:hidden;}
.img-list em {border:1px solid #fff; height:75px; width:75px; overflow:hidden; float:left; margin-right:15px; background:#f8f8f8}
.img-list textarea {color:#3b414e; min-height:67px; width:510px; padding:5px; height:100%; border:0; margin-bottom:6px;}
.img-list img {}
.loc-f-name {margin-left:90px; margin-bottom:2px; float:right;}
.progress {padding:2px; width:73px; font:11px Georgia}
.dela {text-align:right; float:right;}
.dela a {color:#3b414e !important; font:Italic 11px Georgia;}

.up {text-align:right; float:left;}
.up a {color:#3b414e !important; font:Italic 11px Georgia;}

#actions button {background:#24a6cf; color:#fff; border:0; font:18px/35px Georgia; text-align:center; width:140px; cursor:pointer;}
#actions button.notactive {background:#ddd}
#leftpanel {text-align:right;}
/*******************/



/*custom upload elements*/
.customfile-input { position: absolute; height: 38px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999;  }

.customfile {cursor: pointer; overflow: hidden; position: relative; }
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback { display: block;}

.customfile-button {background-color:#3b414e;width:85px;height:38px;color:#fff;display: block;margin:0 auto;line-height: 38px;text-transform: uppercase;text-align: center;font-size: 11px;font-family: Georgia;  }
.customfile-hover .customfile-button, .customfile-focus .customfile-button  { }
.customfile-focus .customfile-button {outline: 1px dotted #ccc;}

.one_file .customfile-button{float:right;}
.one_file .customfile-feedback{background-color: #fff;height: 38px;line-height: 38px;border: 0px;padding-left: 13px;font-size: 14px;font-family: Georgia;color:#1A1A1A;margin-right: 100px;}


.ph_gals .customfile-button{float:right;}
.ph_gals .customfile-feedback{background-color: #fff;height: 38px;line-height: 38px;border: 0px;padding-left: 13px;font-size: 14px;font-family: Georgia;color:#1A1A1A;margin-right: 100px;}


