* {
	margin: 0;
	padding: 0;
}
header, nav, section, article, aside, footer {
	display: block;
}
body, img {
border: 0;
margin: 0;
padding: 0;
}
body {
	font: 12px/18px Georgia, sans-serif;
	width: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
@font-face{font-family:'appetite';src:url('http://www.restoran.ru/tpl/fonts/appetite-italic-webfont.eot');src:url('http://www.restoran.ru/tpl/fonts/appetite-italic-webfont.eot?#iefix') format('embedded-opentype'),
url('http://www.restoran.ru/tpl/fonts/appetite-italic-webfont.woff') format('woff'),
url('http://www.restoran.ru/tpl/fonts/appetite-italic-webfont.ttf') format('truetype'),
url('http://www.restoran.ru/tpl/fonts/appetite-italic-webfont.svg#appetite') format('svg');font-weight:normal;font-style:normal}
/* Begin of styles for the demonstration (you can remove them) */
a.expand {
	width: 150px;
	display: block;
	margin: 10px 0 0;
}
a.expand:hover {
	height: 500px;
}
/* End of of styles for the demonstration */
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrap {
	width: 810px;
      height: 100%;
}
.filter_popup {
	display:block !important;
}


.ac_results{padding:0px;border:1px
solid #CCC;background-color:white;overflow:hidden;z-index:99999;padding:3px
0px;width:568px!important}.ac_results
ul{width:100%;list-style-position:outside;list-style:none;padding:0;margin:0}.ac_results
li{margin:0px;padding:5px
5px;cursor:pointer;display:block;font-size:12px;line-height:16px;overflow:hidden}.ac_loading{background:white url('/tpl/images/indicator.gif') right center no-repeat}.ac_odd{}.ac_over{background-color:#24a6cf;color:white}.cusel,.cuselFrameRight,.jScrollPaneDrag,.jScrollArrowUp,.jScrollArrowDown{background:url(/bitrix/templates/main/images/selects-2.png) no-repeat;outline:none}.cusel{height:26px;background-position:left top;display:inline-block;position:relative;cursor:pointer;font-size:14px;z-index:1 !important;}.cuselFrameRight{position:absolute;z-index:2;top:0;right:0;height:100%;width:24px;background-position:right top}.cuselText{height:14px;padding:6px
0 0 7px;cursor:pointer;overflow:hidden;position:relative;z-index:1;font-size:12px;position:absolute;top:0;right:33px}* html


div.rating {  height:18px}
div.star_a { float: left;  background: url('/bitrix/templates/main/images/stars.png') top left no-repeat; background-position: 0px 0px; height: 18px; width: 22px; }
div.star { float: left;  background: url('/bitrix/templates/main/images/stars.png') top left no-repeat; background-position: 0px -19px; height: 18px; width: 22px; }
.active_rating .star,.active_rating .star_a {cursor:pointer;}
div.small_star_a { float: left;  background: url('/bitrix/templates/main/images/small_stars.png') top left no-repeat; background-position: 0px 0px; height: 11px; width: 13px; }
div.small_star { float: left;  background: url('/bitrix/templates/main/images/small_stars.png') top left no-repeat; background-position: 0px -11px; height: 11px; width: 13px; }

#system_loading {display:none;}

#filter41 {
	height:521px;
	overflow: hidden;
}

#filter54 {
	height:577px;
	overflow:hidden;
}
#filter42 {
	height:167px;
}
.preview_text_full {
	position:absolute;
	width:561px;
	padding:0 37px;
	margin-left:-37px;
	background: #25beea;
	padding-bottom: 37px;
	margin-top: 0px;
}


.big_modal {
	display:none !important;
}


#baner_inv_block {
	display:none;
}

.special_scroll {
	display:none !important;
}

.img4 {
	cursor: auto !important;
}

a.next {
	background:url(/facebook/img/next.png) top left no-repeat;
	width:35px;
	height:35px;
}

a.next:hover {
	background:url(/facebook/img/next.png) 0 -35px no-repeat;
}

a.prev {
	background:url(/facebook/img/prev.png) top left no-repeat;
	width:35px;
	height:35px;
}

a.prev:hover {
	background:url(/facebook/img/prev.png) 0 -35px no-repeat;
}

.scroll_arrows {
	font-family: Georgia;
	font-size:10px;
	color: #3b414e;
	margin-left:15px;
	position: absolute;
}


.search-page-bq {
	background: #f2f2f2 url(img/left-bg.png) top right repeat-y;
}

.search-page {
	padding:40px;
	color:#3b414e;
}

.search-page a {
	color:#25beea;
	font-family: appetite;
	text-decoration:none;
	font-size:14px;
	display:block;
	margin-bottom:3px;
}
.search-page a:hover {
	color:#3b414e;
}

.ac_results {
	width:352px !important;
	margin-left:15px;
	margin-top:-4px;
}

.ac_results li a{
	color:#3b414e;
}
.ac_results li a:hover {
	color:#fff;
}

/* */


/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.scroll-pane
{
	width: 154px;
	height: 538px;
	overflow: auto;
	outline: none;
}

#filter41 .scroll-pane-down
{
	width: 154px;
	height: 521px;
	overflow: auto;
	outline: none;
}

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 6px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #7f838a;
	position: relative;
}

.jspDrag
{
	background: #fff;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 234px;
	background: #fff url(img/top-head.png) top left repeat-x;
}

.logo {
	float:left;
	margin-left:34px;
	margin-top:49px;
}

.top-menu {
	float:right;
	margin-right:15px;
	margin-top:50px;
}
.top-menu li {
	float:left;
	margin-left:10px;
	margin-right:14px;
	color:#25beea;
	font-size:14px;
}
.top-menu li:first-child {
	list-style:none;
}
.top-menu li a {
	color:#3b414e;
	text-decoration:none;
	font-size:14px;
	font-family: Georgia;
	font-weight:normal;
	text-transform: uppercase;
}
.top-menu li a:hover {
	text-decoration: underline;
}
.top-menu li:first-letter {
	font-size:20px;
}
a.order-table-head {
	display:block;
	background: url(img/order-table.png) top left no-repeat;
	width:381px;
	height:86px;
	float:right;
	margin-right:25px;
	margin-top:15px;
}
.tel-head {
	float:left;
	font-size:16px;
	color:#3b414e;
	font-style: italic;
	margin-left:37px;
	margin-top:34px;
}
.head-social {
	float:left;
	margin-left:30px;
	margin-top:24px;
}
.head-social div {
	float:left;
	width:35px;
	height:35px;
	border-radius: 100%;
	background:#eef3f6;
	text-align: center;
	line-height:40px;
	margin-right:20px;
}
/* Middle
-----------------------------------------------------------------------------*/
#middle {
	border-right: 175px solid #3b414e;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
.review {
	width:100%;
	height:253px;
}
.review-bg {
	float:right;
	width: 288px;
	height:187px;
	background: url(img/review.png) top right no-repeat;
	padding-left:60px;
	padding-top:66px;
	padding-right:60px;
	line-height: 24px;
}
.review-bg h2 {
	color:#fff;
	font-family: appetite;
	font-size:28px;
	margin-bottom:16px;
}
.review-bg p {
	color:#3b414e;
	font-size:16px;
	font-style:italic;
}
a.review-bg-button {
	display:block;
	background:#3b414e;
	height:28px;
	padding:0 22px;
	width:auto;
	float:left;
	color:#fff;
	text-decoration:none;
	font-family: Arial;
	font-size:11px;
	line-height:28px;
	text-transform: uppercase;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-right: -100%;
	
}
#content {
	padding: 0px;
}
.rest-page-opinions {
	
}
.opinions {
	background:url(img/left-bg.png) top left repeat-y;
	width:255px;
	min-height:100%;
	float:left;
	position:absolute;
}

.opinions-items {
	width:178px;
	margin:0 auto;
	margin-top:29px;
	margin-bottom:20px;
	color:#3b414e;
}
.opinions-item {
	margin-top:27px;
}
.opinion-head {
	font-size:10px;
	font-style: italic;
}
.opinion-head span {
	font-weight:bold;
}
.opinion-head a {
	color:#25beea;
	font-family: appetite;
	text-decoration:none;
	font-size:14px;
}
.opinion-head a:hover {
	text-decoration: underline;
}
.opinion-text {
	font-size:11px;
}
.opinion-text a {
	color:#25beea;
}
a.opinion-bg-button {
	display:block;
	background:#25beea;
	height:28px;
	padding:0 22px;
	width:auto;
	float:left;
	color:#fff;
	text-decoration:none;
	font-family: Arial;
	font-size:11px;
	line-height:28px;
	text-transform: uppercase;
	margin-top:29px;
}
h2 {
	font-size:30px;
	line-height:30px;
	color:#3b414e;
	font-family: appetite;
	margin-bottom:22px;
}
.top-five {
	float:left;
	width:380px;
	height:100%;
	margin-left:255px;
	margin-bottom: -18px;
}
.top-five-tizer {
	background: #25beea;
	width:132px;
	height:132px;
	border-radius:100%;
	position:absolute;
	color:#fff;
	font-family: appetite;
	font-size:36px;
	text-align:center;
	line-height:115px;
	vertical-align: middle;
	right:26px;
	top:26px;
	z-index:1000;
}
.top-five-tizer span {
	color:#3b414e;
	font-size:16px;
	display:block;
	margin-top:-90px;
}
.top-five-item {
	width:380px;
	height:253px;
	position:relative;
}
.five-item-description {
	background:#000;
	width:210px;
	min-height:48px;
	position:absolute;
	left:0;
	bottom:0;
	color:#fff;
	padding-left:19px;
	padding-top:18px;
	padding-right:19px;
}
.five-item-description a {
	font-family: appetite;
	color:#25beea;
	font-size:14px;
	text-decoration:none;
}
.five-item-description a:hover {
	color:#fff;
}


.blog-page-navigation-facebook {
	text-align:center;
	font-size: 20px;
	font-weight: normal;
	color: #3b414e;
	width: 576px;
	margin-top: 37px;
	float:left;
}
.blog-page-navigation-facebook a {
	color:#25beea;
}
.blog-page-navogation-facebook a:hover {
	color: #3b414e;
}
.blog-page-navigation-facebook .blog-page-previous {
	float: left;
	color: #25beea;
	font-family: appetite;
	text-decoration: none;
	font-size: 14px;
	margin-top:-10px;
}
.blog-page-navigation-facebook .blog-page-previous:hover {
	color:#3b414e;
}
.blog-page-navigation-facebook .blog-page-next {
	float: right;
	color: #25beea;
	font-family: appetite;
	text-decoration: none;
	font-size: 14px;
	margin-top:-10px;
}

.blog-page-navigation-facebook .blog-page-next:hover {
	color:#3b414e;
}

/*Rest card --- */

.rest-head {
	width:810px;
	min-height:253px;
	position:relative;
}
.rest-head .top-five-tizer {
	left:37px !important;
}
.rest-bg {
	float:right;
	width: 332px;
	height:225px;
	background: url(img/rest-title.png) center right no-repeat;
	padding-left:62px;
	padding-top:28px;
	padding-right:15px;
	line-height: 22px;
	color:#fff;
}
.rest-bg h2 {
	color:#fff;
	font-family: appetite;
	font-size:28px;
	margin-bottom:16px;
}
.rest-bg p {
	color:#fff;
	font-size:16px;
	font-style:italic;
	margin-bottom:0px;
}

.rest-bg span {
	background: url(http://restoran.ru/tpl/images/metro_icon.png) left 2px no-repeat;
	padding-left: 20px;
	line-height: 20px;
	display: block;
}

.rest-bg a {
	color:#fff;
	text-decoration:none;
}

.rest-bg .catalog-order {
	margin-top:7px;
	display:block;
}
.rest-page {
	border-right:0px !important;
}

.rest-decription {
	width:810px;
	min-height:205px;
	position:relative;
	z-index:20;
}

#map_area {
	height:435px !important;
}
.rest-decription-text {
	float:left;
	width:561px;
	padding-left:37px;
	padding-right:37px;
	padding-top: 28px;
	min-height:177px;
	background:#25beea;
}
.rest-decription-text p {
	color:#fff;
	font-size:16px;
	font-style:italic;
	
}

.preview_text_crop {
	
	max-height: 125px;
	overflow: hidden;
}
.rest-decription-text a {
	color:#fff;
	font-family: appetite;
	font-size:14px;
	text-decoration:none;
}
.rest-menu-preview {
	width:141px;
	height:177px;
	padding-left:17px;
	padding-right:17px;
	padding-top:28px;
	float:left;
	background:url(img/menu-prev.png) top left no-repeat;
	color:#fff;
}
.rest-menu-preview p {
	margin-bottom:14px;
	line-height:12px;
}
.opinions-items p span {
	display:block;
	font-weight:bold;
}
.opinions-items p {
	margin-bottom:10px;
	line-height:14px;
	word-wrap: break-word;
}

.rest-info {
	
	width:555px;
	min-height:900px;
	margin-left:255px;
}
.rest-info-map {
	height:435px;
}

.rest-info-photos img {
	max-height:370px;
	max-width:555px;
}

	
/* Order page --- */

#middle.order-page {
	border-right:430px solid #fff !important;
}
.order-right {
	width:430px !important;
	margin-right:-430px !important;
	background: url(img/order-right.png) top left repeat-y !important;
	color:#3b414e !important;
	min-height:1012px;
}
.order-top {
	margin-left:0 !important;
}

.order-right h2 {
	color:#3b414e !important;
}
.order-right h4 {
	padding-top:20px !important;
	font-family: appetite !important;
	font-size:14px !important;
	text-transform: none !important;
	font-weight: normal !important;
	margin-bottom:8px !important;
}
.order-right-block {
	padding-left:35px;
	color:#3b414e !important;
	padding-bottom:66px;
}
.order-right-block li {
	list-style:none;
	line-height:17px;
}
input.order-search {
	width:359px;
	height:32px;
	border:0px;
	border-radius:20px;
	font-size:16px;
	font-family: Georgia;
	font-style:italic;
	color:#3b414e;
	padding-left:21px;
	outline: none;
}
hr {
	width:380px;
	display:block;
	margin-top:20px;
	margin-bottom:20px;
	height:2px;
	border: none;
	background: url(img/border-bottom-order.png) top left no-repeat;
}


.ui-datepicker-title {
	font-family: appetite;
	font-size:14px;
	color:#3b414e;
	line-height: 35px;
}
table {
	border-spacing: 1px 0px;
}
#datepicker {
	width:216px;
	text-align:center;
	float:left;
	min-height:265px; 
}
.ui-datepicker-calendar {
	width:216px;
	font-family: Arial;
}
.ui-datepicker-calendar td {
	width:30px;
	height:30px;
	background: url(img/data-bg.png) top left no-repeat;
	color:#3b414e;
}
.ui-datepicker-calendar td a {
	color:#3b414e !important;
}
.ui-datepicker-current-day {
	background: url(img/data-select.png) top left no-repeat !important;
	color:#fff;
}
.ui-datepicker-calendar td a.ui-state-active {
	color:#fff !important;
}
th {
	font-family: Arial;
	font-size:11px;
	font-weight:bold;
	text-transform: uppercase;
	width:30px;
	height:30px;
}
a.ui-datepicker-prev {
	display:block;
	width:35px;
	height:35px;
	background:url(img/prev.png);
	text-indent: -9999px;
	cursor: pointer;
	float:left;
}
a.ui-datepicker-prev:hover {
	background-position: 0 -35px;
}

a.ui-datepicker-next {
	display:block;
	width:35px;
	height:35px;
	background:url(img/next.png);
	text-indent: -9999px;
	cursor: pointer;
	float:right;
}
a.ui-datepicker-next:hover {
	background-position: 0 -35px;
}

.order-time {
	float:right;
	margin-right:15px;
	margin-top:22px;
	width:140px;
}

input.order-time-input {
	width:119px;
	height:32px;
	border:0px;
	border-radius:20px;
	font-size:16px;
	font-family: Georgia;
	font-style:italic;
	color:#3b414e;
	padding-left:21px;
	outline: none;
}

.order-people {
	float:right;
	margin-right:15px;
}

input.order-people-input {
	width:119px;
	height:32px;
	border:0px;
	border-radius:20px;
	font-size:16px;
	font-family: Georgia;
	font-style:italic;
	color:#3b414e;
	padding-left:21px;
	outline: none;
}


input.order-name-input {
	width:359px;
	height:32px;
	border:0px;
	border-radius:20px;
	font-size:16px;
	font-family: Georgia;
	font-style:italic;
	color:#3b414e;
	padding-left:21px;
	outline: none;
}
textarea.order-textarea {
	width:338px;
	height:68px;
	border:0px;
	border-radius:20px;
	font-size:16px;
	font-family: Georgia;
	font-style:italic;
	color:#3b414e;
	padding:21px;
	outline: none;
	margin-bottom:15px;
}
.has-js label {
	display:block;
	float:left;
	height:24px;
	margin-right:30px;
	line-height:24px;
}
.label_check, .label_radio    { padding-left: 8px; padding-right:9px;}

.label_check input,
.label_radio input  { position: absolute; left: -9999px; }
.smoking {
	height:18px;
	display:block;
	font-size:16px;
	font-family: Georgia;
	color:#3b414e;
	font-style:italic;
}
.smoking h4 {
	float: left;
	padding-top: 2px !important;
	padding-right: 10px;
}

.QapTcha .TxtStatus {
	height:46px;
}

/* Opinions --- */

/* Order page --- */

#middle.opinion-page {
	border-right:584px solid #fff !important;
}
.opinion-right {
	width:584px !important;
	margin-right:-584px !important;
	background: #f2f2f2 url(img/order-right.png) top left repeat-y !important;
	color:#3b414e !important;
	min-height:735px;
}
.opinion-top {
	margin-left:0 !important;
}

.opinion-right h2 {
	color:#3b414e !important;
}
.opinion-right h4 {
	padding-top:20px !important;
	font-family: appetite !important;
	font-size:14px !important;
	text-transform: none !important;
	font-weight: normal !important;
	margin-bottom:8px !important;
}
.opinion-right-block {
	padding-left:35px;
	color:#3b414e !important;
	padding-bottom:55px;
}
.opinion-right-block li {
	list-style:none;
	line-height:17px;
}
.opinion-page .opinions {
	width:226px !important;
}
input.opinion-search {
	width:518px;
	height:32px;
	border:0px;
	border-radius:20px;
	font-size:16px;
	font-family: Georgia;
	font-style:italic;
	color:#3b414e;
	padding-left:21px;
	outline: none;
}
.opinion-page hr {
	width:539px;
	display:block;
	margin-top:20px;
	margin-bottom:20px;
	height:2px;
	border: none;
	background: url(img/border-bottom-order.png) top left repeat-x;
}

input.light_button {
	border: none;
	text-indent: -9999px;
	width: 177px;
	height: 32px;
	cursor: pointer;
}
.opinion-button {
	background: url(/facebook/img/write-opinion.png) top left no-repeat;
}
.catalog-order  {
	background: url(/facebook/img/order-catalog.png) top left no-repeat;
}
input.opinion-name-input {
	width:518px;
	height:32px;
	border:0px;
	border-radius:20px;
	font-size:16px;
	font-family: Georgia;
	font-style:italic;
	color:#3b414e;
	padding-left:21px;
	outline: none;
}
textarea.opinion-textarea {
	width:497px;
	height:134px;
	border:0px;
	border-radius:20px;
	font-size:16px;
	font-family: Georgia;
	font-style:italic;
	color:#3b414e;
	padding:21px;
	outline: none;
	margin-bottom:15px;
}




/* Catalog --- */

.catalog {
	background:#f2f2f2 url(img/left-bg.png) top right repeat-y;
	width:598px;
	min-height:100%;
	float:left;
	position:absolute;
	padding-left:37px;
}

.catalog-opinions {
background: #f2f2f2 url(img/left-bg.png) top right repeat-y;
width: 561px;
min-height: 100%;
float: left;
padding-left: 37px;
padding-bottom:20px;
padding-right: 37px;
}

.catalog-items h2{
	padding-top:27px;
}

.catalog-item {
	width:278px;
	min-height:330px;
	float:left;
	color:#3b414e;
	margin-right:20px;
	margin-top:29px;
	background: url(img/bottom-catalog.png) bottom left repeat-x;
}
a.catalog-item-img {
	width:278px;
	height:185px;
	margin-bottom:18px !important;
}
.catalog-item a {
	color:#25beea;
	font-family: appetite;
	text-decoration:none;
	font-size:14px;
	display:block;
	margin-bottom:3px;
}
.catalog-item a:hover {
	color:#3b414e;
}

span.catalog-subway {
	background: url(http://restoran.ru/tpl/images/metro_icon.png) left 2px no-repeat;
	padding-left: 20px;
	line-height: 20px;
	display:block;
}
a.catalog-order {
	margin-bottom:0px !important;
	margin-top:7px;
}

.catalog-navi {
	width:576px;
	margin-top:27px;
	float:left;
}

a.catalog-prev {
	float:left;
	color:#25beea;
	font-family: appetite;
	text-decoration:none;
	font-size:14px;
}
a.catalog-next {
	float:right;
	color:#25beea;
	font-family: appetite;
	text-decoration:none;
	font-size:14px;
}
a.catalog-next:hover, a.catalog-prev:hover {
	color:#3b414e;
}
.catalog-pagin {
	text-align:center;
	font-size:20px;
	margin-top:10px;
	font-weight:normal;
	color:#3b414e;
}
.catalog-pagin a {
	color:#25beea;
}

.catalog-serv {
	position:absolute;
	top:69px;
}
.catalog-serv li {
	float:left;
	list-style:none;
	margin-right:37px;
}
.catalog-serv li a {
	font-size:16px;
	font-style:italic;
	color:#25beea;
}
.catalog-serv li a:hover {
	color:#3b414e;
	text-decoration:none;
}
/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: right;
	margin-right: -175px;
	width: 175px;
	position: relative;
	background: #3b414e;
	color:#fff;
}
#sideRight h2 {
	color:#fff;
	padding-top:10px;
	margin-bottom:0px;
	display: block;
	
	height: 11px;
}
#sideRight h4 {
	padding-top:24px;
	font-family: Arial;
	font-size:11px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom:15px;
}
	
#sideRight a {
	color:#fff;
	text-decoration:none;
}

#sideRight a:hover {
	text-decoration:underline;
}
.right-block {
	padding-left:20px;
	background: url(img/right-bg.png) top left no-repeat;
	color:#fff;
}
.right-block li {
	list-style:none;
	line-height:17px;
}
a.subway-bg-button {
	display:block;
	background:#25beea;
	height:28px;
	width:140px;
	color:#fff;
	text-decoration:none;
	font-family: Arial;
	font-size:11px;
	line-height:28px;
	text-transform: uppercase;
	margin-top:13px;
	text-align:center;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	height: 88px;
	background: #000;
}
.footer-logo {
	background: url(img/footer-logo.png) top left no-repeat;
	width: 148px;
	height:37px;
	margin-left:37px;
	margin-top:20px;
	float:left;
}
div.city_select {position:absolute!important; top:20px; right:20px}
ul.city_select{padding:0px;margin:0px}
ul.city_select li{float:left;list-style-type:none;padding:2px 0px;background:url(/tpl/images/city_arrow.png) right center no-repeat;padding-right:15px}
ul.city_select li.active{background:#24a6cf}
ul.city_select li a{text-decoration:none;border-bottom:1px dotted #24a6cf; color:#000}
ul.city_select li.active a{color:#FFF;text-decoration:none}
.popup {behavior: url(/tpl/PIE.php); padding:15px; width:auto; color:#FFF; z-index: 99999}
.popup .title {font-size:18px; padding-bottom: 5px; border-bottom:1px dotted #FFF; color:#FFF; text-align: left; margin-bottom:5px; white-space: nowrap}
.popup ul {padding:0px;margin:0px;}
.popup ul li{padding:0px;margin:0px;list-style-type:none; line-height:20px;}
.popup ul li a{color:#FFF; text-decoration: none; white-space: nowrap}
.popup ul li a:hover{color:#24a6cf; text-decoration: none}
#header
{
    position:relative;
}