ul.faq_list {
	margin: 0;
	padding: 0;
}
ul.faq_list li {
    line-height: 18px;
    clear: both;
    list-style: none outside none;
    font-size:14px;
}
ul.faq_list li div{
    margin-bottom:20px;
}
ul.faq_list li div a{
    color: #24a6cf;
    font-size:14px;
}
ul.faq_list li div a:hover{
    text-decoration:underline;
}
ul.faq_list li div {
    display: none;
}
ul.faq_list li div img {
    float: left;
    margin: 0 5px 5px 0;
}

a.faq-name
{
	font-size: 18px !important;
	line-height: 32px;
	color: #24a6cf;
	border-bottom: 1px dashed #24a6cf;
}