#bron_modal {background-color:#f5f5f5 !important; padding-left:30px !important; padding-right:25px !important; height:560px; /*top:10%;*/}
#bron_modal form {background-color:#f5f5f5 !important;}
#bron_modal * {color:#3b414e;}
#bron_modal .font18 {color:#3b414e !important;}
#bron_modal .floatleft {float:left; position:relative; z-index:100; width:300px; margin-right:18px;}
#bron_modal .floatleft2 {float:left; position:relative; z-index:100; width:242px;}
#bron_modal .question {/*color:#3b414e !important;*/font-weight:bold; font-size:12px; display:block; float:none !important; margin-bottom:15px;}
#bron_modal .question span {/*color:#3b414e !important;*/font-weight:normal;}

#err { position:absolute; /*background-color:#ffffff;*/ z-index:1000; bottom: 0px; width: 725px; height:105px; text-align: center; padding-top:20px; font-size:14px!important;}

#bron_modal .question .radio {font-weight:normal !important; font-style:italic;}
#bron_modal .question input[type=text],
#bron_modal .question textarea {
    width:300px; 
    -webkit-box-shadow:inset 0 1px 1px #d4d4d4;
    -moz-box-shadow:inset 0 1px 1px #d4d4d4;
    box-shadow:inset 0 1px 1px #d4d4d4;
    background:none;
    height: 30px; line-height:30px;
    background-color:#ffffff !important;
    padding-left:10px;
    font-size:14px; color:#231f20; font-style:italic;
    text-align:left !important;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    behavior: url(/bitrix/templates/main/PIE.htc);
}
#bron_modal .datew {left:-5px !important; position:relative; width:140px !important; 
background:url(images/calendar.png) right top no-repeat !important; padding-right:52px;}

#bron_modal .up-down {right:0px !important; position:absolute; z-index:1005; width:21px !important; height:32px; 
 top:0px; 
 
 /*display:none;*/
 
 }
#bron_modal .up-down .up {width:21px !important; height:16px;background:url(images/up-down.png) right top no-repeat !important; 
position:relative; display:block;}
#bron_modal .up-down .down {width:21px !important; height:16px;background:url(images/up-down.png) right -16px no-repeat !important;
position:relative; display:block;}

#bron_modal .question .toleft {position:relative; float:left; height:30px; line-height:30px; padding-right:8px;}
.brone_txt {font-size:12px !important; font-weight:normal !important; margin:0 auto; text-align: center!important}
.brone_txt span {font-size:14px; line-height: 24px;}
.brone_txt span.phone {font-size:24px; line-height: 36px;}
#bron_modal .radioright label {font-weight:normal; font-size:16px; text-transform:uppercase; line-height:34px; letter-spacing: 1px}
#bron_modal .radioright label:first-letter {font-size:20px !important;}
#bron_modal .radioright td.tdr {padding-right:20px;}
#bron_modal .question input[name=form_email_41], 
#bron_modal .question textarea {width:385px; font-size:16px;} 
#bron_modal .question input[name=form_text_39] {width:217px;font-size:16px;}

#bron_modal .question input[name=form_text_34] {width:55px; font-size:16px;}
#bron_modal .question input[name=form_text_36] {width:55px; font-size:16px;}
#bron_modal .question input[name=form_text_40] {width:140px; font-size:16px;}

#bron_modal  input[name=form_text_35] {padding-right:21px; width:34px !important;}

#order_online .question {
    text-align: left;
    font-size:12px;    
    line-height:18px;
}
#order_online .cusel,
#order_online .cuselFrameRight,
#order_online .jScrollPaneDrag,
#order_online .jScrollArrowUp,
#order_online .jScrollArrowDown {
	/*background: url(../images/selects-2.png) no-repeat;*/
        background:none;
        outline: none;
}
#order_online .cusel { /* общий вид селекта включая стрелку справа */
        margin-top:0px;
			height: 30px; line-height:30px;
	background-position: left top;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 18px;
	z-index: 10000!important;    
        margin-right:15px;
		
	width:315px;
	
-webkit-box-shadow:inset 0 0 10px #000;
-moz-box-shadow:inset 0 0 10px #000;
box-shadow:inset 0 0 10px #000;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
behavior: url(/bitrix/templates/main/PIE.htc);

background-color:#ffffff;
}
#order_online .cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	height: 100%;
	width: 12px;
        background:url(/tpl/images/blue_arrow_down.png) center 11px no-repeat;
	/*background-position: right top;*/
}

#order_online .cuselText { /* контейнер для отображенного текста селект */
	height: 18px;
	padding: 0px 0px 3px 0px; /* подбираем отступы и высоту для видимого текста в селекте */
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 1;
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 16px;
        color:#24a6cf;
        border-bottom:1px dashed #24a6cf;
}
* html #order_online .cuselText { /* высота блока для текста для ие6 */
	height: 22px;
        color:#24a6cf;
        text-decoration: none;
        border-bottom:1px dashed #24a6cf;
}
#order_online .cusel span { /* оформление оптиона */
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 2px 15px 2px 5px; /* паддинг справа - это отступ текста от ползунка */
	zoom: 1;
        line-height:20px;
        text-align:left;
        color:#000;
}
#order_online .cusel span:hover,
#order_online .cusel .cuselOptHover { /* реакция оптиона на наведение */
	background: #24a6cf;
	color: #fff;
}
#order_online .cusel .cuselActive { /* оформление активного оптиона в списке */
	background: #3B414E;
	color: #fff;
	cursor: default;
}

/*
	styles for focus and hover
*/
#order_online .cusel:hover,
#order_online .cusel:hover .cuselFrameRight,
#order_online .cusel:focus,
#order_online .cusel:focus .cuselFrameRight,
#order_online .cuselFocus,
#order_online .cuselFocus .cuselFrameRight {
	/*background-image: url(../images/selects-2.png);*/
}

#order_online .cuselOpen {
	z-index: 999;
}

/*
	styles for disabled select
*/
#order_online .classDisCusel,
#order_online .classDisCusel .cuselFrameRight {
	/*background-image: url(../images/selects-2.png) !important;*/
	cursor: default;
	color: #ccc;
}
#order_online .classDisCusel .cuselText {
	cursor: default;
}


/*
	styles for scrollbar
*/
#order_online .cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 24px;
	background: #fff; /* фон выпадающего списка */
	min-width: 100%;
	width: auto;
}
#order_online .cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	border: 1px solid #999; /* границы выпадающего спиcка */
                box-shadow: 3px 3px 10px #000;
        -webkit-box-shadow: 3px 3px 10px #000;
        -moz-box-shadow: 3px 3px 10px #000;
        behavior: url(/bitrix/templates/main/PIE.htc);
}

#order_online .cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 7px !important;
	background: #fff;
	position: absolute;
	top: 0;
	right: 4px;
    width: 0px !important;
}
#order_online .cusel .jScrollPaneDrag { /* ползунок */
	position: absolute;
	background-position: -40px -26px;
	cursor: pointer;
	width: 15px !important;
	height: 27px !important;
	right: -4px;
    display: none;
	
}

#order_online .cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
#order_online .cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
#order_online .cusel .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
#order_online .cusel .jScrollArrowDown { /* стрелка вниз */
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
}
#cuselFrame-what_question {
    width: 220px !important;
    z-index: 9999 !important;
}
#cusel-scroll-what_question {
    width: 220px !important;
    padding-right: 0px !important;
}

#order_online .search_rest
{
    border:none;
    /*border-bottom:1px solid #616876;*/
    background:none;
    position: relative;
    height: 28px;
    line-height: 28px;
    padding: 0px 10px;
    font-size:18px;
    color:#24a6cf;
    width:100%;
    -webkit-box-sizing: border-box; /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    behavior: url(/bitrix/templates/main/PIE.htc);
    text-align: center;
    outline:none;
    
}
#order_online .datew
{
    color:#24a6cf;
    border:none;
    /*border-bottom: 1px dashed #24a6cf;*/
    /*background:none;*/
    
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-size:18px;
    outline:none;
    width:95px;
    margin:0px 5px;
	height: 30px; line-height:30px; padding-top:0px; padding-bottom:0px;
}
#order_online .time
{
    border:none;
    background:none;
    font-size:18px;
    color:#24a6cf;
    outline:none;
    margin:0px 5px;
    width:62px;
    background: url(/tpl/images/time2.gif) center bottom no-repeat !important;
    letter-spacing:1px;
    padding-left:2px;
}
#bron_modal .modal_close
{
    /*border:none;
    background:none;
    font-size:18px;
    color:#24a6cf;
    outline:none;
    margin:0px 5px;
    width:62px;*/
    background: url(/tpl/images/close2.png) right top no-repeat !important;
}

#order_online .light_button {width:397px; height:86px; background: url(images/button_bron.png) left top no-repeat !important;
color:#ffffff; font-family: appetite, serif; text-shadow: 1px 1px 1px #1daad2; font-size:24px; text-transform:normal; line-height:20px;}

#order_online .light_button2 {width:397px; height:86px; background: url(images/button_bron2.png) left top no-repeat !important;
color:#ffffff; font-family: appetite, serif; text-shadow: 1px 1px 1px #1daad2; font-size:24px; text-transform:normal !important; 
line-height:69px; display:block; text-decoration:none; text-align:center;}
.hidden {display:none !important;}
#order_online .text
{
    background:none;
    border:none;
    /*border-bottom:1px solid #616876;*/
    text-align:center;
    height:18px;
    font-size:18px;
    color:#24a6cf;
    outline:none;
}
#order_online .phone1, #order_online .phone1_new
{
    border:none;
    /*background:none;*/
    font-size:18px;
    color:#24a6cf;
    outline:none;
    margin:0px 5px;
    width:174px;
/*			background: url(/tpl/images/phone.png) left 15px no-repeat !important;*/
    letter-spacing:1px;
    padding-left:14px;
    /*font-family: "";*/
}
#order_online .bron_ta
{
    border:none;
    background:none;
    font-size:14px;
    line-height: 24px;
    color:#24a6cf;
    outline:none;    
    width:100%;
			/*background: url(/tpl/images/textarea_bron.png) left 20px repeat;*/
    background-attachment: fixed;
    /*letter-spacing:1px;*/
    padding:0px 10px;
    box-sizing: border-box;
    font-family: "georgia";
    height:74px;
    overflow:hidden;
}
#order_online  .brone_txt center {font-size:18px !important;}

#order_online .logo_reserv
{
    margin-right:30px;
}
#order_online .quest
{
    text-transform: uppercase;
    font-size:16px;
    line-height:30px;
    margin-right:20px;
    letter-spacing: 1px;
}
#order_online .quest:first-letter
{
    font-size:20px;
}
#order_online .wlo
{
    padding-top:6px;
}
#order_online .niceRadio
{
    background: url(images/radio_r.png);
    background-position: 0 -23px;
    height:23px;
    width:23px;
    margin-top:1px;
}
#order_online .radioChecked {
    background-position: 0 0px;
}
#order_online .sep
{    
    border-top:1px solid #e3e3e3;
    border-bottom:1px solid #fff;
    margin-top:0px;
    margin-bottom:10px;
}
#order_online .icons
{
    background-image: url(images/icons.png);  
    float:left;
}
#order_online .people
{
    background-position: 0px 0px;
    height:15px;
    width:20px;    
/*    margin-top:10px;*/
    margin-right:15px;
}
#order_online .time_s
{
    background-position: 0px -15px;
    height:21px;
    width:20px;    
    margin-top:6px;
    margin-right:15px;
    margin-left:15px;
}
#order_online .smoke
{
    background-position: 0px -36px;
    height: 26px;
    width: 20px;
    margin-right: 15px;    
}
#order_online .nosmoke
{
    background-position: 0px -60px;
    height:28px;
    width:20px;        
    margin-right:35px;    
}
#order_online .search_rest {
    width:460px!important;
}
#order_online .search_rest {
    font-size:16px!important;    
    line-height:18px!important;
}
#order_online .ac_results {
    left: 862px!important;
    width:438px!important;
}
#order_online .rouble
{
    font-size:20px!important;
}
#order_online .salc
{
    font-size: 14px!important;
    text-transform: uppercase!important;
    font-weight:normal!important;
    line-height: 26px;
}
#order_online .budg
{
    font-size: 14px!important;
    text-transform: uppercase!important;
    font-weight:normal!important;
}
#order_online .salc:first-letter
{
    font-size: 18px!important;
}
#order_online .res_n
{
    font-size:22px;
    line-height:28px;
    
}