#spec_block_list
{
    /*margin-bottom: 35px;*/
}
#spec_block_list .spec
{
    background:#FFF;
    width:230px;
    height:200px;
    -webkit-border-radius: 15px; 
    -moz-border-radius: 15px; 
    border-radius: 15px;
    position:relative;
    overflow:hidden;
    behavior: url(/tpl/PIE.htc);
    margin-right:20px;
    margin-bottom:20px;
    cursor:pointer;
    text-align: center;
}
#spec_block_list .dotted_s
{
    position:absolute;
    background:url(images/dotted_spec.png) left top no-repeat;
    width:218px;
    height:217px;
    left:6px;
    top:6px;
    z-index:100;
}
#spec_block_list .title_box
{
    margin: 0 auto;
    margin-top:78px;
    width:auto;
    height:42px;
    border: 1px solid white;
    position:relative;
    overflow:hidden;
    font-family: Arial;
    font-weight:bold;
    font-size:10px;
    text-align:center;
    background: none;
    text-decoration: none !important;
    display: inline-block;
    *left: 50%;
}
#spec_block_list .grad-new
{
    *background: white;
}
#spec_block_list .grad1
{
    background: url(images/spec_grad2.png) left 155px no-repeat;
}
#spec_block_list .grad2
{
    background: url(images/spec_grad3.png) left 155px no-repeat;
}
#spec_block_list .grad3
{
    background: url(images/spec_grad4.png) left 155px no-repeat;
}
#spec_block_list .title
{
    float: left;
    width:auto;
    padding: 9px 20px;
    margin: 3px;
    position:relative;
    z-index:1000;
    color: black;
    text-decoration: none !important;
    background: white;
    font-family: Arial;
    font-weight:bold;
    font-size:10px;
    text-align:center;
    vertical-align: middle;
    text-transform: uppercase;
}
#spec_block_list .big
{
    line-height: 14px;
    padding-top: 6px;
    padding-bottom: 2px;
}
#spec_block_list .title table
{
    width:230px;
    height:47px;
    text-align:center;
}
#spec_block_list .title table td
{
    width:230px;
    height:47px;
    font-family: Arial;
    font-weight:bold;
    font-size:10px;
    text-align:center;
    vertical-align: middle;
    text-transform: uppercase;
}
#spec_block_list a .title table td 
{
    color:#FFF;    
    text-decoration: none;
}
#spec_block_list a:hover .title table td 
{
    color:#FFF;    
    text-decoration: underline;
}
#spec_block_list .big {
    line-height: 14px;
    padding-top: 6px;
    padding-bottom: 2px;
}