.priority_img
{
    width:380px;
}
.priority_img .img
{
    border:1px solid #DDD;
    
}
.priority_left 
{
    float:left;
    width:250px
}
.priority_left .uppercase
{
    margin-bottom:10px;
    line-height:14px;
}
.priority_right 
{
    width:325px;
    float:right;
    word-wrap: break-word;
}
.priority_right .new
{
    font-family: appetite;
    float: right;    
    font-size: 14px;
    margin-bottom:10px;
}
.priorities .light_hr
{
    margin-top:5px;
    margin-bottom:15px;
}

