.contact_user p
{
    margin:7px 0px;
}
.contact_user h3
{
    margin-top:0px;
}
.contact_user td
{
    padding-top:20px;
    vertical-align: top;
}
.contact_user td.ma
{
    padding-top:20px;
}
.contact_user p.big
{
    font-size:16px;
    margin-bottom:10px;
}
.contact_description
{
    background: #3B414E;
    height: 115px;
    width: 693px;
    margin-bottom: 15px;
    padding: 10px;
    padding-top:25px;
    padding-left:25px;
    font-size: 1.4em;
    color: white;
    line-height: 28px;
}
.contact_description i
{
    font-size:12px;
}
