.grey_block {background:#F2F2F2; padding:20px;}
.grey_block ul {margin: 0; padding: 0;}
.grey_block li {list-style: none;}
.grey_block  p {margin-top:0px;}
.grey_block h2 {font-size:18px; margin:0px; line-height:40px;}
.another {color:#24a6cf}
.payment .el {background: url(/tpl/images/payment/el.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .el:hover {background: url(/tpl/images/payment/el_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .el {background: url(/tpl/images/payment/el_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .sms {background: url(/tpl/images/payment/sms.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .sms:hover {background: url(/tpl/images/payment/sms_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .sms {background: url(/tpl/images/payment/sms_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .bk {background: url(/tpl/images/payment/bk.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .bk:hover {background: url(/tpl/images/payment/bk_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .bk {background: url(/tpl/images/payment/bk_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .alfa {background: url(/tpl/images/payment/alfa.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .alfa:hover {background: url(/tpl/images/payment/alfa_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .alfa {background: url(/tpl/images/payment/alfa_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .ball {background: url(/tpl/images/payment/ball.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .ball:hover {background: url(/tpl/images/payment/ball_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .ball {background: url(/tpl/images/payment/ball_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}