#controller_menu_icon {background-image:url(icons/controller/mnu_controller.gif);}
#controller_page_icon {background-image:url(icons/controller/title.gif);}

#btn_refresh {background-image:url(icons/controller/refresh.gif);}
#btn_disconnet {background-image:url(icons/controller/disconnect_icon.gif);}

.code {font-size:120%}