div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
div.rating
{
    
}
#rating_overlay {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
    z-index: 10000;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}
#rating_overlay .close
{
    background-image: url(/bitrix/templates/main/images/close.png);
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
    height: 35px;
    width: 35px;
}
.customfile-input { position: absolute; height: 38px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999;  }

.customfile {cursor: pointer; overflow: hidden; position: relative; margin-bottom:5px; margin-top:5px; border-left:6px solid #f2f2f2;}
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback { display: block;}

.customfile-button {background-color:#3b414e;width:85px;height:38px;color:#fff;display: block;margin:0 auto;line-height: 38px;text-transform: uppercase;text-align: center;font-size: 11px;font-family: Georgia;  }
.customfile-hover .customfile-button, .customfile-focus .customfile-button  { }
.customfile-focus .customfile-button {outline: 1px dotted #ccc;}

.customfile-button{float:right;}
.customfile-feedback{background-color: #fff;height: 38px;line-height: 38px;border: 0px;padding-left: 13px;font-size: 14px;font-family: Georgia;color:#1A1A1A;margin-right: 100px;
box-shadow: inset 0px 1px 3px #666;
-webkit-box-shadow: inset 0px 1px 3px #666;
-moz-box-shadow: inset 0px 1px 3px #666;
behavior: url(/tpl/PIE.php);
position: relative;
}


.ph_gals .customfile-button{float:right;}
.ph_gals .customfile-feedback{background-color: #fff;height: 38px;line-height: 38px;border: 0px;padding-left: 13px;font-size: 14px;font-family: Georgia;color:#1A1A1A;margin-right: 100px;}



#minus_plus_buts{margin-left: 0px;float:left;}
#minus_plus_buts .plus_but{display: block;float:left;position: relative;padding-left:42px;line-height: 31px;font-family: Georgia;position: relative;height:31px;margin-right: 17px;font-size: 12px; }
#minus_plus_buts .plus_but a, #minus_plus_buts .plus_but span{background: url(/tpl/images/plus_minus_icons.png) 0px 0px no-repeat;height:31px;width:36px;position: absolute;left:0px;top:0px;}

#minus_plus_buts .minus_but{display: block;float:left;position: relative;padding-left:42px;line-height: 31px;font-family: Georgia; position: relative;height:31px;}
#minus_plus_buts .minus_but a, #minus_plus_buts .minus_but span{background: url(/tpl/images/plus_minus_icons.png) -36px 0px no-repeat;height:31px;width:36px;position: absolute;left:0px;top:0px;}
.rest_buttons input {
margin-bottom: 15px;
width: 195px;
}
#lookon_iframe
{
    background:#FFF;
    padding:10px;
}
#lookon_iframe .modal_close_lookon {
    position: absolute;
    top: -50px;
    right: -50px;
    background: url(/tpl/images/galery_close2.png) left top no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.lookon_iframe
{
    width:395px;
    height:264px; 
    position:absolute;
    display:block; 
    z-index:10000;
    background:url("/tpl/images/playbig.png") center center no-repeat;
}