/* 
    Document   : style
    Created on : 21.01.2013, 14:43:47
    Author     : Igor
    Description:
        Purpose of the stylesheet follows.
*/

/* service-type styles */
.clear {line-height: 0; width: 100%; clear: both; font-size: 1px; height: 0; overflow: hidden;}
.hidden {display: none;}
#img-container {}
#img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#img-list li {
    margin: 10px;
    /*float: left;*/
    width: 152px;
    /*height: 90px;*/
    text-align: center;
    /*border: 1px solid #888888;*/
    display: inline-block;
}

#img-list div.progress {
    width: 150px;
    border: 1px solid #888888;
    height: 18px;
    text-align: center;
    background-image: url('../img/pbar_bgr.png');
    background-repeat: no-repeat;
    background-position: -150px center;
}
/* dropdown */
.dropdown {position: relative; display: inline-block;}
.dropdown-values {display: none; position: absolute; top: 27px; right: -4px; background: #fff; border: #999 1px solid; text-align: left; z-index: 10; width: 100px; -moz-box-shadow: 0 2px 6px #999; -ms-box-shadow: 0 2px 6px #999; -0-box-shadow: 0 2px 6px #999; -webkit-box-shadow: 0 2px 6px #999; box-shadow: 0 2px 6px #999;}
.dropdown-item {text-decoration: none; display: block; padding: 5px 10px;}
.dropdown-item:hover {background: #e9edf3; text-decoration: none;}
.dropdown-trigger {text-decoration: none; display: inline-block; padding: 0px 5px; }
.dropdown-trigger:hover {text-decoration: none;}
.dropdown-trigger span.icon {background-position:center center; padding:0px 5px;}
.dropdown-head {position: absolute; top: -37px; right: -5px; height: 33px; overflow: hidden; padding: 4px; padding-bottom: 0;}
.dropdown_text {color:#0084ff; border-bottom:dotted 1px #0084ff;}
.dropdown_text:hover {border-bottom:none;}
.dropdown-head-content {display: inline-block; height: 25px; background: #fff; border: #999 1px solid; padding: 8px; -moz-box-shadow: 0 2px 6px #999; -ms-box-shadow: 0 2px 6px #999; -0-box-shadow: 0 2px 6px #999; -webkit-box-shadow: 0 2px 6px #999; box-shadow: 0 2px 6px #999; }
.dropdown-blind {position: fixed !important; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 9; display: none;}

.remove-link {width: 20px; height: 20px; background: red; margin-left: 80px; position: absolute;}
.file-inputs {opacity: 100%; height: 10px; position: absolute; left: 0px; z-index:0; top: 300px;}
.image-input {filter: alpha(opacity=0); opacity: 0; height: 28px; position: absolute; left: 0px; z-index:0; top: 0px; width: 90px;}
.video-input {filter: alpha(opacity=0); opacity: 0; height: 28px; position: absolute; left: 0px; z-index:0; top: 28px; width: 90px;}
.comment-form {position: relative;}
.comment-form .comment_textarea {position: relative; z-index:1;}
.video-block {position: relative; height: 20px; }
.video-block .remove-link {width: 20px; height: 20px; background: red; margin-left: 10px; float: left; position: relative;}
.video-block .name {height: 20px; float: left; position: relative;}
