.ekko-lightbox .modal-dialog .close{
    position:absolute;    
    right:-65px;
    top:-25px;
    font-size:42px;
    line-height: 46px;
    color:#fff;
    text-shadow: 0 1px 0 #000;
    height:42px;
    width:42px;
    text-align:center;
    opacity: 0.85;
    font-weight:normal;
}
.ekko-lightbox .modal-dialog .close:before{
    content: '';
    display:block;
    position: absolute;
    top:0px;
    height:42px;
    width:42px;
    border:2px solid #FFF;
    border-radius: 21px;    
}
.ekko-lightbox .modal-dialog .close:hover{
    opacity:1;   
}
.ekko-lightbox .modal-dialog .modal-header{
    height:0px;
    min-height:0px;
    padding:0px;
    border:0px;
}

.ekko-lightbox-container {
  position: relative;
}

.ekko-lightbox-nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.ekko-lightbox-nav-overlay a {
  z-index: 100;
  display: block;
  width: 49%;
  height: 100%;
  padding-top: 45%;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  opacity: 0;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  -webkit-transition: opacity 0.5s;
     -moz-transition: opacity 0.5s;
       -o-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

.ekko-lightbox-nav-overlay a:empty {
  width: 49%;
}

.ekko-lightbox a:hover {
  text-decoration: none;
  opacity: 1;
}

.ekko-lightbox .glyphicon-chevron-left {
  left: 0;
  float: left;
  padding-left: 15px;
  text-align: left;
}

.ekko-lightbox .glyphicon-chevron-right {
  right: 0;
  float: right;
  padding-right: 15px;
  text-align: right;
}

.ekko-lightbox .modal-footer {
  text-align: left;
}