
/*new css*/



/*futura-futuris-bold заменить*/

/*@font-face {*/
/*font-family: 'Appetite';*/
/*src: url('../fonts/APPETITE.eot');*/
/*src:*/
/*url('../fonts/APPETITE.eot?#iefix') format('embedded-opentype'),*/
/*url('../fonts/APPETITE.woff') format('woff'),*/
/*url('../fonts/APPETITE.ttf') format('truetype'),*/
/*url('../fonts/APPETITE.svg#web') format('svg');*/
/*font-weight: normal;*/
/*font-style: normal*/
/*}*/

@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('../fonts/PlayfairDisplay-Italic.eot');
    src:
    url('../fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff'),
    url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
    url('../fonts/PlayfairDisplay-Italic.svg#web') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'PlayfairDisplay-Black';
    src: url('../fonts/PlayfairDisplay-Black.eot');
    src:
    url('../fonts/PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlayfairDisplay-Black.woff') format('woff'),
    url('../fonts/PlayfairDisplay-Black.ttf') format('truetype'),
    url('../fonts/PlayfairDisplay-Black.svg#web') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'FuturaFuturisBold';
    src: url('../fonts/futura-futuris-bold.eot');
    src:
    url('../fonts/futura-futuris-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/futura-futuris-bold.woff') format('woff'),
    url('../fonts/futura-futuris-bold.ttf') format('truetype'),
    url('../fonts/futura-futuris-bold.svg#web') format('svg');
    font-weight: normal;
    font-style: normal
}
/*FuturaFuturisC*/
.banquet-section .container {
    padding-top: 0;
}
.wood-top-block-wrapper {
    background: url("../images/top-wood-bg.png") repeat-x;
    height: 139px;
    background-size: cover;
    /*overflow: hidden;*/
}
.inner-section-page .wood-top-block-wrapper {
    background: url("../images/top-wood-bg.png");
    height: 417px;
    /*overflow: hidden;*/
}
.center-block {
    width: 980px;
    margin: 0 auto;
}
.right-phone-block {
    float: right;

}
.phone-wrapper {
    background: url("../images/top-phone-bg.png") left 22px no-repeat;
    padding-left: 15px;
    font-family: Appetite;
    font-style: italic;
    font-size: 36px;
    margin-bottom: 5px;
}
.phone-wrapper span {
    font-size: 14px;
    padding-right: 3px;
}
.reserve-wrapper-button {
    background:  url("../images/reserve-wrapper-button-bg.jpg") repeat-x;
    height: 29px;
    font-family: futurafuturiscbold;
    color: white;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    width: 173px;
    float: right;
}

.reserve-wrapper-button a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    display: block;
    line-height: 30px;
}
.reserve-wrapper-button span {
    color: #30c5f0;
}
.left-small-menu {
    padding-top: 20px;
}
.left-small-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.left-small-menu ul li {
    float: left;
    margin-left: 20px;
    width: 70px;
    margin-bottom: 5px;
}
.left-small-menu ul li a {
    font-size: 12px;
}
.left-small-menu ul li:nth-child(2n+1) {
    margin-left: 0;
    clear: left;
}
.city-list-wrapper {
    width: 500px;
    margin: 0 auto;
    position: relative;
}
.city-list-wrapper #city_select {
    position: relative;
    width: 200px;
    text-align: center;
    margin: 0 auto;
}
.city-list-wrapper .dropdown-menu {
    margin-top: 2px;
    border-color: #eaeced;
    min-width: 180px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    left: 10px;
}
#city_select > a {
    font-family: PlayfairDisplay-Italic;
    font-size: 14px;
    background: url("../images/city-trigger-list-bg.png") right center no-repeat;
    padding-right: 15px;
    text-decoration: none;
}

.left-city-line {
    width: 158px;
    height: 3px;
    position: absolute;
    top: 8px;
    left: 0;
    background: white;
}
.right-city-line {
    width: 158px;
    height: 3px;
    position: absolute;
    top: 8px;
    right: 0;
    background: white;
}
.main-center-section-banner {
    position: relative;
    background: url("../images/main-section-title.png") no-repeat;
    width: 500px;
    height: 149px;
    margin: 0 auto;
    margin-top: 20px;
    z-index: 10;
    font-family: PlayfairDisplay-Black;
    color: white;
    font-size: 63px;
    padding: 0 75px;
    line-height: 55px;
    padding-top: 14px;
}
.inner-section-page .main-center-section-banner {
    height: 163px;
}
.main-center-section-banner span {
    color: #30c5f0;
}
.main-center-section-banner > a {
    text-decoration: none;
    color: white;
}
.left-flag {
    position: absolute;
    background: url("../images/left-title-section-flag.png") no-repeat;
    width: 240px;
    height: 55px;
    left: -240px;
    top: 50%;
    margin-top: -24px;
}
.right-flag {
    position: absolute;
    background: url("../images/right-title-section-flag.png") no-repeat;
    width: 240px;
    height: 55px;
    right: -240px;
    top: 50%;
    margin-top: -24px;
}
.inner-section-page .left-flag {
    position: absolute;
    background: url("../images/left-title-section-flag.png") no-repeat;
    width: 240px;
    height: 68px;
    left: -240px;
    top: 50%;
    margin-top: -31px;
}
.inner-section-page .right-flag {
    position: absolute;
    background: url("../images/right-title-section-flag.png") no-repeat;
    width: 240px;
    height: 68px;
    right: -240px;
    top: 50%;
    margin-top: -31px;
}

.flags a {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-family: FuturaFuturisBold;
    text-align: center;
    text-decoration: underline;
    display: block;
}
.under-wood-top-block-wrapper {
    background: url("../images/bg-under-top-bg.png") no-repeat;
    height: 332px;
    background-size: cover;
}
.inner-section-page .under-wood-top-block-wrapper {
    background: url("../images/inner-section-filter-bg.jpg") repeat-x;
    /*height:  73px;*/
    height: auto;
    min-height: 73px;
}
.under-wood-top-block-wrapper .filter-title, .wood-top-block-wrapper .filter-title {
    font-family: PlayfairDisplay-Black;
    font-size: 36px;
    color: white;
    padding-top: 100px;
    text-align: center;
}
.wood-top-block-wrapper .filter-title {
    color: #000000;
    padding-top: 20px;
    font-size: 30px;
}
.under-wood-top-block-wrapper .filter-sub-title, .wood-top-block-wrapper .filter-sub-title {
    font-family: PlayfairDisplay-Italic;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.wood-top-block-wrapper .filter-sub-title {
    color: #000000;
    font-family: 'PT Sans';
    width: 725px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
.reserve-block-wrapper input {
    height: 47px;
    color: black;
    font-size: 18px;
    font-family: FuturaFuturisBold;
    float: left;
    padding-left: 15px;
    /*font-weight: bold;*/
}
input.reserve-calendar-input {
    width: 175px;
}
/*futurafuturiscbold*/
.banquet-section-header .ui-widget-header {
    border: none;
    background: none;
}
#ui-datepicker-div {
    font-size: 13px;
    font-family: FuturaFuturisBold;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0;
}
.ui-widget-header {
    color: #000000;
}
.ui-widget-header {
    border: none;
    background: none;
}
.ui-widget-header .ui-datepicker-prev .ui-icon {
    background: url("../images/calendar-left-arrow.png") 0 0 no-repeat;
}
.ui-widget-header .ui-datepicker-next .ui-icon {
    background: url("../images/calendar-right-arrow.png") 0 0 no-repeat;
}
.ui-widget-content .ui-state-hover {
    border: none;
    background-position: 0 0;
}
.reserve-guest-num-input {
    width: 69px;
}
.one-reserve-filter-wrapper {
    float: left;
    margin-right: 18px;
}
.one-reserve-filter-wrapper.reserve-submit-wrapper {
    margin-right: 0;
}
.one-reserve-filter-wrapper label {
    font-size: 10px;
    font-family: FuturaFuturisBold;
    text-transform: uppercase;
    color: white;
}
.more-less-input-trigger {
    background: url("../images/guests-num-buttons-bg.jpg") repeat-x;
    height: 47px;
    width: 37px;
    float: left;
}
.more-button {
    cursor: pointer;
    background: url("../images/to-top-arrow.png") center center no-repeat;
    height: 50%;
}
.less-button {
    cursor: pointer;
    background: url("../images/to-bottom-arrow.png") center center no-repeat;
    height: 50%;
}
.reserve-budget-input {
    width: 100px;
}
.reserve-region-selected-value {
    width: 174px;
    height: 47px;
    background: url("../images/city-trigger-list-bg.png") 150px center no-repeat;
    padding: 1px;
    background-color: #FFF;
    border: 2px solid #EBEBEB;
    border-bottom: 1px solid #EBEBED;
    border-right: none;
    cursor: pointer;
    display: block;
    padding-left: 15px;
    line-height: 47px;

    font-family: FuturaFuturisBold;
    /*font-weight: bold;*/
    font-size: 12px;
    text-transform: uppercase;
    overflow: hidden;
}

.one-reserve-filter-wrapper ul {
    display: none;
    padding: 0;
    list-style: none;
    background: #FFF;

    font-family: FuturaFuturisBold;
    /*font-weight: bold;*/
    font-size: 12px;
    padding-left: 15px;
    position: absolute;
    z-index: 10;
    /*width: 174px;*/
    min-width: 174px;
    padding-bottom: 10px;
    text-transform: uppercase;
    line-height: 23px;
    padding-top: 10px;
    padding-right: 10px;
}
.one-reserve-filter-wrapper ul.active {
    display: block;
}
.one-reserve-filter-wrapper ul li {
    cursor: pointer;
}
.reserve-submit-wrapper label[for="reserve-submit"] {
    font-family: PT-sans;
    font-style: italic;
    color: white;
    font-size: 12px;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 4px;
}
.reserve-submit-wrapper input[type="submit"] {
    background: url("../images/reserve-submit-bg-no-active.jpg") repeat-x;
    height: 47px;
    width: 109px;
    color: white;
    font-size: 12px;
    padding: 0;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}
.reserve-submit-wrapper input[type="submit"]:hover {
    background: url("../images/reserve-submit-bg.jpg");
}

.reserve-submit-wrapper a {
    height: 47px;
    color: #000;
    font-size: 18px;
    font-family: FuturaFuturisBold;
    float: left;
    padding-left: 15px;
    /* font-weight: bold; */
    background: url("../images/reserve-submit-bg-no-active.jpg") repeat-x;
    height: 47px;
    width: 109px;
    color: white;
    font-size: 12px;
    padding: 0;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    display: block;
    line-height: 47px;
    text-align: center;
}
.reserve-submit-wrapper a {
    background: url("../images/reserve-submit-bg.jpg");
}
.blue-top-main-thought-categories-menu-wrapper {
    background: #30c5f0 url("../images/blue-top-categories-menu-bg.png") top center repeat-x;
    height: 122px;
}
.one-thought-wrapper {
    background: url("../images/categories-logo.png") left center no-repeat;
    padding-left: 75px;
    font-size: 12px;
    font-family: FuturaFuturisBold;
    height: 67px;
    text-transform: uppercase;
    float: left;
    margin-top: 30px;
    /*font-weight: bold;*/
}
.one-thought-wrapper .this-title {
    color: #000000;
    margin-top: 10px;
}
.one-thought-wrapper .this-text-about {
    color: white;
    font-size: 10px;
}
.thought-right-border {
    background: url("../images/thought-categories-border-bg.png") repeat-y;
    height: 67px;
    float: left;
    width: 1px;
    margin: 30px 38px;
}
/*.banquet-section-header {*/
/*margin-bottom: 30px;*/
/*}*/
.content-indent {
    padding-top: 30px;
    background: url("../images/content-top-gradient.png") top center repeat-x;
}
.slider-wrapper {
    width: 728px;
    height: 400px;
    color: white;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
.action-little-title {
    font-family: FuturaFuturisBold;
    font-size: 12px;
}
.action-text {
    font-size: 36px;
    font-family: PlayfairDisplay-Black;
    line-height: 40px;
}
.slider-wrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    /*width: 10000px;*/
}
.slider-wrapper ul li {
    position: relative;
    float: left;
    height: 400px;
}
.slide-text-about-wrapper {
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 450px;
    left: 50%;
    margin-left: -225px;
    z-index: 2;
}
.blue-slider-overlay {
    height: 100%;
    background: url("../images/under-section-slider-gradient.png") bottom center repeat-x;
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel-indicators li {
    margin: 2px;
    height: 14px;
    width: 14px;
}
/*.carousel-indicators li:last-child {*/
/*margin-right: 0;*/
/*}*/
.carousel-indicators .active {
    margin: 2px;
    height: 14px;
    width: 14px;
}
.banquet-section #footer .container {
    padding-top: 30px;
}
.three-pull-left-wrapper {
    border-bottom: 1px dotted #000;
    /*padding-bottom: 20px;*/
    padding-bottom: 30px;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
}
.three-pull-left-wrapper:first-child {
    margin-top: 0;
}
.three-pull-left-wrapper:last-child {
    border-bottom: none;
}
.three-pull-left-wrapper .pull-left:nth-child(3n) {
    margin-right: 0;
}
.ui-state-hover .ui-icon {
    background: none;
}
.right-banner-for-reserve {
    /*width: 234px;*/
    background: #30c5f0;
    color: white;
    text-align: center;
    padding: 46px 23px;
    margin-bottom: 20px;
}
.site-owner-banner-title {
    text-transform: uppercase;
    font-family: FuturaFuturisBold;
    font-size: 10px;
    margin-bottom: 10px;
}
.reserve-free-str {
    font-size: 18px;
    font-family: PlayfairDisplay-Black;
    margin-bottom: 10px;
}
.this-banner-contact-phone {
    font-family: PlayfairDisplay-Italic;
    font-size: 14px;
}
.this-banner-contact-phone span {
    font-family: PlayfairDisplay-Black;
    font-size: 22px;
}
.right-banner-reserve-trigger-button {
    font-family: FuturaFuturisBold;
    font-size: 10px;
    text-transform: uppercase;
    border: 3px solid #FFF;
    width: 108px;
    height: 37px;
    line-height: 30px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
    color: #000000;
}
.right-banner-reserve-trigger-button span {
    color: white;
}
.ui-datepicker .ui-datepicker-next {
    right: 22px;
}
.ui-datepicker .ui-datepicker-prev{
    left: 22px;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top:2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 22px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 22px;
}
.under-wood-top-block-wrapper .this-section-filter, .under-wood-top-block-wrapper .this-section-filter a {
    color: white;
    font-family: FuturaFuturisBold;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
.under-wood-top-block-wrapper .this-section-filter ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 30px;
    width: 820px;
    margin: 0 auto;
}
.under-wood-top-block-wrapper .this-section-filter ul li {
    position: relative;
    float: left;
    /*margin-right: 20px;*/
}
.under-wood-top-block-wrapper .this-section-filter ul li:last-child {
    margin-right: 0;
    margin-top: -13px;
}
.under-wood-top-block-wrapper .this-section-filter ul ul li:last-child {
    margin-top: 0;
}
.under-wood-top-block-wrapper .this-section-filter .dropdown-menu > ul.first-ul-str {
    padding-top: 0;
}
.banquet-filter-items-right-border {
    float: left;
    height: 14px;
    width: 1px;
    background: url("../images/banquet-filter-items-right-border-bg.png") repeat-y;
    margin: 0 25px;
}
.under-wood-top-block-wrapper .this-section-filter a .caret {
    color: #30C5F0;
    margin-top: -3px;
    margin-left: 5px;
}
.under-wood-top-block-wrapper .this-section-filter a:focus {
    outline: none;
}
.under-wood-top-block-wrapper .this-section-filter a {
    cursor: pointer;
}
.under-wood-top-block-wrapper .this-section-filter input[type="submit"] {
    background: url("../images/filter-submit-bg-no-active.jpg") repeat-x;
    height: 37px;
    width: 70px;
    color: white;
    font-size: 10px;
    padding: 0;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}
.banquet-section .header_1 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    line-height: 42px;
    font-weight: 800;
    margin-top: 0;
    float: left;
    width: 100%;
}
.glyphicon {
    font-size: 12px;
    line-height: 59px;
}

.inner .right-banner-for-reserve {
    /*padding: 114px 23px;*/
    padding: 92px 23px;
}
.inner .navigation {
    margin-top: -40px;
}
.container .content .nav-tabs li a {
    padding: 10px 15px;
}
span.icon-star, span.icon-star-empty {
    font-size: 12px;
}
.container .content .left-side .special .carousel {
    margin-top: 0;
}
.order-buttons {
    margin-bottom: 10px;
}
.container .content .restoran-list .item .left .order-buttons {
    width: 280px;
}
.glyphicon-chevron-right:before{
    content: '\2303';
    line-height: 65px;
    font-size: 26px;
    font-weight: bold;
    color: #000;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    display: block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    text-align: right;
}
.glyphicon-chevron-left:before {
    content: '\2303';
    line-height: 65px;
    font-size: 26px;
    font-weight: bold;
    color: #000;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    display: block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    text-align: left;
}
.container .navigation .prev, .container .navigation .next {
    top: 0;
}
.container .navigation {
    margin-top: -30px;
}
.under-wood-top-block-wrapper .this-section-filter .dropdown-menu > li > a {
    /*color: #000;*/
}
.under-wood-top-block-wrapper .this-section-filter .dropdown-menu {
    top: 42px;
}
.under-wood-top-block-wrapper .this-section-filter .dropdown-menu .subway-map {
    position: relative;
}
.under-wood-top-block-wrapper .this-section-filter .dropdown-menu .subway-map .subway_station {
    display: block;
    position: absolute;
    z-index: 9999;
    border-radius: 5px;
    background: #FFF;
    opacity: 0.1;
    border-bottom: 1px dotted #1A1A1A;
}
.under-wood-top-block-wrapper .this-section-filter .dropdown-menu .subway-map .subway_station:hover {
    display: block;
    position: absolute;
    z-index: 9999;
    background: #24A6CF;
    opacity: .5;
}
.under-wood-top-block-wrapper .this-section-filter .dropdown-menu .subway-map .subway_station.selected {
    display: block;
    position: absolute;
    z-index: 9999;
    background: #24A6CF;
    opacity: .6;
    -pie-background: rgba(36, 166, 207, 0.6);
}
.under-wood-top-block-wrapper .this-section-filter .dropdown-menu {
    padding: 10px;
    background: #1C3748;
    border-radius: 0;
    border: none;
    left: -10px;
    width: 500px;
}
.under-wood-top-block-wrapper .this-section-filter .dropdown-menu.w700.subway {
    margin-left: -76px;
    width: 700px;
}
.title_box {
    overflow: hidden;
    margin-bottom: 10px;
}
div#new_filter_results {
    background: #D6DADB;
    z-index: 100;
    color: #000;
    padding: 10px;
}
.new_filter_results_wrapper {
    background: url("../images/content-top-gradient.png");
}
.new_filter_results_wrapper ul {
    list-style: none;
    margin: 0;
}
.new_filter_results_wrapper ul li a {
    cursor: pointer;
}
.new_filter_results_wrapper ul li a:after {
    content: '\2715';
    display: inline-block;
    font-size: 16px;
    font-family: 'futurafuturiscbold';
    margin-left: 5px;
    float: right;
    margin-top: 1px;
}
form#banquet-filter-form {
    height: 73px;
}
.new_filter_results_wrapper li {
    float: left;
    margin-left: 10px;
}
.pull-left.your_choose {
    font-weight: bold;
}
.this-section-filter .title_box {
    font-size: 18px;
    text-transform: none;
    font-family: 'futurafuturiscregular';
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #666767;
}
.this-section-filter .dropdown-menu .dropdown-menu a {
    background: none;
    text-transform: none;
    font-family: "Pt Sans", Helvetica, Arial, sans-serif;
}
.this-section-filter .dropdown-menu .title_box a {
    font-size: 14px;
}
.this-section-filter .dropdown-menu .title_box .filter_button {
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'futurafuturiscbold';
    text-transform: uppercase;
    font-size: 12px;
    outline: none;
    line-height: 22px;
    letter-spacing: .5px;
}
.this-section-filter .dropdown-menu ul li a {
    padding: 0px 10px;
    padding-left: 0px;
    font-size: 14px;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    font-weight: 300;
    background: none;
    text-transform: none;
    font-family: "Pt Sans", Helvetica, Arial, sans-serif;
}
.this-section-filter .dropdown-menu ul li a:hover, .this-section-filter .dropdown-menu ul li a.selected {
    color: #30C5F0;
}
.this-section-filter .dropdown-menu ul li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    line-height: 18px;
    width: 150px;
}
.pull-left.this-item-name {
    line-height: 36px;
}
.this-section-filter .dropdown-menu .title_box a.clear-all-filter-button {
    text-transform: none;
    background: none;
    font-family: "Pt Sans", Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 0px 20px;
}
.dropdown-menu.w480 {
    margin-left: -69px;
}
.container .ontop {
    width: 200px;
    text-align: center;
}
.container .ontop:before {
    margin: 0 auto;
}
.bxedmainframe td, .bxedmainframe table td {
    line-height: inherit;
}
.banquet-filter-submit-wrapper {
    margin-left: 25px;
}
input#datepicker {
    float: left;
}
.field-wrapper.datepicker-wrapper span {
    background: url("../images/reserve-calendar-button-bg.png") no-repeat;
    float: left;
    display: block;
    width: 47px;
    height: 47px;
    /*padding-right: 46px;*/
    cursor: pointer;
}
.reserve-region-field-wrapper.open ul {
    display: block;
}
textarea.bxeditor-textarea {
    line-height: 20px;
}
.carousel-inner a {
    color: white;
    text-decoration: none;
}
.more-link-position-abs.more_links {
    position: absolute;
    bottom: 2px;
    right: 0;
}
.city-list-wrapper .dropdown-menu:before {
    content: '\25BE';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    top: 0px;
    margin-left: -8px;
    -webkit-text-shadow: 0px 1px 1px #bfbfbf;
    -moz-text-shadow: 0px 1px 1px #bfbfbf;
    text-shadow: 0px 1px 1px #BFBFBF;
    color: #FFF;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    font-size: 18px;
}
.banquet-section .datepicker {
    font-family: 'futurafuturiscbold';
    font-size: 14px;
    background: #F3F6F7;
    border-radius: 0;
    width: 222px;
}
.banquet-section .datepicker .switch {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 12px;
}
.banquet-section .datepicker .dow {
    font-size: 10px;
}
.table-condensed thead > tr th.next {
    background: url("../images/calendar-right-arrow.png") left center no-repeat;
    text-indent: -9999px;
}
.banquet-section .datepicker thead tr:first-child th.next:hover {
    background: url("../images/calendar-right-arrow.png") left center no-repeat;
}
.table-condensed thead > tr th.prev {
    background: url("../images/calendar-left-arrow.png") right center no-repeat;
    text-indent: -9999px;
}
.banquet-section .datepicker thead tr:first-child th.prev:hover {
    background: url("../images/calendar-left-arrow.png") right center no-repeat;
}
.datepicker thead tr:first-child th:hover {
    background: none;
}
.banquet-section .datepicker .day {
    font-family: "Pt Sans";
    background: url("../images/datepicker-day-bg.png") no-repeat;
    height: 30px;
    width: 30px;
    border-radius: 0;
    line-height: 30px;
    padding: 0;
    padding-right: 1px;
}
.table-condensed > tbody > tr > td.day:last-child {
    padding-right: 0;
}
.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active.active, .datepicker td.active:hover.active {
    background: #1f3c4f;
    border-radius: 0;
}
