.feed-comments-block .feed-com-all-hide {display: none;}
.blog-post-popup-menu .menu-popup-item-icon, .blog-comment-popup-menu .menu-popup-item-icon{width:0px;}
.feed-com-block-hidden{background-color: #F0F0F0;}
.blog-comment-wait { height: 31px; width: 31px; background: url(images/wait.gif) no-repeat 0 0;}

#microblog-link .blog-post-new-link {
	cursor: text;
	border: 1px solid #C2C2C2;
	border-radius: 2px;
	color: #999;
	display: block;
	height: 30px;
	text-align: left;
	font-family: arial;
	line-height:30px;
}
#microblog-link .blog-post-new-link span {padding-left:10px;}

.feed-post-text-block table.data-table, .feed-com-text table.data-table {border-collapse: collapse;}
.feed-post-text-block table.data-table td, .feed-com-text table.data-table td, .feed-post-text-block table.data-table th, .feed-com-text table.data-table th {border: 1px solid grey; padding: 3px;}

table.blogquote, table.blogcode { font-size:1em; margin:0.5em 1em; width:80%; border:1px solid;}
table.blogquote td, table.blogcode td { padding:0.95em 1.5em; }
table.blogcode td {font-family:"Courier New"; white-space:pre-wrap;}
table.blogcode pre {font-family:"Courier New"; font-size: 12px; margin: 0; line-height: 15px; white-space:pre-wrap;}

div.blog-post-quote, div.blog-post-code {padding-top: 0.6em; padding-bottom: 0.6em;}
div.blog-post-quote span, div.blog-post-code span {padding-left:0.6em;}
div.blog-post-quote table.blogquote, div.blog-post-code table.blogcode {margin: 0;}

div.blog-post-quote span, div.blog-post-code span {display: none;}
div.blog-post-quote table span, div.blog-post-code table span {display: block;}
div.blog-post-code table.blogcode { border-color: #E8E8E8; color: #7D7D7D; background-color: #F7F7F7;}
div.blog-post-quote table.blogquote { border-color: #E8E8E8; color: #555; background: url(images/quote-gray.png) no-repeat scroll left top #F7F7F7;}

.feed-add-post-block .feed-cancel-com {margin-top: 15px;}
.feed-com-add-block .feed-add-photo-block {width: 102px;}
.feed-add-img-title {overflow: hidden;}

.feed-destination-edit {
	height: 23px;
	width: 23px;
	margin: -2px 5px 0 8px;
	background: url(images/pnc.png) no-repeat -1px -7px;
	position: absolute;
	cursor: pointer;
	display: none;
}
.feed-destination-edit:hover {background: url(images/pnc.png) no-repeat -24px -7px;}
.feed-destination-edit.feed-destination-edit-pressed {background: url(images/pnc.png) no-repeat -50px -7px;}
.feed-post-title-block:hover .feed-destination-edit{display: inline-block;}
/*
.blog-notify-bar {
	width: 100%;
	height: 2em;
	line-height: 2em;
	background: url("/bitrix/js/main/core/images/panel/sprite03.png") repeat-x scroll 0 -1178px #FFEB8D;
	position:relative;
	margin-bottom: 10px;
}
.blog-notify-close {
	display: block;
	height: 12px;
	margin: 3px 6px 0 0;
	padding: 0;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 12px;
}
.blog-notify-close a {
	background: url("/bitrix/js/main/core/images/panel/sprite03.png") no-repeat scroll -268px -243px transparent;
	display: block;
	height: 12px;
	width: 12px;
	cursor:pointer;
}
.blog-notify-text {
	text-align: center !important;
}
.blog-notify-text a {
	color: #ff0000;
	cursor:pointer;
	text-decoration:underline;
	margin-left: 9px;
}
*/

.feed-com-reply {
	color: #999;
	margin-left: 12px;
	font-size: 11px;
	line-height: 14px;
}

.feed-com-reply:hover {color: #999;}
.feed-answer-writing { display: inline-block; background: url('images/writing-recent.gif') no-repeat scroll 5px 2px transparent; height: 15px; width: 21px; margin-right: 6px; vertical-align: middle;}

.feed-com-answer-avatar {
	border:1px solid #eeeeee;
	box-shadow:inset 0 0 1px #fdfdfd;
	border-radius:1px;
	box-shadow:inset 0 0 1px #f0f0f0;
	height:19px;
	padding:2px;
	width:19px;
	display: inline-block;
	margin-right: 5px;
}
.feed-com-answer-avatar.feed-com-answer-noavatar {background: url('images/answer_sprite.png') 1px 1px no-repeat;}

.bx-notifyManager-animation-spbc {position: fixed !important;}
.bx-notifyManager-animation-spbc .popup-window-light {background: #f4f8f9; border: 1px solid #f4f8f9; border-radius: 1px; box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .18); }
.bx-spbc-notifier-item {width: 200px; padding: 0; display:block; padding: 0; font: 11px "Helvetica Neue",Helvetica,Arial,sans-serif; color: #76797a;}
.bx-spbc-notifier-item-avatar { float: left; margin-right: 6px; background: url('images/answer_sprite.png') 0 0 no-repeat; background-color: #FFF; display: inline-block; width: 21px; height: 21px; padding: 0px; vertical-align: top; margin-top: 2px; margin-bottom:-2px }
.bx-spbc-notifier-item-avatar-img { display: inline-block; width: inherit; height: inherit; border:0 }
.bx-spbc-notifier-item-content { display: block; padding: 0; min-height: 39px; overflow: hidden;}
.bx-spbc-notifier-item-name { display: block; overflow:hidden; text-overflow: ellipsis; white-space:nowrap; }
.bx-spbc-notifier-item-time { background: url('images/answer_sprite.png') no-repeat -46px 0px; padding-left: 12px; display: block; margin-left: 28px; color: #76797a; margin-top: 2px; line-height: 11px;}
.bx-spbc-notifier-item-text { font-size: 12px; color: #76797a; word-wrap: break-word; margin-top: 3px; display: inline-block;}
.bx-spbc-notifier-item-text2 { font-size: 12px; color: #000; word-wrap: break-word; display: inline-block;}

.bx-spbc-notifier-item-delete { position:relative; z-index: 4; cursor: pointer; display: block; float:right; width: 15px; height: 15px; background: url('images/answer_sprite.png') -24px 4px no-repeat; margin-top: -4px; margin-right: -2px;}

/* share */
.feed-add-post-destination-block-post {border-top: 1px solid #ebeded; border-bottom: 1px solid #ebeded; padding-top: 20px; padding-bottom: 20px; margin-top: 20px; margin-bottom: 20px; width: 100%; position: normal; }
.feed-add-post-buttons-post {padding-left: 67px; padding-top: 5px;}
.feed-add-post-buttons-post .feed-cancel-com {margin-top: 15px;}

.feed-add-post-destination-wrap .feed-add-post-destination-undelete {padding-right:11px !important;}
.feed-post-block-new .feed-add-destination-inp {background-color: #fdf9e5;}