* {
  margin: 0;
  padding: 0;
}
#wrapp {
    padding-bottom: 290px !important;
}
#search button {
  float: right;
  border-radius: 0 3px 3px 0;
}
.restopractic
{
    background:url(/fatcat/images/bg.jpg) top left; padding-bottom:40px;
}
#search button span {
  display: block;
  border: none;
  padding: 0;
  background: transparent url(../images/glass.png) no-repeat 0 0;
  width: 14px;
  height: 14px;
  opacity: .6;
  text-indent: -10000px;
}

.search-wrap {
  background: white;
  line-height: 30px;
  height: 30px;
  text-align: left;
  border-radius: 3px;
  width: 230px;
  margin: 0;
  border: 1px solid #ddd;
}

#photos-wrap {
  width: 980px;
  margin: 0 auto;
  margin-left:10px;
  position: relative;
  z-index: 1;
}

.avatar {
  width: 40px;
  height: 40px;
  padding: 2px;
  position: absolute;
  bottom: 24px;
  right: 32px;
  background: rgba(255,255,255,0.6);
  border-radius:100px;
}
	
.photo  {
  /*margin-bottom: px;*/
  float: left;
  position: relative;
  width: 300px;
  height: 293px;
  /*border-radius: 5px;*/
  /*background: white;*/
  /*padding: 5px;*/
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: url(images/border.png) top left no-repeat;
}
.photo img.main {
	padding-left:25px;
	padding-top:24px;
}
.photo .heart {
  height: 16px;
  position: absolute;
  left: 37px;
  bottom: 30px;
  padding: 0 5px 0 22px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-radius: 2px;
  border: 1px solid #ddd;
  background: white url('../images/fav.png') no-repeat 2px 0;
}

.paginate {
  display: block;
  clear: both;
  margin: 10px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  height: 100px;
}

.button {
  height: 32px;
  padding: 10px;
  background-color: #E0E0E0;
  border: 1px solid #ddd;
  background-image: -moz-linear-gradient(top,white 0,#E0E0E0 100%);
  background-image: -ms-linear-gradient(top,white 0,#E0E0E0 100%);
  background-image: -o-linear-gradient(top,white 0,#E0E0E0 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,white),color-stop(100%,#E0E0E0));
  background-image: -webkit-linear-gradient(top,white 0,#E0E0E0 100%);
  background-image: linear-gradient(to bottom,white 0,#E0E0E0 100%);
  border-radius: 3px;
  cursor: pointer;
  text-decoration:none;
  font-size: 12px;
  color: #222;
  text-shadow: white 1px 0px;
}


/*circle*/

#floatingCirclesG{
position:relative;
width:128px;
height:128px;
-moz-transform:scale(0.6);
-webkit-transform:scale(0.6);
-ms-transform:scale(0.6);
-o-transform:scale(0.6);
transform:scale(0.6);
}

.f_circleG{
position:absolute;
background-color:#FFFFFF;
height:23px;
width:23px;
-moz-border-radius:12px;
-moz-animation-name:f_fadeG;
-moz-animation-duration:0.88s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:12px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:0.88s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:12px;
-ms-animation-name:f_fadeG;
-ms-animation-duration:0.88s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:12px;
-o-animation-name:f_fadeG;
-o-animation-duration:0.88s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:12px;
animation-name:f_fadeG;
animation-duration:0.88s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#frotateG_01{
left:0;
top:52px;
-moz-animation-delay:0.33s;
-webkit-animation-delay:0.33s;
-ms-animation-delay:0.33s;
-o-animation-delay:0.33s;
animation-delay:0.33s;
}

#frotateG_02{
left:15px;
top:15px;
-moz-animation-delay:0.44s;
-webkit-animation-delay:0.44s;
-ms-animation-delay:0.44s;
-o-animation-delay:0.44s;
animation-delay:0.44s;
}

#frotateG_03{
left:52px;
top:0;
-moz-animation-delay:0.55s;
-webkit-animation-delay:0.55s;
-ms-animation-delay:0.55s;
-o-animation-delay:0.55s;
animation-delay:0.55s;
}

#frotateG_04{
right:15px;
top:15px;
-moz-animation-delay:0.66s;
-webkit-animation-delay:0.66s;
-ms-animation-delay:0.66s;
-o-animation-delay:0.66s;
animation-delay:0.66s;
}

#frotateG_05{
right:0;
top:52px;
-moz-animation-delay:0.77s;
-webkit-animation-delay:0.77s;
-ms-animation-delay:0.77s;
-o-animation-delay:0.77s;
animation-delay:0.77s;
}

#frotateG_06{
right:15px;
bottom:15px;
-moz-animation-delay:0.88s;
-webkit-animation-delay:0.88s;
-ms-animation-delay:0.88s;
-o-animation-delay:0.88s;
animation-delay:0.88s;
}

#frotateG_07{
left:52px;
bottom:0;
-moz-animation-delay:0.99s;
-webkit-animation-delay:0.99s;
-ms-animation-delay:0.99s;
-o-animation-delay:0.99s;
animation-delay:0.99s;
}

#frotateG_08{
left:15px;
bottom:15px;
-moz-animation-delay:1.1s;
-webkit-animation-delay:1.1s;
-ms-animation-delay:1.1s;
-o-animation-delay:1.1s;
animation-delay:1.1s;
}

@-moz-keyframes f_fadeG{
0%{
background-color:#0EBCC2}

100%{
background-color:#FFFFFF}

}

@-webkit-keyframes f_fadeG{
0%{
background-color:#0EBCC2}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#0EBCC2}

100%{
background-color:#FFFFFF}

}

@-o-keyframes f_fadeG{
0%{
background-color:#0EBCC2}

100%{
background-color:#FFFFFF}

}

@keyframes f_fadeG{
0%{
background-color:#0EBCC2}

100%{
background-color:#FFFFFF}

}

