.rest_list th
{
    border-bottom:1px solid #1a1a1a;    
    text-align:left;
    font-size:12px;
    line-height:16px;   
}
.rest_list td
{
    background:url(/tpl/images/dot.png) left bottom repeat-x;
    font-size:14px;
}
.rest_list .help_ico
{
    height: 16px;
    width:16px;
    float:right;
    background:url(/bitrix/js/main/core/images/hint.gif) left top no-repeat;
}
.rest_list .menu_button
{
        
    
/*    background:url(images/menu2.png) left top no-repeat;*/
    display: block;    
    font-style: italic;
    font-size:12px;
}
.rest_list .edit_button
{
    font-size:12px;
    
    
/*    background:url(images/edit.png) left top no-repeat;*/    
    display: block;
    font-style: italic;    
}
tr.nobor td
{
    background:none;
}
.tech
{
    position:absolute;
    top: 0px;
    right:0px;
    font-family: 'Open Sans', sans-serif;
    color:#24a6cf;
    font-weight: 700;
}