span.datedate
{
    font-size:18px;
    font-style: italic
}
.afisha_rest a
{
    color:#24A6CF;
}
#comments .black_hr
{
    margin:20px 0px;
}
#comments .right_block
{
    width:490px
}
#comments .left_block
{
    width:230px;
}
#comments .left_block .rest_img
{
    width:70px;
    padding-right: 15px
}
#comments .left_block .rest_name
{
    width:145px;
    line-height:25px;
}
#comments .left_block .rest_name a
{
    margin-bottom:10px;
}
#comments .more
{
    margin-top:10px;
    margin-left:250px;    
}
#comments .more .left
{
    margin-right:30px;
}
#comments .grey
{
    background:#f2f2f2;
    padding:19px;
    padding-bottom: 0px;
    width: 450px;
} 
#comments .grey div.left
{
    width:137px;
    height:124px;
    float:left;
    margin-right:19px;
    margin-bottom:19px;
    overflow: hidden;
}
#comments a.myPlayer {width: 448px; height:332px;  text-align:center; padding-bottom:20px; display: block;}