.subway-map
{
    position:relative;
}
#filter .subway_station
{
    display: block;
    position: absolute;
    z-index: 100001;
    border-radius: 5px;
}
#filter .subway_station:hover
{
    display: block;
    position: absolute;
    z-index: 100001;
    background: #24A6CF;
    opacity:.5
}
.subway_station.selected
{
    display: block;
    position: absolute;
    z-index: 100001;
    background: #24A6CF;
    opacity:.6
}
.filter_block {
    color: white;
    height: 31px;
}

.button_2014 {
  background: url("/tpl/images/buttons/button_post_bg.jpg") repeat-x scroll left top transparent !important;
  border-radius: 5px 5px 5px 5px;
  font-size: 16px !important;
  height: 45px;
  letter-spacing: 0;
  line-height: 45px;  
  padding: 0 25px;
  text-transform: none !important;
}
.MsoNormal {
    color: white;
}
.filter_block ul {list-style-type: none; margin:0px; padding:0px;}
.filter_block ul li {list-style-type: none; margin:0px; padding:0px; color:#FFF; line-height:24px; text-align: left}
.filter_block ul li a {border-bottom: 1px dashed #FFF; font-style: italic; color:#FFF}
.filter_block ul li a:hover
{
    border-bottom: 0px;
}
/*.filter_block .title a {background: url(/tpl/images/filter_arrow.png) right 8px no-repeat;}*/
.filter_button {background:#24a6cf; height:28px; border:0px; color:#FFF; font-weight: bold; text-align: center; width:148px; letter-spacing: 1px; cursor:pointer}
input.filter_button:active{background:#1a1a1a; height:28px; padding-top:4px;}
.filter_block {margin-bottom:5px;}