.article_rest
{
    width:155px;
}
.article_rest_text
{
    width:555px;
}

.statya_nav{margin-top:-50px;} 
.statya_nav a{color:#fff;}
.statya_nav_bottom{margin-top: 0px;}
.statya_nav_bottom a{color:#272727;}

#ny214_rest a.another {color:#000;}
#ny214_rest a.another:hover{color:#24a6cf;}

#ny214_rest{background-color: #fff;padding: 13px;-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
padding-bottom: 50px;
margin-bottom: 30px;
position: relative;
}
#ny214_rest .articles_photo .images{border: 0px;}
#ny214_rest .back{margin-left: 20px;
margin-right: 20px;
background: url(/tpl/images/buttons/button_new_bg.png) left top repeat-x;
height: 45px;
line-height: 45px;
font-size: 16px;
text-transform: none;
letter-spacing: 0px;
border-radius: 5px;
padding: 0px 25px;
font-family: appetite;
display: block;position: absolute;
color:#fff;text-decoration: none;
right:0px;
top:0px;
margin-right: 0px;
margin-top: -110px;
text-shadow: 0px 1px 1px rgba(18, 115, 154, 0.55);
}


#content > p{color:#fff;}