.content-wrapper
{
    font-family: Georgia,Times New Roman,Times,sans-serif;
}
.content-wrapper a
{
    color: #24a6cf;
}
.content-content
{
    width: 728px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.content-vrb-block
{
    /*font-size: 0.75em;*/
    vertical-align: top;
    position: relative;
    width: 228px;
    min-height: 220px;
    display: inline-block;
    *display: inline;
    *height: 220px;
    zoom: 1;

}
.content-vrb-content
{
    padding-bottom: 45px;
}
.content-vrb-content-title
{
    padding-bottom: 0.65em;

}
.content-vrb-content-title a
{
    /*font-size: 1.5em;*/
    text-decoration: none;
    color: #24a6cf;
}
.block-param
{
    padding-bottom: 0.5em;
}
.block-param-title
{
    font-weight: bold;
}
.content-vrb-links
{
    bottom: 0;
    left: 0;
    position: absolute;
    width: 228px;
    height: 1.85em;
}
.block-info-comments
{
    width: 150px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.block-info-next
{
    display: inline-block;
    width: 70px;
    text-align: right;
    *display: inline;
    zoom: 1;
}
.block-param-metro
{
    padding-left: 20px;
    /*background-image: url("images/pic_metro.png");*/
    background-repeat: no-repeat;
}
.block-param-url
{
    /*font-style: italic;*/
    margin-top: 0.5em;
}
.resume-personal-image
{
    display: inline-block;
    vertical-align: top;
}
.resume-personal-content-wrapper
{
    display: inline-block;
    padding-left: 1em;
    padding-top: 0.4em;
}
.resume-personal-place
{
    font-style: oblique;
}
.info-detail-wrapper
{
    background-color: rgba(242,242,242,0.6);
    /*font-size: 0.75em;*/
    padding: 2.85em 3.3em;
}
.info-detail-big
{
    width: 370px;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;

}
.info-detail-small
{
    display: inline-block;
    width: 270px;
    vertical-align: top;
    padding-top: 10px;
    *display: inline;
    zoom: 1;
}
.vacancy-detail-image
{
    display: inline-block;
    vertical-align: top;
    width: 80px;
    *display: inline;
    zoom: 1;
}
.vacancy-detail-info
{
    display: inline-block;
    vertical-align: top;
    width: 180px;
    *display: inline;
    zoom: 1;
    margin-left: 7px;
}
.vacancy-detail-info-name
{
    margin-bottom: 0.5em;
}
.vacancy-detail-info-name a
{
    font-size: 1.3em;
    text-decoration: none;
}
.vacancy-detail-info-city
{
    margin-bottom: 1.3em;
}
.vacancy-detail-info-send-message a
{
    color: #1a1a1a;
    padding-left: 25px;
    background-image: url('images/pic_send_message.png');
    background-repeat: no-repeat;
    background-position: left center;
}
.info-detail-big .block-param
{
    padding-bottom: 0.75em;
}
.info-detail-big br.block-param-break
{
    margin-top: -0.3em;

}
.vacancy-params
{
    margin-top: 4em;
    margin-bottom: 3em;
    /*font-size: 0.75em;*/

}
.vacancy-params-left
{
    width: 478px;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
}
.vacancy-params-right
{
    width: 230px;
    padding-left: 16px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.vacancy-params-left dl dt
{
    display: inline-block;
    font-weight: bold;
    margin-bottom: 1.7em;
    vertical-align: top;
    width: 165px;
    *display: inline;
    zoom: 1;
}
.vacancy-params-left dl dd
{
    width: 309px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 1.55em;
    *display: inline;
    zoom: 1;
}
.vacancy-params-content
{
    line-height: 1.75em;
    padding-top: 1em;
}
.panel-actions
{
    background-color: rgba(242,242,242,0.6);
    /*font-size: 0.75em;*/
    padding: 1.8em;
}
.panel-actions .block-info-comments
{
    width: 110px;
}
.panel-action-response
{
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.panel-action-response a, .panel-action-response a:hover
{
    color: #FFFFFF;
    padding: 0.7em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    background-color: #3b414e;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
}
.panel-action-tofavourite
{
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.panel-action-tofavourite a
{
    color: #1a1a1a;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 0.8em;
    padding-right: 0.8em;

}
.panel-action-likes
{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    padding-left: 0.8em;
    padding-right: 0.8em;
}
/* SIDEBAR */
.content-sidebar
{
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    width: 231px;
    *display: inline;
    zoom: 1;
}
/* SIDEBAR PANEL */
.sdbr-panel-out
{
    background-image: url('images/sdbr_panel_right.png');
    background-position: right center;
    display: inline-block;
    height: 51px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.5em;
}
.sdbr-panel-in
{
    background-image: url("images/sdbr_panel_left.png");
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    width: 100%;
    height: 51px;
    overflow: hidden;
}
.sdbr-panel-in span
{
    display: inline-block;
    padding-top: 0.7em;
    /*font-size: 1.15em;*/
    text-align: center;
    width: 100%;
}
/* HEADERS */
.content-h {
    color: #000;
}
h1.content-h
{
    font-size: 24pt;
    font-weight: normal;
    padding: 0;
    margin:0;
    padding-bottom: 1.22em;
    margin-left: -0.05em;
}
h2.content-h
{
    font-size: 20.3pt;
    font-weight: normal;
    padding: 0;
    margin:0;
    padding-bottom: 1.22em;
    margin-left: -0.05em;
}
h3.content-h
{
    font-size: 18.3pt;
    font-weight: normal;
    padding: 0;
    margin:0;
    padding-bottom: 0.6em;
    margin-left: -0.05em;
}
.roubledash
{
    position: relative;
    top: 0.07em;
    /*font-size: 0.9em;*/
    margin-left:  -0.66em;
}
.nopadding-bottom
{
    padding-bottom: 0 !important;
}
.italic
{
    font-style: oblique;
}
br.block-param-break
{
    display: block;
    margin-top: 1.3em;
}
/* DATE-FIELD */
.date-field{
    font-size: 13px;
}
.date-field .date-day
{
    font-size: 1.5em;
    font-style: italic;
}
.profile-activity {
  border-bottom: 1px solid #1A1A1A;
  font: 12px Georgia;
  margin-bottom: 12px;
  margin-top: -18px;
  width: 100%;
}
a.razmes {
  background: none repeat scroll 0 0 #F2F2F2;
  color: #1A1A1A !important;
  font: 11px Georgia,"Times New Roman",Times,serif;
  margin-bottom: 12px;
  margin-top: 14px;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.activity-actions a {
  color: #1A1A1A;
  display: block;
  font: italic 12px Georgia,"Times New Roman",Times,serif;
  margin-bottom: 6px;
  padding-left: 24px;
  text-decoration: underline;
  width: 80px;
}
a.icon-delete {
  background: url("/tpl/images/icon-delete.gif") no-repeat scroll 0 0 transparent;
  color: #1A1A1A !important;
}