div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.plan-desc form .submit-blue {
	float:none; 
	background: url('images/plus.png') 12px 50% no-repeat #24a6cf !important; 
	padding-left:28px; 
	cursor: pointer;
}

	
	