ul.faq-rand-left
{
    list-style: none outside none;
    padding: 0;
}
ul.faq-rand-left li
{
    border-bottom: 1px dotted #000000;
    margin-bottom: 20px;
    padding-bottom: 20px;	
}
ul.faq-rand-left li.last
{
    border-bottom: none;
    margin-bottom: 20px;
    padding-bottom: 20px;	
}
ul.faq-rand-left li a
{

}
ul.faq-rand-left li a.faq-rand-left-faq-name
{
	color: #24A6CF;
    display: block;
    margin-bottom: 15px;	
}
ul.faq-rand-left li a:hover
{
	
}