.subway-map
{
    position:relative;
}
#filter .subway_station
{
    display: block;
    position: absolute;
    z-index: 100001;
    border-radius: 5px;
}
#filter .subway_station:hover
{
    display: block;
    position: absolute;
    z-index: 100001;
    background: #24A6CF;
    opacity:.5
}
.subway_station.selected
{
    display: block;
    position: absolute;
    z-index: 100001;
    background: #24A6CF;
    opacity:.6
}
.filter_block {
    color: white;
    height: 31px;
}

.button_2014 {
  background: url("/tpl/images/buttons/button_new_bg.png") repeat-x scroll left top transparent !important;
  border-radius: 5px 5px 5px 5px;
  font-size: 16px !important;
  height: 45px;
  letter-spacing: 0;
  line-height: 45px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0 25px;
  text-transform: none !important;
}
.MsoNormal {
    color: white;
}