#comments .black_hr
{
    margin:20px 0px;
}
#comments .right_block
{
    width:490px;
    word-wrap: break-word;
}
#comments .left_block
{
    width:220px;
    padding-right:10px;
}
#comments .left_block .rest_img
{
    width:70px;
    padding-right: 15px
}
#comments .left_block .rest_name
{
    width:135px;
    line-height:25px;
}
#comments .left_block .rest_name a
{
    margin-bottom:10px;
}
#comments .more
{
    margin-top:10px;
    margin-left:240px;    
}
#comments .more .left
{
    margin-right:30px;
}
#comments .grey1
{
    background:#f2f2f2;
    padding:19px;
    padding-bottom: 0px;
    width: 450px;
} 
#comments .grey1 div.left
{
    width:137px;
    height:124px;
    float:left;
    margin-right:19px;
    margin-bottom:19px;
    overflow: hidden;
}
#comments a.myPlayer {width: 448px; height:332px;  text-align:center; padding-bottom:20px; display: block;}

.rutube-video iframe {
    width: 400px !important;
    height:300px !important;
}