#spec_block_list
{
    margin-bottom: 35px;
}
#spec_block_list .spec
{
    background:#FFF;
    width:230px;
    height:230px;
    -webkit-border-radius: 115px; 
    -moz-border-radius: 115px; 
    border-radius: 115px;
    position:relative;
    overflow:hidden;
    behavior: url(/tpl/PIE.htc);
    margin-right:15px;
    margin-bottom:15px;
    cursor:pointer;
}
#spec_block_list .dotted_s
{
    position:absolute;
    background:url(images/dotted_spec.png) left top no-repeat;
    width:218px;
    height:217px;
    left:6px;
    top:6px;
    z-index:100;
}
#spec_block_list .title_box
{
    
    padding-top:155px;
    width:230px;
    height:75px;
    -webkit-border-radius: 115px; 
    -moz-border-radius: 115px; 
    border-radius: 115px;
    position:relative;
    overflow:hidden;
    behavior: url(/tpl/PIE.htc);
    font-family: Arial;
    font-weight:bold;
    font-size:10px;
    text-align:center;
}
#spec_block_list .grad0
{
    background: url(images/spec_grad1.png) left 155px no-repeat;
}
#spec_block_list .grad1
{
    background: url(images/spec_grad2.png) left 155px no-repeat;
}
#spec_block_list .grad2
{
    background: url(images/spec_grad3.png) left 155px no-repeat;
}
#spec_block_list .title
{
    width:230px;
    height:47px;
    position:absolute;
    z-index:1000;
}
#spec_block_list .title table
{
    width:230px;
    height:47px;
    text-align:center;
}
#spec_block_list .title table td
{
    width:230px;
    height:47px;
    font-family: Arial;
    font-weight:bold;
    font-size:10px;
    text-align:center;
    vertical-align: middle;
    text-transform: uppercase;
}
#spec_block_list a .title table td 
{
    color:#FFF;    
    text-decoration: none;
}
#spec_block_list a:hover .title table td 
{
    color:#FFF;    
    text-decoration: underline;
}