table.sale_order_full
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
}

/*Table head*/
table.sale_order_full th
{
	background-image:url(images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}

/* Table cells and heads*/
table.sale_order_full th, table.sale_order_full td
{
	border:1px solid #ADC3D5;
	padding: 3px 5px;
	vertical-align:top;
}

table.sale_order_full_table
{
	width:100%;
	background-color:#FFFFFF;
	border-collapse:collapse;
	font-size:12px;
	border:1px solid #ADC3D5;
}

/* Table cells and heads*/
table.sale_order_full_table td
{
	padding: 3px 5px;
	vertical-align:top;
}

.sof-req{color:red;}
.sof-ok{color:green; font-weight:bold;}
.payment .el {background: url(/tpl/images/payment/el.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .el:hover {background: url(/tpl/images/payment/el_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .el {background: url(/tpl/images/payment/el_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .sms {background: url(/tpl/images/payment/sms.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .sms:hover {background: url(/tpl/images/payment/sms_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .sms {background: url(/tpl/images/payment/sms_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .bk {background: url(/tpl/images/payment/bk.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .bk:hover {background: url(/tpl/images/payment/bk_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .bk {background: url(/tpl/images/payment/bk_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .alfa {background: url(/tpl/images/payment/alfa.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .alfa:hover {background: url(/tpl/images/payment/alfa_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .alfa {background: url(/tpl/images/payment/alfa_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .ball {background: url(/tpl/images/payment/ball.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .ball:hover {background: url(/tpl/images/payment/ball_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .ball {background: url(/tpl/images/payment/ball_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}