/*****************/
/** QapTcha CSS **/
/*****************/
.QapTcha {}
.QapTcha .clr{clear:both}
.QapTcha .bgSlider {width:252px;height:34px;float:left;border:1px solid #e0e0e0;background-color:#e5e5e5;box-shadow:inset 0px 1px 6px #666; -webkit-box-shadow: inset 0px 1px 6px #666;
                                -moz-box-shadow: inset 0px 1px 6px #666;behavior: url(/tpl/PIE.php); position:relative; }
.QapTcha .Slider {width:32px;height:32px;background:transparent url('../images/bg_draggable_qaptcha.jpg') no-repeat;cursor:e-resize;position:relative;top:1px;left:1px;
box-shadow:-1px 0px 3px #666; -webkit-box-shadow: -1px 0px 3px #666;
                                -moz-box-shadow: -1px 0px 3px #666;behavior: url(/tpl/PIE.php); position:relative; 

}
.QapTcha .TxtStatus {width:252px;margin-top:7px;text-align:left;color:black !important;font-size:12px;float:left; margin-left:20px; font-style:italic;}
.QapTcha .dropSuccess {color:black !important}
.QapTcha .dropError {color:black !important}