body
{
    font-family: "Georgia";
}
body.m
{
    background:#3b414e;
    font-family: "Georgia";
}
#main
{
    padding:25px 35px;
    padding-bottom: 10px;
}
#main .logo a {text-decoration: none; border:0px;}
a.uppercase { color:#FFF; letter-spacing: 1px; text-decoration: none; text-transform: uppercase; font-size:12px;}
a.uppercase:hover { color:#24a6cf; text-decoration: none; }
p {color:#FFF;}
.font16 {font-size:16px; line-height:20px;}
.font14 {font-size:14px; line-height:18px;}
.font12 {font-size:12px; line-height:16px;}
.another {color:#24a6cf; }
div.left { float:left }
div.right {float:right }
div.clear {clear:both}
div.question {font-size:18px; color:#FFF; line-height:24px; margin: 5px 0px; margin-top:10px; }
input.username { border:none; line-height:24px; padding:0px 5px}
textarea {border:none; height: 100px; width:98%; padding:5px 5px;}
textarea {height:70px}
input.light_button { margin:0px; margin-top:10px; font-family: "Georgia"; height:28px; text-align: center; background:#24a6cf; padding:0px 20px; line-height:28px; letter-spacing: 2px; color:#FFF; border: 0px; text-transform: uppercase; cursor:pointer; font-size: 12px; position: relative}
input.light_button:hover { background:#000; color:#FFF;}
input.light_button:active { background:#24a6cf; color:#FFF; }
ul li {font-size:12px; color:#FFF}
.avatar { width: 112px; height:112px; overflow:hidden; background:#fff; border-radius:56px; border:1px solid #3b414e; }
.avatar img {margin-top:-2px;}
 .message span
{
    font-style: italic;
    color:#3b414e;
    font-size:12px;
    line-height:18px;
    font-family: "Georgia";
}
.message span.mevent
{
    font-style: normal;
    color:#24a6cf;
    
}
.message span.time {
	color: #000000;
}

.message span.nuser {
	font-weight: bold;
        text-transform: uppercase;
        font-style:normal;
}
.message span.muser {
        font-style:normal;
}

.message span.nagent {
	font-weight: bold;
        text-transform: uppercase;
        font-style:normal;
}
.message span.magent {
        font-style:normal;
}

.message span.minf {
    font-style: normal;
    color:#24a6cf;
}

.message span.mhidden {
	color: #A1A1A1;
	font-size: 11px;
}

.message span.mconn {
	color: #A1A1A1;
	font-size: 11px;
}
a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a img {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

form {
	margin-bottom: 0px;
	margin-top: 0px;
}

div#typingdiv, div#engineinfo {
	border: 0px solid gray;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-right: 10px;
	padding-left: 10px;
	background: #fafafa;
	color: #B11E23;
}

.bgcn {
	background-position: center;
	background-repeat: no-repeat;
}

.bgrn {
	background-position: right;
	background-repeat: no-repeat;
}

.bgcy {
	background-position: center;
	background-repeat: repeat-y;
}

.bgry {
	background-position: right;
	background-repeat: repeat-y;
}

.bgly {
	background-position: left;
	background-repeat: repeat-y;
}

.bgbx {
	background-position: bottom;
	background-repeat: repeat-x;
}

.window {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.window a {
	color: #880000;
}

.window h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18px;
	color: #000000;
	font-weight: normal;
}

.window h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	color: #000000;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.text span.grey {
	color: #787878;
}

.www a {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}

/*.message {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4F4F4F;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	line-height: 17px;
}*/


textarea.message {
	width: 100%;
	height: 100%;
	border: 0px solid Blue;
	overflow: auto;
	margin-left: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 5px;
}

.username {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #383838;
	padding-left: 3px;
}

input.username {
	border: 1px solid #878787;
}

.answer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #575757;
	width: 170px;
}

.submit a {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}

.button a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

.copyr {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #929292;
}

.copyr a {
	color: #929292;
}