.friendlist table{border-collapse:collapse; border-spacing:0; empty-cells:show;}
.friendlist th, .friendlist tr, .friendlist td{text-align:left; vertical-align:top}
.friendlist a{outline:none; color:#30c5f0!important;}
.friendlist a:hover {text-decoration:none}
.friendlist .hr, .friendlist img,.friendlist object{border:0;}

.friendlist {width:100%}
.friendlist tr {background:url(images/border-1px.gif) 0 100% repeat-x;}
.friendlist td {padding:20px; padding-left:0; padding-top:30px}

.friendlist .fleft {float:left; font-size:14px; text-align:center; margin-right:20px;}
.friendlist .fleft a {text-decoration:none; color:#1a1a1a; font-size:9px; text-transform:uppercase; line-height: 25px;}
.friendlist .fleft img {display:block; margin-bottom:20px}

.friendlist .fright {overflow:hidden; position:relative; padding-bottom:16px; font-size:12px;}
.friendlist .fright p {line-height:18px; font-size:12px;}
.friendlist .fright em {line-height:20px}

.friendlist p {font-size:14px;}
.friendlist a {font-size:14px;}
.friendlist .user-mail {background:url(images/user-friend-mail.gif) 0 3px no-repeat;}
.friendlist .user-mail a {color:#1a1a1a; text-decoration:underline; margin-left:24px; font-size:12px;}
.friendlist .user-invitation {white-space:nowrap; margin-bottom:0;}
.friendlist .user-invitation a {color:#1a1a1a; text-decoration:underline; font-size:12px;}
