
.profile-activity {width:100%; font:12px Georgia; border-bottom:3px solid #1a1a1a; margin-bottom:12px; margin-top:-18px;border-collapse: collapse;border-spacing: 0;empty-cells: show;}
.profile-activity tr {background:url(images/border-1px.gif) 0 100% repeat-x;}
.profile-activity tr.last{background: none;}
.profile-activity td {padding:18px 0;vertical-align: top;}
.profile-activity th {background:#f2f2f2; font:italic 12px Georgia, "Times New Roman", Times, serif; padding:12px 0;}
.profile-activity th.first {padding-left:16px; width:180px}
.profile-activity a {text-decoration:none;}
.profile-activity img {float:left; margin-right:18px;}
	td.profile-activity-col1 {width:108px; color:#c0c0c0; font:italic 12px Georgia, "Times New Roman", Times, serif; white-space:nowrap;}
		td.profile-activity-col1 a {color:#c0c0c0; text-decoration:underline; margin-right:20px;}
		td.profile-activity-col1 p {background:#fff; position:relative; top:-19px; padding-top:19px;}
	td.profile-activity-col2 {padding-right:14px; width:374px;  padding-right:24px;}
	td.profile-activity-col3 {padding-left:12px;}

.profile-activity.w100 th {padding:18px 14px; white-space:nowrap;}
.profile-activity.w100 td {padding:12px 14px;}

.more-activity {text-align:right;}
.more-activity a {text-transform:uppercase; text-decoration:none; color:#1a1a1a;}

.profile-activity-rating img {float:none;}


table.compact-table th {padding-left:8px !important; padding-right:8px !important}
table.compact-table td {padding-left:8px !important; padding-right:8px !important}

.wrap-div table .ac{text-align: center;}

.wrap-div table .c1{width:75px;}
.wrap-div table .c2{width:57px;}
.wrap-div table .c3{width:45px;}
.wrap-div table .c4{width:112px;}
.wrap-div table .c5{width:218px;}
.wrap-div table .c6{width:106px;}
.wrap-div table .c7{width:100px;}
.wrap-div table .c8{width:105px;}
.wrap-div table .c9{width:80px;}
.wrap-div table .c10{width:70px;}

.profile-activity .user-friends.nofloat {width:200px; background-color:transparent !important; /* padding-bottom:28px !important */}
.profile-activity .nofloat .user-friend {overflow:hidden; position:relative;}
.profile-activity .nofloat ul {}
.profile-activity .nofloat li {width:auto; float:none; overflow:hidden; position:relative; background:url(../_images/border-1px.gif) 0 100% repeat-x;}
.profile-activity .nofloat .user-friend-mail {margin-bottom:0;}
.profile-activity .nofloat p {}
.profile-activity .nopic {cbackground:none !important;}
.profile-activity .nobg {background:none !important;}
.profile-activity .nopic .user-friend p {margin-bottom:0;}

.wrap-div .profile-activity .user-friend p{font-size: 12px;line-height: 18px;}

.wrap-div .profile-activity p.user-friend-mail {background:url(images/user-friend-mail.gif) 0 0px no-repeat;  margin-bottom:0;height: 12px;display: block;margin-top: 18px;line-height: 11px;}
.wrap-div .profile-activity p.user-friend-mail a {color:#1a1a1a; text-decoration:underline; margin-left:24px;}
.wrap-div .profile-activity p.user-friend-mail a:hover{text-decoration: none;}

.wrap-div .profile-activity p.mar0{margin-top:0px;}

.profile-activity .nofloat .user-friend a{text-decoration: none;}

.but_sverka{display: block;position: absolute;right:0px;height:28px;line-height:28px;color:#fff !important;background-color: #24a6cf;font-size: 18px;font-family: Georgia;text-decoration: none !important;padding-left: 12px;padding-right: 12px;margin-top:-50px;}