.blog-items {overflow:hidden;}
.blog-items ul{list-style: none;padding: 0px;margin: 0px;}
.blog-menu li {margin-bottom:12px;}
.blog-menu em {font:12px Georgia, "Times New Roman", Times, serif; color:#1a1a1a; border-bottom:2px solid #c6c6c6}
.blog-menu a {font:14px Georgia, "Times New Roman", Times, serif; text-decoration:none;}




.blog-item {border-bottom:1px solid #000; padding-right:0px; position:relative; margin-bottom:24px; padding-bottom:6px}
.blog-item a{outline: none;color: #24A6CF;text-decoration: underline;}
.blog-item a:hover{text-decoration: none;}
.blog-item p {margin-bottom:18px}
.blog-actions {position:absolute; right:0; top:0; text-align:center}
.blog-actions .blog-rborder {border:1px solid #e3e3e3; padding:6px 12px; margin-bottom:12px;-moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; behavior: url('/tpl/PIE.htc');
}
.blog-actions .blog-rborder a {text-decoration:none;}


.not_active * {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); 
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5; opacity: 0.5;
}

.not_active:hover * {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); 
    -moz-opacity: 1;
    -khtml-opacity: 1; opacity: 1;
}

.blog-actions a {color:#1a1a1a; font:12px Georgia, "Times New Roman", Times, serif;}
.blog-top {font:12px Georgia, "Times New Roman", Times, serif; }	
.blog-top strong {font:12px Georgia, "Times New Roman", Times, serif; color:#1a1a1a; text-transform:uppercase; letter-spacing:1px}
.blog-top em {font:18px Georgia, "Times New Roman", Times, serif; }	


.blog-caption {font:16px Georgia, "Times New Roman", Times, serif;}	
.blog-text {font:Italic 12px Georgia, "Times New Roman", Times, serif; color:#1a1a1a; overflow:hidden;}
.blog-info {overflow:hidden; position:relative;}
.blog-item .blog-comments {float:left; width:158px; overflow:hidden;}
.blog-item .blog-tags {float:left; width:370px; overflow:hidden; padding-left:12px;}
.blog-item .blog-more {padding-left:24px;}

.blog-img-prev { text-indent:-5000px; margin-right:6px; margin-bottm:12px;
                 width: 38px;
                 height: 38px;
                 display: -moz-inline-stack;
                 display: inline-block;
                 vertical-align: middle;
                 zoom: 1;
                 *display: inline;
                 _height: 38px;
                 background:url(../_images/blog-arrows.png) 0 0 no-repeat;
}

.blog-img-prev:hover {background:url(../_images/blog-arrows.png) 0 -38px no-repeat;}

.blog-img-next { text-indent:-5000px; margin-left:6px; margin-bottm:12px;
                 width: 38px;
                 height: 38px;
                 display: -moz-inline-stack;
                 display: inline-block;
                 vertical-align: middle;
                 zoom: 1;
                 *display: inline;
                 _height: 38px;
                 background:url(../_images/blog-arrows.png) -38px 0 no-repeat;
}

.blog-img-next:hover {background:url(../_images/blog-arrows.png) -38px -38px no-repeat;}

.fltr {margin-bottom: 7px;height:24px;}
.fltr .pole{background: white;border: 0px;
            box-shadow: inset 0px 1px 3px #666;
            -webkit-box-shadow: inset 0px 1px 3px #666;
            -moz-box-shadow: inset 0px 1px 3px #666;
            behavior: url(PIE.htc);
            position: relative;
            height: 24px;
            line-height: 24px;
            padding: 0px 10px;outline: none;float:left;}
.fltr select{float:left;margin-right: 10px;}

a.light_button { height:28px; text-align: center; background:#24a6cf; padding:0px 20px; line-height:28px; letter-spacing: 2px; color:#FFF; border: 0px; text-transform: uppercase; cursor:pointer; font-size: 1em; position: relative;display: block;text-decoration: none;position: absolute;right:0px;top:0px;}
a.light_button:hover { background:#000; color:#FFF;}
a.light_button:active { background:#24a6cf; color:#FFF; }

.left_menu_pane ul{list-style: none;margin: 0px;padding: 0px;}


#response .left_block_blog{width:230px;}
#response .right_block_blog{width:580px;}

#response .black_hr
{
    margin:20px 0px;
}

#response .left_block_blog .rest_img
{
    width:70px;
    padding-right: 15px
}
#response .left_block_blog .rest_name
{
    width:145px;
    line-height:25px;
}
#response .left_block_blog .rest_name a
{
    margin-bottom:10px;
}
#response .more
{
    margin-top:10px;
    margin-left:250px;    
}
#response .more .left
{
    margin-right:30px;
}
#response .grey
{
    background:#f2f2f2;
    padding:19px;
    padding-bottom: 0px;
    width: 450px;
} 
#response .grey div.left
{
    width:137px;
    height:124px;
    float:left;
    margin-right:19px;
    margin-bottom:19px;
    overflow: hidden;
}
#response a.myPlayer {width: 448px; height:332px;  text-align:center; padding-bottom:20px; display: block;}


.poster_pane{outline: none;max-height: 370px;}


.jspVerticalBar{
    position: absolute;
    top: 0;
    right: 2px;
    width: 5px;
    height: 100%;
}
.jspContainer{position: relative;overflow: hidden;outline: none;}
.jspPane{position: absolute;margin: 0px;outline: none;}

.jspTrack { /* трек для ползунка прокрутки */

    height: 100%;
    width: 2px !important;
    background: #1a1a1a;
    position: absolute;
    top: 0;
    right: 5px;
}
.jspDrag
{
    /*position: absolute;
    cursor: pointer;
    width: 10px !important;
    height: 45px !important;
    right: -4px;*/
    background: #1a1a1a;
}
.jspDrag { /* ползунок */
    position: absolute;
    cursor: pointer;
    width: 10px !important;
    right: -4px;
    background: #30c5f0;
}

.jspDragTop {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.jspDragBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.jScrollArrowUp { /* стрелка вверх */
    position: absolute;
    top: 0;
    right: 2px;
    width: 26px;
    height: 12px;
    cursor: pointer;
    background-position: -2px -12px;
    overflow: hidden;
}
.jScrollArrowDown { /* стрелка вниз */
    width: 25px;
    height: 12px;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 3px;
    cursor: pointer;
    background-position: -21px -12px;
    overflow: hidden;
}
.pir-2013 {
    cursor: pointer;
    width: 121px;
    height: 41px;
    vertical-align: middle;
    background:url(images/pir2013.png) 0 0 no-repeat;
}