/* === Profile === */
.profile-info {overflow:hidden; position:relative; left:20px; margin-bottom:12px;}
.profile-user {width:189px; float:left; text-align:center;}
.profile-avatar {margin-bottom:24px;}
.profile-description {margin-bottom:24px; color:#1a1a1a;}
.profile-description a {text-decoration:none;}
.profile-rating {border:1px dashed #000; width:128px; margin:0 auto; padding:8px 4px 12px 4px; font-size:12px; margin-bottom:24px; color:#1a1a1a;
    /* Для хороших браузеров */
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    /* Для плохих IE */
    behavior: url('images/border-radius.htc'); /* учим IE border-radius */
}
.profile-rating strong {font-size:27px; margin-bottom:6px; line-height:27px;}
.profile-rating em {display:block; font-style:normal; margin-top:6px;}

.profile-data {margin-left:229px; width:495px; margin-left:-36px;}
.profile-data td {padding-left:36px; padding-bottom:18px; color:#1a1a1a; font-size:14px;}
.profile-data td em {font-size:12px;}
.profile-stat {color:#c0c0c0;}

.profile-activity {width:100%; font:12px Georgia; border-bottom:0px solid #1a1a1a; margin-bottom:12px; margin-top:-18px;}
.profile-activity tr {}
.profile-activity td {padding:18px 0;background:url(images/border-1px.gif) 0 100% repeat-x;}

.profile-activity tr.last td{background: none;}

.profile-activity p.name{margin-bottom: 5px;}

.profile-activity-rating{margin-top:-3px;}

.profile-activity th {background:#f2f2f2; font:italic 12px Georgia, "Times New Roman", Times, serif; padding:12px 0;}
.profile-activity th.first {padding-left:16px; width:180px}
.profile-activity a {text-decoration:none;}
.profile-activity img {float:left; margin-right:18px;}
td.profile-activity-col1 {width:108px; color:#c0c0c0; font:italic 12px Georgia, "Times New Roman", Times, serif;}
td.profile-activity-col1 a {color:#c0c0c0;}
td.profile-activity-col1 p {background:#fff; position:relative; top:-19px; padding-top:19px;}
td.profile-activity-col2 {padding-right:14px; width:374px;}
td.profile-activity-col3 {padding-left:12px;}

.profile-activity.w100 th {padding:18px 14px; white-space:nowrap;}
.profile-activity.w100 td {padding:12px 14px;}

.more-activity {text-align:right;}
.more-activity a {text-transform:uppercase; text-decoration:none; color:#1a1a1a;}

.profile-activity-rating img {float:none;}

.activity-actions {position:relative; width:185px}
.activity-actions div {position:absolute; right:0; top:0; margin-right:-14px;}
.activity-actions a {display:block; font:italic 12px Georgia, "Times New Roman", Times, serif; color:#1a1a1a; text-decoration:underline; padding-left:24px; margin-bottom:6px; width:80px;}
.activity-actions a:hover {text-decoration:none;}
a.icon-continue {background:url(images/icon-continue.gif) no-repeat 0 0;line-height: 15px;}
a.icon-delete {background:url(images/icon-delete.gif) no-repeat 0 0;line-height: 15px;}
a.icon-print {background:url(images/icon-print.png) no-repeat 0 0;}
a.razmes {padding:8px 12px; background:#f2f2f2; font:11px Georgia, "Times New Roman", Times, serif;text-align:center; text-decoration:none; text-transform:uppercase; margin-top:14px; margin-bottom:12px}