.gis-widget.modal-dialog {
    width: 720px;
    /*height: 520px;*/
}
.gis-widget #date {
    width: 170px;
    margin-top: 0;
}
.gis-widget #name {
    width: 150px;
}
.urm .gis-widget #name, .rga .gis-widget #name {
    width: 110px !important;
}
body {
    background:#F3F6F7;
}
.modal.in .modal-dialog {
    margin: 0;
    overflow: hidden;
}
.gis-widget.modal-dialog .modal-content {
    border: none;
    box-shadow: none;
}
.gis-widget.modal-dialog #order_online .right_column .times .time {
    margin-right: 5px;
    width: 58px;
    margin-bottom: 8px;
}
.gis-widget.modal-dialog #order_online {
    padding: 0;
}
.gis-widget.modal-dialog #order_online .left_column {
    width: 428px;
}
.gis-widget.modal-dialog #order_online .right_column .times .time.end {
    margin-bottom: 8px;
}