.boxshadow (@x, @y, @z, @c) {
    -webkit-box-shadow: @x @y @z @c;
    -moz-box-shadow: @x @y @z @c;
    box-shadow: @x @y @z @c;		
}
.textshadow (@x, @y, @z, @c) {
    -webkit-text-shadow: @x @y @z @c;
    -moz-text-shadow: @x @y @z @c;
    text-shadow: @x @y @z @c;		
}
.bradius (@r)
{
    -webkit-border-radius: @r;
    -moz-border-radius: @r;
    border-radius: @r;
}
@font-face {
    font-family:'rouble';
    src:url('/tpl/fonts/rouble-webfont.eot');
    src:url('/tpl/fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
        url('/tpl/fonts/rouble-webfont.woff') format('woff'),
        url('/tpl/fonts/rouble-webfont.ttf') format('truetype'),
        url('/tpl/fonts/rouble-webfont.svg#rouble') format('svg');
    font-weight:normal;
    font-style:normal
}

@font-face {
    font-family: 'futurafuturiscregular';
    src: url('fonts/futurafuturisc-1-webfont.eot');
    src: url('fonts/futurafuturisc-1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurafuturisc-1-webfont.woff') format('woff'),
         url('fonts/futurafuturisc-1-webfont.ttf') format('truetype'),
         url('fonts/futurafuturisc-1-webfont.svg#futurafuturiscregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futurafuturiscbold';
    src: url('fonts/futurafuturisc-bold-1-webfont.eot');
    src: url('fonts/futurafuturisc-bold-1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurafuturisc-bold-1-webfont.woff') format('woff'),
         url('fonts/futurafuturisc-bold-1-webfont.ttf') format('truetype'),
         url('fonts/futurafuturisc-bold-1-webfont.svg#futurafuturiscbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futurafuturislightcregular';
    src: url('fonts/futurafuturislightc-webfont.eot');
    src: url('fonts/futurafuturislightc-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurafuturislightc-webfont.woff') format('woff'),
         url('fonts/futurafuturislightc-webfont.ttf') format('truetype'),
         url('fonts/futurafuturislightc-webfont.svg#futurafuturislightcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?yv2gto');
	src:url('fonts/icomoon.eot?#iefixyv2gto') format('embedded-opentype'),
		url('fonts/icomoon.woff?yv2gto') format('woff'),
		url('fonts/icomoon.ttf?yv2gto') format('truetype'),
		url('fonts/icomoon.svg?yv2gto#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-times:before {
	content: "\e60c";
}
.icon-delete:before {
	content: "\e60d";
}
.icon-delete-outline:before {
	content: "\e60e";
}
.icon-times-outline:before {
	content: "\e60f";
}
.icon-pencil:before {
	content: "\e610";
}
.icon-phone:before {
	content: "\e611";
}
.icon-location:before {
	content: "\e612";
}
.icon-location2:before {
	content: "\e613";
}
.icon-compass:before {
	content: "\e614";
}
.icon-map:before {
	content: "\e615";
}
.icon-map2:before {
	content: "\e616";
}
.icon-spinner:before {
	content: "\e617";
}
.icon-spinner2:before {
	content: "\e618";
}
.icon-star-empty:before {
    content: "\e600";
    top: -1px;
    position: relative;
}
.icon-star2:before {
	content: "\e601";
}
.icon-star:before {
    content: "\e602";
    top: -1px;
    position: relative;
}
.icon-lifebuoy:before {
	content: "\e619";
}
.icon-clock:before {
	content: "\e61a";
}
.icon-calendar:before {
	content: "\e61b";
}
.icon-warning:before {
	content: "\e61c";
}
.icon-cycle:before {
	content: "\e603";
}
.icon-arrow-left:before {
	content: "\e604";
}
.icon-arrow-down:before {
	content: "\e605";
}
.icon-arrow-up:before {
	content: "\e606";
}
.icon-arrow-right:before {
	content: "\e607";
}
.icon-arrow-left2:before {
	content: "\e608";
}
.icon-arrow-down2:before {
	content: "\e609";
}
.icon-arrow-up2:before {
	content: "\e60a";
}
.icon-arrow-right2:before {
	content: "\e60b";
}