body {
    background: url("../images/reservation-bg.jpg") 0 80% no-repeat;
    background-size: cover;
    margin: 0;
}
.fade.in {
    z-index: 1;
}
.modal {
    position: relative;
    overflow-y: visible;
    float: left;
    overflow: visible;
}
.modal.in .modal-dialog {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
}
.modal-content {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.modal-dialog #order_online .super_title {
    right: -1px;
    left: auto;
    top: -41px;
}
.btn.btn-info.btn-nb span {
    color: #000000;
}
.section-title-wrapper {
    float: left;
    width:100%;
}
.container .content .section-title-wrapper h1 {
    color: white;
    line-height: 70px;
    font-size: 33px;
}
.section-title-wrapper img {
    margin-left: 20px;
}
.section-title-wrapper {
    margin-top: 80px;
}
.this-section-description {
    font-size: 24px;
    margin-top: 10px;
    color: white;
    font-family: futurafuturiscregular;
}
.this-section-description strong {
    font-family: futurafuturiscbold;
    font-weight: 100;
}
.container .btn-nb {
    font-size: 12px;
}
.this-section-detail-text {
    width: 900px;
    margin: 0 auto;
    font-size: 12px;
    padding-bottom: 50px;
    overflow: hidden;
}
.this-section-detail-text .left-block {
    width: 50%;
    float: left;
    padding-right: 10px;
}
.this-section-detail-text .right-block {
    float: right;
    width: 50%;
    padding-left: 10px;
}
.modal-dialog #order_online {
    padding: 0;
}
.modal-dialog #order_online .left_column {
    padding-right: 35px;
}
.modal-dialog #order_online .right_column {
    padding-left: 33px;
}