#banner-wrap {
	background:#bcc9b9;
	width:100%;
	position: relative;
	overflow: hidden;
	max-height:400px;
}

a.banner-show-more-button-uruk {
	position: absolute;
	background: url(/facebook/uruk-banner/button.jpg) top center no-repeat;
	width: 100%;
	height: 100%;
	margin-top: -40px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
	text-indent: -9999px;
			-webkit-transition-duration: 200ms;
	-moz-transition-duration: 200ms;
}
a.banner-show-more-button-uruk:hover {
	background: rgba(255,255,255,0.2) url(/facebook/uruk-banner/show-more.png) center 60% no-repeat;
		-webkit-transition-duration: 120ms;
	-moz-transition-duration: 120ms;
}
.main-banner-content {
	width:980px;
	margin:0 auto;
}