div#filter #search_input
{
    width:165px;
    height:23px;
    border:none;
    background: none;
    padding:0px 20px;
    outline: none;
    font-family: Georgia;
    font-size:13px;
    font-style:italic;
    padding-top:2px;
}
#search_submit_new
{
    background:url(/tpl/images/lens.png) center center no-repeat;
    width:24px;
    height:25px;
    border:0px;
    padding-left:20px;
}

div#filter .search_block_new {
    font-family: Arial;        
    height: 25px;
    background: white;
    box-shadow: inset 0px 1px 14px #898d95;
    -webkit-box-shadow: inset 0px 1px 14px #898d95;
    -moz-box-shadow: inset 0px 1px 14px #898d95;
    behavior: url(/tpl/PIE.php);
    position: relative;
    width: 200px;
    margin-bottom: 10px;
    margin-left:40px;
    border:1px solid #ccc;
}
div#filter a.near_you{
    font-family: Arial;
    background: #00aeef;
    width:180px;
    height:27px;
    display:block;
    text-transform: uppercase;
    font-size:12px;
    text-decoration:none;
    color:#FFF;
    padding:0px 10px;
    text-align:left;
    font-weight:bold;
    line-height:29px;
    cursor:default;
    padding-left:40px;
}
#search_by
{
    font-size:12px;
    text-transform: uppercase;
    font-weight:bold;    
    line-height:18px;
    border-right:1px solid #CCC;
    padding-left:20px;
    padding-right:10px;
    margin-top:3px;
    padding-top:2px;
}