#app_anons{height: 438px;background: url(img/app_bg.jpg) center bottom no-repeat;margin-bottom: 40px;margin-top: 40px;}
#app_anons .cent{height: 100%;position: relative;width: 980px;margin: 0 auto;}

#app_anons .ttl{border-top:1px solid #000;text-align: center;position: relative;}
#app_anons .ttl span{background-color: #fff;font-size: 36px;line-height: 36px;display: block;width: 498px;left:50%;top:-25px;margin-left: -249px;position: absolute; font-family: 'Playfair Display';font-weight: 900;}

#app_anons .soon{text-align: center;position: absolute;left:50%;margin-left: -95px;width: 190px;top:30px;text-transform: uppercase;letter-spacing: 2px; }

#app_anons .txt{position: absolute;top:78px;left:0px;font-size: 18px;line-height: 28px;font-family: 'futurafuturiscregular';}
#app_anons .txt a{color:#30c5ec;text-decoration: none;border-bottom: 1px dashed #30c5ec;}
#app_anons .txt a:hover{border: 0px;}
#app_anons .txt a.active{color: #000;cursor: default;border: 0px;}

#app_anons .icn_blocks{position: absolute;left:0px;top:238px;}
#app_anons .icn_blocks .bl{float: left;padding-left: 89px;margin-bottom: 30px;line-height: 20px;font-size: 16px;height: 62px;margin-right: 45px;padding-top: 6px;font-family: 'futurafuturiscregular';}

#app_anons .icn_blocks .map{background: url(img/app_icon_map.png) 0px 0px no-repeat;}
#app_anons .icn_blocks .tbl{background: url(img/app_icon_table.png) 0px 0px no-repeat;}
#app_anons .icn_blocks .plate{background: url(img/app_icon_plate.png) 0px 0px no-repeat;}
#app_anons .icn_blocks .app_icon{padding-left: 0px;}

#app_anons .forms{position: absolute;left:0px;top:145px;width: 505px;}
#app_anons .forms form{position: relative;height: 47px;display: none;}
#app_anons .forms form .pole{height: 47px;line-height: 47px;border: 1px solid #dde4e6;padding: 0px;padding-left: 18px;font-size: 14px;width: 382px;}
#app_anons .forms form .pole.error{border: 1px solid red;}
#app_anons .forms form .but{width: 125px;text-align: center;background-color: #30c5ec;height: 47px;color: #fff;font-size: 14px;text-transform: uppercase;padding: 0px;border: 0px;cursor: pointer;position: absolute;right:0px;top:0px;line-height: 47px;}
#app_anons .forms form input{outline: none;}