.subway-map
{
    position:relative;
}
#filter .subway_station
{
    display: block;
    position: absolute;
    z-index: 100001;
    border-radius: 5px;
}
#filter .subway_station:hover
{
    display: block;
    position: absolute;
    z-index: 100001;
    background: #24A6CF;
    opacity:.5
}
.subway_station.selected
{
    display: block;
    position: absolute;
    z-index: 100001;
    background: #24A6CF;
    opacity:.6
}