#order_online .question {
    text-align: center;
    font-size:14px;
    margin-bottom: 8px;
    line-height:24px;
}
#order_online .cusel,
#order_online .cuselFrameRight,
#order_online .jScrollPaneDrag,
#order_online .jScrollArrowUp,
#order_online .jScrollArrowDown {
	/*background: url(../images/selects-2.png) no-repeat;*/
        background:none;
        outline: none;
}
#order_online .cusel { /* общий вид селекта включая стрелку справа */
        margin-top:0px;
	height: 18px;
	background-position: left top;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 18px;
	z-index: 10000!important;    
        margin-right:15px;
}
#order_online .cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	height: 100%;
	width: 12px;
        background:url(/tpl/images/blue_arrow_down.png) center 11px no-repeat;
	/*background-position: right top;*/
}

#order_online .cuselText { /* контейнер для отображенного текста селект */
	height: 18px;
	padding: 0px 0px 3px 0px; /* подбираем отступы и высоту для видимого текста в селекте */
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 1;
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 16px;
        color:#24a6cf;
        border-bottom:1px dashed #24a6cf;
}
* html #order_online .cuselText { /* высота блока для текста для ие6 */
	height: 22px;
        color:#24a6cf;
        text-decoration: none;
        border-bottom:1px dashed #24a6cf;
}
#order_online .cusel span { /* оформление оптиона */
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 2px 15px 2px 5px; /* паддинг справа - это отступ текста от ползунка */
	zoom: 1;
        line-height:20px;
        text-align:left;
        color:#000;
}
#order_online .cusel span:hover,
#order_online .cusel .cuselOptHover { /* реакция оптиона на наведение */
	background: #24a6cf;
	color: #fff;
}
#order_online .cusel .cuselActive { /* оформление активного оптиона в списке */
	background: #3B414E;
	color: #fff;
	cursor: default;
}

/*
	styles for focus and hover
*/
#order_online .cusel:hover,
#order_online .cusel:hover .cuselFrameRight,
#order_online .cusel:focus,
#order_online .cusel:focus .cuselFrameRight,
#order_online .cuselFocus,
#order_online .cuselFocus .cuselFrameRight {
	/*background-image: url(../images/selects-2.png);*/
}

#order_online .cuselOpen {
	z-index: 999;
}

/*
	styles for disabled select
*/
#order_online .classDisCusel,
#order_online .classDisCusel .cuselFrameRight {
	/*background-image: url(../images/selects-2.png) !important;*/
	cursor: default;
	color: #ccc;
}
#order_online .classDisCusel .cuselText {
	cursor: default;
}


/*
	styles for scrollbar
*/
#order_online .cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 24px;
	background: #fff; /* фон выпадающего списка */
	min-width: 100%;
	width: auto;
}
#order_online .cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	border: 1px solid #999; /* границы выпадающего спиcка */
                box-shadow: 3px 3px 10px #000;
        -webkit-box-shadow: 3px 3px 10px #000;
        -moz-box-shadow: 3px 3px 10px #000;
        behavior: url(/bitrix/templates/main/PIE.htc);
}

#order_online .cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 7px !important;
	background: #fff;
	position: absolute;
	top: 0;
	right: 4px;
    width: 0px !important;
}
#order_online .cusel .jScrollPaneDrag { /* ползунок */
	position: absolute;
	background-position: -40px -26px;
	cursor: pointer;
	width: 15px !important;
	height: 27px !important;
	right: -4px;
    display: none;
	
}

#order_online .cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
#order_online .cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
#order_online .cusel .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
#order_online .cusel .jScrollArrowDown { /* стрелка вниз */
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
}
#cuselFrame-what_question {
    width: 220px !important;
    z-index: 9999 !important;
}
#cusel-scroll-what_question {
    width: 220px !important;
    padding-right: 0px !important;
}

#order_online .text
{
    font-size:18px;
    color:black;
    outline:none;
}

.text96 {
    width: 96% !important;
}

.order_online_mobile .ui-body-a, .ui-overlay-a {
    border:none !important;
}

.phone_before {
    float: left;
    width: 6% !important; margin-right: 2%; 
}
.text88 {
    width: 88% !important;
}

.question-label {
    float:right;
    line-height: 50px;
    margin-right: 10px;
    color: black;
    font-weight: bold;
    text-shadow: 0 0px 0px #000000;
    font-family: Arial,sans-serif;
    font-size: 16px;
}

.question-input {
    float:right;
    width: 70%; 
}

.question-block50 {
    float:left;
    width: 50%; 
    position: relative;
}

.time-block .question-input {
    width: 50%; 
}

.date-block .question-input {
    width: 60%; 
}

.ui-controlgroup-controls {
    width: 100% !important; 
}

.ui-radio {
    width: 50% !important; 
}
.ok {
    color: #000;
    font-family: Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    /*text-shadow: 0 -1px 1px #000000;*/
}