body .imp_redactor_box {
	line-height: 0;
	position: relative;
	z-index: 1;
	clear: both;
	font-family: "Trebuchet MS", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;  	
}
body .redactor_air {
	position: absolute;
	border: 1px solid #ddd;
}
body .imp_redactor_frame {
	background:#fff;
	width: 100%;
}
body .imp_redactor_box textarea {
	overflow: auto !important;
	border: none !important;
	// border-color: #fff;
	// width: 99.8% !important;
	font-size: 13px !important;
	white-space: pre !important;	
}
body .imp_redactor_toolbar, body .imp_redactor_toolbar li, body .imp_redactor_drop_down, body .imp_redactor_drop_down li {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
	line-height: 1;
}
body .imp_redactor_toolbar {
	position: relative !important;
	float: left !important;
	width: 100% !important;
	height: 32px !important;	
}
body .imp_redactor_toolbar li {
	float: left !important;
	width: 32px;
	height: 32px !important;
	position: relative !important;
}
body .imp_redactor_toolbar li.act {
	z-index: 3;
}
body .imp_redactor_toolbar li a {
	display: block;
	height: 32px;
	zoom: 1;
	overflow: hidden;
}
body .imp_redactor_toolbar li.separator {
	width: 2px;
	margin: 0 3px;	
}
body .imp_redactor_drop_down {
	z-index: 2;
	position: absolute;
	top: 32px;
	left: 0;
	background-color: #fff;

}
body .imp_redactor_drop_down li {
	font-size: 12px !important;
	float: none;
	list-style: none !important;	
	width: 200px;	
	height: auto !important;
	background: none !important;	
}
body .imp_redactor_drop_down li.separator_drop {
	border-bottom: 1px solid #eee;
}
body .imp_redactor_drop_down li a {
	color: #000 !important;
	text-decoration: none !important;
	height: auto;	
	display: block;
	padding: 6px 36px 6px 8px;
	background: none;
}
body .imp_redactor_drop_down li a:hover {
	color: #000 !important;
	text-decoration: none !important;
	background-color: #eee;
}
body .imp_redactor_drop_down li a.redactor_color_link {
	padding: 0;
	display: block !important;
	width: 15px !important;
	height: 15px !important;
	float: left !important;
	border: 2px solid #fff !important;
	font-size: 1px;
}
								


body .imp_redactor_resize {	
	cursor: s-resize;
	height: 8px !important;
	line-height: 0 !important;
	font-size: 0 !important;
}
body .imp_redactor_resize div {
	height: 8px !important;
	line-height: 0 !important;
	font-size:0 !important;
}


/* =Skin
-----------------------------------------------------------------------------*/
html body #block_list #imp_redactor_box_redactor {}


html body #block_list .imp_redactor_toolbar li {width:35px !important; height:36px !important; margin-right:9px !important;}

html body #block_list .imp_redactor_toolbar {padding-bottom:12px !important; float:right !important; width:265px !important;}

body .imp_redactor_box .imp_redactor_toolbar {
	height:36px !important;
}
body .imp_redactor_box .imp_redactor_toolbar li.act {
	background: url(../i/hover.png) repeat-x;
}
body .imp_redactor_box .imp_redactor_toolbar li a {
		
}
body .imp_redactor_box .imp_redactor_toolbar li:hover {
	background: url(../i/hover.png) repeat-x;
}
body .imp_redactor_box .imp_redactor_resize {
	border-top: 1px solid #d7d6d6 !important;
	background: url(../i/bg.png) repeat-x !important;	
}
body .imp_redactor_box .imp_redactor_resize div {
	background: url(../i/resizer.gif) center no-repeat !important;
}
body .imp_redactor_box .imp_redactor_toolbar li.separator {
	background: url(../i/separator.png) no-repeat right;
}


/* BUTTONS */
body .imp_redactor_toolbar li a {line-height:36px; display:block; height:36px;}
body .imp_redactor_toolbar li a.imp_btn_italic 		 { background: url(../i/ico.png) no-repeat -44px 0px;}
body .imp_redactor_toolbar li a.imp_btn_link { background: url(../i/ico.png) no-repeat -176px 0px;  }
body .imp_redactor_toolbar li a.imp_btn_StrikeThrough{ background: url(../i/ico.png) no-repeat -88px 0px; }
body .imp_redactor_toolbar li a.imp_btn_insertunorderedlist	 { background: url(../i/ico.png) no-repeat -132px 0px; }
body .imp_redactor_toolbar li a.imp_btn_bold { background: url(../i/ico.png) no-repeat -0px 0px; }

body .imp_redactor_toolbar li a.imp_btn_h5 { background: url(../i/ico.png) no-repeat -220px 0px; }

body .imp_redactor_toolbar li a.imp_btn_italic:hover 		 { background: url(../i/ico.png) no-repeat -44px -36px;}
body .imp_redactor_toolbar li a.imp_btn_link:hover { background: url(../i/ico.png) no-repeat -176px -36px;  }
body .imp_redactor_toolbar li a.imp_btn_StrikeThrough:hover{ background: url(../i/ico.png) no-repeat -88px -36px; }
body .imp_redactor_toolbar li a.imp_btn_insertunorderedlist:hover	 { background: url(../i/ico.png) no-repeat -132px -36px; }
body .imp_redactor_toolbar li a.imp_btn_bold:hover { background: url(../i/ico.png) no-repeat -0px -36px; }

body .imp_redactor_toolbar li a.imp_btn_h5:hover { background: url(../i/ico.png) no-repeat -220px -36px; }






/* MODAL */
#redactor_imp_modal_overlay {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter:alpha(opacity=60);
	opacity: 0.60;
	background-color: #000 !important;
}
#redactor_imp_modal_overlay[id] { position: fixed; }

#redactor_imp_modal {
	background-color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	box-shadow: 0px 5px 20px #333;
	-webkit-box-shadow: 0 5px 20px #333; 
  	-moz-box-shadow: 0 5px 20px #333;		
  	z-index: 50001;	
	font-family: "Trebuchet MS", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;   	
	color: #000;
}
#redactor_imp_modal_header {
	padding: 30px 40px;
	font-size: 24px;
}
#redactor_imp_modal_inner {
	padding: 0 40px 30px 40px;
}
#redactor_imp_modal_close {
	position: absolute;
	right: -11px;
	top: -11px;
	width: 30px;
	height: 30px;
	background: url(../i/close.png) no-repeat;
	cursor: pointer;
}
.redactor_ruler td {
	font-size: 12px !important;
	padding: 5px !important;
	border: none !important;
}

