#search_input
{
    width:160px;
    height:22px;
    border:none;
    background: none;
    padding:5px 15px;
    outline: none;
    font-family: Georgia;
    font-size:13px;
    font-style:italic;
    background:url(/tpl/images/spec/new_year_corp_2014/search.png);
}
#search_submit_new
{   
    background: none;
    border:none;
    height:40px;    
    width:40px;
    left:155px;
    top:30px;
    position: absolute;
    font-family:Arial;
    padding-top:4px;
    cursor: pointer;
}


div#filter .search_block_new {
    font-family: Arial;
    border: 1px solid #d8d8d8;
    border-right:0px;
    height: 25px;
    background: white;
    box-shadow: inset 0px 1px 3px #898d95;
    -webkit-box-shadow: inset 0px 1px 3px #898d95;
    -moz-box-shadow: inset 0px 1px 3px #898d95;
    behavior: url(/tpl/PIE.php);
    position: relative;
    width: 680px;
    margin-bottom: 10px;
}
div#filter a.near_you{
    font-family: Arial;
    background: #9c141b;
    width:210px;
    height:27px;
    display:block;
    text-transform: uppercase;
    font-size:12px;
    text-decoration:none;
    color:#FFF;
    padding:0px 10px;
    text-align:left;
    font-weight:bold;
    line-height:27px;
}
div#filter a.near_you:hover{
    background:#1a1a1a;    
}
#search_by
{
    font-size:12px;
    text-transform: uppercase;
    font-weight:bold;    
    line-height:18px;
    border-right:1px solid #CCC;
    padding-left:20px;
    padding-right:10px;
    margin-top:3px;
    padding-top:2px;
}