h1 {
    font-size:32px;
    margin:0px;
    padding: 0px;
    margin-bottom:20px;
    font-weight: normal;
    color:#1a1a1a;
    line-height:36px;
}

h2 { font-size:2em; color:#1a1a1a; font-weight:normal}
h3 { font-size: 16px; color:#24a6cf; font-weight: normal; line-height: 24px; margin:10px 0px; }
h4
{
    font-size:16px;
    margin:0px;
    padding: 0px;
    margin-bottom:15px;
    color:#474747;
    font-weight:bold;
    font-style: italic;
}
h5
{
    font-size:16px;
    margin:0px;
    padding: 0px;
    margin-bottom:15px;
    color:#272727;
    font-weight:normal;
    font-style: italic;
    line-height: 25px;
}
h6 {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    color: #1A1A1A;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;    
}
.clear { clear: both;}
div#container
{
  margin: 0 auto;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  z-index: 1;
  position:relative;
}
.left {float:left}
.right {float:right}
div.baner {margin-bottom:20px; text-align:center}

div#header, div#content, div#main_menu_kupon, div#kupon_menu, div.top_baner_block, div#news, div#subscribe, div#filter .filter, div.ajax_forms_menu, div.scroll, .footer_content {width:978px; margin:0 auto;}

/*==================MAIN MENU==================*/

div#main_menu_kupon ul li.bull { background: url(images/menu_bull.png) center center no-repeat; width:5px; height:18px; margin:0px;}
div#main_menu_kupon ul li a { text-decoration: none; text-transform: uppercase; letter-spacing: 2px}
div#main_menu_kupon ul li a span{ font-size:1.3em; }


div#main_menu_kupon {border-top:1px solid #000; border-bottom:3px solid #000; margin-bottom:17px;}
div#main_menu_kupon ul {position:relative; padding:0px; margin:0px;
        font: 12px Georgia;
        text-align: justify;
        line-height: 0;
        text-justify: newspaper;
        zoom:1;
        text-align-last: justify;	
}
div#main_menu_kupon ul:after {
        width: 100%; 
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;

}
div#main_menu_kupon ul li  {
        position:relative;
        display: inline-block;
        text-align: left;
        line-height: normal;		
        font-size: 12px;
        vertical-align: top; 
        *display : inline;
        zoom : 1;
        padding:12px 0px;
}

/*==================END MAIN MENU==================*/
/*==================KUPON MENU==================*/
div#kupon_menu ul li.active { background:#24a6cf}
div#kupon_menu ul li a { text-decoration: none; color:#24a6cf; font-size: 1.6em;}
div#kupon_menu ul li.active a { color:#FFF}
div#kupon_menu ul li a sup{ font-size:0.5em}


div#kupon_menu {margin-bottom:17px;}
div#kupon_menu ul {position:relative; padding:0px; margin:0px; width:790px; margin:0 auto;
        font: 12px Georgia;
        text-align: justify;
        line-height: 0;
        text-justify: newspaper;
        zoom:1;
        text-align-last: justify;	
}
div#kupon_menu ul:after {
        width: 100%; 
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;

}
div#kupon_menu ul li  {
        position:relative;
        display: inline-block;
        text-align: left;
        line-height: normal;		
        font-size: 12px;
        vertical-align: top; 
        *display : inline;
        zoom : 1;
        padding:6px 22px;
        list-style-type: none; 
}



/*==================END KUPON MENU==================*/

div#filter { /*background: url(images/kupon_filter_bg.jpg) left top repeat-x;*/ margin:0 auto; margin-bottom: 0px; width:100%}
div#filter .filter { /*padding:10px 0px;*/}
div#filter .filter .actual {font-size:18px; line-height:30px; color:#FFF; font-family: appetite; text-align: center; padding-right:10px;}
div#filter .filter .actual span{font-size:30px; color:#24a6cf ; font-family: appetite; line-height:24px;}

div#filter .title { color:#FFF; font-size:2em;}
div#filter .search_block { border:5px solid #f2f2f2;height:28px; background: #FFF;box-shadow:inset 0px 1px 3px #666; -webkit-box-shadow: inset 0px 1px 3px #666;
                           -moz-box-shadow: inset 0px 1px 3px #666;behavior: url(PIE.htc); position:relative; width:970px; margin-bottom: 5px}
div#filter .search_block .left, div#filter .search_block .right{ height:28px; }
div#filter .search_block input { border:0px; background:none; height:28px;padding:0px 10px; font-size:14px; outline: none; font-style: italic; width:756px}
div#filter .search_block input#search_submit { width:19px; height:16px; padding-top:6px;}
div#filter .search_block input.placeholder { color:#cccccc;}
div#filter .search_button {background:#2D323B; width:168px; padding:5px; padding-left:30px; height:28px; margin-top:10px;}
div#filter .search_button input { width:168px; }
div#filter .search { margin-left:45px;}
div#filter .button { width:180px; margin-top:5px; }
div#filter .button input.filter_button{ background:#1a1a1a; height:28px; border:0px; color:#FFF; font-weight: bold; text-align: center; width:148px; letter-spacing: 1px}
div#filter .button input.filter_button:active{ height:28px; padding-top:4px;}
div#filter .button ul{ padding:0px; margin:0px; margin-top:20px}
div#filter .button ul li { list-style-type:none; height:30px;}
div#filter .button ul li a{ color: #FFF; text-decoration: none; text-shadow:1px 1px #2d323b;}
div#filter .button ul li a:hover { color: #24a6cf;}
div#filter .button .add_rest { background:url(images/add_block.png) left top no-repeat; padding:4px 0px; height:20px; text-align: center; margin-left:-10px; margin-top:15px;}
div#filter .button .add_rest a{ color:#FFF; font-size: 1.3em; text-decoration: none;}
div#filter .filter_box { padding:0px; margin:0px; width:620px; text-align: justify;text-justify: newspaper; zoom:1; text-align-last: justify; margin-right:20px;}
div#filter .filter_box:after {width: 100%; height: 0px; visibility: hidden;  overflow: hidden;   content: ''; display: inline-block;}

div#filter .filter_block { margin:0px; padding-top:0px; display: inline-block; vertical-align: top; text-align: left; *display : inline;  zoom : 1; margin-right:30px;} 
div#filter .filter_block ul {list-style-type: none; margin:0px; padding:0px;}
div#filter .filter_block ul li {list-style-type: none; margin:0px; padding:0px; color:#FFF; line-height:24px;}
div#filter .title {color:#24a6cf; font-size:18px; line-height:34px; text-shadow:1px 1px 1px #000; behavior: url(PIE.htc);}
div#filter .buttons {padding-top: 35px; width:150px;} 
div#filter .buttons .add_rest2 { background:url(images/add_block2.png) left top no-repeat; padding:4px 0px; height:20px; text-align: center; margin-left:-2px; margin-top:15px; margin-bottom: 10px;}
div#filter .buttons .add_rest2 a{ color:#FFF; font-size: 1.2em; text-decoration: none; text-shadow:1px 1px 1px #000; behavior: url(PIE.htc);}
div#filter .buttons .filter_button {background:#24a6cf; height:28px; border:0px; color:#FFF; font-weight: bold; text-align: center; width:148px; letter-spacing: 1px; cursor:pointer}
div#filter .buttons input.filter_button:active{background:#1a1a1a; height:28px; padding-top:4px;}
/*div#filter .filter_arrow {background: url(/tpl/images/filter_arrow.png) left top no-repeat; width:9px; height:9px; cursor:pointer; margin-top:5px; margin-left:2px; display:block}*/
div#filter .filter_arrow  {border-color:#24a6cf;}
div#filter .filter_arrow:hover {border:none}
a.white {
text-decoration: none;
color: white;
}
div#filter .filter_popup {padding:0px 10px 10px 10px; width:644px; background:url(/tpl/images/popup_bg.png) left top; display: none}
div#filter .filter_popup .title {color:#FFF; line-height:30px; text-shadow:none; margin-bottom:0px;}
div#filter .filter_popup .filter_button {background:#24a6cf; height:28px; border:0px; color:#FFF; font-weight: bold; text-align: center; width:148px; letter-spacing: 1px; cursor:pointer}
div.top_baner a.title {color:#24a6cf; font-size:1.6em; text-decoration: none; line-height:28px;}
div.top_baner a.title:hover {color:#000;}

.top_baner {background:#f5f5f5;}
.top_baner_block {padding:20px 0px}

/*==================NEWS_BLOCK==================*/
div#news { margin-top:20px;}
li a {text-decoration: none;}
li a div.tab_left {width:14px; height:54px;}
li a div.tab_right {width:14px; height:54px;}
li a div.name {font-size:16px; line-height:46px; padding:0px 15px; color:#24a6cf;  text-decoration: none;}
li a.current div.tab_left {background:url(images/tab_left.png) left top no-repeat; width:14px; height:44px;  position:relative}
li a.current div.tab_right {background:url(images/tab_right.png) right top no-repeat; width:14px; height:44px; position:relative}
li a.current div.name {border-top:1px solid #000; font-size:16px; line-height:46px;background:#FFF; color:#1a1a1a; text-decoration: none; height:46px; position:relative}


ul.tabs { margin:0 !important; padding:0; height:41px; width:720px;border-bottom:3px solid #000;}
ul.big {width:978px}
ul.tabs li { float:left; padding:0; margin:0; list-style-type:none;}
ul.tabs a.current { color:#000;	cursor:default;}

/* tab pane */
.panes div.big {width:978px!important}
.panes div.pane { display:none; min-height:150px; padding:15px 0px;margin-top:-3px; width:728px; line-height: 20px}
.panes div span.date{ font-size: 1.6em}
.panes div img{ margin-right:10px;margin-bottom:10px;}
.panes div a { color:#24a6cf; text-decoration: underline;}
.panes div a:hover { color:#000; text-decoration: none;}
.panes div a.uppercase { color:#1a1a1a; letter-spacing: 1px; text-decoration: none; }
.panes div a.uppercase:hover { color:#24a6cf; text-decoration: none; }
.news_img { width:480px; }
.news_text { width:246px }
.comment { width:360px; font-style: italic;}
.comment_more { width:360px; text-align: right }
/*==================END_NEWS_BLOCK==================*/

/*==================POSTER_PANE==================*/
ul#poster_tabs { margin:0 !important; padding:0; height:51px; width:728px;border-bottom:3px solid #000;}
ul#poster_tabs li { float:left; padding:0; margin:0; list-style-type:none;}
ul#poster_tabs a { display:block; height:55px; padding:0px 20px; line-height:55px; color:#fff; background:#3b414e; width:105px; text-align: center; text-decoration: none;}
ul#poster_tabs a.long { display:block; height:43px; padding:0px 20px; padding-top: 12px; line-height:16px; color:#fff; background:#3b414e; width:105px; text-align: center;}
ul#poster_tabs a.current { background:#24a6cf;color:#FFF; font-size: 1.4em;}
.panes div.pane { display:none; min-height:150px; padding:15px 0px;  margin-top:-3px; width:720px; line-height: 20px}
.panes div span.date{ font-size: 1.6em}
.panes div img{ margin-right:10px;margin-bottom:10px;}
.panes div a { color:#24a6cf; text-decoration: underline;}
.panes div a:hover { color:#000; text-decoration: none;}
.panes div a.uppercase { color:#1a1a1a; letter-spacing: 1px; text-decoration: none; }
.panes div a.uppercase:hover { color:#24a6cf; text-decoration: none; }
table.poster {width:100%;}
table.poster tr { background: url(images/dot.png) left bottom repeat-x; }
table.poster tr.end { background: none; }
table.poster tr.end td { border-bottom:1px solid #1a1a1a; }
table.poster td { height:50px; }
table.poster td.name { font-size: 1.6em; width:300px;}
table.poster td.type { color: #cccccc; }
/*==================POSTER_PANE==================*/

.rest_news_cont { position:relative; }
.rest_news_cont  .special_scroll {display: block; margin-top:10px; width: 100%; overflow: hidden; height:175px; position: relative}
.rest_news_cont  .special_scroll .scroll_container{width:5000em; position:relative;}
.rest_news_cont  .special_scroll .item {float:left; margin-right:20px; overflow:hidden; cursor: pointer; position: relative; height:160px;}
.rest_news_cont  .special_scroll .active { width:241px;}
.rest_news_cont  .special_scroll .item div.border { background: #fff; width:241px; height:25px; position: absolute; z-index: 1000}
.rest_news_cont  .special_scroll div.active div.border { background: url(images/rest_news_active.png) left top no-repeat; width:241px; height:165px; position: absolute;}
.rest_news_cont  .special_scroll .item div.title { background: #000; opacity: .8; width:241px; height:40px; position: absolute; bottom:0px; color:#FFF; font-size:1.6em; text-align: center; padding-top:10px;}

.scrollable { position:relative; overflow:hidden; /*width: 660px;*/ height:165px; /*max-width:1902px;*/ margin:0 auto;}
.scrollable .items { width:20000em; position:absolute; height:165px; clear:both}
.items div.item { float:left; margin-left:10px; padding:5px; cursor:pointer; position:relative; height:165px;}
.items div.active div.border { background: url(images/rest_news_active.png) left top no-repeat; width:241px; height:165px; position: absolute;}
.items div div.border { background: #fff; width:241px; height:25px; position: absolute; z-index: 1000}
.items div div.title { background: #000; opacity: .8; width:241px; height:40px; position: absolute; bottom:10px; color:#FFF; font-size:1.6em; text-align: center; padding-top:10px; left:5px;}
div.scroll { margin-top:10px; margin-bottom:10px;}
a.prev { background: url(images/scroll_arrow_left.png) left top no-repeat; display: block; width:36px; height:36px; cursor:pointer;}
a.next { background: url(images/scroll_arrow_right.png) left top no-repeat; display: block; width:36px; height:36px; cursor:pointer;}
.poster_pane {
    margin-top: 1px;
}

/*==================RANGE==================*/
.slider { background:#1a1a1a; height:2px; position:relative; cursor:pointer; width:885px; float:left; clear:right; margin-top:17px; -moz-box-shadow:inset 0 0 8px #000; margin-left:10px; margin-right:10px;}
.progress { height:9px; background-color:#C5FF00; display:none;	opacity:0.6;}
.handle { background:#3b414e; height:12px; width:70px; top:-6px; position:absolute; display:block; margin-top:1px; cursor:move;}
.range { display:none;}
/*==================END_RANGE==================*/

div.kupons {width:294px; margin-right:22px; margin-bottom:22px; border-right:1px dotted #cfcfcf;padding-right:22px}
div.kupons .kupon_name {margin-bottom:10px;}
div.kupons .kupon_name a { font-size: 16px; color:#24a6cf; line-height: 24px; margin:10px 0px; text-decoration: none; display: block}
div.kupons .kupon_name a:hover {color: #000;}
div.kupons .kupon_image_block {position:relative}
div.kupons .kupon_image {width:295px; height:186px; overflow:hidden; margin-bottom:22px; }
div.kupons .kupon_image img{width:295px;}
div.kupons .grey {color:#b6b5b5; margin-top:15px}
div.kupons .grey span{font-size: 1.2em}
div.kupons .favorites {margin:10px 0px 5px 0px;}
div.kupons .favorites .rating {margin-top:15px;}
div.kupons .price {margin:0px 0px 15px 0px;}
div.kupons .price span {font-size: 1.8em}
div.kupons .price span.rouble {font-family: "rouble"}
div.border_line {border-top:1px solid #e6e6e6;margin-bottom:22px}
div.kupon_long_baner {margin:0 auto; margin-bottom:22px;width:960px; overflow:hidden;}
div.end {margin:0px!important;padding-right:0px!important; border:0px!important}
div.kupons .kupon_image .kupon_of_day {background:url(images/kupon_of_day.png) right top no-repeat; width:110px; height:166px; position:absolute; top:-45px; right:-10px; font-family: "appetite"; color:#FFF; font-size:1.4em; padding-top:44px; text-align:center}
div.kupons .kupon_image .new {background:#9dcf24; line-height:24px; opacity:.9; color:#FFF; font-family: appetite; padding:0px 10px; position:absolute; left:0px; top:12px;} 



div.rating {  height:18px}
div.star_a { float: left;  background: url('images/stars.png') top left no-repeat; background-position: 0px 0px; height: 18px; width: 22px; }
div.star { float: left;  background: url('images/stars.png') top left no-repeat; background-position: 0px -19px; height: 18px; width: 22px; }
.active_rating .star,.active_rating .star_a {cursor:pointer;}
div.small_star_a { float: left;  background: url('images/small_stars.png') top left no-repeat; background-position: 0px 0px; height: 11px; width: 13px; }
div.small_star { float: left;  background: url('images/small_stars.png') top left no-repeat; background-position: 0px -11px; height: 11px; width: 13px; }

/*==================TOP_BLOCK==================*/
div.top_block {background:url(images/top_block.png) left top no-repeat; width:232px; height:51px; text-align:center; line-height:48px; font-size:1.6em; margin-bottom:10px;}
div.top_restoraunt {padding:15px 0px; border-bottom:1px dotted #1a1a1a; width:232px;}
div.top_restoraunt  div.position {-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background:#3b414e; width:50px; height:48px; behavior: url(PIE.htc); color:#FFF; font-size: 2.6em; text-align: center; padding-top: 2px; margin-right:10px; position:relative}
div.top_restoraunt .title {color:#24a6cf; font-size:1.6em; margin:5px 0px;}
div.top_restoraunt a { color:#24a6cf; text-decoration: underline;}
div.top_restoraunt a:hover { color:#000; text-decoration: none;}
div.top_restoraunt_end {border-bottom:1px solid #1a1a1a; padding-bottom:30px;}
/*==================END_TOP_BLOCK==================*/

div#content {margin-top:20px!important;margin-bottom:20px!important; line-height:18px;}
div.phone_block2 { background: url(images/phone_block2.png) center top no-repeat; color:#FFF; font-family: appetite; width:240px; height:165px; text-align: center; font-size:2.5em; padding-top:50px;}
div.phone_block2 div { color:#1a1a1a; font-size:0.5em}
div.phone_block2 span { color:#fff; font-size:0.5em}

div.recept {width:240px; text-align: center; margin-top:20px; border-bottom: 1px solid #000;}
p.columns {
	-webkit-column-count: 2;
	-webkit-column-width: 400px;
	-webkit-column-gap: 35px;
	-webkit-column-rule: none;
	-moz-column-count: 2;
	-moz-column-width: 400px;
	-moz-column-gap: 35px;
	-o-column-rule: none;
	-o-column-count: 2;
	-o-column-width: 400px;
	-o-column-gap: 35px;
	-o-column-rule: none;
	column-count: 2;
	column-width: 400px;
	column-gap: 35px;
	column-rule: none;
}

#footer { width:100%; margin:0 auto;  background: #3b414e; height:200px; margin-top:50px; padding-top:70px;}
#footer  .footer_content {position:relative; background:url(images/dot2.png) left top repeat-x; color:#FFF;}
#footer  .footer_content p{margin-top:0px; padding:0px;}
#footer  .footer_content .left {margin-right:50px;}
#footer  .footer_content ul {margin:0px auto; padding:30px 0px; margin-left:120px; height:38px;}
#footer  .footer_content ul li {float:left; margin-left:50px; width:120px; list-style-type: none; padding:0px; line-height:22px; height:22px}
#footer  .footer_content ul li a { color:#FFF}
#footer  .footer_content ul li a:hover { color:#24a6cf}
#footer .to_top {position:absolute; margin:0 auto; background: url(images/to_top.png) left top no-repeat; width:96px; height:96px; margin-left: 440px; *margin-left: 340px; margin-top: -118px; letter-spacing: 1px; color: #FFF; line-height:125px; text-align: center; font-size:1.2em; cursor:pointer}

#system_loading{position:fixed;display:none;right:10px;top:10px;z-index:99999;background:#0d0d0d;border:1px solid #333;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; opacity:0.8; padding:10px; behavior: url(PIE.htc); line-height:32px; font-family: appetite; font-size: 1.4em; color:#FFF; text-indent:15px;}

/*POPUP*/
.popup {behavior: url(PIE.htc); padding:15px; width:auto; color:#FFF; z-index: 99999}
.popup .title {font-size:1.6em; padding-bottom: 5px; border-bottom:1px dotted #FFF; color:#FFF; text-align: left; margin-bottom:5px; white-space: nowrap}
.popup ul {padding:0px;margin:0px;}
.popup ul li{padding:0px;margin:0px;list-style-type:none; line-height:20px;}
.popup ul li a{color:#FFF; text-decoration: none; white-space: nowrap}
.popup ul li a:hover{color:#24a6cf; text-decoration: none}
/*END_POPUP*/

/*AJAX_FORM*/
input.inputtext {background:#FFF; border:0px; box-shadow:inset 0px 1px 3px #666; -webkit-box-shadow: inset 0px 1px 3px #666; -moz-box-shadow: inset 0px 1px 3px #666;behavior: url(PIE.htc); position:relative; height:28px; line-height:28px; padding: 0px 10px}
.ajax_form {text-align:left;position:relative; *width:450px}
.ajax_form .question {  color:#FFF; line-height:30px; margin-bottom:10px; font-size: 1.2em; position:relative;}
.ajax_form .errortext {color:#24a6cf;}
.ajax_form .ok {color:#24a6cf;}
.ajax_form input.invalid {background:url(images/warning.png) 98% center no-repeat #FFC1C1; }
.ajax_form .error_text_maessage {display:none}
.right_block {width:230px;}
.error_text_message {display:none; visibility: hidden;}
#reviews textarea.invalid {border:6px solid #FFC1C1; }
/*==================CATALOG_LIST_BLOCK==================*/
#catalog { width:978px; margin:0 auto; position:relative;}
#catalog .sort {position:absolute; right:0px; top:5px;}
#catalog .sort a {color:#24a6cf;}
#catalog .title {float:left; color: #24a6cf; font-size:1.8em; margin-bottom: 10px;}
#catalog .img {margin-right:10px; margin-bottom:10px;}
.metro {background: url(images/catalog/metro_icon.png) left 2px no-repeat; padding-left:20px;}
.metro_msk {background: url(images/catalog/metro_icon.png) left 2px no-repeat; padding-left:20px; line-height:19px;}
.metro_spb {background: url(images/catalog/metro_icon_spb.png) left 2px no-repeat; padding-left:20px; line-height:19px;}
#catalog .rating {float:left; margin-top:5px;margin-left:30px;}
#catalog p {margin-bottom: 4px; margin-top:0px;}
.restoraunt,.restoraunt_end  {width:484px; margin-right:10px; margin-bottom:10px; margin-top:10px;}
.restoraunt_end {margin-right:0px;}
#catalog .small_rating{float:left; margin-top:8px;margin-left:60px;}
.restoraunt .img,.restoraunt_end .img { width: 225px; overflow: hidden}
#catalog .restoraunt .title, #catalog .restoraunt_end .title {float:left; color: #24a6cf; font-size:1.6em; margin-bottom: 10px;}
.restoraunt .new,.restoraunt_end .new { font-family: appetite; float:left; margin-left: 20px; font-size: 1.2em; line-height: 28px;}

.rest_news_cont { position:relative; }
.special_scroll {display:none;}
.special .scroll_arrows {width:116px; line-height:38px; text-align: center}
a.prev { background: url(images/catalog/scroll.png) 0px 0px no-repeat; display: block; width:38px; height:38px; cursor:pointer;}
a.next { background: url(images/catalog/scroll.png) -39px 0px no-repeat; display: block; width:38px; height:38px; cursor:pointer;}
a.prev:hover { background: url(images/catalog/scroll.png) 0px -39px no-repeat; }
a.next:hover { background: url(images/catalog/scroll.png) -39px -39px no-repeat; }

hr.bold { border-bottom:2px solid #1a1a1a; }
a.another {color:#24a6cf;}
a.nav {display: inline-block; height:34px; width:34px; line-height: 34px; text-align:center; font-size:14px; text-decoration: none; }
a.nav:hover {border:1px solid #24a6cf; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; height:32px; width:32px; line-height: 32px;  text-decoration: none}
span.num {border:1px solid #000; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: inline-block; height:32px; width:32px; line-height: 32px; text-align:center; font-size:14px;}

/*==================END_CATALOG_LIST_BLOCK==================*/

/*==================CATALOG_DETAIL========================*/
#order {background:#3b414e; height:115px; width:695px; margin-bottom:15px; padding:10px; font-size:1.4em; color:#fff; line-height:28px}
#order a {color:#FFF; text-decoration:none; border-bottom:1px dashed #FFF;}
#order .time {background: none; border:none; font-size: 1em; color:#FFF; border-bottom:1px dashed #FFF; outline: none; height: 27px;}
#order a:hover {color:#FFF; text-decoration:none; border-bottom:1px dashed #FFF;}
#order sub {font-size:12px}
#order .right {width:220px; padding-top:5px;}
#order .coupon {border:1px dashed #FFF; border-bottom:0px; border-radius:10px 10px 0px 0px; width:184px; height:57px;margin-top:25px;font-size:1.6em; text-align:center;line-height: 24px;padding-top: 8px; margin-left:18px;}
#order .coupon span {font-size:0.5em}
#order .coupon a {color:#24a6cf; font-size:0.5em; border: 0px; text-decoration: underline}
#order .coupon a:hover {text-decoration: none}
#order .properties {font-size:12px}


#order .phone {line-height:20px;padding-top:7px}
#contacts {height:140px;}
.catalog_detail { width:978px; margin:0 auto; position:relative;}
.catalog_detail .detail {width:710px;}
.catalog_detail h1 {color:#1a1a1a; float:left; margin-top:10px;}
.catalog_detail .rating {float:left; margin-top:15px;margin-left:30px;}
.catalog_detail p {margin-bottom: 4px; margin-top:0px;}
.catalog_detail .special_scroll, .photogalery .special_scroll {display: block; margin-top:10px; width: 397px; overflow: hidden; height:56px;}
.catalog_detail .special_scroll .scroll_container, .photogalery .special_scroll .scroll_container {width:2000em}
.catalog_detail .special_scroll .item, .photogalery .special_scroll .item {float:left; margin-right:18px; width:65px; overflow:hidden; margin-top: 3px; cursor: pointer;}
.catalog_detail .special_scroll .active, .photogalery .special_scroll .active {border:3px solid #24a6cf; margin-top: 0px; width:59px;}
.catalog_detail .scroll_arrows, .photogalery .scroll_arrows {width:116px; line-height:38px;margin-top:10px; margin-bottom:0px; clear:both}
.photogalery .scroll_container .item img {margin:0px;}
.img {overflow: hidden; width:397px; }
.img2 {overflow: hidden; width:397px; height:300px}
.catalog_detail .properties .name {font-weight: bold; background: #FFF;}
.catalog_detail .properties .dotted {background: url(images/catalog/properties_dot.png) left 12px repeat-x;}
.catalog_detail .more_properties {background: url(images/city_arrow.png) left center no-repeat; padding-left: 15px; text-align: right; float:right; margin-top:10px;}
.catalog_detail .more_properties_a {background: url(images/city_arrow_a.png) left center no-repeat; padding-left: 15px; text-align: right; float:right; margin-top:10px;}
.preview_text {line-height:20px;}
#reviews .review {width:320px}
#reviews .review .data{color:#CCC;}
#reviews .add_review{border:6px solid #f2f2f2; box-shadow:inset 0px 1px 3px #666; -webkit-box-shadow: inset 0px 1px 3px #666;
                           -moz-box-shadow: inset 0px 1px 3px #666;behavior: url(PIE.htc); position:relative; width:490px; height:110px; padding:5px;}
.tabs {margin-bottom:20px;}
.figure_border { text-align:center; width:232px; position: relative; padding-top:21px; padding-bottom:21px; margin:0 auto; margin-top: 20px}
.figure_border .center { border-left:1px solid #000; border-right:1px solid #000; text-align:center; width:229px; position: relative; }
.figure_border .top { background:url(images/top_block.png) left top no-repeat; background-position: 0px 0px; width:232px; height:21px; position:absolute; left:0px; top:0px;}
.figure_border span { font-size: 1.6em; line-height:34px;}
.figure_border .bottom { background:url(images/top_block.png) left top no-repeat; background-position: 0px -30px; width:232px; height:21px; position:absolute; left:0px; bottom:0px;}
.partners {width:232px;}
.partners .site {margin:20px 0px;}
.partners .site a {font-size:2em; color:#24a6cf; letter-spacing: 1px; text-decoration: none}
.same {width:232px;background: #FFF; text-align: center}
.same .resto {border:1px solid #FFF; height:114px; -webkit-border-radius: 58px; -moz-border-radius: 58px; border-radius: 58px; width:114px; margin:0 auto; background: url("images/catalog/rs.jpg") left top no-repeat}
.same  a {font-size: 16px; color:#24a6cf; font-weight: normal; line-height: 24px; margin:10px 0px; text-decoration: none}
.same  a:hover {text-decoration: underline}
.catalog_detail .blog {width: 320px; }


#reviews .figure_link { background:url(images/add_block.png) left top no-repeat; padding:4px 0px; height:20px; text-align: center; margin-left:-10px; margin-top:55px; width:203px; }
#reviews .figure_link a { color:#000; font-size: 1.3em; text-decoration: none;}
#reviews .figure_link input { color:#000; font-size: 1.3em; text-decoration: none; background:none;border:none; height: 20px;cursor:pointer;}


div.in_menu {padding:15px 0px; border-bottom:1px dotted #1a1a1a; width:232px; margin-left:5px; text-align: center}
div.in_menu div.position {-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background:#3b414e; width:50px; height:48px; behavior: url(PIE.htc); color:#FFF; font-size: 2.6em; text-align: center; padding-top: 2px; margin-right:10px;}
div.in_menu a { color:#24a6cf; text-decoration: none;}
div.in_menu a:hover { color:#24a6cf; text-decoration: underline;}
div.in_menu p {margin-top:5px;}
div.in_menu_end {border-bottom:1px solid #1a1a1a; padding-bottom:20px;}

.rest_news {width:480px; margin-right:18px;}
.rest_news .title {color:#24a6cf; font-size:1.6em; margin-bottom: 10px; line-height:24px;}
.rest_news .data span {font-size:1.4em}

.scrollable_contacts { position:relative; overflow:hidden; height:90px; width:860px; margin-left:20px; margin-right:20px;margin-bottom:30px;}
.scrollable_contacts .items { width:20000em; position:absolute; height:165px}
.scrollable_contacts .items div.item { float:left; margin-left:10px; padding:5px; cursor:pointer;}
.scrollable_contacts .items div.active div.border { background: url(images/rest_news_active.png) left top no-repeat; width:241px; height:165px; position: absolute;}
.scrollable_contacts .items div div.border { background: #fff; width:241px; height:25px; position: absolute; z-index: 1000}
.scrollable_contacts .items div div.title { background: #000; opacity: .8; width:241px; height:40px; position: absolute; bottom:0px; color:#FFF; font-size:1.6em; text-align: center; padding-top:10px;}
div.scroll { margin-top:10px; margin-bottom:10px;}
#contacts a.prev {margin-top:25px;}
#contacts a.next {margin-top:25px;}
#contacts .items .left{margin:0px 50px 0px 10px;}




#cuselFrame-order_what {background:none; margin-top:0px; height:24px; margin-right:10px;}
#cuselFrame-order_what .cuselText { height:26px; right:20px; border-bottom: 1px dashed #FFF; padding: 3px 0 0 0px;}
#cuselFrame-order_what .cuselFrameRight{background:url(images/catalog/order_scoll.png) right bottom no-repeat}
#cuselFrame-order_what .cusel-scroll-wrap{z-index:1000; margin-top: 10px; box-shadow: 1px 1px 5px #666; -webkit-box-shadow: 1px 1px 5px  #666;
                           -moz-box-shadow: 1px 1px 5px  #666;behavior: url(PIE.htc);}
#cuselFrame-order_what span {font-size:14px;line-height:20px; color: #1a1a1a;}

#cuselFrame-order_many {background:none; margin-top:0px; height:24px; margin-right:10px; width:40px!important}
#cuselFrame-order_many .cuselText { height:26px; right:20px; border-bottom: 1px dashed #FFF; padding: 3px 0 0 0px;}
#cuselFrame-order_many .cuselFrameRight{background:url(images/catalog/order_scoll.png) right bottom no-repeat}
#cuselFrame-order_many .cusel-scroll-wrap{z-index:1000; margin-top: 10px; box-shadow: 1px 1px 5px #666; -webkit-box-shadow: 1px 1px 5px #666;
                           -moz-box-shadow: 1px 1px 5px #666;behavior: url(PIE.htc);}
#cuselFrame-order_many span {font-size:14px;line-height:20px; color: #1a1a1a; text-align: center;}

#order .date {visibility:hidden; width:100px}
.caltrigger {position:absolute; top:-3px;left:0px;}
/*==================END_CATALOG_DETAIL========================*/
.cols2 .videonews {float:left; margin-right:25px; width:350px}
.cols2 .videonews span.data{font-size:1.6em; font-style: italic;}
.cols2 a.myPlayer {display:block; width: 350px; height:260px;  text-align:center; margin:0 0 15px 0; border:1px solid #999;}

.cols3 .videonews {float:left; margin-right:25px; width:308px}
.cols3 .videonews span.data{font-size:1.6em; font-style: italic;}
.cols3 a.myPlayer {display:block; width: 308px; height:230px;  text-align:center; margin:0 0 15px 0; border:1px solid #999;}

table td {font-size: 12px;}
#asd_share_buttons {display:none}
.statya_nav {position:absolute; top:0px; right:0px; line-height: 20px; width:280px;}
.statya_section_name{position:relative}
/************************ HR ******************************/
div.black_hr {border-top:1px solid #000; height:1px; margin-bottom:10px;}
div.dotted { background:url(/tpl/images/dot.png) left top repeat-x; margin:10px 0px; height:1px}
/************************ END HR *************************/

.paddingbottom10 {padding-bottom: 10px;}
.margin15 {margin: 15px 0px;}
#rating_overlay {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
    z-index: 10000;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}
#rating_overlay .close
{
    background-image: url(/bitrix/templates/main/images/close.png);
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
    height: 35px;
    width: 35px;
}
.statya_date {font-size:18px; color:#000;}
.statya_left_arrow {background:url(/tpl/images/post_arrow_left.png) left center no-repeat; padding-left:15px;}
.statya_right_arrow {background:url(/tpl/images/post_arrow_right.png) right center no-repeat; padding-right:15px;}
a.no_border {text-decoration: none;}
a.no_border:hover {text-decoration: underline;}
.recept_prop_block1 {background:#F2F2F2;width:280px; height:100px; padding:20px 20px; color:#000; line-height: 18px}
.recept_prop_block1 span {font-size:18px;}
.recept_prop_block2 {background: url('/bitrix/templates/kupon/images/kupon_filter_bg.jpg') left top repeat-x; width:340px; height:100px; padding:20px 30px; color:#FFF; line-height:18px;}
.recept_prop_block2 span {font-size:18px;}
.kupon_conditions {line-height:24px}
.detail_kupon_image {position:relative}
.detail_kupon_image .kupon_of_day {background:url(images/kupon_of_day.png) right top no-repeat; width:110px; height:166px; position:absolute; top:20px; right:20px; font-family: "appetite"; color:#FFF; font-size:1.4em; padding-top:44px; text-align:center}
.detail_kupon_image .new {background:#9dcf24; line-height:24px; opacity:.9; color:#FFF; font-family: appetite; padding:0px 10px; position:absolute; left:0px; top:12px;} 

span.rouble {font-family: "rouble"}
.font30 {font-size:30px!important;}
.font18 {font-size:18px;}
.kupon_rest p {margin-top:0px; margin-bottom:20px;}
.kupon_photo .img {width:720px;}
.kupon_photo .scroll_arrows {width:116px; text-align: center; line-height:38px; margin-bottom: 10px;}
div.staya_likes{background: #f2f2f2; padding:10px 15px;line-height: 26px;}
#comments ul {margin:0px; padding:0px;}
#comments ul li {list-style-type:none; padding-top:20px; background: url('/tpl/images/dot.png') left bottom repeat-x;}
#comments ul li table{padding-bottom:20px;}
#comments ul ul {margin-left:80px;}
#comments ul ul li {border-top:1px dotted #1a1a1a; border-bottom:none}
#comments .ava { width: 64px; height:64px; overflow:hidden; background:#f2f2f2; border-radius:32px;}
#comments td .name {color:#24a6cf; display:block; margin-bottom:10px;}
#comments td .comment_date {font-size:18px; color:#000;}
#comments td {padding-right:20px;}
#comments .review {width:320px}
#comments .review .data{color:#CCC;}
#comments .add_review{border:6px solid #f2f2f2; box-shadow:inset 0px 1px 3px #666; -webkit-box-shadow: inset 0px 1px 3px #666;
                           -moz-box-shadow: inset 0px 1px 3px #666;behavior: url(PIE.htc); position:relative; width:490px; height:110px; padding:5px;}
#comments .figure_link { background:url(/tpl/images/add_block.png) left top no-repeat; padding:4px 0px; height:20px; text-align: center; margin-left:-10px; margin-top:28px; width:203px; }
#comments .figure_link a { color:#000; font-size: 1.3em; text-decoration: none;}
#comments .figure_link input { color:#000; font-size: 1.3em; text-decoration: none; background:none;border:none; height: 20px;cursor:pointer;}
#comments textarea.invalid {border:6px solid #FFC1C1; }
#comments p {margin-top:0px;}
.grey {color:#b6b5b5;}
.grey a {color:#b6b5b5!important;}
.grey a:hover {color:#b6b5b5!important;text-decoration: none!important}


div.similar_kupons {width:230px; margin-bottom:22px;}
div.similar_kupons .kupon_name { margin-bottom:22px;}
div.similar_kupons .kupon_name a { font-size: 16px; color:#24a6cf; line-height: 24px; margin:10px 0px; text-decoration: none; display: block}
div.similar_kupons .kupon_name a:hover {color: #000;}
div.similar_kupons .kupon_image_block {position:relative}
div.similar_kupons .kupon_image {width:295px; height:153px; overflow:hidden; margin-bottom:22px; }
div.similar_kupons .kupon_image img{width:230px;}
div.similar_kupons .grey {color:#b6b5b5; margin-top:15px}
div.similar_kupons .grey span{font-size: 1.2em}
div.similar_kupons .favorites {margin:10px 0px 5px 0px;}
div.similar_kupons .favorites .rating {margin-top:15px;}
div.similar_kupons .price {margin:0px 0px 15px 0px;}
div.similar_kupons .price span {font-size: 1.8em}
div.similar_kupons .price span.rouble {font-family: "rouble"}
div.similar_kupons .kupon_image .kupon_of_day {background:url(images/kupon_of_day.png) right top no-repeat; width:110px; height:166px; position:absolute; top:-45px; right:-10px; font-family: "appetite"; color:#FFF; font-size:1.4em; padding-top:44px; text-align:center}
div.similar_kupons .kupon_image .new {background:#9dcf24; line-height:24px; opacity:.9; color:#FFF; font-family: appetite; padding:0px 10px; position:absolute; left:0px; top:12px;} 

.grey_block {background:#F2F2F2; padding:20px;}
.grey_block  p {margin-top:0px;}
.grey_block h2 {font-size:18px; margin:0px; line-height:40px;}
.another {color:#24a6cf}
.payment .el {background: url(/tpl/images/payment/el.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .el:hover {background: url(/tpl/images/payment/el_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .el {background: url(/tpl/images/payment/el_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .sms {background: url(/tpl/images/payment/sms.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .sms:hover {background: url(/tpl/images/payment/sms_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .sms {background: url(/tpl/images/payment/sms_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .bk {background: url(/tpl/images/payment/bk.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .bk:hover {background: url(/tpl/images/payment/bk_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .bk {background: url(/tpl/images/payment/bk_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .alfa {background: url(/tpl/images/payment/alfa.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .alfa:hover {background: url(/tpl/images/payment/alfa_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .alfa {background: url(/tpl/images/payment/alfa_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}
.payment .ball {background: url(/tpl/images/payment/ball.png) center top no-repeat; cursor:pointer; margin-right:15px; width:120px;  padding-top:100px;text-align: center; color:#1a1a1a; font-style: italic; font-size:14px; line-height:24px;}
.payment .ball:hover {background: url(/tpl/images/payment/ball_a.png) center top no-repeat; color:#24a6cf;}
.payment .active .ball {background: url(/tpl/images/payment/ball_a.png) center top no-repeat; color:#24a6cf; cursor:pointer; margin-right:15px; width:120px; padding-top:100px; text-align: center; font-style: italic; font-size:14px; line-height:24px;}



.articles_photo .scroll_arrows {width:116px; text-align: center; line-height:38px; margin-bottom: 10px;}
.articles_photo .img {width:720px; overflow:hidden}
.direct_speech {}
.direct_speech .author {border-radius:75px; width:150px; height:150px; overflow: hidden; margin:20px 0px; behavior: url(/tpl/PIE.php);}
.font16 {font-size:16px; line-height:24px;}
.uppercase {text-transform: uppercase; letter-spacing: 2px}
.line24 {line-height: 24px;}
.statya_section_name{position:relative}
a.white {text-decoration: none; color:#FFF;}
div.staya_likes{background: #f2f2f2; padding:10px 15px;line-height: 31px;}


.vsp
{
    display:none;
    /*position:relative;*/
    left:0px;
    top:60px;
    width:940px;
    height:auto;
    behavior: url('/tpl/PIE.php');
    z-index: 9999;
    margin-bottom:2px;
}

.big_modal, #detail_galery_modal
{
    position:fixed;
    display:none;
    width:0px;
    height:0px;
    box-shadow: 0px 0px 20px #000;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    behavior: url(/tpl/PIE.php);
    left:0px;
    top:0px;
    z-index:100000;
    /*overflow:hidden;*/
    background:#FFF;
}
.modal_close {
    background: url(/tpl/images/close.png) left top no-repeat;
    width:11px;
    height:11px;
    display:block;
    margin-bottom:10px;
}
.article_rest
{
    width:155px;
}
.article_rest_text
{
    width:555px;
    font-size:14px;
}
.vis_red
{
    font-size:14px;
    line-height:20px;
    padding-top:10px;
}