.menu_menu ul
{
    padding-left:10px;
}
/* === Profile === */
.profile-info {overflow:hidden; position:relative; left:20px; margin-bottom:12px;}
	.profile-user {width:189px; float:left; text-align:center;}
	.profile-avatar {margin-bottom:24px;}
	.profile-description {margin-bottom:24px; color:#1a1a1a;}
		.profile-description a {text-decoration:none;}
	.profile-rating {border:1px dashed #000; width:128px; margin:0 auto; padding:8px 4px 12px 4px; font-size:12px; margin-bottom:24px; color:#1a1a1a;
  /* ƒл€ хороших браузеров */
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  -khtml-border-radius: 10px; /* KHTML */
  border-radius: 10px; /* CSS3 */
  /* ƒл€ плохих IE */
  behavior: url('border-radius.htc'); /* учим IE border-radius */
	}
.profile-rating strong {font-size:27px; margin-bottom:6px; line-height:27px;}
.profile-rating em {display:block; font-style:normal; margin-top:6px;}

.profile-data {margin-left:229px; width:495px; margin-left:-36px;}
.profile-data td {padding-left:36px; padding-bottom:18px; color:#1a1a1a; font-size:14px;}
.profile-data td em {font-size:12px;}
.profile-stat {color:#c0c0c0;}

.profile-activity {width:100%; font:12px Georgia; border-bottom:0px solid #1a1a1a; margin-bottom:12px; }
.profile-activity td {padding:18px 0;}
.profile-activity th {background:#f2f2f2; font:italic 12px Georgia, "Times New Roman", Times, serif; padding:12px 0;}
.profile-activity th.first {padding-left:16px; width:80px;}
.profile-activity a {text-decoration:none;}
.profile-activity img {float:left; margin-right:18px;}
td.profile-activity-col1 {width:108px; color:#c0c0c0; font:italic 12px Georgia, "Times New Roman", Times, serif; white-space:nowrap;}
td.profile-activity-col1 a {color:#c0c0c0; text-decoration:underline; margin-right:20px;}
td.profile-activity-col1 p {background:#fff; position:relative; top:-19px; padding-top:19px;}
td.profile-activity-col2 {padding-right:14px; width:374px;  padding-right:24px;}
td.profile-activity-col3 {padding-left:12px;}

.profile-activity.w100 th {padding:18px 14px; white-space:nowrap;}
.profile-activity.w100 td {padding:12px 14px;}

.more-activity {text-align:right;}
.more-activity a {text-transform:uppercase; text-decoration:none; color:#1a1a1a;}

.profile-activity-rating img {float:none;}

.activity-actions div {position:absolute; right:0; top:0; margin-right:-14px;}
.activity-actions a {display:block; font:italic 12px Georgia, "Times New Roman", Times, serif; color:#1a1a1a; text-decoration:underline; padding-left:24px; margin-bottom:6px; width:80px;height:15px;}
.activity-actions a:hover {text-decoration:none;}

a.icon-continue {background:url(images/icon-continue.gif) no-repeat 0 0;}
a.icon-save {background:url(images/icon-save.gif) no-repeat 0 0;}
a.icon-delete {background:url(images/icon-delete.gif) no-repeat 0 0;}
a.icon-print {background:url(images/icon-print.png) no-repeat 0 0;}


#bludo_modal{}
#bludo_modal input.inputtext{width:100%;}
#bludo_modal .question{margin-bottom: 10px;}
#bludo_modal .question div{margin-right:20px;}
#bludo_modal textarea.inputtext{width:100%;height:40px;}

#bludo_modal .q2 {overflow: hidden;}
#bludo_modal .q2 .lc{width:40%;float:left;}
#bludo_modal .q2 .rc{width:40%;float:right;}
#bludo_modal .q2 div{margin-right:10px;}


#bludo_modal .question .customfile{margin-right: 0px;}
#bludo_modal .question .customfile-button{float:right;height:28px;line-height: 28px;}
#bludo_modal .question .customfile-feedback{background: white;border: 0px;box-shadow: inset 0px 1px 3px #666;-webkit-box-shadow: inset 0px 1px 3px #666;-moz-box-shadow: inset 0px 1px 3px #666;behavior: url(PIE.htc);position: relative;height: 28px;line-height: 28px;padding: 0px 10px;margin-right: 10px;color:#000;overflow: hidden;}

.menu_menu{margin-bottom:20px !important;}
.menu_menu li{position: relative;}
.add_new_section{font-style: italic;}

.menu_menu li:hover a.edite_section{display: block;}
.menu_menu li:hover a.del_section{display: block;}


#rzdl_modal{}
#rzdl_modal input.inputtext{width:100%;}
#rzdl_modal .question{margin-bottom: 10px;}
#rzdl_modal .question div{margin-right:20px;}
#rzdl_modal textarea.inputtext{width:100%;height:40px;}

#rzdl_modal .q2 {overflow: hidden;}
#rzdl_modal .q2 .lc{width:40%;float:left;}
#rzdl_modal .q2 .rc{width:40%;float:right;}
#rzdl_modal .q2 div{margin-right:10px;}

.edite_section{display: inline-block;width:10px;height:10px;background: url(images/edit_section.png) 0px 0px no-repeat;right:30px;top:9px;margin-right: 10px;}
.del_section{display: inline-block;width:10px;height:10px;background: url(images/del_section.png) 0px 0px no-repeat;right:13px;top:9px;}

#bludo_frm .chzn-container-single .chzn-single{width:285px;}
#bludo_frm .chzn-container .chzn-results li{color:#000;}
#bludo_frm .chzn-single div{margin:0px;}





/*custom upload elements*/
.customfile-input { position: absolute; height: 32px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999;  }

.customfile {cursor: pointer; overflow: hidden; position: relative; }
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback { display: block;overflow:hidden;}

.customfile-button {background-color:#F2F2F2;width:85px;height:34px;color:#1A1A1A;display: block;margin:0 auto;line-height: 34px;text-transform: uppercase;text-align: center;font-size: 12px;font-family: Georgia;  }
.customfile-hover .customfile-button, .customfile-focus .customfile-button  { }
.customfile-focus .customfile-button {outline: 1px dotted #ccc;}

.customfile-button{float:right;}
.customfile-feedback{background-color: #fff;height: 32px;line-height: 32px;padding-left: 13px;font-size: 14px;font-family: Georgia;color:#1A1A1A;margin-right: 10px;border:1px solid #AAA;}


.chzn-container{height: auto !important;}
.chzn-container-multi .chzn-choices{height: auto !important;line-height: normal !important;}


/*#add_new_bl{height: 28px;text-align: center;background: #24A6CF;padding: 0px 20px;line-height: 28px;letter-spacing: 2px;color: white;border: 0px;text-transform: uppercase;cursor: pointer;font-size: 1em;position: relative;
display: block;text-decoration: none;position: absolute;right: 0px;top: 0px;color:#fff;}*/










/* @group Base */
.chzn-container {
  font-size: 13px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  height:38px;

}
.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  z-index: 999;

}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
  background-color: #ffffff;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  text-decoration: none;
  height:38px;line-height: 38px;border:0px;width:601px;padding-left:13px;font-size: 14px;font-family: Georgia;color:#1a1a1a;outline: none;
}
.chzn-container-single .chzn-single span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 6px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url(chosen-sprite.png) right top no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {
  background-position: right -11px;
}
.chzn-container-single .chzn-single div {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}
.chzn-container-single .chzn-single div b {
  background: url('chosen-sprite.png') no-repeat 0 8px;
  display: block;
  width: 100%;
  height: 100%;
  margin-left: -5px;
}
.chzn-container-single .chzn-search {
  padding: 3px 4px;
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
}
.chzn-container-single .chzn-search input {
  margin: 1px 0;
  padding: 4px 5px 4px 20px;
  outline: 0;
  border: 0px solid #aaa;
  font-family: sans-serif;
  font-size: 1em;
}
.chzn-container-single .chzn-drop {

}
/* @end */

.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: -9000px;
}

/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
  background: url('arrow.png') no-repeat 98% 50%;
  background-color: #fff;
  border: 0px solid #aaa;
  margin: 0;
  padding: 0px 0; padding-top:0;
  cursor: pointer;
  overflow: hidden;

  position: relative;
   height:38px;line-height: 38px;
}
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
  color: #666;
  background: transparent !important;
  border: 0 !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 15px;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow   : none;
  -o-box-shadow     : none;
  box-shadow        : none;
  
  
  font-size: 14px;font-family: Georgia;color:#1a1a1a;outline: none;
}
.chzn-container-multi .chzn-choices .search-field .default {

	margin-left:13px;
}
.chzn-container-multi .chzn-choices .search-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background-color: #f2f2f2;
  color: #333;
  border: 0px solid #aaaaaa;
  line-height: 13px;
  padding: 5px 5px 5px 17px;
  margin: 8px 0 1px 13px;
  position: relative;
  cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  left: 3px;
  top: 5px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url(chosen-sprite.png) right 1px no-repeat;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}
/* @end */

/* @group Results */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
.chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  padding: 5px 6px;
  margin: 0;
  list-style: none;
}
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}
.chzn-container .chzn-results .highlighted {
  background-color: #24a6cf;
  color: #fff;
}
.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}
.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
  display: list-item;
}
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}
.chzn-container .chzn-results .group-option {
  padding-left: 15px;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}
.chzn-container .chzn-results-scroll {
  background: white;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px; /* This should by dynamic with js */
  z-index: 1;
}
.chzn-container .chzn-results-scroll span {
  display: inline-block;
  height: 17px;
  text-indent: -5000px;
  width: 9px;
}
.chzn-container .chzn-results-scroll-down {
  bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {
  background: url('chosen-sprite.png') no-repeat -4px -3px;
}
.chzn-container .chzn-results-scroll-up span {
  background: url('chosen-sprite.png') no-repeat -22px -3px;
}
/* @end */

/* @group Active  */
.chzn-container-active .chzn-single {
  border: 0px solid #5897fb;
}
.chzn-container-active .chzn-single-with-drop {
  border: 0px solid #aaa;



}
.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
  background-position: -18px 8px;
 
}
.chzn-container-active .chzn-choices {

  border: 0px solid #5897fb;
}
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important;
}
/* @end */

/* @group Disabled Support */
.chzn-disabled {
  cursor: default;
  opacity:0.5 !important;
}
.chzn-disabled .chzn-single {
  cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @group Right to Left */
.chzn-rtl { text-align: right; }
.chzn-rtl .chzn-single { padding: 0 8px 0 0; overflow: visible; }
.chzn-rtl .chzn-single span { margin-left: 26px; margin-right: 0; direction: rtl; }

.chzn-rtl .chzn-single div { left: 3px; right: auto; }
.chzn-rtl .chzn-single abbr {
  left: 26px;
  right: auto;
}
.chzn-rtl .chzn-choices .search-field input { direction: rtl; }
.chzn-rtl .chzn-choices li { float: right; }
.chzn-rtl .chzn-choices .search-choice { padding: 3px 5px 3px 19px; margin: 3px 5px 3px 0; }
.chzn-rtl .chzn-choices .search-choice .search-choice-close { left: 4px; right: auto; background-position: right top;}
.chzn-rtl.chzn-container-single .chzn-results { margin: 0 0 4px 4px; padding: 0 4px 0 0; }
.chzn-rtl .chzn-results .group-option { padding-left: 0; padding-right: 15px; }
.chzn-rtl.chzn-container-active .chzn-single-with-drop div { border-right: none; }
.chzn-rtl .chzn-search input {
  background: #fff url('chosen-sprite.png') no-repeat -38px -22px;
  background: url('chosen-sprite.png') no-repeat -38px -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('chosen-sprite.png') no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);  
  background: url('chosen-sprite.png') no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url('chosen-sprite.png') no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url('chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url('chosen-sprite.png') no-repeat -38px -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  padding: 4px 5px 4px 20px;
  direction: rtl;
}
/* @end */


ul.chzn-choices{width:615px;}

div.remove_sel_sections {
    float: right;
}