.account_details td
{    
    font-size:14px;
}
.account_details tr
{    
    background:url(/tpl/images/dot2.png) left bottom repeat-x;
}
.account_details th
{    
    font-size:14px;
    text-align:left;
}
.account_details_box
{
    overflow: auto;
    height:350px;
}
#add_trransaction_form
{
    margin:10px 0px;
}
#add_trransaction_form input.inputtext 
{
    height:22px;
    line-height:22px;
}