div.friends-list-right {width:227px; position:relative; overflow:hidden;}
div.friends-list-right ul {overflow:hidden; width:259px; position:relative; padding:0px; margin:0px;}
div.friends-list-right li {float:left; margin:0 8px 8px 0; line-height:0; overflow:hidden; width:50px;}	
h2 a.caption-value {font:Italic 11px Georgia; vertical-align:bottom; color:#1a1a1a; position:relative; bottom:7px;}