.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}
a.js_menu2
{
    font-size:16px;
    color:#24A6CF;    
    cursor:default;
    line-height:22px;
    text-decoration:none;
}
a.js_menu
{
    font-size:16px;
    color:#24A6CF;
    border-bottom:1px dashed #24A6CF;
    cursor:pointer;
    line-height:22px;
    text-decoration:none;
}
a.js_menu:hover
{
    border:none;
}
