#banner-wrap {
	background:url(banner-bg.jpg) top center no-repeat;
	width:100%;
	position: relative;
	border-bottom: 1px solid #98999b;
	border-top: 1px solid #98999b;
	overflow: hidden;
	max-height:525px;
}

a.banner-show-more-button {
	position: absolute;
	background: url(button.jpg) top center no-repeat;
	width: 100%;
	height: 100%;
	margin-top: -40px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
	text-indent: -9999px;
			-webkit-transition-duration: 200ms;
	-moz-transition-duration: 200ms;
}
a.banner-show-more-button:hover {
	background: rgba(255,255,255,0.5) url(show-more.png) center 65% no-repeat;
		-webkit-transition-duration: 120ms;
	-moz-transition-duration: 120ms;
}
.main-banner-content {
	width:980px;
	margin:0 auto;
}
.banner-dishes {
	width:395px;
	height:525px;
	float:right;
	right:-11px;
	background:url(dishes-bg.png) right top no-repeat;
}
.tartar-text {
	width:165px;
	height107px;
	font-family: Arial;
	font-size:8px;
	margin-top:35px;
	margin-left:10px;
	position:relative;
}
.tartar-text span {
	font-size:13px;
	text-transform: uppercase;
}
.tartar-price {
	font-size:14px;
	margin-left:100px;
	position:absolute;
	width:200px;
	margin-top:10px;
}
.tartar-price span {
	font-weight:bold;
}
.gratin-text {
	width:160px;
	height107px;
	font-family: Arial;
	font-size:9px;
	margin-top:70px;
	right:25px;
	float:right;
	position:relative;
	text-align:right;
}
.gratin-text span {
	font-size:13px;
	text-transform: uppercase;
}
.gratin-price {
	font-size:14px;
	margin-left:-80px;
	position:absolute;
	width:200px;
	margin-top:10px;
}
.gratin-price span {
	font-weight:bold;
}
.gourmet-text {
	width:185px;
	height107px;
	font-family: Arial;
	font-size:9px;
	margin-top:260px;
	margin-left:-100px;
	position:relative;
}
.gourmet-text span {
	font-size:13px;
	text-transform: uppercase;
}
.gourmet-price {
	font-size:14px;
	margin-left:20px;
	margin-top:10px;
	position:absolute;
	width:200px;
}
.gourmet-price span {
	font-weight:bold;
}
.banner-top-shadow {
width: 920px;
height: 40px;
background: url(recipes-top-shadow.png) top left no-repeat;
margin: 0 auto;
margin-bottom: -40px;
margin-top: -2px;
}
.banner-bottom-shadow {
width: 100%;
height: 22px;
background: url(recipes-bottom-shadow.png) top center no-repeat;
position: absolute;
bottom: -2px;
}