*{margin:0;padding:0}
html, body{height:100%; line-height:1; font:12px Tahoma;}
table{border-collapse:collapse; border-spacing:0; empty-cells:show;}
th, tr, td{text-align:left; vertical-align:top}
address,em{font-style:normal}
sub, sup{position:relative; font-size:11px;}
sub{top:5px;}
sup{top:-5px;}
a{outline:none;}
a:hover {text-decoration:none}
input, button{vertical-align:middle; overflow:visible;}
select{vertical-align:middle;}
textarea{vertical-align:top;}
label{float:left; text-align:right; margin-right:15px; width:100px;}
hr, img, object{border:0;}
hr{color:#ccc; background:#ccc; height:1px; margin:7px 0;}
li{vertical-align:bottom; list-style:none;}
/* === STRUCTURE ===*/
#root {min-height:100%; width:614px; margin:0 auto; padding-top:24px;}

#main {width:100%; padding-bottom:100px; overflow:hidden;}
.block-uploader {margin-bottom:12px;}
h2 {font:10px Georgia; text-transform:uppercase; color:#1a1a1a; margin-bottom:12px;}
#img-container {background:#f2f2f2; padding:20px; min-height:200px; margin-bottom:12px;}
#content {position:relative; height:200px; background:#fff; border:1px dotted #000;}
#console {background:#000; color:#fff; text-align:left;}
.upl-description {color:#1a1a1a; font:Italic 12px/18px Georgia; text-align:center; position:absolute; width:100%; top:50%; margin-top:-40px}
.upl-description p {position:relative; width:240px; margin:0 auto; margin-top:6px;}
.upl-description #file-field {position:absolute; z-index:2; left:0; top:0; height:35px; width:100%; opacity:0; cursor:pointer;}
.upl-description em {background:#24a6cf; color:#fff; font:18px/35px Georgia; position:absolute; z-index:1; left:0; top:0; width:100%; height:35px; cursor:pointer;}
#workfield {position:relative;}
.upl-imgs {background:#f2f2f2; padding:20px; margin-bottom:12px;}
#img-list li {margin-bottom:15px; overflow:hidden;}
#img-list em {border:1px solid #fff; height:75px; width:75px; overflow:hidden; float:left; margin-right:15px; background:#f8f8f8}
#img-list textarea {color:#3b414e; min-height:67px; width:470px; padding:5px; height:100%; border:0; margin-bottom:6px;}
#img-list img {}
.loc-f-name {margin-left:90px; margin-bottom:2px; float:right;}
.progress {padding:2px; width:73px; font:11px Georgia}
.dela {text-align:right; float:right;}
.dela a {color:#3b414e; font:Italic 11px Georgia;}
#upload-all {background:#24a6cf; color:#fff; border:0; font:18px/35px Georgia; text-align:center; width:140px; cursor:pointer;}
#upload-all.notactive {background:#ddd}
#leftpanel {text-align:right;}


#form-editor .text {width:554px; display:block; padding:0 10px; height:40px; font:16px/40px Georgia; border:0; margin-bottom:12px}
.block-editor {margin-bottom:24px; padding:20px; background:#f2f2f2;}
.block-editor textarea {margin-bottom:12px;}
.editor-submit {text-align:right; margin-top:12px;}
.editor-submit input {background:#24a6cf; color:#fff; border:0; font:18px/35px Georgia; text-align:center; width:140px; height:35px; cursor:pointer;}
#inp-caption {position:relative;}
#inp-caption-del {position:absolute; right:0; top:0; margin-top:-28px;}
#inp-caption-del a {color:#3b414e; font:Italic 11px Georgia;}