#new_filter {
    background: #232323;
    height: 24px;
    font-family: Arial;
}
.alphabet
{
    margin:10px 0px 5px 0px;
    margin:0px;
    padding:0px;
    height:24px;
    margin-left:10px;
}
.alphabet li
{
    list-style-type:none;
    float:left;
    line-height:24px;
    height:24px;
    padding-top: 3px;
}
.alphabet li a
{
    display:block;
    text-align: center;
    padding:0px 3px;
    line-height:18px;
}
.alphabet li a:hover
{
    background:#24a6cf;
    color:#FFF;
}
.alphabet li a.selected
{
    background:#000;
    color:#FFF;
}