/*****************/
/** QapTcha CSS **/
/*****************/
.QapTcha { }
.QapTcha .clr{clear:both}
.QapTcha .bgSlider {        
    width:252px;height:34px;float:left;border:1px solid #e0e0e0;background-color:#eee; position:relative; background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.25) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.25) 50%,rgba(255,255,255,.25) 75%,transparent 75%,transparent);
background-image: -o-linear-gradient(45deg,rgba(255,255,255,.25) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.25) 50%,rgba(255,255,255,.25) 75%,transparent 75%,transparent);
background-image: linear-gradient(45deg,rgba(255,255,255,.25) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.25) 50%,rgba(255,255,255,.25) 75%,transparent 75%,transparent);
-webkit-background-size: 40px 40px;
background-size: 40px 40px; border-radius: 5px;}
.QapTcha .Slider {width:32px;height:32px;background:transparent url('../images/bg_draggable_qaptcha.jpg') no-repeat;cursor:e-resize;position:relative;top:0px!important;left:0px;

position:relative; border-radius: 5px;

}
.QapTcha .TxtStatus {width:252px;margin-top:7px;text-align:left;color:#555 !important;font-size:10px;float:left; margin-left:20px; font-style:italic;}
.QapTcha .dropSuccess {color:#555 !important; font-size:10px!important};
.QapTcha .dropError {color:#555 !important; font-size:10px!important;}