ul.faq_list {
	margin: 0;
	padding: 0;
}
ul.faq_list li {
    line-height: 18px;
    clear: both;
	list-style: none outside none;
}
ul.faq_list li div {
    display: none;
}
ul.faq_list li div img {
    float: left;
    margin: 0 5px 5px 0;
}

a.faq-name
{
	font-size: 24px !important;
	line-height: 1.5em;
	color: #24a6cf;
	border-bottom: 1px dashed #24a6cf;
}