div.bx-auth-reg input.bx-auth-input {vertical-align:middle;}
div.bx-auth-reg span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-reg div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-reg div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}

.rest_form_fields {
    display: none;
}
.register_form
{
    font-size:14px;
}
.register_form .question a
{
    color:#1a1a1a;
    text-decoration:none;
}
.register_form .question a.active
{
    color:#24A6CF;
    text-decoration:none;
}
.register_form .question
{
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 24px;
}
.register_form .placeholder
{
    border:0px; 
    background:none; 
    height:26px;
    padding:0px 10px; 
    font-size:16px; 
    outline: none; 
    font-style: italic; 
    /*width:346px;*/
    border:5px solid #e6e6e6;
    box-shadow:none;
}
#link_agreement
{
    color:#24A6CF;
    text-decoration:underline;
    font-size:14px;
}
#link_agreement:hover
{
    color:#24A6CF;
    text-decoration:none;
}
input.disabled
{
    opacity:0.2;
}
.starrequired
{
    color:red;
}