.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}
a.js_menu2
{
    font-size:16px;
    color:#24A6CF;    
    cursor:default;
    line-height:22px;
    text-decoration:none;
}
a.js_menu
{
    font-size:16px;
    color:#24A6CF;
    border-bottom:1px dashed #24A6CF;
    cursor:pointer;
    line-height:22px;
    text-decoration:none;
}
a.js_menu:hover
{
    border:none;
}

#dostavka_table
{
    width:100%;
}

#dostavka_table td.name
{
    font-size:14px;    
    line-height:20px;
}

#dostavka_table td.price table td
{
    font-size:16px;    
    line-height:20px;
}
#dostavka_table td.price
{
    width:80px;
}

#dostavka_table td
{
    vertical-align: top;
    padding:20px 0px;
    padding-right:20px;
    background: url(/tpl/images/dot.png) left bottom repeat-x;
}
#dostavka_table tr.end td
{
    background: none;
    padding-bottom:0px;
}
#dostavka_table td.preview_text
{
    width:300px;
}

#dostavka_table table td
{
    vertical-align: top;
    padding:0px 0px;
    background: none
}
#dostavka_table td.end
{
    padding-right:0px
}
.menu_name
{
    margin-top:10px;
    margin-bottom:10px;
}
.menu_links{
    font-size:14px;
    margin-top:-10px;
}
.menu_links a
{
    text-transform: uppercase;
    color:#24A6CF;
    font-size:12px;
    text-decoration:none;
    letter-spacing: 1px;
}
.menu_links a:hover
{
    text-decoration: underline;
}