html,body
{
    padding:0px;
    margin:0px;  
    width:100%;
    height:100%;   
}
body
{    
    background:#232323;
    min-width:900px;
    min-height:728px;
    overflow:hidden;
    color:#FFF;
    font-family: Georgia;
    line-height:20px;
}
p{
    font-size:14px;
}
a {
    color:#23a5d3;
    font-size:14px;
}
a:hover {
    text-decoration: none;
}
#page
{
    overflow:auto;
}
.logo
{    
    height:263px;
    width:425px;
    left:50%;
    margin-left:-212px;
    text-align: center;
    top:150px;
    position:absolute;
    z-index: 1000;
}
.bg
{
    width:100%;    
    background:url(images/gastronight_bg.jpg) center bottom no-repeat #232323;
    animation:myfirst 3s linear 0s infinite alternate;
    -webkit-animation:myfirst 3s linear 0s infinite alternate;
    height:728px;
    position:fixed;
    top:0px;
}

@keyframes myfirst
{
    0%   {opacity:1;}
    50%  {opacity:0.3;}    
    100% {opacity:1;}
}
@-webkit-keyframes myfirst 
{
    0%   {opacity:1;}
    50%  {opacity:0.3;}    
    100% {opacity:1;}
}
.content
{
    width:1200px;
    height:100%;
    margin:0 auto;
    position:relative;
}
.menu_items
{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position:absolute;
}
.menu_items:hover
{
    opacity:0.8
}
.press
{
    width:191px;
    height:181px;        
    left:-1000px;
    top:56%;
}
.rest
{
    width:196px;
    height:242px;        
    bottom:-300px;
    left:280px;
}
.ex
{
    width:171px;
    height:139px;        
    top:-300px;
    left:530px;
}
.inst
{
    width:171px;
    height:139px;        
    bottom:-300px;
    left:690px;
}
.photo
{
    width:171px;
    height:139px;        
    top:-200px;
    right:179px;
}
.left
{
    float:left;    
}
.right
{
    float:right;    
}
.clear
{
    clear:both;
}
.leftside
{
    width:235px;
    text-align:center;
    margin-right:100px;
    padding-top:40px;
    position:relative;
}
.rightside
{
    width:645px;    
    padding-top:40px;
}
.gn
{
    margin-bottom:30px;
}
h1
{
    font-family:Verdana;
    font-size:48px;
    color:#FFF;
    margin-bottom:40px;
    line-height: 48px;
}
.container
{
    width:980px;
    position:relative;
    margin:0 auto;
    padding-bottom:40px;
}
.menu 
{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position:absolute;
    top:1000px;
}
.menu:hover
{
    opacity:0.8;
}
.menu_press
{
    top:260px;
    left:0px;
}
.menu_rest
{
    top:300px;
    left:110px;
}
.menu_ex
{
    top:420px;
    left:0px;
}
.menu_inst
{
    top:520px;
    left:0px;
}
.menu_photo
{
    top:520px;
    left:170px;
}
i{
    font-size:12px;
    line-height:16px;
}
.article_rest {
    width: 155px;
    font-size:12px;
}
.article_rest_text {
    width: 480px;
    font-size: 14px;
}
.restoran_text {
    margin-top: 20px;
/*    border-bottom: 1px solid #333;*/
}
.restoran_text p{
    margin-top: 0px;
}
img.indent {
margin-bottom: 10px;
}
div.new_restoraunt {
width: 232px;
margin-right: 16px;
margin-bottom: 10px;
margin-top: 10px;
}
div.new_restoraunt .title a {
color: #24A6CF;
font-size: 18px;
text-decoration: none;
}
div.new_restoraunt .title {
color: #24A6CF;
margin-bottom: 10px;
line-height: 24px;
margin-top: 2px;
}
