#cool_news { min-height:150px; padding:15px 0px;  margin-top:-3px; width:728px; line-height: 20px}
#cool_news span.date_size{ font-size: 1.6em}
#cool_news img{ margin-right:10px;margin-bottom:10px;}
#cool_news a { color:#24a6cf; text-decoration: underline;}
#cool_news a:hover { color:#000; text-decoration: none;}
#cool_news a.uppercase { color:#1a1a1a; letter-spacing: 1px; text-decoration: none; }
#cool_news a.uppercase:hover { color:#24a6cf; text-decoration: none; }
#cool_news .title {margin:10px 0px}
#cool_news .title a{color: #24A6CF;font-size: 18px;text-decoration: none; }
#cool_news .title a:hover{color:#1a1a1a}