.photos123
{
    cursor:pointer;
}
.video .myPlayer
{
    width:728px;
    height:540px;
    display: block;
    text-align: center;
    margin: 0 0 15px 0;
    border: 1px solid #999;
}
.recept_prop_block1 a
{
    color:#24A6CF;
    text-decoration: none;
}
.recept_prop_block1 a:hover, .recept_prop_block2 a:hover
{
    color:#24A6CF;
    text-decoration: underline;
}
.recept_prop_block2 a
{
    color:#24A6CF;
    text-decoration: none;
}
.recept_prop_block1 {background:#3B414E;width:230px; height:80px; padding:30px; color:#FFF; line-height: 18px}
/*.recept_prop_block1 a {color:#FFF}*/
.recept_prop_block1 span {color:#24a6cf}
.recept_prop_block2 {background:#F2F2F2;width:370px; height:80px; padding:30px; line-height:18px;}
.recept_prop_block2 span {color:#24a6cf}
.recept_prop_block1 .print {padding-left:30px; background:url(/tpl/images/recept_icon_sprite.png) 0px -16px no-repeat; height:17px; margin:10px 0px;}
.recept_prop_block1 .print a {color:#FFF}
.recept_prop_block1 .recept_book {padding-left:30px; background:url(/tpl/images/recept_icon_sprite.png) 0px 0px no-repeat; height:17px;margin:10px 0px;}
.recept_prop_block1 .recept_book a {color:#FFF}
.recept_text {line-height:24px;}
.portion{position:absolute; border-radius:64px; width:128px; height:108px; background:#ffe826; right:15px; top:15px; font-family: "appetite"; font-size:18px; text-align: center; padding-top: 20px;}
.portion div {font-size:48px; line-height:48px;}
.bon_appetite {font-size:24px; font-family: "appetite"; text-align:center;}


#minus_plus_buts{margin-left: 48px;float:left;}
#minus_plus_buts .plus_but{display: block;float:left;position: relative;padding-left:42px;line-height: 31px;font-family: Georgia;position: relative;height:31px;margin-right: 17px;font-size: 12px; }
#minus_plus_buts .plus_but a, #minus_plus_buts .plus_but span{background: url(/tpl/images/plus_minus_icons.png) 0px 0px no-repeat;height:31px;width:36px;position: absolute;left:0px;top:0px;}

#minus_plus_buts .minus_but{display: block;float:left;position: relative;padding-left:42px;line-height: 31px;font-family: Georgia; position: relative;height:31px;}
#minus_plus_buts .minus_but a, #minus_plus_buts .minus_but span{background: url(/tpl/images/plus_minus_icons.png) -36px 0px no-repeat;height:31px;width:36px;position: absolute;left:0px;top:0px;}