a.feed-author-name-0 { display:none; }
span.feed-author-name { display:none; }
span.feed-author-name-0 { display:inline-block; }
a.feed-com-reply-N, a.feed-com-reply- { display:none; }
a.feed-post-more-link-N-N-N-N { display:none; }

.blog-comment-popup-menu input {
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px rgba(185, 185, 185, .5);
	box-shadow: inset 0 1px 2px rgba(185, 185, 185, .5);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	height:29px;
	color:#474747;
	padding:0 0 0 8px;
	width:100%;
}