div.bx-auth {max-width:600px;}
div.bx-auth form {padding:0; margin:0;}
div.bx-auth-line {border-bottom:1px solid #E3E3E3; padding-bottom:10px;}
div.bx-auth-title {font-size:140%; border-bottom:solid 2px #E3E3E3; padding-bottom:12px; }
div.bx-auth-note{margin:18px 0px 6px 0px;}
td.bx-auth-label{text-align:right; font-weight:bold;}
table.bx-auth-table{margin-top:8px; }
table.bx-auth-table td {padding:3px;}
