#subscr_list table
{
    margin-top:20px!important;
}
#subscr_list td
{   
    padding:0!important;        
}
#subscr_list td img
{    
    width:230px!important;
}
#subscr_list td div
{
    margin-bottom:10px!important;
    margin-top:15px!important;
}