html,body
{
    padding:0px;
    margin:0px;  
    width:100%;
    height:100%;
}
body
{    
    background:#232323;
    min-width:900px;
    min-height:728px;
    overflow:hidden;
}
.logo
{    
    height:263px;
    width:425px;
    left:50%;
    margin-left:-212px;
    text-align: center;
    top:150px;
    position:absolute;
    z-index: 1000;
}
.bg
{
    width:100%;    
    background:url(images/gastronight_bg.jpg) center bottom no-repeat #232323;
    animation:myfirst 3s linear 0s infinite alternate;
    -webkit-animation:myfirst 3s linear 0s infinite alternate;
    height:728px;
    position:absolute;
    top:0px;
}
@keyframes myfirst
{
    0%   {opacity:1;}
    50%  {opacity:0.3;}    
    100% {opacity:1;}
}
@-webkit-keyframes myfirst 
{
    0%   {opacity:1;}
    50%  {opacity:0.3;}    
    100% {opacity:1;}
}
.content
{
    width:1200px;
    height:100%;
    margin:0 auto;
    position:relative;
}
.menu_items
{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position:absolute;
}
.menu_items:hover
{
    opacity:0.8
}
.press
{
    width:191px;
    height:181px;        
    left:-1000px;
    top:56%;
}
.rest
{
    width:196px;
    height:242px;        
    bottom:-300px;
    left:280px;
}
.ex
{
    width:171px;
    height:139px;        
    top:-300px;
    left:530px;
}
.inst
{
    width:171px;
    height:139px;        
    bottom:-300px;
    left:690px;
}
.photo
{
    width:171px;
    height:139px;        
    top:-200;
    right:179px;
}