@import url("jquery-ui-1.8.18.custom.css");
HTML,BODY{margin:0px;padding:0px;height:100%;width:100%;}

BODY{font-family: Georgia;font-size:12px;color:#1a1a1a;line-height: 18px;background-color: #fff;}

a{color:#24a6cf;text-decoration: underline;}
a:hover{text-decoration: none;}
a:focus, input:focus, textarea:focus{outline: 0px none;}
button{outline:0px none;}

.clear{clear:both;}

a img{border:0px;}

#conteiner {
	position:relative;
	height:auto !important;
	height:100%;
	min-height:100%;
	width: 100%;
	min-width: 1000px;
	width: expression(document.documentElement.clientWidth < 1000 ? "1000px" : "auto");
	background: #eaebee url(images/dir_otch_bg.jpg) center 0px no-repeat;
}

.center{
	width:980px;
	margin:0 auto;
	position: relative;
	height:100%;
}

.logo{position: absolute;display: block;width:300px;height:97px;background: url(images/dir_otch_logo.png) 0px 0px no-repeat;left:305px;top:58px;z-index: 900;}
.logo2{position: absolute;display: block;width:300px;height:97px;background: url(images/dir_otch_logo.png) 0px 0px no-repeat;left:0px;top:58px;z-index: 900;}

#ajax_loader{display:none;width:16px;height:11px;position: absolute;background: url(images/ajax-loader.gif) 0% 0% no-repeat; z-index: 9999;}

.ui-icon-gripsmall-diagonal-se{width: 11px;height: 11px;background: url(images/sprite.png) -461px -81px no-repeat;position: absolute;right:5px;bottom:5px; }



.select{line-height: 20px;height:20px;border:0px;font-size: 12px;font-family: Georgia;cursor: pointer;position: relative;}
.select_off{background:#ffffff url(images/select_off.png) 97% 9px no-repeat;}
.select_on{background:#ffffff url(images/select_on.png) 97% 9px no-repeat;}
.select .selected_element{line-height: 20px;padding-left:10px;margin-right:0%;position: relative;font-size: 12px;height:20px;}
.select .all_variants{position: absolute;background-color: #ffffff;width:100%;padding:0px;margin-left:0px;display: none;z-index: 1999;max-height:150px;overflow:auto;}
.select .all_variants a{display: block;color:#000000;text-decoration: none;padding-left:10px;height:20px;line-height:20px;font-size: 12px;white-space: nowrap;overflow: hidden;}
.select .all_variants a:hover{background-color:#c0cad1;color:#fff;}
* html .select .all_variants{height:150px;}

.select .all_variants a.bld{font-weight: bold;}

.select .yello{background-color:#fbfb61;}
.select .sv_zel{background-color:#b5f562;}
.select .zel{background-color:#71c207;}

.select .red{background-color:#fe5262;}
.select .black{background-color:#252424;color:#fff !important;}
.select .blue{background-color:#48c7ef;}

.select .grey{background-color:#c7c7c7;}

#footter_push{height:90px;}
#footter{position: absolute;bottom:0px;left:0px;width:100%;height:40px;color:#a1a1a1;font-size: 12px;}
#footter .copy{position: absolute;left:0px;}
#footter .made{position: absolute;right:0px;}


.auth_frm_cont{position: absolute;top:50%;left:50%;margin-left:-204px;margin-top:-103px;width:408px;}
.auth_frm_logo{display: block;z-index: 1;position: absolute;left:0px;top:-170px;background: url(images/sprite.png) 0px 0px no-repeat;width:408px;height:132px;}

#auth_form{padding: 0px;margin: 0px;background-color: #f2f2f1;overflow: hidden;position: relative;z-index: 20;}
#auth_form .c{margin:23px;}
#auth_form .ln{height:30px;line-height: 30px;position: relative;margin-bottom: 10px;}
#auth_form .ln .pole{line-height: 30px;height:30px;border:0px;font-size: 12px;font-family: Georgia;padding-left: 13px;width:100%;color:#1a1a1a;}
#auth_form .ln .zag{width:65px;text-transform: uppercase;font-size: 9px;position: absolute;left:0px;line-height: 30px;}
#auth_form .ln .inpc{margin-left: 65px;margin-right: 13px;}
#auth_form .but{height:56px;padding-top: 5px;}
#auth_form .but input{padding:0px;float:right;height:56px;line-height: 56px;display: block;text-decoration: none;color:#fff;background: url(images/grad2.gif) 0px 0px repeat-x;padding-left: 34px;padding-right: 34px;font-size: 24px;font-family: Georgia;font-weight: normal;border:0px;cursor: pointer;}

.auth_frm_cont .otvet{text-align: center;font-size: 24px;padding-top: 35px;font-style: italic;font-family: Georgia;color:#3b414e;}


/*MODAL*/

.ui-widget-overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: #3b414e;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter: alpha(opacity=80);-moz-opacity: 0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.ui-dialog{position: absolute;width: 310px;overflow: hidden;border: 0px solid #A6C9E2;background-color: #fff;color: #222;}

.ui-dialog {font-family: Georgia;}
.ui-dialog .ui-widget-header{border: 0px solid #4297D7;background:none;background-color: #fff;color: #24a6cf;font-weight: normal;font-size: 15px;margin-left:11px;margin-right: 11px;margin-top:11px;position: relative;margin-bottom: 20px;}
.ui-dialog .ui-widget-header .ui-dialog-titlebar-close{position: absolute;right:0px;top:0px;background: url(images/sprite.png) -516px -105px no-repeat;width:22px;height:23px;}
.ui-dialog .ui-widget-header .ui-dialog-titlebar-close span{display: none;}
.ui-dialog .ui-widget-header ui-state-hover{}
.ui-dialog-content{margin-left:11px;margin-right: 11px;font-size: 12px;color:#3b414e;position: relative;padding-left: 70px;}
.ui-dialog-content .alert_icon{background: url(images/sprite.png) -488px -66px no-repeat;width:39px;height:38px;position: absolute;display: block;left:17px;}
.ui-dialog-content .quest_icon{background: url(images/sprite.png) -487px -28px no-repeat;width:39px;height:38px;position: absolute;display: block;left:17px;}
.ui-dialog-buttonset{margin-left: 11px;margin-right: 11px;margin-bottom: 11px;text-align: right;}
.ui-dialog-buttonset .ui-button{background-color: #24a6cf;color:#fff;border:0px;font-family: Georgia;line-height: 21px;height:21px;font-size: 13px;padding:0px;padding-left: 10px;padding-right: 10px;cursor: pointer;margin-left:10px;}


#dir_otch{padding-top: 200px;}


#dolg_list{}
#dolg_list form{padding: 0px;margin: 0px;}
#dolg_list table{width:100%;}
#dolg_list table th{height:39px;vertical-align: middle;font-weight: normal;font-size: 11px;text-transform: uppercase;text-align: left;}
#dolg_list table th a{text-decoration: none;border-bottom:1px dotted #24a6cf;padding-right:0px;}
#dolg_list table th a:hover{border:0px;}
#dolg_list table th.active{background-color:#dbdee3;color:#000;
-webkit-border-top-left-radius: 8px;
-moz-border-top-left-radius: 8px;
border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-top-right-radius: 8px;
border-top-right-radius: 8px;
}

#dolg_list table th.active a{color:#000;border: 0px;position: relative;}
#dolg_list table th.active a.up span{display: block;position: absolute;right:-14px;top:3px;background: url(images/select_on.png) 0px 0px no-repeat;width:7px;height:6px;}
#dolg_list table th.active a.down span{display: block;position: absolute;right:-14px;top:3px;background: url(images/select_off.png) 0px 0px no-repeat;width:7px;height:6px;}


#dolg_list table .c1{width:200px;padding-left: 20px;text-align: left;}
#dolg_list table .c2{width:140px;padding-left: 20px;text-align: left;}
#dolg_list table .c3{width:160px;padding-left: 20px;text-align: left;}
#dolg_list table .c4{width:345px;padding-left: 20px;text-align: left;}
#dolg_list table .c5{width:50px;}
#dolg_list table td.c5{vertical-align: middle;}
#dolg_list table .c5{text-align: center;}


#dolg_list table .c12{width:210px;padding-left: 20px;text-align: left;}
#dolg_list table .c22{width:230px;padding-left: 20px;text-align: left;}
#dolg_list table .c32{width:427px;padding-left: 20px;text-align: left;}
#dolg_list table .c42{padding-left: 00px;text-align: left;}

#dolg_list table .c13{width:210px;padding-left: 20px;text-align: left;}
#dolg_list table .c23{width:230px;padding-left: 20px;text-align: left;}
#dolg_list table .c33{width:200px;padding-left: 20px;text-align: left;}
#dolg_list table .c43{padding-left: 0px;text-align: left;width: 270px;}

#dolg_list table .c43 a.changed{float:right;display: block;width:16px;height: 16px;background: url(images/attention.png) 0px 0px no-repeat;}


#dolg_list table tr{margin-bottom: 5px;display: block;background-color:#dbdee3; }
#dolg_list table tr.heder{background:none;margin-bottom: 0px;}

#dolg_list table td{vertical-align: top;padding-top:12px;padding-bottom: 12px;background-color: #dbdee3;font-size: 14px;line-height: 18px;}
#dolg_list table td input.ch{position: relative;z-index: 100;}

.orders_list td{padding-top: 3px !important;padding-bottom: 3px !important;}

#dolg_list .popuper{width:100%;height: 59px;background: url(images/dir_otch_tdactive.png) 0px 0px;position: absolute;display: none;left:0px;margin-top:-12px;z-index: 10;}
#dolg_list .popuper .m{display: table-cell;text-align: center;width:980px;height:59px;vertical-align: middle;}
#dolg_list .popuper a{color:#fff;text-decoration: none;padding-left: 28px;position: relative;text-transform: uppercase;font-size: 12px;font-weight: normal;font-family: Arial;margin-right: 50px;margin-left:50px;line-height: 16px;}
#dolg_list .popuper a span{position: absolute;display: block;left:0px;top:-2px;}
#dolg_list .popuper a.payments span{background: url(images/dir_otch_icons.png) -17px 0px no-repeat;width:13px;height:16px;}
#dolg_list .popuper a.edite span{background: url(images/dir_otch_icons.png) 0px 0px no-repeat;width:16px;height:16px;}
#dolg_list .popuper a.del span{background: url(images/dir_otch_icons.png) -30px 0px no-repeat;width:15px;height:16px;}
#dolg_list .popuper a.orders span{background: url(images/dir_otch_icons.png) -45px 0px no-repeat;width:16px;height:16px;}

#dolg_list .popuper a.edite_pay span{background: url(images/dir_otch_icons.png) 0px 0px no-repeat;width:16px;height:16px;}
#dolg_list .popuper a.del_pay span{background: url(images/dir_otch_icons.png) -30px 0px no-repeat;width:16px;height:16px;}

#city_pos{position: absolute;border:1px solid #24A6CF;width:150px;left:0px;top:103px;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter: alpha(opacity=20);-moz-opacity: 0.2;-khtml-opacity: 0.2;opacity: 0.2;
}

.paginator{height:22px;line-height: 22px;font-size: 14px;margin-bottom: 0px;margin-top: 5px;}
.paginator .sort{float:left;}
.paginator .sort a{font-style: italic;text-decoration: none;border-bottom: 1px dotted #24a6cf;}
.paginator .sort a:hover{border:0px;}
.paginator .sort a.active{font-weight: bold;cursor: default;color:#1a1a1a;border: 0px;font-style: normal;}


.paginator .print_dolg{display: block;text-decoration: none;float: right;height: 28px;line-height: 28px;color: white;background: url(images/grad.gif) 0px 0px;font-size: 14px;text-align: center;padding-left:20px;padding-right:20px;margin-left: 20px;}
.paginator .xls_dolg{display: block;text-decoration: none;float: right;height: 28px;line-height: 28px;color: white;background: url(images/grad.gif) 0px 0px;font-size: 14px;text-align: center;padding-left:20px;padding-right:20px;margin-left: 20px;}


.paginator .pager{float:left;line-height: 21px;}
.paginator .pager a{float:left;margin-left: 8px;}
.paginator .pager a:hover{text-decoration: none;}
.paginator .pager span{width:22px;height:22px;background: url(images/sprite.png) -408px -81px no-repeat;display: block;float:left;color:#fff;text-align: center;margin-left:8px;}



#dolg_edite_form{width:278px;}
#dolg_edite_form .ln{line-height: 20px;position: relative;margin-bottom: 5px;}
#dolg_edite_form .ln .zg{text-transform: uppercase;font-size: 9px;}
#dolg_edite_form .ln .zg2{line-height: 11px;top:1px;}
#dolg_edite_form .ln .pole{padding:0px;line-height: 20px;height:20px;border:0px;font-size: 12px;font-family: Georgia;padding-left: 13px;width:100%;border: 1px solid #979797;}
#dolg_edite_form .ln textarea.pole{height:80px;}
#dolg_edite_form select{height:80px;width:180px;border: 1px solid #979797;outline: none;margin: 0px;}
#dolg_edite_form .inpc{margin-right: 16px;position: relative;}



#add_pay{padding: 0px;margin: 0px;margin-top: 40px;}
#add_pay .but{padding:0px;display: block;text-decoration: none;height: 28px;line-height: 28px;color: white;background: url(images/grad.gif) 0px 0px;font-size: 14px;text-align: center;padding-left:20px;padding-right:20px;border: 0px;font-family: Georgia;width:100%;cursor: pointer;} 
#add_pay .sod{background-color:#dbdee3; padding:16px;}
#add_pay .bl{float:left;margin-right: 22px;}
#add_pay .bl .zg{font-weight: normal;font-size: 11px;text-transform: uppercase;font-family: Georgia;line-height: 11px;margin-bottom: 10px;}
#add_pay .bl .pole{padding:0px;line-height: 33px;height:33px;border:0px;font-size: 12px;font-family: Georgia;padding-left: 13px;width:100%;position: relative;z-index: 5;}
#add_pay .ttl{font-size: 18px;font-family: Georgia;line-height: 18px;margin-bottom: 13px;}
#add_pay .br{float:right;width:440px;margin-right: 0px;}
#add_pay .ln{margin-right: 13px;position: relative;}
#add_pay .fli span{float:left;}
#add_pay .fli span{position: absolute;right:0px;top:30px;}
#add_pay .fli{position: relative;}
#add_pay .fli .ln{margin-right: 45px;}
#add_pay .ugolok{background: white url(images/select_off.png) 91% 15px no-repeat;}


#pay_fltr{padding: 0px;margin: 0px;position: absolute;right:0px;top:125px;}
#pay_fltr .bl{float:left;margin-right: 22px;}
#pay_fltr .bl .zg{font-weight: normal;font-size: 11px;text-transform: uppercase;font-family: Georgia;line-height: 28px;float:left;margin-right: 5px;}
#pay_fltr .bl .pole{padding:0px;line-height: 28px;height:28px;border:0px;font-size: 12px;font-family: Georgia;padding-left: 13px;width:100%;position: relative;z-index: 5;float:left;}
#pay_fltr .bl .ln{float:left;}
#pay_fltr .ttl{font-size: 18px;font-family: Georgia;line-height: 18px;margin-bottom: 13px;}
#pay_fltr .but{padding:0px;display: block;text-decoration: none;height: 28px;line-height: 28px;color: white;background: url(images/grad.gif) 0px 0px;font-size: 14px;text-align: center;padding-left:20px;padding-right:20px;border: 0px;font-family: Georgia;cursor: pointer;float:left;} 
#pay_fltr .ugolok{background: white url(images/select_off.png) 93% 13px no-repeat;}


#pays_rest_name{position: absolute;top:75px;left:520px;font-size: 30px;line-height: 30px;font-family: Georgia;}