#spec_news
{
    margin-top:126px;
    margin-left:70px;
    width:700px;
    position:relative;
}
#spec_news .date_p span
{
    font-style: italic;
    font-size: 30px;
    line-height: 36px;
}
#spec_news .date_p
{
    text-transform: lowercase;    
    line-height: 18px;
    margin-right:35px;
}
#spec_news .title
{
    margin-bottom:10px;
    font-family: appetite;    
}
#spec_news .title a
{
    color:#FFF;
    font-size:18px;
    text-decoration:none;
    line-height:27px;
}
#spec_news .title a:hover
{
    color:#24A6CF;
    font-size:18px;
    text-decoration:none;
    line-height:27px;
}
#spec_news .galery_news
{
    position:absolute;
    left:0px;
    top:38px;
    display:none;
    padding-left: 28px;
}
#spec_news .scroll_arrows
{
/*    padding-top:120px;
    padding-left:52px;*/
    margin-left:-11px;
    line-height:38px;
    float:left;
}
#spec_news .scroll_arrows .prev
{
    margin-right:5px;
}
#spec_news .scroll_arrows .next
{
    margin-left:5px;
}

