.os-font {
  font-family: 'Open Sans', sans-serif;
}
.modal-dialog {
  color: #000;
  font-family: "Pt Sans",Helvetica,Arial,sans-serif;
  &.floating-bron-form {
    width: 316px;
    max-height: 600px;
    margin-top: 0;
    margin-bottom: 30px;
    z-index: 2;
    .modal-content {
      box-shadow: none;
      border: none;
      background: #f1eeeb;
      .modal-body {
        background: url("../img/form/form-free-bg.png") top left no-repeat;
        color: #636272;
        .phone {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 26px;
          overflow: hidden;
          .online-or-by-phone {
            font-family: 'futurafuturislightc';
            font-weight: 700;
            color: #636272;
            font-size: 14px;
            float: right;
          }
          .header-phone-wrap {
            float: right;
            position: relative;
            height: 35px;
            padding-left: 35px;
            line-height: 35px;
            &:before {
              content: ' ';
              background: url("../img/form/form-phone.png") bottom left no-repeat;
              width: 33px;
              height: 31px;
            }
          }
        }
        #order_online {
          padding: 0;
          .title {
            font-family: 'futurafuturiscbold';
            font-weight: 700;
            text-align: center;
            font-size: 30px;
            line-height: 30px;
            color: #636272;
          }
          label {
            font-size: 14px;
            .os-font;
            font-weight: 700;
            text-transform: none;
          }
          .form-rest-name-wrap {
            text-align: center;
            margin-bottom: 20px;
            .form-rest-name {
              font-family: 'futurafuturiscregular';
              border-bottom: 1px dashed;
              font-size: 20px;
              display: inline;
            }
          }

          input {
            height: 48px;
            border: none;
            display: inline-block;
            border-radius: 3px;
            width: 100%;
            &:-moz-placeholder{
              font-size: 14px;
              .os-font;
            }
            &::-moz-placeholder{
              font-size: 14px;
              .os-font;
            }
            &:-ms-input-placeholder{
              font-size: 14px;
              .os-font;
            }
            &::-webkit-input-placeholder{
              font-size: 14px;
              .os-font;
            }

          }
          .form-group {
            width: 100%;
//            overflow: hidden;
            .phone1 {
              width: 200px;
              padding-left: 20px;
              letter-spacing: 1px;
            }
            #date {
              width: 100%;
              margin: 0;
              box-shadow: none;
              background: url(../img/form/calendar-bg.png) 96% center no-repeat #fff;
            }
            .phone-label {
              margin-right: 8px;
            }
            .half-part-form-fields {
              float: left;
              width: 50%;
              label {
                width: 58px;
              }
              #time {
                text-align: center;
                letter-spacing: 1px;
              }
              #company {
                background: #fff;
                text-align: center;
              }
              .up-down {
                top: 0;
                right: 0;
                width: 76px;
                height: 48px;
                background: url("../img/form/plus-minus.png") center center no-repeat;
                .up {
                  width: 50%;
                  height: 100%;
                  float: right;
                }
                .down {
                  width: 50%;
                  height: 100%;
                  float: left;
                }
              }
            }
          }
          .today-tomorrow-wrapper {
            .today-tomorrow {
              top: 0;
              left: 0;
              border-right: 1px solid #f1eeeb;
              .today-tomorrow-select {
                height: 48px;
                width: 230px;
                background: #ffffff url("/bitrix/templates/main_2014/img/select-arrow1.png") 204px 16px no-repeat;
                font-size: 14px;
                .os-font;
                padding-left: 20px;
                border-radius: 3px;
              }
            }
          }
          .wish-list-new-trigger {
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 100%;
            border-left: 1px solid #f1eeeb;
            &:before {
              background: url("../img/form/wishes-icon.png") center center no-repeat;
              top: 5px;
              right: 0;
            }
          }
          .wishes-input-trigger {
            .wishes-list-wrapper {
              width: 100%;
            }
          }
          .we-will-get-you {
            font-family: 'futurafuturislightc';
            font-size: 14px;
            text-align: center;
            margin-bottom: 15px;
          }
          .btn-nb {
            color: #ffffff;
            font-family: 'futurafuturiscbold';
            font-size: 14px;
            background: #706d9e;
            border: none;
            border-radius: 3px;
            padding: 12px 10px;
            letter-spacing: 1px;
            &:hover {
              background: #b373b5;
            }
          }
        }
      }
    }
  }
}
.datepicker {
  td {
    &.active {
      background-color: #706d9e !important;
      &:hover {
        background-color: #706d9e !important;
      }
    }
    &.old, &.new {
      opacity: 0.6;
    }
  }
}
#system_loading {
  position: fixed;
  display: none;
  right: 10px;
  top: 10px;
  z-index: 99999;
  background: #0d0d0d;
  border: 1px solid #333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.8;
  padding: 10px;
  line-height: 32px;
  font-family: 'futurafuturiscbold';
  font-size: 18px;
  color: #ffffff;
  text-indent: 15px;
}