/*#spec_block_image {
    height: 400px;
    overflow: hidden;
}*/
.spec_block_cookery {
    margin-bottom:20px;
    overflow:hidden;
}
.spec_block_cookery .text {
    width:398px;
    background-color: rgba(255,255,255,0.8);    
    padding:20px 30px; 
    height:200px; 
    z-index:1;
    position:relative;
    float:right;
    margin-top:200px;
}
.spec_block_cookery .text b{
    font-weight: 700;
    color: #30c5f0;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'futurafuturiscbold';
    letter-spacing: .5px;
}
.spec_block_cookery .text .title{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.spec_block_cookery .text .pull-left{
    width:70%;    
}
.spec_block_cookery .text .pull-right{
    width:25%;    
}
#spec_block_image img 
{
    position:absolute;
    left:0px; 
    top:0px;     
    display:none;
}
#spec_block_image img.active
{
    
}
