.content .detail_article {
  margin: 0;
  margin-bottom: 15px;
  h2 {
    font-family: $font-family-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    margin-top: 10px;
  }
  i {
    font-family: $font-family-italic-font;
  }
  .bl {
    margin: 15px 0;
  }
  .articles_photo {
    width: 728px;
    overflow: hidden;
  }
  .ratio {
    font-size: 12px;
    color: $restoran-cyan;
    margin-top: -5px;
    margin-bottom: 0;
  }
  .photos123 {
    width: 238px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .article_rest {
    width: 232px;
    margin-right: 15px;
  }
  .article_rest_text {
    width: 481px;
    p {
      margin-bottom: 20px;
    }
  }
  .order {
    font-family: $font-family-futurabold;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 12px;
    line-height: 18px;
  }
  small {
    color: $color_pewter_approx;
  }
  .comments-list {
    background: none;
    margin-top: 0;
    .media {
      border-bottom: 3px solid $black;
      padding: 20px 0;
      .media {
        border: 0;
        padding: 0;
      }
      &:last-child {
        border: 0;
      }
    }
  }
  .order-buttons a {
    margin: 5px 0;
  }
  .props .prop {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    &.wsubway {
      margin-top: 5px;
    }
    .name {
      font-family: $font-family-futurabold;
      text-transform: uppercase;
      float: left;
      font-size: 10px;
      line-height: 18px;
      margin-right: 5px;
      margin-bottom: -4px;
    }
    .value {
      font-size: 12px;
      line-height: 15px;
    }
    .subway {
      color: $white;
      font-size: 9px;
      line-height: 16px;
      //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
      border-radius: 7px;
      height: 14px;
      width: 14px;
      background: $restoran-cyan;
      text-align: center;
      float: left;
      margin-right: 5px;
    }
  }
}