.in-detail-photos {
  .carousel {
    width: 980px;
    margin: 0 auto;
    .carousel-inner {
      height: 400px;
      background: $restoran-haze-approx;
      text-align: center;
      img {
        height: 400px;
      }
      .item {
        text-align: center;
        .inline-wrapper {
          display: inline-block;
          position: relative;
          > span {
            > a {
              color: inherit;
            }
          }
        }
        > img {
          display: inline-block;
        }
      }
    }
    .carousel-control {
      &.left,
      &.right {
        background: none;
        opacity: 0.9;
      }
      .galery-control {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
        height: 50px;
        width: 50px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        border: 2px solid $white;
        display: block;
        &.galery-control-left {
          &:before {
            font-size: 24px;
            color: $white;
            display: block;
            text-align: center;
            position: absolute;
            left: 10px;
            top: 12px;
          }
        }
        &.galery-control-right {
          &:before {
            font-size: 24px;
            color: $white;
            display: block;
            text-align: center;
            position: absolute;
            left: 12px;
            top: 12px;
          }
        }
      }
      &:hover {
        .galery-control {
          border-color: #18BEEE;
          &.galery-control-left {
            &:before {
              color: #18BEEE;
            }
          }
          &.galery-control-right {
            &:before {
              color: #18BEEE;
            }
          }
        }
      }
    }
  }
}