.container .content .extended_filter {
  position: relative;
  .left {
    float: left;
  }
  label {
    font-weight: normal;
    margin: 0;
  }
  .option {
    line-height: 16px;
    padding: 0;
    width: 132px;
    padding-top: 0;
  }
  .option2 {
    line-height: 16px;
    padding: 0;
    width: 148px;
    padding-top: 0;
  }
  .sort_metro {
    position: absolute;
    left: 250px;
    top: -38px;
  }
  .subway_station {
    display: block;
    position: absolute;
    z-index: 9999;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 5px;
    background: $white;
    opacity: 0.1;
    border-bottom: 1px dotted $color_rangoon_green_approx;
    &:hover {
      display: block;
      position: absolute;
      z-index: 9999;
      background: $restoran-cyan;
      opacity: .5;
    }
    &.selected {
      display: block;
      position: absolute;
      z-index: 9999;
      background: $restoran-cyan;
      opacity: .6;
    }
  }
}