.container {
  .filter_box {
    background: linear-gradient(to bottom, $restoran-haze-approx 0, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f6f7', endColorstr='#00ffffff', GradientType=0);
    min-height: 85px;
    padding: 10px 0;
    position: relative;
    z-index: 101;

    @import "old_filter_box_inner";

    &.main_2015_summer {
      min-height: 0;
      .filter {
        .form_main_2015_summer_1 {
//          overflow: hidden;

          height: 37px;
          .on-map-button-wrap {
            float: left;
          }
          .search_box {
            width: 846px;
            box-shadow: none;
            border: 2px solid #30c5f0;
            height: 37px;
            .search_submit {
              float: right;
              width: 105px;
              text-align: center;
              color: white;
              background: #30c5f0;


              margin: -2px;
              height: 35px;
              padding-left: 12px;
              span {
                &:before {
                  margin-right: 8px;
                  margin-top: 9px;
                  background: url("img/search-by-title-summer-icon.png") no-repeat;
                  width: 16px;
                  height: 16px;
                }
              }
            }
            .how-search-title {
              line-height: 34px;
              height: 31px;
              margin-top: 0;
            }
            .search_input {
              height: 30px;
              line-height: 19px;
            }
            .dropdown {
              &.open {
                #search_in_title {
//                  background-color: white;
                  background: white;
                  color: #000000;
                  &:hover {
                    background-color: white;
                    color: #000000;
                  }
                }
              }

              #search_in_title {
                padding-right: 10px;
                &:hover {
                  background: inherit;
                  color: inherit;
                  .caret {
                    color: inherit;
                  }
                }
              }
            }
            &.near-in-list {
              width: 711px;
              margin-right: 5px;
            }
          }
          .on_map {
            height: 37px;
          }
        }
        .form-group {
          margin-right: 4px;
          .d {
            border-left: 1px solid #d3dee1;
          }
          .search-by-params {
            border-radius: 0;
            padding: 6px 9px;
            background: #30c5f0;
            span {
              &:before {
                content: ' ';
                background: url("img/find-by-params-icon.png") no-repeat;
                width: 15px;
                height: 15px;
                float: left;
                margin-top: 3px;
                margin-right: 7px;
              }
              font-size: 10px;
              text-transform: uppercase;
              font-family: $font-family-futurabold;
              letter-spacing: 1px;
              font-weight: 100;
            }
          }
          &:last-child {
            margin-right: 0;
          }
          .dropdown {
            &.open {
              background: #000000;
              color: #ffffff;
              & > a {
                color: #fff;
                .caret {
                  color: #30c5f0;
                }
              }
            }
            & > a {
              color: #000000;
              &:hover {
                background: #000000;
                color: #ffffff;
                .caret {
                  color: #30c5f0;
                }
              }
            }
          }
          &.inverted {
            color: #000000;
          }
        }
        .search_box {
          margin-left: 0;
          margin-right: 10px;
          float: left;
          width: 644px;
          box-shadow: inset -2px 2px 10px #e3e3e3;
          .how-search-title {
            text-transform: uppercase;
            font-family: $font-family-futurabold;
            font-size: 10px;
            float: left;
            padding: 0 15px;
            line-height: 28px;
            height: 26px;
            border-right: 1px solid #f0f2f3;
            margin-top: 5px;
          }
          .search_submit {
            background: none;
            width: 50px;
            text-align: right;
            padding-right: 10px;
            span {
              &:before {
                margin-right: 0;
                margin-top: 8px;
              }
            }
          }
          .search_input {
            width: 440px;
            font-family: $font-family-sans-serif;
            font-style: normal;
          }
        }
        .on_map {
          border: 2px solid #18beee;
          background-color: white;
          color: black;
          padding-top: 6px;
          span {
            &:before {
              background: url("img/search-filter-marker.png") center center no-repeat;
            }
          }
          &.near-in-list {
            span {
              &:before {
                background: url("img/restaurants-near-logo.png") center center no-repeat;
                width: 24px;
                height: 24px;
                margin-top: -2px;
              }
            }
          }
        }
        #rest_filter_form {
//          display: none;
//          &.active {
//            display: block;
//          }
        }
        .fil {
          background: #f3f6f7;
        }
        .pull-right {
          &.inverted {
            a {
              color: #000000;
            }
          }
        }
      }
    }
  }

}