@font-face {
  font-family: 'rouble';
  src: url('/tpl/fonts/rouble-webfont.eot');
  src: url('/tpl/fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'), url('/tpl/fonts/rouble-webfont.woff') format('woff'), url('/tpl/fonts/rouble-webfont.ttf') format('truetype'), url('/tpl/fonts/rouble-webfont.svg#rouble') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'futurafuturiscregular';
  src: url('fonts/futurafuturisc-1-webfont.eot');
  src: url('fonts/futurafuturisc-1-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/futurafuturisc-1-webfont.woff') format('woff'), url('fonts/futurafuturisc-1-webfont.ttf') format('truetype'), url('fonts/futurafuturisc-1-webfont.svg#futurafuturiscregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'futurafuturiscbold';
  src: url('fonts/futurafuturisc-bold-1-webfont.eot');
  src: url('fonts/futurafuturisc-bold-1-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/futurafuturisc-bold-1-webfont.woff') format('woff'), url('fonts/futurafuturisc-bold-1-webfont.ttf') format('truetype'), url('fonts/futurafuturisc-bold-1-webfont.svg#futurafuturiscbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'futurafuturislightcregular';
  src: url('fonts/futurafuturislightc-webfont.eot');
  src: url('fonts/futurafuturislightc-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/futurafuturislightc-webfont.woff') format('woff'), url('fonts/futurafuturislightc-webfont.ttf') format('truetype'), url('fonts/futurafuturislightc-webfont.svg#futurafuturislightcregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?yv2gto');
  src: url('fonts/icomoon.eot?#iefixyv2gto') format('embedded-opentype'), url('fonts/icomoon.woff?yv2gto') format('woff'), url('fonts/icomoon.ttf?yv2gto') format('truetype'), url('fonts/icomoon.svg?yv2gto#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}




//Playfair Display
@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/Playfair_Display/PlayfairDisplay-Regular.woff') format('woff'),
  url('fonts/Playfair_Display/PlayfairDisplay-Regular.otf') format('opentype'),
  url('fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/Playfair_Display/PlayfairDisplay-Bold.woff') format('woff'),
  url('fonts/Playfair_Display/PlayfairDisplay-Bold.otf') format('opentype'),
  url('fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/Playfair_Display/PlayfairDisplay-Black.woff') format('woff'),
  url('fonts/Playfair_Display/PlayfairDisplay-Black.otf') format('opentype'),
  url('fonts/Playfair_Display/PlayfairDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/Playfair_Display/PlayfairDisplay-Italic.woff') format('woff'),
  url('fonts/Playfair_Display/PlayfairDisplay-Italic.otf') format('opentype'),
  url('fonts/Playfair_Display/PlayfairDisplay-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/Playfair_Display/PlayfairDisplay-BoldItalic.woff') format('woff'),
  url('fonts/Playfair_Display/PlayfairDisplay-BoldItalic.otf') format('opentype'),
  url('fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

//PT Sans
@font-face {
  font-family: 'PT Sans';
  src: url('fonts/PT_Sans/PT_Sans-Web-Regular.woff') format('woff'),
  url('fonts/PT_Sans/PT_Sans-Web-Regular.otf') format('opentype'),
  url('fonts/PT_Sans/PT_Sans-Web-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('fonts/PT_Sans/PT_Sans-Web-Bold.woff') format('woff'),
  url('fonts/PT_Sans/PT_Sans-Web-Bold.otf') format('opentype'),
  url('fonts/PT_Sans/PT_Sans-Web-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('fonts/PT_Sans/PT_Sans-Web-Italic.woff') format('woff'),
  url('fonts/PT_Sans/PT_Sans-Web-Italic.otf') format('opentype'),
  url('fonts/PT_Sans/PT_Sans-Web-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

//PT Serif
@font-face {
  font-family: 'PT Serif';
  src: url('fonts/PT_Serif/PT_Serif-Web-Regular.woff') format('woff'),
  url('fonts/PT_Serif/PT_Serif-Web-Regular.otf') format('opentype'),
  url('fonts/PT_Serif/PT_Serif-Web-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Serif';
  src: url('fonts/PT_Serif/PT_Serif-Web-Bold.woff') format('woff'),
  url('fonts/PT_Serif/PT_Serif-Web-Bold.otf') format('opentype'),
  url('fonts/PT_Serif/PT_Serif-Web-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Serif';
  src: url('fonts/PT_Serif/PT_Serif-Web-Italic.woff') format('woff'),
  url('fonts/PT_Serif/PT_Serif-Web-Italic.otf') format('opentype'),
  url('fonts/PT_Serif/PT_Serif-Web-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'PT Serif';
  src: url('fonts/PT_Serif/PT_Serif-Web-BoldItalic.woff') format('woff'),
  url('fonts/PT_Serif/PT_Serif-Web-BoldItalic.otf') format('opentype'),
  url('fonts/PT_Serif/PT_Serif-Web-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

//Open Sans
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open_Sans/OpenSans-Regular.woff') format('woff'),
  url('fonts/Open_Sans/OpenSans-Regular.otf') format('opentype'),
  url('fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open_Sans/OpenSans-Bold.woff') format('woff'),
  url('fonts/Open_Sans/OpenSans-Bold.otf') format('opentype'),
  url('fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open_Sans/OpenSans-ExtraBold.woff') format('woff'),
  url('fonts/Open_Sans/OpenSans-ExtraBold.otf') format('opentype'),
  url('fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}