$black_10: rgba(0, 0, 0, 0.1);

//@extend-elements
%textarea {
  border: 0;
  outline: none;
  background: none;
}

.container .content .left-side {
  float: left;
  clear: left;
  width: 728px;
  .name_ratio {
    line-height: 34px;
    display: inline;
    margin-top: 10px;
    color: $restoran-cyan;
  }
  .special {
    
    h2 {
      display: inline;
      font-family: $font-family-futurareg;
      font-size: 24px;
      padding-right: 20px;
      margin-top: 10px;
      line-height: 36px;
    }
    .like-h2 {
      display: inline;
      font-family: $font-family-futurareg;
      font-size: 24px;
      padding-right: 20px;
      margin-top: 10px;
      line-height: 36px;
    }

    .carousel {
      margin-top: 10px;
      .carousel-control {
        &.left {
          background: none;
          opacity: 0.9;
        }
        &.right {
          background: none;
          opacity: 0.9;
        }
        .galery-control {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -25px;
          margin-left: -25px;
          height: 50px;
          width: 50px;
          //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
          border-radius: 25px;
          border: 2px solid $white;
          display: block;
          &.galery-control-left:before {
            font-size: 24px;
            color: $white;
            display: block;
            text-align: center;
            position: absolute;
            left: 10px;
            top: 12px;
          }
          &.galery-control-right:before {
            font-size: 24px;
            color: $white;
            display: block;
            text-align: center;
            position: absolute;
            left: 12px;
            top: 12px;
          }
        }
      }
    }
    .props {
      height: 72px;
      background: $black;
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
      text-align: justify;
      line-height: 0;
      text-justify: newspaper;
      zoom: 1;
//      text-align-last: justify;

      overflow: hidden;
      &:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
      }
      div {
        color: $white;
        font-size: 10px;
        line-height: 18px;
        &.col {
          display: inline-block;
          zoom: 1;
          vertical-align: top;
          width: 155px;
          &:first-child {
            width: 100px;
          }
          &:nth-child(2) {
            width: 85px;
          }
          &:last-child {
            width: 100px;
          }
        }
        .name {
          font-family: $font-family-futurabold;
          text-transform: uppercase;
          letter-spacing: .5px;
        }
        .value {
          font-size: 12px;
          line-height: 14px;
          text-align: left;
          a {
            color: $white;
          }
        }
        .subway {
          color: $white;
          font-size: 9px;
          line-height: 16px;
          //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
          border-radius: 7px;
          height: 14px;
          width: 14px;
          background: $restoran-cyan;
          text-align: center;
          float: left;
          margin-right: 5px;
        }
      }
    }
    .order-buttons a {
      margin: 0 5px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        text-decoration: underline;
        font-family: $font-family-italic-font;
        font-style: italic;
        font-size: 12px;
        margin-left: 10px;
      }
    }
  }
  .grey_form {
    margin-top: 20px;
    margin-bottom: 20px;
    background: $restoran-haze-approx;
    padding: 20px;
    padding-top: 13px;

    .form-group {
      @include clearfix;
      .title {
        font-family: $font-family-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 32px;
        float: left;
      }
      &.input-block {
        border: 1px solid $color_iron_approx;
        border-bottom-color: $restoran-haze-approx;
        height: auto;
        background: $white;
        //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: inset 0 2px 3px rgba($black, 0.1);
        position: relative;
        input {
          @extend %textarea;
          height: 36px;
          line-height: 36px;
          padding: 0 15px;
          &::-webkit-input-placeholder {
            color: $black;
            opacity: 0.8;
          }
          &:-moz-placeholder {
            color: $black;
            opacity: 0.8;
          }
          &:-ms-input-placeholder {
            color: $black;
            opacity: 0.8;
          }
          &::-ms-input-placeholder {
            color: $black;
            opacity: 0.8;
          }
          &::-moz-placeholder {
            color: $black;
            opacity: 0.8;
          }
          &#rest {
            width: 324px;
          }
          &#email {
            width: 360px;
          }
        }
        textarea {
          @extend %textarea;
          padding: 10px 15px;
          height: 96px;
          line-height: 18px;
          width: 99%;
          &::-webkit-input-placeholder {
            color: $black;
            opacity: 0.8;
          }
          &::-ms-input-placeholder {
            color: $black;
            opacity: 0.8;
          }
          &:-moz-placeholder {
            color: $black;
            opacity: 0.8;
          }
          &:-ms-input-placeholder {
            color: $black;
            opacity: 0.8;
          }
          &::-moz-placeholder {
            color: $black;
            opacity: 0.8;
          }
        }

        &#minus_block {
          display: none;
        }
        &#plus_block {
          display: none;
        }
      }
      &.email {
        width: 375px;
        float: left;
      }
      &.captcha {
        width: 303px;
        float: right;
        .QapTcha {
          width: 300px;
          .bgSlider {
            width: 300px;
            border: 1px solid $color_bon_jour_approx;
            background-color: $white;
            position: relative;
            background-image: linear-gradient(-45deg, $color_alabaster_approx 25%, transparent 25%, transparent 50%, $color_alabaster_approx 50%, $color_alabaster_approx 75%, transparent 75%, transparent);
            background-size: 40px 40px;
            //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: inset 0 2px 3px rgba($black, 0.1);
            height: 37px;
          }
          .TxtStatus {
            margin-top: -25px;
            position: relative;
            width: 300px;
            text-align: center;
            margin-left: 0;
            color: $color_pumice_approx;
            font-style: normal;
          }
          .Slider {
            z-index: 100;
            //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: inset -1px 1px 3px $color_storm_dust_approx;
            background-size: cover;
            background-position: center center;
            top: 0;
            left: 0;
            width: 44px;
            height: 36px;
          }
          .img-container {
            padding: 0;
            margin-bottom: 10px;
          }
        }
      }
      .choose-ratio {
        font-size: 17px;
        float: right;
        padding-top: 3px;
        span {
          line-height: 24px;
          &.ic {
            top: 4px;
            cursor: pointer;
            position: relative;
            &:hover {
              text-shadow: 0px 0px 10px $restoran-cyan;
            }
          }

          &.text {
            font-size: 18px;
            display: inline-block;
            padding: 0px;
            background: none;
            width: auto;
            margin-bottom: 0px;
            height: auto;
            i {
              font-size: 14px;
              font-family: $font-family-italic-font;
              white-space: nowrap;
            }
            &:after {
              content: '';
            }
          }
        }
      }
    }
    .attach {
      float: left;
      line-height: 36px;
      b {
        font-family: $font-family-futurabold;
        font-size: 10px;
        text-transform: uppercase;
      }
      a {
        font-family: $font-family-futurabold;
        color: $restoran-cyan;
        font-size: 10px;
        text-transform: uppercase;
        margin: 0 5px;
        letter-spacing: 0.054em;
        &:after {
          content: ' ';
          display: inline-block;
          margin-left: 10px;
          color: $color_alto_approx;
        }
        &:hover {
          text-decoration: none;
        }
      }
      a:last-child:after {
        content: '';
        margin: 0;
      }
    }
  }
}