ul.left_menu_tabs {
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    a {
      color: $restoran-cyan;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }
}