.map_ballon {
  position: absolute;
  z-index: 998;
  color: $white;
  cursor: pointer;
  a {
    text-decoration: none;
    border: none;
  }
  .balloon_content {
    background: $color_bright_gray_approx;
    padding: 10px;
    z-index: 99999;
    color: $white;
    cursor: pointer;
  }
  .balloon_tail {
    background: url(/tpl/images/map/g_c.png) center top no-repeat;
    height: 24px;
  }
  &:hover {
    z-index: 999;
    .balloon_content {
      background: $restoran-cyan;
      padding: 10px;
      z-index: 99999;
      color: $white;
    }
    .balloon_tail {
      background: url(/tpl/images/map/b_c.png) center top no-repeat;
      height: 24px;
    }
  }
}