div.menu-horizontal-long {
  height: 26px;
  width: 975px;
  background: $color_bright_gray_approx;
  margin-bottom: 20px;
  ul {
    position: relative;
    margin: 0 6px 24px;
    padding: 0;
    font-size: 12px;
    line-height: 0;
    text-justify: newspaper;
    zoom: 1;
    text-align-last: justify;
    &:after {
      width: 100%;
      height: 0;
      visibility: hidden;
      overflow: hidden;
      content: '';
      display: inline-block;
    }
    li {
      position: relative;
      height: 26px;
      display: inline-block;
      text-align: left;
      line-height: normal;
      font-size: 12px;
      vertical-align: top;
      padding: 0 6px;
    }
  }
  a {
    color: $white;
    text-decoration: none;
    position: relative;
    top: 5px;
  }
  em {
    background: url(/tpl/images/user/menu-arrow-white.png) $white no-repeat 0 50%;
    color: $color_bright_gray_approx;
    text-transform: uppercase;
    font-size: 9px;
    height: 10px;
    position: relative;
    top: 5px;
    padding: 2px 4px 2px 7px;
    margin-left: -1px;
  }
  strong {
    position: relative;
    top: -1px;
  }
  li:hover {
    background: $restoran-cyan;
    em {
      background: url(/tpl/images/user/menu-arrow-blue.png) $white no-repeat 0 50%;
    }
  }
}