.container .content .menu_menu {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    ul {
      margin-left: 20px;
    }
    &.active {
      color: $restoran-cyan;
      a {
        color: $restoran-cyan;
      }
    }
  }
}