.gis-form {
  .modal {
    overflow-y: auto;
  }
}

.modal-dialog {
  width: 1000px;
  margin: 120px auto;
  &.small {
    width: 480px;
    .ajax_form {
      padding: 0 20px;
      margin: 0 20px;
      margin-top: 20px;
      position: relative;
      .reg {
        margin: 0 -60px;
        background: $white;
        padding: 10px 60px 20px;
        margin-bottom: -20px;
      }
      a {
        color: $black;
      }
      .forget {
        position: absolute;
        top: 15px;
        right: 20px;
      }
      .form-group {
        margin-bottom: 32px;
        &.end {
          margin-bottom: 12px;
        }
        &:last-child {
          margin-bottom: 12px;
        }
      }
      .dots {
        height: 1px;
        margin-top: 32px;
      }
      .orr {
        position: absolute;
        margin-top: -10px;
        font-size: 14px;
        left: 180px;
        font-family: $font-family-italic-font;
        font-style: italic;
        background: $color_black_haze_approx;
        display: block;
        padding: 0 10px;
      }
      .italic {
        font-size: 14px;
        font-family: $font-family-italic-font;
        font-style: italic;
        text-align: center;
        margin-top: 8px;
      }
    }
    .modal-content {
      .modal-close {
        right: 20px;
      }
      .form-control {
        border-radius: 0;
        border-color: $color_mercury_approx;
        height: 40px;
      }
    }
  }
  .modal-content {
    background: $color_black_haze_approx;
    border-radius: 0;
    .modal-close {
      position: absolute;
      top: 20px;
      right: 36px;
      z-index: 10;
      outline: none;
      .close {
        color: $black;
        font-size: 22px;
        line-height: 42px;
        opacity: .95;
        outline: none;
      }
    }
  }
  .title {
    font-family: $font-family-serif;
    font-size: 24px;
    color: $black;
    font-weight: 800;
    margin-bottom: 15px;
  }
  #order_online {
    padding: 0 20px;
    &.rga-urm-order-form {
      .left_column {
        .pull-left{
          &.end {
            input {
              width: 100% !important;
            }
          }
        }
      }
      .pull-left {
        &.end {
          width: 100%;
          input {
            width: 100%;
          }
        }
      }
      .pull-right {
        &.end {
          width: 100%;
          margin-top: 10px;
          .phone-notification-wrapper {
            .attention-phone-title {
              float: left;
              background: #FC402C;
              text-transform: uppercase;
              color: #ffffff;
              font-weight: 600;
              font-size: 12px;
              letter-spacing: 1px;
              line-height: 38px;
              text-align: center;
              width: 100px;
              position: relative;
              margin-left: -7px;
              margin-top: 1px;
              &:before {
                content: '';
                margin-left: -6px;
                border-right: 6px solid;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                color: #FC402C;
                width: 4px;
                height: 4px;
                top: 14px;
                position: absolute;
                left: 0px;
              }
            }
            .attention-phone-desc {
              float: left;
              font-size: 12px;
              width: 350px;
              padding-left: 15px;
              padding-top: 3px;
              span {
                font-weight: bold;
                float: left;
                width: 100%;
              }
            }
          }
          .phone-code-wrapper {
            &:before {
              left: 7px;
            }
          }
        }
        .pull-left {
          .phone1 {
            width: 100%;
          }
        }
      }
    }
    .super_title {
      background: $black;
      position: absolute;
      top: -40px;
      left: 0;
      padding: 0 40px;
      line-height: 40px;
      text-transform: uppercase;
      color: $white;
      font-family: $font-family-futurabold;
      font-size: 12px;
      letter-spacing: .5px;
      span {
        color: $restoran-cyan;
      }
    }
    .form-group {
      margin-bottom: 10px;
      &.end {
        margin-bottom: 0;
      }
    }
    .service_free {
      font-size: 15px;
      color: $color_pewter_approx;
      margin-top: -28px;
      margin-left: -110px;
      position: absolute;
      left: 50%;
      & b {
        color: #000;
        text-transform: uppercase;
      }
    }
    .left_column {
      width: 480px;
      padding-right: 20px;
      border-right: 1px solid $color_mercury_approx;
      vertical-align: top;
      .time {
        float: left;
        background: linear-gradient(to bottom, $white 0, $color_porcelain_approx 100%);
        filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$white', endcolorstr='$color_porcelain_approx', gradienttype=0);
        padding: 0;
        border: 1px solid $color_mercury_approx;
        font-size: 14px;
        width: 50px;
        height: 39px;
        text-align: center;
        line-height: 39px;
        cursor: pointer;
        text-transform: uppercase;
        &.end {
          border-left: 0;
        }
        &.active {
          background: $restoran-cyan;
          color: $white;
          border: 1px solid $restoran-cyan;
        }
      }
    }
    .right_column {
      width: 480px;
      padding-left: 20px;
      vertical-align: top;
      .times {
        margin-right: -40px;
        .time {
          float: left;
          margin-right: 13px;
          margin-bottom: 19px;
          background: linear-gradient(to bottom, $white 0, $color_porcelain_approx 100%);
          filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$white', endcolorstr='$color_porcelain_approx', gradienttype=0);
          padding: 0;
          border: 1px solid $color_mercury_approx;
          font-size: 14px;
          width: 61px;
          height: 34px;
          text-align: center;
          line-height: 33px;
          cursor: pointer;
          &.end {
            margin-bottom: 0;
          }
          &.active {
            background: $restoran-cyan;
            color: $white;
            border: 1px solid $restoran-cyan;
          }
        }
      }
    }
    label {
      font-family: $font-family-futurabold;
      text-transform: uppercase;
      font-size: 11px;
    }
    input {
      border-radius: 0;
      border-color: $color_mercury_approx;
      height: 40px;
    }
    .phone1 {
      width: 125px;
    }
    .phone-code-wrapper {
      position: relative;
      padding-left: 19px;
    }
    .phone-code-wrapper:before {
      content: ' ';
      background: url("/bitrix/templates/main_2014/img/top-order-form-phone-bg.png") no-repeat;
      width: 13px;
      height: 20px;
      display: inline-block;
      margin-top: 11px;
      /* float: left; */
      position: absolute;
      left: 0;
      background-size: 13px;
    }
    .no-checkbox.phone-code-wrapper:before {
      margin-top: 1px;
    }


    &.banket-order-form {
      .phone1 {
        width: 110px;
        padding-right: 0;
        padding-left: 5px;
      }
    }
    #date {
      text-indent: -999px;
    }
    #date:hover {
//      opacity: 0.7;
    }
    .today-tomorrow-wrapper {
      position: relative;
      .today-tomorrow {
        position: absolute;
        font-size: 19px;
        top: 25px;
        left: 2px;
        line-height: 36px;
        ul {
          list-style: none;
          padding: 5px;
          margin: 0;
          padding-left: 20px;
          border: 1px solid;
          border-top: 0;
          li {
            cursor: pointer;
          }
        }
        .today-tomorrow-select {
          border: none;
          width: 204px;
          height: 38px;
          background: #FFF url('/bitrix/templates/main_2014/img/select-arrow1.png') 183px 10px no-repeat;
          border-radius: 0;
          cursor: pointer;
          appearance:none;
          -webkit-appearance: none;
          -moz-appearance:button;
          padding-left: 10px;
          font-family: $font-family-sans-serif;
          &:focus {
            border:none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            outline: 0;
          }
        }


      }
    }
    .today-tomorrow-trigger {
      background: #F00;
      width: 20px;
      height: 20px;
    }
    .wishes-input-trigger {
      position: relative;
      .wishes-list-wrapper {
        position: absolute;
        background: #FFF;
        right: 0;
        z-index: 2;
        padding: 5px 10px;
        text-align: right;
        width: 445px;

        border: 1px solid #E3E3E3;
        border-top: none;
        display: none;
        &.active {
          display: block;
        }
        span {
          font-size: 22px;
          margin-bottom: 10px;
          display: block;
          font-weight: 100;
        }
        ul {
          list-style: none;
          padding: 0;
          li {
            font-size: 16px;
            cursor: pointer;
            padding-right: 5px;
            &:hover {
              background: #C0C0C0;
            }
          }
        }

      }
    }
    .wish-list-new-trigger {
      position: relative;
      float: right;
      &:before {
        content:' ';
        background: url("/tpl/images/order-form/iconmonstr-menu-2-icon-16-1.png") center center no-repeat;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -40px;
        right: 1px;
        cursor: pointer;
      }
    }







  }
  .call-me-back {

    &-wrapper {
      padding: 30px 50px;
      overflow: hidden;
      a {
        color: #000000;
      }
    }
    &-title {
      font-family: $font-family-serif;
      font-size: 44px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    &-description {
      font-family: $font-family-futuralight;
      font-size: 18px;
      margin-bottom: 20px;
      span {
        font-family: $font-family-futurareg;
        font-weight: 500;
      }
    }
    &-phone-button-wrapper {
      padding-left: 110px;
      padding-right: 24px;
      margin-right: 38px;
      background: white url("img/call-me-back-phone-button-bg.jpg") left center no-repeat;
      height: 82px;
      float: left;
      font-family: $font-family-sans-serif;
      .text-phone-to-call {
        font-size: 16px;
        padding: 18px 0;
        span {
          font-weight: 600;
        }
      }
    }
    &-phone-field-wrapper {
      padding: 18px;
      overflow: hidden;
      background: white;
      height: 82px;
      font-family: $font-family-sans-serif;
      .text-phone-to-call {
        font-size: 16px;
        margin-right: 18px;
        float: left;
        margin-top: 2px;
        span {
          font-weight: 600;
        }
      }
      .call-back-field-wrap {
        margin-top: 4px;
        input {
          height: 38px !important;
          &[type="submit"] {
            text-transform: uppercase;
            font-size: 10px;
            font-family: $font-family-futurabold;
            font-weight: 600;
            letter-spacing: 1px;
          }

          &[type="text"] {
            float: left;
            width: 162px;
            margin-right: 10px;
            font-size: 16px;
            &::-webkit-input-placeholder {font-size: 16px;}
            &::-moz-placeholder          {font-size: 16px;}/* Firefox 19+ */
            &:-moz-placeholder           {font-size: 16px;}/* Firefox 18- */
            &:-ms-input-placeholder      {font-size: 16px;}
            &::-ms-input-placeholder      {font-size: 16px;}
          }
        }
      }

    }
  }

  &.floating-bron-form {
    width: 240px;
//    max-height: 600px;
    margin-top: 0;
    margin-bottom: 30px;
    z-index: 2;
    //margin-left: -8px;
    .modal-content {
      box-shadow: none;
      border: none;
      background: #f3f6f7;
      .modal-body {
        background: url("/tpl/images/news-order-form/free-form-logo.png") top right no-repeat;
        color: #000000;
        &.en-bg {
          background: url("/tpl/images/news-order-form/free-form-logo-en.png") top right no-repeat;
        }
        .phone {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 26px;
          overflow: hidden;
          .online-or-by-phone {
            font-family: $font-family-futuralight;
            font-weight: 700;
            color: #636272;
            font-size: 14px;
            float: right;
          }
          .header-phone-wrap {
            float: right;
            position: relative;
            height: 35px;
            padding-left: 35px;
            line-height: 35px;
            &:before {
              content: ' ';
              background: url("/tpl/images/news-order-form/form-phone.png") bottom left no-repeat;
              width: 33px;
              height: 31px;
            }
          }
        }
        #order_online {
          padding: 0;
          .title {
            font-family: $font-family-futurabold;
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
            color: #000000;
            text-align: left;
            margin-top: 0;
            margin-bottom: 3px;
          }
          label {
            font-size: 14px;
            font-family: $font-family-open-sans;
            font-weight: 700;
            text-transform: none;
          }
          .form-rest-name-wrap {
            text-align: left;
            margin-bottom: 20px;
            .in-rest-title {
              font-family: $font-family-futurareg;
              font-size: 18px;
            }
            .form-rest-name {
              font-family: $font-family-futurareg;
              border-bottom: 1px dashed;
              font-size: 18px;
              display: inline;
              margin-left: 5px;
            }
          }

          input {
            height: 48px;
            border: none;
            display: inline-block;
            border-radius: 3px;
            width: 100%;
            &:-moz-placeholder{
              font-size: 14px;
              font-family: $font-family-open-sans;
            }
            &::-moz-placeholder{
              font-size: 14px;
              font-family: $font-family-open-sans;
            }
            &:-ms-input-placeholder{
              font-size: 14px;
              font-family: $font-family-open-sans;
            }
            &::-ms-input-placeholder{
              font-size: 14px;
              font-family: $font-family-open-sans;
            }
            &::-webkit-input-placeholder{
              font-size: 14px;
              font-family: $font-family-open-sans;
            }

          }
          .form-group {
            width: 100%;
            //            overflow: hidden;
            .phone1 {
              width: 200px;
              padding-left: 20px;
              letter-spacing: 1px;
            }
            #date {
              width: 100%;
              margin: 0;
              box-shadow: none;
              background: url(/tpl/images/news-order-form/calendar-bg.png) 94% center no-repeat #fff;
            }
            .phone-label {
              margin-right: 8px;
            }
            .half-part-form-fields {
              float: left;
              width: 50%;
              label {
                width: 58px;
              }


            }
            .up-down {
              top: 0;
              left: 0;
              width: 100%;
              height: 48px;
              font-family: $font-family-sans-serif;
              font-size: 24px;
              line-height: 50px;
              background: white;
              a {
                text-align: center;
                color: #30c5f0 !important;
                font-weight: 700;
                text-decoration: none;
              }
              .up {
                width: 46px;
                height: 100%;
                float: right;
                border-left: 1px solid #f3f6f7;
              }
              .down {
                width: 46px;
                height: 100%;
                float: left;
                border-right: 1px solid #f3f6f7;
              }
            }
            #company {
              background: #fff;
              margin-left: 50px;
              box-sizing: content-box;
              padding: 0 8px;
              position: relative;
              z-index: 1;
              font-family: $font-family-open-sans;
              font-size: 14px;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
              text-align: right;
              float: left;
              padding-left: 0;
            }
            .guest-label-title {
              line-height: 47px;
              //margin-left: 10px;
              position: relative;
              z-index: 1;
              font-size: 14px;
              font-family: $font-family-open-sans;
              font-size: 14px;
            }
            .like-half-part-form-fields {
              label {
                width: 58px;
              }
              #time {
                text-align: center;
                letter-spacing: 1px;
              }
            }
          }
          .today-tomorrow-wrapper {
            .today-tomorrow {
              top: 0;
              left: 0;
              border-right: 1px solid #f1eeeb;
              .today-tomorrow-select {
                height: 48px;
                width: 152px;
                background: #ffffff url("/tpl/images/news-order-form/drop-down-date-arrow.png") 125px 20px no-repeat;
                font-size: 14px;
                font-family: $font-family-open-sans;
                padding-left: 20px;
                border-radius: 3px;
              }
            }
          }
          .wish-list-new-trigger {
            position: absolute;
            right: 0;
            top: 0;
            width: 46px;
            height: 100%;
            border-left: 1px solid #f1eeeb;
            &:before {
              background: url("/tpl/images/news-order-form/wishes-icon.png") center center no-repeat;
              top: 5px;
              right: 2px;
            }
          }
          .wishes-input-trigger {
            .wishes-list-wrapper {
              width: 100%;
            }
          }
          .we-will-get-you {
            font-family: $font-family-futurareg;
            font-size: 14px;
            text-align: center;
            margin-bottom: 10px;
          }
          .btn-nb {
            color: #ffffff;
            font-family: $font-family-futurabold;
            font-size: 14px;
            background: #30c5f0;
            border: none;
            border-radius: 3px;
            padding: 12px 10px;
            letter-spacing: 1px;
            &:hover {
              //background: #b373b5;
            }
          }
        }
      }
    }
  }
}


/*  NEW FREE FORM */
.new-free-form {
  &.en {
    &.modal {
      .modal-dialog {
        .modal-content {
          .modal-body {
            background: url("/tpl/images/order-form/free-form-logo-en.png") right top no-repeat;
          }
        }
      }
    }
  }
  &.modal {
    .modal-dialog {
      .bold-str {
        font-weight: 700;
      }
      .modal-content {
        box-shadow: none;
        border: none;
        font-family: $font-family-open-sans;
        .up-down {
          top: 25px;
          width: 37px;
          height: 44px;
        }
        .down {
          width: 100%;
          height: 22px;
        }
        .up {
          width: 38px;
          height: 22px;
        }
        .modal-close {
          top: -50px;
          right: 0;
          .close {
            font-size: 20px;
          }
        }

        .modal-body {
          background: url("/tpl/images/order-form/free-form-logo.png") right top no-repeat;

          #order_online {
            padding: 0 10px;

            .title {
              font-weight: 700;
              font-size: 36px;
              margin-bottom: 20px;
              display: inline-block;
              margin-top: 5px;
              font-family: $font-family-italic-font;
            }
            .online-and-by-phone-str {
              position: relative;
              padding-left: 40px;
              float: right;
              margin-right: 50px;
              text-align: right;
              &:before {
                content: ' ';
                background: url("/tpl/images/order-form/call-phone-free-bg.png") no-repeat;
                position: absolute;
                left: 0;
                top: 10px;
                width: 33px;
                height: 31px;
              }
              span {
                font-size: 12px;
                &.phone {
                  font-family: $font-family-italic-font;
                  font-size: 20px;
                  font-weight: 700;
                }
              }
            }

            input {
              height: 46px;
              box-shadow: none;
            }
            label {
              font-family: $font-family-open-sans;
              font-weight: 800;
              font-size: 12px;
            }
            .form-group {
              margin-bottom: 7px;
              #date {
                background: url("/tpl/images/order-form/calendar-free-form-logo.png") right center no-repeat #fff;
                width: 320px;
              }
              #company {
                background: url("/tpl/images/order-form/arrows.png") right center no-repeat #fff;
                width: 120px;
              }
              #name {
                width: 280px;
              }
              &.end {
                margin-bottom: 0;
              }
              .submit-free-order-form-trigger {
                font-weight: 800;
                font-size: 20px;
                letter-spacing: 1px;
                width: 100%;
                font-family: $font-family-open-sans;
                padding: 12px;
              }
            }
            .today-tomorrow-wrapper {
              .datepicker {
                margin-top: 0;
              }
              .today-tomorrow {
                left: 1px;
                top: 25px;
                .today-tomorrow-select {
                  font-family: $font-family-open-sans;
                  font-size: 14px;
                  background: #ffffff url("/tpl/images/order-form/select-dropdown-bg.png") 245px 18px no-repeat;
                  width: 271px;
                  height: 44px;
                }
              }
            }
            .wish-list-new-trigger{
              &:before {
                background: url("/tpl/images/order-form/wishlist-select-icon.png") center center no-repeat;
                width: 46px;
                height: 46px;
                top: -46px;
                right: 0;
              }
            }
            .phone-code-wrapper {
              margin-right: 10px;
              font-size: 12px;
              padding-left: 0;
              font-weight: 700;
              margin-top: 16px;
              &:before {
                display: none;
              }
            }

            .right_column {
              .times {
                .time {
                  width: 61px;
                  height: 37px;
                  margin-right: 15px;
                  margin-bottom: 18px;
                  &.end {
                    margin-bottom: 0;
                  }
                }
              }
            }
            .wishes-input-trigger {
              .wishes-list-wrapper {
                width: 100%;
              }
            }

            .tooltip {
              opacity: 1;
              padding-top: 14px;
              .tooltip-arrow {
                width: 30px;
                height: 30px;
                border: none;
                background: url("/tpl/images/order-form/tooltip-arrow.png") no-repeat;
                margin-left: -15px;
              }
              .tooltip-inner {
                color: #000000;
                padding: 20px;
                background: white;
                border: 1px solid #dde4e6;
                border-radius: 10px;
                width: 226px;
                box-shadow: 7px 7px rgba(154, 154, 154, 0.3);
                box-sizing: content-box;
                .tooltip-content-title {
                  font-family: $font-family-italic-font;
                  font-weight: 700;
                  font-size: 22px;
                  display: block;
                  margin-bottom: 12px;
                }
                .tooltip-content-text {
                  font-family: $font-family-open-sans;
                  font-size: 12px;
                  display: block;
                  text-align: center;
                  color: #575f62;
                }
              }
            }

            &.banket-order-form {

              .right_column {
                width: 480px;
              }
              .form-group {
                margin-bottom: 25px;
                &.end {
                  margin-bottom: 0;
                }

                .submit-free-order-form-trigger {
                  margin-bottom: 7px;
                }
                #date {
                  width: 178px;
                }
                #budget {
                  width: 116px;
                  margin-right: 0px;
                }
                #name {
                  margin-right: 0;
                  width: 140px;
                }
                .phone1 {
                  margin-right: 0;
                }
                #email {
                  width: 136px;
                }
              }
              &.rga-urm-banket-form {
                .phone1 {
                  &:focus {
                    border: 1px solid #30c5f0;
                  }
                }
              }
              .today-tomorrow-wrapper {

                .today-tomorrow {
                  .today-tomorrow-select {
                    width: 129px;
                  }
                }
              }
              .form-check-label {
                text-transform: none;
                display: inline-block;
                font-size: 12px;
                font-weight: 700;
                float: none;
                width: 80px;
                line-height: 13px;
                margin-top: 32px;
                margin-left: 10px;
              }
              .order-form-check {
                display: inline-block;
                background: url("/tpl/images/order-form/order-form-check-bg.png") 0 0 no-repeat;
                width: 26px;
                height: 26px;
                cursor: pointer;
                float: left;
                margin-top: 34px;
                &.active {
                  background-position: 0 26px;
                }
              }
//              &.rga-urm-order-form {
//                .phone1 {
//                  margin-right: 114px;
//                }
//                .form-group {
//                  #date {
//                    width: 177px;
//                  }
//                }
//              }
            }
            &.rga-urm-order-form {

              .phone1 {
                &:focus {
                  border: 1px solid #30c5f0;
                }
              }
              .form-group {
                #name {
                  width: 243px !important;
                  color: #000000;
                  margin-right: 0;
                }
              }
              .left_column {
                .pull-left{
                  &.end {
                    width: auto;
                    input {
                      width: auto !important;
                    }
                  }
                }
                .pull-right {
                  &.end {
                    width: auto;
                    margin-top: 0;
                  }
                }
              }
              .right_column {
                .times {
                  .time {
                    &.end {
                      margin-bottom: 0;
                    }
                  }
                }
              }

            }
          }
        }

      }

    }
  }
}

#a_block_win {
  .modal-dialog {
    width: 444px;
    .modal-content {
      background: transparent url("img/a-block-bg0.png") no-repeat;
      box-shadow: none;
      border: none;
      height: 444px;
      .modal-close {
        .close {
          color: #30c5f0;
          text-shadow: none;
          font-size: 27px;
          font-weight: 100;
        }
      }

      .modal-body {
        font-family: $font-family-futurareg;
        font-size: 18px;
        text-align: center;
        padding: 0;
        .a_b_text {
          position: absolute;
          width: 100%;
          top: 120px;
          color: white;
        }
        strong {
          font-family: $font-family-futurabold;
          &:last-child {
            font-size: 36px;
            text-transform: uppercase;
          }
        }
      }
    }
//
  }
}

body {
  &.gis-form {
    margin:0;
    overflow: hidden;
  }
  .modal-dialog {
    &.gis-widget {
      margin: 0;
      #order_online {
        .today-tomorrow-select {
          width: 124px !important;
        }
      }
    }
  }
}
