.container {
  .navigation_temp {
    display: none;
  }
  .navigation {
    position: relative;
    text-align: center;
    font-size: 21px;
    height: 67px;
    line-height: 65px;
//    margin-bottom: 40px;
    margin-bottom: 0;
    margin-top: 20px;
    .js-restaurant-list-more-wrap {
      height: 55px;
      margin-top: -55px;
      width: 100%;
      float: left;

      .js-restaurant-list-more {
//        clear: both;
//        display: inline-block;
//        overflow: hidden;
//        border-bottom: 1px dashed;
//        height: 44px;
//        font-family: $font-family-futurabold;
//        font-size: 18px;
//        text-decoration: none;
//        cursor: pointer;
        clear: both;
        display: inline-block;
        overflow: hidden;
        border-bottom: 1px dashed;
        height: 30px;
        font-family: $font-family-futurabold;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
        line-height: 32px;
        margin-bottom: 7px;
      }
      .on-map-square-filter-button {
        display: inline-block;
        padding: 6px 20px;
        border: 1px solid #30c5f0;
        font-family: $font-family-futurabold;
        font-size: 18px;
        text-decoration: none;
        line-height: 31px;
        height: 44px;
        margin-left: 30px;
        overflow: hidden;
        &:before {
          background: url("img/search-filter-marker.png") center center no-repeat;
          content: '';
          float: left;
          display: block;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          margin-top: 4px;
        }
      }
    }

    &.no-map-link {
      margin-top: 40px !important;
      .js-restaurant-list-more-wrap {
        height: 44px;
        margin-top: -44px;
      }
    }

    .prev {
      position: absolute;
      top: 22px;
      left: 0;
      &:hover {
        text-decoration: none;
      }
    }
    .next {
      position: absolute;
      top: 22px;
      right: 0;
      text-align: right;
      &:hover {
        text-decoration: none;
      }
    }
    .pages {
      display: inline-block;
      margin: 0 auto;
      min-width: 400px;
      font-family: $font-family-futurareg;
      .current {
        letter-spacing: .5px;
        padding: 0;
        color: $color_pewter_approx;
      }
      a {
        padding: 0 8px;
        &:hover {
          text-decoration: none;
          color: $restoran-cyan;
        }
      }
    }
    @include clearfix;
    .prev:hover:before {
      color: $restoran-cyan;
    }
    .next:hover:before {
      color: $restoran-cyan;
    }
  }
}