.container .content {
  .more_links {
    .news-viewed-counter-wrapper {
      float: left;
      font-size: 11px;
      margin-left: 25px;
      margin-top: 2px;

      &:before {
        content: ' ';
        background: url("img/index-one-main-news-viewed-counter.png") no-repeat;
        width: 15px;
        height: 9px;
        display: inline-block;
        margin-right: 5px;
      }
    }
  }

  .search-by-params-title {
    font-size: 21px;
    margin: 10px 0;
    font-style: italic;
//    color:#30c5f0;
    color: #209fcc;
    font-family: $font-family-italic-font;
  }
  .group-params-wrapper {
    font-size: 16px;
    margin-bottom: 14px;
    &:last-child {
      margin-bottom: 30px;
    }
  }
  .group-param-title {
    span {
      font-weight: 600;
    }
  }
}
.container .content .news-list {
  @include clearfix;
  .item {
    margin-right: 16px;
    margin-bottom: 10px;
    padding: 10px 0;
    padding-bottom: 20px;
    width: 232px;
    &.end {
      margin-right: 0;
    }
    .pic {
      width: 232px;
      height: 131px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .text {
      position: relative;
      width: 232px;
      line-height: 18px;
      .date {
        font-size: 12px;
        margin-bottom: 10px;
      }
      .restoran-name {
        color: $restoran-cyan;
        font-family: $font-family-futurabold;
        font-size: 12px;
      }
      .ratio {
        font-size: 10px;
        color: $restoran-cyan;
        margin-bottom: 0;
      }
      h2 {
        font-family: $font-family-serif;
        font-size: 18px;
        font-weight: 900;
        line-height: 24px;
        margin-top: 10px;
      }
      .f12 {
        font-size: 12px;
      }
    }
    .more_links {
      margin-top: 20px;
      .comments_link {
        font-family: $font-family-futurabold;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-size: 10px;
        margin-bottom: 0;
        line-height: 20px;
        a {
          font-size: 10px;
          color: $restoran-cyan;
          text-decoration: none;
        }
      }
      i a {
        color: $restoran-cyan;
        font-family: $font-family-italic-font;
      }
      a.serif {
        font-family: $font-family-italic-font;
        font-style: italic;
        border-bottom: 1px solid $black;
        margin-bottom: 10px;
        &:hover {
          text-decoration: none;
          border-bottom: none;
        }
      }


    }
  }
  .item_big {
    padding: 10px 0;
    padding-bottom: 20px;
    width: 728px;
    margin-bottom: 10px;
    .pic_big {
      width: 370px;
      height: 240px;
      overflow: hidden;
      float: left;
      margin-right: 30px;
      img {
        width: 100%;
      }
    }
    .text_big {
      float: left;
      position: relative;
      height: 240px;
      padding-bottom: 60px;
      width: 328px!important;
      .date {
        font-size: 12px;
        margin-bottom: 10px;
      }
      .restoran-name {
        color: $restoran-cyan;
        font-family: $font-family-futurabold;
        font-size: 12px;
      }
      .ratio {
        font-size: 10px;
        color: $restoran-cyan;
        margin-bottom: 0;
      }
      h2 {
        font-family: $font-family-serif;
        font-size: 18px;
        font-weight: 900;
        line-height: 24px;
        margin-top: 10px;
      }
      .f12 {
        font-size: 12px;
      }
    }
  }
  .dots {
    margin-bottom: 10px;
  }
  + .navigation {
    margin-right: -240px;
  }
}