.page-header {
  position: relative;
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .pull-left {
    width: 740px;
  }
  // end .pull-left
  .logo {
    position: relative;
    &.in-detail-photos {
      float: right;
      position: relative;
    }
  }
  // end .logo
  .special_links {
    position: absolute;
    top:0;
    right: 0;
  }
  // end .special_links
  #city_select {
    position: absolute;
    top: 57px;
    left: 129px;
    min-width: 100px;
    letter-spacing: 0.009em;
    a {
      font-size: 11px;
      font-family: $font-family-italic-font;
      font-style: italic;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        border-bottom: 1px dashed $black;
      }
    }

    ul {
      left: -60px;

      a {
        border: none;
        font-style: normal;
        font-family: $font-family-sans-serif;
        font-size: 14px;
        padding: 0px;
        text-align: center;
        line-height: 32px;
        border-bottom: none;
        &:hover {
          border-bottom: none;
        }
        sup {
          color: $restoran-cyan;
          text-transform: uppercase;
          font-size: 8px;
          font-weight: 800;
        }
      }
    }
  }
  // end #city_select
  .dropdown-menu {
    margin-top: 0px;
    border-color: #eaeced;
    min-width: 210px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.075);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.075);
    &:before {
      content: '\25BE';
      position: absolute;
      width: 12px;
      height: 12px;
      left: 50%;
      top: 0px;
      margin-left: -8px;
      -webkit-text-shadow: 0px 1px 1px #bfbfbf;
      -moz-text-shadow: 0px 1px 1px #bfbfbf;
      text-shadow: 0px 1px 1px #bfbfbf;
      color: $white;
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
      font-size: 18px;
    }
    a {
      -webkit-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.075);
      -moz-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.075);
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.075);
    }
  }
  // end .dropdown-menu
  .phone {
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 7px;
    text-align: right;
    a {
      &:hover {
        text-decoration: none;
      }
    }
    &:before {
      content: ' ';
      background: url('/tpl/images/book-phone.jpg');
      width: 18px;
      height: 18px;
      display: inline-block;
      margin-top: 13px;
      float: left;
    }
  }
  // end .phone
  #main_menu {
    margin-left: -15px;
    margin-top: 6px;
    &:after {
      content: '';
      display: block;
      clear: both;
    }

    a {
      font-family: $font-family-serif;
      font-size: 22px;
      font-weight: bold;
      padding: 10px 15px;
      &:hover {
        background: none;
        opacity: .8;
      }
    }

    .open {
      a {
        background: none;
      }
    }

    .navbar-nav {
      > li {
            float: none;
            display: inline-block;
          }
    }

    ul {
      ul {
        left: -20px;
        z-index: 1000;
        a {
          font-family: $font-family-sans-serif;
          font-size: 14px;
          padding: 0px;
          text-align: center;
          line-height: 32px;
          font-weight: normal;
          opacity: 1;
          &:hover {
            background-color: #eee;
          } 
        }
      }
    }
    .dropdown {
      &:hover {
        .dropdown-menu {
          display: block;
        }
      }
    }
  }
  // end #main_menu
  .right_links {
    text-align: right;
    min-width: 176px;
    padding-top: 2px;
    a {
      line-height: 24px;
      font-size: 12px;
    }
    .dropdown-menu {
      a {
        font-size: 14px;
      }
    }
  }
  // end .right_links
  .order_link {
    font-size: 12px;
    text-transform: uppercase;
    font-family: $font-family-futurabold;
    text-align: right;
    letter-spacing: .5px;
    a {
      color: $restoran-cyan;
      font-size: 100%;
      text-transform: uppercase;
      font-family: $font-family-futurabold;
      &:hover {
        text-decoration: none;
        span {
          &:first-child {
            text-decoration: underline;
          }
          &:last-child {
            text-decoration: none;
          }
        }
      }
      span:last-child {
        color: $black;
      }
    }
  }
  .header-auth {
    position: absolute;
    margin-top: 0;
    margin-left: -20px;
    width: 140px;
    height: 28px;
    @include clearfix;
    .avatar {
      width: 36px;
      height: 36px;
      //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
      border-radius: 18px;
      margin-right: 10px;
      float: left;
      img {
        width: 48px;
        height: 48px;
      }
    }
    .left {
      float: left;
      a {
        cursor: pointer;
        &:hover {
          text-decoration: none;
          color: $restoran-cyan;
        }
        .caret {
          margin-top: -2px;
        }
      }
    }
  }
  .special_links .link {
    margin: 0 20px;
    font-family: $font-family-futurabold;
    font-size: 10px;
    text-transform: uppercase;
    max-width: 182px;
    display: inline-block;
    letter-spacing: .5px;
    padding-top: 18px;
    &:first-child {
      margin-right: 40px;
    }
    &:hover {
      text-decoration: none;
    }
    img {
      float: left;
      margin-top: -18px;
      margin-right: 20px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}