//@extend-elements
%minus-b {
  display: block;
  font-family: $font-family-futurabold;
  text-transform: uppercase;
  font-size: 10px;
}

.content {
  .detail-review {
    .reviews-list {
      .item {
        padding-bottom: 10px;
      }
    }
  }
}

.content .reviews-list {
  margin: 0 0 10px 0;
  background-position: left top;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .review-str {
    border-bottom: 3px solid black;
    margin: 20px 0;
  }
  .item {
    padding: 20px 0;
    border-bottom: 3px solid $black;

    .famous-review-left-side {
      float: left;
      width: 200px;
      margin-right: 50px;
      background: url("img/famous-review-bg.png") 90% 57% no-repeat;
      img {
        border-radius: 65px;
      }
      .famous-detail-name {
        font-size: 24px;
        font-family: $font-family-serif;
        font-weight: 900;
        width: 150px;
        margin-top: 15px;
        margin-bottom: 10px;
      }
      .famous-detail-about {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 6px;
        line-height: 20px;
        margin-bottom: 10px;
      }
      .famous-detail-photo-source {
        font-style: italic;
        font-size: 11px;
        color: #a8afb1;
      }
    }
    .detail_article {
      &.famous-review-restoran-link {
        &>a {
          float: left;
          margin-right: 10px;
        }
        & > h2 {
          padding: 0;
          line-height: 23px;
          margin-bottom: 10px;
          overflow: hidden;
          display: block;
          font-family: $font-family-serif;
          font-size: 18px;
        }
      }
    }

    &:last-child {
      border: 0;
    }
    h2 {
      display: inline;
      font-family: $font-family-futurareg;
      font-size: 24px;
      padding-right: 20px;
      margin-top: 10px;
      line-height: 36px;
    }
    p {
      margin-bottom: 15px;
    }
    .name_ratio {
      line-height: 34px;
      display: inline;
      margin-top: 10px;
      color: $restoran-cyan;
    }
    .rest_name {
      float: left;
      width: 240px;
      margin-bottom: 10px;
      .all_rest_reviews {
        font-family: $font-family-italic-font;
        font-style: italic;
        text-decoration: underline;
        line-height: 32px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .author {
      float: left;
      width: 240px;
      margin-top: 12px;
      overflow: hidden;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      .date {
        margin-top: 15px;
      }
      .avatar {
        float: left;
        width: 66px;
        margin-right: 20px;
      }
      .ratio {
        font-size: 12px;
        color: $restoran-cyan;
      }
    }
    .attachments {
      float: right;
      width: 240px;
      text-align: right;
      margin-top: 20px;
      div {
        display: inline-block;
        margin: 0 20px;
      }
    }
    .plus {
      width: 352px;
      float: left;
      b {
        @extend %minus-b;
      }
    }
    .minus {
      width: 352px;
      float: right;
      b {
        @extend %minus-b;
      }
    }
    .review_atachment {
      background: $restoran-haze-approx;
      padding: 10px;
      padding-bottom: 7px;
      margin: 10px 0;
      .pic {
        display: inline-block;
        width: 137px;
        height: 124px;
        overflow: hidden;
        margin-left: 2px;
        img {
          width: 100%;
          height: 100%;
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .answer_link {
      font-family: $font-family-futurabold;
      font-size: 10px;
      text-transform: uppercase;
      span {
        color: $restoran-cyan;
      }
    }
    .counter-inf-wrapper {
      display: inline-block;
      height: 13px;
      .news-viewed-counter-wrapper {
        float: left;
        font-size: 11px;
        margin-left: 10px;
        margin-top: 2px;

        &:before {
          content: ' ';
          background: url("img/index-one-main-news-viewed-counter.png") no-repeat;
          width: 15px;
          height: 9px;
          display: inline-block;
          margin-right: 5px;
        }
      }
    }

  }
  .hr {
    margin: 20px 0;
  }
}