.selectize-dropdown {
  z-index: 10000 !important;
}
.dropdown-subway-wrapper {
  font-family: $font-family-sans-serif;
}
.selectize-input {
  &.items {
    .item {
      &:after {
        content: '\2715';
        display: inline-block;
        font-size: 12px;
        font-family: $font-family-futurabold;
        margin-left: 5px;
        float: right;
        margin-top: 0px;
      }
    }
  }
  > input {
    font-weight: bold;
    &::-webkit-input-placeholder {
      color: $black;
    }
  }
  &::after {
    content: ' ';
    display: inline-block !important;
    clear: left;
    border-top: 3px solid;
    border-right: 3px solid rgba(0, 0, 0, 0);
    border-left: 3px solid rgba(0, 0, 0, 0);
    margin-bottom: 2px;
    margin-left: 0px;
  }
}

.city-link-list-col-wrapper {
  float: left;
  width: 196px;
}