.user-mail {
  line-height: 18px;
  background: url('/bitrix/templates/main/components/bitrix/socialnetwork.user_friends/user_friends_list/images/user-friend-mail.gif') 0 3px no-repeat;
  a {
    color: #1A1A1A!important;
    text-decoration: none;
    margin-left: 24px;
    font-size: 12px;
  }
}
#user_info {
  width: 728px;
  .scores {
    background: url(/tpl/images/dotted_border.png) left top no-repeat;
    margin: 0 auto;
    width: 130px;
    span {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .subscr {
    padding: 0;
    margin: 0;
    margin-left: 52px;
    margin-bottom: 20px;
    li {
      display: inline-block;
      width: 325px;
      line-height: 32px;
      list-style-type: none;
      .del {
        background: url(/tpl/images/del.png) left center no-repeat;
        width: 17px;
        height: 28px;
        float: left;
        padding-right: 10px;
        cursor: pointer;
      }
    }
  }
  .actions {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      line-height: 28px;
      &.del {
        background: url(/tpl/images/del.png) left center no-repeat;
        height: 26px;
        padding-left: 22px;
        cursor: pointer;
      }
      &.retry {
        background: url(/tpl/images/retry.png) left center no-repeat;
        height: 26px;
        padding-left: 22px;
        cursor: pointer;
      }
    }
  }
  div.userpic {
    width: 150px;
    height: 150px;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 75px;
    overflow: hidden;
    behavior: url(/tpl/PIE.php);
    margin-bottom: 20px;
    img {
      margin-left: -5px;
    }
  }
  .user_params td {
    font-size: 14px;
    padding: 6px 0;
    &.name {
      width: 107px;
      vertical-align: top;
    }
    &.value {
      padding-left: 40px;
      vertical-align: top;
    }
  }
  .my_bron th {
    background: $concrete;
    height: 35px;
  }
}
#user_profile table td {
  padding: 6px 0;
}