$restoran-gray-approx: #3b414e;
$white: #fff;
$black: #000000;
$restoran-haze-approx: #f3f6f7;
$restoran-cyan: #30c5f0;
// Don't use this color
$restoran-cyan2: #24a6cf;
$restoran-cyan3: #22a7cf;

$color_iron_approx: #d8d8d8;
$color_gallery_approx: #eeeeee;
$concrete: #f2f2f2;
$color_gravel_approx: #494a4b;
$color_rangoon_green_approx: #1a1a1a;
$color_ironside_gray_approx: #666767;
$color_pewter_approx: #94a0a5;
$color_scarpa_flow_approx: #52595c;
$color_black_haze_approx: #f3f6f7;
$color_porcelain_approx: #f0f4f5;
$color_mercury_approx: #e3e3e3;
$color_bon_jour_approx: #e0e0e0;
$color_alabaster_approx: #f9f9f9;
$color_pumice_approx: #c0c5c7;
$color_storm_dust_approx: #666666;
$color_alto_approx: #ddd;
$color_mystic_approx: #e6eaeb;
$color_bright_gray_approx: #3b414e;
$color_outer_space_approx: #2d323b;
$blue_font_style: #30c5f0;



$font-family-serif: 'Playfair Display', serif;
$font-family-futurabold: 'futurafuturiscbold';
$font-family-futurareg: 'futurafuturiscregular';
$font-family-futuralight: 'futurafuturislightcregular';
$font-family-sans-serif: 'Pt Sans', Helvetica, Arial, sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-italic-font: 'PT Serif', serif;
$font-family-arial: Arial;
