div.bx-auth-reg input.bx-auth-input {vertical-align:middle;}
div.bx-auth-reg span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-reg div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-reg div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}

.rest_form_fields {
    display: none;
}
.register_form
{
    font-size:14px;
}
.register_form .question a
{
    color:#1a1a1a;
    text-decoration:none;
}
.register_form .question a.active
{
    color:#24A6CF;
    text-decoration:none;
}
.register_form .question
{
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 24px;
}
.register_form .placeholder
{
    border:0px; 
    background:none; 
    height:26px;
    padding:0px 10px; 
    font-size:16px; 
    outline: none; 
    font-style: italic; 
    /*width:346px;*/
    border:5px solid #e6e6e6;
    box-shadow:none;
}
#link_agreement
{
    color:#24A6CF;
    text-decoration:underline;
    font-size:14px;
}
#link_agreement:hover
{
    color:#24A6CF;
    text-decoration:none;
}
input.disabled
{
    opacity:0.2;
}
.starrequired
{
    color:red;
}

.nickError-block {
    position: relative;
    display: none;
}

.nickError {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #696F7B 0%, #30353F 60%) repeat scroll 0 0 transparent;
    border-color: #8A8F99 #8A8F99 #30353F;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    text-shadow: 1px 1px 1px #314152;
    position: absolute;
    height: 32px;
    width: 200px;
    margin-left: 160px;
    top: 24px;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: appetite;
    font-size: 14px;
    padding-top: 4px;
    text-align: center;
    text-decoration: none;
 
}
#reloadCaptcha {
    position: absolute;
    margin-top: 45px;
    left: 30px;
    font-size:12px;
    border-bottom:1px dashed #24A6CF;
    color:#24A6CF;
    line-height: 14px;
}