
.cap-overlay {
    /*background: url("img/overlay-bg.png");*/
    background: #0C0C0C;
    /*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0C0C0C', endColorstr='#0C0C0C'); *//* IE */
    position: fixed;
    height: 100%;
    display: block;
    z-index: 1000;
    width: 100%;
    top: 0;
    display: none;
}
.cap-wrapper img {
    border: 0;
}
.cap-wrapper {

    position: fixed;
    top: 50%;
    margin-top: -330px;
    z-index: 1001;
    width: 900px;
    left: 50%;
    margin-left: -450px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 135px;
    /*background: #0C0C0C url("img/cap-grama.png") center 10px no-repeat;*/
    background: #0C0C0C url("img/cap-grama.png") center 10px no-repeat;
    color: #FFF;
    height: 700px;
    display: none;
}
.cap-top-title {
    font-size: 31px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: 10px;
}
.cap-text-about {
    font-size: 16px;
    text-align: center;
    margin-bottom: 115px;
    color: #5B5B5B;
    letter-spacing: 5px;
    line-height: 30px;
}
.browser-icons-wrapper {
    width: 350px;
    margin: 0 auto;
    height: 110px;
    margin-bottom: 85px;
}
.cap-company-logo {
    background: url("img/cap-restoran-logo.jpg") center center no-repeat;
    height: 53px;

}
.browser-icons-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.browser-icons-wrapper ul li {
    float: left;
    height: 59px;
    width: 55px;
    text-align: center;
    margin-right: 42px;
}
.browser-icons-wrapper ul li:last-child {
    margin-right: 0;
}
.browser-icons-wrapper ul li:first-child+*+*+* {
    margin-right: 0;
}
.browser-icons-wrapper ul li a {
    display: block;
    padding-top: 40px;
    color: transparent;
}
.browser-icons-wrapper ul li:hover {
    margin-top: -14px;
}
.browser-icons-wrapper ul li:hover a {
    color: white;
    height: 59px;
    width: 55px;
    padding-top: 80px;
    text-transform: uppercase;
    font-size: 12px;
}
.browser-icons-wrapper ul li a:hover {
    text-decoration: none;
}

/*.browser-icons-wrapper li:nth-child(1) a {*/
    /*background: url("img/safari-cap-logo.png") top center no-repeat;*/
    /*height: 35px;*/
/*}*/
/*.browser-icons-wrapper li:nth-child(2) a {*/
    /*background: url("img/ff-cap-logo.png") top center no-repeat;*/
    /*height: 35px;*/
/*}*/
/*.browser-icons-wrapper li:nth-child(3) a {*/
    /*background: url("img/opera-cap-logo.png") top center no-repeat;*/
    /*height: 35px;*/
/*}*/
/*.browser-icons-wrapper li:nth-child(4) a {*/
    /*background: url("img/chrome-cap-logo.png") top center no-repeat;*/
    /*height: 35px;*/
/*}*/

.browser-icons-wrapper li:first-child a {
    background: url("img/safari-cap-logo.png") top center no-repeat;
    height: 35px;
}
.browser-icons-wrapper li:first-child + * a {
    background: url("img/ff-cap-logo.png") top center no-repeat;
    height: 35px;
}
.browser-icons-wrapper li:first-child + * + * a {
    background: url("img/opera-cap-logo.png") top center no-repeat;
    height: 35px;
}
.browser-icons-wrapper li:first-child + * + * + * a {
    background: url("img/chrome-cap-logo.png") top center no-repeat;
    height: 35px;
}


/*5 и 6й*/
.browser-icons-wrapper li.firstChild a {
    background: url("img/safari-cap-logo.png") top center no-repeat;
    height: 35px;
}
.browser-icons-wrapper li.firstChild + li a {
    background: url("img/ff-cap-logo.png") top center no-repeat;
    height: 35px;
}
.browser-icons-wrapper li.firstChild + li + li a {
    background: url("img/opera-cap-logo.png") top center no-repeat;
    height: 35px;
}
.browser-icons-wrapper li.firstChild + li + li + li a {
    background: url("img/chrome-cap-logo.png") top center no-repeat;
    height: 35px;
}




/*.browser-icons-wrapper li:nth-child(1):hover a {*/
    /*background: url("img/big-safari-cap-logo.png") top center no-repeat;*/
/*}*/
/*.browser-icons-wrapper li:nth-child(2):hover a {*/
    /*background: url("img/big-ff-cap-logo.png") top center no-repeat;*/
/*}*/
/*.browser-icons-wrapper li:nth-child(3):hover a {*/
    /*background: url("img/big-opera-cap-logo.png") top center no-repeat;*/
/*}*/
/*.browser-icons-wrapper li:nth-child(4):hover a {*/
    /*background: url("img/big-chrome-cap-logo.png") top center no-repeat;*/
/*}*/

.browser-icons-wrapper li:first-child:hover a {
    background: url("img/big-safari-cap-logo.png") top center no-repeat;
}
.browser-icons-wrapper li:first-child+*:hover a {
    background: url("img/big-ff-cap-logo.png") top center no-repeat;
}
.browser-icons-wrapper li:first-child+*+*:hover a {
    background: url("img/big-opera-cap-logo.png") top center no-repeat;
}
.browser-icons-wrapper li:first-child+*+*+*:hover a {
    background: url("img/big-chrome-cap-logo.png") top center no-repeat;
}

