@import "restoran/mixins";
@import "restoran/varibles";
@import "restoran/fonts";
@import "restoran/icon";  
@import "restoran/scafolding";
@import "restoran/container";
@import "restoran/page-header";
@import "restoran/priority-list";
@import "restoran/reviews-list";
@import "restoran/comments-list";
@import "restoran/detail-article";
@import "restoran/news-list";
@import "restoran/menu-menu";
@import "restoran/extended-filter";
@import "restoran/restoran-list";
@import "restoran/left-side";
@import "restoran/right-side";
@import "restoran/tab-content";
@import "restoran/rest-news-cont";
@import "restoran/filter-box";
@import "restoran/content";
@import "restoran/restoran-detail";
@import "restoran/footer";
@import "restoran/navigation";
@import "restoran/modal-dialog";
@import "restoran/datapicker";
@import "restoran/map-ballon";
@import "restoran/carousel-contacts";
@import "restoran/menu-horizontal-long";
@import "restoran/left-menu-tabs";
@import "restoran/user";


.scores {
  background: url(/tpl/images/dotted_border.png) left top no-repeat;
  margin: 0 auto;
  width: 130px;
  padding-top: 10px;
  height: 80px;
  span {
    font-size: 24px;
  }
}

#restorator_menu {
  padding: 0;
  margin: 0;
  height: 40px;
  li {
    display: inline;
    margin-right: 30px;
    a {
      color: $restoran-cyan;
      text-decoration: none;
      font-size: 16px;
    }
    &.active a {
      color: $black;
      text-decoration: none;
      font-size: 16px;
    }
  }
}

#system_loading {
  position: fixed;
  display: none;
  right: 10px;
  top: 10px;
  z-index: 99999;
  background: #0d0d0d;
  border: 1px solid #333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.8;
  padding: 10px;
  line-height: 32px;
  font-family: $font-family-futurabold;
  font-size: 18px;
  color: $white;
  text-indent: 15px;
}
#yandex_direct {
  font-size: 11px;
}

.modal-backdrop {
  background-color: $white;
}
.inv_cph {
  display: none;
}
.modal_vk {
  display: none;
}
.pointer {
  cursor: pointer;
}

input.inputtext {
  background: $white;
  border: 0px;
  box-shadow: inset 0px 1px 3px #666;
  -webkit-box-shadow: inset 0px 1px 3px #666;
  -moz-box-shadow: inset 0px 1px 3px #666;
  behavior: url(/tpl/PIE.php);
  position: relative;
  height: 28px;
  line-height: 28px;
  padding: 0px 10px;
}
.register_form .form-group a.active {
  color: $restoran-cyan;
  text-decoration: none;
}
.register_form .form-group table td {
  padding: 5px;
}
.plan-1,
.plan-2,
.plan-3,
.plan-4 {
  float: left;
  width: 210px;
  padding-right: 20px;
}
.plans {
  overflow: hidden;
}
.plans .upcase-premium {
  font: 28px Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  background: url(/tpl/images/mini_logo.png) center top no-repeat;
  padding-top: 10px;
}
.plans .upcase-premium:first-letter {
  font: 48px Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
}
.plan-desc {
  font: 30px Georgia, "Times New Roman", Times, serif;
}
.plans p.plan-desc {
  font: 30px Georgia, "Times New Roman", Times, serif;
}
.plans p {
  font-size: 16px;
}
.plans li {
  font-family: 'PT Serif', serif;
  margin-bottom: 0px;
  font-style: italic;
}
p.plan-desc i {
  font: italic 12px Georgia, "Times New Roman", Times, serif;
  font-family: 'PT Serif', serif;
}
p.plan-desc {
  overflow: hidden;
}
.plans p.plan-desc i {
  font: italic 12px Georgia, "Times New Roman", Times, serif;
  font-family: 'PT Serif', serif;
}
.plans p.plan-desc {
  overflow: hidden;
}
.plan-desc form .submit-blue {
  float: none;
  background: url(/content/personal/restaurateur/images/blue-plus.png) 12px 50% no-repeat $restoran-cyan;
  padding-left: 28px;
}
.plan-desc-ul {
  font-size: 12px;
}
.plan-desc-ul strong {
  font: 20px Georgia, "Times New Roman", Times, serif;
}
.plan {
  margin-bottom: 60px;
}
.plans ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin-bottom: 20px;
}
#calroot {
  z-index: 10000;
  margin-top: -1px;
  width: 202px;
  padding: 2px;
  background-color: $white;
  font-size: 11px;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 15px #666;
  -webkit-box-shadow: 0 0 15px #666666;
}
#calhead {
  padding: 2px
0;
  height: 22px;
}
#caltitle {
  font-size: 14px;
  color: $restoran-cyan;
  float: left;
  text-align: center;
  width: 155px;
  line-height: 20px;
  font-weight: bold;
}
#calnext,
#calprev {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url(/tpl/images/prev.gif) no-repeat scroll center center;
  float: left;
  cursor: pointer;
}
#calnext {
  background-image: url(/tpl/images/next.gif);
  float: right;
}
#calprev.caldisabled,
#calnext.caldisabled {
  visibility: hidden;
}
#caltitle select {
  font-size: 10px;
}
#caldays {
  height: 14px;
  border-bottom: 1px solid #dddddd;
}
#caldays span {
  display: block;
  float: left;
  width: 28px;
  text-align: center;
}
#calweeks {
  background-color: $white;
  margin-top: 4px;
}
.calweek {
  clear: left;
  height: 22px;
}
.calweek a {
  display: block;
  float: left;
  width: 27px;
  height: 20px;
  text-decoration: none;
  font-size: 11px;
  margin-left: 1px;
  text-align: center;
  line-height: 20px;
  color: #666;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.calweek a:hover,
.calfocus {
  background-color: #dddddd;
}
a.calsun {
  color: #ff0000;
}
a.caloff {
  color: #cccccc;
}
a.caloff:hover {
  background-color: #f5f5fa;
}
a.caldisabled {
  background-color: #efefef !important;
  color: #ccc	!important;
  cursor: default;
}
#calcurrent {
  background-color: $restoran-cyan;
  color: $white;
}
#caltoday {
  background-color: #3B414E;
  color: $white;
}

.popup_modal {
  padding: 15px;
  color: $white;
  background-color: $color_outer_space_approx;
  position: fixed;
  z-index: 10000;
  opacity: 1;
  display: none;
  width: 330px;
  min-height: 100px;
  font-size: 14px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 10px $black;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 5px;
  input {
    color: $black;
  }
  .question {
    line-height: 32px;
  }
  .ln {
    line-height: 20px;
    margin-bottom: 7px;
  }
  .center {
    text-align: center;
    color: $restoran-cyan;
  }
  ul {
    margin: 10px 15px;
    li {
      list-style-type: disc;
      margin-left: 20px;
    }
  }
}
.modal_close {
  background: url(/tpl/images/close.png) left top no-repeat;
  width: 11px;
  height: 11px;
  display: block;
  margin-bottom: 10px;
}
.menu_edit td {
  padding: 10px;
}
ul.tabss {
  margin: 0 !important;
  padding: 0;
  height: 41px;
  width: 978px;
  border-bottom: 1px solid $black;
}
ul.tabss li a {
  padding: 8px 36px;
  font-size: 16px;
  font-family: $font-family-futurareg;
  -webkit-text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.175);
  -moz-text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.175);
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.175);
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  background: #f3f6f7;
  position: relative;
  display: block;
}
ul.tabss li a.current {
  color: $black;
  background-color: $white;
  border: 1px solid $black;
  border-top-width: 3px;
  border-bottom-color: transparent;
  border-bottom: 0px;
  cursor: default;
}
.add_recipe {
  background: url(/tpl/images/add_recipe.png) left top no-repeat;
  width: 238px;
  height: 60px;
  font-family: appetite;
  font-size: 22px;
  color: $white!important;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 42px;
  text-shadow: 1px 1px 1px solid #1e7499;
}
.add_recipe:hover {
  color: #1a1a1a!important;
  text-decoration: none;
}
.menu_links {
  margin-top: 0px;
}
.menu_links .left {
  float: left;
}
.menu_links .right {
  float: right;
}
/*instagram forsquare widjets*/
.sq-photos-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sq-photos-container ul li {
  float: left;
  width: 232px;
  height: 160px;
  overflow: hidden;
  margin-right: 15px;
  margin-bottom: 15px;
}
.sq-photos-container ul li a {
  display: block;
  text-align: center;
}
.sq-photos-container ul li img {
  width: auto;
}
/*.sq-photos-container ul li:nth-child(3n) {*/
.sq-photos-container ul li:nth-child(4n) {
  margin-right: 0;
}
.sq-photos-block-title {
  font-size: 18px;
  padding: 10px 0px;
}
.sq-photos-block-title span:last-child {
  color: #C0C0C0;
}
a.get-sq-photos-trigger.no-active {
  color: silver;
}
a.clear-ig-fs-result.no-active {
  color: silver;
  display: none;
}
a.get-sq-photos-trigger,
a.clear-ig-fs-result {
  float: right;
  background: rgba(0, 0, 0, 0);
  border: 1px solid;
  border-color: $restoran-cyan;
  /* border: 1px solid; */
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  height: 26px;
  font-family: $font-family-futurabold;
  line-height: 26px;
  padding-top: 0px;
  padding: 0px 15px;
  outline: none;
  text-transform: uppercase;
  font-size: 10px;
  color: $black;
  margin: 20px 0;
}
a.clear-ig-fs-result {
  margin-right: 15px;
}
a.clear-ig-fs-result:focus,
.get-sq-photos-trigger:focus,
.get-instagram-photos-trigger:focus {
  text-decoration: none;
}
a.get-sq-photos-trigger:hover,
a.clear-ig-fs-result:hover {
  background: $white;
  outline: none;
  color: $restoran-cyan;
  text-decoration: none;
}
.sq-photos-container {
  overflow: hidden;
  /*  border-bottom: 1px solid #C0C0C0;*/
  padding-bottom: 10px;
}
.instagram-photos-container, .reviews-photo-container {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      float: left;
      margin-right: 15px;
      margin-bottom: 15px;
      overflow: hidden;
      height: 160px;
      width: 232px;
      a {
        display: block;
        text-align: center;
      }
      img {
        width: auto;
      }
    }
  }

}

.instagram-photos-container ul li:nth-child(4n) {
  margin-right: 0;
}
a.get-instagram-photos-trigger.no-active {
  color: silver;
}
.instagram-photos-block-title {
  font-size: 18px;
  padding: 10px 0px;
}
.instagram-photos-block-title span:last-child {
  color: #C0C0C0;
}
a.get-instagram-photos-trigger {
  float: right;
  background: rgba(0, 0, 0, 0);
  border: 1px solid;
  border-color: $restoran-cyan;
  /* border: 1px solid; */
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  height: 26px;
  font-family: $font-family-futurabold;
  line-height: 26px;
  padding-top: 0px;
  padding: 0px 15px;
  outline: none;
  text-transform: uppercase;
  font-size: 10px;
  color: $black;
  margin: 20px 0;
}
a.get-instagram-photos-trigger:hover {
  background: $white;
  outline: none;
  color: $restoran-cyan;
  text-decoration: none;
}
.instagram-photos-container {
  overflow: hidden;
  /*  border-bottom: 1px solid #C0C0C0;*/
  /*padding-bottom: 10px;*/
}
.right-banner-for-reserve {
  /*width: 234px;*/
  background: $restoran-cyan;
  color: $white;
  text-align: center;
  padding: 30px 23px;
  margin-bottom: 20px;
}
.site-owner-banner-title {
  text-transform: uppercase;
  font-family: $font-family-futurabold;
  font-size: 10px;
  margin-bottom: 10px;
}
.reserve-free-str {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  font-family: $font-family-serif;
  margin-bottom: 14px;
}
.reserve-free-str i {
  font-family: $font-family-italic-font;
}
.this-banner-contact-phone {
  font-style: italic;
  font-family: $font-family-italic-font;
  font-size: 14px;
}
.this-banner-contact-phone span {
  font-family: $font-family-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
}
.right-banner-reserve-trigger-button {
  font-family: $font-family-futurabold;
  font-size: 10px;
  text-transform: uppercase;
  border: 3px solid $white;
  width: 108px;
  height: 37px;
  line-height: 30px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 10px;
  color: $black;
}
.right-banner-reserve-trigger-button span {
  color: $white;
}
.direct_speech .author {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 75px;
}
#fancybox-wrap,
#fancybox-wrap * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
.razver {
  cursor: pointer;
  float: left;
}
.razver .caret {
  color: $restoran-cyan;
}
.read_full_message {
  float: left;
  clear: both;
  width: 100%;
}
#sortable.upl-imgs li:nth-child(4n) {
  margin-right: 0;
}
.props .row .col-sm-4:nth-child(3n) {
  padding-right: 15px;
}
.props .row .col-sm-4:nth-child(3n+1) {
  padding-left: 15px;
}
.fancybox-inner .phone-in-detail-photo {
  color: $white;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 9;
  font-family: $font-family-futurabold;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px $black;
  text-align: left;
}
.fancybox-inner .phone-in-detail-photo > a {
  color: $white;
}
select.chzn-select {
  color: $black;
}

@import "restoran/subway";
@import "restoran/detail-tabs";

.search-category-title-wrapper {
  padding: 0 5px;
//  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  font-family: $font-family-futurabold;
  letter-spacing: 1px;
}
.ac_results li hr {
  margin-top: 10px;
  margin-bottom: 5px;
}

.ac_over {
  background-color: white;
  color: #000000;
}
.ac_results li {
  padding:0;
  cursor: default;
}
.ac_results li.ac_over a {
  //  color: #30C5F0;
  background-color: #30C5F0;
  color: white;
}
a.suggest_res_url {
  display: block;
  padding: 5px 5px;
  float: left;
  width: 100%;
  img {
    float: left;
    margin-right: 5px;
    /* margin-bottom: 5px; */
    overflow: hidden;
  }
  span {
    display: block;
    color: #7B7B7B;
    font-size: 11px;
    font-style: italic;
    line-height: 12px;
  }
  &.last {
    text-decoration: underline;
  }
}
.ac_results li:first-child hr {
  display: none;

}
.subway-canvas-wrapper {
  background: white;
}
.map-of-msk {
  width: 610px;
  margin: 0 auto;
}
.right.article_rest_text img {
  max-width: 480px;

}


.menu-foto {
  //  height: 240px;
  overflow: hidden;
}
.menu-pics-wrapper {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}
.in-menu-pics {
  float: left;
  width: 100%;
}
.menu-pics-wrapper:nth-child(4n) {
  margin-right: 0;
}


.detail-order-banner {
  &>a {
    display: block;
    height: 100%;
    padding-top: 19px;
  }
  &>a:hover{
    text-decoration: none;
  }
  width: 232px;
  background: url("img/detail-order-banner-bg.png") center center no-repeat;
  border: 3px solid #f3f6f7;
  font-family: $font-family-futurareg;
  text-align: center;
  position: relative;
  padding-bottom: 80px;
  min-height: 340px;
  &.ginza {
    background: url("img/ginza-banner-bg.png") center center no-repeat;
    .detail-order-banner-addition-text-str {
      color: transparent;
    }
    .detail-order-banner-in-place-str {
      & > div {
        display: block;
        span {
          color: #30c5f0;
        }
      }
    }
  }
  &.bear {
    background: url("img/bear-banner-bg.jpg") center bottom no-repeat;
  }
  &.panorama {
    background: url("img/panorama-banner-bg.jpg") center center no-repeat;
  }


  .detail-order-banner-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: $font-family-futurabold;
    line-height: 24px;
  }
  .detail-order-banner-in-place-str {
    font-size: 20px;
    margin-bottom: 10px;
    width: 188px;
    margin: 0 auto;
    line-height: 24px;
    height: 91px;
    display: table;
    &>div {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .detail-order-banner-addition-text-str {
    font-size: 14px;
    font-family: $font-family-futuralight;

    width: 170px;
    margin: 0 auto;
    line-height: 18px;
    margin-top: 10px;
  }
  .detail-order-banner-above-phone-str {
    font-size: 14px;
    margin-top: 10px;
  }
  .detail-order-banner-phone-str {
    font-family: $font-family-futurabold;
    font-size: 19px;
    margin-left: 16px;
    padding-left: 23px;
    background: url("img/detail-order-banner-phone-bg.png") left center no-repeat;
    text-align: left;
  }
  .detail-banner-order-button {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-family: $font-family-futurabold;
    background: #30c5f0;
    height: 51px;
    width: 193px;
    margin-left: 18px;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    &:hover {
      background: #30c5f0 url("img/detail-banner-order-button-bg.png") repeat-x;
      text-decoration: none;
    }
    & span {
      position: absolute;
      top: 100%;
      left: 100%;
      background: url("img/detail-order-banner-arrow.png") no-repeat;
      width: 30px;
      height: 32px;
      margin-top: -15px;
      margin-left: -15px;
    }
  }
  &.en-banner {
    .detail-order-banner-title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 5px;
    }
    .detail-order-banner-in-place-str {
      height: 49px;
      &>div {
        font-size: 24px;
      }
    }
    .detail-order-banner-above-phone-str {
      margin: 0 auto;
      margin-top: 10px;
      text-align: right;
      width: 190px;
    }
    .detail-banner-order-button {
      font-size: 18px;
      padding-top: 14px;
    }
    .detail-order-banner-addition-text-str {
      margin-top: 5px;
      line-height: 25px;
      font-size: 18px;
    }
  }
}
.remember-me {
  margin-bottom: 12px;
  overflow: hidden;
  .niceCheck {
    width: 19px;
    height: 19px;
    display: inline-block;
    cursor: pointer;
    background: url(/tpl/images/checkbox.png) left top no-repeat;
    float: left;
  }
  .remember-me-trigger {
    float: left;
    margin-left: 20px;
  }
  label {
    margin-left: 10px;
    text-transform: none;
    font-size: 13px;
    line-height: 22px;
    font-weight: 100;
    margin-bottom: 0;
    height: 19px;
  }
}
.copy-message {
  color: rgb(0, 186, 0);
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: 100;
  text-transform: uppercase;
}
.trigger-to-full-desc {
  cursor: pointer;
}
.hide-full-desc {
  display: none;
}
.display-none {
  display: none;
}


@import "restoran/media";