table{border-collapse:collapse; border-spacing:0; empty-cells:show;}
th, tr, td{text-align:left; vertical-align:top}
sub, sup{position:relative; font-size:11px;}
sub{top:5px;}
sup{top:-5px;}
a{outline:none; color:#24a6cf;}
a:hover {text-decoration:none}
input, button{vertical-align:middle; overflow:visible;}
select{vertical-align:middle;}
textarea{vertical-align:top;}
label{float:left; text-align:right; margin-right:15px; width:100px;}
hr, img, object{border:0;}
hr{color:#ccc; background:#ccc; height:1px; margin:7px 0;}
li{vertical-align:bottom; list-style:none;}


td ul{margin: 0px;padding: 0px;}

.first p a{color:#24a6cf !important;}

/* === Profile === */
.profile-info {overflow:hidden; position:relative; left:20px; margin-bottom:12px;}
	.profile-user {width:189px; float:left; text-align:center;}
	.profile-avatar {margin-bottom:24px;}
	.profile-description {margin-bottom:24px; color:#1a1a1a;}
		.profile-description a {text-decoration:none;}
	.profile-rating {border:1px dashed #000; width:128px; margin:0 auto; padding:8px 4px 12px 4px; font-size:12px; margin-bottom:24px; color:#1a1a1a;
  /* ƒл€ хороших браузеров */
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  -khtml-border-radius: 10px; /* KHTML */
  border-radius: 10px; /* CSS3 */
  /* ƒл€ плохих IE */
  behavior: url('border-radius.htc'); /* учим IE border-radius */
	}
.profile-rating strong {font-size:27px; margin-bottom:6px; line-height:27px;}
.profile-rating em {display:block; font-style:normal; margin-top:6px;}

.profile-data {margin-left:229px; width:495px; margin-left:-36px;}
.profile-data td {padding-left:36px; padding-bottom:18px; color:#1a1a1a; font-size:14px;}
.profile-data td em {font-size:12px;}
.profile-stat {color:#c0c0c0;}

.profile-activity {width:100%; font:12px Georgia; border-bottom:0px solid #1a1a1a; margin-bottom:12px; margin-top:-18px;}
.profile-activity tr {background:url(images/border-1px.gif) 0 100% repeat-x;}
.profile-activity td {padding:18px 0;}
.profile-activity th {background:#f2f2f2; font:italic 12px Georgia, "Times New Roman", Times, serif; padding:12px 0;}
.profile-activity th.first {padding-left:16px; width:180px}
.profile-activity a {text-decoration:none;}
.profile-activity img {float:left; margin-right:18px;}
td.profile-activity-col1 {width:108px; color:#c0c0c0; font:italic 12px Georgia, "Times New Roman", Times, serif; white-space:nowrap;}
td.profile-activity-col1 a {color:#c0c0c0; text-decoration:underline; margin-right:20px;}
td.profile-activity-col1 p {background:#fff; position:relative; top:-19px; padding-top:19px;}
td.profile-activity-col2 {padding-right:14px; width:374px;  padding-right:24px;}
td.profile-activity-col3 {padding-left:12px;}

.profile-activity.w100 th {padding:18px 14px; white-space:nowrap;}
.profile-activity.w100 td {padding:12px 14px;}

.more-activity {text-align:right;}
.more-activity a {text-transform:uppercase; text-decoration:none; color:#1a1a1a;}

.profile-activity-rating img {float:none;}






/* === Premium === */
.block-premium {width:100%; background:#3b414e; height:182px; padding-top:32px; text-align:center; color:#fff; font-size:14px; position:relative; z-index:0;}
.block-premium-bottom {width:100%; background:#3b414e; height:133px; padding-top:32px; text-align:center; color:#fff; font-size:14px;}
	.block-premium-bottom .colorize {font-size:16px;}
		.block-premium-bottom .colorize big {font-size:36px;}
		.block-premium-bottom .colorize span {font-size:36px; color:#24a6cf;}
	.block-premium .upcase {font-size:11px; color:#fff;}
	.block-premium-bottom .upcase {font-size:11px; color:#fff;}
	.block-premium h3.upcase {font:36px Georgia, "Times New Roman", Times, serif}
	.block-premium h3.upcase:first-letter {font-size:47px;}
	.upcase-premium {font:14px Georgia, "Times New Roman", Times, serif; text-transform:uppercase;}
	.upcase-premium:first-letter {font:20px Georgia, "Times New Roman", Times, serif; text-transform:uppercase;}
	.big-bg-premium {width:100%; position:absolute; left:0; text-align:center; top:0px; font:240px/240px Georgia; height:240px; color:#3e4452; z-index:0;}
	.wrap-premium {position:relative; z-index:1;}

.w-new {padding-right:0 !important;}
	.activity-actions {position:relative; width:185px}
		.activity-actions div {position:absolute; right:0; top:0; margin-right:-14px;}
		.activity-actions a {display:block; font:italic 12px Georgia, "Times New Roman", Times, serif; color:#1a1a1a; text-decoration:underline; padding-left:24px; margin-bottom:6px; width:80px;height:15px;}
		.activity-actions a:hover {text-decoration:none;}
			a.icon-continue {background:url(images/icon-continue.gif) no-repeat 0 0;margin-left: 30px;}
			a.icon-save {background:url(images/icon-save.gif) no-repeat 0 0;margin-left: 30px;}
			a.icon-delete {background:url(images/icon-delete.gif) no-repeat 0 0;margin-left: 30px;}
			a.icon-print {background:url(images/icon-print.png) no-repeat 0 0;}
			a.razmes {padding:8px 12px; background:#f2f2f2; font:11px Georgia, "Times New Roman", Times, serif;text-align:center; text-decoration:none; text-transform:uppercase; margin-top:14px; margin-bottom:12px}
.w-auto {width:auto !important; padding-left:0 !important; padding-right:0 !important;}
.w-auto div {width:auto;}
.lh24 {font:14px/24px Georgia, "Times New Roman", Times, serif}
.lh24 img {margin-top:7px}
.nowrap {white-space:nowrap; font-size:20px;}


#my_bron p{line-height: normal;margin-bottom: 0px;margin-top:0px;}
#my_bron p.name{margin-bottom:10px;}
#my_bron .rating{margin-bottom: 8px;}
#my_bron .status{margin-bottom: 8px;}
#my_bron .type{margin-bottom: 8px;}

#my_bron .pole{padding:0px;height:20px;line-height: 20px;font-size: 12px;border: 1px solid #CCC;-moz-box-shadow:none;-webkit-box-shadow:none;width:65px;outline: none;text-align: center;}
#my_bron .pl2{width:40px;}
#my_bron .pl3{width:15px;}

#my_bron .guests{float:left;}
#my_bron .activity-actions{float:right;}