.social-icons {background:#f5f5f5; height:54px; color:#1a1a1a; }
.social-icons ul {overflow:hidden; white-space:nowrap; padding-top:18px!important;}
.social-icons li {
    margin-right:30px; 
    background:url(/tpl/images/social-sprites.png) no-repeat;  
    height:16px; 
    padding-left:24px; 
    line-height:12px;
    float:left;
    vertical-align:top;
}
.social-icons li a {font:Italic 11px/16px; color:#000; text-decoration: underline}
li.social-icon-empty {background:none; padding-left:0;}
li.social-icon-1 {background-position: 0 -112px;}
li.social-icon-2 {background-position: -16px -96px;}
li.social-icon-3 {background-position: -32px -80px;}
li.social-icon-4 {background-position: -47px -64px;}
li.social-icon-5 {background-position: -64px -48px;}
li.social-icon-6 {background-position: -80px -32px;}
li.social-icon-7 {background-position: -96px -16px;}
li.social-icon-8 {background-position: -112px 0px; }


#content .profile-activity {width:100%; font:12px; border-bottom:1px dotted #1a1a1a; margin-bottom:12px; margin-top:-18px;}
#content .profile-activity tr {background:none!important}
#content .profile-activity td {padding:18px 0;}
#content .profile-activity th {background:#f2f2f2; font:italic 12px; padding:12px 0;}
#content .profile-activity th.first {padding-left:16px; width:180px}
#content .profile-activity a {text-decoration:none;}
#content .profile-activity img {float:left; margin-right:18px;}
#content td.profile-activity-col1 {width:108px; color:#c0c0c0; font:italic 12px; white-space:nowrap;}
#content td.profile-activity-col11 {width:121px; background:url(/tpl/images/border-1px.gif) 0 100% repeat-x; vertical-align: top}
#content td.profile-activity-col1 a {color:#c0c0c0; text-decoration:underline; margin-right:20px;}
#content td.profile-activity-col1 p {background:#fff; position:relative; top:-19px; padding-top:19px;}
#content td.profile-activity-col2 {padding-right:14px; width:230px;  padding-right:24px; background:url(/tpl/images/border-1px.gif) 0 100% repeat-x;}
#content td.profile-activity-col3 {padding-left:12px; background:url(/tpl/images/border-1px.gif) 0 100% repeat-x; vertical-align: top}
#content .profile-activity td.end {background: none!important}
#content .profile-activity.w100 th {padding:18px 14px; white-space:nowrap;}
#content .profile-activity.w100 td {padding:12px 14px;}

#content .more-activity {text-align:right;}
#content .more-activity a {text-transform:uppercase; text-decoration:none; color:#1a1a1a;}

#content .profile-activity-rating img {float:none;}
#personal {background:url(/tpl/images/edit_profile.png) left center no-repeat; padding-left: 40px; line-height:36px; position:absolute; left:0px; top:-50px;}
#personal_delete {background:url(/tpl/images/delete_profile.png) left center no-repeat; padding-left: 40px; line-height:36px; position:absolute; left:200px; top:-50px;}
#user_info td {position:relative}
#content .profile-stat {color:#c0c0c0; line-height: 16px; font-size:10px;}