@charset "utf-8";
/*
	styles for select
*/
.cuselMultipleContent,
.cuselMultipleTop,
.cuselMultipleBottom,
.cuselMultiple .jScrollPaneDrag,
.cuselMultiple .jScrollArrowUp,
.cuselMultiple .jScrollArrowDown {
	/*background-image: url(../images/selects-multiple.png);*/
}
#cuselFrame-multi3, #cuselFrame-multi1, #cuselFrame-multi11, #cuselFrame-multi21, #cuselFrame-multi6, #cuselFrame-multi7
{
    width: 345px;
}
#cuselFrame-multi2 {
    width: 345px;
}
#cuselFrame-multi12 {
    width: 296px;
}
#cuselFrame-multi4,#cuselFrame-multi4 .jScrollPaneContainer
{
    width: 830px!important;
}
#cuselFrame-multi5,#cuselFrame-multi5 .jScrollPaneContainer
{
    width: 560px!important;
}
#cuselMultiple-scroll-multi3 span, #cuselMultiple-scroll-multi1 span, #cuselMultiple-scroll-multi4 span , #cuselMultiple-scroll-multi2 span, #cuselMultiple-scroll-multi11 span, #cuselMultiple-scroll-multi21 span, #cuselMultiple-scroll-multi6 span,#cuselMultiple-scroll-multi7 span {
    float:left;
    margin-right:20px;
    width:126px;
    line-height: 24px;
}
#cuselMultiple-scroll-multi12 span
{
    float:left;
    margin-right:20px;
    width:126px;
    line-height: 24px;
}
#cuselMultiple-scroll-multi4 span {
    width: 240px;
}
#cuselMultiple-scroll-multi5 span {
    width: 136px;
    display: block;
    cursor: pointer;
    white-space: nowrap;
    zoom: 1;
    overflow: hidden;
    height:24px;
    color:#1a1a1a;
    float:left;
}
#cuselMultiple-scroll-multi5 span.cuselMultipleActive
{
    color:#24a6cf;
}
#cuselMultiple-scroll-multi3, #cuselMultiple-scroll-multi1, #cuselMultiple-scroll-multi3 .jScrollPaneContainer, #cuselMultiple-scroll-multi1 .jScrollPaneContainer, #cuselMultiple-scroll-multi11 .jScrollPaneContainer, #cuselMultiple-scroll-multi21 .jScrollPaneContainer, #cuselMultiple-scroll-multi6,#cuselMultiple-scroll-multi7,#cuselFrame-multi6 .jScrollPaneContainer,#cuselFrame-multi6 .jScrollPaneContainer 
{
    width:345px;
}
#cuselMultiple-scroll-multi2, #cuselMultiple-scroll-multi2 .jScrollPaneContainer {
    width: 345px;
}
#cuselMultiple-scroll-multi4, #cuselMultiple-scroll-multi4 .jScrollPaneContainer
{
    width:830px!important;
}
.cuselMultiple { /* общий вид селекта */	
	display: inline-block;
	font-size: 12px;
	position: relative;
        outline:none;
}
.cuselMultipleContent {
	background-position: -200px 0;
	background-repeat: repeat-y;
	overflow: hidden;
	padding: 2px 0px;
}
.cuselMultipleTop {
	height: 4px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	overflow: hidden;
}
.cuselMultipleBottom {
	height: 4px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-position: 0 -5px;
	z-index: 2;
	overflow: hidden;
}
.cuselMultiple span { /* оформление оптиона */
	display: block;
	cursor: pointer;
	white-space: nowrap;
	zoom: 1;
	overflow: hidden;
    height:24px;
    color:#FFF;
}
.cuselMultiple span:hover,
.cuselMultiple .cuselMultipleOptHover { /* реакция оптиона на наведение */	
	color: #24a6cf;
}
.cuselMultiple .cuselMultipleActive { /* оформление активного оптиона в списке */	
	color: #24a6cf;
}
.cuselMultiple .cuselMultipleCur { /* оформление текущей позиции в спиcке */
	/*border: 1px dotted #000;
	padding: 1px 14px 1px 4px;*/
}

/*
	styles for focus and hover
*/
.cuselMultiple:hover .cuselMultipleContent,
.cuselMultiple:focus .cuselMultipleContent,
.cuselMultiple:hover .cuselMultipleTop,
.cuselMultiple:focus .cuselMultipleTop,
.cuselMultiple:hover .cuselMultipleBottom,
.cuselMultiple:focus .cuselMultipleBottom {
	/*background-image: url(../images/selects-multiple-focus.png);*/
}


/*
	styles for scrollbar
*/
.cuselMultiple-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	overflow: hidden;
}
.cuselMultiple .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
}

.cuselMultiple .jScrollPaneTrack { /* трек для ползунка прокрутки */

	height: 100%;
	width: 2px !important;
	background: #1a1a1a;
	position: absolute;
	top: 0;
	right: 5px;
}
#cuselFrame-multi5 .jScrollPaneDrag
{
    	position: absolute;
	cursor: pointer;
	width: 10px !important;
	height: 45px !important;
	right: -4px;
        background: #1a1a1a;
}
.cuselMultiple .jScrollPaneDrag { /* ползунок */
	position: absolute;
	cursor: pointer;
	width: 10px !important;
	height: 65px !important;
	right: -4px;
        background: #24a6cf;
}

.cuselMultiple .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.cuselMultiple .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.cuselMultiple .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -12px;
	overflow: hidden;
}
.cuselMultiple .jScrollArrowDown { /* стрелка вниз */
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -12px;
	overflow: hidden;
}

/*
	styles for disabled select
*/
.cuselMultiple.classDisCusel,
.cuselMultiple.classDisCusel span {
	cursor: default;
	color: #ccc !important;
}
.cuselMultiple.classDisCusel .cuselMultipleContent,
.cuselMultiple.classDisCusel .cuselMultipleTop,
.cuselMultiple.classDisCusel .cuselMultipleBottom,
.cuselMultiple.classDisCusel .jScrollArrowUp,
.cuselMultiple.classDisCusel .jScrollArrowDown,
.cuselMultiple.classDisCusel .jScrollPaneDrag {
	/*background-image: url(../images/selects-multiple-dis.png) !important;*/
	cursor: default;
}
.cuselMultiple.classDisCusel span:hover {
	background: #fff;
}
.cuselMultiple.classDisCusel .cuselMultipleActive {
	background: #666 !important;
}

/*
	styles for ie7
*/
*:first-child+html .cuselMultiple,
*:first-child+html label {
	float: left;
	zoom: 1;
	height: auto;
}
*:first-child+html .lineForm {
	clear: both;
}
*:first-child+html .cuselMultipleContent {
	float: left;
	width: 100%;
}