@charset "utf-8";
/*
	styles for map
*/



.mb_r_title {
    margin: 5px 0 15px 10px;
}

.mb_r_title a {
    font-family: "Pt Sans",Helvetica,Arial,sans-serif;
    font-size: 19px;
    color: #000;
    font-weight: bold;
}

.mb_r_title a:hover {
    color:#3b414e;
}

.mb_r_body {
    margin: 0 5px 10px 10px;
}

.mb_r_body .mb_r_pic {
    float: left;
    width: 140px;
    margin: 0 15px 0 0;
    padding: 0;
}
.mb_r_body .mb_r_pic img {
    border: 0;
    margin: 0;
    padding: 0;
}

.mb_r_body .mb_r_ank {
    float: right;
    margin: -3px 0 0 0;
    padding: 0;
    width: 230px;
    max-width: 230px;
    overflow: hidden;
}

.mb_r_body .mb_r_ank div {
    font-family: "futurafuturiscbold";

    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    margin: 0 0 7px 0;
    width: 230px;
    max-width: 230px;
    height: 19px;
    max-height: 19px;
    overflow: hidden;
}

.mb_r_body .mb_r_ank div span {
    font-family: "Pt Sans",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
}
