.content-wrapper
{
    font-family: Georgia,Times New Roman,Times,sans-serif;
}
.content-wrapper a
{
    color: #24a6cf;
}
.content-content
{
    width: 728px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.print {
  background: url("/tpl/images/recept_icon_sprite.png") no-repeat scroll 0 -16px transparent;
  height: 17px;
  margin: 10px 0;
  padding-left: 30px;
}

.info-detail-wrapper-resume
{
    margin-bottom: 4em;
}
.info-detail-wrapper
{
    background-color: rgba(242,242,242,0.6);
    /*font-size: 0.75em;*/
    padding: 2.85em 3.3em;
}
.info-detail-small-resume
{
    width: 170px;
    margin-right: 30px;
    margin-top: 0;
    padding-top: 0;
}
.resume-detail-image
{
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 2.5em;
    *display: inline;
    zoom: 1;
}
.resume-detail-link
{
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 1.5em;
    *display: inline;
    zoom: 1;
}
.resume-detail-send-message
{
    text-align: center;
    width: 100%;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.resume-detail-send-message a
{
    color: #1a1a1a;
    background-image: url('images/pic_send_message.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
}
.info-detail-big
{
    width: 440px;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;

}
.info-detail-small
{
    display: inline-block;
    width: 170px;
    vertical-align: top;
    padding-top: 10px;
    *display: inline;
    zoom: 1;
    /*float: left;*/
}
.info-detail-big .info-detail-big-resume
{
    width: 440px;
}
.info-detail-big-resume dl
{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.info-detail-small-resume
{
    width: 170px;
    margin-right: 30px;
    margin-top: 0;
    padding-top: 0;
    /*float: left;*/
}
.italic
{
    font-style: oblique;
}
.em0_83
{
    font-size: 0.83em;
}
dl.resume-dl {
    font-size: 1.143em;
}
dl.resume-dl dt {
    width: 148px;
    display: inline-block;
    margin-bottom: 1.5em;
    vertical-align: top;
    zoom: 1;
}
dl.resume-dl dt.last
{

    margin-bottom: 0;

}
dl.resume-dl dd {
    width: 285px;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-bottom: 1.5em;
    vertical-align: top;
    zoom: 1;
}
dl.resume-dl dd.last
{
    margin-bottom: 0;

}
.resume-params
{
    /*font-size: 0.75em;*/
    margin-bottom: 2em;
}
.resume-params-experience hr.content-row-separator
{
    margin: 0;
}
hr.content-separator
{
    background-color: #000000;
    border: medium none;
    height: 0.2em;
    margin: 0;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
br.br-content-blocks
{
    display: block;
    margin-top: 3em;
}

.panel-actions
{
    background-color: rgba(242,242,242,0.6);
    /*font-size: 0.75em;*/
    padding: 1.8em;
}

.panel-actions .block-info-comments
{
    width: 110px;
    display: inline-block;
}

.panel-action-response
{
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.panel-action-response a
{
    color: #FFFFFF;
    padding: 0.7em;
    margin-left: 0.7em;
    margin-right: 0.7em;

    background-color: #3b414e;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.panel-action-tofavourite
{
    vertical-align: middle;
    display: inline-block;
    *display: inline;

    zoom: 1;
}
.panel-action-tofavourite a
{
    color: #1a1a1a;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 0.8em;
    padding-right: 0.8em;

}
.panel-action-likes
{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

/* HEADERS */
.content-h {
    color: #000;
}
h1.content-h
{
    font-size: 26pt;
    font-weight: normal;
    padding: 0;
    margin:0;
    padding-bottom: 1.22em;
    margin-left: -0.05em;
}
h2.content-h
{
    font-size: 20.3pt;
    font-weight: normal;
    padding: 0;
    margin:0;
    padding-bottom: 1.22em;
    margin-left: -0.05em;
}
h3.content-h
{
    font-size: 18.3pt;
    font-weight: normal;
    padding: 0;
    margin:0;
    padding-bottom: 0.6em;
    margin-left: -0.05em;
}

/* tags */
p
{
    margin-bottom: 1em;
    margin-top: 0.7em;
}

table.table-info
{
    width: 100%;
}

table.table-info tr th
{
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-align: left;
}
table.table-info tr td
{
    /*padding-top: 1.5em;*/
    padding-bottom: 1.5em;
    text-align: left;
}
table.table-info tr.dotted
{
    border-bottom: 1px dotted #000000;
}
.roubledash
{

    position: relative;
    top: 0.07em;
    /*font-size: 0.9em;*/
    margin-left:  -0.66em;
}
/* DATE-FIELD */
.date-field{
    font-size: 13px;
}
.date-field .date-day
{
    font-size: 1.5em;
    font-style: italic;
}
/* SIDEBAR */
.content-sidebar
{
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    width: 231px;
    *display: inline;
    zoom: 1;
}
/* SIDEBAR PANEL */
.sdbr-panel-out
{
    background-image: url('images/sdbr_panel_right.png');
    background-position: right center;
    display: inline-block;
    height: 51px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.5em;
}
.sdbr-panel-in
{
    background-image: url("images/sdbr_panel_left.png");
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    width: 100%;
    height: 51px;
    overflow: hidden;
}
.sdbr-panel-in span
{
    display: inline-block;
    padding-top: 0.7em;
    /*font-size: 1.15em;*/
    text-align: center;
    width: 100%;
}
/* HEADERS */
.content-h {
    color: #000;
}
h1.content-h
{
    font-size: 24pt;
    font-weight: normal;
    padding: 0;
    margin:0;
    padding-bottom: 1.22em;
    margin-left: -0.05em;
}
h2.content-h
{
    font-size: 20.3pt;
    font-weight: normal;
    padding: 0;
    margin:0;
    padding-bottom: 1.22em;
    margin-left: -0.05em;
}
h3.content-h
{
    font-size: 18.3pt;
    font-weight: normal;
    padding: 0;
    margin:0;
    padding-bottom: 0.6em;
    margin-left: -0.05em;
}
.roubledash
{
    position: relative;
    top: 0.07em;
    /*font-size: 0.9em;*/
    margin-left:  -0.66em;
}
.nopadding-bottom
{
    padding-bottom: 0 !important;
}
.italic
{
    font-style: oblique;
}
br.block-param-break
{
    display: block;
    margin-top: 1.3em;
}
/* DATE-FIELD */
.date-field{
    font-size: 13px;
}
.date-field .date-day
{
    font-size: 1.5em;
    font-style: italic;
}
