.img-container .image-block {float:left; margin-right:10px; display: block; height:80px; position: relative; margin-bottom:10px;word-break: break-all; max-width:100px; line-height:12px; font-size:10px;}
#img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#img-list li {
    margin: 10px;
    /*float: left;*/
    width: 152px;
    /*height: 90px;*/
    text-align: center;
    /*border: 1px solid #888888;*/
    display: inline-block;
}
.remove-link {width: 16px; height: 16px; background: url(images/close.png) center center no-repeat; right: 0px; position: absolute;}
#img-list div.progress {
    width: 150px;
    border: 1px solid #888888;
    height: 18px;
    text-align: center;
    background-image: url('../img/pbar_bgr.png');
    background-repeat: no-repeat;
    background-position: -150px center;
}
.container a.terms
{
    color:#94a0a5;
    text-decoration: underline;
}
.container a.terms:hover
{    
    text-decoration: none;
}
#attach_photo, #attach_video {    
    display: inline-block;    
    height: 22px;    
}
.qq-uploader {
    display: inline-block;
    height: 22px;
    overflow: hidden;
}