#spec_block_list
{
    margin-bottom: 35px;
    color: white;
}

#spec_block_list .dotted_s
{
    position:absolute;
    background:url(images/dotted_spec.png) left top no-repeat;
    width:218px;
    height:217px;
    left:6px;
    top:6px;
    z-index:100;
}

#spec_block_list .grad0
{
    background: url(images/spec_grad1.png) left 155px no-repeat;
}
#spec_block_list .grad1
{
    background: url(images/spec_grad2.png) left 155px no-repeat;
}
#spec_block_list .grad2
{
    background: url(images/spec_grad3.png) left 155px no-repeat;
}

#spec_block_list .title table
{
    width:230px;
    height:47px;
    text-align:center;
}
#spec_block_list .title table td
{
    width:230px;
    height:47px;
    font-family: Arial;
    font-weight:bold;
    font-size:10px;
    text-align:center;
    vertical-align: middle;
    text-transform: uppercase;
}
#spec_block_list a .title table td 
{
    color:#FFF;    
    text-decoration: none;
}
#spec_block_list a:hover .title table td 
{
    color:#FFF;    
    text-decoration: underline;
}


#spec_block_list .spec {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  height: 200px;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 230px;
}
#spec_block_list .title_box {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid white;
  display: inline-block;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  height: 42px;
  margin: 78px auto 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  width: auto;
}
#spec_block_list .title {
  background: none repeat scroll 0 0 white;
  color: black;
  float: left;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  margin: 3px;
  padding: 9px 20px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  vertical-align: middle;
  width: auto;
  z-index: 1000;
}
#spec_block_list .big {
    line-height: 14px;
    padding-top: 6px;
    padding-bottom: 2px;
}