div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
#rating_overlay {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
    z-index: 10000;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}
#rating_overlay .close
{
    background-image: url(/bitrix/templates/main/images/close.png);
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
    height: 35px;
    width: 35px;
}



#minus_plus_buts{margin-left: 0px;float:left;}
#minus_plus_buts .plus_but{display: block;float:left;position: relative;padding-left:42px;line-height: 31px;font-family: Georgia;position: relative;height:31px;margin-right: 17px;font-size: 12px; }
#minus_plus_buts .plus_but a, #minus_plus_buts .plus_but span{background: url(/tpl/images/plus_minus_icons.png) 0px 0px no-repeat;height:31px;width:36px;position: absolute;left:0px;top:0px;}

#minus_plus_buts .minus_but{display: block;float:left;position: relative;padding-left:42px;line-height: 31px;font-family: Georgia; position: relative;height:31px;}
#minus_plus_buts .minus_but a, #minus_plus_buts .minus_but span{background: url(/tpl/images/plus_minus_icons.png) -36px 0px no-repeat;height:31px;width:36px;position: absolute;left:0px;top:0px;}

.staya_likes{position: relative;}
.catalog_detail .detail .right .properties .site a 
{
    color:#24A6CF;
    text-decoration:underline;
    cursor: pointer;
}
.catalog_detail .detail .right .properties .site a:hover
{
    text-decoration:none;
}