#alph_filtr
{
    background:whiteSmoke;
    color:#FFF;
}
.alphabet
{
    margin:10px 0px 5px 0px;
    margin:0px;
    padding:0px;
    height:24px;
    margin-left:5px;
    margin-right:5px;
    position: relative;
    text-align: justify;
    line-height: 0;
    text-justify: newspaper;
    zoom: 1;
    text-align-last: justify;   
}
.alphabet:after {
        width: 100%; 
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
}
.alphabet li
{
    list-style-type:none;
    /*float:left;*/
    line-height:22px;
    height:22px;
    padding-top: 3px;    
    position: relative;
    display: inline-block;
    *display : inline;
    text-align: left;
    vertical-align: top;
    zoom: 1;
    font-size:12px;
}
.alphabet li a
{
    display:block;
    text-align: center;
    padding:0px 2px;
    line-height:18px;
    color:#1a1a1a;
    font-size:12px;
}
.alphabet li a:hover
{
    background:#24a6cf;
    color:#FFF;
}
.alphabet li a.selected
{
    background:#000;
    color:#FFF;
}