.photos123
{
    cursor:pointer;
}
.video .myPlayer
{
    width:728px;
    height:540px;
    display: block;
    text-align: center;
    margin: 0 0 15px 0;
    border: 1px solid #999;
}
.recept_prop_block1 a
{
    color:#30c5f0!important;
    text-decoration: none!important;
}
.recept_prop_block1 a:hover, .recept_prop_block2 a:hover
{
    color:#30c5f0;
    text-decoration: underline!important;
}
.recept_prop_block2 a
{
    color:#30c5f0!important;
    text-decoration: none!important;
}
.recept_prop_block1 {background:#3B414E;width:290px; height:140px; padding:30px; color:#FFF; line-height: 18px}
.recept_prop_block1 span {color:#30c5f0}
.recept_prop_block2 {background:#F2F2F2;width:438px; height:140px; padding:30px; line-height:18px;}
.recept_prop_block2 span {color:#30c5f0!important}
.recept_prop_block1 .print {padding-left:30px; background:url(/tpl/images/recept_icon_sprite.png) 0px -16px no-repeat; height:17px; margin:10px 0px;}
.recept_prop_block1 .print a {color:#FFF}
.recept_prop_block1 .recept_book {padding-left:30px; background:url(/tpl/images/recept_icon_sprite.png) 0px 0px no-repeat; height:17px;margin:10px 0px;}
.recept_prop_block1 .recept_book a {color:#FFF}
.recept_text {line-height:24px;}
.portion{position:absolute; border-radius:64px; width:128px; height:128px; background:#ffe826; right:15px; top:15px; font-family: 'futurafuturiscbold'; font-size:18px; text-align: center; padding-top: 20px;}
.portion div {font-size:48px; line-height:48px; padding-top:8px;}
.bon_appetite {font-size:24px; font-family: 'futurafuturiscbold'; text-align:center;}
.photos123 .block {
    font-family: 'futurafuturiscbold';    
    font-size:10px;
    text-transform: uppercase;
    letter-spacing: .5px;
}