input.button { height:28px; text-align: center; background:#3b414e; padding:0px 20px; line-height:28px; letter-spacing: 2px; color:#FFF; border: 0px; text-transform: uppercase; cursor:pointer;}
input.button:hover { background:#24a6cf; color:#FFF;}
input.button:active { background:#3b414e; color:#24a6cf; }

input.light_button { height:28px; text-align: center; background:#24a6cf; padding:0px 20px; line-height:28px; letter-spacing: 2px; color:#FFF; border: 0px; text-transform: uppercase; cursor:pointer; font-size: 1em; position: relative}
input.light_button:hover { background:#000; color:#FFF;}
input.light_button:active { background:#24a6cf; color:#FFF; }

input.dark_button { height:28px; text-align: center; background:#000; padding:0px 20px; line-height:28px; letter-spacing: 2px; color:#FFF; border: 0px; text-transform: uppercase; cursor:pointer; font-size: 1em}
input.dark_button:hover { background:#3b414e; color:#FFF;}
input.dark_button:active { background:#24a6cf; color:#FFF; }


input.light { height:24px; text-align: center; background:#24a6cf; padding:0px 10px; line-height:24px; color:#FFF; border: 0px; cursor:pointer; font-size: 12px; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; behavior: url(PIE.htc); }
input.light:hover { background:#000; color:#FFF;}
input.light:active { background:#24a6cf; color:#FFF; }

input.greyb { height:24px; text-align: center; background:#f2f2f2; padding:0px 10px; line-height:24px; color:#1a1a1a; border: 0px; cursor:pointer; font-size: 12px; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; behavior: url(PIE.htc); }
input.greyb:hover { background:#000; color:#FFF;}
input.greyb:active { background:#24a6cf; color:#FFF; }

p {line-height:20px; margin-top:0px ;padding-top:0px;}
small { color:#848484; font-style:italic;}
img { border:0px; }
img.border { border:1px solid #bdbdbd;}
div.imgborder { border:1px solid #bdbdbd; overflow:hidden; margin-bottom:10px;}

.clear { clear: both;}

.left {float:left}
.right {float:right}


#system_overflow
{
    background:#000;
    opacity:.5;
    display:none;
    height:100%;
    width:100%;
    position:absolute;
    left:0px;
    top:0px;
    z-index:9999;
}
.popup_modal
{
    background-color: #2D323B;
    position: fixed;
    z-index: 10000;
    opacity: 0.97;
    display:none;
    width:300px;
    min-height:100px;
    font-size:14px;
    box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
}
.popup_modal .question
{
    line-height:32px;
}
.popup_modal .center
{
    text-align:center;
    color:#24A6CF;
}
.popup_modal ul
{
    margin:10px 15px;
}
.popup_modal ul li
{
    list-style-type: disc;
    margin-left:20px;
}
.modal_close {
    background: url(/tpl/images/close.png) left top no-repeat;
    width:11px;
    height:11px;
    display:block;
    margin-bottom:10px;
}



/*from sta*/
.wrap-div table{border-collapse:collapse; border-spacing:0; empty-cells:show;}
.wrap-div th, .wrap-div  tr, .wrap-div  td{text-align:left; vertical-align:top}
.wrap-div sub,.wrap-div  sup{position:relative; font-size:11px;}
.wrap-div sub{top:5px;}
.wrap-div sup{top:-5px;}
.wrap-div a{outline:none; color:#24a6cf;}
.wrap-div a:hover {text-decoration:none}
.wrap-div input,.wrap-div  button{vertical-align:middle; overflow:visible;}
.wrap-div select{vertical-align:middle;}
.wrap-div textarea{vertical-align:top;}
.wrap-div label{float:left; text-align:right; margin-right:15px; width:100px;}
.wrap-div hr,.wrap-div  img,.wrap-div  object{border:0;}
.wrap-div hr{color:#ccc; background:#ccc; height:1px; margin:7px 0;}
.wrap-div li{vertical-align:bottom; list-style:none;}

    /* === STRUCTURE ===*/
.layout {width:975px; margin:0 auto;}
.layout .col1 {width:728px;}
.layout .col2 {width:227px;}
.layout .empt {width:20px;}

    /* === Premium === */
.block-premium {width:100%; background:/*url(/content/personal/restaurateur/images/premium.png) center 0 no-repeat*/ #3b414e; height:182px; padding-top:32px; text-align:center; color:#fff; font-size:14px; position: relative}
.block-premium-bottom {width:100%; background:#3b414e; height:133px; padding-top:32px; text-align:center; color:#fff; font-size:14px;}
.block-premium-bottom .colorize {font-size:16px;}
.block-premium-bottom .colorize big {font-size:36px;}
.block-premium-bottom .colorize span {font-size:36px; color:#24a6cf;}
.block-premium .upcase {font-size:11px; color:#fff;}
.block-premium-bottom .upcase {font-size:11px; color:#fff;}
.block-premium h3.upcase {font:36px Georgia, "Times New Roman", Times, serif}
.block-premium h3.upcase:first-letter {font-size:47px;}
.upcase-premium {font:14px Georgia, "Times New Roman", Times, serif; text-transform:uppercase;}
.upcase-premium:first-letter {font:20px Georgia, "Times New Roman", Times, serif; text-transform:uppercase;}

.w-new {padding-right:0 !important;}
.w-auto {width:auto !important; padding-left:0 !important; padding-right:0 !important;}
.w-auto div {width:auto;}
.lh24 {font:14px/24px Georgia, "Times New Roman", Times, serif}
.lh24 img {margin-top:7px}
.nowrap {white-space:nowrap; font-size:20px;}

.plan-1, .plan-2, .plan-3, .plan-4 {float:left; width:210px; padding-right:27px;}
.plans {overflow:hidden;}
.plans .upcase-premium {font:28px Georgia, "Times New Roman", Times, serif; text-transform:uppercase; letter-spacing: 1px; position: relative; background:url(/tpl/images/mini_logo.png) center top no-repeat; padding-top:10px;}
.plans .upcase-premium:first-letter {font:48px Georgia, "Times New Roman", Times, serif; text-transform:uppercase;}
.plan-desc {font:30px Georgia, "Times New Roman", Times, serif}
.plans p.plan-desc {font:30px Georgia, "Times New Roman", Times, serif}
.plans p { font-size:16px;}
.plans li {font-style:italic; margin-bottom:0px;}
p.plan-desc i {font:italic 12px Georgia, "Times New Roman", Times, serif}
p.plan-desc {overflow:hidden}
.plans p.plan-desc i {font:italic 12px Georgia, "Times New Roman", Times, serif}
.plans p.plan-desc {overflow:hidden}
.plan-desc form .submit-blue {float:none; background:url(/content/personal/restaurateur/images/blue-plus.png) 12px 50% no-repeat #24a6cf; padding-left:28px}
.plan-desc-ul {font-size:12px;}
.plan-desc-ul strong {font:20px Georgia, "Times New Roman", Times, serif}
.plan-desc-ul em {}
.plan {margin-bottom:60px;}
.plans ul {margin:0px; padding:0px; text-align: center; margin-bottom: 20px;}


    /* === Else === */
.social-icons {background:#f5f5f5; height:54px; font:14px/54px Georgia, "Times New Roman", Times, serif; color:#1a1a1a;}
.wrap-div {width:975px; margin:0 auto; position:relative;}
.upcase {color:#1a1a1a; font-size:9px; text-transform:uppercase;}
big {font-size:18px; line-height:12px;; vertical-align:baseline; }
.profile-activity td ul li {margin-bottom:6px;}
.bg-gray {background:#f2f2f2; padding-top:90px;}
.w-small {width:116px !important;}
td.status {width:80px;}
th.status {text-indent:30px}
.status .w-small {width:auto !important;}
.wrap-div .profile-activity p {line-height:12px;}
.stars_div {margin-bottom: 33px;}
.wrap-div ul {margin: 0; padding: 0;}

#footer { width:100%; margin:-290px auto 0;  background: #3b414e; height:220px; padding-top:70px; position:relative; z-index:1000}
#footer  .footer_content {position:relative; background:url(/tpl/images/dot2.png) left top repeat-x; color:#FFF;}
#footer  .footer_content p{margin-top:0px; padding:0px;}
#footer  .footer_content .left {margin-right:50px;}
#footer  .footer_content ul {margin:0px auto; padding:30px 0px; margin-left:120px; height:38px;}
#footer  .footer_content ul li {float:left; margin-left:50px; width:120px; list-style-type: none; padding:0px; line-height:22px; height:22px}
#footer  .footer_content ul li a { color:#FFF; text-decoration: underline}
#footer  .footer_content ul li a:hover { color:#FFF; text-decoration: none;}
#footer .to_top {position:absolute; z-index:1000; margin:0 auto; background: url(/tpl/images/to_top.png) left top no-repeat; width:96px; height:96px; margin-left: 440px; *margin-left: 340px; margin-top: -118px; letter-spacing: 1px; color: #FFF; line-height:125px; text-align: center; font-size:1.2em; cursor:pointer}

.title_main ul li a
{
    font-size:12px;
    color:#FFF;
}
.title_main ul
{
   list-style-type:none;
   margin:0px;
   padding:0px;
}
.title_main ul li
{
   list-style-type:none;
}
#wrapp 
{
    padding-bottom:320px;
}
.ac_results a:hover
{
    color:#FFF;
}
/*MODAL VK FACEBOOK*/
.modal_vk {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
    z-index: 10000;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}


.modal_vk h2 {
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
}

.error {
	/* supply height to ensure consistent positioning for every browser */
	height:15px;
	background-color:#FFFE36;
	border:1px solid #E1E16D;
	font-size:11px;
	color:#000;
	padding:3px 10px;
	margin-left:-2px;
    z-index: 10000;
    white-space: nowrap;


	/* CSS3 spicing for mozilla and webkit */
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;

	-moz-box-shadow:0 0 6px #ddd;
	-webkit-box-shadow:0 0 6px #ddd;
}

.error p {
    margin: 0;
    padding: 0;
}
div.fb_login_button {
    background: url(/tpl/images/facebook_login.png) no-repeat;
    width: 114px;
    height: 22px;
    cursor: pointer;
}

.modal_fb {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
    z-index: 10000;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}


.modal_fb h2 {
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
}

.big_modal .slider_left
{
    position:absolute;
    height:100%;
    left:0px;
    top:0px;
    width:50px;
    background: url(/tpl/images/slider-arrow-left.gif) center center no-repeat #FFF;
     opacity:0.6;
    z-index:1000;
    display: none;
    cursor:pointer;
}
.big_modal .slider_right
{
    position:absolute;
    height:100%;
    right:0px;
    top:0px;
    width:50px;
    background: url(/tpl/images/slider-arrow-right.gif) center center no-repeat #FFF;
     opacity:0.6;
    z-index:1000;
    display: none;
    cursor:pointer;
}
.phone_block
{
    cursor:pointer;
}
.phone_block2
{
    cursor:pointer;
}
.img2 {
    cursor:pointer;
}
#edit_link
{
    background: url(/tpl/images/edit.png) left center no-repeat;
    padding-left: 20px;
    line-height: 26px;
}
.articles_photo .images
{
    width: 718px;
    overflow: hidden;
    border:1px solid #CCC;
    text-align: center;
}
.restoran_text
{
    margin-top:20px;
}
#system_loading{position:fixed;display:none;right:10px;top:10px;z-index:99999;background:#0d0d0d;border:1px solid #333;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; opacity:0.8; padding:10px; behavior: url(PIE.htc); line-height:32px; font-family: appetite; font-size: 1.4em; color:#FFF; text-indent:15px;}