.menu_list .ui-btn-up-b, .menu_list .ui-btn-hover-b
{
    -webkit-background-image: none;
    -moz-background-image: none;
    -o-background-image: none;
    background-image: none;
    background: none;
}
.menu_list .ui-btn-inner{   
    border-top: none;
    border-color:#424958;    
}
.menu_list li{       
    border: none;
    border-color:#424958;        
}

.menu_list {       
    box-shadow: none;
}
.menu_list li img{       
    border-radius: 10px!important;
    max-width:95px;
    
    margin-top:10px;
}
.menu_list .title-container
{
    margin-left:95px;
    font-weight:300;
    font-size:0.85em;
}
#content
{
    margin:0px!important;
    padding:0px!important;
}
.menu_list .ui-btn-text a
{
    padding:10px!important;
    margin:10px!important;
    position:relative;
}