.clear {line-height: 0; width: 100%; clear: both; font-size: 1px; height: 0; overflow: hidden;}
.hidden {display: none;}
.img-container {padding:10px;}
.img-container .image-block {float:left; margin-right:10px; display: block; height:80px; position: relative; margin-bottom:10px;word-break: break-all; max-width:100px; line-height:12px; font-size:10px;}
#img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#img-list li {
    margin: 10px;
    /*float: left;*/
    width: 152px;
    /*height: 90px;*/
    text-align: center;
    /*border: 1px solid #888888;*/
    display: inline-block;
}
.remove-link {width: 16px; height: 16px; background: url(images/close.png) center center no-repeat; right: 0px; position: absolute;}
#img-list div.progress {
    width: 150px;
    border: 1px solid #888888;
    height: 18px;
    text-align: center;
    background-image: url('../img/pbar_bgr.png');
    background-repeat: no-repeat;
    background-position: -150px center;
}

.QapTcha .bgSlider {
    width: 100% !important;
}
.line.text {
    height:167px;
}